Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

fix: configuration
  renovate.json
Due: none

chore: Configure Renovate (#1003)
  renovate.json
Due: none

fix(deps): update module github.com/go-chi/chi/v5 to v5.2.2 [security]
  go.mod
  go.sum
  tools/generator/go.mod
  tools/generator/go.sum
Due: none

fix(deps): update all patched dependencies
  deployments/pulumi/go.mod
  deployments/pulumi/go.sum
  go.mod
  go.sum
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: none

fix(deps): update module github.com/go-chi/chi/v5 to v5.2.2 [security]
  go.mod
  go.sum
Due: none

fix(deps): update all patched dependencies (#1005)
  deployments/pulumi/go.mod
  deployments/pulumi/go.sum
  go.mod
  go.sum
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: none

fix(deps): update all patched dependencies
  deployments/pulumi/go.mod
  deployments/pulumi/go.sum
  go.mod
  go.sum
  tools/generator/go.mod
  tools/generator/go.sum
Due: none

chore: Update renovate.json
  renovate.json
Due: none

chore: Update renovate.json (#1009)
  renovate.json
Due: none

feat: expose transactions insertion date and update date
  docs/api/README.md
  docs/events/CommittedTransactions.json
  docs/events/RevertedTransaction.json
  internal/README.md
  internal/api/v2/controllers_bulk_test.go
  internal/api/v2/views_test.go
  internal/storage/ledger/resource_transactions.go
  internal/storage/ledger/transactions.go
  internal/storage/ledger/transactions_test.go
  internal/transaction.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/docs/models/components/v2transaction.md
  pkg/client/models/components/v2transaction.go
  pkg/client/speakeasyusagegen/.speakeasy/logs/naming.log
  pkg/testserver/utils.go
  test/e2e/api_bulk_test.go
  test/e2e/api_transactions_create_test.go
  test/e2e/api_transactions_list_test.go
  test/e2e/api_transactions_revert_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: expose accounts insertion date and update date (#988)
  docs/api/README.md
  docs/events/CommittedTransactions.json
  docs/events/RevertedTransaction.json
  internal/README.md
  internal/account.go
  internal/api/v2/controllers_bulk_test.go
  internal/api/v2/views_test.go
  internal/storage/ledger/accounts.go
  internal/storage/ledger/resource_accounts.go
  internal/storage/ledger/resource_transactions.go
  internal/storage/ledger/transactions.go
  internal/storage/ledger/transactions_test.go
  internal/transaction.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/docs/models/components/v2account.md
  pkg/client/docs/models/components/v2transaction.md
  pkg/client/models/components/v2account.go
  pkg/client/models/components/v2transaction.go
  pkg/client/speakeasyusagegen/.speakeasy/logs/naming.log
  pkg/testserver/utils.go
  test/e2e/api_accounts_list_test.go
  test/e2e/api_bulk_test.go
  test/e2e/api_transactions_create_test.go
  test/e2e/api_transactions_list_test.go
  test/e2e/api_transactions_revert_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(deps): update dependency npm to v10.9.3
  test/performance/pkg/write/charts/package-lock.json
  test/performance/pkg/write/charts/package.json
Due: none

fix(deps): update dependency npm to v10.9.3 (#1010)
  test/performance/pkg/write/charts/package-lock.json
  test/performance/pkg/write/charts/package.json
Due: none

chore: remove dependabot
  .github/dependabot.yml
Due: none

feat: allow to specify additional metadata when reverting transactions
  docs/api/README.md
  internal/api/v2/controllers_transactions_revert.go
  internal/controller/ledger/controller.go
  internal/controller/ledger/controller_default.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/docs/models/components/v2reverttransactionrequest.md
  pkg/client/docs/models/operations/v2reverttransactionrequest.md
  pkg/client/models/components/v2reverttransactionrequest.go
  pkg/client/models/operations/v2reverttransaction.go
  pkg/client/speakeasyusagegen/.speakeasy/logs/naming.log
  pkg/client/v2.go
  test/e2e/api_transactions_revert_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: rename struct
  internal/api/v2/controllers_transactions_revert.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: allow to specify additional metadata when reverting transactions (#990)
  docs/api/README.md
  internal/api/v2/controllers_transactions_revert.go
  internal/controller/ledger/controller.go
  internal/controller/ledger/controller_default.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/docs/models/components/v2reverttransactionrequest.md
  pkg/client/docs/models/operations/v2reverttransactionrequest.md
  pkg/client/models/components/v2reverttransactionrequest.go
  pkg/client/models/operations/v2reverttransaction.go
  pkg/client/speakeasyusagegen/.speakeasy/logs/naming.log
  pkg/client/v2.go
  test/e2e/api_transactions_revert_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(deps): update module github.com/spf13/pflag to v1.0.7
  go.mod
  go.sum
  tools/generator/go.mod
  tools/generator/go.sum
Due: none

fix(deps): update module github.com/spf13/pflag to v1.0.7 (#1012)
  go.mod
  go.sum
  tools/generator/go.mod
  tools/generator/go.sum
Due: none

chore: remove dependabot (#1011)
  .github/dependabot.yml
Due: none

feat: add grpc connector
  Justfile
  cmd/serve.go
  cmd/worker.go
  flake.nix
  go.mod
  internal/README.md
  internal/api/common/mocks_system_controller_test.go
  internal/api/v1/mocks_system_controller_test.go
  internal/api/v2/mocks_system_controller_test.go
  internal/controller/system/connectors_generated.go
  internal/controller/system/controller.go
  internal/controller/system/module.go
  internal/controller/system/store.go
  internal/pipeline.go
  internal/replication/connectors.go
  internal/replication/connectors_generated.go
  internal/replication/controller_backend_grpc.go
  internal/replication/driver_facade.go
  internal/replication/grpc/replication_service.pb.go
  internal/replication/grpc/replication_service.proto
  internal/replication/grpc/replication_service_grpc.pb.go
  internal/replication/manager.go
  internal/replication/manager_test.go
  internal/replication/mapping.go
  internal/replication/module.go
  internal/replication/pipeline.go
  internal/replication/pipeline_test.go
  internal/replication/replication_service_impl.go
  internal/replication/runner.go
  internal/replication/store.go
  internal/replication/store_generated_test.go
  internal/replication/utils_test.go
  internal/storage/system/store.go
  internal/storage/system/store_test.go
  internal/worker/module.go
  test/e2e/api_connectors_create_test.go
  test/e2e/api_pipelines_create_test.go
  tools/generator/go.mod
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: remove duplicated test
  internal/api/v2/controllers_exporters_read_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: build regular commit
  .github/workflows/main.yml
  pkg/client/.speakeasy/gen.lock
Due: none

feat: add grpc
  cmd/worker.go
  deployments/pulumi/pkg/api/component.go
  deployments/pulumi/pkg/api/deployment.go
  deployments/pulumi/pkg/component.go
  deployments/pulumi/pkg/worker/component.go
  deployments/pulumi/pkg/worker/deployment.go
  deployments/pulumi/pkg/worker/service.go
  go.mod
  go.sum
  internal/controller/system/adapters.go
  internal/controller/system/errors.go
  internal/replication/controller_backend_grpc.go
  internal/replication/controller_grpc_client.go
  internal/replication/controller_grpc_server.go
  internal/replication/drivers/clickhouse/driver.go
  internal/replication/manager.go
  internal/replication/manager_test.go
  internal/replication/module.go
  internal/replication/pipeline.go
  internal/worker/module.go
  pkg/testserver/ginkgo/helpers.go
  pkg/testserver/server.go
  test/e2e/api_pipelines_create_test.go
  test/e2e/suite_test.go
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add sync of pipelines at regular interval
  cmd/worker.go
  internal/controller/system/errors.go
  internal/replication/manager.go
  internal/replication/manager_test.go
  internal/replication/module.go
  internal/replication/pipeline.go
  internal/replication/pipeline_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: rename package
  cmd/serve.go
  cmd/worker.go
  internal/replication/drivers/alldrivers/drivers.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: remove dead code
  internal/controller/ledger/controller_with_traces.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: add elasticsearch configuration errors more explicit
  internal/replication/drivers/elasticsearch/config.go
  internal/replication/drivers/elasticsearch/config_test.go
  internal/replication/drivers/elasticsearch/errors.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add configurable page size for logs polling
  cmd/worker.go
  internal/replication/module.go
  internal/replication/pipeline.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refacto: move path /_system under /_
  docs/api/README.md
  internal/api/v2/controllers_exporters_create_test.go
  internal/api/v2/controllers_exporters_delete_test.go
  internal/api/v2/controllers_exporters_list_test.go
  internal/api/v2/controllers_exporters_read_test.go
  internal/api/v2/routes.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/v2.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: make label more explicit
  internal/replication/manager.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: proto
  internal/replication/grpc/replication_service.proto
  internal/replication/pipeline.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: hide sql errors
  internal/api/v2/controllers_pipeline_delete.go
  internal/replication/drivers/registry.go
  internal/replication/manager.go
  internal/storage/common/errors.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: add comment
  internal/replication/manager.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: add missing json tag
  internal/replication/drivers/log.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: properly handle uint64 at grpc level
  internal/README.md
  internal/pipeline.go
  internal/replication/grpc/replication_service.pb.go
  internal/replication/grpc/replication_service.proto
  internal/replication/manager.go
  internal/replication/mapping.go
  internal/replication/pipeline.go
  internal/replication/pipeline_test.go
  internal/replication/store.go
  internal/replication/store_generated_test.go
  internal/storage/system/store.go
  internal/storage/system/store_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: reset in case of stopped pipeline
  internal/replication/manager.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: add integration test for coverage
  test/e2e/api_exporters_create_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
