Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

fix: add ErrInvalidIdempotencyInput error handling to all write routes
  internal/api/v1/controllers_transactions_add_metadata.go
  internal/api/v1/controllers_transactions_delete_metadata.go
  internal/api/v1/controllers_transactions_revert.go
  internal/api/v2/controllers_transactions_add_metadata.go
  internal/api/v2/controllers_transactions_delete_metadata.go
  internal/api/v2/controllers_transactions_revert.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: revert changes to Is() method and remove test file
  internal/controller/ledger/errors.go
  internal/controller/ledger/errors_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: add integration tests for idempotency key reuse error handling
  test/e2e/api_idempotency_key_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: use unique idempotency keys for each test
  test/e2e/api_idempotency_key_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: add ErrInvalidIdempotencyInput error handling to all write routes
  internal/api/v1/controllers_accounts_add_metadata.go
  internal/api/v1/controllers_accounts_delete_metadata.go
  internal/api/v2/controllers_accounts_add_metadata.go
  internal/api/v2/controllers_accounts_delete_metadata.go
  internal/api/v2/controllers_ledgers_delete_metadata.go
  internal/api/v2/controllers_ledgers_update_metadata.go
  internal/api/v2/controllers_logs_import.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: implement idempotency key handling for account and transaction metadata operations
  internal/api/v1/controllers_accounts_add_metadata.go
  internal/api/v1/controllers_accounts_delete_metadata.go
  internal/api/v1/controllers_transactions_add_metadata.go
  internal/api/v1/controllers_transactions_delete_metadata.go
  internal/api/v2/controllers_accounts_add_metadata.go
  internal/api/v2/controllers_accounts_delete_metadata.go
  internal/api/v2/controllers_transactions_add_metadata.go
  internal/api/v2/controllers_transactions_delete_metadata.go
  pkg/testserver/api.go
  test/e2e/api_accounts_metadata_test.go
  test/e2e/api_idempotency_test.go
  test/e2e/api_transactions_metadata_test.go
  test/e2e/extensions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: enhance idempotency key tests for transaction metadata operations
  test/e2e/api_idempotency_test.go
  test/e2e/api_transactions_metadata_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: update comments to English and improve idempotency key handling in metadata tests
  test/e2e/api_accounts_metadata_test.go
  test/e2e/api_transactions_metadata_test.go
  test/e2e/extensions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: streamline error handling for idempotency key conflicts in account and transaction metadata operations
  internal/api/common/errors.go
  internal/api/v1/controllers_accounts_add_metadata.go
  internal/api/v1/controllers_accounts_delete_metadata.go
  internal/api/v1/controllers_transactions_add_metadata.go
  internal/api/v1/controllers_transactions_create.go
  internal/api/v1/controllers_transactions_delete_metadata.go
  internal/api/v2/controllers_accounts_add_metadata.go
  internal/api/v2/controllers_accounts_delete_metadata.go
  internal/api/v2/controllers_transactions_add_metadata.go
  internal/api/v2/controllers_transactions_create.go
  internal/api/v2/controllers_transactions_delete_metadata.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: update metadata deletion tests to use Expect for improved readability and error handling
  internal/api/common/errors.go
  internal/api/v1/controllers_accounts_add_metadata.go
  internal/api/v1/controllers_accounts_delete_metadata.go
  internal/api/v1/controllers_transactions_add_metadata.go
  internal/api/v1/controllers_transactions_create.go
  internal/api/v1/controllers_transactions_delete_metadata.go
  internal/api/v2/controllers_accounts_add_metadata.go
  internal/api/v2/controllers_accounts_delete_metadata.go
  internal/api/v2/controllers_transactions_add_metadata.go
  internal/api/v2/controllers_transactions_create.go
  internal/api/v2/controllers_transactions_delete_metadata.go
  test/e2e/api_accounts_metadata_test.go
  test/e2e/api_transactions_metadata_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: update error handling for write operations and improve comments in error handling functions
  internal/api/common/errors.go
  internal/api/v2/controllers_transactions_create.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add Idempotency-Key header to metadata deletion endpoints in OpenAPI specifications
  openapi.yaml
  openapi/v2.yaml
Due: gosdk

chore: update SDK for add Idempotency-Key support in metadata deletion requests
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/gen.yaml
  pkg/client/docs/models/operations/v2deleteaccountmetadatarequest.md
  pkg/client/docs/models/operations/v2deletetransactionmetadatarequest.md
  pkg/client/formance.go
  pkg/client/models/operations/v2deleteaccountmetadata.go
  pkg/client/models/operations/v2deletetransactionmetadata.go
  pkg/client/v2.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: refactor metadata deletion tests to utilize idempotency key in requests and improve error handling
  test/e2e/api_accounts_metadata_test.go
  test/e2e/api_transactions_metadata_test.go
  test/e2e/extensions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: update error handling in ledger metadata operations to use common write error handler
  internal/api/v2/controllers_ledgers_delete_metadata.go
  internal/api/v2/controllers_ledgers_update_metadata.go
  internal/api/v2/controllers_transactions_revert.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: reactivate and refine idempotency key tests for account and transaction metadata operations
  test/e2e/api_accounts_metadata_test.go
  test/e2e/api_transactions_metadata_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: remove specific error code expectation from ledger accounts and transactions metadata tests
  test/e2e/api_accounts_metadata_test.go
  test/e2e/api_transactions_metadata_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: remove account address validation from addAccountMetadata function
  internal/api/v2/controllers_accounts_add_metadata.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs: add Idempotency-Key header details to metadata deletion endpoint documentation
  docs/api/README.md
Due: none

fix: return 400 instead of 500 for idempotency key reuse with different body (#919)
  docs/api/README.md
  internal/api/common/errors.go
  internal/api/v1/controllers_accounts_add_metadata.go
  internal/api/v1/controllers_accounts_delete_metadata.go
  internal/api/v1/controllers_transactions_add_metadata.go
  internal/api/v1/controllers_transactions_create.go
  internal/api/v1/controllers_transactions_delete_metadata.go
  internal/api/v2/controllers_accounts_add_metadata.go
  internal/api/v2/controllers_accounts_delete_metadata.go
  internal/api/v2/controllers_ledgers_delete_metadata.go
  internal/api/v2/controllers_ledgers_update_metadata.go
  internal/api/v2/controllers_transactions_add_metadata.go
  internal/api/v2/controllers_transactions_create.go
  internal/api/v2/controllers_transactions_delete_metadata.go
  internal/api/v2/controllers_transactions_revert.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/gen.yaml
  pkg/client/docs/models/operations/v2deleteaccountmetadatarequest.md
  pkg/client/docs/models/operations/v2deletetransactionmetadatarequest.md
  pkg/client/formance.go
  pkg/client/models/operations/v2deleteaccountmetadata.go
  pkg/client/models/operations/v2deletetransactionmetadata.go
  pkg/client/v2.go
  pkg/testserver/api.go
  test/e2e/api_accounts_metadata_test.go
  test/e2e/api_idempotency_test.go
  test/e2e/api_transactions_metadata_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: return 400 instead of 500 for idempotency key reuse with different body
  .gitignore
  docs/api/README.md
  internal/api/common/errors.go
  internal/api/v1/controllers_accounts_add_metadata.go
  internal/api/v1/controllers_accounts_delete_metadata.go
  internal/api/v1/controllers_transactions_add_metadata.go
  internal/api/v1/controllers_transactions_create.go
  internal/api/v1/controllers_transactions_delete_metadata.go
  internal/api/v2/controllers_accounts_add_metadata.go
  internal/api/v2/controllers_accounts_delete_metadata.go
  internal/api/v2/controllers_ledgers_delete_metadata.go
  internal/api/v2/controllers_ledgers_update_metadata.go
  internal/api/v2/controllers_transactions_add_metadata.go
  internal/api/v2/controllers_transactions_create.go
  internal/api/v2/controllers_transactions_delete_metadata.go
  internal/api/v2/controllers_transactions_revert.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/docs/models/operations/v2deleteaccountmetadatarequest.md
  pkg/client/docs/models/operations/v2deletetransactionmetadatarequest.md
  pkg/client/models/operations/v2deleteaccountmetadata.go
  pkg/client/models/operations/v2deletetransactionmetadata.go
  pkg/client/v2.go
  test/e2e/api_accounts_metadata_test.go
  test/e2e/api_idempotency_test.go
  test/e2e/api_transactions_metadata_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: return 400 instead of 500 for idempotency key reuse with different body (#921)
  .gitignore
  docs/api/README.md
  internal/api/common/errors.go
  internal/api/v1/controllers_accounts_add_metadata.go
  internal/api/v1/controllers_accounts_delete_metadata.go
  internal/api/v1/controllers_transactions_add_metadata.go
  internal/api/v1/controllers_transactions_create.go
  internal/api/v1/controllers_transactions_delete_metadata.go
  internal/api/v2/controllers_accounts_add_metadata.go
  internal/api/v2/controllers_accounts_delete_metadata.go
  internal/api/v2/controllers_ledgers_delete_metadata.go
  internal/api/v2/controllers_ledgers_update_metadata.go
  internal/api/v2/controllers_transactions_add_metadata.go
  internal/api/v2/controllers_transactions_create.go
  internal/api/v2/controllers_transactions_delete_metadata.go
  internal/api/v2/controllers_transactions_revert.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/docs/models/operations/v2deleteaccountmetadatarequest.md
  pkg/client/docs/models/operations/v2deletetransactionmetadatarequest.md
  pkg/client/models/operations/v2deleteaccountmetadata.go
  pkg/client/models/operations/v2deletetransactionmetadata.go
  pkg/client/v2.go
  test/e2e/api_accounts_metadata_test.go
  test/e2e/api_idempotency_test.go
  test/e2e/api_transactions_metadata_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: return 400 instead of 500 for idempotency key reuse with different body (#920)
  .gitignore
  docs/api/README.md
  internal/api/common/errors.go
  internal/api/v1/controllers_accounts_add_metadata.go
  internal/api/v1/controllers_accounts_delete_metadata.go
  internal/api/v1/controllers_transactions_add_metadata.go
  internal/api/v1/controllers_transactions_create.go
  internal/api/v1/controllers_transactions_delete_metadata.go
  internal/api/v2/controllers_accounts_add_metadata.go
  internal/api/v2/controllers_accounts_delete_metadata.go
  internal/api/v2/controllers_ledgers_delete_metadata.go
  internal/api/v2/controllers_ledgers_update_metadata.go
  internal/api/v2/controllers_transactions_add_metadata.go
  internal/api/v2/controllers_transactions_create.go
  internal/api/v2/controllers_transactions_delete_metadata.go
  internal/api/v2/controllers_transactions_revert.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/docs/models/operations/v2deleteaccountmetadatarequest.md
  pkg/client/docs/models/operations/v2deletetransactionmetadatarequest.md
  pkg/client/models/operations/v2deleteaccountmetadata.go
  pkg/client/models/operations/v2deletetransactionmetadata.go
  pkg/client/v2.go
  test/e2e/api_accounts_metadata_test.go
  test/e2e/api_idempotency_test.go
  test/e2e/api_transactions_metadata_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: add sql transaction by log when importing
  deployments/pulumi/go.mod
  deployments/pulumi/go.sum
  go.mod
  go.sum
  internal/controller/ledger/controller_default.go
  test/rolling-upgrades/go.mod
  test/rolling-upgrades/go.sum
  tools/generator/go.mod
  tools/generator/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: add sql transaction by log when importing
  internal/controller/ledger/controller_default.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: add sql transaction by log when importing (#925)
  deployments/pulumi/go.mod
  deployments/pulumi/go.sum
  go.mod
  go.sum
  internal/controller/ledger/controller_default.go
  test/rolling-upgrades/go.mod
  test/rolling-upgrades/go.sum
  tools/generator/go.mod
  tools/generator/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: memento format
  internal/storage/bucket/migrations/34-fix-memento-format/notes.yaml
  internal/storage/bucket/migrations/34-fix-memento-format/up.sql
  internal/storage/system/migrations.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: memento format
  internal/storage/bucket/migrations/34-fix-memento-format/notes.yaml
  internal/storage/bucket/migrations/34-fix-memento-format/up.sql
  internal/storage/bucket/migrations/35-accounts-recreate-unique-index/notes.yaml
  internal/storage/bucket/migrations/35-accounts-recreate-unique-index/up.sql
  internal/storage/bucket/migrations/36-clean-database/notes.yaml
  internal/storage/bucket/migrations/36-clean-database/up.sql
  internal/storage/bucket/migrations/37-logs-async-hash-procedure/notes.yaml
  internal/storage/bucket/migrations/37-logs-async-hash-procedure/up.sql
  internal/storage/system/migrations.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: extract compute_hash function
  internal/storage/bucket/migrations/35-create-compute-hash-function/notes.yaml
  internal/storage/bucket/migrations/35-create-compute-hash-function/up.sql
Due: none

fix: memento format (#927)
  internal/storage/bucket/migrations/34-fix-memento-format/notes.yaml
  internal/storage/bucket/migrations/34-fix-memento-format/up.sql
  internal/storage/bucket/migrations/35-accounts-recreate-unique-index/notes.yaml
  internal/storage/bucket/migrations/35-accounts-recreate-unique-index/up.sql
  internal/storage/bucket/migrations/36-clean-database/notes.yaml
  internal/storage/bucket/migrations/36-clean-database/up.sql
  internal/storage/bucket/migrations/37-logs-async-hash-procedure/notes.yaml
  internal/storage/bucket/migrations/37-logs-async-hash-procedure/up.sql
  internal/storage/system/migrations.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(pulumi): expose rds cluster id
  deployments/pulumi/pkg/storage/component_rds.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(pulumi): expose rds cluster id (#933)
  deployments/pulumi/pkg/storage/component_rds.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
