Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

fix(processing): return error instead of creating zero volumes on cache miss
  internal/domain/processing/numscript_store_adapter_test.go
  internal/domain/processing/processor_transaction_numscript.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: tidy
  go.mod
  go.sum
Due: none

remove useless stringification & normalize assertion names (#28)
  tests/antithesis/workload/bin/cmds/eventually_correct/main.go
  tests/antithesis/workload/bin/cmds/parallel_driver_account_metadata/main.go
  tests/antithesis/workload/bin/cmds/parallel_driver_ledger_create/main.go
  tests/antithesis/workload/bin/cmds/parallel_driver_transaction_metadata/main.go
  tests/antithesis/workload/bin/cmds/parallel_driver_transactions/main.go
  tests/antithesis/workload/internal/ledger.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

allow to specify a separate tag for each run (#27)
  tests/antithesis/Justfile
  tests/antithesis/config/Justfile
  tests/antithesis/config/templates/ledger.tmpl
  tests/antithesis/config/templates/workload.tmpl
  tests/antithesis/config/values.yaml
  tests/antithesis/workload/Justfile
Due: none

fix url
  tests/antithesis/Justfile
Due: none

fix antithesis run command
  tests/antithesis/Justfile
Due: none

fix: regenerate protobuf after rebase to fix conflict markers
  internal/proto/raftcmdpb/raft_cmd.pb.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: clean todo
  TODO
  cmd/ledgerctl/ledgers/catalog.go
  tests/e2e/business/numscript_library_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: make numscripts per-ledger and add ledgerctl ledgers catalog command
  cmd/ledgerctl/ledgers/catalog.go
  cmd/ledgerctl/ledgers/command.go
  cmd/ledgerctl/numscripts/command.go
  cmd/ledgerctl/numscripts/delete.go
  cmd/ledgerctl/numscripts/get.go
  cmd/ledgerctl/numscripts/list.go
  cmd/ledgerctl/numscripts/save.go
  docs/dev/api-comparison.md
  docs/ops/cli.md
  internal/adapter/grpc/client_bucket.go
  internal/adapter/grpc/server_bucket.go
  internal/adapter/http/handler.go
  internal/adapter/http/handlers_delete_numscript.go
  internal/adapter/http/handlers_get_numscript.go
  internal/adapter/http/handlers_list_numscripts.go
  internal/adapter/http/handlers_save_numscript.go
  internal/adapter/http/mock_backend_test.go
  internal/application/admission/admission.go
  internal/application/check/checker_test.go
  internal/application/ctrl/controller.go
  internal/application/ctrl/controller_default.go
  internal/application/ctrl/controller_generated_test.go
  internal/bootstrap/controller_routed.go
  internal/domain/keys.go
  internal/domain/processing/processor_numscript_library.go
  internal/domain/processing/store.go
  internal/domain/processing/store_mock_test.go
  internal/infra/state/batch.go
  internal/infra/state/buffer.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  internal/query/numscript.go
  misc/proto/bucket.proto
  misc/proto/common.proto
  misc/proto/raft_cmd.proto
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: display prepared query filters in DSL format in catalog command
  cmd/ledgerctl/ledgers/catalog.go
  internal/pkg/filterexpr/format.go
  internal/pkg/filterexpr/format_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: pass ledger param to per-ledger numscript helpers and use protojson for CLI JSON deserialization
  tests/e2e/cluster/ledgerctl_typed_metadata_test.go
  tests/scenarios/gaming_wallet/gaming_wallet_test.go
  tests/scenarios/lending_lifecycle/lending_lifecycle_test.go
  tests/scenarios/marketplace/marketplace_test.go
  tests/scenarios/multi_currency/multi_currency_test.go
  tests/scenarios/multi_ledger_payroll/multi_ledger_payroll_test.go
  tests/scenarios/operations_lifecycle/operations_lifecycle_test.go
  tests/scenarios/stress_invariants/stress_invariants_test.go
  tests/scenarios/subscription/subscription_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove deprecated ChartOfAccounts and rename catalog command to configuration
  cmd/ledgerctl/accounts/analyze.go
  cmd/ledgerctl/ledgers/command.go
  cmd/ledgerctl/ledgers/configuration.go
  internal/adapter/http/chart_json.go
  internal/adapter/http/handlers_analyze_accounts.go
  internal/adapter/http/handlers_analyze_accounts_test.go
  internal/adapter/http/handlers_create_ledger.go
  internal/application/admission/admission.go
  internal/application/indexbuilder/proto_reset.go
  internal/application/indexbuilder/proto_reset_test.go
  internal/domain/analysis/chart_discovery.go
  internal/domain/analysis/chart_discovery_test.go
  internal/domain/processing/processor_account_type.go
  internal/domain/processing/processor_helpers_test.go
  internal/domain/processing/processor_ledger.go
  internal/domain/processing/processor_metadata.go
  internal/domain/processing/processor_revert_transaction.go
  internal/domain/processing/processor_transaction.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  misc/proto/bucket.proto
  misc/proto/common.proto
  misc/proto/raft_cmd.proto
  openapi.yml
  pkg/scenario/actions/actions.go
  pkg/scenario/actions/read.go
  pkg/scenario/gaming_wallet.go
  pkg/scenario/lending_lifecycle.go
  pkg/scenario/marketplace.go
  pkg/scenario/multi_currency.go
  pkg/scenario/multi_ledger_payroll.go
  pkg/scenario/subscription.go
  tests/e2e/business/analyze_accounts_test.go
  tests/scenarios/subscription/subscription_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: enforce linux/amd64 Docker builds, add account types to CLI, move indexes and queries to shared scenarios
  Dockerfile
  cmd/ledgerctl/accounts/analyze.go
  cmd/ledgerctl/accounttypes/get.go
  cmd/ledgerctl/accounttypes/list.go
  cmd/ledgerctl/ledgers/configuration.go
  cmd/ledgerctl/ledgers/get.go
  cmd/ledgerctl/numscripts/list.go
  cmd/ledgerctl/numscripts/save.go
  internal/application/check/checker_test.go
  internal/domain/keys.go
  internal/domain/processing/processor_ledger.go
  internal/domain/processing/processor_numscript_library.go
  internal/pkg/filterexpr/format.go
  internal/pkg/filterexpr/format_test.go
  internal/query/numscript.go
  misc/operator/Dockerfile
  pkg/scenario/gaming_wallet.go
  pkg/scenario/lending_lifecycle.go
  pkg/scenario/marketplace.go
  pkg/scenario/multi_currency.go
  pkg/scenario/multi_ledger_payroll.go
  pkg/scenario/subscription.go
  tests/antithesis/Justfile
  tests/antithesis/config/Justfile
  tests/antithesis/workload/Dockerfile
  tests/antithesis/workload/Justfile
  tests/scenarios/gaming_wallet/gaming_wallet_test.go
  tests/scenarios/lending_lifecycle/lending_lifecycle_test.go
  tests/scenarios/marketplace/marketplace_test.go
  tests/scenarios/multi_currency/multi_currency_test.go
  tests/scenarios/subscription/subscription_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add configuration export/apply, fix signing key per-profile, fix operator UI bundle
  cmd/ledgerctl/auth/login.go
  cmd/ledgerctl/cmdutil/config.go
  cmd/ledgerctl/ledgers/config_model.go
  cmd/ledgerctl/ledgers/configuration.go
  cmd/ledgerctl/ledgers/configuration_apply.go
  cmd/ledgerctl/ledgers/configuration_export.go
  cmd/ledgerctl/main.go
  cmd/ledgerctl/profile/create.go
  cmd/ledgerctl/profile/show.go
  misc/operator/ui/backend/src/k8s/client.ts
  misc/operator/ui/backend/src/routes/ledger-services.ts
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: harmonize scenario setup into pkg/scenario, reject meta() in numscript, fix checker normalization
  TODO
  internal/adapter/grpc/errors.go
  internal/application/admission/admission.go
  internal/application/admission/admission_test.go
  internal/application/check/checker.go
  internal/domain/processing/numscript/emulate.go
  internal/domain/processing/numscript/emulate_test.go
  internal/domain/processing/numscript/errors.go
  internal/infra/state/machine.go
  pkg/scenario/actions/actions.go
  pkg/scenario/gaming_wallet.go
  pkg/scenario/lending_lifecycle.go
  pkg/scenario/marketplace.go
  pkg/scenario/multi_currency.go
  pkg/scenario/multi_ledger_payroll.go
  pkg/scenario/operations_lifecycle.go
  pkg/scenario/stress_invariants.go
  pkg/scenario/subscription.go
  tests/e2e/business/numscript_test.go
  tests/scenarios/gaming_wallet/gaming_wallet_test.go
  tests/scenarios/lending_lifecycle/lending_lifecycle_test.go
  tests/scenarios/marketplace/marketplace_test.go
  tests/scenarios/multi_currency/multi_currency_test.go
  tests/scenarios/multi_ledger_payroll/multi_ledger_payroll_test.go
  tests/scenarios/operations_lifecycle/operations_lifecycle_test.go
  tests/scenarios/stress_invariants/stress_invariants_test.go
  tests/scenarios/subscription/subscription_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add --scale flag to make scenario iteration counts configurable
  cmd/ledgerctl/provision/run.go
  pkg/scenario/gaming_wallet.go
  pkg/scenario/lending_lifecycle.go
  pkg/scenario/marketplace.go
  pkg/scenario/multi_currency.go
  pkg/scenario/multi_ledger_payroll.go
  pkg/scenario/runner.go
  pkg/scenario/subscription.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: only scale flow iterations, keep entity counts fixed
  pkg/scenario/gaming_wallet.go
  pkg/scenario/lending_lifecycle.go
  pkg/scenario/marketplace.go
  pkg/scenario/subscription.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(deps): update module google.golang.org/grpc to v1.79.3 [security]
  deployments/pulumi/go.mod
  deployments/pulumi/go.sum
  go.mod
  go.sum
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: none

chore(deps): update module google.golang.org/grpc to v1.79.3 [security] (#1299)
  deployments/pulumi/go.mod
  deployments/pulumi/go.sum
  go.mod
  go.sum
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: none

feat: add --volume-assertions flag for runtime volume consistency checks
  cmd/server/server.go
  internal/bootstrap/config.go
  internal/bootstrap/module.go
  misc/operator/api/v1alpha1/ledger_types.go
  misc/operator/api/v1alpha1/zz_generated.deepcopy.go
  misc/operator/chart/crds/ledger.formance.com_ledgerservices.yaml
  misc/operator/config/crd/bases/ledger.formance.com_ledgerservices.yaml
  misc/operator/internal/controller/envvars.go
  tests/antithesis/config/templates/ledger.tmpl
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: prevent stale preload from shadowing Gen1 data after cache rotation
  internal/infra/node/applier_test.go
  internal/infra/node/node_test.go
  internal/infra/state/buffer.go
  internal/infra/state/machine.go
  internal/infra/state/machine_test.go
  internal/infra/state/volume_assertions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: enable audit by default
  internal/infra/state/audit_test.go
  internal/query/audit.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add runtime flight recorder for post-mortem trace capture
  cmd/server/server.go
  internal/bootstrap/module.go
  internal/infra/monitoring/flightrecorder/config.go
  internal/infra/monitoring/flightrecorder/handler.go
  internal/infra/monitoring/flightrecorder/module.go
  internal/infra/monitoring/flightrecorder/recorder.go
  internal/infra/monitoring/flightrecorder/recorder_test.go
  misc/devenv/operator/values/acme/ledger.yaml
  misc/devenv/operator/values/devenv-ledger-exp/ledger.yaml
  misc/operator/api/v1alpha1/ledger_types.go
  misc/operator/api/v1alpha1/zz_generated.deepcopy.go
  misc/operator/chart/crds/ledger.formance.com_ledgerdefaults.yaml
  misc/operator/chart/crds/ledger.formance.com_ledgerservices.yaml
  misc/operator/config/crd/bases/ledger.formance.com_ledgerdefaults.yaml
  misc/operator/config/crd/bases/ledger.formance.com_ledgerservices.yaml
  misc/operator/internal/controller/envvars.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: update profile server address on auth login with explicit --server
  cmd/ledgerctl/auth/login.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add default_enforcement_mode to LedgerInfo and lower gRPC log level
  cmd/ledgerctl/accounttypes/command.go
  cmd/ledgerctl/accounttypes/set_default_enforcement.go
  cmd/ledgerctl/ledgers/config_model.go
  cmd/ledgerctl/ledgers/create.go
  internal/adapter/grpc/server.go
  internal/adapter/http/handler.go
  internal/adapter/http/handlers_create_ledger.go
  internal/adapter/http/handlers_set_default_enforcement_mode.go
  internal/application/admission/admission.go
  internal/domain/processing/processor_account_type.go
  internal/domain/processing/processor_apply.go
  internal/domain/processing/processor_ledger.go
  internal/domain/processing/processor_metadata.go
  internal/domain/processing/processor_revert_transaction.go
  internal/domain/processing/processor_transaction.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  misc/proto/bucket.proto
  misc/proto/common.proto
  misc/proto/raft_cmd.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: use Merge values instead of cache read in post-commit volume verification
  internal/infra/state/machine.go
  internal/infra/state/volume_assertions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add Antithesis SDK assertions for rare events and invariants
  go.mod
  internal/infra/node/applier.go
  internal/infra/node/node.go
  internal/infra/node/transport.go
  internal/infra/state/machine.go
  internal/infra/state/volume_assertions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: lint fixes in flightrecorder (import order, errors.New)
  internal/infra/monitoring/flightrecorder/module.go
  internal/infra/monitoring/flightrecorder/recorder.go
  internal/infra/monitoring/flightrecorder/recorder_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add instrumented Dockerfile and update Antithesis config
  Dockerfile.antithesis
  tests/antithesis/Justfile
  tests/antithesis/config/charts/ledger-operator-0.1.0.tgz
  tests/antithesis/config/templates/ledger.tmpl
Due: none

fix(ledger): reorder imports in utils_test.go to satisfy linter
  internal/storage/ledger/utils_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: add missing go-libs/v3/query dependency to go.mod
  go.mod
  go.sum
Due: none

fix: use go-libs/v4/query in utils_test.go to match production code
  go.mod
  go.sum
  internal/storage/ledger/utils_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: reorder imports in utils_test.go to match goimports convention
  internal/storage/ledger/utils_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(deps): update module github.com/buger/jsonparser to v1.1.2 [security]
  deployments/pulumi/go.mod
  deployments/pulumi/go.sum
  go.mod
  go.sum
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: none

chore(deps): update module github.com/buger/jsonparser to v1.1.2 [security] (#1300)
  deployments/pulumi/go.mod
  deployments/pulumi/go.sum
  go.mod
  go.sum
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: none

fix(cli): prevent env/profile flag leak into profile create (#29)
  cmd/ledgerctl/main.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: use Reachable instead of Sometimes for multi-node Antithesis assertions
  internal/infra/node/node.go
  internal/infra/node/transport.go
  internal/infra/state/machine.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: remove multi-node Antithesis assertions and delete high_contention_marketplace k6 test
  internal/infra/node/node.go
  internal/infra/node/transport.go
  internal/infra/state/machine.go
  tests/perf/README.md
  tests/perf/scripts/high_contention_marketplace.js
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: upgrade dependencies
  go.mod
  go.sum
Due: none

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
