Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

docs(EN-1465): document BuiltinUintCondition valid-field subset in proto
  misc/proto/common.proto
Due: none

fix(EN-1465): scope prepared-query REST target to ACCOUNTS/TRANSACTIONS; canonical address marshal
  docs/technical/architecture/subsystems/read-path/prepared-queries.md
  internal/adapter/http/handlers_create_prepared_query_test.go
  internal/adapter/http/prepared_query_filter.go
  internal/proto/commonpb/common.pb.json.go
  internal/proto/commonpb/query_filter.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1465): canonical flat QueryFilter JSON codec (drop protojson leak)
  docs/technical/architecture/subsystems/read-path/prepared-queries.md
  internal/adapter/http/handlers_create_prepared_query_test.go
  internal/adapter/http/handlers_list_prepared_queries_test.go
  internal/adapter/http/handlers_update_prepared_query_test.go
  internal/adapter/http/prepared_query_filter.go
  internal/adapter/http/prepared_query_filter_test.go
  internal/proto/commonpb/common.pb.json.go
  internal/proto/commonpb/prepared_query_json_test.go
  internal/proto/commonpb/query_filter.go
  internal/proto/commonpb/query_filter_test.go
  openapi.yml
  tests/e2e/business/prepared_query_rest_shape_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1241): bound audit filter compiler recursion depth
  internal/query/audit_filter.go
  internal/query/audit_filter_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1241): keep ListAuditEntriesRequest.options on its original tag 1
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  misc/proto/bucket.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(EN-1241): drop wire-compat reserved fields (pre-GA, no compat)
  internal/proto/commonpb/common.pb.go
  internal/proto/servicepb/bucket.pb.go
  misc/proto/bucket.proto
  misc/proto/common.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1241): pass ctx to openCheckpointStores in audit checkpoint path
  internal/adapter/grpc/server_bucket.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1241): reject --expand + --checkpoint-id in audit list
  cmd/ledgerctl/audit/list.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(EN-1241): address review nits (dead enum, stale comment, paging cleanup)
  internal/proto/commonpb/common.pb.go
  internal/query/audit.go
  misc/proto/common.proto
  tests/e2e/business/audit_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(EN-1241): handle audit arm in the v2 QueryFilter JSON codec (loud reject)
  internal/proto/commonpb/query_filter.go
  internal/proto/commonpb/query_filter_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(EN-1241): drop --failures-only and --ledger; filtering is filter-only
  cmd/ledgerctl/audit/list.go
  docs/ops/cli.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/grpc/client_bucket.go
  internal/adapter/grpc/client_bucket_test.go
  internal/adapter/grpc/controller_generated_test.go
  internal/adapter/grpc/server_bucket.go
  internal/adapter/grpc/server_bucket_list_test.go
  internal/adapter/http/backend_generated_test.go
  internal/application/ctrl/controller.go
  internal/application/ctrl/controller_default.go
  internal/application/ctrl/controller_generated_test.go
  internal/application/ctrl/ctrlmock/controller_generated.go
  internal/bootstrap/controller_routed.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_reader.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  misc/proto/bucket.proto
  pkg/actions/read.go
  tests/antithesis/workload/bin/cmds/main/parallel_driver_bulk_atomicity/main.go
  tests/e2e/business/audit_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(EN-1241): normalize audit filter field caller.subject -> caller_subject
  cmd/ledgerctl/audit/list.go
  docs/ops/cli.md
  docs/technical/contributing/api-comparison.md
  internal/pkg/filterexpr/audit_test.go
  internal/pkg/filterexpr/format.go
  internal/pkg/filterexpr/parser.go
  internal/proto/commonpb/common.pb.go
  internal/storage/readstore/audit_index.go
  internal/storage/readstore/keys.go
  misc/proto/common.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(EN-1241): accept RFC3339 timestamps in audit[timestamp] filter
  cmd/ledgerctl/audit/list.go
  docs/ops/cli.md
  internal/pkg/filterexpr/audit_test.go
  internal/pkg/filterexpr/format.go
  internal/pkg/filterexpr/parser.go
  internal/proto/commonpb/metadata_convert.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(check): seed account types from the baseline, not the live store
  internal/application/check/checker.go
  internal/application/check/checker_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1502): gate filtered audit reads on audit-index progress
  internal/adapter/grpc/server_bucket.go
  internal/adapter/grpc/server_bucket_audit_consistency_test.go
  internal/application/auditindexer/indexer.go
  internal/application/auditindexer/indexer_test.go
  internal/storage/readstore/audit_index.go
  internal/storage/readstore/wait_audit_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(check): seed initial account types from the CreateLedger log
  internal/application/check/checker.go
  pkg/actions/actions.go
  tests/e2e/business/check_store_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(check): detect audit-live ledgers missing from the store
  AGENTS.md
  internal/application/check/checker.go
  internal/application/check/checker_test.go
  internal/proto/servicepb/bucket.pb.go
  misc/proto/bucket.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(check): treat a soft-deleted LedgerInfo as a missing projection
  AGENTS.md
  internal/application/check/checker.go
  internal/application/check/checker_test.go
  internal/proto/servicepb/bucket.pb.go
  misc/proto/bucket.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(EN-1465): drop $like from the QueryFilter JSON DSL (re-add later if needed)
  docs/technical/architecture/subsystems/read-path/prepared-queries.md
  internal/proto/commonpb/query_filter.go
  internal/proto/commonpb/query_filter_test.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(check): source archived-recovery state from the baseline, never the live store
  AGENTS.md
  internal/application/check/checker.go
  internal/application/check/checker_test.go
  internal/proto/servicepb/bucket.pb.go
  misc/proto/bucket.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1465): gate transaction builtin uint filters to the transactions target
  internal/query/compile.go
  internal/query/compile_builtin_uint_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1465): QueryFilter JSON codec aligned on the v2 query DSL (drop protojson leak) (#1547)
  docs/technical/architecture/subsystems/read-path/prepared-queries.md
  internal/adapter/http/handlers_create_prepared_query.go
  internal/adapter/http/handlers_create_prepared_query_test.go
  internal/adapter/http/handlers_list_prepared_queries_test.go
  internal/adapter/http/handlers_update_prepared_query_test.go
  internal/adapter/http/prepared_query_filter.go
  internal/adapter/http/prepared_query_filter_test.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common.pb.json.go
  internal/proto/commonpb/prepared_query_json_test.go
  internal/proto/commonpb/query_filter.go
  internal/proto/commonpb/query_filter_test.go
  internal/query/compile.go
  internal/query/compile_builtin_uint_test.go
  misc/proto/common.proto
  openapi.yml
  tests/e2e/business/prepared_query_rest_shape_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(check): log skipped archived verification at error level
  internal/application/check/checker.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(EN-1241): document checkpoint+filter audit index staleness limitation
  docs/ops/cli.md
  internal/adapter/grpc/server_bucket.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(EN-1241): bring ListAuditEntries under the shared ListOptions contract
  cmd/ledgerctl/audit/list.go
  docs/ops/cli.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/grpc/client_bucket.go
  internal/adapter/grpc/client_bucket_test.go
  internal/adapter/grpc/controller_generated_test.go
  internal/adapter/grpc/server_bucket.go
  internal/adapter/grpc/server_bucket_list_test.go
  internal/adapter/http/backend_generated_test.go
  internal/application/ctrl/controller.go
  internal/application/ctrl/controller_default.go
  internal/application/ctrl/controller_generated_test.go
  internal/application/ctrl/ctrlmock/controller_generated.go
  internal/bootstrap/controller_routed.go
  internal/pkg/filterexpr/audit_test.go
  internal/pkg/filterexpr/format.go
  internal/pkg/filterexpr/parser.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_dethash.pb.go
  internal/proto/commonpb/common_reader.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_reader.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  internal/query/audit.go
  internal/query/audit_filter.go
  internal/query/audit_filter_test.go
  internal/query/audit_page_test.go
  internal/storage/readstore/audit_index.go
  internal/storage/readstore/audit_index_test.go
  misc/proto/bucket.proto
  misc/proto/common.proto
  pkg/actions/read.go
  tests/e2e/business/audit_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1241): audit list default order, purge-safe paging, async-index test races
  cmd/ledgerctl/audit/list.go
  docs/ops/cli.md
  internal/application/ctrl/controller_default.go
  internal/query/audit.go
  internal/query/audit_filter_test.go
  internal/query/audit_page_test.go
  pkg/actions/read.go
  tests/scenarios/operations_lifecycle/operations_lifecycle_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1241): preserve OR-branch seq bounds; allow keywords as bare filter values
  internal/pkg/filterexpr/audit_test.go
  internal/pkg/filterexpr/parser.go
  internal/query/audit_filter.go
  internal/query/audit_filter_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1502): gate filtered audit reads on audit-index progress (#1559)
  internal/adapter/grpc/server_bucket.go
  internal/adapter/grpc/server_bucket_audit_consistency_test.go
  internal/application/auditindexer/indexer.go
  internal/application/auditindexer/indexer_test.go
  internal/storage/readstore/audit_index.go
  internal/storage/readstore/wait_audit_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Document audit-bound technical state
  docs/technical/architecture/README.md
  docs/technical/architecture/audit-vs-technical-state.md
  docs/technical/architecture/subsystems/checker/README.md
Due: none

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
