Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

feat: add more integrations tests for ledger (#238)
  openapi.yaml
  pkg/api/controllers/ledger_controller.go
  pkg/api/controllers/ledger_controller_test.go
  pkg/core/log.go
  pkg/storage/logs.go
  pkg/storage/sqlstorage/ledger/accounts.go
  pkg/storage/sqlstorage/ledger/logs.go
  pkg/storage/sqlstorage/ledger/store_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: merge all migrations to one (#225)
  cmd/root.go
  pkg/storage/sqlstorage/ledger/migrates/0-init-schema/postgres.sql
  pkg/storage/sqlstorage/ledger/migrates/0-init-schema/sqlite.sql
  pkg/storage/sqlstorage/ledger/migrates/1-add-triggers/postgres.sql
  pkg/storage/sqlstorage/ledger/migrates/1-add-triggers/sqlite.sql
  pkg/storage/sqlstorage/ledger/migrates/10-filter-transactions-using-regex/postgres.sql
  pkg/storage/sqlstorage/ledger/migrates/11-remove-triggers/postgres.sql
  pkg/storage/sqlstorage/ledger/migrates/11-remove-triggers/sqlite.sql
  pkg/storage/sqlstorage/ledger/migrates/12-amounts-numeric/postgres.sql
  pkg/storage/sqlstorage/ledger/migrates/13-clean-logs/any_test.go
  pkg/storage/sqlstorage/ledger/migrates/13-clean-logs/postgres.sql
  pkg/storage/sqlstorage/ledger/migrates/14-update-timestamp-column-type/postgres.sql
  pkg/storage/sqlstorage/ledger/migrates/14-update-timestamp-column-type/sqlite.sql
  pkg/storage/sqlstorage/ledger/migrates/15-add-idempotency-table/postgres.sql
  pkg/storage/sqlstorage/ledger/migrates/15-add-idempotency-table/sqlite.sql
  pkg/storage/sqlstorage/ledger/migrates/16-denormalize-addresses/postgres.sql
  pkg/storage/sqlstorage/ledger/migrates/16-denormalize-addresses/sqlite.sql
  pkg/storage/sqlstorage/ledger/migrates/17-optimized-segments/any_test.go
  pkg/storage/sqlstorage/ledger/migrates/17-optimized-segments/postgres.sql
  pkg/storage/sqlstorage/ledger/migrates/18-v2/postgres.sql
  pkg/storage/sqlstorage/ledger/migrates/2-add-meta-compare/postgres.sql
  pkg/storage/sqlstorage/ledger/migrates/2-add-meta-compare/sqlite.sql
  pkg/storage/sqlstorage/ledger/migrates/3-function-use_account/postgres.sql
  pkg/storage/sqlstorage/ledger/migrates/4-rewrite-function-use_account/postgres.sql
  pkg/storage/sqlstorage/ledger/migrates/5-drop-unused-index/postgres.sql
  pkg/storage/sqlstorage/ledger/migrates/6-add-functions-to-filter-on-tx-addresses/postgres.sql
  pkg/storage/sqlstorage/ledger/migrates/7-fix-meta_compare/postgres.sql
  pkg/storage/sqlstorage/ledger/migrates/8-add-columns-on-transactions/postgres.sql
  pkg/storage/sqlstorage/ledger/migrates/9-add-pre-post-volumes/any.go
  pkg/storage/sqlstorage/ledger/migrates/9-add-pre-post-volumes/any_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: introduce logs insertion by batch (#128)
  cmd/container_test.go
  go.mod
  go.sum
  pkg/api/controllers/account_controller.go
  pkg/api/controllers/account_controller_test.go
  pkg/api/controllers/ledger_controller_test.go
  pkg/api/controllers/transaction_controller.go
  pkg/core/log.go
  pkg/core/log_test.go
  pkg/core/numscript.go
  pkg/ledger/benchmarks_test.go
  pkg/ledger/execute_script.go
  pkg/ledger/execute_script_test.go
  pkg/ledger/ledger.go
  pkg/ledger/ledger_test.go
  pkg/ledger/storage.go
  pkg/storage/sqlstorage/driver.go
  pkg/storage/sqlstorage/ledger/accounts.go
  pkg/storage/sqlstorage/ledger/commit.go
  pkg/storage/sqlstorage/ledger/logs.go
  pkg/storage/sqlstorage/ledger/store.go
  pkg/storage/sqlstorage/ledger/store_test.go
  pkg/storage/sqlstorage/ledger/transactions.go
  pkg/storage/sqlstorage/worker/worker.go
  pkg/storage/sqlstorage/worker/worker_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: Remove NUMARY_ prefix on ledger and update operator (#94)
  Taskfile.yaml
  app.json
  cmd/internal/env.go
  cmd/internal/utils.go
  cmd/root_test.go
  docker-compose.override.yml
  docker-compose.yml
  examples/basic-auth/docker-compose.yml
  examples/jaeger-exporter/docker-compose.yml
  examples/multi-node/docker-compose.yml
  examples/otlp-exporter/docker-compose.yml
  examples/publisher-http/docker-compose.yml
  examples/publisher-kafka/docker-compose.yml
  internal/pgtesting/testing.go
  pkg/api/controllers/transaction_controller_test.go
  pkg/ledgertesting/storage.go
  pkg/storage/sqlstorage/store_ledger_test.go
  sdk/templates/go/Taskfile.yml.mustache
  sdk/templates/php/Taskfile.yml.mustache
  sdk/templates/python/Taskfile.yml.mustache
  sdk/templates/typescript/Taskfile.yml.mustache
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: ensure all ledgers are closed when closing the app (#208)
  Dockerfile
  pkg/api/api.go
  pkg/api/controllers/api.go
  pkg/api/controllers/api_test.go
  pkg/ledger/resolver.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: combine logs before insertion (#142)
  cmd/container_test.go
  pkg/api/controllers/account_controller.go
  pkg/api/controllers/transaction_controller.go
  pkg/ledger/benchmarks_test.go
  pkg/ledger/execute_script.go
  pkg/ledger/execute_script_test.go
  pkg/ledger/ledger.go
  pkg/ledger/ledger_test.go
  pkg/ledger/logs.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add benchmark and optimize logs hashing
  pkg/api/controllers/utils_test.go
  pkg/core/log.go
  pkg/core/metadata.go
  pkg/core/posting.go
  pkg/core/transaction.go
  pkg/core/transaction_test.go
  pkg/ledger/query/worker.go
  pkg/storage/sqlstorage/ledger/logs.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: remove http basic authentication and deprecated telemetry flags (#106)
  cmd/container.go
  cmd/internal/analytics.go
  cmd/internal/analytics_test.go
  cmd/internal/http_basic.go
  cmd/internal/http_basic_test.go
  cmd/root.go
  pkg/api/routes/routes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: reduce memory allocation of big ints inside machine
  pkg/machine/internal/allotment.go
  pkg/machine/internal/funding.go
  pkg/machine/internal/monetary.go
  pkg/machine/vm/machine.go
  pkg/storage/sqlstorage/ledger/transactions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

wip
  pkg/ledger/revert/reverter.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: Add build.Dockerfile for Ledger
  .goreleaser.yml
  build.Dockerfile
Due: none

feat: change status code from 200 to 201 on revert transactions
  openapi.yaml
  pkg/api/controllers/transaction_controller.go
  pkg/api/controllers/transaction_controller_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: set GOMAXPROCS=2 for benchmarks
  Taskfile.yaml
Due: none

feat: implement error handling utilities package (#194)
  pkg/api/apierrors/errors.go
  pkg/api/controllers/account_controller.go
  pkg/api/controllers/balance_controller.go
  pkg/api/controllers/ledger_controller.go
  pkg/api/controllers/query.go
  pkg/api/controllers/transaction_controller.go
  pkg/api/controllers/transaction_controller_test.go
  pkg/ledger/errors.go
  pkg/ledger/ledger.go
  pkg/ledger/migrations.go
  pkg/ledger/numscript/compiler.go
  pkg/ledger/query/errors.go
  pkg/ledger/query/worker.go
  pkg/ledger/resolver.go
  pkg/ledger/runner/error.go
  pkg/ledger/runner/runner.go
  pkg/ledger/runner/runner_test.go
  pkg/ledger/state/error.go
  pkg/ledger/state/state.go
  pkg/ledger/state/state_test.go
  pkg/ledger/stats.go
  pkg/machine/examples/basic.go
  pkg/machine/internal/funding.go
  pkg/machine/machine.go
  pkg/machine/machine_test.go
  pkg/machine/vm/errors.go
  pkg/machine/vm/machine.go
  pkg/machine/vm/machine_kept_test.go
  pkg/machine/vm/machine_overdraft_test.go
  pkg/machine/vm/machine_test.go
  pkg/storage/errors.go
  pkg/storage/sqlstorage/errors/errors.go
  pkg/storage/sqlstorage/ledger/accounts.go
  pkg/storage/sqlstorage/ledger/balances.go
  pkg/storage/sqlstorage/ledger/logs.go
  pkg/storage/sqlstorage/ledger/store.go
  pkg/storage/sqlstorage/ledger/transactions.go
  pkg/storage/sqlstorage/ledger/volumes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove redundant postings denormalization
  cmd/container.go
  cmd/serve.go
  cmd/storage.go
  go.mod
  go.sum
  pkg/storage/pagination.go
  pkg/storage/sqlstorage/cli.go
  pkg/storage/sqlstorage/ledger/logs.go
  pkg/storage/sqlstorage/ledger/main_test.go
  pkg/storage/sqlstorage/ledger/migrates/0-init-schema/postgres.sql
  pkg/storage/sqlstorage/ledger/transactions.go
  pkg/storage/sqlstorage/ledger/transactions_test.go
  pkg/storage/sqlstorage/migrations/migrations_test.go
  pkg/storage/sqlstorage/pagination/pagination_column.go
  pkg/storage/sqlstorage/pagination/pagination_column_test.go
  pkg/storage/sqlstorage/pagination/pagination_offset_test.go
  pkg/storage/sqlstorage/sqlstoragetesting/storage.go
  pkg/storage/sqlstorage/utils/utils.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: move ledger lock inside core ledger (#129)
  cmd/container.go
  cmd/container_test.go
  cmd/root.go
  go.mod
  go.sum
  pkg/api/idempotency/hash.go
  pkg/api/idempotency/middleware.go
  pkg/api/idempotency/middleware_test.go
  pkg/api/idempotency/response.go
  pkg/api/idempotency/response_writer.go
  pkg/api/idempotency/store.go
  pkg/api/middlewares/module.go
  pkg/api/routes/routes.go
  pkg/ledger/execute_script.go
  pkg/ledger/ledger.go
  pkg/ledger/resolver.go
  pkg/ledgertesting/storage.go
  pkg/redis/lock.go
  pkg/redis/lock_test.go
  pkg/redis/module.go
  pkg/storage/sqlstorage/driver.go
  pkg/storage/sqlstorage/ledger/idempotency.go
  pkg/storage/sqlstorage/ledger/store_test.go
  pkg/storage/sqlstorage/module.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add a metric on bench
  benchmarks/ledger_test.go
  go.mod
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: use pgtesting from go libs (#112)
  cmd/internal/analytics_test.go
  cmd/internal/main_test.go
  cmd/root_test.go
  cmd/storage_test.go
  go.mod
  internal/pgtesting/testing.go
  pkg/analytics/main_test.go
  pkg/analytics/segment_test.go
  pkg/api/controllers/main_test.go
  pkg/api/controllers/transaction_controller_test.go
  pkg/api/internal/testing.go
  pkg/api/middlewares/main_test.go
  pkg/ledger/ledger_test.go
  pkg/ledger/main_test.go
  pkg/ledgertesting/storage.go
  pkg/storage/sqlstorage/accounts_test.go
  pkg/storage/sqlstorage/driver_test.go
  pkg/storage/sqlstorage/main_test.go
  pkg/storage/sqlstorage/migrate_test.go
  pkg/storage/sqlstorage/migrates/13-clean-logs/any_test.go
  pkg/storage/sqlstorage/migrates/17-optimized-segments/any_test.go
  pkg/storage/sqlstorage/migrates/9-add-pre-post-volumes/any_test.go
  pkg/storage/sqlstorage/store_ledger_test.go
  pkg/storage/sqlstorage/transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove mapping and batch (#104)
  openapi.yaml
  pkg/api/controllers/controllers.go
  pkg/api/controllers/mapping_controller.go
  pkg/api/controllers/mapping_controller_test.go
  pkg/api/controllers/pagination_test.go
  pkg/api/controllers/transaction_controller.go
  pkg/api/controllers/transaction_controller_test.go
  pkg/api/internal/testing.go
  pkg/api/routes/routes.go
  pkg/bus/message.go
  pkg/bus/monitor.go
  pkg/core/contract.go
  pkg/core/contract_test.go
  pkg/core/expr.go
  pkg/core/expr_test.go
  pkg/core/mapping.go
  pkg/core/numscript.go
  pkg/ledger/benchmarks_test.go
  pkg/ledger/execute_script_test.go
  pkg/ledger/execute_txsdata.go
  pkg/ledger/execute_txsdata_test.go
  pkg/ledger/ledger.go
  pkg/ledger/ledger_test.go
  pkg/ledger/monitor.go
  pkg/ledger/stats_test.go
  pkg/ledger/storage.go
  pkg/ledger/verification_test.go
  pkg/ledger/volume_agg_test.go
  pkg/storage/sqlstorage/mapping.go
  pkg/storage/sqlstorage/store_ledger_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add ballast package (#243)
  cmd/container.go
  cmd/serve.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: rename preview to dry run
  openapi.yaml
  pkg/api/controllers/account_controller_test.go
  pkg/api/controllers/transaction_controller.go
  pkg/api/controllers/transaction_controller_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

test: add CQRS integration tests (#163)
  openapi.yaml
  pkg/api/apierrors/errors.go
  pkg/ledger/ledger.go
  pkg/ledger/query/worker.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: keep last log in memory
  pkg/storage/sqlstorage/ledger/logs.go
  pkg/storage/sqlstorage/ledger/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: fix from review (#168)
  pkg/ledger/cache/cache.go
  pkg/ledger/lock/lock.go
  pkg/ledger/resolver.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: missing import
  pkg/ledger/main_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove pre/post commit volumes from transaction creation response
  openapi.yaml
  pkg/api/controllers/api.go
  pkg/api/controllers/api_test.go
  pkg/api/controllers/transaction_controller_test.go
  pkg/core/log.go
  pkg/ledger/-memprofile.out
  pkg/ledger/-profile.out
  pkg/ledger/.stats
  pkg/ledger/cache/cache.go
  pkg/ledger/ledger.go
  pkg/ledger/ledger_test.go
  pkg/ledger/normalize-postings-memprofile.out
  pkg/ledger/normalize-postings-profile.out
  pkg/ledger/normalize-postings.stats
  pkg/ledger/query/worker.go
  pkg/ledger/remove-pre-post-memprofile.out
  pkg/ledger/remove-pre-post-profile.out
  pkg/ledger/remove-pre-post.stats
  pkg/ledger/revert/reverter.go
  pkg/ledger/revert/reverter_test.go
  pkg/ledger/runner/runner.go
  pkg/ledger/runner/runner_test.go
  pkg/machine/script/parser/NumScript.interp
  pkg/machine/script/parser/NumScriptLexer.interp
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: make cache works in parallel (#170)
  pkg/core/account.go
  pkg/ledger/cache/cache.go
  pkg/ledger/cache/cache_test.go
  pkg/ledger/cache/main_test.go
  pkg/ledger/ledger.go
  pkg/ledger/runner/runner.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Revert "feat: change transactions ids to uuid"
  openapi.yaml
  pkg/api/controllers/api.go
  pkg/api/controllers/api_test.go
  pkg/api/controllers/transaction_controller.go
  pkg/api/controllers/transaction_controller_test.go
  pkg/core/log.go
  pkg/core/metadata.go
  pkg/core/transaction.go
  pkg/ledger/ledger.go
  pkg/ledger/query/store.go
  pkg/ledger/query/worker.go
  pkg/ledger/query/worker_test.go
  pkg/ledger/revert/reverter.go
  pkg/ledger/revert/reverter_test.go
  pkg/ledger/runner/runner.go
  pkg/ledger/runner/runner_test.go
  pkg/storage/driver.go
  pkg/storage/sqlstorage/ledger/accounts_test.go
  pkg/storage/sqlstorage/ledger/migrates/0-init-schema/postgres.sql
  pkg/storage/sqlstorage/ledger/store_test.go
  pkg/storage/sqlstorage/ledger/transactions.go
  pkg/storage/sqlstorage/ledger/transactions_test.go
  pkg/storage/sqlstorage/migrations/migrations_test.go
  pkg/storage/sqlstorage/schema/schema.go
  pkg/storage/transactions.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: optimize cache (#181)
  pkg/api/apierrors/errors.go
  pkg/api/controllers/transaction_controller_test.go
  pkg/core/log.go
  pkg/ledger/cache/cache.go
  pkg/ledger/cache/cache_test.go
  pkg/ledger/cache/main_test.go
  pkg/ledger/ledger.go
  pkg/ledger/memprofile.out
  pkg/ledger/profile.out
  pkg/ledger/query/worker.go
  pkg/ledger/query/worker_test.go
  pkg/ledger/runner/runner.go
  pkg/machine/examples/basic.go
  pkg/machine/machine.go
  pkg/machine/machine_test.go
  pkg/machine/vm/errors.go
  pkg/machine/vm/machine.go
  pkg/machine/vm/machine_test.go
  pkg/machine/vm/program/program.go
  pkg/machine/vm/store.go
  pkg/storage/driver.go
  pkg/storage/sqlstorage/ledger/accounts.go
  pkg/storage/sqlstorage/ledger/accounts_test.go
  pkg/storage/sqlstorage/ledger/store_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: fix release
  .gitignore
  .goreleaser.yml
  moon.yml
Due: none

feat: use pointers for logs instead of value to avoid copy and too many gc call
  pkg/core/log.go
  pkg/ledger/command/commander.go
  pkg/ledger/command/commander_test.go
  pkg/ledger/query/module_test.go
  pkg/ledger/query/worker_test.go
  pkg/storage/sqlstorage/ledger/logs_test.go
  pkg/storage/sqlstorage/worker/worker_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: Machine: add tests for new asset variable type (#197)
  pkg/machine/vm/machine.go
  pkg/machine/vm/machine_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove /script endpoint (#102)
  cmd/root.go
  cmd/script_check.go
  cmd/script_exec.go
  cmd/script_test.go
  go.mod
  go.sum
  pkg/api/controllers/controllers.go
  pkg/api/controllers/script_controller.go
  pkg/api/controllers/script_controller_test.go
  pkg/api/routes/routes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: enable uuid rand pool for uuid generation
  pkg/core/transaction.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: refactor query Worker struct and methods (#190)
  pkg/ledger/query/worker.go
  pkg/ledger/query/worker_test.go
  pkg/ledger/resolver.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests
