Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

fix: get ledger snapshot consistency (#583)
  internal/application/ctrl/controller_default.go
  tests/e2e/cluster/get_ledger_snapshot_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(EN-1368): account `has asset` filter via readstore index (#568)
  cmd/ledgerctl/indexes/create.go
  cmd/ledgerctl/indexes/drop.go
  cmd/ledgerctl/indexes/id_helpers.go
  docs/ops/cli.md
  docs/technical/contributing/api-comparison.md
  internal/application/check/checker.go
  internal/application/check/checker_test.go
  internal/application/indexbuilder/backfill.go
  internal/application/indexbuilder/backfill_postings.go
  internal/application/indexbuilder/backfill_test.go
  internal/application/indexbuilder/builder.go
  internal/application/indexbuilder/index_config.go
  internal/application/indexbuilder/index_config_test.go
  internal/application/indexbuilder/process_logs.go
  internal/application/indexbuilder/protowire_postings.go
  internal/application/indexbuilder/protowire_postings_test.go
  internal/pkg/filterexpr/format.go
  internal/pkg/filterexpr/format_test.go
  internal/pkg/filterexpr/parser.go
  internal/pkg/filterexpr/parser_test.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_dethash.pb.go
  internal/proto/commonpb/common_reader.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/query/compile.go
  internal/query/compile_account_asset_test.go
  internal/storage/readstore/comparer_test.go
  internal/storage/readstore/delete_ledger.go
  internal/storage/readstore/keys.go
  internal/storage/readstore/write_batch.go
  misc/proto/common.proto
  openapi.yml
  pkg/actions/indexes.go
  tests/e2e/business/account_has_asset_index_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(EN-1378): emit Declare for absent volume preload keys (#573)
  internal/application/admission/admission.go
  internal/domain/processing/numscript_store_adapter_test.go
  internal/domain/processing/processor_mirror_test.go
  internal/domain/processing/processor_posting.go
  internal/domain/processing/processor_posting_test.go
  internal/domain/processing/processor_transaction_numscript.go
  internal/infra/plan/builder.go
  internal/infra/plan/resolve.go
  internal/infra/plan/resolve_test.go
  internal/infra/state/cache_snapshotter.go
  internal/infra/state/sentinel.go
  internal/infra/state/sentinel_undefined_old_test.go
  internal/infra/state/write_set.go
  internal/infra/state/write_set_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(query): rename staticIndexLookup.GetIndex to Get to satisfy indexes.Lookup (#588)
  internal/query/compile_account_asset_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(EN-868): mount business API under /v3 only (#587)
  docs/technical/contributing/api-comparison.md
  internal/adapter/auth/http_middleware.go
  internal/adapter/auth/http_middleware_test.go
  internal/adapter/http/handler.go
  internal/adapter/http/handlers_aggregate_volumes_test.go
  internal/adapter/http/handlers_analyze_accounts_test.go
  internal/adapter/http/handlers_analyze_transactions_test.go
  internal/adapter/http/handlers_coverage_test.go
  internal/adapter/http/handlers_get_ledger_stats_test.go
  openapi.yml
  tests/e2e/cluster/auth_writes_only_test.go
  tests/perf/scripts/shared/http_utils.js
  tests/perf/scripts/single_hot_account.js
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1414): preserve tail entries when checkpoint trigger is rejected (#590)
  internal/infra/node/applier.go
  internal/infra/node/applier_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(EN-1354): add datetime metadata index type (#571)
  cmd/ledgerctl/cmdutil/metadata_types_test.go
  cmd/ledgerctl/indexes/inspect.go
  cmd/ledgerctl/indexes/inspect_test.go
  cmd/ledgerctl/ledgers/set_metadata_type.go
  docs/ops/cli.md
  docs/technical/architecture/data-model/typed-metadata.md
  internal/adapter/http/handlers_inspect_index.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/commonpb/fuzz_test.go
  internal/proto/commonpb/metadata.go
  internal/proto/commonpb/metadata_convert.go
  internal/proto/commonpb/metadata_convert_test.go
  internal/proto/commonpb/metadata_type_parse.go
  internal/proto/commonpb/metadata_type_parse_test.go
  internal/query/compile.go
  internal/storage/readstore/encode_metadata.go
  misc/proto/common.proto
  openapi.yml
  tests/e2e/business/datetime_metadata_index_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(operator/EN-1386): configurable service labels on LedgerService (#578)
  docs/ops/deployment.md
  misc/operator/api/v1alpha1/ledger_types.go
  misc/operator/api/v1alpha1/zz_generated.deepcopy.go
  misc/operator/config/crd/bases/ledger.formance.com_ledgerservices.yaml
  misc/operator/e2e/tests/additional-labels/chainsaw-test.yaml
  misc/operator/e2e/tests/additional-labels/ledgerservice-drift.yaml
  misc/operator/e2e/tests/additional-labels/ledgerservice.yaml
  misc/operator/helm/crds/templates/ledger.formance.com_ledgerservices.yaml
  misc/operator/internal/controller/labels.go
  misc/operator/internal/controller/labels_test.go
  misc/operator/internal/controller/ledger_controller.go
  misc/operator/internal/controller/ledger_controller_status_test.go
  misc/operator/internal/controller/selector_guard.go
  misc/operator/internal/controller/selector_guard_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1377): explicit tombstone flag in cache mirror lean format (#593)
  docs/technical/architecture/storage/storage-drivers.md
  internal/infra/cache/cache.go
  internal/infra/cache/cache_test.go
  internal/infra/state/cache_aware_entry.go
  internal/infra/state/cache_incremental.go
  internal/infra/state/cache_snapshotter.go
  internal/infra/state/cache_snapshotter_test.go
  internal/infra/state/cache_touch_persistence_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(EN-1353): protect ledger PVC/PV from accidental deletion (#567)
  misc/operator/README.md
  misc/operator/api/v1alpha1/ledger_types.go
  misc/operator/cmd/operator/main.go
  misc/operator/config/crd/bases/ledger.formance.com_ledgerservices.yaml
  misc/operator/config/rbac/role.yaml
  misc/operator/e2e/tests/pvc-deletion-protection/chainsaw-test.yaml
  misc/operator/e2e/tests/pvc-deletion-protection/ledgerservice.yaml
  misc/operator/helm/crds/templates/ledger.formance.com_ledgerservices.yaml
  misc/operator/helm/operator/templates/clusterrole.yaml
  misc/operator/helm/operator/templates/validatingadmissionpolicy.yaml
  misc/operator/helm/operator/values.yaml
  misc/operator/internal/controller/deletion_protection_test.go
  misc/operator/internal/controller/hash.go
  misc/operator/internal/controller/hash_test.go
  misc/operator/internal/controller/labels.go
  misc/operator/internal/controller/ledger_controller.go
  misc/operator/internal/controller/pv_protection.go
  misc/operator/internal/controller/pv_protection_test.go
  misc/operator/internal/controller/reconcile_statefulset.go
  misc/operator/internal/controller/reconcile_statefulset_test.go
  misc/operator/internal/controller/suite_test.go
  misc/operator/internal/controller/update_status_test.go
  misc/operator/justfile
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(EN-1353): protect ledger PVC/PV from accidental deletion (#567) (#1428)
  misc/operator/README.md
  misc/operator/api/v1alpha1/ledger_types.go
  misc/operator/cmd/operator/main.go
  misc/operator/config/crd/bases/ledger.formance.com_ledgerservices.yaml
  misc/operator/config/rbac/role.yaml
  misc/operator/e2e/tests/pvc-deletion-protection/chainsaw-test.yaml
  misc/operator/e2e/tests/pvc-deletion-protection/ledgerservice.yaml
  misc/operator/helm/crds/templates/ledger.formance.com_ledgerservices.yaml
  misc/operator/helm/operator/templates/clusterrole.yaml
  misc/operator/helm/operator/templates/validatingadmissionpolicy.yaml
  misc/operator/helm/operator/values.yaml
  misc/operator/internal/controller/deletion_protection_test.go
  misc/operator/internal/controller/hash.go
  misc/operator/internal/controller/hash_test.go
  misc/operator/internal/controller/labels.go
  misc/operator/internal/controller/ledger_controller.go
  misc/operator/internal/controller/pv_protection.go
  misc/operator/internal/controller/pv_protection_test.go
  misc/operator/internal/controller/reconcile_statefulset.go
  misc/operator/internal/controller/reconcile_statefulset_test.go
  misc/operator/internal/controller/suite_test.go
  misc/operator/internal/controller/update_status_test.go
  misc/operator/justfile
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: make operator-docker-build image overridable via env var
  justfile
Due: none

test(EN-1410): red regression for bloom boot-ordering bug
  internal/infra/state/cache_snapshotter_bloom_boot_ordering_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1410): synchronous bloom rebuild on the restart path
  internal/infra/state/cache_snapshotter.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(clickhouse): add color column to typed JSON posting schema
  internal/application/events/clickhouse_data_test.go
  internal/application/events/sink_clickhouse.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(antithesis): migrate workload to flat Account/PostCommitVolumes shape
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/reads.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/validate.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(e2e): drop residual GetVolumes()["USD"] + adapt color specs to UnsignedApplyRequest
  internal/domain/errors.go
  tests/e2e/business/color_numscript_test.go
  tests/e2e/business/color_segregation_test.go
  tests/e2e/business/idempotency_failure_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: post-rebase proto regen after Index registry extraction (#453)
  internal/proto/commonpb/common.pb.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: post-rebase fixups after EN-1378 + EN-868 + #569 + #573
  internal/adapter/http/handlers_aggregate_volumes_test.go
  internal/application/indexbuilder/backfill_test.go
  internal/domain/processing/processor_mirror_test.go
  internal/domain/processing/processor_posting_test.go
  internal/infra/state/sentinel_undefined_old_test.go
  internal/proto/commonpb/common.pb.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: post-rebase pass version.Info to NewHandler in aggregate test (#561)
  internal/adapter/http/handlers_aggregate_volumes_test.go
  internal/proto/commonpb/common.pb.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: post-rebase proto regen after per-replica forward index (#553)
  internal/proto/commonpb/common.pb.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(claude/antithesis-run): images push to $ANTITHESIS_REPOSITORY, not ECR
  .claude/skills/antithesis-run/SKILL.md
Due: none

fix(claude/antithesis-run): correct dirty-tree warning + sanitize description
  .claude/skills/antithesis-run/SKILL.md
Due: none

chore(claude): add antithesis-run skill + propagate tag override in Justfile
  .claude/skills/antithesis-run/SKILL.md
  tests/antithesis/Justfile
Due: none

perf(storage): per-ledger functional-index routing for sparse metadata queries
  docs/database/indexed-metadata-keys.md
  internal/ledger.go
  internal/storage/driver/driver.go
  internal/storage/ledger/resource_transactions.go
  internal/storage/ledger/store.go
  internal/storage/ledger/transactions_metadata_index_test.go
  internal/storage/ledger/transactions_sparse_wallet_sim_test.go
  pkg/features/features.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

perf(storage): address PR review on indexed-metadata-keys
  docs/database/indexed-metadata-keys.md
  internal/storage/driver/driver.go
  internal/storage/ledger/store.go
  internal/storage/ledger/transactions_metadata_index_test.go
  internal/storage/ledger/transactions_sparse_wallet_sim_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(storage): partial-index usability for INDEXED_METADATA_KEYS rewrite
  internal/storage/ledger/resource_transactions.go
  internal/storage/ledger/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(storage): preserve NULL semantics for negated indexed-metadata filters
  internal/storage/ledger/resource_transactions.go
  internal/storage/ledger/transactions_metadata_index_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(storage): make ResolveIndexedMetadataKeys handle errors internally
  internal/storage/driver/driver.go
  internal/storage/ledger/store.go
  internal/storage/ledger/transactions_metadata_index_test.go
  internal/storage/ledger/transactions_sparse_wallet_sim_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(storage): clone DefaultFeatures map in test helper to prevent data race
  internal/storage/ledger/transactions_metadata_index_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(storage): close three remaining review issues in INDEXED_METADATA_KEYS
  internal/storage/ledger/main_test.go
  internal/storage/ledger/store.go
  internal/storage/ledger/transactions_metadata_index_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(storage): reject invalid indexes and fix pg_get_expr predicate matching
  internal/storage/ledger/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs: fix indexed-metadata-keys guide to match actual API
  docs/database/indexed-metadata-keys.md
Due: none

chore: fix import ordering and regenerate internal/README.md
  internal/README.md
  internal/storage/ledger/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(storage): cover IndexedMetadataKeys fallback and ResolveIndexedMetadataKeys error path
  internal/storage/ledger/export_test.go
  internal/storage/ledger/transactions_metadata_index_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(storage): eliminate LIKE wildcard false-positives in index confirmation
  internal/storage/driver/driver.go
  internal/storage/ledger/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(color): surface malformed volume keys + emit empty color in receipts
  internal/application/ctrl/store.go
  internal/application/ctrl/store_color_test.go
  internal/infra/receipt/receipt.go
  internal/infra/receipt/receipt_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
