Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

fix: openapi
  .speakeasy/gen.yaml
  openapi.yml
  pkg/client/.speakeasy/gen.lock
  pkg/client/README.md
  pkg/client/docs/models/components/createtransactionrequest.md
  pkg/client/docs/models/components/data.md
  pkg/client/docs/models/components/nodeinfo.md
  pkg/client/docs/sdks/transactions/README.md
  pkg/client/formance.go
  pkg/client/models/components/createtransactionrequest.go
  pkg/client/models/components/createtransactionresponse.go
  pkg/client/models/components/nodeinfo.go
  pkg/client/transactions.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: storage configuration
  internal/bucket.go
  internal/raft/bucket/node.go
  internal/raft/system/fsm.go
  internal/service/log_store_clickhouse.go
  internal/service/log_store_file.go
  internal/service/log_store_postgres.go
  internal/service/log_store_sqlite.go
  internal/service/system_grpc_client.go
  internal/service/system_grpc_server.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: Add wizard on bucket creation
  AGENTS.md
  cmd/client/buckets_create.go
  internal/raft/bucket/node.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add some wizards
  cmd/client/buckets_create.go
  cmd/client/buckets_delete.go
  cmd/client/buckets_get.go
  cmd/client/buckets_snapshot.go
  cmd/client/ledgers.go
  cmd/client/ledgers_create.go
  cmd/client/ledgers_get.go
  internal/http/handlers_create_ledger.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add virtual directory for sqlite bases
  TODO
  internal/raft/bucket/node.go
  internal/raft/system/config.go
  internal/raft/system/fsm.go
  internal/service/bucket_storage.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: and for file storage
  cmd/client/buckets_create.go
  deployments/chart/templates/statefulset.yaml
  internal/http/handlers_create_bucket.go
  internal/raft/bucket/node.go
  internal/service/bucket_storage.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: remove useless code
  justfile
  scripts/wait-for-healthy.sh
Due: none

feat: implements additional storage
  internal/service/log_store_clickhouse.go
  internal/service/log_store_clickhouse_integration_test.go
  internal/service/log_store_file_integration_test.go
  internal/service/log_store_postgres.go
  internal/service/log_store_postgres_integration_test.go
  internal/service/log_store_sqlite.go
  internal/service/log_store_sqlite_integration_test.go
  internal/service/log_store_test_helpers.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove file storage
  cmd/client/buckets_create.go
  internal/bucket.go
  internal/http/handlers_create_bucket.go
  internal/raft/bucket/fsm.go
  internal/raft/bucket/node.go
  internal/service/balances_store_consolidated.go
  internal/service/bucket_storage.go
  internal/service/log_store_file.go
  internal/service/log_store_file_integration_test.go
  internal/service/log_store_sqlite.go
  internal/service/store.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: apply to durable storage on apply
  cmd/client/buckets_create.go
  internal/raft/bucket/fsm.go
  internal/raft/bucket/node.go
  internal/service/balances_store_consolidated.go
  internal/service/bucket_storage.go
  internal/service/log_reader_consolidated.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix missing struct tags
  docs/events/InsertedSchema.json
  internal/README.md
  internal/transaction_templates.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

use map, fix tx template readback, runtime overwriting
  docs/api/README.md
  internal/README.md
  internal/api/bulking/elements.go
  internal/controller/ledger/controller.go
  internal/controller/ledger/controller_default.go
  internal/storage/ledger/resource_transactions.go
  internal/transaction_templates.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/docs/models/components/v2schema.md
  pkg/client/docs/models/components/v2schemadata.md
  pkg/client/docs/models/components/v2transaction.md
  pkg/client/docs/models/components/v2transactiontemplate.md
  pkg/client/models/components/runtime.go
  pkg/client/models/components/v2posttransaction.go
  pkg/client/models/components/v2schema.go
  pkg/client/models/components/v2schemadata.go
  pkg/client/models/components/v2transaction.go
  pkg/client/models/components/v2transactiontemplate.go
  pkg/client/speakeasyusagegen/.speakeasy/logs/naming.log
  test/e2e/api_schema_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

respect schema enforcement mode
  internal/controller/ledger/controller_default.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

remove required for plain
  docs/api/README.md
  internal/controller/ledger/controller_default.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/docs/models/components/v2posttransactionscript.md
  pkg/client/docs/models/components/v2transaction.md
  pkg/client/docs/sdks/v2/README.md
  pkg/client/models/components/v2posttransaction.go
  pkg/client/models/components/v2transaction.go
  pkg/generate/generator.go
  test/e2e/api_ledgers_import_test.go
  test/e2e/api_schema_test.go
  test/e2e/api_transactions_create_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix migration numbers
  internal/storage/bucket/migrations/45-add-transaction-templates/notes.yaml
  internal/storage/bucket/migrations/45-add-transaction-templates/up.sql
Due: none

wip
  docs/api/README.md
  docs/events/InsertedSchema.json
  internal/README.md
  internal/api/bulking/elements.go
  internal/api/v2/controllers_transactions_create.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_default_test.go
  internal/errors.go
  internal/machine/vm/machine.go
  internal/machine/vm/run.go
  internal/schema.go
  internal/storage/bucket/migrations/44-add-schema/up.sql
  internal/transaction_templates.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/docs/models/components/v2posttransactionscript.md
  pkg/client/docs/models/components/v2schemadata.md
  pkg/client/docs/models/components/v2transactiontemplate.md
  pkg/client/docs/sdks/v2/README.md
  pkg/client/models/components/v2posttransaction.go
  pkg/client/models/components/v2schemadata.go
  pkg/client/models/components/v2transactiontemplate.go
  pkg/client/speakeasyusagegen/.speakeasy/logs/naming.log
  test/e2e/api_schema_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

keep in migration 44
  internal/storage/bucket/migrations/44-add-schema/up.sql
  internal/storage/bucket/migrations/45-add-transaction-templates/notes.yaml
  internal/storage/bucket/migrations/45-add-transaction-templates/up.sql
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/speakeasyusagegen/.speakeasy/logs/naming.log
Due: none

logs
  docs/api/README.md
  docs/events/CommittedTransactions.json
  docs/events/InsertedSchema.json
  docs/events/RevertedTransaction.json
  internal/README.md
  internal/api/v2/controllers_bulk_test.go
  internal/api/v2/views_test.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_default_test.go
  internal/machine/vm/machine.go
  internal/storage/bucket/migrations/43-add-transaction-templates/notes.yaml
  internal/storage/bucket/migrations/43-add-transaction-templates/up.sql
  internal/transaction.go
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/docs/models/components/v2schema.md
  pkg/client/models/components/v2schema.go
  pkg/client/speakeasyusagegen/.speakeasy/logs/naming.log
  test/e2e/api_schema_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

remove custom unmarshal, omit empty template
  docs/events/CommittedTransactions.json
  docs/events/InsertedSchema.json
  docs/events/RevertedTransaction.json
  internal/README.md
  internal/api/v2/controllers_bulk_test.go
  internal/api/v2/views_test.go
  internal/controller/ledger/controller_default.go
  internal/schema.go
  internal/transaction.go
  internal/transaction_templates.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(cors): missing allowed headers (#1184)
  internal/api/router.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(cors): missing allowed headers (#1183)
  internal/api/router.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

force presence of `transactions`, omitempty on vm.Script
  docs/api/README.md
  internal/machine/vm/run.go
  internal/schema.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/docs/models/components/v2schema.md
  pkg/client/docs/models/components/v2schemadata.md
  pkg/client/docs/sdks/v2/README.md
  pkg/client/models/components/v2schema.go
  pkg/client/models/components/v2schemadata.go
  test/e2e/api_idempotency_hit_header_test.go
  test/e2e/api_schema_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix test
  internal/storage/ledger/schema_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: add som docs
  AGENTS.md
  docs/README.md
  docs/advanced-concepts.md
  docs/api.md
  docs/architecture.md
  docs/buckets-ledgers.md
  docs/data-flows.md
  docs/deployment.md
  docs/development.md
  docs/raft-consensus.md
  docs/storage.md
  docs/testing.md
Due: none

feat: remove postgres storage (not adapted to raft) and fix doc typos
  .speakeasy/gen.yaml
  cmd/client/buckets_create.go
  docs/README.md
  docs/architecture.md
  docs/buckets-ledgers.md
  docs/deployment.md
  docs/development.md
  docs/storage.md
  internal/bucket.go
  internal/raft/bucket/bucket_commands.pb.go
  internal/raft/bucket/node.go
  internal/raft/commands.pb.go
  internal/raft/raft_transport.pb.go
  internal/raft/raft_transport_grpc.pb.go
  internal/raft/system/system_commands.pb.go
  internal/service/bucket.pb.go
  internal/service/bucket_grpc.pb.go
  internal/service/bucket_storage.go
  internal/service/common.pb.go
  internal/service/ledger_default.go
  internal/service/log_store_postgres.go
  internal/service/log_store_postgres_integration_test.go
  internal/service/system.pb.go
  internal/service/system_grpc.pb.go
  openapi.yml
  pkg/client/.speakeasy/gen.lock
  pkg/client/docs/models/components/bucketinfo.md
  pkg/client/docs/models/components/bucketwithraftstate.md
  pkg/client/docs/models/components/createbucketrequest.md
  pkg/client/docs/sdks/buckets/README.md
  pkg/client/formance.go
  pkg/client/models/components/bucketinfo.go
  pkg/client/models/components/bucketwithraftstate.go
  pkg/client/models/components/createbucketrequest.go
  proto/commands/system_commands.proto
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

remove custom transactionSummary type and inline struct
  internal/api/v2/views.go
  internal/controller/ledger/controller_with_traces.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

rename GetTransactionsSum methods to GetTransactionsSummary
  internal/api/bulking/mocks_ledger_controller_test.go
  internal/api/common/mocks_ledger_controller_test.go
  internal/api/v1/mocks_ledger_controller_test.go
  internal/api/v2/controllers_transactions_summary.go
  internal/api/v2/controllers_transactions_summary_test.go
  internal/api/v2/mocks_ledger_controller_test.go
  internal/controller/ledger/controller.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_generated_test.go
  internal/controller/ledger/controller_with_traces.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: properly handle snapshot restoration
  internal/raft/bucket/fsm.go
  internal/raft/fsm.go
  internal/raft/node.go
  internal/raft/spool.go
  internal/raft/syncer.go
  internal/raft/system/fsm.go
  tests/e2e/replica_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: split some handler and add capacity to target local node when asking for the cluster state
  .speakeasy/gen.yaml
  AGENTS.md
  cmd/client/buckets.go
  cmd/client/buckets_get.go
  internal/application/module.go
  internal/http/handler.go
  internal/http/handlers_get_bucket.go
  internal/http/handlers_get_bucket_raft_state.go
  internal/service/cluster.go
  openapi.yml
  pkg/client/.speakeasy/gen.lock
  pkg/client/README.md
  pkg/client/buckets.go
  pkg/client/docs/models/components/bucketwithraftstate.md
  pkg/client/docs/models/components/clusterstate.md
  pkg/client/docs/models/components/getbucketresponse.md
  pkg/client/docs/sdks/buckets/README.md
  pkg/client/formance.go
  pkg/client/models/components/bucketwithraftstate.go
  pkg/client/models/components/clusterstate.go
  pkg/client/models/components/getbucketresponse.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: expose internal state through endpoints
  .speakeasy/gen.yaml
  cmd/client/cluster.go
  internal/cluster_state.go
  internal/raft/bucket/fsm.go
  internal/raft/bucket/node.go
  internal/raft/fsm.go
  internal/raft/node.go
  internal/raft/syncer.go
  internal/raft/system/fsm.go
  internal/raft/system/node.go
  internal/service/cluster.go
  openapi.yml
  pkg/client/.speakeasy/gen.lock
  pkg/client/buckets.go
  pkg/client/docs/models/components/clusterstateresponsedata.md
  pkg/client/docs/models/components/state.md
  pkg/client/docs/sdks/buckets/README.md
  pkg/client/formance.go
  pkg/client/models/components/clusterstateresponse.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: complete test
  internal/raft/bucket/fsm.go
  tests/e2e/replica_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: snapshot replay
  internal/raft/bucket/fsm.go
  internal/raft/bucket/node.go
  internal/raft/node.go
  internal/raft/spool.go
  internal/raft/syncer.go
  internal/raft/system/fsm.go
  internal/service/bucket.pb.go
  internal/service/bucket_grpc_client.go
  internal/service/bucket_grpc_server.go
  internal/service/cluster.go
  internal/service/log_store_clickhouse.go
  internal/service/log_store_clickhouse_integration_test.go
  internal/service/log_store_sqlite.go
  internal/service/log_store_sqlite_integration_test.go
  internal/service/store.go
  proto/bucket.proto
  tests/e2e/replica_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: chart and bucket deletion
  deployments/chart/templates/_helpers.tpl
  deployments/chart/templates/statefulset.yaml
  internal/raft/bucket/fsm.go
  internal/raft/system/fsm.go
  tests/e2e/replica_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: update doc
  AGENTS.md
  docs/advanced-concepts.md
  docs/api.md
  docs/storage.md
Due: none

fix: doc and add prefix api to be compatible with ledger benchmark tool
  docs/api.md
  docs/storage.md
  internal/http/handler.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add auto creation of buckets
  TODO
  internal/application/module.go
  internal/errors.go
  internal/http/handlers_create_ledger.go
  internal/log.go
  internal/raft/system/fsm.go
  internal/raft/system/node.go
  internal/service/bucket_grpc_server.go
  internal/service/log_store_sqlite_integration_test.go
  internal/service/log_store_test_helpers.go
  justfile
  openapi.yml
  tests/e2e/replica_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: add mailmap to clean git shortlog
  .mailmap
  test/performance/pkg/write/export
Due: none

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
