Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

fix(EN-1379): propagate coverage misses from ValidateTransientVolumes
  internal/infra/state/write_set.go
  internal/infra/state/write_set_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(EN-1379): scope the forbidigo guidance and the coverage.go exclusion
  .golangci.yaml
Due: none

docs(EN-1379): drop the unreachable idempotency surface from the coverage doc
  internal/domain/coverage.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(EN-1379): state the FSM error-identity hash rule once, not per ticket
  docs/ops/deployment.md
  docs/technical/architecture/subsystems/fsm/coverage-gate.md
Due: none

chore(EN-1379): forbid bare ErrStorageOperation construction outside domain.StoreFailure
  .golangci.yaml
Due: none

fix(EN-1379): route the DeleteLedger cascade faults through domain.StoreFailure
  internal/domain/processing/processor_ledger.go
  internal/infra/state/write_set.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1515): verify signing projections on the empty-audit path
  internal/application/check/checker.go
  internal/application/check/signing_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(indexbuilder): scope the generic backfill replay to the task's ledger (#1671)
  internal/application/indexbuilder/backfill.go
  internal/application/indexbuilder/backfill_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(EN-1565): fix admission pipeline extract->resolve order
  docs/technical/architecture/subsystems/admission/pipeline.md
Due: none

docs(EN-1565): replace dangling AGENTS.md citations in the pipeline page
  docs/technical/architecture/subsystems/admission/pipeline.md
Due: none

docs(EN-1565): correct the extractMirrorNeeds anchor
  docs/technical/architecture/subsystems/events-mirror/mirror.md
Due: none

docs(EN-1565): distinguish seed from coverage-only entries in invariant #6
  AGENTS.md
Due: none

docs(EN-1515): record that signing verification runs on the empty-audit path
  AGENTS.md
  docs/technical/architecture/subsystems/checker/checker.md
Due: none

docs(EN-1565): correct the WriteOperation no-read doc comment
  internal/infra/plan/write_operation.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1597): honor absolute SeekGE/SeekLE reposition-after-exhaustion in read-store iterators (#1635)
  docs/technical/architecture/subsystems/read-path/README.md
  docs/technical/architecture/subsystems/read-path/iterator-seek-contract.md
  docs/technical/architecture/subsystems/read-path/prepared-queries.md
  docs/technical/architecture/subsystems/read-path/query-pipeline.md
  internal/storage/readstore/iterator_address.go
  internal/storage/readstore/iterator_address_test.go
  internal/storage/readstore/iterator_and.go
  internal/storage/readstore/iterator_and_seek_test.go
  internal/storage/readstore/iterator_bitset.go
  internal/storage/readstore/iterator_floor.go
  internal/storage/readstore/iterator_floor_test.go
  internal/storage/readstore/iterator_leaf.go
  internal/storage/readstore/iterator_leaf_test.go
  internal/storage/readstore/iterator_not.go
  internal/storage/readstore/iterator_or.go
  internal/storage/readstore/iterator_or_seek_test.go
  internal/storage/readstore/iterator_pebble.go
  internal/storage/readstore/iterator_reverse.go
  internal/storage/readstore/iterator_reverse_or.go
  internal/storage/readstore/paginate.go
  tests/e2e/business/filter_nested_not_reposition_test.go
  tests/e2e/business/reverted_filter_contradiction_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1515): bound the live signing fold and suppress unsound comparisons
  AGENTS.md
  docs/technical/architecture/subsystems/checker/checker.md
  internal/application/check/checker.go
  internal/application/check/signing.go
  internal/application/check/signing_fold_window_test.go
  internal/application/check/signing_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(EN-1565): scope the cache_epoch gate and the predicted-index append
  docs/technical/architecture/subsystems/fsm/preload.md
Due: none

fix(EN-1515): apply the fresh-log window to the archived signing fold too
  AGENTS.md
  docs/technical/architecture/subsystems/checker/checker.md
  internal/application/check/signing.go
  internal/application/check/signing_fold_window_test.go
  internal/application/check/signing_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(http): enforce exact-one typed log response in unitary handlers (EN-1537) (#1639)
  internal/adapter/http/handlers_create_ledger.go
  internal/adapter/http/handlers_create_ledger_test.go
  internal/adapter/http/handlers_create_transaction.go
  internal/adapter/http/handlers_create_transaction_test.go
  internal/adapter/http/handlers_promote_ledger.go
  internal/adapter/http/handlers_promote_ledger_test.go
  internal/adapter/http/handlers_revert_transaction.go
  internal/adapter/http/handlers_revert_transaction_test.go
  internal/adapter/http/handlers_save_numscript.go
  internal/adapter/http/handlers_save_numscript_test.go
  internal/adapter/http/middleware_recoverer_test.go
  internal/adapter/http/test_helpers_test.go
  internal/adapter/http/unitary_log.go
  internal/adapter/http/unitary_log_test.go
  internal/adapter/http/unreachable.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1515): cascade over the union of both parent edges
  AGENTS.md
  docs/technical/architecture/subsystems/checker/checker.md
  internal/application/check/checker.go
  internal/application/check/signing.go
  internal/application/check/signing_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1379): surface coverage misses instead of wrapping them as storage faults (#1647)
  .golangci.yaml
  docs/ops/deployment.md
  docs/technical/architecture/subsystems/fsm/coverage-gate.md
  docs/technical/contributing/api-comparison.md
  internal/application/admission/admission.go
  internal/domain/coverage.go
  internal/domain/coverage_test.go
  internal/domain/processing/coverage_propagation_test.go
  internal/domain/processing/processor.go
  internal/domain/processing/processor_apply.go
  internal/domain/processing/processor_events_sink.go
  internal/domain/processing/processor_index.go
  internal/domain/processing/processor_ledger.go
  internal/domain/processing/processor_ledger_metadata.go
  internal/domain/processing/processor_metadata.go
  internal/domain/processing/processor_metadata_schema.go
  internal/domain/processing/processor_mirror.go
  internal/domain/processing/processor_numscript_library.go
  internal/domain/processing/processor_posting.go
  internal/domain/processing/processor_prepared_query.go
  internal/domain/processing/processor_revert_transaction.go
  internal/domain/processing/processor_skippable.go
  internal/domain/processing/processor_transaction.go
  internal/domain/processing/processor_transaction_numscript.go
  internal/domain/processing/processor_transaction_numscript_stale_test.go
  internal/domain/processing/processor_volumes.go
  internal/domain/processing/scope_helpers.go
  internal/infra/state/audit_test.go
  internal/infra/state/scope.go
  internal/infra/state/scope_unit_test.go
  internal/infra/state/write_set.go
  internal/infra/state/write_set_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(EN-1551): remove never-populated PreviewRestoreResponse fields (#1670)
  internal/proto/restorepb/restore.pb.go
  internal/proto/restorepb/restore_reader.pb.go
  internal/proto/restorepb/restore_vtproto.pb.go
  misc/proto/restore.proto
  tests/e2e/cluster/restore_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(EN-1565): update preload documentation after the Coverage refactor (#1648)
  .claude/skills/root-cause/SKILL.md
  AGENTS.md
  docs/technical/architecture-overview.md
  docs/technical/architecture/audit-vs-technical-state.md
  docs/technical/architecture/subsystems/admission/admission-cache-horizon.md
  docs/technical/architecture/subsystems/admission/idempotency.md
  docs/technical/architecture/subsystems/admission/pipeline.md
  docs/technical/architecture/subsystems/attributes/attributes.md
  docs/technical/architecture/subsystems/consensus/removed-member-registry.md
  docs/technical/architecture/subsystems/events-mirror/mirror.md
  docs/technical/architecture/subsystems/fsm/README.md
  docs/technical/architecture/subsystems/fsm/cache-layers.md
  docs/technical/architecture/subsystems/fsm/coverage-gate.md
  docs/technical/architecture/subsystems/fsm/preload.md
  docs/technical/architecture/subsystems/scripting/numscript-library.md
  internal/infra/plan/write_operation.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(mirror): generate MockSource for v2.Source
  internal/adapter/v2/source.go
  internal/adapter/v2/source_generated.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(EN-1513)!: remove MirrorSyncUpdate.cursor from the raft proto
  internal/proto/commonpb/common.pb.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/raftcmdpb/raft_cmd_reader.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  misc/proto/common.proto
  misc/proto/raft_cmd.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(EN-1513): drop mirror cursor from the FSM write path
  internal/infra/state/batch.go
  internal/infra/state/machine_technical_updates.go
  internal/infra/state/write_set.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(EN-1513): drop cursor references from state and processing tests
  internal/domain/processing/processor_mirror.go
  internal/domain/processing/processor_mirror_test.go
  internal/infra/state/machine_technical_updates_test.go
  internal/infra/state/scope_test.go
  internal/infra/state/write_set_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(EN-1513)!: bump storage schema version to 3
  internal/bootstrap/config_validation.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(mirror): add worker test scaffolding
  internal/application/mirror/helpers_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(EN-1513): reserve per-ledger sub-prefix 0x05, drop dump case
  cmd/ledgerctl/store/dump.go
  internal/storage/dal/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(EN-1513): derive mirror sync progress from the applied boundary
  internal/application/ctrl/controller_default.go
  internal/query/mirror.go
  internal/query/mirror_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(EN-1513): resume mirror ingestion from the audited applied boundary
  internal/application/mirror/helpers_test.go
  internal/application/mirror/worker.go
  internal/application/mirror/worker_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(EN-1513): cover prefetch position validation in the mirror worker
  internal/application/mirror/worker_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(EN-1513): document the boundary as the sole mirror position authority
  AGENTS.md
  docs/technical/architecture/audit-vs-technical-state.md
  docs/technical/architecture/overview.md
  docs/technical/architecture/subsystems/checker/README.md
  docs/technical/architecture/subsystems/checker/audit-chain.md
  docs/technical/architecture/subsystems/events-mirror/mirror.md
  docs/technical/architecture/subsystems/storage/storage-drivers.md
  internal/infra/plan/write_operation.go
  internal/infra/state/batch.go
  internal/infra/state/machine_technical_updates.go
  internal/infra/state/write_set.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(EN-1513)!: remove persisted MirrorCursor, resume from the audited applied boundary (#1643)
  AGENTS.md
  cmd/ledgerctl/store/dump.go
  docs/technical/architecture/audit-vs-technical-state.md
  docs/technical/architecture/overview.md
  docs/technical/architecture/subsystems/checker/README.md
  docs/technical/architecture/subsystems/checker/audit-chain.md
  docs/technical/architecture/subsystems/events-mirror/mirror.md
  docs/technical/architecture/subsystems/storage/storage-drivers.md
  internal/adapter/v2/source.go
  internal/adapter/v2/source_generated.go
  internal/application/ctrl/controller_default.go
  internal/application/mirror/helpers_test.go
  internal/application/mirror/worker.go
  internal/application/mirror/worker_test.go
  internal/bootstrap/config_validation.go
  internal/domain/processing/processor_mirror.go
  internal/domain/processing/processor_mirror_test.go
  internal/infra/plan/write_operation.go
  internal/infra/state/batch.go
  internal/infra/state/machine_technical_updates.go
  internal/infra/state/machine_technical_updates_test.go
  internal/infra/state/scope_test.go
  internal/infra/state/write_set.go
  internal/infra/state/write_set_test.go
  internal/proto/commonpb/common.pb.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/raftcmdpb/raft_cmd_reader.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  internal/query/mirror.go
  internal/query/mirror_test.go
  internal/storage/dal/store.go
  misc/proto/common.proto
  misc/proto/raft_cmd.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1515): report malformed signing-key rows instead of panicking at boot
  internal/infra/state/recovery.go
  internal/query/signing.go
  internal/query/signing_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1515): keep the unsigned bootstrap path shut on undecodable signing rows
  docs/ops/signing.md
  internal/application/admission/admission.go
  internal/application/admission/authorize_unsigned_batch_test.go
  internal/domain/crypto/keystore/keystore.go
  internal/infra/state/recovery.go
  internal/infra/state/recovery_signing_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1515): reject non-32-byte signing key public keys at admission
  internal/application/admission/errors.go
  internal/application/admission/request_to_order_test.go
  internal/application/admission/validate_order.go
  internal/application/admission/validate_order_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(EN-1515): pin that boot survives a malformed signing key row
  internal/infra/state/recovery_signing_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1515): delete revoked signing keys during restore rebuild
  internal/infra/backup/rebuild.go
  internal/infra/backup/rebuild_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests
