Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

fix: configure sequences after import
  internal/controller/system/state_tracker.go
  test/e2e/api_ledgers_import_test.go
  test/e2e/app_lifecycle_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: extract compute_hash function
  internal/storage/bucket/migrations/35-create-compute-hash-function/notes.yaml
  internal/storage/bucket/migrations/35-create-compute-hash-function/up.sql
  internal/storage/bucket/migrations/36-accounts-recreate-unique-index/notes.yaml
  internal/storage/bucket/migrations/36-accounts-recreate-unique-index/up.sql
  internal/storage/bucket/migrations/37-clean-database/notes.yaml
  internal/storage/bucket/migrations/37-clean-database/up.sql
  internal/storage/bucket/migrations/38-logs-async-hash-procedure/notes.yaml
  internal/storage/bucket/migrations/38-logs-async-hash-procedure/up.sql
Due: none

feat: extract compute_hash function (#929)
  internal/storage/bucket/migrations/35-create-compute-hash-function/notes.yaml
  internal/storage/bucket/migrations/35-create-compute-hash-function/up.sql
  internal/storage/bucket/migrations/36-accounts-recreate-unique-index/notes.yaml
  internal/storage/bucket/migrations/36-accounts-recreate-unique-index/up.sql
  internal/storage/bucket/migrations/37-clean-database/notes.yaml
  internal/storage/bucket/migrations/37-clean-database/up.sql
  internal/storage/bucket/migrations/38-logs-async-hash-procedure/notes.yaml
  internal/storage/bucket/migrations/38-logs-async-hash-procedure/up.sql
Due: none

fix: pagination with custom column (transaction list)
  internal/storage/ledger/paginator_column.go
  internal/storage/ledger/paginator_offset.go
  test/e2e/api_transactions_list_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: pagination with custom column (transaction list)
  internal/storage/common/paginator_column.go
  internal/storage/common/paginator_offset.go
  test/e2e/api_transactions_list_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add capability to specify 'force' parameter on bulkd endpoint when creating transactions
  docs/api/README.md
  internal/api/bulking/bulker.go
  internal/api/bulking/elements.go
  internal/api/v2/controllers_transactions_create.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/docs/models/components/v2posttransaction.md
  pkg/client/docs/models/operations/v2createtransactionrequest.md
  pkg/client/models/components/v2posttransaction.go
  pkg/client/models/operations/v2createtransaction.go
  test/e2e/api_bulk_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add capability to specify 'force' parameter on bulkd endpoint when creating transactions (#939)
  docs/api/README.md
  internal/api/bulking/bulker.go
  internal/api/bulking/elements.go
  internal/api/v2/controllers_transactions_create.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/docs/models/components/v2posttransaction.md
  pkg/client/docs/models/operations/v2createtransactionrequest.md
  pkg/client/models/components/v2posttransaction.go
  pkg/client/models/operations/v2createtransaction.go
  test/e2e/api_bulk_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: image-pull-policy ignored
  deployments/pulumi/pkg/config/config.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: image-pull-policy ignored (#940)
  deployments/pulumi/pkg/config/config.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: remove useless bucket features
  .golangci.yml
  CONTRIBUTING.md
  cmd/docs_flags.go
  cmd/serve.go
  deployments/pulumi/.golangci.yml
  deployments/pulumi/pkg/config/config.go
  deployments/pulumi/pkg/storage/component_rds.go
  flake.lock
  flake.nix
  internal/README.md
  internal/api/bulking/text_stream.go
  internal/api/common/errors.go
  internal/api/common/middleware_resolver.go
  internal/controller/ledger/listener_generated_test.go
  internal/controller/system/state_tracker.go
  internal/ledger_test.go
  internal/posting.go
  internal/storage/bucket/bucket_generated_test.go
  internal/storage/bucket/default_bucket.go
  internal/storage/bucket/migrations/39-clean-useless-features/notes.yaml
  internal/storage/bucket/migrations/39-clean-useless-features/up.sql
  internal/storage/driver/buckets_generated_test.go
  internal/storage/ledger/accounts.go
  internal/storage/ledger/resource_accounts.go
  internal/storage/ledger/resource_aggregated_balances.go
  internal/storage/ledger/resource_logs.go
  internal/storage/ledger/resource_transactions.go
  internal/storage/ledger/resource_volumes.go
  internal/storage/ledger/store.go
  internal/storage/ledger/transactions.go
  internal/storage/ledger/utils.go
  pkg/features/features.go
  test/e2e/api_accounts_metadata_test.go
  test/e2e/api_bulk_test.go
  test/e2e/api_transactions_create_test.go
  test/e2e/api_transactions_revert_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: dependabot config
  .github/dependabot.yml
Due: none

feat: add to group all dependencies
  .github/dependabot.yml
Due: none

fix: dependabot config (#943)
  .github/dependabot.yml
Due: none

fix: allow to update indirect dependencies
  .github/dependabot.yml
Due: none

chore: remove useless bucket features (#917)
  .golangci.yml
  CONTRIBUTING.md
  cmd/docs_flags.go
  cmd/serve.go
  deployments/pulumi/.golangci.yml
  deployments/pulumi/pkg/config/config.go
  deployments/pulumi/pkg/storage/component_rds.go
  flake.lock
  flake.nix
  internal/README.md
  internal/api/bulking/text_stream.go
  internal/api/common/errors.go
  internal/api/common/middleware_resolver.go
  internal/controller/ledger/listener_generated_test.go
  internal/controller/system/state_tracker.go
  internal/ledger_test.go
  internal/posting.go
  internal/storage/bucket/bucket_generated_test.go
  internal/storage/bucket/default_bucket.go
  internal/storage/bucket/migrations/39-clean-useless-features/notes.yaml
  internal/storage/bucket/migrations/39-clean-useless-features/up.sql
  internal/storage/driver/buckets_generated_test.go
  internal/storage/ledger/accounts.go
  internal/storage/ledger/resource_accounts.go
  internal/storage/ledger/resource_aggregated_balances.go
  internal/storage/ledger/resource_logs.go
  internal/storage/ledger/resource_transactions.go
  internal/storage/ledger/resource_volumes.go
  internal/storage/ledger/store.go
  internal/storage/ledger/transactions.go
  internal/storage/ledger/utils.go
  pkg/features/features.go
  test/e2e/api_accounts_metadata_test.go
  test/e2e/api_bulk_test.go
  test/e2e/api_transactions_create_test.go
  test/e2e/api_transactions_revert_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: previous migration
  internal/storage/bucket/migrations/39-clean-useless-features/up.sql
Due: none

fix: set not null on some columns
  internal/storage/bucket/migrations/37-clean-useless-features/notes.yaml
  internal/storage/bucket/migrations/37-clean-useless-features/up.sql
  internal/storage/bucket/migrations/40-refine-columns-types/notes.yaml
  internal/storage/bucket/migrations/40-refine-columns-types/up.sql
Due: none

chore: remove useless bucket features
  internal/storage/bucket/migrations/37-clean-useless-features/notes.yaml
  internal/storage/bucket/migrations/37-clean-useless-features/up.sql
Due: none

fix: set not null on some columns (#930)
  internal/storage/bucket/migrations/39-clean-useless-features/up.sql
  internal/storage/bucket/migrations/40-refine-columns-types/notes.yaml
  internal/storage/bucket/migrations/40-refine-columns-types/up.sql
Due: none

fix: allow to update indirect dependencies (#945)
  .github/dependabot.yml
Due: none

fix: dependabot/go_modules/all-93e8bf66ab
  .github/dependabot.yml
  deployments/pulumi/go.mod
  deployments/pulumi/go.sum
  test/rolling-upgrades/go.mod
  test/rolling-upgrades/go.sum
  tools/generator/go.mod
  tools/generator/go.sum
Due: none

fix: invalid state assigned
  internal/controller/system/state_tracker.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: pagination with custom column (transaction list) (#937)
  internal/storage/common/paginator_column.go
  internal/storage/common/paginator_offset.go
  test/e2e/api_transactions_list_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add grpc connector
  Justfile
  cmd/serve.go
  cmd/worker.go
  flake.nix
  internal/README.md
  internal/api/common/mocks_system_controller_test.go
  internal/api/v1/mocks_system_controller_test.go
  internal/api/v2/mocks_system_controller_test.go
  internal/controller/system/connectors_generated.go
  internal/controller/system/controller.go
  internal/controller/system/module.go
  internal/controller/system/store.go
  internal/pipeline.go
  internal/replication/connectors.go
  internal/replication/connectors_generated.go
  internal/replication/controller_backend_grpc.go
  internal/replication/driver_facade.go
  internal/replication/grpc/replication_service.pb.go
  internal/replication/grpc/replication_service.proto
  internal/replication/grpc/replication_service_grpc.pb.go
  internal/replication/manager.go
  internal/replication/manager_test.go
  internal/replication/mapping.go
  internal/replication/module.go
  internal/replication/pipeline.go
  internal/replication/pipeline_test.go
  internal/replication/replication_service_impl.go
  internal/replication/runner.go
  internal/replication/store.go
  internal/replication/store_generated_test.go
  internal/replication/utils_test.go
  internal/storage/system/store.go
  internal/worker/module.go
  test/e2e/api_connectors_create_test.go
  test/e2e/api_pipelines_create_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: reset in case of stopped pipeline
  internal/replication/manager.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: proto
  internal/replication/grpc/replication_service.proto
  internal/replication/pipeline.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add sync of pipelines at regular interval
  cmd/worker.go
  internal/controller/system/errors.go
  internal/replication/manager.go
  internal/replication/manager_test.go
  internal/replication/module.go
  internal/replication/pipeline.go
  internal/replication/pipeline_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add grpc
  cmd/worker.go
  deployments/pulumi/pkg/api/component.go
  deployments/pulumi/pkg/api/deployment.go
  deployments/pulumi/pkg/component.go
  deployments/pulumi/pkg/worker/component.go
  deployments/pulumi/pkg/worker/deployment.go
  deployments/pulumi/pkg/worker/service.go
  go.mod
  go.sum
  internal/controller/system/adapters.go
  internal/controller/system/errors.go
  internal/replication/controller_backend_grpc.go
  internal/replication/controller_grpc_client.go
  internal/replication/controller_grpc_server.go
  internal/replication/drivers/clickhouse/driver.go
  internal/replication/manager.go
  internal/replication/manager_test.go
  internal/replication/module.go
  internal/replication/pipeline.go
  internal/replication/store_generated_test.go
  internal/storage/system/store_test.go
  internal/worker/module.go
  pkg/testserver/ginkgo/helpers.go
  pkg/testserver/server.go
  test/e2e/api_pipelines_create_test.go
  test/e2e/suite_test.go
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: properly handle uint64 at grpc level
  internal/README.md
  internal/pipeline.go
  internal/replication/grpc/replication_service.pb.go
  internal/replication/grpc/replication_service.proto
  internal/replication/manager.go
  internal/replication/mapping.go
  internal/replication/pipeline.go
  internal/replication/pipeline_test.go
  internal/replication/store.go
  internal/replication/store_generated_test.go
  internal/storage/system/store.go
  internal/storage/system/store_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: remove dead code
  internal/controller/ledger/controller_with_traces.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
