Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

fix: remove minimum balance for all balances operation (#227)
  pkg/api/controllers/swagger.yaml
Due: gosdk

fix: mapping ignore destinations accounts
  pkg/ledger/execute_script_test.go
  pkg/ledger/execute_txsdata.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: Ledger: openapi numscript vars example
  pkg/api/controllers/swagger.yaml
Due: gosdk

chore: Ledger: deprecation message for sqlite (#245)
  cmd/root.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

ci: Add Control
  .github/workflows/release.yml
Due: none

ci: rework Dockerfile for Ledger
  Dockerfile
Due: none

feat(Ledger): Add Auto-upgrade when libs is updated (#249)
  libs/.github/dependabot.yml
  libs/.github/workflows/codeql.yml
  libs/.github/workflows/main.yml
  libs/.github/workflows/pr-open.yml
  libs/.gitignore
  libs/.gitrepo
  libs/.golangci.yml
  libs/.pre-commit-config.yaml
  libs/README.md
Due: none

ci: Add build.Dockerfile & Use in GoReleaser
  .goreleaser.yml
  build.Dockerfile
Due: none

feat: Update config for release
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_sdk_template.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .github/dependabot.yml 
  .github/labeler.yml
  .github/workflows/benchmarks.yaml
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  .github/workflows/pr_open_target.yml
  .github/workflows/release.yml
  .github/workflows/template_build-control.yaml
  .github/workflows/template_docker.yaml
  .github/workflows/template_goreleaser-build.yaml
  .github/workflows/template_goreleaser-release.yaml
  .github/workflows/template_sdk-generate.yaml
  .github/workflows/template_sdk-publish.yaml
  .goreleaser.yml
  Dockerfile
  build.Dockerfile
Due: none

ci: Update main.yml
  .github/workflows/main.yml
Due: none

Merge commit '5a3ba95095ce2e30c3bf224d921d4e32633a0b6a'
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_sdk_template.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .github/dependabot.yml 
  .github/labeler.yml
  .github/workflows/benchmarks.yaml
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  .github/workflows/pr_open_target.yml
  .github/workflows/template_build-control.yaml
  .github/workflows/template_docker.yaml
  .github/workflows/template_goreleaser-build.yaml
  .github/workflows/template_goreleaser-release.yaml
  .github/workflows/template_sdk-generate.yaml
  .github/workflows/template_sdk-publish.yaml
  .goreleaser.yml
  Dockerfile
Due: none

feat(Numscript): Send monetary with arithmetic (#215)
  pkg/core/value.go
  pkg/machine/script/compiler/compiler.go
  pkg/machine/script/compiler/compiler_test.go
  pkg/machine/script/compiler/source.go
  pkg/machine/vm/machine.go
  pkg/machine/vm/machine_test.go
  pkg/machine/vm/program/instructions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

ci: Upgrade
  .github/workflows/main.yml
  .github/workflows/template_sdk-publish.yaml
  sdk/configs/python.yaml
  sdk/configs/typescript-node.yaml
Due: none

ci: Update Dockerfile flow
  .github/workflows/template_sdk-publish.yaml
  Dockerfile
Due: none
