Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

feat(grpc): add skip_response on ApplyRequest (#90)
  docs/dev/api-comparison.md
  docs/dev/architecture/grpc-api.md
  internal/adapter/grpc/server_bucket.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  misc/proto/bucket.proto
  tests/e2e/business/skip_response_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: transient accounts (#71)
  cmd/ledgerctl/accounttypes/add.go
  cmd/ledgerctl/accounttypes/get.go
  cmd/ledgerctl/accounttypes/list.go
  cmd/ledgerctl/ledgers/configuration.go
  cmd/server/server.go
  docs/dev/api-comparison.md
  docs/ops/cli.md
  docs/ops/monitoring.md
  internal/adapter/grpc/errors.go
  internal/application/admission/admission.go
  internal/application/check/checker.go
  internal/application/check/checker_extra_test.go
  internal/domain/errors.go
  internal/infra/attributes/key_store.go
  internal/infra/bloom/bloom.go
  internal/infra/preload/needs.go
  internal/infra/preload/preloader.go
  internal/infra/preload/resolve.go
  internal/infra/state/buffer.go
  internal/infra/state/buffer_ephemeral_purge.go
  internal/infra/state/buffer_ephemeral_purge_test.go
  internal/infra/state/cache_snapshotter.go
  internal/infra/state/cache_snapshotter_test.go
  internal/infra/state/machine.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/storage/dal/store.go
  misc/devenv/monitoring-dashboards/config/dashboards/ledger-metrics.json
  misc/proto/common.proto
  openapi.yml
  pkg/actions/actions.go
  pkg/scenario/multi_ledger_payroll.go
  tests/e2e/business/ephemeral_purge_test.go
  tests/e2e/business/transient_accounts_test.go
  tests/scenarios/multi_ledger_payroll/multi_ledger_payroll_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(checker): treat zero-balanced volumes as equivalent to absent (#96)
  internal/application/check/checker.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(dashboards): use existing namespace instead of creating one
  misc/devenv/monitoring-dashboards/main.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(pyroscope): add cluster_id tag to profiles
  cmd/server/server.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(perf): replace Helm chart with Pulumi program
  misc/devenv/README.md
  misc/devenv/acme.yaml
  misc/devenv/benchmark.yaml
  misc/devenv/testing/Pulumi.acme.yaml
  misc/devenv/testing/Pulumi.yaml
  misc/devenv/testing/main.go
  misc/devenv/testing/pulumiutil/helpers.go
  misc/devenv/testing/pulumiutil/k8s.go
  tests/perf/.gitignore
  tests/perf/Pulumi.acme.yaml
  tests/perf/Pulumi.devenv.yaml
  tests/perf/Pulumi.yaml
  tests/perf/README.md
  tests/perf/go.mod
  tests/perf/go.sum
  tests/perf/justfile
  tests/perf/main.go
  tests/perf/run-chart/.helmignore
  tests/perf/run-chart/Chart.yaml
  tests/perf/run-chart/templates/_helpers.tpl
  tests/perf/run-chart/templates/benchmark.yaml
  tests/perf/run-chart/templates/configmap.yaml
  tests/perf/run-chart/values.yaml
  tests/perf/values.acme.yaml
  tests/perf/values.devenv.yaml
  tests/perf/values.yaml
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(ci): migrate runners from Shipfox to Namespace.so
  .github/workflows/main.yml
  .github/workflows/releases.yml
Due: none

ci: cache Go and golangci-lint via nscloud-cache-action
  .github/actions/default/action.yml
Due: none

ci: use nscloud-checkout-action for git mirror caching
  .github/workflows/main.yml
  .github/workflows/releases.yml
Due: none

ci: native multi-arch buildx via nscloud-setup-buildx-action
  .github/workflows/main.yml
  .github/workflows/releases.yml
Due: none

chore(ci): migrate runners from Shipfox to Namespace.so (#1336)
  .github/actions/default/action.yml
  .github/workflows/main.yml
  .github/workflows/releases.yml
Due: none

chore(deps): update namespacelabs/nscloud-checkout-action action to v8
  .github/workflows/main.yml
  .github/workflows/releases.yml
Due: none

chore(deps): update namespacelabs/nscloud-checkout-action action to v8 (#1337)
  .github/workflows/main.yml
  .github/workflows/releases.yml
Due: none

feat(cli): expose --pebble-max-checkpoints flag (#101)
  cmd/server/server.go
  docs/ops/cli.md
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

perf(state): incremental 0xFF cache persistence (#98)
  internal/application/admission/admission_test.go
  internal/application/check/checker_test.go
  internal/domain/bitset.go
  internal/infra/attributes/attributes.go
  internal/infra/attributes/attributes_helpers_test.go
  internal/infra/attributes/attributes_test.go
  internal/infra/attributes/compact.go
  internal/infra/attributes/compact_test.go
  internal/infra/attributes/key_store.go
  internal/infra/state/batch.go
  internal/infra/state/batch_extended_test.go
  internal/infra/state/buffer.go
  internal/infra/state/buffer_ephemeral_purge.go
  internal/infra/state/cache_incremental.go
  internal/infra/state/cache_snapshotter.go
  internal/infra/state/machine.go
  internal/infra/state/registry.go
  internal/infra/state/sealer_test.go
  internal/query/ledger_test.go
  internal/query/reversions.go
  internal/storage/dal/store_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(ci): migrate from Shipfox to Namespace.so runners (#106)
  .github/actions/default/action.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
Due: none

feat(api): expose experimental features on /_info endpoint
  cmd/serve.go
  docs/api/README.md
  internal/api/module.go
  internal/api/router.go
  internal/api/v1/controllers_config.go
  internal/api/v1/controllers_config_test.go
  internal/api/v1/routes.go
  internal/api/v2/routes.go
  openapi.yaml
  openapi/v1.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/docs/models/components/configinfo.md
  pkg/client/docs/models/components/v2configinforesponse.md
  pkg/client/models/components/configinfo.go
  pkg/client/models/components/v2configinforesponse.go
  test/e2e/app_experimental_features_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(ci): migrate runners from Shipfox to Namespace.so (#1336)
  .github/workflows/main.yml
  .github/workflows/releases.yml
Due: none

fix(ci): use inputs.token instead of secrets.GITHUB_TOKEN in composite
  .github/actions/env/action.yml
Due: none

refactor(proto): replace LedgerInfo embedding in log messages with dedicated fields (#94)
  cmd/ledgerctl/ledgers/create.go
  cmd/ledgerctl/ledgers/delete.go
  cmd/ledgerctl/ledgers/promote.go
  cmd/ledgerctl/logs/list.go
  internal/adapter/http/handlers_coverage_test.go
  internal/adapter/http/handlers_create_ledger.go
  internal/adapter/http/handlers_create_ledger_mirror_test.go
  internal/adapter/http/handlers_create_ledger_test.go
  internal/adapter/http/handlers_promote_ledger.go
  internal/adapter/http/handlers_promote_ledger_test.go
  internal/application/check/checker.go
  internal/application/check/checker_test.go
  internal/application/events/clickhouse_data_test.go
  internal/application/events/emitter_integration_test.go
  internal/application/events/event.go
  internal/application/events/event_test.go
  internal/application/events/sink_clickhouse_integration_test.go
  internal/application/events/sink_data_common.go
  internal/application/events/sink_http_integration_test.go
  internal/application/events/sink_kafka_integration_test.go
  internal/application/events/sink_nats_integration_test.go
  internal/application/indexbuilder/process_logs.go
  internal/domain/processing/log_hasher.go
  internal/domain/processing/log_hasher_test.go
  internal/domain/processing/processor_ledger.go
  internal/domain/processing/processor_ledger_test.go
  internal/domain/processing/processor_mirror.go
  internal/domain/processing/processor_mirror_test.go
  internal/infra/node/node_test.go
  internal/infra/state/archiver_test.go
  internal/infra/state/buffer.go
  internal/pkg/crypto/signing/response_signer_test.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common.pb.json.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/commonpb/ledger_log.go
  internal/query/log_test.go
  misc/proto/common.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(startup): open live/ directly instead of restoring from checkpoint (#99)
  docs/dev/architecture/storage-drivers.md
  docs/ops/cli.md
  internal/infra/node/applier.go
  internal/infra/state/buffer.go
  internal/infra/state/cache_snapshotter.go
  internal/infra/state/cache_snapshotter_test.go
  internal/infra/state/machine.go
  internal/storage/dal/store.go
  internal/storage/dal/store_operations_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

perf(hash): generated deterministic hash with version-aware verification (#91)
  internal/application/check/checker.go
  internal/application/check/checker_test.go
  internal/domain/processing/hash.go
  internal/domain/processing/hash_coverage_test.go
  internal/domain/processing/hash_test.go
  internal/domain/processing/log_hasher.go
  internal/domain/processing/log_hasher_coverage_test.go
  internal/domain/processing/processor.go
  internal/domain/processing/processor_ledger.go
  internal/proto/auditpb/audit_dethash.pb.go
  internal/proto/clusterpb/cluster_dethash.pb.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_dethash.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/eventspb/events_dethash.pb.go
  internal/proto/raftcmdpb/raft_cmd_dethash.pb.go
  internal/proto/rafttransportpb/raft_transport_dethash.pb.go
  internal/proto/restorepb/restore_dethash.pb.go
  internal/proto/servicepb/bucket_dethash.pb.go
  internal/proto/signaturepb/signature_dethash.pb.go
  internal/proto/snapshotpb/snapshot_dethash.pb.go
  justfile
  misc/proto/common.proto
  tools/protoc-gen-dethash/go.mod
  tools/protoc-gen-dethash/go.sum
  tools/protoc-gen-dethash/main.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(stats): O(1) per-ledger attribute counters (#92)
  cmd/ledgerctl/ledgers/stats.go
  internal/adapter/http/handlers_get_ledger_stats.go
  internal/adapter/http/handlers_get_ledger_stats_test.go
  internal/application/ctrl/controller_default.go
  internal/domain/processing/processor_mirror.go
  internal/domain/processing/processor_revert_transaction.go
  internal/domain/processing/processor_transaction.go
  internal/infra/state/buffer.go
  internal/infra/state/buffer_counters.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  misc/proto/common.proto
  misc/proto/raft_cmd.proto
  tests/e2e/business/stats_test.go
  tests/scenarios/gaming_wallet/gaming_wallet_test.go
  tests/scenarios/lending_lifecycle/lending_lifecycle_test.go
  tests/scenarios/marketplace/marketplace_test.go
  tests/scenarios/multi_ledger_payroll/multi_ledger_payroll_test.go
  tests/scenarios/operations_lifecycle/operations_lifecycle_test.go
  tests/scenarios/stress_invariants/stress_invariants_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(api): expose experimental features on /_info endpoint
  cmd/serve.go
  docs/api/README.md
  internal/api/module.go
  internal/api/router.go
  internal/api/v1/controllers_config.go
  internal/api/v1/controllers_config_test.go
  internal/api/v1/routes.go
  internal/api/v2/routes.go
  openapi.yaml
  openapi/v1.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/docs/models/components/configinfo.md
  pkg/client/docs/models/components/v2configinforesponse.md
  pkg/client/models/components/configinfo.go
  pkg/client/models/components/v2configinforesponse.go
  pkg/client/speakeasyusagegen/.speakeasy/logs/naming.log
  test/e2e/app_experimental_features_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: support Kubernetes-style byte size format for CLI flags (#104)
  cmd/server/server.go
  docs/dev/architecture/storage-drivers.md
  docs/ops/cli.md
  docs/ops/memory.md
  internal/pkg/bytesize/bytesize.go
  internal/pkg/bytesize/bytesize_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(api): expose experimental features on /_info endpoint (#1342)
  cmd/serve.go
  docs/api/README.md
  internal/api/module.go
  internal/api/router.go
  internal/api/v1/controllers_config.go
  internal/api/v1/controllers_config_test.go
  internal/api/v1/routes.go
  internal/api/v2/routes.go
  openapi.yaml
  openapi/v1.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/docs/models/components/configinfo.md
  pkg/client/docs/models/components/v2configinforesponse.md
  pkg/client/models/components/configinfo.go
  pkg/client/models/components/v2configinforesponse.go
  pkg/client/speakeasyusagegen/.speakeasy/logs/naming.log
  test/e2e/app_experimental_features_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(api): expose experimental features on /_info endpoint (#1341)
  cmd/serve.go
  docs/api/README.md
  internal/api/module.go
  internal/api/router.go
  internal/api/v1/controllers_config.go
  internal/api/v1/controllers_config_test.go
  internal/api/v1/routes.go
  internal/api/v2/routes.go
  openapi.yaml
  openapi/v1.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/docs/models/components/configinfo.md
  pkg/client/docs/models/components/v2configinforesponse.md
  pkg/client/models/components/configinfo.go
  pkg/client/models/components/v2configinforesponse.go
  pkg/client/speakeasyusagegen/.speakeasy/logs/naming.log
  test/e2e/app_experimental_features_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add InspectIndex RPC to expose metadata index content (#100)
  cmd/ledgerctl/ledgers/command.go
  cmd/ledgerctl/ledgers/inspect_index.go
  docs/dev/api-comparison.md
  docs/ops/cli.md
  internal/adapter/grpc/client_bucket.go
  internal/adapter/grpc/client_bucket_test.go
  internal/adapter/grpc/server_bucket.go
  internal/adapter/http/handler.go
  internal/adapter/http/handlers_inspect_index.go
  internal/adapter/http/mock_backend_test.go
  internal/application/ctrl/controller.go
  internal/application/ctrl/controller_default.go
  internal/application/ctrl/controller_generated_test.go
  internal/bootstrap/controller_routed.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_dethash.pb.go
  internal/proto/servicepb/bucket_grpc.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  internal/storage/readstore/encoding.go
  internal/storage/readstore/inspect.go
  misc/proto/bucket.proto
  openapi.yml
  tests/e2e/business/inspect_index_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(indexbuilder): release Pebble snapshot during initial catch-up (#105)
  internal/application/indexbuilder/builder.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

perf(diskusage): replace recursive walks with Pebble metrics and flat dir listings (#109)
  cmd/ledgerctl/cluster/disk_usage.go
  docs/ops/monitoring.md
  internal/adapter/grpc/server_cluster.go
  internal/bootstrap/module.go
  internal/infra/health/healthcheck.go
  internal/infra/monitoring/diskusage/diskusage.go
  internal/infra/monitoring/diskusage/diskusage_test.go
  internal/proto/clusterpb/cluster.pb.go
  internal/proto/clusterpb/cluster_dethash.pb.go
  internal/proto/clusterpb/cluster_vtproto.pb.go
  misc/devenv/monitoring-dashboards/config/dashboards/ledger-metrics.json
  misc/proto/cluster.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

idempotency keys (#110)
  tests/antithesis/workload/go.mod
  tests/antithesis/workload/go.sum
  tests/antithesis/workload/internal/client.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(storage): prevent empty WHERE clause when query builder produces no conditions
  internal/storage/common/resource.go
  internal/storage/ledger/utils.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(storage): prevent empty WHERE clause when query builder produces no conditions (#1343)
  internal/storage/common/resource.go
  internal/storage/ledger/utils.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
