Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

fix(domain): remove duplicate ErrIndexNotFound and ErrIndexBuilding declarations
  internal/domain/errors.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(store): add `ledgerctl store compact` command for on-demand Pebble compaction
  cmd/ledgerctl/store/command.go
  cmd/ledgerctl/store/compact.go
  docs/ops/cli.md
  internal/adapter/grpc/server_cluster.go
  internal/domain/errors.go
  internal/proto/clusterpb/cluster.pb.go
  internal/proto/clusterpb/cluster_grpc.pb.go
  internal/proto/clusterpb/cluster_vtproto.pb.go
  internal/storage/dal/smart_compactor.go
  misc/proto/cluster.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(operator-ui): add role-based access control (admin/guest)
  misc/operator/ui/backend/src/auth/config.ts
  misc/operator/ui/backend/src/auth/middleware.ts
  misc/operator/ui/backend/src/auth/roles.ts
  misc/operator/ui/backend/src/auth/routes.ts
  misc/operator/ui/backend/src/auth/session.ts
  misc/operator/ui/backend/src/routes/ledger-services.ts
  misc/operator/ui/chart/templates/deployment.yaml
  misc/operator/ui/chart/values.yaml
  misc/operator/ui/frontend/src/auth/use-auth.ts
  misc/operator/ui/frontend/src/components/layout.tsx
  misc/operator/ui/frontend/src/pages/ledger-defaults-detail.tsx
  misc/operator/ui/frontend/src/pages/ledger-defaults-form.tsx
  misc/operator/ui/frontend/src/pages/ledger-defaults-list.tsx
  misc/operator/ui/frontend/src/pages/ledger-service-detail.tsx
  misc/operator/ui/frontend/src/pages/ledger-service-form.tsx
Due: none

fix(ledgerctl): prevent uint64 underflow in replication lag display
  cmd/ledgerctl/cluster/status.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

some cleanup
  internal/controller/system/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs: move numscript library doc to drafts
  docs/dev/README.md
  docs/drafts/numscript-library.md
Due: none

docs: document version resolution and script references in transactions
  docs/dev/architecture/numscript-library.md
Due: none

docs: graduate numscript library documentation from drafts
  docs/dev/README.md
  docs/dev/architecture/README.md
  docs/dev/architecture/numscript-library.md
  docs/drafts/README.md
Due: none

fix: restore putInCacheBool helper and regenerate proto after rebase
  internal/infra/state/machine.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: extract semver into dedicated package and add e2e tests
  internal/domain/keys.go
  internal/domain/processing/processor_numscript_library.go
  internal/infra/state/batch.go
  internal/query/store.go
  internal/semver/semver.go
  internal/semver/semver_test.go
  tests/e2e/numscript_library_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

perf(indexbuilder): cache last sequence in Notifications to avoid Pebble reads
  internal/application/events/manager_test.go
  internal/application/indexbuilder/builder.go
  internal/infra/state/machine.go
  internal/pkg/signal/notifications.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: move numscript queries to numscript.go and regenerate proto after rebase
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_grpc.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  internal/query/numscript.go
  internal/query/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(operator-ui): require default configuration for guest ledger creation
  misc/operator/ui/backend/src/routes/ledger-services.ts
  misc/operator/ui/frontend/src/pages/ledger-service-form.tsx
Due: none

fix(ledgerctl): add GitHub authentication for `upgrade` command
  TODO
  cmd/ledgerctl/upgrade/download.go
  cmd/ledgerctl/upgrade/github.go
  justfile
  misc/devenv/staging.yaml
  misc/devenv/values/staging/ledger.yaml
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(query): return ErrIndexNotFound when no indexes are configured
  internal/query/compile.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

perf(analysis): replace per-transaction random seeks with single Pebble log scan
  internal/application/ctrl/controller_default.go
  internal/query/analysis.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: edit todo
  TODO
Due: none

feat: add chart of accounts validation with violations as warnings
  docs/dev/api-comparison.md
  internal/adapter/http/error_handler.go
  internal/adapter/http/handler.go
  internal/adapter/http/handlers_create_ledger.go
  internal/adapter/http/handlers_get_chart_of_accounts.go
  internal/adapter/http/handlers_get_chart_of_accounts_test.go
  internal/adapter/http/handlers_set_chart_enforcement_mode.go
  internal/adapter/http/handlers_set_chart_enforcement_mode_test.go
  internal/adapter/http/handlers_set_chart_of_accounts.go
  internal/adapter/http/handlers_set_chart_of_accounts_test.go
  internal/application/admission/admission.go
  internal/domain/errors.go
  internal/domain/processing/processor_apply.go
  internal/domain/processing/processor_chart.go
  internal/domain/processing/processor_chart_test.go
  internal/domain/processing/processor_helpers_test.go
  internal/domain/processing/processor_ledger.go
  internal/domain/processing/processor_metadata.go
  internal/domain/processing/processor_revert_transaction.go
  internal/domain/processing/processor_revert_transaction_test.go
  internal/domain/processing/processor_transaction.go
  misc/proto/bucket.proto
  misc/proto/common.proto
  misc/proto/raft_cmd.proto
  openapi.yml
  tests/e2e/chart_of_accounts_test.go
  tests/e2e/helpers_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: regenerate proto files after rebase
  internal/proto/auditpb/audit_vtproto.pb.go
  internal/proto/clusterpb/cluster_vtproto.pb.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/eventspb/events_vtproto.pb.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  internal/proto/rafttransportpb/raft_transport_vtproto.pb.go
  internal/proto/restorepb/restore_vtproto.pb.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  internal/proto/signaturepb/signature_vtproto.pb.go
  internal/proto/snapshotpb/snapshot_vtproto.pb.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs: add Chart of Accounts RFC draft
  docs/drafts/README.md
  docs/drafts/chart-of-accounts.md
Due: none

fix: adapt chart of accounts to map-based proto structure after rebase
  cmd/ledgerctl/accounts/analyze.go
  internal/adapter/grpc/errors.go
  internal/adapter/grpc/errors_test.go
  internal/adapter/http/handlers_analyze_accounts.go
  internal/adapter/http/handlers_analyze_accounts_test.go
  internal/domain/analysis/chart_discovery.go
  internal/domain/analysis/chart_discovery_test.go
  internal/domain/processing/processor_chart_test.go
  internal/domain/processing/processor_revert_transaction_test.go
  internal/proto/auditpb/audit_vtproto.pb.go
  internal/proto/clusterpb/cluster_vtproto.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/eventspb/events_vtproto.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  internal/proto/rafttransportpb/raft_transport_vtproto.pb.go
  internal/proto/restorepb/restore_vtproto.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  internal/proto/signaturepb/signature_vtproto.pb.go
  internal/proto/snapshotpb/snapshot_vtproto.pb.go
  tests/e2e/analyze_accounts_test.go
  tests/e2e/chart_of_accounts_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

avoid hanging on double shutdown
  internal/replication/global_exporter.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

panic on reset failure
  internal/replication/global_exporter.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: edit todo
  TODO
  internal/domain/processing/processor_numscript_library.go
  internal/infra/state/batch.go
  internal/pkg/semver/semver.go
  internal/pkg/semver/semver_test.go
  internal/query/numscript.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: expose per-index backfill progress in list-indexes
  cmd/ledgerctl/ledgers/list_indexes.go
  internal/adapter/grpc/server_bucket.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  internal/storage/readstore/keys.go
  misc/proto/bucket.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: rename --profile to --analyze on list commands to resolve flag conflict
  cmd/ledgerctl/accounts/list.go
  cmd/ledgerctl/transactions/list.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

perf: reuse Pebble iterator across backfill batches
  internal/application/indexbuilder/builder.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

global_exporter_state ledger name fk
  internal/storage/system/migrations.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: migrate logging from logrus to zap
  cmd/ledgerctl/store/bootstrap.go
  cmd/ledgerctl/store/rebuild_indexes.go
  go.mod
  go.sum
  internal/infra/monitoring/otlplogs/logrus_hook.go
  internal/infra/monitoring/otlplogs/module.go
  internal/infra/monitoring/otlplogs/zap_logger.go
  internal/storage/wal/wal_default.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: make bbolt NoFreelistSync configurable (server + operator)
  cmd/ledgerctl/store/rebuild_indexes.go
  cmd/server/server.go
  docs/ops/cli.md
  internal/bootstrap/config.go
  internal/bootstrap/module.go
  internal/storage/readstore/store.go
  misc/operator/api/v1alpha1/ledger_types.go
  misc/operator/api/v1alpha1/zz_generated.deepcopy.go
  misc/operator/config/crd/bases/ledger.formance.com_ledgerservices.yaml
  misc/operator/internal/controller/envvars.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: stream archive to cold storage to prevent OOM on large periods
  internal/infra/state/archiver.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: stream analysis data to prevent OOM on large datasets
  internal/application/ctrl/controller_default.go
  internal/domain/analysis/chart_discovery.go
  internal/domain/analysis/flow_discovery.go
  internal/query/analysis.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(operator): include CRDs in Helm chart
  misc/devenv/main.go
  misc/operator/chart/crds/ledger.formance.com_ledgerclusteragents.yaml
  misc/operator/chart/crds/ledger.formance.com_ledgerdefaults.yaml
  misc/operator/chart/crds/ledger.formance.com_ledgerservices.yaml
  misc/operator/justfile
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

perf: buffer and sort bbolt writes to reduce random B+ tree access
  cmd/ledgerctl/store/rebuild_indexes.go
  cmd/server/server.go
  internal/application/indexbuilder/builder.go
  internal/bootstrap/config.go
  internal/bootstrap/module.go
  internal/storage/readstore/write_batch.go
  misc/operator/api/v1alpha1/ledger_types.go
  misc/operator/api/v1alpha1/zz_generated.deepcopy.go
  misc/operator/config/crd/bases/ledger.formance.com_ledgerservices.yaml
  misc/operator/internal/controller/envvars.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: collect and expose bbolt read index disk usage separately
  cmd/ledgerctl/cluster/disk_usage.go
  internal/adapter/grpc/server_cluster.go
  internal/bootstrap/module.go
  internal/infra/monitoring/diskusage/diskusage.go
  internal/infra/monitoring/diskusage/diskusage_test.go
  internal/proto/clusterpb/cluster.pb.go
  internal/proto/clusterpb/cluster_vtproto.pb.go
  misc/devenv/config/grafana/provisioning/dashboards/ledger-metrics.json
  misc/proto/cluster.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: sync bbolt freelist on shutdown to avoid slow page scan on restart
  cmd/ledgerctl/store/rebuild_indexes.go
  internal/bootstrap/module.go
  internal/storage/readstore/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(cli): pass auth token in cluster watch gRPC calls
  cmd/ledgerctl/cluster/watch.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

perf: extend block cache warmup to include system zone
  internal/storage/dal/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: simplify SmartCompactor to post-purge only
  cmd/server/server.go
  docs/dev/architecture/storage-drivers.md
  docs/ops/performance-tuning.md
  internal/storage/dal/config.go
  internal/storage/dal/config_test.go
  internal/storage/dal/smart_compactor.go
  internal/storage/dal/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
