Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

feat(numscript): execute on the VM only, reject uncompilable scripts at admission
  docs/ops/deployment.md
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
  docs/technical/architecture/subsystems/scripting/numscript-library.md
  internal/application/admission/admission.go
  internal/domain/errors.go
  internal/domain/errors_test.go
  internal/domain/processing/numscript/cache.go
  internal/domain/processing/numscript/discover.go
  internal/domain/processing/numscript/discover_test.go
  internal/domain/processing/numscript/engine_bench_test.go
  internal/domain/processing/numscript/errors.go
  internal/domain/processing/numscript/errors_test.go
  internal/domain/processing/numscript/store.go
  internal/domain/processing/numscript/vm.go
  internal/domain/processing/numscript/vm_test.go
  internal/domain/processing/processor_helpers_test.go
  internal/domain/processing/processor_transaction_numscript.go
  internal/domain/processing/processor_transaction_numscript_reference_test.go
  internal/domain/processing/processor_transaction_numscript_vm_test.go
  internal/domain/processing/processor_transaction_test.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  misc/proto/raft_cmd.proto
  tests/e2e/business/numscript_language_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(protocol): attribute the Numscript VM execution changes to revision 16
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
Due: none

update numscript version
  docs/technical/architecture/subsystems/scripting/numscript-library.md
  go.mod
  go.sum
  internal/domain/processing/numscript/vm.go
  tests/antithesis/workload/go.mod
  tests/antithesis/workload/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(protocol): move the Numscript VM execution change to revision 17
  docs/ops/deployment.md
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
  docs/technical/architecture/subsystems/scripting/numscript-library.md
  internal/proto/raftcmdpb/raft_cmd.pb.go
  misc/proto/raft_cmd.proto
  pkg/grpcprotocol/protocol.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(ledger): correct failure projection hash comments
  internal/proto/auditpb/audit.pb.go
  misc/proto/audit.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(antithesis): keep the global log stream in the oracle across ledger deletion (EN-1625)
  docs/technical/contributing/testing.md
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/audit.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/checkpoint_reads.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/getlog.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/getlog_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/processor.go
  tests/oracle/accessors.go
  tests/oracle/global_log_test.go
  tests/oracle/model.go
  tests/oracle/pmap.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(query): reject has-asset precision overflow when saving prepared queries (EN-2608)
  docs/technical/architecture/subsystems/read-path/prepared-queries.md
  internal/domain/prepared_query_filter_test.go
  internal/domain/validation.go
  internal/query/compile.go
  internal/query/compile_reverse.go
  tests/e2e/business/prepared_queries_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(admission): codify cost boundaries and lifecycle audit paths (#2168)
  docs/technical/architecture/subsystems/admission/pipeline.md
  docs/technical/audits/concurrency-lifecycle-shutdown.json
  docs/technical/audits/concurrency-lifecycle-shutdown.md
  docs/technical/audits/fsm-determinism-cache-coverage.json
  docs/technical/audits/fsm-determinism-cache-coverage.md
  docs/technical/contributing/ai-review.md
  docs/technical/contributing/product-technical-traceability.md
Due: none

docs(antithesis): state the generator and validator roles in the model driver
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/getlog.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/main.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/reads.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(antithesis): drop the unreachable bucket-scoped index lookup sonde (EN-1625)
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/index_introspect.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(antithesis): put covered purges on the bulk's last log, skipped or not (EN-1625)
  tests/oracle/model.go
  tests/oracle/model_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(antithesis): package MinIO for Kubernetes runs (#2167)
  tests/antithesis/Justfile
  tests/antithesis/k8s/Dockerfile.minio
  tests/antithesis/k8s/minio.yaml
Due: none

fix(api): normalize parser diagnostic ranges
  docs/api/README.md
  internal/api/bulking/handler_json_diagnostics_test.go
  internal/api/common/parser_diagnostics.go
  internal/api/common/parser_diagnostics_test.go
  internal/api/v2/controllers_transactions_diagnostics_test.go
  openapi.yaml
  openapi/v2.yaml
  openapi/v3.yaml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: preserve checker integrity after account lifecycle revert
  cmd/ledgerctl/store/bootstrap.go
  internal/adapter/grpc/server_bucket.go
  internal/adapter/grpc/server_restore.go
  internal/application/check/checker.go
  internal/infra/backup/signing_restore_parity_test.go
  internal/infra/node/delete_ledger_sentinel_recovery_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: preserve checker cluster identity after full revert
  cmd/ledgerctl/store/bootstrap.go
  internal/adapter/grpc/server_bucket.go
  internal/adapter/grpc/server_restore.go
  internal/application/check/checker.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: preserve post-beta6 checker API
  internal/application/check/checker.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(antithesis): poll only the model cluster's nodes for index readiness (EN-1625)
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/main.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(antithesis): validate the staged backup before finalizing a k8s restore (EN-1625)
  tests/antithesis/workload/restore-orchestrator.sh
Due: none

feat(api): accept X-Consistency on HTTP reads
  docs/technical/architecture/overview.md
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/audits/read-consistency-projections.json
  docs/technical/audits/read-consistency-projections.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/grpc/consistency.go
  internal/adapter/grpc/consistency_test.go
  internal/adapter/http/handler.go
  internal/adapter/http/handlers_list_audit_entries.go
  internal/adapter/http/handlers_list_signing_keys.go
  internal/adapter/http/handlers_list_transactions.go
  internal/adapter/http/middleware_consistency.go
  internal/adapter/http/middleware_consistency_test.go
  internal/bootstrap/controller_routed.go
  internal/bootstrap/controller_routed_test.go
  internal/query/consistency.go
  internal/query/consistency_test.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(metrics): prefix ledger metrics with configurable formance.ledger namespace
  cmd/server/server.go
  cmd/server/server_test.go
  docs/ops/cli.md
  docs/ops/deployment.md
  docs/ops/monitoring.md
  internal/bootstrap/config.go
  internal/bootstrap/config_test.go
  internal/bootstrap/meter_provider_test.go
  internal/bootstrap/module.go
  internal/infra/monitoring/metrics/factory.go
  internal/infra/monitoring/metrics/factory_test.go
  internal/infra/monitoring/metrics/naming.go
  internal/infra/monitoring/metrics/registry_test.go
  internal/infra/monitoring/metrics/wrapped_meter.go
  internal/infra/state/machine.go
  misc/devenv/monitoring-dashboards/README.md
  misc/devenv/monitoring-dashboards/config/dashboards/ledger-metrics-otel-noprefix.json
  misc/devenv/monitoring-dashboards/config/dashboards/ledger-metrics-otel.json
  misc/devenv/monitoring-dashboards/config/dashboards/ledger-metrics-prom-normalized-native.json
  misc/devenv/monitoring-dashboards/config/dashboards/ledger-metrics-prom-normalized.json
  misc/devenv/monitoring-dashboards/dashboard_test.go
  misc/devenv/monitoring-dashboards/jsonnet/lib/metric_metadata.libsonnet
  misc/devenv/monitoring-dashboards/jsonnet/lib/metrics.libsonnet
  misc/devenv/monitoring-dashboards/jsonnet/lib/naming.libsonnet
  misc/devenv/monitoring-dashboards/jsonnet/lib/transform.libsonnet
  misc/operator/api/v1alpha1/cluster_types.go
  misc/operator/config/crd/bases/ledger.formance.com_clusters.yaml
  misc/operator/helm/crds/templates/ledger.formance.com_clusters.yaml
  misc/operator/internal/controller/envvars.go
  misc/operator/internal/controller/envvars_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(ledgerctl): remove progress bar redraw race in restore download
  .golangci.yaml
  cmd/ledgerctl/cmdutil/progressbar.go
  cmd/ledgerctl/cmdutil/progressbar_test.go
  cmd/ledgerctl/restore/upload.go
  cmd/ledgerctl/restore/upload_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(perf): clear stale results and reject occupied ports
  docs/technical/contributing/getting-started.md
  tests/perf/bench.sh
Due: none

test(perf): add local and CI write benchmarks
  .github/workflows/main.yml
  README.md
  docs/technical/contributing/getting-started.md
  justfile
  tests/perf/README.md
  tests/perf/bench.sh
  tests/perf/scripts/local_bench.js
  tests/perf/scripts/shared/http_utils.js
  tests/perf/scripts/world_to_bank.js
Due: none

fix: reject invalid typed volume values
  internal/application/check/checker.go
  internal/application/check/checker_post_commit_volumes_test.go
  internal/proto/commonpb/bigint.go
  internal/proto/commonpb/bigint_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: compare typed volumes as decimals
  tests/e2e/business/force_test.go
  tests/e2e/business/idempotency_test.go
  tests/e2e/business/ledger_delete_cleanup_test.go
  tests/e2e/business/numscript_test.go
  tests/e2e/business/reversions_test.go
  tests/e2e/business/transactions_test.go
  tests/e2e/business/transient_accounts_test.go
  tests/e2e/cluster/bootstrap_test.go
  tests/e2e/cluster/raft_test.go
  tests/e2e/cluster/restore_test.go
  tests/e2e/cluster/rolling_config_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(test): migrate checkpoint_reads_test to typed volume wrappers
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/checkpoint_reads_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: migrate typed volume assertions
  tests/e2e/business/force_test.go
  tests/e2e/business/numscript_experimental_test.go
  tests/e2e/business/numscript_language_test.go
  tests/e2e/cluster/cache_divergence_test.go
  tests/e2e/cluster/query_checkpoint_test.go
  tests/e2e/cluster/restore_mirror_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: cover typed volume helpers
  internal/proto/commonpb/volumes_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: strengthen presence validation across source, oracles, and tests
  internal/application/check/checker.go
  internal/proto/commonpb/volumes.go
  tests/antithesis/workload/bin/cmds/main/eventually_correct/main.go
  tests/antithesis/workload/bin/cmds/main/eventually_correct/main_test.go
  tests/antithesis/workload/bin/cmds/main/eventually_correct/quiescence_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/validate.go
  tests/e2e/business/force_test.go
  tests/e2e/business/ledger_delete_cleanup_test.go
  tests/e2e/business/numscript_experimental_test.go
  tests/e2e/business/numscript_language_test.go
  tests/e2e/business/numscript_test.go
  tests/e2e/business/reversions_test.go
  tests/e2e/business/transactions_test.go
  tests/e2e/business/transient_accounts_test.go
  tests/scenarios/scenariotest/scenariotest.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs: clarify AggregatedVolume Uint256 scope decision in uint256-wire-format
  docs/technical/architecture/primitives/uint256-wire-format.md
Due: none

fix(test): update list_test.go to typed volume helpers; guard nil Volumes in CLI rescale path
  cmd/ledgerctl/accounts/get.go
  cmd/ledgerctl/accounts/list.go
  cmd/ledgerctl/accounts/list_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: extract shared canonical decimal validator and add nil field guards
  internal/proto/commonpb/bigint.go
  internal/proto/commonpb/volumes.go
  tests/antithesis/workload/bin/cmds/main/parallel_driver_stale_reads/main.go
  tests/e2e/business/color_numscript_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(antithesis): align typed volume assertions after rebase
  tests/antithesis/workload/bin/cmds/main/eventually_correct/main.go
  tests/antithesis/workload/bin/cmds/main/eventually_correct/quiescence_test.go
  tests/antithesis/workload/bin/cmds/main/parallel_driver_stale_reads/main.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/validate.go
  tests/antithesis/workload/internal/checks.go
  tests/antithesis/workload/internal/client_transport_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

build: regenerate protobuf after rebase on revision 14 base
  internal/proto/commonpb/common.pb.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

style: add blank line before return in parseCanonicalBigUint (pre-commit)
  internal/proto/commonpb/volumes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

style: add blank line before return in validateCanonicalDecimalString (pre-commit)
  internal/proto/commonpb/bigint.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: add nil guards for CLI renderer and E2E zero-valued presence checks
  cmd/ledgerctl/accounts/get.go
  tests/e2e/business/color_segregation_test.go
  tests/e2e/business/ephemeral_purge_test.go
  tests/e2e/cluster/cache_divergence_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
