Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

chore: merge some packages
  cmd/serve.go
  internal/controller/ledger/store.go
  internal/ledger.go
  internal/storage/bucket/bucket_test.go
  internal/storage/bucket/main_test.go
  internal/storage/driver/adapters.go
  internal/storage/driver/driver.go
  internal/storage/driver/driver_test.go
  internal/storage/driver/main_test.go
  internal/storage/driver/migrations.go
  internal/storage/driver/migrations_test.go
  internal/storage/ledger/accounts_test.go
  internal/storage/ledger/adapters.go
  internal/storage/ledger/balances_test.go
  internal/storage/ledger/logs_test.go
  internal/storage/ledger/main_test.go
  internal/storage/ledger/moves.go
  internal/storage/ledger/moves_test.go
  internal/storage/ledger/store.go
  internal/storage/ledger/transactions.go
  internal/storage/ledger/transactions_test.go
  internal/storage/ledger/volumes.go
  internal/storage/ledger/volumes_test.go
  internal/storage/module.go
  internal/storage/system/ledgers.go
  internal/storage/system/ledgers_test.go
  internal/storage/system/store.go
  test/performance/env_core_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: add gitignore
  .gitignore
Due: none

chore: simplify storage
  internal/storage/ledger/accounts.go
  internal/storage/ledger/balances.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: simplify storage
  internal/storage/ledger/accounts.go
  internal/storage/ledger/accounts_test.go
  internal/storage/ledger/balances.go
  internal/storage/ledger/store.go
  internal/storage/ledger/transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: simplify storage
  internal/storage/ledger/balances.go
  internal/storage/ledger/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: clean todo
  internal/api/v1/controllers_transactions_create.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/errors.go
  internal/ledger.go
  internal/storage/ledger/transactions.go
  internal/storage/system/migrations_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add test of events
  internal/bus/listener.go
  pkg/testserver/server.go
  test/e2e/integration_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: potential double dispense on some rare case
  internal/storage/ledger/balances.go
  internal/storage/ledger/balances_test.go
  internal/storage/ledger/transactions_test.go
  internal/storage/ledger/volumes_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: import locking
  internal/api/v2/controllers_ledgers_list_test.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/errors.go
  internal/controller/ledger/store.go
  internal/controller/ledger/store_generated.go
  internal/ledger.go
  internal/storage/ledger/accounts.go
  internal/storage/ledger/store.go
  internal/storage/system/ledgers.go
  internal/storage/system/migrations.go
  internal/storage/system/migrations_test.go
  pkg/testserver/server.go
  test/e2e/integration_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add nats server on integration tests
  pkg/testserver/server.go
  test/e2e/environment_test.go
  test/e2e/integration_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add IdempotencyHash on Log model
  internal/log.go
  internal/storage/bucket/migrations/11-stateless.sql
  internal/storage/ledger/logs_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: move logs model
  internal/log.go
  internal/storage/ledger/logs.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: clean code
  internal/api/v2/controllers_ledgers_list_test.go
  internal/controller/ledger/stats_test.go
  internal/ledger.go
  internal/storage/ledger/main_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove transaction sequences
  internal/storage/bucket/migrations/11-stateless.sql
  internal/storage/ledger/moves.go
  internal/storage/ledger/moves_test.go
  internal/storage/ledger/transactions.go
  internal/storage/ledger/transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: simplify code
  internal/storage/ledger/moves.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: increate golangci-lint timeout
  Earthfile
Due: none

fix: make 'expand' query param more smart by splitting ','
  internal/api/v2/common.go
  internal/api/v2/controllers_accounts_read.go
  internal/api/v2/controllers_transactions_read.go
  openapi.yaml
  test/e2e/integration_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: go libs hash and missing package in coverage
  Earthfile
  go.mod
  go.sum
Due: none

chore: add comment
  internal/controller/ledger/log_process.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: simplify some code
  internal/api/v1/controllers_logs_list_test.go
  internal/api/v2/controllers_logs_export_test.go
  internal/api/v2/controllers_logs_import_test.go
  internal/api/v2/controllers_logs_list_test.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/log_process.go
  internal/log.go
  internal/storage/ledger/logs_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add doc and remove database exporter from pre-commit
  CONTRIBUTING.md
  Earthfile
Due: none

chore: restore failing test
  internal/storage/ledger/accounts_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add todo
  internal/storage/ledger/accounts.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add gomarkdoc
  Earthfile
  README.md
  cmd/README.md
  go.mod
  go.sum
  main.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

doc: add some documentation
  DEV.md
  README.md
  docker-compose.yml
  test/README.md
Due: none

chore: go generate
  internal/README.md
Due: none

feat: extract event emission from default controller
  internal/api/v1/controllers_transactions_create.go
  internal/api/v1/controllers_transactions_create_test.go
  internal/api/v1/controllers_transactions_revert.go
  internal/api/v1/controllers_transactions_revert_test.go
  internal/api/v2/controllers_bulk.go
  internal/api/v2/controllers_bulk_test.go
  internal/api/v2/controllers_transactions_create.go
  internal/api/v2/controllers_transactions_create_test.go
  internal/api/v2/controllers_transactions_revert.go
  internal/api/v2/controllers_transactions_revert_test.go
  internal/controller/ledger/controller.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_default_test.go
  internal/controller/ledger/controller_generated.go
  internal/controller/ledger/controller_with_events.go
  internal/controller/ledger/controller_with_traces.go
  internal/controller/ledger/inputs.go
  internal/controller/ledger/stats_test.go
  internal/controller/system/controller.go
  test/performance/env_core_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: store complete revert transaction result into database
  internal/controller/ledger/controller_default.go
  internal/log.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: pre-commit
  README.md
Due: none

feat: store complete log in database
  internal/log.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add migration test using concrete database
  internal/storage/driver/driver.go
  test/migrations/README.md
  test/migrations/upgrade_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: change type of 'id' column of ledgers table
  internal/storage/driver/migrations.go
  internal/storage/driver/migrations_test.go
  internal/storage/ledger/logs.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: add some migrations tests
  internal/storage/bucket/bucket.go
  internal/storage/bucket/migrations.go
  internal/storage/bucket/migrations/11-drop-triggers.sql
  internal/storage/bucket/migrations/11-stateless.sql
  internal/storage/bucket/migrations/12-moves-add-transaction-id.sql
  internal/storage/bucket/migrations/13-set-transaction-timestamp-default-utc.sql
  internal/storage/bucket/migrations/14-rename-address-moves-column.sql
  internal/storage/bucket/migrations/15-moves-remove-accounts-seq.sql
  internal/storage/bucket/migrations/16-moves-change-pvc-column-type.sql
  internal/storage/bucket/migrations/17-transactions-fix-reference.sql
  internal/storage/bucket/migrations/18-transactions-add-pvc.sql
  internal/storage/bucket/migrations/19-logs-add-idempotency-hash.sql
  internal/storage/bucket/migrations/20-moves-drop-accounts-address-array.sql
  internal/storage/bucket/migrations/21-add-accounts-volumes-table.sql
  internal/storage/bucket/migrations/22-transactions-metadata-add-transaction-id.sql
  internal/storage/bucket/migrations/23-accounts-metadata-add-address.sql
  internal/storage/bucket/migrations/24-transactions-clean-table.sql
  internal/storage/bucket/migrations/25-accounts-set-array-not-null.sql
  internal/storage/bucket/migrations/26-logs-set-hash-nullable.sql
  internal/storage/bucket/migrations/27-clean-index.sql
  internal/storage/bucket/migrations/28-add-features-functions.sql
  internal/storage/bucket/migrations_test.go
  internal/storage/driver/migrations.go
  internal/storage/ledger/transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: Earthfile
  Earthfile
Due: none

feat: make MachineFactory take TX instead of vm.Store
  README.md
  internal/controller/ledger/README.md
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_default_test.go
  internal/controller/ledger/machine.go
  internal/controller/ledger/machine_generated_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove needs to pass Dirty workflow to execute Tests workflow on github action
  .github/workflows/main.yml
Due: none

feat: add some readme
  internal/README.md
  internal/controller/ledger/README.md
  internal/controller/system/README.md
  internal/controller/system/doc.go
  internal/doc.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: pre-commit
  docs/database/_default/columns.html
  docs/database/_default/index.html
  docs/database/_default/info-html.txt
  docs/database/_system/columns.html
  docs/database/_system/index.html
  docs/database/_system/info-html.txt
  docs/database/index.html
Due: none
