Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

feat: add explicit `ledgerctl store checkpoint` command
  cmd/ledgerctl/store/checkpoint.go
  cmd/ledgerctl/store/command.go
  docs/ops/cli.md
  internal/adapter/grpc/server_cluster.go
  internal/proto/auditpb/audit.pb.go
  internal/proto/auditpb/audit_vtproto.pb.go
  internal/proto/clusterpb/cluster.pb.go
  internal/proto/clusterpb/cluster_grpc.pb.go
  internal/proto/clusterpb/cluster_vtproto.pb.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/eventspb/events.pb.go
  internal/proto/eventspb/events_vtproto.pb.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  internal/proto/rafttransportpb/raft_transport.pb.go
  internal/proto/rafttransportpb/raft_transport_grpc.pb.go
  internal/proto/rafttransportpb/raft_transport_vtproto.pb.go
  internal/proto/restorepb/restore.pb.go
  internal/proto/restorepb/restore_grpc.pb.go
  internal/proto/restorepb/restore_vtproto.pb.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_grpc.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  internal/proto/signaturepb/signature.pb.go
  internal/proto/signaturepb/signature_vtproto.pb.go
  internal/proto/snapshotpb/snapshot.pb.go
  internal/proto/snapshotpb/snapshot_grpc.pb.go
  internal/proto/snapshotpb/snapshot_vtproto.pb.go
  internal/storage/dal/store.go
  misc/proto/cluster.proto
  tests/e2e/checkpoint_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: enable experimental-account-interpolation feature flag in scripts
  misc/numscript/examples/escrow_funding.num
  tests/e2e/numscript_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

ui: number patterns and show postings one per line in transactions analyze
  cmd/ledgerctl/transactions/analyze.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

perf: skip processLogs when FSM hasn't advanced past indexer cursor
  internal/application/indexbuilder/builder.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(operator): use ApiException.code instead of statusCode for k8s client v1.x
  misc/operator/ui/backend/src/k8s/ledger-agent.ts
  misc/operator/ui/backend/src/middleware/error-handler.ts
Due: none

feat(operator): add DNSEndpoint management for ExternalDNS
  misc/operator/api/v1alpha1/ledger_types.go
  misc/operator/api/v1alpha1/zz_generated.deepcopy.go
  misc/operator/chart/crds/ledger.formance.com_ledgerservices.yaml
  misc/operator/chart/templates/clusterrole.yaml
  misc/operator/config/crd/bases/ledger.formance.com_ledgerservices.yaml
  misc/operator/config/rbac/role.yaml
  misc/operator/internal/controller/ledger_controller.go
  misc/operator/internal/controller/reconcile_dnsendpoint.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(ledger): use single DB transaction for forgeLog hot path (#1287)
  internal/controller/ledger/log_process.go
  internal/controller/ledger/log_process_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add branch naming conventions in CLAUDE.md (#1288)
  CLAUDE.md
Due: none

chore(deps): update module github.com/docker/cli to v29 [security] (#1285)
  go.mod
  go.sum
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: none

feat(operator): auto-allow OTEL collector egress in NetworkPolicy
  misc/operator/internal/controller/build_networkpolicy_spec_test.go
  misc/operator/internal/controller/reconcile_networkpolicy.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(operator): add annotations field to DNSEndpoint spec
  misc/operator/api/v1alpha1/ledger_types.go
  misc/operator/api/v1alpha1/zz_generated.deepcopy.go
  misc/operator/chart/crds/ledger.formance.com_ledgerservices.yaml
  misc/operator/config/crd/bases/ledger.formance.com_ledgerservices.yaml
  misc/operator/internal/controller/reconcile_dnsendpoint.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(operator): add pre-delete hook to clean up LedgerClusterAgent finalizers
  misc/operator/chart/templates/pre-delete-job.yaml
Due: none

feat: add build tags for optional heavy dependencies (Kafka, NATS, ClickHouse, S3, Pyroscope)
  cmd/server/pyroscope.go
  cmd/server/pyroscope_disabled.go
  internal/application/ctrl/controller_default_generated_test.go
  internal/application/ctrl/controller_generated_test.go
  internal/application/events/clickhouse_data.go
  internal/application/events/clickhouse_data_test.go
  internal/application/events/manager.go
  internal/application/events/manager_create_sink_kafka_test.go
  internal/application/events/manager_create_sink_nats_test.go
  internal/application/events/manager_create_sink_test.go
  internal/application/events/registry.go
  internal/application/events/sink_clickhouse.go
  internal/application/events/sink_clickhouse_integration_test.go
  internal/application/events/sink_kafka.go
  internal/application/events/sink_kafka_integration_test.go
  internal/application/events/sink_kafka_test.go
  internal/application/events/sink_nats.go
  internal/application/events/sink_nats_integration_test.go
  internal/application/events/testmain_clickhouse_test.go
  internal/application/events/testmain_kafka_test.go
  internal/application/events/testmain_test.go
  internal/bootstrap/module.go
  internal/domain/processing/store_mock_test.go
  internal/infra/coldstorage/s3.go
  internal/infra/coldstorage/s3_disabled.go
  internal/infra/health/healthcheck_generated.go
  internal/infra/monitoring/pyroscope/config.go
  internal/infra/monitoring/pyroscope/config_disabled.go
  internal/infra/monitoring/pyroscope/module.go
  internal/infra/monitoring/pyroscope/module_disabled.go
  internal/infra/node/transport_generated_test.go
  internal/infra/state/metadata_converter_generated_test.go
  internal/storage/spool/spool_generated_test.go
  internal/storage/wal/wal_generated.go
  justfile
  tests/e2e/events_sinks_clickhouse_test.go
  tests/e2e/events_sinks_nats_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs: document build tags and test commands in AGENTS.md
  AGENTS.md
Due: none

feat: add ListLedgerLogs HTTP handler
  internal/adapter/http/handlers_list_ledger_logs.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add reference, timestamp, and id filters to ListTransactions
  cmd/ledgerctl/ledgers/create_index.go
  cmd/ledgerctl/ledgers/list_indexes.go
  docs/dev/api-comparison.md
  docs/ops/cli.md
  internal/adapter/grpc/server_bucket.go
  internal/application/admission/admission.go
  internal/application/ctrl/controller_default.go
  internal/application/indexbuilder/builder.go
  internal/domain/processing/processor_index.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  internal/query/compile.go
  internal/query/executor.go
  internal/storage/readstore/keys.go
  internal/storage/readstore/store.go
  internal/storage/readstore/write_batch.go
  misc/proto/bucket.proto
  misc/proto/common.proto
  misc/proto/raft_cmd.proto
  tests/e2e/analyze_accounts_test.go
  tests/e2e/analyze_transactions_test.go
  tests/e2e/indexes_test.go
  tests/e2e/prepared_queries_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: replace MetadataIndexTarget with entity-grouped TransactionIndex/AccountIndex
  cmd/ledgerctl/ledgers/create_index.go
  cmd/ledgerctl/ledgers/drop_index.go
  cmd/ledgerctl/ledgers/list_indexes.go
  internal/adapter/grpc/server_bucket.go
  internal/application/admission/admission.go
  internal/application/indexbuilder/builder.go
  internal/domain/processing/numscript/emulate_test.go
  internal/domain/processing/processor_index.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  internal/storage/readstore/keys.go
  internal/storage/readstore/store.go
  misc/proto/bucket.proto
  misc/proto/common.proto
  misc/proto/raft_cmd.proto
  tests/e2e/helpers_test.go
  tests/e2e/indexes_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: merge address role indexes into TransactionBuiltinIndex
  cmd/ledgerctl/ledgers/create_index.go
  cmd/ledgerctl/ledgers/drop_index.go
  cmd/ledgerctl/ledgers/list_indexes.go
  docs/dev/api-comparison.md
  docs/ops/cli.md
  internal/adapter/grpc/client_bucket.go
  internal/adapter/grpc/server_bucket.go
  internal/adapter/http/handler.go
  internal/adapter/http/mock_backend_test.go
  internal/application/admission/admission.go
  internal/application/ctrl/controller.go
  internal/application/ctrl/controller_default.go
  internal/application/ctrl/controller_generated_test.go
  internal/application/indexbuilder/builder.go
  internal/bootstrap/controller_routed.go
  internal/domain/processing/processor_index.go
  internal/pkg/filterexpr/parser.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_grpc.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  internal/query/compile.go
  internal/query/executor.go
  internal/query/log.go
  internal/storage/readstore/keys.go
  internal/storage/readstore/store.go
  internal/storage/readstore/write_batch.go
  misc/proto/bucket.proto
  misc/proto/common.proto
  misc/proto/raft_cmd.proto
  openapi.yml
  tests/e2e/indexes_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add AggregateVolumes RPC endpoint and refactor list entities
  cmd/ledgerctl/accounts/aggregate.go
  cmd/ledgerctl/accounts/command.go
  docs/dev/api-comparison.md
  internal/adapter/grpc/client_bucket.go
  internal/adapter/grpc/server_bucket.go
  internal/adapter/http/mock_backend_test.go
  internal/application/ctrl/controller.go
  internal/application/ctrl/controller_default.go
  internal/application/ctrl/controller_generated_test.go
  internal/application/ctrl/list_entities.go
  internal/bootstrap/controller_routed.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_grpc.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  internal/query/aggregate.go
  internal/query/executor.go
  misc/proto/bucket.proto
  tests/e2e/aggregate_volumes_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: clean up proto files — remove unused types, reserved fields, and realign numbering
  internal/application/events/clickhouse_data.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/commonpb/transaction.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  internal/proto/raftcmdpb/raftcmd.pb.json.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  misc/proto/bucket.proto
  misc/proto/common.proto
  misc/proto/raft_cmd.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: guarantee all goroutines exit before Stop() returns
  internal/application/events/emitter.go
  internal/bootstrap/module.go
  internal/infra/monitoring/otlplogs/module.go
  internal/infra/node/node.go
  internal/storage/dal/smart_compactor.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: reorganize Pebble keyspace — zone constants, attribute prefix renames, unified KeyBuilder
  docs/drafts/advanced-read-queries.md
  internal/application/ctrl/controller_default.go
  internal/application/ctrl/list_entities.go
  internal/application/ctrl/store.go
  internal/application/indexbuilder/builder.go
  internal/infra/attributes/accumulating_attribute.go
  internal/infra/attributes/attributes.go
  internal/infra/attributes/attributes_helpers_test.go
  internal/infra/attributes/compact.go
  internal/infra/attributes/module.go
  internal/infra/state/batch.go
  internal/infra/state/buffer.go
  internal/infra/state/machine_test.go
  internal/infra/state/sealer.go
  internal/query/audit.go
  internal/query/compact_account.go
  internal/query/compile.go
  internal/query/executor.go
  internal/query/log.go
  internal/query/numscript.go
  internal/query/transaction.go
  internal/storage/dal/key_builder.go
  internal/storage/dal/key_builder_test.go
  internal/storage/dal/proto_cursor_test.go
  internal/storage/dal/smart_compactor.go
  internal/storage/dal/store.go
  internal/storage/dal/store_operations_test.go
  internal/storage/readstore/iterator_address.go
  internal/storage/readstore/keys.go
  internal/storage/readstore/write_account_tx.go
  internal/storage/readstore/write_batch.go
  internal/storage/readstore/write_existence.go
  internal/storage/readstore/write_metadata.go
  misc/operator/cmd/kubectl-ledger/get/get.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(operator): add auto-ingress, auto-dns, single-arch build, parallel Dockerfile
  Dockerfile
  misc/devenv/operator/Pulumi.acme.yaml
  misc/devenv/operator/main.go
  misc/devenv/operator/values/acme/ledger.yaml
  misc/devenv/shared/helpers.go
  misc/operator/api/v1alpha1/ledger_types.go
  misc/operator/api/v1alpha1/ledgerdefaults_types.go
  misc/operator/api/v1alpha1/zz_generated.deepcopy.go
  misc/operator/chart/crds/ledger.formance.com_ledgerdefaults.yaml
  misc/operator/chart/crds/ledger.formance.com_ledgerservices.yaml
  misc/operator/config/crd/bases/ledger.formance.com_ledgerdefaults.yaml
  misc/operator/config/crd/bases/ledger.formance.com_ledgerservices.yaml
  misc/operator/internal/controller/merge.go
  misc/operator/internal/controller/merge_test.go
  misc/operator/internal/controller/reconcile_dnsendpoint.go
  misc/operator/internal/controller/reconcile_ingress.go
  misc/operator/ui/chart/templates/dnsendpoint.yaml
  misc/operator/ui/chart/templates/ingress.yaml
  misc/operator/ui/chart/values.yaml
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(operator): centralize AutoNetworking and remove provider-specific logic
  Dockerfile
  misc/devenv/operator/Pulumi.acme.yaml
  misc/devenv/operator/main.go
  misc/devenv/operator/values/acme/ledger.yaml
  misc/devenv/shared/helpers.go
  misc/operator/api/v1alpha1/ledger_types.go
  misc/operator/api/v1alpha1/ledgerdefaults_types.go
  misc/operator/api/v1alpha1/zz_generated.deepcopy.go
  misc/operator/chart/crds/ledger.formance.com_ledgerdefaults.yaml
  misc/operator/chart/crds/ledger.formance.com_ledgerservices.yaml
  misc/operator/config/crd/bases/ledger.formance.com_ledgerdefaults.yaml
  misc/operator/config/crd/bases/ledger.formance.com_ledgerservices.yaml
  misc/operator/internal/controller/merge.go
  misc/operator/internal/controller/reconcile_ingress.go
  misc/operator/internal/controller/reconcile_ingress_grpc.go
  misc/operator/internal/controller/reconcile_ingress_test.go
  misc/operator/internal/controller/reconcile_service_grpc.go
  misc/operator/ui/backend/src/index.ts
  misc/operator/ui/backend/src/k8s/ledger-defaults.ts
  misc/operator/ui/backend/src/k8s/ledger-service.ts
  misc/operator/ui/backend/src/middleware/namespace-guard.ts
  misc/operator/ui/backend/src/routes/namespaces.ts
  misc/operator/ui/chart/templates/deployment.yaml
  misc/operator/ui/chart/values.yaml
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(operator-ui): use setHeaderOptions for merge-patch content-type
  misc/operator/ui/backend/src/k8s/ledger-defaults.ts
  misc/operator/ui/backend/src/k8s/ledger-service.ts
  misc/operator/ui/backend/src/k8s/patch.ts
Due: none

fix(operator): fix inter-node gRPC auth failures during join and scale-down
  Dockerfile
  cmd/server/server.go
  internal/adapter/auth/grpc_auth.go
  internal/bootstrap/config.go
  internal/bootstrap/module.go
  internal/infra/transport/connection_pool.go
  misc/devenv/operator/Pulumi.acme.yaml
  misc/devenv/operator/main.go
  misc/devenv/operator/values/acme/ledger.yaml
  misc/devenv/shared/helpers.go
  misc/operator/api/v1alpha1/ledger_types.go
  misc/operator/api/v1alpha1/zz_generated.deepcopy.go
  misc/operator/chart/crds/ledger.formance.com_ledgerdefaults.yaml
  misc/operator/chart/crds/ledger.formance.com_ledgerservices.yaml
  misc/operator/config/crd/bases/ledger.formance.com_ledgerdefaults.yaml
  misc/operator/config/crd/bases/ledger.formance.com_ledgerservices.yaml
  misc/operator/internal/controller/ledger_controller.go
  misc/operator/internal/controller/raft_scaledown.go
  misc/operator/internal/controller/reconcile_cluster_secret.go
  misc/operator/internal/controller/reconcile_dnsendpoint.go
  misc/operator/internal/controller/reconcile_ingress.go
  misc/operator/internal/controller/reconcile_ingress_grpc.go
  misc/operator/internal/controller/reconcile_service_grpc.go
  misc/operator/internal/controller/reconcile_statefulset.go
  misc/operator/ui/backend/src/routes/ledger-services.ts
  misc/operator/ui/shared/src/types.ts
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: disable namespace creation
  misc/devenv/testing/values/acme/k6operator.yaml
Due: none

feat(operator): add additionalEgress to NetworkPolicy and setup acme testing stack
  misc/devenv/acme.yaml
  misc/devenv/testing/Pulumi.acme.yaml
  misc/devenv/testing/values/acme/benchmark-operator.yaml
  misc/operator/api/v1alpha1/ledger_types.go
  misc/operator/api/v1alpha1/zz_generated.deepcopy.go
  misc/operator/chart/crds/ledger.formance.com_ledgerdefaults.yaml
  misc/operator/chart/crds/ledger.formance.com_ledgerservices.yaml
  misc/operator/config/crd/bases/ledger.formance.com_ledgerdefaults.yaml
  misc/operator/config/crd/bases/ledger.formance.com_ledgerservices.yaml
  misc/operator/internal/controller/build_networkpolicy_spec_test.go
  misc/operator/internal/controller/reconcile_networkpolicy.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(e2e): fix flaky follower-rejoin test hanging on stale gRPC connection
  tests/e2e/matchers_test.go
  tests/e2e/raft_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(mirror): propagate applyPosting errors instead of silently ignoring them
  internal/domain/processing/processor_mirror.go
  internal/domain/processing/processor_mirror_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(preload): extract preload package and close race between build and propose
  internal/application/admission/admission.go
  internal/application/admission/admission_test.go
  internal/application/mirror/manager.go
  internal/application/mirror/worker.go
  internal/bootstrap/module.go
  internal/infra/preload/loader.go
  internal/infra/preload/loader_test.go
  internal/infra/preload/needs.go
  internal/infra/preload/preloader.go
  internal/infra/preload/resolve.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(preload): replace private nextIndex with shared IndexTracker for accurate Raft index prediction
  internal/application/admission/admission.go
  internal/application/admission/admission_test.go
  internal/application/mirror/worker.go
  internal/bootstrap/module.go
  internal/infra/cache/cache.go
  internal/infra/cache/cache_test.go
  internal/infra/node/index_tracker.go
  internal/infra/node/node.go
  internal/infra/preload/preloader.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(query): ensure cross-store consistency between bbolt and Pebble reads
  internal/application/ctrl/controller_default.go
  internal/application/ctrl/list_entities.go
  internal/application/ctrl/store.go
  internal/application/indexbuilder/builder.go
  internal/infra/state/batch.go
  internal/infra/state/buffer.go
  internal/infra/state/machine.go
  internal/query/aggregate.go
  internal/query/config.go
  internal/query/executor.go
  internal/storage/dal/store.go
  internal/storage/readstore/keys.go
  internal/storage/readstore/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(attributes): add background cleaner for stale Pebble entries
  internal/bootstrap/module.go
  internal/infra/attributes/cleaner.go
  internal/infra/attributes/cleaner_test.go
  tests/e2e/raft_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(query): remove unnecessary raft index cap from GetAccount
  internal/application/ctrl/controller_default.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests
