Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

test(e2e): pin the log-date index against its ledger's full log history
  tests/e2e/business/log_date_index_backfill_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(audit): add operator reconciliation durability domain
  docs/technical/agent-context.md
  docs/technical/audits/operator-reconciliation-durability.json
  docs/technical/audits/operator-reconciliation-durability.md
Due: none

test(antithesis): attribute retype refusals to their index
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/indexes.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/indexes_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/queries.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/queries_logs.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(indexbuilder): backfill dates for every ledger log
  docs/technical/architecture/subsystems/indexer/README.md
  docs/technical/architecture/subsystems/indexer/indexer.md
  docs/technical/architecture/subsystems/indexer/indexes.md
  internal/application/indexbuilder/backfill.go
  internal/application/indexbuilder/index_config.go
  internal/application/indexbuilder/log_date_backfill_test.go
  internal/application/indexbuilder/process_logs.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(grpcerr): reject the explicit UNSPECIFIED wire reason
  docs/technical/architecture/subsystems/api/http-api.md
  internal/adapter/grpcerr/errors.go
  internal/adapter/grpcerr/errors_test.go
  internal/domain/reason.go
  internal/domain/reason_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(api)!: redact sink and mirror credentials from reads
  docs/ops/cli.md
  docs/technical/architecture/subsystems/admission/signing.md
  docs/technical/architecture/subsystems/api/README.md
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
  docs/technical/architecture/subsystems/api/secret-redaction.md
  docs/technical/architecture/subsystems/events-mirror/events.md
  docs/technical/architecture/subsystems/events-mirror/mirror.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/grpc/read_projection.go
  internal/adapter/grpc/server_bucket.go
  internal/adapter/grpc/server_bucket_credential_projection_test.go
  internal/adapter/http/credential_projection_test.go
  internal/adapter/http/handlers_get_audit_entry.go
  internal/adapter/http/handlers_get_events_sinks.go
  internal/adapter/http/handlers_get_ledger.go
  internal/adapter/http/handlers_get_log.go
  internal/adapter/http/handlers_list_all_ledgers.go
  internal/adapter/http/handlers_list_audit_entries.go
  internal/adapter/http/handlers_list_ledger_logs.go
  internal/adapter/readprojection/audit.go
  internal/adapter/readprojection/audit_hash_test.go
  internal/adapter/readprojection/audit_test.go
  internal/adapter/readprojection/config.go
  internal/adapter/readprojection/config_test.go
  internal/adapter/readprojection/wire.go
  internal/adapter/readprojection/wire_test.go
  openapi.yml
  pkg/grpcprotocol/protocol.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(audit): add operator reconciliation durability domain (#1961)
  docs/technical/agent-context.md
  docs/technical/audits/operator-reconciliation-durability.json
  docs/technical/audits/operator-reconciliation-durability.md
Due: none

docs: resolve the query-checkpoints merge conflict left in the rebase (EN-1978)
  docs/technical/architecture/subsystems/read-path/query-checkpoints.md
Due: none

Revert "fix(indexbuilder): backfill dates for every ledger log"
  docs/technical/architecture/subsystems/indexer/README.md
  docs/technical/architecture/subsystems/indexer/indexer.md
  docs/technical/architecture/subsystems/indexer/indexes.md
  internal/application/indexbuilder/backfill.go
  internal/application/indexbuilder/index_config.go
  internal/application/indexbuilder/log_date_backfill_test.go
  internal/application/indexbuilder/process_logs.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(dal): simplify successful batch finalization
  docs/technical/architecture/subsystems/storage/storage-drivers.md
  internal/storage/dal/batch.go
  internal/storage/dal/batch_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(grpc): reserve protocol bumps for interoperability breaks
  AGENTS.md
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
  docs/technical/architecture/subsystems/api/secret-redaction.md
  docs/technical/contributing/protobuf.md
  pkg/grpcprotocol/protocol.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1636): rebuild typed errors on the leader-forwarding hop (#1939)
  cmd/ledgerctl/cmdutil/errors.go
  cmd/ledgerctl/cmdutil/errors_test.go
  docs/technical/agent-context.md
  docs/technical/architecture/subsystems/api/README.md
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/apierr/apierr.go
  internal/adapter/apierr/apierr_test.go
  internal/adapter/grpc/client_bucket.go
  internal/adapter/grpc/client_bucket_test.go
  internal/adapter/grpc/errors.go
  internal/adapter/grpc/errors_test.go
  internal/adapter/grpcerr/conn.go
  internal/adapter/grpcerr/conn_test.go
  internal/adapter/grpcerr/errors.go
  internal/adapter/grpcerr/errors_test.go
  internal/adapter/http/error_handler.go
  internal/adapter/http/error_handler_forwarded_test.go
  internal/adapter/http/handlers_bulk.go
  internal/adapter/http/handlers_coverage_test.go
  internal/bootstrap/controller_routed.go
  internal/domain/errors.go
  internal/domain/reason.go
  internal/domain/reason_test.go
  internal/infra/state/audit_failure_test.go
  openapi.yml
  scripts/check-repo-invariants.go
  scripts/check-repo-invariants_test.go
  tests/e2e/cluster/rest_error_parity_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(logs): round-trip all ledger log JSON payloads (EN-1790)
  docs/technical/architecture/subsystems/api/README.md
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/architecture/subsystems/events-mirror/events.md
  internal/adapter/http/handlers_get_log_test.go
  internal/adapter/http/handlers_list_ledger_logs_test.go
  internal/application/events/event_test.go
  internal/proto/commonpb/common.pb.json.go
  internal/proto/commonpb/fuzz_test.go
  internal/proto/commonpb/hydrate.go
  internal/proto/commonpb/log.go
  internal/proto/commonpb/log_json_test.go
  internal/proto/commonpb/prepared_query_json_test.go
  internal/proto/commonpb/transaction.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(logs): distinguish malformed JSON rejection paths
  internal/proto/commonpb/log_json_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(logs): align JSON payload layout with ledger v2 (EN-1790)
  cmd/ledgerctl/cmdutil/output_test.go
  docs/ops/cli.md
  docs/technical/architecture/subsystems/api/README.md
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/architecture/subsystems/events-mirror/events.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/http/handlers_get_log_test.go
  internal/adapter/http/handlers_list_ledger_logs_test.go
  internal/application/events/event_test.go
  internal/proto/commonpb/common.pb.json.go
  internal/proto/commonpb/fuzz_test.go
  internal/proto/commonpb/hydrate.go
  internal/proto/commonpb/log.go
  internal/proto/commonpb/log_json_test.go
  internal/proto/commonpb/log_type.go
  internal/proto/commonpb/log_type_test.go
  internal/proto/commonpb/prepared_query_json_test.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(logs): limit v2 alignment to JSON output (EN-1790)
  cmd/ledgerctl/cmdutil/output_test.go
  docs/ops/cli.md
  docs/technical/architecture/subsystems/api/README.md
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/architecture/subsystems/events-mirror/events.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/http/handlers_get_log_test.go
  internal/adapter/http/handlers_list_ledger_logs_test.go
  internal/application/events/event_test.go
  internal/proto/commonpb/common.pb.json.go
  internal/proto/commonpb/fuzz_test.go
  internal/proto/commonpb/hydrate.go
  internal/proto/commonpb/log.go
  internal/proto/commonpb/log_json_test.go
  internal/proto/commonpb/prepared_query_json_test.go
  internal/proto/commonpb/transaction.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1980): preserve forwarded statuses through cursors and wrappers
  docs/technical/architecture/subsystems/api/README.md
  docs/technical/architecture/subsystems/api/grpc-api.md
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/grpc/cursor.go
  internal/adapter/grpc/cursor_error_boundary_test.go
  internal/adapter/grpc/forwarded_status_test.go
  internal/adapter/grpc/server.go
  internal/adapter/grpcerr/conn.go
  internal/adapter/grpcerr/errors.go
  tests/e2e/cluster/rest_error_parity_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(logs): remove unused JSON hydration (EN-1790)
  docs/technical/architecture/subsystems/api/http-api.md
  internal/proto/commonpb/common.pb.json.go
  internal/proto/commonpb/fuzz_test.go
  internal/proto/commonpb/hydrate.go
  internal/proto/commonpb/log.go
  internal/proto/commonpb/log_type.go
  internal/proto/commonpb/log_type_test.go
  scripts/fuzz-targets.txt
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1980): render consistent public HTTP error messages
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/apierr/apierr.go
  internal/adapter/apierr/apierr_test.go
  internal/adapter/http/error_handler.go
  internal/adapter/http/error_message_parity_test.go
  internal/adapter/http/handlers_bulk.go
  internal/adapter/http/public_errors_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(validation): bound shared Go build cache
  docs/technical/contributing/ai-review-loop.md
  docs/technical/contributing/ai-worktree-isolation.md
  docs/technical/contributing/local-validation.md
  scripts/agent-check-pr
  scripts/agent-validation-env
  scripts/agentvalidationenv/cache_test.go
  scripts/ai-pr-loop
  scripts/ai-review-codex
  scripts/aiprloop/launcher_test.go
  scripts/aiprloop/push_test.go
  scripts/aireviewcodex/adapter_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1987): index every log's date for a log-date index
  docs/technical/architecture/subsystems/indexer/indexer.md
  docs/technical/architecture/subsystems/indexer/indexes.md
  internal/application/indexbuilder/backfill.go
  internal/application/indexbuilder/builder.go
  internal/application/indexbuilder/index_config.go
  internal/application/indexbuilder/index_config_test.go
  internal/application/indexbuilder/log_date_backfill_test.go
  internal/application/indexbuilder/process_logs.go
  internal/query/compile.go
  tests/e2e/business/log_date_index_backfill_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1999): verify membership for replacement pods during scale-down
  docs/ops/cluster-operations.md
  misc/operator/README.md
  misc/operator/internal/controller/raft_scaledown.go
  misc/operator/internal/controller/raft_scaledown_reconcile_integration_test.go
  misc/operator/internal/controller/raft_scaledown_replacement_test.go
  misc/operator/internal/controller/reconcile_statefulset.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(logs): clarify integer JSON rendering (EN-1790)
  docs/technical/architecture/subsystems/api/http-api.md
  openapi.yml
Due: gosdk

fix(logs): reject missing metadata account target (EN-1790)
  internal/proto/commonpb/common.pb.json.go
  internal/proto/commonpb/log_json_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: remove unused worker and cursor abstractions
  internal/pkg/cursor/cursor.go
  internal/pkg/cursor/cursor_test.go
  internal/pkg/worker/channel.go
  internal/pkg/worker/channel_test.go
  internal/pkg/worker/worker.go
  internal/pkg/worker/worker_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(read-path): correct historical seek method names
  docs/technical/architecture/subsystems/read-path/iterator-seek-contract.md
Due: none

fix(dal): fail loudly on committed batch ownership violations
  docs/technical/architecture/subsystems/storage/storage-drivers.md
  internal/storage/dal/batch.go
  internal/storage/dal/batch_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(logs): reject nil transaction metadata target (EN-1790)
  internal/proto/commonpb/common.pb.json.go
  internal/proto/commonpb/log_json_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(query): cover unfiltered aggregation review cases
  docs/technical/architecture/subsystems/read-path/README.md
  docs/technical/architecture/subsystems/read-path/prepared-queries.md
  docs/technical/architecture/subsystems/read-path/query-pipeline.md
  internal/query/aggregate.go
  internal/query/executor_aggregate_bench_test.go
  internal/query/executor_aggregate_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(validation): harden cache rotation under concurrency
  docs/technical/contributing/local-validation.md
  scripts/agent-cache-contract
  scripts/agent-check-pr
  scripts/agent-validation-env
  scripts/agentvalidationenv/cache_test.go
  scripts/agentvalidationenv/rotation_test.go
  scripts/ai-review-codex
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

style(logs): separate transaction target guard (EN-1790)
  internal/proto/commonpb/common.pb.json.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1999): verify membership for replacement pods during scale-down (#1967)
  docs/ops/cluster-operations.md
  misc/operator/README.md
  misc/operator/internal/controller/raft_scaledown.go
  misc/operator/internal/controller/raft_scaledown_reconcile_integration_test.go
  misc/operator/internal/controller/raft_scaledown_replacement_test.go
  misc/operator/internal/controller/reconcile_statefulset.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(logs): align ledger-log JSON output with v2 (EN-1790) (#1947)
  cmd/ledgerctl/cmdutil/output_test.go
  docs/ops/cli.md
  docs/technical/architecture/subsystems/api/README.md
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/architecture/subsystems/events-mirror/events.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/http/handlers_get_log_test.go
  internal/adapter/http/handlers_list_ledger_logs_test.go
  internal/application/events/event_test.go
  internal/proto/commonpb/common.pb.json.go
  internal/proto/commonpb/fuzz_test.go
  internal/proto/commonpb/hydrate.go
  internal/proto/commonpb/log.go
  internal/proto/commonpb/log_json_test.go
  internal/proto/commonpb/log_type.go
  internal/proto/commonpb/log_type_test.go
  internal/proto/commonpb/prepared_query_json_test.go
  openapi.yml
  scripts/fuzz-targets.txt
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(operator): recover backup Jobs after lost creation responses
  docs/ops/backup-restore.md
  misc/operator/README.md
  misc/operator/internal/controller/backuprun_controller.go
  misc/operator/internal/controller/backuprun_recovery_integration_test.go
  misc/operator/internal/controller/backuprun_recovery_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: remove unused worker and cursor abstractions (#1969)
  internal/pkg/cursor/cursor.go
  internal/pkg/cursor/cursor_test.go
  internal/pkg/worker/channel.go
  internal/pkg/worker/channel_test.go
  internal/pkg/worker/worker.go
  internal/pkg/worker/worker_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(grpc)!: route audited mutations through BucketService.Apply (EN-1954)
  cmd/ledgerctl/queries/create.go
  cmd/ledgerctl/queries/delete.go
  cmd/ledgerctl/queries/update.go
  cmd/ledgerctl/querycheckpoint/create.go
  cmd/ledgerctl/querycheckpoint/delete.go
  docs/ops/cli.md
  docs/technical/architecture/subsystems/read-path/prepared-queries.md
  docs/technical/architecture/subsystems/read-path/query-checkpoints.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/auth/request_scope.go
  internal/adapter/grpc/apply_only_write_path_test.go
  internal/adapter/grpc/bucket_service_client_generated_test.go
  internal/adapter/grpc/server_bucket.go
  internal/adapter/grpc/server_bucket_checkpoint_wait_test.go
  internal/adapter/grpc/server_cluster.go
  internal/adapter/grpc/server_mutation_auth_context_test.go
  internal/bootstrap/module.go
  internal/proto/clusterpb/cluster.pb.go
  internal/proto/clusterpb/cluster_dethash.pb.go
  internal/proto/clusterpb/cluster_grpc.pb.go
  internal/proto/clusterpb/cluster_reader.pb.go
  internal/proto/clusterpb/cluster_vtproto.pb.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_dethash.pb.go
  internal/proto/servicepb/bucket_grpc.pb.go
  internal/proto/servicepb/bucket_reader.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  misc/proto/bucket.proto
  misc/proto/cluster.proto
  pkg/actions/actions.go
  pkg/actions/read.go
  tests/antithesis/workload/bin/cmds/main/parallel_driver_query_checkpoints/main.go
  tests/e2e/business/filter_schema_validation_test.go
  tests/e2e/business/indexes_test.go
  tests/e2e/business/prepared_queries_test.go
  tests/e2e/business/prepared_query_race_test.go
  tests/e2e/business/query_profile_test.go
  tests/e2e/cluster/mirror_test.go
  tests/e2e/cluster/prepared_query_ledger_cache_rotation_test.go
  tests/e2e/cluster/query_checkpoint_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(cluster): create the read-index checkpoint through Apply (EN-1954)
  tests/e2e/cluster/query_checkpoint_readindex_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(cluster): create the restore delta checkpoint through Apply (EN-1954)
  tests/e2e/cluster/restore_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1954): bump the service protocol revision to 6
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
  pkg/grpcprotocol/protocol.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(operator): surface backup provisioning conflicts in run status
  docs/ops/backup-restore.md
  misc/operator/internal/controller/backuprun_controller.go
  misc/operator/internal/controller/backuprun_recovery_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests
