Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

fix: remove duplicate date assignation
  internal/moves.go
  internal/storage/bucket/migrations/33-moves-assign-date.sql
  internal/storage/ledger/accounts.go
  internal/storage/ledger/accounts_test.go
  internal/storage/ledger/transactions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add database connections graph
  test/performance/charts/index.ts
  test/performance/charts/package-lock.json
  test/performance/charts/package.json
  test/performance/charts/src/graphs.ts
  test/performance/charts/src/report.ts
Due: none

feat: add deadlocks metric
  TODO
  internal/README.md
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/log_process.go
  internal/controller/ledger/log_process_test.go
  test/performance/env_testserver_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: refine metrics and docker-compose
  cmd/serve.go
  deployments/otel-collector-config.yaml
  deployments/prometheus.yaml
  docker-compose.yml
  examples/otlp-exporter/docker-compose.yml
  go.mod
  go.sum
  pkg/testserver/server.go
  test/performance/benchmark_test.go
  test/performance/env_testserver_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: add test on storage
  internal/storage/ledger/accounts.go
  internal/storage/ledger/accounts_test.go
  internal/storage/ledger/transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: ci benchmarks
  .github/workflows/benchmark.yml
Due: none

fix: ci
  .github/workflows/benchmark.yml
Due: none

feat: add log
  test/performance/benchmark_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: update GitHub Actions workflows
  .github/actions/env/action.yml
  .github/workflows/main.yml
  .github/workflows/releases.yml
Due: none

ci: add codecov report upload
  .github/workflows/main.yml
Due: none

fix: rename coverage file
  Earthfile
Due: none

fix(ci): remove no output on earthly tests
  .github/workflows/main.yml
Due: none

ci: add codecov report upload (#509)
  .github/workflows/main.yml
  Earthfile
Due: none

fix(benchmarks): debug
  .github/workflows/benchmark.yml
  cmd/serve.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: benchmarks
  .github/workflows/benchmark.yml
Due: none

feat: remove debug
  cmd/serve.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(Dockerfile): update CMD instruction to use 'serve' instead of 'client'
  build.Dockerfile
  scratch copy.Dockerfile
Due: none

fix(Dockerfile): update CMD instruction to use 'serve' instead of 'client' (#510)
  build.Dockerfile
  scratch copy.Dockerfile
Due: none

chore: backport https://github.com/formancehq/stack/pull/1730
  go.mod
  go.sum
  internal/storage/ledgerstore/volumes.go
  internal/storage/ledgerstore/volumes_test.go
  test/integration/scenario_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: backport https://github.com/formancehq/stack/pull/1730 (#512)
  go.mod
  go.sum
  internal/storage/ledgerstore/volumes.go
  internal/storage/ledgerstore/volumes_test.go
  test/integration/scenario_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove usage of unified sdk
  go.mod
  go.sum
  internal/storage/ledger/accounts.go
  internal/storage/ledger/logs.go
  internal/storage/ledger/moves.go
  test/performance/env_remote_stack_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: make transactions pcv computed on the fly
  internal/api/v1/controllers_transactions_create.go
  internal/api/v1/controllers_transactions_create_test.go
  internal/api/v2/controllers_transactions_create_test.go
  internal/storage/bucket/migrations/0-init-schema.sql
  internal/storage/bucket/migrations/11-stateless.sql
  internal/storage/ledger/accounts_test.go
  internal/storage/ledger/balances_test.go
  internal/storage/ledger/moves.go
  internal/storage/ledger/transactions.go
  internal/storage/ledger/transactions_test.go
  internal/storage/ledger/volumes.go
  internal/storage/system/migrations.go
  internal/transaction.go
  internal/transaction_test.go
  internal/volumes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: make insertMoves return post commit volumes
  internal/storage/bucket/migrations/11-stateless.sql
  internal/storage/ledger/accounts.go
  internal/storage/ledger/accounts_test.go
  internal/storage/ledger/balances.go
  internal/storage/ledger/moves.go
  internal/storage/ledger/moves_test.go
  internal/storage/ledger/transactions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: introduce acounts_volumes table
  internal/storage/bucket/migrations/11-stateless.sql
  internal/storage/ledger/balances.go
  internal/storage/ledger/balances_test.go
  internal/storage/ledger/moves.go
  internal/storage/ledger/transactions.go
  internal/storage/ledger/transactions_test.go
  internal/storage/ledger/volumes.go
  internal/volumes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: make the core defined transactions timestamp
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_default_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: introduce feature MOVES_HISTORY
  internal/controller/system/controller.go
  internal/ledger.go
  internal/storage/ledger/accounts.go
  internal/storage/ledger/balances.go
  internal/storage/ledger/migrations/0-add-sequences.sql
  internal/storage/ledger/transactions.go
  internal/storage/ledger/transactions_test.go
  internal/storage/ledger/volumes.go
  internal/tracing/tracer.go
  test/e2e/stress_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove ExpandedTransaction and fetch pc(e)v when inserting moves
  go.mod
  go.sum
  internal/api/v1/controllers_transactions.go
  internal/api/v1/controllers_transactions_list_test.go
  internal/api/v1/controllers_transactions_read_test.go
  internal/api/v2/controllers_transactions_list_test.go
  internal/api/v2/controllers_transactions_read_test.go
  internal/controller/ledger/controller.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_default_test.go
  internal/controller/ledger/controller_generated.go
  internal/controller/ledger/store.go
  internal/controller/ledger/store_generated.go
  internal/log.go
  internal/storage/ledger/logs.go
  internal/storage/ledger/logs_test.go
  internal/storage/ledger/moves.go
  internal/storage/ledger/moves_test.go
  internal/storage/ledger/transactions.go
  internal/storage/ledger/transactions_test.go
  internal/transaction.go
  test/performance/env_remote_ledger_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: convert post_commit_volumes to jsonb
  internal/ledger.go
  internal/storage/bucket/migrations/11-stateless.sql
  internal/storage/ledger/accounts.go
  internal/storage/ledger/balances.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: homogeneize volumes names
  internal/storage/bucket/migrations/11-stateless.sql
  internal/storage/ledger/accounts.go
  internal/storage/ledger/balances.go
  internal/storage/ledger/balances_test.go
  internal/storage/ledger/moves.go
  internal/storage/ledger/moves_test.go
  internal/storage/ledger/transactions.go
  internal/storage/ledger/transactions_test.go
  internal/storage/ledger/volumes.go
  internal/volumes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: make balance aggregation use accounts_volumes table if pit is not defined
  go.mod
  go.sum
  internal/storage/ledger/balances.go
  internal/storage/ledger/balances_test.go
  internal/storage/ledger/moves.go
  internal/storage/ledger/transactions.go
  internal/storage/ledger/transactions_test.go
  internal/storage/ledger/volumes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

clean: some todo
  go.mod
  go.sum
  internal/api/v1/controllers_stats.go
  internal/api/v1/controllers_stats_test.go
  internal/api/v2/controllers_stats.go
  internal/api/v2/controllers_stats_test.go
  internal/controller/ledger/controller.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_generated.go
  internal/controller/ledger/stats.go
  internal/controller/ledger/stats_test.go
  internal/machine/vm/machine.go
  internal/machine/vm/machine_test.go
  internal/storage/ledger/store.go
  openapi.yaml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: test logging
  internal/storage/ledger/transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: missing build tag
  Earthfile
  internal/storage/bucket/bucket_test.go
  internal/storage/bucket/main_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: move code
  internal/storage/ledger/transactions.go
  internal/transaction.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(Earthfile): persist golangci-lint cache for faster builds
  Earthfile
Due: none

fix: various
  internal/account.go
  internal/api/v1/controllers_accounts.go
  internal/api/v1/controllers_accounts_list_test.go
  internal/api/v1/controllers_accounts_read.go
  internal/api/v1/controllers_accounts_read_test.go
  internal/api/v2/controllers_accounts_list_test.go
  internal/api/v2/controllers_accounts_read_test.go
  internal/api/v2/controllers_bulk_test.go
  internal/controller/ledger/controller.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_default_test.go
  internal/controller/ledger/controller_generated.go
  internal/controller/ledger/store.go
  internal/controller/ledger/store_generated.go
  internal/storage/bucket/bucket_test.go
  internal/storage/ledger/accounts.go
  internal/storage/ledger/accounts_test.go
  internal/transaction.go
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/gen.yaml
  pkg/client/docs/models/components/v2expandedtransaction.md
  pkg/client/docs/models/components/v2ledger.md
  pkg/client/docs/models/components/v2transaction.md
  pkg/client/docs/models/operations/v2createtransactionrequest.md
  pkg/client/docs/models/operations/v2reverttransactionrequest.md
  pkg/client/docs/sdks/v1/README.md
  pkg/client/docs/sdks/v2/README.md
  pkg/client/formance.go
  pkg/client/models/components/v2expandedtransaction.go
  pkg/client/models/components/v2ledger.go
  pkg/client/models/components/v2transaction.go
  pkg/client/models/operations/v2createtransaction.go
  pkg/client/models/operations/v2reverttransaction.go
  pkg/client/v1.go
  test/performance/env_remote_ledger_test.go
  test/performance/env_remote_stack_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: move model in core
  internal/account.go
  internal/storage/ledger/balances.go
  internal/storage/ledger/balances_test.go
  internal/storage/ledger/transactions.go
  internal/storage/ledger/volumes.go
  internal/storage/ledger/volumes_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: pre commit
  docs/events/CommittedTransactions.json
  docs/events/RevertedTransaction.json
  go.sum
  internal/ledger.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: move segments generation on a trigger
  internal/storage/bucket/migrations/11-stateless.sql
  internal/storage/ledger/accounts.go
  internal/storage/ledger/accounts_test.go
  internal/storage/ledger/balances_test.go
  internal/storage/ledger/migrations/0-add-sequences.sql
  internal/storage/ledger/moves_test.go
  internal/storage/ledger/transactions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests
