Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

fix(query): type the prepared-query execution rejections (EN-1629)
  internal/domain/errors.go
  internal/query/executor.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(http): preserve chunked revert bodies (EN-2016)
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/http/handlers_revert_transaction.go
  internal/adapter/http/handlers_revert_transaction_body_test.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(http): validate the complete revert request body
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/http/handlers_revert_transaction.go
  internal/adapter/http/handlers_revert_transaction_body_test.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

test(query): guard prepared-query snapshot pinning against the pre-fix ordering (EN-1867) (#1959)
  internal/query/executor_alignment_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(antithesis): model-driver prepared query coverage (EN-1629)
  docs/technical/contributing/testing.md
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/actions.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/main.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/prepared_queries.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/prepared_queries_read.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/prepared_queries_read_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/prepared_queries_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/queries.go
  tests/oracle/accessors.go
  tests/oracle/model.go
  tests/oracle/model_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(ledgerctl): verify query mutation response signatures
  cmd/ledgerctl/apply_response_signatures_test.go
  cmd/ledgerctl/queries/create.go
  cmd/ledgerctl/queries/delete.go
  cmd/ledgerctl/queries/update.go
  cmd/ledgerctl/querycheckpoint/create.go
  cmd/ledgerctl/querycheckpoint/delete.go
  docs/ops/cli.md
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(antithesis): align prepared log checks with index lifecycle
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/prepared_queries_read.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/prepared_queries_read_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(antithesis): attribute retype refusals to their index
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/indexes.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/indexes_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/queries.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/queries_logs.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(antithesis): model-driver query coverage — filters, indexes, typed metadata (EN-1625)
  docs/technical/contributing/testing.md
  tests/antithesis/Justfile
  tests/antithesis/README.md
  tests/antithesis/config/Justfile
  tests/antithesis/k8s/Justfile
  tests/antithesis/k8s/workload.yaml
  tests/antithesis/run_model_test.sh
  tests/antithesis/workload/.gitignore
  tests/antithesis/workload/Justfile
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/actions.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/checker.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/config.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/debug.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/filter_fold.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/indexes.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/indexes_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/main.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/metadata_filters.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/processor.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/queries.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/queries_logs.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/queries_logs_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/queries_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/restore.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/validate.go
  tests/antithesis/workload/internal/client.go
  tests/oracle/accessors.go
  tests/oracle/model.go
  tests/oracle/model_test.go
  tests/oracle/oracletest/oracletest.go
  tests/oracle/pmap_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(antithesis): compare the returned fields of accounts and transactions
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/queries.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/queries_test.go
  tests/oracle/accessors.go
  tests/oracle/model.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(antithesis): require every oracle index to serve a verified page
  docs/technical/contributing/testing.md
  scripts/check-repo-invariants.go
  scripts/check_strict_sometimes.go
  scripts/check_strict_sometimes_test.go
  tests/antithesis/README.md
  tests/antithesis/run_model_test.sh
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/coverage.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/coverage_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/indexes.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/main.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/queries_logs.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(antithesis): require a non-empty page to satisfy a coverage sonde
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/coverage.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/coverage_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/indexes.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/queries_logs.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(antithesis): compare every field of a served log
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/queries_logs.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/queries_logs_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/validate.go
  tests/oracle/accessors.go
  tests/oracle/model.go
  tests/oracle/model_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(antithesis): predict the duplicate-index rejection (EN-2009)
  tests/oracle/model.go
  tests/oracle/model_test.go
  tests/oracle/oracletest/oracletest.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(audit): define authentication and authorization boundaries
  docs/technical/audits/authentication-authorization-boundaries.json
  docs/technical/audits/authentication-authorization-boundaries.md
Due: none

docs(audit): define event delivery contracts domain
  docs/technical/audits/event-delivery-contracts.json
  docs/technical/audits/event-delivery-contracts.md
Due: none

docs(audit): define mirror ingestion contracts domain
  docs/technical/audits/mirror-ingestion-contracts.json
  docs/technical/audits/mirror-ingestion-contracts.md
Due: none

docs(readstore): attach transaction range constructor comment correctly
  internal/storage/readstore/iterator_pebble.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(readstore): guard descending visibility and seek behavior
  internal/storage/readstore/iterator_event_resolve_reverse_test.go
  internal/storage/readstore/iterator_reverse_bitset_test.go
  internal/storage/readstore/iterator_reverse_stamp_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(readstore): share stamp and event key validation
  internal/storage/readstore/iterator_admission.go
  internal/storage/readstore/iterator_event_key.go
  internal/storage/readstore/iterator_event_resolve.go
  internal/storage/readstore/iterator_event_resolve_reverse.go
  internal/storage/readstore/iterator_leaf.go
  internal/storage/readstore/iterator_reverse.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1987): index every log's date for a log-date index (#1960)
  docs/technical/architecture/subsystems/indexer/indexer.md
  docs/technical/architecture/subsystems/indexer/indexes.md
  internal/application/indexbuilder/backfill.go
  internal/application/indexbuilder/builder.go
  internal/application/indexbuilder/index_config.go
  internal/application/indexbuilder/index_config_test.go
  internal/application/indexbuilder/log_date_backfill_test.go
  internal/application/indexbuilder/process_logs.go
  internal/query/compile.go
  tests/e2e/business/log_date_index_backfill_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(antithesis): compare a log's own transaction and reject unexplained colours
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/queries.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/queries_logs.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/queries_logs_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/queries_test.go
  tests/oracle/accessors.go
  tests/oracle/model.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(ledgerctl): reuse query mutation action builders
  cmd/ledgerctl/queries/create.go
  cmd/ledgerctl/queries/delete.go
  cmd/ledgerctl/queries/update.go
  cmd/ledgerctl/querycheckpoint/create.go
  cmd/ledgerctl/querycheckpoint/delete.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(checkpoints): qualify follower readiness with skip_response
  docs/technical/architecture/subsystems/read-path/query-checkpoints.md
  pkg/actions/actions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(audit): include Raft authentication service descriptors
  docs/technical/audits/authentication-authorization-boundaries.json
  docs/technical/audits/authentication-authorization-boundaries.md
Due: none

fix(indexbuilder): backfill configuration log dates before readiness
  docs/technical/architecture/subsystems/indexer/indexer.md
  docs/technical/architecture/subsystems/indexer/indexes.md
  internal/application/indexbuilder/backfill.go
  internal/application/indexbuilder/index_config.go
  internal/application/indexbuilder/log_date_backfill_test.go
  internal/application/indexbuilder/process_logs.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(antithesis): reject duplicate prepared query registry names
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/prepared_queries_read.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/prepared_queries_read_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(grpc): assert prepared query execution error classification
  internal/adapter/grpc/prepared_query_errors_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(mirror): cancel PostgreSQL startup on shutdown (EN-1997)
  docs/technical/architecture/subsystems/events-mirror/README.md
  docs/technical/architecture/subsystems/events-mirror/mirror.md
  docs/technical/plans/EN-1997.md
  internal/application/mirror/manager.go
  internal/application/mirror/manager_integration_test.go
  internal/application/mirror/manager_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Test: add benchmarks for account schema resolution
  internal/chart_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

perf(chart): retain compiled variable segment patterns
  internal/chart.go
  internal/chart_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: invalidate compiled pattern when Pattern changes
  internal/chart.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1956): serve the replaced version while a promotion is in flight
  docs/technical/architecture/subsystems/indexer/indexer.md
  docs/technical/architecture/subsystems/indexer/indexes.md
  docs/technical/architecture/subsystems/read-path/query-pipeline.md
  docs/technical/architecture/subsystems/read-path/typed-metadata.md
  internal/application/ctrl/controller_default.go
  internal/application/ctrl/controller_default_inspect_inflight_test.go
  internal/application/indexbuilder/backfill.go
  internal/application/indexbuilder/builder.go
  internal/application/indexbuilder/gc.go
  internal/application/indexbuilder/index_config.go
  internal/application/indexbuilder/serving_transition_test.go
  internal/query/compile.go
  internal/storage/readstore/read_lease.go
  internal/storage/readstore/serving_transitions.go
  internal/storage/readstore/serving_transitions_test.go
  internal/storage/readstore/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(fctl): prepare separate Ledger v2 and v3 plugins
  Justfile
  plugins/fctl/README.md
  plugins/fctl/internal/audit/audit.go
  plugins/fctl/internal/audit/audit_test.go
  plugins/fctl/internal/audit/canonical.go
  plugins/fctl/internal/audit/cmd/fctl-plugin-audit/main.go
  plugins/fctl/internal/audit/cmd/fctl-plugin-audit/main_test.go
  plugins/fctl/internal/audit/inventory.go
  plugins/fctl/ledger-v2/README.md
  plugins/fctl/ledger-v2/auth-scopes-risks.md
  plugins/fctl/ledger-v2/exclusions.md
  plugins/fctl/ledger-v2/inventory.json
  plugins/fctl/ledger-v2/manifest.json
  plugins/fctl/ledger-v2/mapping.md
  plugins/fctl/ledger-v3/README.md
  plugins/fctl/ledger-v3/auth-scopes-risks.md
  plugins/fctl/ledger-v3/exclusions.md
  plugins/fctl/ledger-v3/inventory.json
  plugins/fctl/ledger-v3/manifest.json
  plugins/fctl/ledger-v3/mapping.md
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(fctl): convert ledger-v2 V1 commands to their V2 equivalents
  plugins/fctl/README.md
  plugins/fctl/internal/audit/audit.go
  plugins/fctl/internal/audit/audit_test.go
  plugins/fctl/internal/audit/inventory.go
  plugins/fctl/ledger-v2/README.md
  plugins/fctl/ledger-v2/auth-scopes-risks.md
  plugins/fctl/ledger-v2/exclusions.md
  plugins/fctl/ledger-v2/inventory.json
  plugins/fctl/ledger-v2/manifest.json
  plugins/fctl/ledger-v2/mapping.md
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(audit): define authentication and authorization boundaries (#1986)
  docs/technical/audits/authentication-authorization-boundaries.json
  docs/technical/audits/authentication-authorization-boundaries.md
Due: none

docs(audit): define mirror ingestion contracts domain (#1985)
  docs/technical/audits/mirror-ingestion-contracts.json
  docs/technical/audits/mirror-ingestion-contracts.md
Due: none

docs(audit): define event delivery contracts domain (#1984)
  docs/technical/audits/event-delivery-contracts.json
  docs/technical/audits/event-delivery-contracts.md
Due: none

docs: remove EN-1997 implementation plan from repository
  docs/technical/plans/EN-1997.md
Due: none

fix(http): preserve chunked revert bodies (EN-2016) (#1978)
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/http/handlers_revert_transaction.go
  internal/adapter/http/handlers_revert_transaction_body_test.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
