Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

fix(antithesis): keep test templates out of the restore-orchestrator sidecar
  .claude/skills/antithesis-run/SKILL.md
  tests/antithesis/k8s/workload.yaml
  tests/antithesis/workload/Dockerfile
  tests/antithesis/workload/Justfile
Due: none

docs(EN-1545): RFC — unified hot-path apply simulation (#1579)
  docs/drafts/README.md
  docs/drafts/apply-simulation-rfc.md
Due: none

fix(test): update processor_mirror_test NewVolumeKey calls to 4-arg color signature
  internal/domain/processing/processor_mirror_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(e2e): colored send from unbounded source is rejected, not allowed
  tests/e2e/business/numscript_experimental_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(e2e): drop balance assertion on never-created account in colored-reject test
  tests/e2e/business/numscript_experimental_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(admission): classify all definitive prep failures as terminal, not just colored writes
  docs/technical/contributing/numscript.md
  internal/application/admission/admission.go
  internal/application/admission/admission_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(EN-1406): drop deprecated ERROR_REASON_NON_DETERMINISTIC_SCRIPT (no compat needed)
  internal/domain/errors.go
  internal/domain/errors_test.go
  internal/domain/reason.go
  internal/proto/commonpb/common.pb.go
  misc/proto/common.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(antithesis): atomic claim/withdraw on the restore rendezvous request
  tests/antithesis/run_model_test.sh
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/restore.go
  tests/antithesis/workload/restore-orchestrator.sh
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(antithesis): enter the restore only on a verified-complete teardown
  tests/antithesis/workload/restore-orchestrator.sh
Due: none

chore(EN-1406): drop the reserved 59 placeholder — no compat handling
  internal/proto/commonpb/common.pb.go
  misc/proto/common.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(EN-1406): remove superseded Static Inputs RFC draft
  docs/drafts/README.md
  docs/drafts/numscript/numscript-static-inputs-rfc.md
  docs/drafts/numscript/numscript-typed-metadata-rfc.md
  docs/drafts/numscript/numscript-wasm-compilation-rfc.md
  docs/technical/contributing/numscript.md
Due: none

feat(ledgerctl): add --tls-server-name to verify by name while dialing by IP
  cmd/ledgerctl/auth/login.go
  cmd/ledgerctl/cmdutil/client.go
  cmd/ledgerctl/cmdutil/client_test.go
  cmd/ledgerctl/cmdutil/config.go
  cmd/ledgerctl/cmdutil/resolve.go
  cmd/ledgerctl/cmdutil/resolve_test.go
  cmd/ledgerctl/main.go
  cmd/ledgerctl/profile/create.go
  cmd/ledgerctl/profile/show.go
  docs/ops/cli.md
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(ledgerctl): honor TLS flags in restore + assert ServerName is applied
  cmd/ledgerctl/cmdutil/client.go
  cmd/ledgerctl/cmdutil/client_test.go
  cmd/ledgerctl/profile/list.go
  cmd/ledgerctl/restore/command.go
  docs/ops/cli.md
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(ledgerctl): register tls-server-name as a ledgerctl-owned flag
  cmd/ledgerctl/main.go
  cmd/ledgerctl/main_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(restore): force joiners of a restored cluster through checkpoint sync
  docs/ops/backup-restore.md
  internal/infra/attributes/prepare.go
  internal/infra/attributes/prepare_test.go
  internal/infra/node/node.go
  tests/e2e/cluster/restore_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(admission): surface recovered numscript resolver panics loudly (invariant #7)
  internal/application/admission/admission.go
  internal/domain/processing/numscript/errors.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(ledgerctl): reject conflicting TLS flags at profile-persistence time
  cmd/ledgerctl/auth/login.go
  cmd/ledgerctl/cmdutil/client.go
  cmd/ledgerctl/cmdutil/client_test.go
  cmd/ledgerctl/profile/create.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(test): migrate restore e2e cluster tests to Account.FindVolume (slice API)
  tests/e2e/cluster/restore_stale_cache_test.go
  tests/e2e/cluster/restore_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(checker): align peer-store & MirrorCursor gap wording across linked pages
  AGENTS.md
  docs/technical/architecture/subsystems/checker/README.md
  docs/technical/architecture/subsystems/checker/audit-chain.md
Due: none

fix(restore): harden the learner-join regression per review
  docs/ops/backup-restore.md
  docs/ops/cli.md
  docs/technical/architecture/subsystems/fsm/deterministic-fsm.md
  internal/infra/attributes/prepare_test.go
  internal/infra/node/node.go
  tests/e2e/cluster/restore_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(restore): align remaining applied-index wording with the pinning
  docs/ops/backup-restore.md
  internal/adapter/grpc/server_restore.go
  internal/infra/attributes/prepare.go
  internal/infra/node/restored_marker.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

perf(numscript): key the script cache with xxh3 instead of blake3
  internal/domain/processing/numscript/cache.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

perf(numscript): reuse the compiled VM instead of allocating one per transaction
  internal/domain/processing/numscript/cache.go
  internal/domain/processing/processor_transaction_numscript_vm.go
  internal/domain/processing/processor_transaction_numscript_vm_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(numscript): execute transactions on the bytecode VM
  go.mod
  go.sum
  internal/domain/processing/numscript/cache.go
  internal/domain/processing/numscript/emulate.go
  internal/domain/processing/numscript/errors.go
  internal/domain/processing/numscript_store_adapter_test.go
  internal/domain/processing/processor_transaction.go
  internal/domain/processing/processor_transaction_numscript.go
  internal/domain/processing/processor_transaction_numscript_vm.go
  internal/domain/processing/processor_transaction_numscript_vm_test.go
  internal/domain/processing/processor_transaction_test.go
  tests/antithesis/workload/go.mod
  tests/antithesis/workload/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(numscript): make the execution engine configurable via the Cluster CRD
  cmd/server/server.go
  docs/ops/cli.md
  internal/application/check/checker_test.go
  internal/bootstrap/config.go
  internal/bootstrap/module.go
  internal/domain/processing/processor.go
  internal/domain/processing/processor_chapter_schedule_test.go
  internal/domain/processing/processor_dispatch_test.go
  internal/domain/processing/processor_events_sink_test.go
  internal/domain/processing/processor_ledger_test.go
  internal/domain/processing/processor_maintenance_test.go
  internal/domain/processing/processor_metadata_additional_test.go
  internal/domain/processing/processor_metadata_schema_test.go
  internal/domain/processing/processor_metadata_test.go
  internal/domain/processing/processor_mirror_test.go
  internal/domain/processing/processor_numscript_library_test.go
  internal/domain/processing/processor_query_checkpoint_schedule_test.go
  internal/domain/processing/processor_revert_transaction_test.go
  internal/domain/processing/processor_signing_test.go
  internal/domain/processing/processor_test.go
  internal/domain/processing/processor_transaction.go
  internal/domain/processing/processor_transaction_test.go
  internal/infra/node/applier_async_storage_test.go
  internal/infra/node/applier_test.go
  internal/infra/state/checkpoint_pipeline_regression_test.go
  internal/infra/state/machine.go
  internal/infra/state/machine_test.go
  internal/infra/state/sentinel_tracer_isolation_test.go
  misc/operator/api/v1alpha1/cluster_types.go
  misc/operator/config/crd/bases/ledger.formance.com_clusters.yaml
  misc/operator/helm/crds/templates/ledger.formance.com_clusters.yaml
  misc/operator/internal/controller/envvars.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Clarify checker store invariant (#1581)
  AGENTS.md
  docs/technical/architecture/audit-vs-technical-state.md
  docs/technical/architecture/subsystems/checker/README.md
  docs/technical/architecture/subsystems/checker/audit-chain.md
Due: none

test(model): exercise RebuildDelta via a model-test restore cycle (#1593)
  .claude/skills/antithesis-run/SKILL.md
  docs/technical/contributing/testing.md
  tests/antithesis/k8s/cluster.yaml
  tests/antithesis/k8s/workload.yaml
  tests/antithesis/run_model_test.sh
  tests/antithesis/workload/Dockerfile
  tests/antithesis/workload/Justfile
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/checker.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/config.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/main.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/restore.go
  tests/antithesis/workload/restore-orchestrator.sh
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(deps): bump numscript to feat/exp/vm ec9561f (avoid unnecessary balance calls)
  go.mod
  go.sum
Due: none

fix(EN-1334): peer-store the usage counters after release/v3.0 merge
  AGENTS.md
  internal/application/check/checker.go
  internal/application/check/checker_test.go
  internal/infra/backup/rebuild.go
  internal/infra/backup/rebuild_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(restore): preserve the checkpoint's applied index as the genesis boundary
  docs/ops/backup-restore.md
  docs/ops/cli.md
  docs/technical/architecture/subsystems/fsm/deterministic-fsm.md
  internal/infra/attributes/prepare.go
  internal/infra/attributes/prepare_test.go
  internal/infra/node/node.go
  internal/infra/node/restored_marker.go
  tests/e2e/cluster/restore_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

style: errors.New for constant invariant messages
  internal/infra/attributes/prepare.go
  internal/infra/node/node.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(state): realign the cache generation when restoring a store without meta
  internal/infra/cache/cache.go
  internal/infra/state/cache_snapshotter.go
  internal/infra/state/cache_snapshotter_test.go
  tests/e2e/cluster/restore_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(restore): guard the marker/store alignment the boundary design relies on
  cmd/ledgerctl/store/bootstrap.go
  internal/adapter/grpc/server_restore.go
  internal/bootstrap/module_restore.go
  internal/infra/attributes/prepare.go
  internal/infra/attributes/prepare_test.go
  internal/infra/node/node.go
  internal/infra/node/restored_marker.go
  internal/proto/restorepb/restore.pb.go
  internal/proto/restorepb/restore_grpc.pb.go
  internal/storage/dal/fresh_restore_target_test.go
  internal/storage/dal/store.go
  misc/proto/restore.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(restore): roll back checkpoint placement when the marker write fails
  cmd/ledgerctl/store/bootstrap.go
  internal/adapter/grpc/server_restore.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1334): skipped orders must not inflate usage counters
  docs/technical/architecture/subsystems/usage/counters.md
  internal/application/usagebuilder/process_audit.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(ledgerctl): add --tls-server-name to verify by name while dialing by IP (#1595)
  cmd/ledgerctl/auth/login.go
  cmd/ledgerctl/cmdutil/client.go
  cmd/ledgerctl/cmdutil/client_test.go
  cmd/ledgerctl/cmdutil/config.go
  cmd/ledgerctl/cmdutil/resolve.go
  cmd/ledgerctl/cmdutil/resolve_test.go
  cmd/ledgerctl/main.go
  cmd/ledgerctl/main_test.go
  cmd/ledgerctl/profile/create.go
  cmd/ledgerctl/profile/list.go
  cmd/ledgerctl/profile/show.go
  cmd/ledgerctl/restore/command.go
  docs/ops/cli.md
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(restore): reclaim a half-finalized checkpoint so a crashed restore retries
  cmd/ledgerctl/store/bootstrap.go
  internal/bootstrap/module_restore.go
  internal/storage/dal/fresh_restore_target_test.go
  internal/storage/dal/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(color): checker fails loud on unparseable volume key + doc sync
  docs/technical/contributing/numscript.md
  internal/application/check/checker.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(openapi): document logData in prepared-query cursor + finish volume-shape wording
  openapi.yml
Due: gosdk

docs(storage): sync volume/ledger-scoped key layout to color-bearing 64B format
  docs/technical/architecture/subsystems/storage/storage-drivers.md
  internal/domain/validation.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
