Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

fix: pre-commit
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: none

chore(deps): update go-libs to v3.3.0
  go.mod
  go.sum
Due: none

chore(deps): update go-libs to v3.3.0 (#1094)
  go.mod
  go.sum
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: none

chore(deps): update go-libs to v3.3.0 (#1095)
  go.mod
  go.sum
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: none

chore: Update localhost url in readme
  README.md
Due: none

chore: Update localhost url in readme (#1096)
  README.md
Due: none

chore: upgrade go libs and add testing around authentication
  go.mod
  go.sum
  pkg/testserver/server.go
  test/e2e/api_auth_test.go
  test/e2e/auth_test_helpers_test.go
  test/e2e/suite_test.go
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(deps): update module github.com/opencontainers/runc to v1.2.8 [security]
  go.mod
  go.sum
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: none

chore(deps): update module github.com/opencontainers/runc to v1.2.8 [security] (#1098)
  go.mod
  go.sum
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: none

chore: upgrade go libs and add testing around authentication (#1097)
  go.mod
  go.sum
  pkg/testserver/server.go
  test/e2e/api_auth_test.go
  test/e2e/auth_test_helpers_test.go
  test/e2e/suite_test.go
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: fix go-libs version
  go.mod
  go.sum
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: none

chore: fix go-libs version (#1101)
  go.mod
  go.sum
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: none

feat: add utils function to centralize the creation of select queries
  internal/storage/ledger/resource_accounts.go
  internal/storage/ledger/resource_aggregated_balances.go
  internal/storage/ledger/resource_logs.go
  internal/storage/ledger/resource_transactions.go
  internal/storage/ledger/resource_volumes.go
  internal/storage/ledger/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: optimize queries on ledgers alone in their buckets
  internal/storage/ledger/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add filtering on reverted_at on transactions
  internal/storage/ledger/resource_transactions.go
  internal/storage/ledger/transactions_test.go
  test/e2e/api_transactions_list_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add filtering on reverted_at on transactions (#1099)
  internal/storage/ledger/resource_transactions.go
  internal/storage/ledger/transactions_test.go
  test/e2e/api_transactions_list_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: conditional where on selections (#1100)
  internal/storage/ledger/resource_accounts.go
  internal/storage/ledger/resource_aggregated_balances.go
  internal/storage/ledger/resource_logs.go
  internal/storage/ledger/resource_transactions.go
  internal/storage/ledger/resource_volumes.go
  internal/storage/ledger/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

backport: feat/conditional where on selections (#1103)
  internal/storage/ledger/resource_accounts.go
  internal/storage/ledger/resource_aggregated_balances.go
  internal/storage/ledger/resource_logs.go
  internal/storage/ledger/resource_transactions.go
  internal/storage/ledger/resource_volumes.go
  internal/storage/ledger/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

backport: feat/conditional-where-on-selections (#1102)
  internal/storage/ledger/resource_accounts.go
  internal/storage/ledger/resource_aggregated_balances.go
  internal/storage/ledger/resource_logs.go
  internal/storage/ledger/resource_transactions.go
  internal/storage/ledger/resource_volumes.go
  internal/storage/ledger/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

tx validation
  internal/chart.go
  internal/chart_test.go
  internal/controller/ledger/controller_default.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add CE/EE architecture with audit logging
  .gitignore
  .goreleaser.yml
  Justfile
  LICENSE
  build-ee.Dockerfile
  cmd/serve.go
  cmd/serve_ce.go
  cmd/serve_ee.go
  ee/README.md
  ee/audit/middleware.go
  ee/audit/module.go
  ee/audit/publisher.go
  ee/audit/response_writer.go
  ee/audit/topic.go
  ee/audit/topic_test.go
  ee/config.go
  ee/config_stub.go
  ee/flags.go
  ee/registry.go
  ee/registry_stub.go
  go.mod
  go.sum
  scratch-ee.Dockerfile
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add soft deletion of buckets
  docs/api/README.md
  internal/README.md
  internal/api/common/mocks_system_controller_test.go
  internal/api/v1/mocks_system_controller_test.go
  internal/api/v2/controllers_buckets_delete.go
  internal/api/v2/controllers_buckets_delete_test.go
  internal/api/v2/mocks_system_controller_test.go
  internal/api/v2/routes.go
  internal/controller/system/controller.go
  internal/controller/system/store.go
  internal/ledger.go
  internal/storage/system/migrations.go
  internal/storage/system/resource_ledgers.go
  internal/storage/system/store.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/README.md
  pkg/client/docs/models/operations/v2deletebucketrequest.md
  pkg/client/docs/models/operations/v2deletebucketresponse.md
  pkg/client/docs/sdks/v2/README.md
  pkg/client/models/operations/v2deletebucket.go
  pkg/client/speakeasyusagegen/.speakeasy/logs/naming.log
  pkg/client/v2.go
  test/e2e/api_buckets_delete_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add query param to list deleted ledgers
  docs/api/README.md
  internal/api/v2/controllers_ledgers_list.go
  internal/storage/system/queries.go
  internal/storage/system/resource_ledgers.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/docs/models/operations/v2listledgersrequest.md
  pkg/client/models/operations/v2listledgers.go
  pkg/client/speakeasyusagegen/.speakeasy/logs/naming.log
  test/e2e/api_buckets_delete_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add bucket restoration
  docs/api/README.md
  internal/api/common/mocks_system_controller_test.go
  internal/api/v1/mocks_system_controller_test.go
  internal/api/v2/controllers_buckets_restore.go
  internal/api/v2/controllers_buckets_restore_test.go
  internal/api/v2/mocks_system_controller_test.go
  internal/api/v2/routes.go
  internal/controller/system/controller.go
  internal/controller/system/store.go
  internal/storage/system/store.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/README.md
  pkg/client/docs/models/operations/v2restorebucketrequest.md
  pkg/client/docs/models/operations/v2restorebucketresponse.md
  pkg/client/docs/sdks/v2/README.md
  pkg/client/models/operations/v2restorebucket.go
  pkg/client/speakeasyusagegen/.speakeasy/logs/naming.log
  pkg/client/v2.go
  test/e2e/api_buckets_delete_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add the worker to remove expired buckets
  cmd/worker.go
  docs/api/README.md
  internal/storage/system/store.go
  internal/storage/worker_bucket_cleanup.go
  internal/storage/worker_bucket_cleanup_test.go
  internal/worker/module.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/docs/models/components/v2ledger.md
  pkg/client/models/components/v2ledger.go
  pkg/testserver/worker.go
  pr_description.md
  test/e2e/api_buckets_delete_test.go
  test/e2e/app_bucket_cleanup_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: integrate audit logging from go-libs
  cmd/serve.go
  cmd/serve_ce.go
  cmd/serve_ee.go
  ee/README.md
  ee/audit/middleware.go
  ee/audit/module.go
  ee/audit/publisher.go
  ee/audit/response_writer.go
  ee/audit/topic.go
  ee/audit/topic_test.go
  ee/config.go
  ee/config_stub.go
  ee/flags.go
  ee/registry.go
  ee/registry_stub.go
  go.mod
  go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: remove useless update
  .goreleaser.yml
  Justfile
  LICENSE
  build-ee.Dockerfile
  scratch-ee.Dockerfile
Due: none

feat: implement CE/EE architecture
  .gitignore
  .goreleaser.yml
  Justfile
  cmd/serve.go
  ee/stub.go
  go.mod
  go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: Add Audit configuration
  ee/audit.go
  ee/module.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

improve structure
  internal/chart.go
  internal/chart_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: All working
  cmd/serve.go
  ee/module.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: resolve import cycle and add audit middleware properly
  Justfile
  cmd/serve.go
  ee/audit.go
  ee/module.go
  go.sum
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add update of exporters config.
  docs/api/README.md
  internal/api/common/mocks_system_controller_test.go
  internal/api/v1/mocks_system_controller_test.go
  internal/api/v2/controllers_exporters_update.go
  internal/api/v2/controllers_exporters_update_test.go
  internal/api/v2/mocks_system_controller_test.go
  internal/api/v2/routes.go
  internal/controller/system/controller.go
  internal/replication/controller_grpc_client.go
  internal/replication/controller_grpc_server.go
  internal/replication/driver_facade.go
  internal/replication/drivers/registry.go
  internal/replication/exporters.go
  internal/replication/exporters_generated.go
  internal/replication/grpc/replication_service.pb.go
  internal/replication/grpc/replication_service.proto
  internal/replication/grpc/replication_service_grpc.pb.go
  internal/replication/manager.go
  internal/replication/manager_test.go
  internal/replication/store.go
  internal/replication/store_generated_test.go
  internal/storage/common/errors.go
  internal/storage/system/store.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/README.md
  pkg/client/docs/models/operations/v2updateexporterrequest.md
  pkg/client/docs/models/operations/v2updateexporterresponse.md
  pkg/client/docs/sdks/v2/README.md
  pkg/client/models/operations/v2updateexporter.go
  pkg/client/speakeasyusagegen/.speakeasy/logs/naming.log
  pkg/client/v2.go
  pkg/testserver/server.go
  test/e2e/api_exporters_update_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: don't change the default id in goreleaser
  .goreleaser.yml
Due: none

fix: update archive and file name templates to remove 'ce' suffix
  .goreleaser.yml
Due: none

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
