Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

feat: add source/destination address filtering for transaction queries
  cmd/ledgerctl/transactions/list.go
  docs/dev/api-comparison.md
  docs/ops/cli.md
  internal/application/indexbuilder/builder.go
  internal/application/preparedquery/compile.go
  internal/pkg/filterexpr/parser.go
  internal/pkg/filterexpr/parser_test.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/storage/readstore/iterator_address.go
  internal/storage/readstore/keys.go
  internal/storage/readstore/store.go
  internal/storage/readstore/write_account_tx.go
  misc/proto/common.proto
  tests/e2e/transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(e2e): use Eventually polling in AnalyzeAccounts tests
  tests/e2e/analyze_accounts_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add GetIndexStatus RPC, transaction metadata filtering, and simplify FieldRef proto
  cmd/ledgerctl/transactions/list.go
  docs/dev/api-comparison.md
  internal/adapter/grpc/client_bucket.go
  internal/adapter/grpc/server_bucket.go
  internal/adapter/http/mock_backend_test.go
  internal/application/ctrl/controller.go
  internal/application/ctrl/controller_default.go
  internal/application/ctrl/controller_generated_test.go
  internal/application/preparedquery/compile.go
  internal/bootstrap/controller_routed.go
  internal/bootstrap/module.go
  internal/pkg/filterexpr/parser.go
  internal/pkg/filterexpr/parser_test.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_grpc.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  misc/proto/bucket.proto
  misc/proto/common.proto
  tests/e2e/prepared_queries_test.go
  tests/e2e/transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: persist bbolt freelist to avoid ~5min startup rebuild
  internal/storage/readstore/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: edit todo
  TODO
Due: none

style: homogenize ledgerctl CLI UI patterns
  cmd/ledgerctl/accounts/get.go
  cmd/ledgerctl/accounts/list.go
  cmd/ledgerctl/audit/list.go
  cmd/ledgerctl/cluster/disk_usage.go
  cmd/ledgerctl/cluster/status.go
  cmd/ledgerctl/events/add_sink.go
  cmd/ledgerctl/events/list.go
  cmd/ledgerctl/ledgers/create.go
  cmd/ledgerctl/ledgers/delete.go
  cmd/ledgerctl/ledgers/get.go
  cmd/ledgerctl/ledgers/list.go
  cmd/ledgerctl/logs/list.go
  cmd/ledgerctl/periods/list.go
  cmd/ledgerctl/restore/upload.go
  cmd/ledgerctl/restore/validate.go
  cmd/ledgerctl/signing/list.go
  cmd/ledgerctl/store/backup.go
  cmd/ledgerctl/store/bootstrap.go
  cmd/ledgerctl/store/metrics.go
  cmd/ledgerctl/transactions/create.go
  cmd/ledgerctl/transactions/get.go
  cmd/ledgerctl/transactions/list.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add --reverse flag to transactions list and accounts list commands
  cmd/ledgerctl/accounts/list.go
  cmd/ledgerctl/transactions/list.go
  docs/ops/cli.md
  internal/adapter/grpc/client_bucket.go
  internal/adapter/grpc/server_bucket.go
  internal/adapter/http/handlers_coverage_test.go
  internal/adapter/http/handlers_list_accounts.go
  internal/adapter/http/handlers_list_accounts_test.go
  internal/adapter/http/mock_backend_test.go
  internal/application/ctrl/controller.go
  internal/application/ctrl/controller_default.go
  internal/application/ctrl/controller_generated_test.go
  internal/bootstrap/controller_routed.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  misc/proto/bucket.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add range operators (>, >=, <, <=) for metadata integer filtering
  docs/dev/api-comparison.md
  docs/ops/cli.md
  internal/pkg/filterexpr/parser.go
  internal/pkg/filterexpr/parser_test.go
  tests/e2e/accounts_test.go
  tests/e2e/transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: validate filter queries against metadata schema types
  docs/dev/api-comparison.md
  docs/ops/cli.md
  internal/application/ctrl/controller_default.go
  internal/application/preparedquery/compile.go
  internal/application/preparedquery/compile_test.go
  internal/application/preparedquery/executor.go
  internal/proto/commonpb/metadata_convert.go
  tests/e2e/filter_schema_validation_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

perf: use streaming PrefixIterator for int/uint equality conditions
  internal/application/preparedquery/compile.go
  internal/application/preparedquery/compile_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

perf: add entity-ordered index (eidx) for streaming ExistsCondition
  internal/application/indexbuilder/builder.go
  internal/application/preparedquery/compile.go
  internal/storage/readstore/keys.go
  internal/storage/readstore/store.go
  internal/storage/readstore/write_metadata.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: move preparedquery into query package and split store.go
  internal/application/ctrl/controller_default.go
  internal/query/aggregate.go
  internal/query/audit.go
  internal/query/compile.go
  internal/query/compile_test.go
  internal/query/config.go
  internal/query/config_test.go
  internal/query/executor.go
  internal/query/helpers_test.go
  internal/query/ledger.go
  internal/query/ledger_test.go
  internal/query/log.go
  internal/query/log_test.go
  internal/query/pagination.go
  internal/query/period.go
  internal/query/period_test.go
  internal/query/signing.go
  internal/query/signing_test.go
  internal/query/store.go
  internal/query/store_test.go
  internal/query/transaction.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: replace hand-written filter parser with Participle v2
  go.mod
  go.sum
  internal/pkg/filterexpr/parser.go
  internal/pkg/filterexpr/parser_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: implement multi-issuers by upgrading go-libs to v2.2.4
  go.mod
  go.sum
  tools/generator/go.mod
  tools/generator/go.sum
Due: none

feat: implement multi-issuers by upgrading go-libs to v2.2.4 (#1270)
  .github/actions/env/action.yml
  .github/workflows/benchmark.yml
  .github/workflows/main.yml
  .github/workflows/releases.yml
  Earthfile
  deployments/pulumi/Earthfile
  go.mod
  go.sum
  tools/generator/Earthfile
  tools/generator/go.mod
  tools/generator/go.sum
Due: none

fix: add protoc-gen-go-vtproto to nix devShell
  flake.nix
Due: none

refactor: decouple inter-package dependencies in internal/application/
  internal/adapter/grpc/server_bucket.go
  internal/application/admission/admission.go
  internal/application/ctrl/controller_default.go
  internal/application/events/emitter.go
  internal/application/events/emitter_integration_test.go
  internal/application/events/manager.go
  internal/application/events/sink_clickhouse_integration_test.go
  internal/application/events/sink_http_integration_test.go
  internal/application/events/sink_kafka_integration_test.go
  internal/application/events/sink_nats_integration_test.go
  internal/application/events/store_test.go
  internal/domain/analysis/chart_discovery.go
  internal/domain/analysis/chart_discovery_test.go
  internal/query/sink.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

move global exporter args to serve subcommand
  cmd/root.go
  cmd/serve.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: use shipfox runners
  .github/workflows/main.yml
  TODO
Due: none

chore: pre commit
  TODO
  internal/proto/auditpb/audit_vtproto.pb.go
  internal/proto/clusterpb/cluster_vtproto.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/eventspb/events_vtproto.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  internal/proto/rafttransportpb/raft_transport_vtproto.pb.go
  internal/proto/restorepb/restore_vtproto.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  internal/proto/signaturepb/signature_vtproto.pb.go
  internal/proto/snapshotpb/snapshot_vtproto.pb.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: replace static auth token with OAuth2 client credentials for mirror HTTP source
  cmd/ledgerctl/ledgers/create.go
  cmd/ledgerctl/ledgers/display.go
  docs/dev/api-comparison.md
  docs/ops/cli.md
  go.mod
  internal/adapter/http/handlers_create_ledger.go
  internal/adapter/http/handlers_create_ledger_mirror_test.go
  internal/adapter/v2/httpclient.go
  internal/adapter/v2/source_http.go
  internal/adapter/v2/source_http_test.go
  internal/application/mirror/manager.go
  internal/domain/processing/log_hasher.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  misc/proto/common.proto
  openapi.yml
  tests/e2e/mirror_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add min-log-sequence support to list commands
  cmd/ledgerctl/accounts/list.go
  cmd/ledgerctl/audit/list.go
  cmd/ledgerctl/logs/list.go
  cmd/ledgerctl/transactions/list.go
  internal/adapter/grpc/server.go
  internal/adapter/grpc/server_bucket.go
  internal/application/indexbuilder/builder.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  internal/storage/readstore/store.go
  misc/proto/bucket.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

ci: add nightly release on push to master
  .github/workflows/main.yml
Due: none

chore: pre commit
  internal/proto/auditpb/audit.pb.go
  internal/proto/auditpb/audit_vtproto.pb.go
  internal/proto/clusterpb/cluster.pb.go
  internal/proto/clusterpb/cluster_grpc.pb.go
  internal/proto/clusterpb/cluster_vtproto.pb.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/eventspb/events.pb.go
  internal/proto/eventspb/events_vtproto.pb.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  internal/proto/rafttransportpb/raft_transport.pb.go
  internal/proto/rafttransportpb/raft_transport_grpc.pb.go
  internal/proto/rafttransportpb/raft_transport_vtproto.pb.go
  internal/proto/restorepb/restore.pb.go
  internal/proto/restorepb/restore_grpc.pb.go
  internal/proto/restorepb/restore_vtproto.pb.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_grpc.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  internal/proto/signaturepb/signature.pb.go
  internal/proto/signaturepb/signature_vtproto.pb.go
  internal/proto/snapshotpb/snapshot.pb.go
  internal/proto/snapshotpb/snapshot_grpc.pb.go
  internal/proto/snapshotpb/snapshot_vtproto.pb.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

cache `LogFetcher`s
  internal/replication/global_exporter.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add AnalyzeTransactions endpoint (proto, gRPC, HTTP, CLI, tests)
  cmd/ledgerctl/transactions/analyze.go
  cmd/ledgerctl/transactions/command.go
  docs/dev/api-comparison.md
  docs/ops/cli.md
  internal/adapter/grpc/client_bucket.go
  internal/adapter/grpc/server_bucket.go
  internal/adapter/http/handler.go
  internal/adapter/http/handlers_analyze_transactions.go
  internal/adapter/http/handlers_analyze_transactions_test.go
  internal/adapter/http/mock_backend_test.go
  internal/application/ctrl/controller.go
  internal/application/ctrl/controller_default.go
  internal/application/ctrl/controller_default_generated_test.go
  internal/application/ctrl/controller_generated_test.go
  internal/bootstrap/controller_routed.go
  internal/domain/analysis/flow_discovery.go
  internal/domain/analysis/flow_discovery_test.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_grpc.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  misc/proto/bucket.proto
  openapi.yml
  tests/e2e/analyze_transactions_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add granular auth scopes with virtual scope mapping
  cmd/server/server.go
  internal/adapter/auth/grpc_auth.go
  internal/adapter/auth/grpc_auth_test.go
  internal/adapter/auth/http_middleware.go
  internal/adapter/auth/http_middleware_test.go
  internal/adapter/auth/request_scope.go
  internal/adapter/auth/request_scope_test.go
  internal/adapter/auth/scope_context.go
  internal/adapter/auth/scope_mapping_file.go
  internal/adapter/auth/scope_mapping_file_test.go
  internal/adapter/auth/scopes.go
  internal/adapter/auth/scopes_test.go
  internal/adapter/grpc/server_bucket.go
  internal/adapter/grpc/server_cluster.go
  internal/adapter/http/handler.go
  internal/adapter/http/handlers_bulk.go
  internal/bootstrap/config.go
  internal/bootstrap/module.go
  misc/devenv/values/staging/ledger.yaml
  misc/operator/api/v1alpha1/ledger_types.go
  misc/operator/api/v1alpha1/ledgerdefaults_types.go
  misc/operator/api/v1alpha1/zz_generated.deepcopy.go
  misc/operator/config/crd/bases/ledger.formance.com_ledgerdefaults.yaml
  misc/operator/config/crd/bases/ledger.formance.com_ledgerservices.yaml
  misc/operator/internal/controller/envvars.go
  misc/operator/internal/controller/merge.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(ci): enable nightly release publishing in goreleaser
  .goreleaser.yml
Due: none

feat: add LedgerClusterAgent CRD, controller, auth keys reconciliation and tests
  misc/devenv/staging.yaml
  misc/operator/api/v1alpha1/ledgerclusteragent_types.go
  misc/operator/api/v1alpha1/zz_generated.deepcopy.go
  misc/operator/cmd/kubectl-ledger/agents/command.go
  misc/operator/cmd/kubectl-ledger/agents/create.go
  misc/operator/cmd/kubectl-ledger/agents/delete.go
  misc/operator/cmd/kubectl-ledger/agents/get.go
  misc/operator/cmd/kubectl-ledger/agents/get_key.go
  misc/operator/cmd/kubectl-ledger/agents/list.go
  misc/operator/cmd/kubectl-ledger/cmdutil/resource.go
  misc/operator/cmd/kubectl-ledger/cmdutil/wizard.go
  misc/operator/cmd/kubectl-ledger/root.go
  misc/operator/cmd/operator/main.go
  misc/operator/config/crd/bases/ledger.formance.com_ledgerclusteragents.yaml
  misc/operator/config/rbac/role.yaml
  misc/operator/config/samples/ledger_v1alpha1_ledgerclusteragent.yaml
  misc/operator/internal/controller/hash.go
  misc/operator/internal/controller/labels.go
  misc/operator/internal/controller/ledger_controller.go
  misc/operator/internal/controller/ledgerclusteragent_controller.go
  misc/operator/internal/controller/ledgerclusteragent_test.go
  misc/operator/internal/controller/reconcile_agent_test.go
  misc/operator/internal/controller/reconcile_auth_keys.go
  misc/operator/internal/controller/reconcile_auth_keys_test.go
  misc/operator/internal/controller/reconcile_statefulset.go
  misc/operator/internal/controller/suite_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(ci): fix extldflags quoting in goreleaser config
  .goreleaser.yml
Due: none

refactor: use compact structs in analysis to reduce memory footprint
  internal/application/ctrl/controller_default.go
  internal/application/ctrl/controller_default_generated_test.go
  internal/application/ctrl/controller_generated_test.go
  internal/domain/analysis/chart_discovery.go
  internal/domain/analysis/chart_discovery_test.go
  internal/domain/analysis/compact.go
  internal/domain/analysis/flow_discovery.go
  internal/domain/analysis/flow_discovery_test.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_grpc.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(ci): set nightly version_template without spaces
  .goreleaser.yml
Due: none

fix: use ScopeTransactionsRead for AnalyzeTransactions endpoint
  internal/adapter/grpc/server_bucket.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(kubectl-ledger): merge status command into get
  misc/operator/cmd/kubectl-ledger/get/get.go
  misc/operator/cmd/kubectl-ledger/root.go
  misc/operator/cmd/kubectl-ledger/status/status.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(ci): remove deprecated name_template causing nightly build failure
  .goreleaser.yml
Due: none

feat: add query profiling for read queries (ListAccounts, ListTransactions, ExecutePreparedQuery)
  cmd/ledgerctl/accounts/list.go
  cmd/ledgerctl/cmdutil/profile.go
  cmd/ledgerctl/transactions/list.go
  cmd/server/server.go
  internal/adapter/grpc/server_bucket.go
  internal/adapter/http/handlers_execute_prepared_query.go
  internal/adapter/http/handlers_list_accounts.go
  internal/adapter/http/handlers_list_accounts_test.go
  internal/adapter/http/response.go
  internal/adapter/http/response_test.go
  internal/application/ctrl/controller_default.go
  internal/bootstrap/config.go
  internal/bootstrap/module.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  internal/query/compile.go
  internal/query/executor.go
  internal/query/profile.go
  internal/query/profile_test.go
  internal/query/tracked_iterator.go
  internal/query/tracked_iterator_test.go
  misc/proto/bucket.proto
  tests/e2e/query_profile_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(operator): sync ClusterRole RBAC with controller-gen and add missing CRD
  misc/devenv/main.go
  misc/operator/chart/templates/clusterrole.yaml
  misc/operator/justfile
  misc/operator/scripts/sync-chart-rbac.sh
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

cache global exporter states in memory
  internal/replication/global_exporter.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests
