Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

docs(architecture): document chapters cold-storage + receipts + backup
  docs/technical/architecture/subsystems/chapters/README.md
  docs/technical/architecture/subsystems/chapters/backup.md
  docs/technical/architecture/subsystems/chapters/cold-storage.md
  docs/technical/architecture/subsystems/chapters/receipts.md
Due: none

docs(indexes): fix Paul's review findings
  AGENTS.md
  docs/technical/README.md
  docs/technical/architecture/subsystems/indexer/indexer.md
  docs/technical/architecture/subsystems/indexer/indexes.md
Due: none

docs(architecture): fix 6 findings from Phase 2 cross-page adversarial audit
  docs/technical/architecture/subsystems/attributes/bloom.md
  docs/technical/architecture/subsystems/chapters/backup.md
  docs/technical/architecture/subsystems/fsm/preload.md
  docs/technical/architecture/subsystems/read-path/prepared-queries.md
Due: none

docs(architecture): document read path (query pipeline + prepared queries)
  docs/technical/architecture/subsystems/read-path/README.md
  docs/technical/architecture/subsystems/read-path/prepared-queries.md
  docs/technical/architecture/subsystems/read-path/query-pipeline.md
Due: none

docs(indexes): fix 2 real findings from latest NumaryBot review pass
  docs/technical/architecture/subsystems/indexer/indexes.md
Due: none

docs(architecture): document admission subsystem (pipeline + signing + validation)
  docs/technical/architecture/subsystems/admission/README.md
  docs/technical/architecture/subsystems/admission/pipeline.md
  docs/technical/architecture/subsystems/admission/signing.md
  docs/technical/architecture/subsystems/admission/validation.md
Due: none

docs(architecture): document FSM preload + coverage gate
  docs/technical/architecture/subsystems/fsm/README.md
  docs/technical/architecture/subsystems/fsm/coverage-gate.md
  docs/technical/architecture/subsystems/fsm/preload.md
Due: none

docs(architecture): document mirror worker
  docs/technical/architecture/subsystems/events-mirror/README.md
  docs/technical/architecture/subsystems/events-mirror/mirror.md
Due: none

fix(EN-1431): exclude self from voters when re-joining as learner
  internal/infra/node/node.go
  internal/infra/node/node_confstate_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(node): defer MsgStorageApplyResp through runCommitter
  internal/infra/node/applier.go
  internal/infra/node/node.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(node): cover AsyncStorageWrites response plumbing
  internal/infra/node/applier_async_storage_test.go
  internal/infra/node/applier_test.go
  internal/infra/node/node.go
  internal/infra/node/split_ready_messages_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(node): apply golangci-lint --fix to new async-storage tests
  internal/infra/node/applier_async_storage_test.go
  internal/infra/node/applier_test.go
  internal/infra/node/split_ready_messages_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1427): surface corrupt applied-proposal cursor instead of swallowing it
  internal/application/indexbuilder/builder.go
  internal/pkg/tailworker/tailworker_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1431): trigger SyncSnapshot from every Ready when out-of-sync (#1467)
  internal/infra/node/applier.go
  internal/infra/node/applier_test.go
  internal/infra/node/node.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1431): exclude self from voters when re-joining as learner (#1468)
  internal/infra/node/node.go
  internal/infra/node/node_confstate_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1413): fail loud on multi-Add ConfChangeV2 (invariant #7)
  internal/infra/node/confchange.go
  internal/infra/node/peer_store_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(ledgerctl): show account balances in accounts list
  cmd/ledgerctl/accounts/list.go
  cmd/ledgerctl/accounts/list_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(EN-1420): extend usagebuilder with ephemeral + transient counters
  internal/application/ctrl/controller_default.go
  internal/application/usagebuilder/process_audit.go
  internal/infra/state/write_set_counters.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/raftcmdpb/raft_cmd_reader.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  internal/storage/usagestore/keys.go
  internal/storage/usagestore/snapshot.go
  misc/proto/raft_cmd.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(EN-1420): drop MetadataCount until a sound foundation lands
  cmd/ledgerctl/ledgers/stats.go
  docs/technical/architecture/overview.md
  internal/adapter/http/handlers_get_ledger_stats.go
  internal/adapter/http/handlers_get_ledger_stats_test.go
  internal/application/ctrl/controller_default.go
  internal/infra/state/write_set.go
  internal/infra/state/write_set_counters.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_reader.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/raftcmdpb/raft_cmd_reader.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  misc/proto/common.proto
  misc/proto/raft_cmd.proto
  tests/e2e/business/stats_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(EN-1422): migrate VolumeCount to usagebuilder via new_volumes on LedgerLog
  AGENTS.md
  docs/technical/architecture/overview.md
  internal/application/ctrl/controller_default.go
  internal/application/usagebuilder/process_audit.go
  internal/infra/state/write_set.go
  internal/infra/state/write_set_counters.go
  internal/infra/state/write_set_new_volumes.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_dethash.pb.go
  internal/proto/commonpb/common_reader.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/raftcmdpb/raft_cmd_reader.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  internal/storage/usagestore/keys.go
  misc/proto/common.proto
  misc/proto/raft_cmd.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

perf(EN-1422): split LedgerLog volume annotations into 3 disjoint lists
  AGENTS.md
  docs/technical/architecture/overview.md
  internal/application/check/checker.go
  internal/application/indexbuilder/applied_proposal_sync.go
  internal/application/indexbuilder/protowire_postings.go
  internal/application/usagebuilder/process_audit.go
  internal/infra/state/write_set.go
  internal/infra/state/write_set_ephemeral_purge.go
  internal/infra/state/write_set_ephemeral_purge_test.go
  internal/infra/state/write_set_new_volumes.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_dethash.pb.go
  internal/proto/commonpb/common_reader.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/storage/usagestore/keys.go
  misc/proto/common.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(usage): dedicated subsystem page under docs/technical/architecture/subsystems/usage/
  docs/technical/architecture/subsystems/usage/README.md
  docs/technical/architecture/subsystems/usage/counters.md
  docs/technical/architecture/subsystems/usage/usagebuilder.md
Due: none

feat(observability): trace PrepareSnapshot on both sides + guard with timeout
  internal/adapter/grpc/server_snapshot.go
  internal/application/ctrl/snapshot_fetcher.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(node): signal ready as soon as raft loop is up
  internal/infra/node/node.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1422): dedup volume tuples per audit entry + adapt transient test to the split
  internal/application/usagebuilder/process_audit.go
  tests/e2e/business/transient_accounts_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(node): don't hang committer on ctx.Done during response send
  internal/infra/node/applier.go
  internal/infra/node/applier_async_storage_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: drop dead WaitForApplied observational goroutine
  internal/infra/node/node.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1334): address PR review findings on usagebuilder
  cmd/ledgerctl/store/rebuild_usage.go
  internal/adapter/http/handlers_get_numscript_usage.go
  internal/application/ctrl/controller_default.go
  internal/application/usagebuilder/builder.go
  internal/application/usagebuilder/process_audit.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(agents): add investigation skills and GitNexus agent guidance
  .claude/skills/diagnose/SKILL.md
  .claude/skills/diagnose/scripts/hitl-loop.template.sh
  .claude/skills/gitnexus/gitnexus-cli/SKILL.md
  .claude/skills/gitnexus/gitnexus-debugging/SKILL.md
  .claude/skills/gitnexus/gitnexus-exploring/SKILL.md
  .claude/skills/gitnexus/gitnexus-guide/SKILL.md
  .claude/skills/gitnexus/gitnexus-impact-analysis/SKILL.md
  .claude/skills/gitnexus/gitnexus-refactoring/SKILL.md
  .claude/skills/root-cause/SKILL.md
  AGENTS.md
Due: none

chore(agents): add investigation skills and GitNexus agent guidance (#1473)
  .claude/skills/diagnose/SKILL.md
  .claude/skills/diagnose/scripts/hitl-loop.template.sh
  .claude/skills/gitnexus/gitnexus-cli/SKILL.md
  .claude/skills/gitnexus/gitnexus-debugging/SKILL.md
  .claude/skills/gitnexus/gitnexus-exploring/SKILL.md
  .claude/skills/gitnexus/gitnexus-guide/SKILL.md
  .claude/skills/gitnexus/gitnexus-impact-analysis/SKILL.md
  .claude/skills/gitnexus/gitnexus-refactoring/SKILL.md
  .claude/skills/root-cause/SKILL.md
  AGENTS.md
Due: none

fix(EN-1424): guard incremental auditItem export on non-zero count
  internal/infra/backup/manager.go
  internal/infra/backup/manager_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(node): signal ready as soon as raft loop is up (#1471)
  internal/infra/node/node.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(ledgerctl): add global --rescale flag for amount display
  cmd/ledgerctl/accounts/aggregate.go
  cmd/ledgerctl/accounts/get.go
  cmd/ledgerctl/accounts/list.go
  cmd/ledgerctl/accounts/list_test.go
  cmd/ledgerctl/cmdutil/amount.go
  cmd/ledgerctl/cmdutil/amount_test.go
  cmd/ledgerctl/main.go
  cmd/ledgerctl/main_test.go
  cmd/ledgerctl/queries/execute.go
  cmd/ledgerctl/transactions/create.go
  cmd/ledgerctl/transactions/display_volumes.go
  cmd/ledgerctl/transactions/get.go
  cmd/ledgerctl/transactions/revert.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

address NumaryBot: return on ctx timeout even if RPC doesn't unblock
  internal/application/ctrl/snapshot_fetcher.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(plan): collapse Needs typed maps to generic attrCode dispatch
  internal/application/admission/admission.go
  internal/application/admission/admission_test.go
  internal/application/admission/wrapper_dispatch_test.go
  internal/application/mirror/worker.go
  internal/infra/plan/attribute_resolvers.go
  internal/infra/plan/builder.go
  internal/infra/plan/builder_test.go
  internal/infra/plan/coverage_bits.go
  internal/infra/plan/coverage_bits_test.go
  internal/infra/plan/needs.go
  internal/infra/plan/resolve.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(EN-1356): per-order skippable_reasons (continue-on-failure)
  internal/adapter/http/handlers_create_transaction.go
  internal/adapter/http/handlers_create_transaction_test.go
  internal/application/admission/admission.go
  internal/application/admission/skippable.go
  internal/application/admission/skippable_test.go
  internal/application/check/checker.go
  internal/application/check/checker_tamper_test.go
  internal/application/check/verify_skipped_order_test.go
  internal/domain/errors.go
  internal/domain/errors_test.go
  internal/domain/processing/overlay_scope.go
  internal/domain/processing/overlay_scope_test.go
  internal/domain/processing/processor.go
  internal/domain/processing/processor_skippable.go
  internal/domain/processing/processor_skippable_test.go
  internal/domain/processing/processor_transaction.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_dethash.pb.go
  internal/proto/commonpb/common_reader.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/raftcmdpb/raft_cmd_dethash.pb.go
  internal/proto/raftcmdpb/raft_cmd_reader.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_dethash.pb.go
  internal/proto/servicepb/bucket_reader.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  misc/proto/bucket.proto
  misc/proto/common.proto
  misc/proto/raft_cmd.proto
  openapi.yml
  pkg/actions/actions.go
  tests/e2e/business/reference_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(EN-1356): surface OrderSkipped in HTTP bulk responses + doc update
  docs/technical/contributing/api-comparison.md
  internal/adapter/http/handlers_bulk.go
  internal/adapter/http/handlers_bulk_test.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1356): catch inverse tampering where OrderSkipped is elided to CreatedTransaction
  internal/application/check/checker.go
  internal/application/check/verify_skipped_order_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
