Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

feat: add bulk limits
  cmd/serve.go
  docs/api/README.md
  internal/api/module.go
  internal/api/router.go
  internal/api/v2/controllers_bulk.go
  internal/api/v2/errors.go
  internal/api/v2/routes.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/gen.yaml
  pkg/client/docs/models/components/v2errorsenum.md
  pkg/client/formance.go
  pkg/client/models/components/v2errorsenum.go
  pkg/testserver/server.go
  test/e2e/api_bulk.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add deadlocks metric
  TODO
  internal/README.md
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/log_process.go
  internal/controller/ledger/log_process_test.go
  test/performance/env_testserver_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: lint
  internal/account.go
  internal/api/v1/controllers_accounts_read.go
  internal/moves.go
  internal/storage/bucket/bucket_test.go
  internal/storage/ledger/accounts.go
  internal/storage/ledger/moves.go
  internal/storage/ledger/store.go
  internal/transaction.go
  openapi.yaml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: refine benchmark and add plot script
  .gitignore
  CONTRIBUTING.md
  go.mod
  go.sum
  internal/ledger.go
  test/performance/README.md
  test/performance/benchmark_test.go
  test/performance/features_test.go
  test/performance/main_test.go
  test/performance/plot/features_comparison.gp
  test/performance/report_test.go
  test/performance/write_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: store complete log in database
  internal/log.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove global tracer usage
  internal/api/common/middleware_resolver.go
  internal/api/common/middleware_resolver_test.go
  internal/api/module.go
  internal/api/router.go
  internal/api/v1/routes.go
  internal/api/v2/controllers_bulk.go
  internal/api/v2/routes.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_with_too_many_client_handling.go
  internal/controller/ledger/controller_with_too_many_client_handling_test.go
  internal/controller/ledger/controller_with_traces.go
  internal/controller/system/controller.go
  internal/controller/system/module.go
  internal/storage/bucket/bucket.go
  internal/storage/bucket/bucket_test.go
  internal/storage/bucket/migrations.go
  internal/storage/driver/driver.go
  internal/storage/driver/module.go
  internal/storage/ledger/accounts.go
  internal/storage/ledger/balances.go
  internal/storage/ledger/logs.go
  internal/storage/ledger/main_test.go
  internal/storage/ledger/migrations.go
  internal/storage/ledger/moves.go
  internal/storage/ledger/store.go
  internal/storage/ledger/transactions.go
  internal/storage/ledger/volumes.go
  internal/tracing/tracing.go
  internal/tracing/utils.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: some renaming
  TODO
  go.mod
  go.sum
  test/performance/charts/src/graphs.ts
  test/performance/charts/src/report.ts
  test/performance/features_test.go
  test/performance/report_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: sequences migration from v2
  internal/api/v1/controllers_transactions.go
  internal/api/v1/controllers_transactions_list.go
  internal/api/v1/controllers_transactions_read.go
  internal/storage/bucket/migrations/11-make-stateless.sql
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: handle errors on create api of v1 api
  internal/api/v1/controllers_transactions_create.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add first_usage filter on accounts
  internal/storage/ledger/accounts.go
  internal/storage/ledger/accounts_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: extract event emission from default controller
  internal/api/v1/controllers_transactions_create.go
  internal/api/v1/controllers_transactions_create_test.go
  internal/api/v1/controllers_transactions_revert.go
  internal/api/v1/controllers_transactions_revert_test.go
  internal/api/v2/controllers_bulk.go
  internal/api/v2/controllers_bulk_test.go
  internal/api/v2/controllers_transactions_create.go
  internal/api/v2/controllers_transactions_create_test.go
  internal/api/v2/controllers_transactions_revert.go
  internal/api/v2/controllers_transactions_revert_test.go
  internal/controller/ledger/controller.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_default_test.go
  internal/controller/ledger/controller_generated.go
  internal/controller/ledger/controller_with_events.go
  internal/controller/ledger/controller_with_traces.go
  internal/controller/ledger/inputs.go
  internal/controller/ledger/stats_test.go
  internal/controller/system/controller.go
  test/performance/env_core_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: make transaction denorm in sql trigger
  internal/storage/bucket/migrations/11-stateless.sql
  internal/storage/ledger/migrations/0-add-sequences.sql
  internal/storage/ledger/transactions.go
  internal/storage/ledger/transactions_test.go
  internal/storage/ledger/utils.go
  internal/storage/system/migrations.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

doc: add some documentation
  DEV.md
  README.md
  docker-compose.yml
  test/README.md
Due: none

fix: test logging
  internal/storage/ledger/transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: add some integration tests
  internal/api/v1/controllers_transactions.go
  internal/api/v1/controllers_transactions_create.go
  internal/controller/ledger/controller_default.go
  internal/storage/ledger/balances.go
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/gen.yaml
  pkg/client/docs/models/components/v2expandedtransaction.md
  pkg/client/docs/models/components/v2gettransactionresponse.md
  pkg/client/docs/models/components/v2transactionscursorresponsecursor.md
  pkg/client/formance.go
  pkg/client/models/components/v2expandedtransaction.go
  pkg/client/models/components/v2gettransactionresponse.go
  pkg/client/models/components/v2transactionscursorresponse.go
  pkg/testserver/api.go
  pkg/testserver/helpers.go
  pkg/testserver/server.go
  test/e2e/api_accounts_list.go
  test/e2e/api_accounts_metadata.go
  test/e2e/api_balances_aggregated.go
  test/e2e/api_bulk.go
  test/e2e/api_engine_test.go
  test/e2e/api_ledgers_create_test.go
  test/e2e/api_ledgers_import_test.go
  test/e2e/api_ledgers_list.go
  test/e2e/api_ledgers_metadata.go
  test/e2e/api_logs_list.go
  test/e2e/api_transactions_create.go
  test/e2e/api_transactions_list.go
  test/e2e/api_transactions_metadata.go
  test/e2e/api_transactions_revert.go
  test/e2e/v1_api_balances.go
  test/stress/stress_test.go
  test/stress/suite_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add nats server on integration tests
  pkg/testserver/server.go
  test/e2e/environment_test.go
  test/e2e/integration_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: refine query in storage
  internal/storage/ledger/accounts.go
  internal/storage/ledger/moves.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: various
  internal/account.go
  internal/api/v1/controllers_accounts.go
  internal/api/v1/controllers_accounts_list_test.go
  internal/api/v1/controllers_accounts_read.go
  internal/api/v1/controllers_accounts_read_test.go
  internal/api/v2/controllers_accounts_list_test.go
  internal/api/v2/controllers_accounts_read_test.go
  internal/api/v2/controllers_bulk_test.go
  internal/controller/ledger/controller.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_default_test.go
  internal/controller/ledger/controller_generated.go
  internal/controller/ledger/store.go
  internal/controller/ledger/store_generated.go
  internal/storage/bucket/bucket_test.go
  internal/storage/ledger/accounts.go
  internal/storage/ledger/accounts_test.go
  internal/transaction.go
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/gen.yaml
  pkg/client/docs/models/components/v2expandedtransaction.md
  pkg/client/docs/models/components/v2ledger.md
  pkg/client/docs/models/components/v2transaction.md
  pkg/client/docs/models/operations/v2createtransactionrequest.md
  pkg/client/docs/models/operations/v2reverttransactionrequest.md
  pkg/client/docs/sdks/v1/README.md
  pkg/client/docs/sdks/v2/README.md
  pkg/client/formance.go
  pkg/client/models/components/v2expandedtransaction.go
  pkg/client/models/components/v2ledger.go
  pkg/client/models/components/v2transaction.go
  pkg/client/models/operations/v2createtransaction.go
  pkg/client/models/operations/v2reverttransaction.go
  pkg/client/v1.go
  test/performance/env_remote_ledger_test.go
  test/performance/env_remote_stack_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: add test on storage
  internal/storage/ledger/accounts.go
  internal/storage/ledger/accounts_test.go
  internal/storage/ledger/transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add log
  test/performance/benchmark_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: injecting dependency from feature flag
  cmd/serve.go
  internal/controller/ledger/errors.go
  internal/controller/ledger/numscript_parser.go
  internal/controller/system/controller.go
  internal/controller/system/module.go
  pkg/testserver/server.go
  test/e2e/api_bulk.go
  test/e2e/api_transactions_create.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: running tests twice
  internal/controller/system/controller.go
  test/e2e/api_bulk.go
  test/e2e/api_transactions_create.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: fixes after rebase
  docs/api/README.md
  openapi.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/gen.yaml
  pkg/client/docs/models/components/v2errorsenum.md
  pkg/client/formance.go
  pkg/client/models/components/v2errorsenum.go
  test/e2e/api_bulk.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

test: conditional assertions
  internal/controller/system/module.go
  test/e2e/api_bulk.go
  test/e2e/api_transactions_create.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: enable cache again
  internal/controller/system/module.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: simplify WithUpdateParser option
  internal/controller/system/controller.go
  internal/controller/system/module.go
  test/e2e/api_bulk.go
  test/e2e/api_transactions_create.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: make correct use of cache mounts (speedup local pre-commit by ~5)
  Earthfile
  go.mod
Due: none

chore: wrong file names
  test/e2e/api_accounts_list_test.go
  test/e2e/api_accounts_metadata_test.go
  test/e2e/api_balances_aggregated_test.go
  test/e2e/api_bulk_test.go
  test/e2e/api_ledgers_list_test.go
  test/e2e/api_ledgers_metadata_test.go
  test/e2e/api_logs_list_test.go
  test/e2e/api_transactions_create_test.go
  test/e2e/api_transactions_list_test.go
  test/e2e/api_transactions_metadata_test.go
  test/e2e/api_transactions_revert_test.go
  test/e2e/api_volumes_test.go
  test/e2e/v1_api_balances_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: use go test instead of ginkgo in earthfile
  Earthfile
Due: none

feat: prevent downgrades of application
  docs/api/README.md
  go.mod
  go.sum
  internal/storage/driver/driver.go
  internal/storage/driver/errors.go
  internal/storage/driver/migrations.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/gen.yaml
  pkg/client/docs/models/components/v2migrationinfo.md
  pkg/client/formance.go
  pkg/client/models/components/v2migrationinfo.go
  pkg/testserver/api.go
  pkg/testserver/helpers.go
  pkg/testserver/server.go
  test/e2e/api_accounts_metadata_test.go
  test/e2e/api_ledgers_import_test.go
  test/e2e/api_transactions_create_test.go
  test/e2e/api_transactions_revert_test.go
  test/e2e/lifecycle_test.go
  test/performance/env_testserver_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
