Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

chore: use shipfhox runners
  .github/workflows/benchmark.yml
  .github/workflows/main.yml
  .github/workflows/releases.yml
Due: none

chore: install earthly
  .github/actions/env/action.yml
Due: none

chore: disable golanci-lint
  Earthfile
  deployments/pulumi/Earthfile
  tools/generator/Earthfile
Due: none

fix: bump go-libs/v2 to v2.2.4-0.20260227115258-ff00230f8130
  go.mod
  go.sum
  tools/generator/go.mod
  tools/generator/go.sum
Due: none

feat: add egress NetworkPolicy to operator to prevent SSRF
  misc/devenv/main.go
  misc/devenv/values/staging/ledger.yaml
  misc/operator/api/v1alpha1/ledger_types.go
  misc/operator/api/v1alpha1/ledgerdefaults_types.go
  misc/operator/api/v1alpha1/zz_generated.deepcopy.go
  misc/operator/chart/templates/clusterrole.yaml
  misc/operator/config/crd/bases/ledger.formance.com_ledgerdefaults.yaml
  misc/operator/config/crd/bases/ledger.formance.com_ledgerservices.yaml
  misc/operator/config/rbac/role.yaml
  misc/operator/internal/controller/build_networkpolicy_spec_test.go
  misc/operator/internal/controller/ledger_controller.go
  misc/operator/internal/controller/merge.go
  misc/operator/internal/controller/merge_test.go
  misc/operator/internal/controller/reconcile_networkpolicy.go
  misc/operator/internal/controller/reconcile_networkpolicy_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: add /app to PATH and set INSECURE=true in Dockerfile
  Dockerfile
Due: none

feat(operator-ui): add pod logs viewer and interactive terminal
  misc/operator/ui/backend/package.json
  misc/operator/ui/backend/src/index.ts
  misc/operator/ui/backend/src/k8s/pod-logs.ts
  misc/operator/ui/backend/src/k8s/resources.ts
  misc/operator/ui/backend/src/routes/index.ts
  misc/operator/ui/backend/src/routes/pod-logs.ts
  misc/operator/ui/backend/src/ws/terminal.ts
  misc/operator/ui/chart/templates/clusterrole.yaml
  misc/operator/ui/frontend/package.json
  misc/operator/ui/frontend/src/api/use-pod-logs.ts
  misc/operator/ui/frontend/src/components/pod-logs-panel.tsx
  misc/operator/ui/frontend/src/components/pod-terminal-dialog.tsx
  misc/operator/ui/frontend/src/components/pod-terminal.tsx
  misc/operator/ui/frontend/src/pages/ledger-service-detail.tsx
  misc/operator/ui/frontend/vite.config.ts
  misc/operator/ui/pnpm-lock.yaml
  misc/operator/ui/shared/src/types.ts
Due: none

fix(operator-ui): parallelize namespace scanning for LedgerDefaults references
  misc/operator/ui/backend/src/routes/ledger-defaults.ts
Due: none

feat(operator-ui): add optional OIDC authentication (BFF pattern)
  misc/devenv/Pulumi.devenv-ledger-exp.yaml
  misc/devenv/main.go
  misc/operator/ui/backend/package.json
  misc/operator/ui/backend/src/auth/config.ts
  misc/operator/ui/backend/src/auth/middleware.ts
  misc/operator/ui/backend/src/auth/oidc.ts
  misc/operator/ui/backend/src/auth/routes.ts
  misc/operator/ui/backend/src/auth/session.ts
  misc/operator/ui/backend/src/index.ts
  misc/operator/ui/backend/src/ws/terminal.ts
  misc/operator/ui/chart/templates/deployment.yaml
  misc/operator/ui/chart/values.yaml
  misc/operator/ui/frontend/src/api/hooks.ts
  misc/operator/ui/frontend/src/auth/auth-gate.tsx
  misc/operator/ui/frontend/src/auth/use-auth.ts
  misc/operator/ui/frontend/src/components/layout.tsx
  misc/operator/ui/frontend/src/main.tsx
  misc/operator/ui/pnpm-lock.yaml
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(operator-ui): add explanations to auth module for readability
  misc/operator/ui/backend/src/auth/config.ts
  misc/operator/ui/backend/src/auth/middleware.ts
  misc/operator/ui/backend/src/auth/oidc.ts
  misc/operator/ui/backend/src/auth/routes.ts
  misc/operator/ui/backend/src/auth/session.ts
  misc/operator/ui/backend/src/index.ts
  misc/operator/ui/chart/templates/deployment.yaml
  misc/operator/ui/chart/values.yaml
  misc/operator/ui/frontend/src/api/hooks.ts
  misc/operator/ui/frontend/src/auth/auth-gate.tsx
  misc/operator/ui/frontend/src/auth/use-auth.ts
  misc/operator/ui/frontend/src/components/layout.tsx
Due: none

feat(operator-ui): add contextual info panels and field descriptions
  misc/operator/ui/frontend/src/components/forms/sections/cold-storage-section.tsx
  misc/operator/ui/frontend/src/components/forms/sections/config-section.tsx
  misc/operator/ui/frontend/src/components/forms/sections/health-section.tsx
  misc/operator/ui/frontend/src/components/forms/sections/image-section.tsx
  misc/operator/ui/frontend/src/components/forms/sections/ingress-section.tsx
  misc/operator/ui/frontend/src/components/forms/sections/monitoring-section.tsx
  misc/operator/ui/frontend/src/components/forms/sections/pebble-section.tsx
  misc/operator/ui/frontend/src/components/forms/sections/persistence-section.tsx
  misc/operator/ui/frontend/src/components/forms/sections/raft-section.tsx
  misc/operator/ui/frontend/src/components/forms/sections/scheduling-section.tsx
  misc/operator/ui/frontend/src/components/forms/sections/security-section.tsx
  misc/operator/ui/frontend/src/components/forms/sections/service-section.tsx
  misc/operator/ui/frontend/src/components/info-panel.tsx
  misc/operator/ui/frontend/src/components/layout.tsx
  misc/operator/ui/frontend/src/pages/ledger-defaults-detail.tsx
  misc/operator/ui/frontend/src/pages/ledger-defaults-form.tsx
  misc/operator/ui/frontend/src/pages/ledger-defaults-list.tsx
  misc/operator/ui/frontend/src/pages/ledger-service-detail.tsx
  misc/operator/ui/frontend/src/pages/ledger-service-form.tsx
  misc/operator/ui/frontend/src/pages/ledger-services-list.tsx
  misc/operator/ui/frontend/src/router.tsx
Due: none

feat(operator-ui): annotate LedgerServices with OIDC owner info
  misc/operator/ui/backend/src/auth/middleware.ts
  misc/operator/ui/backend/src/routes/ledger-services.ts
  misc/operator/ui/frontend/src/pages/ledger-service-detail.tsx
  misc/operator/ui/frontend/src/pages/ledger-services-list.tsx
Due: none

omit transaction & queries field when empty
  internal/schema.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

openapi: make transaction & query templates nullable
  docs/api/README.md
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/docs/models/components/v2schema.md
  pkg/client/docs/models/components/v2schemadata.md
  pkg/client/models/components/v2schema.go
  pkg/client/models/components/v2schemadata.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(operator-ui): copy pnpm-lock.yaml in Dockerfile build stage
  misc/operator/ui/Dockerfile
Due: none

chore: edit todo
  TODO
Due: none

fix(e2e): add missing --cluster-id to all test server setups
  pkg/testserver/testserver.go
  tests/e2e/auth_test.go
  tests/e2e/bootstrap_test.go
  tests/e2e/helpers_test.go
  tests/e2e/restore_test.go
  tests/e2e/tls_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: implement ReadIndex for linearizable reads on all nodes
  AGENTS.md
  TODO
  docs/dev/architecture/data-flows.md
  docs/dev/architecture/raft-consensus.md
  internal/bootstrap/controller_routed.go
  internal/infra/node/node.go
  internal/infra/node/read_index.go
  internal/infra/node/read_index_test.go
  internal/infra/node/sync_map.go
  internal/infra/state/machine.go
  internal/pkg/futures/future.go
  internal/pkg/futures/future_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Add global logs exporter
  cmd/config.go
  cmd/root.go
  cmd/serve.go
  internal/controller/system/store.go
  internal/replication/drivers/registry.go
  internal/replication/global_exporter.go
  internal/storage/system/migrations.go
  internal/storage/system/store.go
  pkg/testserver/server.go
  test/e2e/api_global_exporter_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

cleanup
  internal/storage/system/migrations.go
  test/e2e/api_global_exporter_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

validate config on driver creation
  internal/replication/drivers/registry.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

better arg parsing
  cmd/config.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(ci): add GitHub Actions CI/CD and GoReleaser config
  .github/actions/default/action.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
  .goreleaser.yml
  justfile
Due: none

feat: chunked snapshot transfer, startup diagnostics, cluster join logging
  cmd/server/server.go
  internal/adapter/grpc/server_cluster.go
  internal/bootstrap/module.go
  internal/infra/node/node.go
  internal/infra/node/transport.go
  internal/infra/state/machine.go
  internal/infra/transport/connection_pool.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  internal/proto/rafttransportpb/raft_transport.pb.go
  internal/proto/rafttransportpb/raft_transport_grpc.pb.go
  internal/proto/rafttransportpb/raft_transport_vtproto.pb.go
  internal/storage/dal/store.go
  internal/storage/wal/wal_default.go
  misc/proto/raft_cmd.proto
  misc/proto/raft_transport.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add GetLog RPC, ledgers promote command, env var bindings, operator fixes
  cmd/ledgerctl/ledgers/command.go
  cmd/ledgerctl/ledgers/promote.go
  cmd/ledgerctl/logs/command.go
  cmd/ledgerctl/logs/get.go
  cmd/ledgerctl/logs/list.go
  cmd/ledgerctl/main.go
  docs/ops/cli.md
  internal/adapter/grpc/client_bucket.go
  internal/adapter/grpc/server_bucket.go
  internal/adapter/http/mock_backend_test.go
  internal/application/ctrl/controller.go
  internal/application/ctrl/controller_default.go
  internal/application/ctrl/controller_generated_test.go
  internal/bootstrap/controller_routed.go
  internal/infra/state/audit.go
  internal/infra/state/audit_test.go
  internal/infra/transport/connection_pool.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_grpc.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  misc/devenv/Pulumi.staging.yaml
  misc/operator/ui/backend/src/auth/routes.ts
  misc/operator/ui/backend/src/ws/terminal.ts
  misc/operator/ui/chart/templates/clusterrole.yaml
  misc/proto/bucket.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: transport shutdown race conditions causing panics
  internal/infra/node/transport.go
  internal/infra/transport/connection_pool.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(e2e): use json.Number for V2Posting.Amount in mirror test
  tests/e2e/mirror_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: post-compaction checkpoint and L0 compaction documentation
  docs/dev/architecture/storage-drivers.md
  docs/ops/performance-tuning.md
  internal/storage/dal/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add idle compaction and clean up startup diagnostics
  internal/bootstrap/module.go
  internal/infra/state/machine.go
  internal/storage/dal/idle_compactor.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(operator): use OrderedReady pod management for sequential Raft joins
  TODO
  misc/operator/internal/controller/reconcile_statefulset.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: force snapshot on ConfState change and retry AddLearner on drops
  internal/infra/node/applier.go
  internal/infra/node/node.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: prevent leader restart on StatefulSet scale-up
  internal/storage/wal/wal_default.go
  misc/operator/internal/controller/hash.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: remove reverse discovery from transport layer
  internal/bootstrap/module.go
  internal/infra/node/transport.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: optional read consistency via gRPC metadata (stale/leader)
  cmd/ledgerctl/cmdutil/client.go
  cmd/ledgerctl/main.go
  docs/ops/cli.md
  internal/adapter/grpc/consistency.go
  internal/adapter/grpc/server.go
  internal/bootstrap/controller_routed.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: compact L0 at startup with cold cache to avoid slow reads
  internal/storage/dal/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: checkpoint sync progress tracking and snapshot ConfState fix
  cmd/ledgerctl/cluster/status.go
  internal/adapter/grpc/server_cluster.go
  internal/application/ctrl/snapshot_fetcher.go
  internal/infra/node/applier.go
  internal/infra/node/node.go
  internal/infra/node/node_test.go
  internal/infra/state/machine.go
  internal/infra/state/snapshot.go
  internal/infra/state/sync_progress.go
  internal/proto/clusterpb/cluster.pb.go
  internal/proto/clusterpb/cluster_vtproto.pb.go
  internal/storage/wal/wal.go
  internal/storage/wal/wal_default.go
  internal/storage/wal/wal_generated.go
  internal/storage/wal/wal_interceptor.go
  misc/proto/cluster.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(operator): automatic Raft node removal and PVC cleanup on scale-down
  cmd/ledgerctl/cluster/status.go
  internal/adapter/grpc/server_cluster.go
  internal/infra/node/node.go
  misc/operator/chart/templates/clusterrole.yaml
  misc/operator/cmd/operator/main.go
  misc/operator/config/rbac/role.yaml
  misc/operator/internal/controller/ledger_controller.go
  misc/operator/internal/controller/raft_scaledown.go
  misc/operator/internal/controller/reconcile_statefulset.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests
