Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

fix: cover incremental idempotency restore
  docs/technical/audits/idempotency-retries-partial-failures.json
Due: none

fix: link incremental restore contract
  docs/technical/audits/idempotency-retries-partial-failures.json
Due: none

audit: add idempotency and partial failure campaign (#1755)
  docs/technical/audits/idempotency-retries-partial-failures.json
Due: none

audit: include cursor and filter implementations
  docs/technical/audits/read-consistency-projections.json
Due: none

fix: address AI review findings
  docs/technical/audits/raft-membership-leadership.json
Due: none

fix(wal): stop when the WAL directory is gone, not just the snapshots
  docs/ops/deployment.md
  docs/technical/architecture/subsystems/consensus/raft-consensus.md
  internal/infra/node/applier_test.go
  internal/infra/node/maintenance_test.go
  internal/infra/node/node.go
  internal/storage/wal/snapshotter.go
  internal/storage/wal/snapshotter_test.go
  internal/storage/wal/wal.go
  internal/storage/wal/wal_default.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(replay): cover the index dispatch of ReplayLedgerLog
  internal/domain/replay/replay_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

audit: include cursor and filter implementations (#1770)
  docs/technical/audits/read-consistency-projections.json
Due: none

fix(backup): bound pendingIndexes; prove the registry lifecycle across the checkpoint
  internal/infra/backup/rebuild.go
  tests/e2e/cluster/restore_index_registry_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: include readiness gates in Raft audit
  docs/technical/audits/raft-membership-leadership.json
Due: none

fix: include gRPC retry classification in Raft audit
  docs/technical/audits/raft-membership-leadership.json
Due: none

fix: include cluster bootstrap paths in Raft audit
  docs/technical/audits/raft-membership-leadership.json
Due: none

fix: include gRPC consensus tests in Raft audit
  docs/technical/audits/raft-membership-leadership.json
Due: none

fix: define functional routing and bootstrap audit scope
  docs/technical/audits/raft-membership-leadership.json
Due: none

fix: include gRPC errors and join entry point
  docs/technical/audits/raft-membership-leadership.json
Due: none

fix: include snapshot transfer helpers in Raft audit
  docs/technical/audits/raft-membership-leadership.json
Due: none

fix: include snapshot streaming helpers in Raft audit
  docs/technical/audits/raft-membership-leadership.json
Due: none

fix: bound Raft audit at leadership notification delivery
  docs/technical/audits/raft-membership-leadership.json
Due: none

fix: include leadership observer transitions
  docs/technical/audits/raft-membership-leadership.json
Due: none

audit: add Raft membership leadership campaign (#1753)
  docs/technical/audits/raft-membership-leadership.json
Due: none

chore: harden AI bugfix workflow gates
  docs/technical/contributing/ai-bugfix-workflow.md
  scripts/agent-check-pr
  scripts/ai-bugfix-gate
  scripts/ai-bugfix-gate-test
  scripts/ai-pr-loop
Due: none

fix: bootstrap bugfix evidence gate on old bases
  scripts/ai-pr-loop
Due: none

fix: pin pre-push gate to trusted tooling
  scripts/ai-pr-loop
  scripts/aiprloop/push_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: reject non-Nix Go toolchains
  scripts/ai-bugfix-gate
  scripts/ai-bugfix-gate-test
Due: none

fix(actions): gate index readiness on version parity; sync docs with the removed field
  docs/ops/cli.md
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/architecture/subsystems/checker/README.md
  docs/technical/architecture/subsystems/checker/checker.md
  docs/technical/architecture/subsystems/consensus/global-log.md
  docs/technical/architecture/subsystems/fsm/cache-layers.md
  docs/technical/architecture/subsystems/indexer/indexes.md
  docs/technical/contributing/api-comparison.md
  docs/technical/contributing/protobuf.md
  pkg/actions/indexes.go
  tests/e2e/business/metadata_index_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs: version-parity readiness on the remaining stale surfaces
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/architecture/subsystems/indexer/indexes.md
  internal/proto/servicepb/bucket.pb.go
  misc/proto/bucket.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(admission): exempt leader-internal system proposals from signature enforcement
  internal/adapter/auth/caller_snapshot.go
  internal/application/admission/admission.go
  internal/application/admission/admission_test.go
  internal/application/admission/authorize_unsigned_batch_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(proto): describe the index checker note without the removed build state
  internal/proto/servicepb/bucket.pb.go
  misc/proto/bucket.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: harden AI bugfix workflow gates
  docs/technical/contributing/ai-bugfix-workflow.md
  scripts/agent-check-pr
  scripts/ai-bugfix-gate
  scripts/ai-bugfix-gate-test
  scripts/ai-pr-loop
  scripts/aiprloop/push_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(actions): detect rewrite completion from pending state and version advancement
  docs/ops/cli.md
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/contributing/api-comparison.md
  internal/proto/servicepb/bucket.pb.go
  misc/proto/bucket.proto
  pkg/actions/indexes.go
  tests/e2e/business/metadata_index_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(actions): state the replica-affinity requirement on the rewrite wait
  pkg/actions/indexes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1859): make the server-timing total visible to its only consumer
  cmd/ledgerctl/cmdutil/profile.go
  cmd/server/server.go
  docs/ops/cli.md
  docs/technical/architecture/subsystems/read-path/query-profile.md
  internal/adapter/grpc/server_bucket.go
  internal/adapter/grpc/stream_helper.go
  internal/adapter/grpc/stream_helper_profile_test.go
  internal/adapter/grpc/stream_helper_test.go
  internal/adapter/http/handlers_aggregate_volumes.go
  internal/adapter/http/handlers_execute_prepared_query.go
  internal/adapter/http/handlers_list_accounts.go
  internal/adapter/http/handlers_list_accounts_test.go
  internal/adapter/http/handlers_list_transactions.go
  internal/adapter/http/response.go
  internal/bootstrap/controller_routed.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_reader.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  internal/query/profile.go
  internal/query/profile_test.go
  internal/query/profile_timing_test.go
  misc/operator/api/v1alpha1/cluster_types.go
  misc/operator/config/crd/bases/ledger.formance.com_clusters.yaml
  misc/operator/helm/crds/templates/ledger.formance.com_clusters.yaml
  misc/proto/bucket.proto
  openapi.yml
  tests/e2e/business/query_profile_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(EN-1859): expose server-side request timing on QueryProfile
  cmd/ledgerctl/cmdutil/profile.go
  docs/ops/cli.md
  docs/technical/architecture/subsystems/read-path/README.md
  docs/technical/architecture/subsystems/read-path/query-profile.md
  internal/adapter/grpc/server_bucket.go
  internal/adapter/grpc/stream_helper.go
  internal/adapter/grpc/stream_helper_profile_test.go
  internal/adapter/http/handlers_aggregate_volumes.go
  internal/adapter/http/handlers_execute_prepared_query.go
  internal/adapter/http/handlers_list_accounts.go
  internal/adapter/http/handlers_list_accounts_test.go
  internal/adapter/http/handlers_list_transactions.go
  internal/adapter/http/params.go
  internal/adapter/http/response.go
  internal/bootstrap/controller_routed.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_reader.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  internal/query/profile.go
  internal/query/profile_test.go
  internal/query/profile_timing_test.go
  misc/proto/bucket.proto
  openapi.yml
  tests/e2e/business/query_profile_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

test(e2e): consume the readiness guarantees — typed query after retype, drop+recreate numbering
  tests/e2e/business/metadata_index_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

style: gofmt
  tests/e2e/business/metadata_index_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs: version-advancement guidance in the retype consistency note
  docs/technical/contributing/api-comparison.md
Due: none

fix(EN-1859): document forwarded reads with a non-zero local barrier
  docs/technical/architecture/subsystems/read-path/query-profile.md
  internal/bootstrap/controller_routed.go
  internal/proto/servicepb/bucket.pb.go
  internal/query/profile.go
  internal/query/profile_timing_test.go
  misc/proto/bucket.proto
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

docs: sweep the remaining pre-EN-1323 build-protocol narration
  docs/technical/contributing/api-comparison.md
  internal/application/admission/admission.go
  internal/application/admission/validate_order.go
  internal/application/check/checker.go
  internal/application/indexbuilder/backfill.go
  internal/application/indexbuilder/backfill_test.go
  internal/application/indexbuilder/index_config.go
  internal/application/indexbuilder/index_config_test.go
  internal/application/indexbuilder/process_metadata_field_removal.go
  internal/application/indexbuilder/resurrection_regression_test.go
  internal/bootstrap/backup_proposer.go
  internal/bootstrap/propose_technical.go
  tests/e2e/business/log_date_index_test.go
  tests/e2e/business/metadata_index_test.go
  tests/e2e/cluster/metadata_index_per_replica_consistency_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

style: gofmt
  tests/e2e/cluster/metadata_index_per_replica_consistency_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(actions): refuse a zero retype token
  pkg/actions/indexes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests
