Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

fix: same on accounts
  internal/storage/bucket/migrations/11-make-stateless/up.sql
Due: none

feat: initialize transactions_metadata if needed (#1198)
  internal/storage/bucket/migrations/11-make-stateless/up.sql
Due: none

feat: initialize transactions_metadata if needed (#1199)
  internal/storage/bucket/migrations/11-make-stateless/up.sql
Due: none

fix: regression on v1 endpoints (#1201)
  internal/api/v1/controllers_accounts_count_test.go
  internal/api/v1/controllers_balances_aggregates.go
  internal/api/v1/utils.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: regression on v1 endpoints (#1196)
  internal/api/v1/controllers_accounts_count_test.go
  internal/api/v1/controllers_balances_aggregates.go
  internal/api/v1/utils.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: regression on v1 endpoints (#1197)
  internal/api/v1/controllers_accounts_count_test.go
  internal/api/v1/controllers_balances_aggregates.go
  internal/api/v1/utils.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: missing where clause
  internal/storage/bucket/migrations/11-make-stateless/up.sql
Due: none

feat: initialize transactions_metadata if needed (#1200)
  internal/storage/bucket/migrations/11-make-stateless/up.sql
Due: none

fix: missing where clause (#1202)
  internal/storage/bucket/migrations/11-make-stateless/up.sql
Due: none

fix: missing where clause (#1203)
  internal/storage/bucket/migrations/11-make-stateless/up.sql
Due: none

fix: improvement tmp
  internal/storage/ledger/legacy/volumes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add test
  internal/storage/ledger/transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: regression on v1 endpoints
  internal/api/v1/controllers_balances_aggregates.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

debug: add a big sleep
  internal/api/v2/controllers_logs_list.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add a /sleep endpoint
  internal/api/common/mocks_system_controller_test.go
  internal/api/v1/mocks_system_controller_test.go
  internal/api/v2/controllers_sleep.go
  internal/api/v2/controllers_sleep_test.go
  internal/api/v2/mocks_system_controller_test.go
  internal/api/v2/routes.go
  internal/controller/system/controller.go
  internal/controller/system/store.go
  internal/storage/system/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: update version of console (docker-compose) + rename env var
  examples/standalone/docker-compose.yml
Due: none

expost schemaEnforcementMode on /_info
  internal/api/common/mocks_system_controller_test.go
  internal/api/v1/controllers_config.go
  internal/api/v1/controllers_config_test.go
  internal/api/v1/mocks_system_controller_test.go
  internal/api/v2/mocks_system_controller_test.go
  internal/controller/system/controller.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add metadata on accounts
  .speakeasy/gen.yaml
  AGENTS.md
  flake.nix
  internal/application/grpc_ledger_server.go
  internal/http/handler.go
  internal/http/handlers_save_account_metadata.go
  internal/service/ledger.pb.go
  internal/service/ledger_default.go
  internal/service/ledger_default_integration_test.go
  internal/service/ledger_grpc.pb.go
  internal/service/ledger_grpc_client.go
  justfile
  openapi.yml
  pkg/client/.speakeasy/gen.lock
  pkg/client/README.md
  pkg/client/docs/models/components/createtransactionrequest.md
  pkg/client/docs/models/components/data.md
  pkg/client/formance.go
  pkg/client/models/components/createtransactionrequest.go
  pkg/client/models/components/createtransactionresponse.go
  proto/ledger.proto
  tests/e2e/account_metadata_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: utils
  Dockerfile
  flake.nix
  justfile
Due: none

feat: add benchmark
  .gitignore
  cmd/bench/README.md
  cmd/bench/generate.go
  cmd/bench/main.go
  cmd/bench/scripts/any_bounded_to_any.js
  cmd/bench/scripts/any_to_bank.js
  cmd/bench/scripts/any_unbounded_to_any.js
  cmd/bench/scripts/world_to_any.js
  cmd/bench/scripts/world_to_bank.js
  go.mod
  go.sum
  internal/service/ledger_default.go
  justfile
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add ledger raft state on api
  .speakeasy/gen.yaml
  cmd/client/ledgers.go
  internal/http/handler.go
  internal/http/handlers_get_ledger_raft_state.go
  internal/raft/ledger/fsm.go
  internal/raft/node.go
  internal/raft/syncer.go
  justfile
  openapi.yml
  pkg/client/.speakeasy/gen.lock
  pkg/client/README.md
  pkg/client/docs/models/components/clusterstateresponsedata.md
  pkg/client/docs/models/components/createtransactionresponse.md
  pkg/client/docs/models/components/data.md
  pkg/client/docs/sdks/ledgers/README.md
  pkg/client/formance.go
  pkg/client/ledgers.go
  pkg/client/models/components/clusterstateresponse.go
  pkg/client/models/components/createtransactionresponse.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: various
  cmd/bench/main.go
  deployments/chart/values.yaml
  internal/application/module.go
  internal/raft/node.go
  internal/raft/system/fsm.go
  internal/raft/system/multiplexed_transport.go
  internal/raft/system/node.go
  internal/raft/transport.go
  internal/service/ledger_default.go
  justfile
  tests/e2e/replica_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: complete cluster state
  .speakeasy/gen.yaml
  Dockerfile
  cmd/client/cluster.go
  internal/cluster_state.go
  internal/raft/node.go
  openapi.yml
  pkg/client/.speakeasy/gen.lock
  pkg/client/docs/models/components/clusterstateresponsedata.md
  pkg/client/docs/models/components/data.md
  pkg/client/docs/models/components/state.md
  pkg/client/formance.go
  pkg/client/models/components/clusterstateresponse.go
  tests/e2e/replica_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: clean bun references
  go.mod
  go.sum
  internal/account.go
  internal/log.go
  internal/moves.go
  internal/transaction.go
  internal/volumes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: move some proto
  justfile
  proto/common.proto
  proto/ledger.proto
Due: none

feat: add missing protobuf
  internal/application/grpc_ledger_server.go
  internal/application/module.go
  internal/ledgerpb/ledger.pb.go
  internal/ledgerpb/ledger_grpc.pb.go
  internal/raft/ledger/command.go
  internal/raft/ledger/fsm.go
  internal/raft/ledger/ledger_commands.pb.go
  internal/raft/system/fsm.go
  internal/service/grpc_convert_utils.go
  internal/service/ledger.pb.go
  internal/service/ledger_grpc_client.go
  proto/ledger.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add per pod routing for k8s
  deployments/chart/README.md
  deployments/chart/dev-values.yaml
  deployments/chart/templates/ingress-per-pod.yaml
  deployments/chart/values.yaml
  internal/raft/node.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: remove sequence
  docs/advanced-concepts.md
  docs/api.md
  proto/ledger.proto
Due: none

fix: content type
  internal/http/handler.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: optimize volume selection with partial address filtering
  internal/storage/ledger/resource_volumes.go
  internal/storage/ledger/volumes_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

wip
  go.mod
  internal/README.md
  internal/api/bulking/mocks_ledger_controller_test.go
  internal/api/common/mocks_ledger_controller_test.go
  internal/api/v1/mocks_ledger_controller_test.go
  internal/api/v2/controllers_queries_run.go
  internal/api/v2/mocks_ledger_controller_test.go
  internal/api/v2/routes.go
  internal/controller/ledger/controller.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_generated_test.go
  internal/controller/ledger/controller_with_too_many_client_handling.go
  internal/controller/ledger/controller_with_traces.go
  internal/query_templates.go
  internal/schema.go
  internal/storage/bucket/migrations/45-add-query-templates/notes.yaml
  internal/storage/bucket/migrations/45-add-query-templates/up.sql
  internal/storage/common/resource.go
  internal/storage/ledger/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: add missing table alias for 'moves' in volume queries
  internal/storage/ledger/resource_volumes.go
  internal/storage/ledger/volumes_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: resolve missing table alias for 'moves' in PIT queries
  internal/storage/ledger/balances_test.go
  internal/storage/ledger/resource_aggregated_balances.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: enhance query logic for partial address and metadata filtering
  internal/storage/ledger/balances_test.go
  internal/storage/ledger/resource_aggregated_balances.go
  internal/storage/ledger/resource_volumes.go
  internal/storage/ledger/volumes_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: enhance query handling for partial addresses and balances
  internal/storage/ledger/balances_test.go
  internal/storage/ledger/resource_aggregated_balances.go
  internal/storage/ledger/resource_volumes.go
  internal/storage/ledger/volumes_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
