Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

chore: upgrade database schemas
  docs/database/_default/diagrams/orphans/orphans.dot
  docs/database/_default/diagrams/orphans/orphans.png
  docs/database/_default/diagrams/summary/relationships.real.compact.dot
  docs/database/_default/diagrams/summary/relationships.real.compact.png
  docs/database/_default/diagrams/summary/relationships.real.large.dot
  docs/database/_default/diagrams/summary/relationships.real.large.png
  docs/database/_default/diagrams/tables/accounts.1degree.png
  docs/database/_default/diagrams/tables/accounts.2degrees.dot
  docs/database/_default/diagrams/tables/accounts.2degrees.png
  docs/database/_default/diagrams/tables/accounts_metadata.1degree.png
  docs/database/_default/diagrams/tables/accounts_metadata.2degrees.dot
  docs/database/_default/diagrams/tables/accounts_metadata.2degrees.png
  docs/database/_default/diagrams/tables/logs.1degree.dot
  docs/database/_default/diagrams/tables/logs.1degree.png
  docs/database/_default/diagrams/tables/moves.1degree.png
  docs/database/_default/diagrams/tables/moves.2degrees.dot
  docs/database/_default/diagrams/tables/moves.2degrees.png
  docs/database/_default/diagrams/tables/transactions.1degree.png
  docs/database/_default/diagrams/tables/transactions.2degrees.dot
  docs/database/_default/diagrams/tables/transactions.2degrees.png
  docs/database/_default/diagrams/tables/transactions_metadata.1degree.png
  docs/database/_default/diagrams/tables/transactions_metadata.2degrees.dot
  docs/database/_default/diagrams/tables/transactions_metadata.2degrees.png
  docs/database/_system/diagrams/orphans/orphans.dot
  docs/database/_system/diagrams/orphans/orphans.png
  docs/database/_system/diagrams/tables/ledgers.1degree.dot
  docs/database/_system/diagrams/tables/ledgers.1degree.png
Due: none

chore: remove useless file
  TODO
Due: none

chore: pre-commit
  Earthfile
  go.mod
  go.sum
Due: none

fix: sequences migration from v2
  internal/api/v1/controllers_transactions.go
  internal/api/v1/controllers_transactions_list.go
  internal/api/v1/controllers_transactions_read.go
  internal/storage/bucket/migrations/11-make-stateless.sql
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add experimental flag to enable features support
  cmd/serve.go
  internal/README.md
  internal/controller/system/controller.go
  internal/controller/system/errors.go
  internal/controller/system/module.go
  internal/ledger.go
  pkg/testserver/server.go
  test/e2e/api_ledgers_create_test.go
  test/e2e/api_ledgers_import_test.go
  test/stress/stress_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: fix benchmarks
  test/performance/env_testserver_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: benchmarks ci
  .github/workflows/benchmark.yml
Due: none

feat: refine migrations system
  internal/storage/bucket/migrations.go
  internal/storage/bucket/migrations/0-init-schema/migration.sql
  internal/storage/bucket/migrations/0-init-schema/notes.yaml
  internal/storage/bucket/migrations/1-fix-trigger/migration.sql
  internal/storage/bucket/migrations/1-fix-trigger/notes.yaml
  internal/storage/bucket/migrations/10-fillfactor-on-moves/migration.sql
  internal/storage/bucket/migrations/10-fillfactor-on-moves/notes.yaml
  internal/storage/bucket/migrations/11-make-stateless/migration.sql
  internal/storage/bucket/migrations/11-make-stateless/notes.yaml
  internal/storage/bucket/migrations/2-fix-volumes-aggregation/migration.sql
  internal/storage/bucket/migrations/2-fix-volumes-aggregation/notes.yaml
  internal/storage/bucket/migrations/3-fix-trigger-inserting-backdated-transactions/migration.sql
  internal/storage/bucket/migrations/3-fix-trigger-inserting-backdated-transactions/notes.yaml
  internal/storage/bucket/migrations/4-add-account-first-usage-column/migration.sql
  internal/storage/bucket/migrations/4-add-account-first-usage-column/notes.yaml
  internal/storage/bucket/migrations/5-add-idempotency-key-index/migration.sql
  internal/storage/bucket/migrations/5-add-idempotency-key-index/notes.yaml
  internal/storage/bucket/migrations/6-add-reference-index/migration.sql
  internal/storage/bucket/migrations/6-add-reference-index/notes.yaml
  internal/storage/bucket/migrations/7-add-ik-unique-index/migration.sql
  internal/storage/bucket/migrations/7-add-ik-unique-index/notes.yaml
  internal/storage/bucket/migrations/8-ik-ledger-unique-index/migration.sql
  internal/storage/bucket/migrations/8-ik-ledger-unique-index/notes.yaml
  internal/storage/bucket/migrations/9-fix-incorrect-volumes-aggregation/migration.sql
  internal/storage/bucket/migrations/9-fix-incorrect-volumes-aggregation/notes.yaml
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: make migrations starting asynchronoulsy at application startup
  internal/storage/bucket/bucket_test.go
  internal/storage/bucket/migrations.go
  internal/storage/driver/migrations.go
  internal/storage/module.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: lock schema under a specific migration number
  internal/storage/bucket/bucket.go
  internal/storage/bucket/migrations/0-init-schema/up_tests_after.sql
  internal/storage/bucket/migrations/12-moves-fill-transaction-id/up_tests_after.sql
  internal/storage/bucket/migrations/12-moves-fill-transaction-id/up_tests_before.sql
  internal/storage/bucket/migrations/13-transactions-fill-inserted-at/up.sql
  internal/storage/bucket/migrations/13-transactions-fill-inserted-at/up_tests_after.sql
  internal/storage/bucket/migrations/13-transactions-fill-inserted-at/up_tests_before.sql
  internal/storage/bucket/migrations/14-transactions-fill-pcv/up_tests_after.sql
  internal/storage/bucket/migrations/14-transactions-fill-pcv/up_tests_before.sql
  internal/storage/bucket/migrations/15-accounts-volumes-fill-history/up_tests_after.sql
  internal/storage/bucket/migrations/15-accounts-volumes-fill-history/up_tests_before.sql
  internal/storage/bucket/migrations/16-transactions-metadata-fill-transaction-id/up_tests_after.sql
  internal/storage/bucket/migrations/16-transactions-metadata-fill-transaction-id/up_tests_before.sql
  internal/storage/bucket/migrations/17-accounts-metadata-fill-address/up_tests_after.sql
  internal/storage/bucket/migrations/17-accounts-metadata-fill-address/up_tests_before.sql
  internal/storage/bucket/migrations/18-logs-fill-memento/up_tests_after.sql
  internal/storage/bucket/migrations/18-logs-fill-memento/up_tests_before.sql
  internal/storage/bucket/migrations_test.go
  internal/storage/driver/driver.go
  pkg/testserver/server.go
  test/e2e/lifecycle_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

wip
  internal/storage/ledger/main_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

local version
  Caddyfile
  docker-compose.yml
  go.mod
Due: none

feat: optimize storage tests
  go.mod
  go.sum
  internal/storage/ledger/main_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: update file name template for benchmarks package in goreleaser config
  .goreleaser.yml
Due: none

feat: remove legacy storage
  internal/storage/bucket/bucket.go
  internal/storage/driver/adapters.go
  internal/storage/ledger/adapters.go
  internal/storage/ledger/legacy/accounts.go
  internal/storage/ledger/legacy/accounts_test.go
  internal/storage/ledger/legacy/adapters.go
  internal/storage/ledger/legacy/balances.go
  internal/storage/ledger/legacy/balances_test.go
  internal/storage/ledger/legacy/debug.go
  internal/storage/ledger/legacy/errors.go
  internal/storage/ledger/legacy/logs.go
  internal/storage/ledger/legacy/logs_test.go
  internal/storage/ledger/legacy/main_test.go
  internal/storage/ledger/legacy/store.go
  internal/storage/ledger/legacy/transactions.go
  internal/storage/ledger/legacy/transactions_test.go
  internal/storage/ledger/legacy/utils.go
  internal/storage/ledger/legacy/volumes.go
  internal/storage/ledger/legacy/volumes_test.go
  test/e2e/api_accounts_list.go
  test/e2e/api_transactions_list.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add missing migrations to clean database
  internal/storage/bucket/migrations/19-clean-database/notes.yaml
  internal/storage/bucket/migrations/19-clean-database/up.sql
  internal/storage/ledger/balances.go
  internal/storage/ledger/transactions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(Earthfile): update core import and fix openapi overlay copy
  Earthfile
Due: none

feat: add global api timeout
  cmd/serve.go
  internal/api/common/middlewares_timeout.go
  internal/api/module.go
  internal/api/router.go
  internal/api/v1/routes.go
  internal/api/v2/routes.go
  openapi/v1.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/gen.yaml
  pkg/client/docs/models/components/errorsenum.md
  pkg/client/docs/models/components/v2errorsenum.md
  pkg/client/formance.go
  pkg/client/models/components/errorsenum.go
  pkg/client/models/components/v2errorsenum.go
  pkg/testserver/server.go
  test/e2e/api_timeout_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: some renaming
  cmd/serve.go
  pkg/testserver/server.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: pre-commit
  docs/api/README.md
  openapi.yaml
Due: gosdk

fix: datarace
  internal/api/common/middlewares_timeout.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add bulk limits
  cmd/serve.go
  docs/api/README.md
  internal/api/module.go
  internal/api/router.go
  internal/api/v2/controllers_bulk.go
  internal/api/v2/errors.go
  internal/api/v2/routes.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/gen.yaml
  pkg/client/docs/models/components/v2errorsenum.md
  pkg/client/formance.go
  pkg/client/models/components/v2errorsenum.go
  pkg/testserver/server.go
  test/e2e/api_bulk.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: do not use same machine in different executions
  internal/controller/ledger/numscript_runtime.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: test timeout
  test/e2e/api_timeout_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: cached parser
  internal/controller/system/controller.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: remove timeout feature (buggy)
  cmd/serve.go
  internal/api/common/middlewares_timeout.go
  internal/api/module.go
  internal/api/router.go
  pkg/testserver/server.go
  test/e2e/api_timeout_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

ADD CUSTOM METADATA ON REVERSE TRANSACTION
  .github/actions/env/action.yml
  .github/dependabot.yml
  .github/workflows/main.yml
  .github/workflows/releases.yml
  internal/api/backend/backend.go
  internal/api/v1/controllers_transactions.go
  internal/api/v2/bulk.go
  internal/api/v2/controllers_transactions.go
  internal/engine/command/commander.go
  internal/engine/ledger.go
  internal/transaction.go
  qodana.yaml
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: optimize e2e tests
  test/e2e/api_accounts_list.go
  test/e2e/api_accounts_metadata.go
  test/e2e/api_balances_aggregated.go
  test/e2e/api_bulk.go
  test/e2e/api_ledgers_create_test.go
  test/e2e/api_ledgers_import_test.go
  test/e2e/api_ledgers_list.go
  test/e2e/api_ledgers_metadata.go
  test/e2e/api_logs_list.go
  test/e2e/api_transactions_create.go
  test/e2e/api_transactions_list.go
  test/e2e/api_transactions_metadata.go
  test/e2e/api_transactions_revert.go
  test/e2e/api_volumes.go
  test/e2e/lifecycle_test.go
  test/e2e/suite_test.go
  test/e2e/v1_api_balances.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: clean code
  internal/api/v2/controllers_ledgers_list_test.go
  internal/controller/ledger/stats_test.go
  internal/ledger.go
  internal/storage/ledger/main_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: filename
  Earthfile
  docs/api/API.md
  docs/api/README.md
Due: none

fix: doc
  CONTRIBUTING.md
Due: none

fix(tests): increate timeout
  test/e2e/lifecycle_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add gomarkdoc
  Earthfile
  README.md
  cmd/README.md
  go.mod
  go.sum
  main.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: simplify some code
  internal/api/v1/controllers_logs_list_test.go
  internal/api/v2/controllers_logs_export_test.go
  internal/api/v2/controllers_logs_import_test.go
  internal/api/v2/controllers_logs_list_test.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/log_process.go
  internal/log.go
  internal/storage/ledger/logs_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: convert post_commit_volumes to jsonb
  internal/ledger.go
  internal/storage/bucket/migrations/11-stateless.sql
  internal/storage/ledger/accounts.go
  internal/storage/ledger/balances.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

ci: add benchmarks (#505)
  .github/workflows/benchmark.yml
Due: none

feat: renamed Machine into NumscriptRuntime
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_default_test.go
  internal/controller/ledger/machine.go
  internal/controller/ledger/machine_factory.go
  internal/controller/ledger/machine_factory_generated_test.go
  internal/controller/ledger/machine_generated_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
