Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

feat: move code
  internal/moves.go
  internal/storage/bucket/migrations/11-stateless.sql
  internal/storage/ledger/moves.go
  internal/storage/ledger/moves_test.go
  internal/storage/ledger/transactions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: lint tools
  Earthfile
Due: none

feat: completely test events COMITTED_TRANSACTIONS
  docs/events/CommittedTransactions.json
  docs/events/RevertedTransaction.json
  go.mod
  go.sum
  internal/api/v1/controllers_accounts_add_metadata.go
  internal/machine/account.go
  internal/machine/asset.go
  internal/posting.go
  pkg/accounts/account_test.go
  pkg/accounts/accounts.go
  pkg/assets/asset.go
  pkg/testserver/matchers.go
  test/e2e/integration_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: refine benchmarks
  .gitignore
  test/performance/README.md
  test/performance/benchmark_test.go
  test/performance/env_remote_stack_test.go
  test/performance/main_test.go
  test/performance/plot/features_comparison_latency.gp
  test/performance/report_test.go
  test/performance/write_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: remove accounts_address_array from moves
  internal/storage/bucket/migrations/11-stateless.sql
  internal/storage/ledger/balances.go
  internal/storage/ledger/migrations/0-add-sequences.sql
  internal/storage/ledger/moves.go
  internal/storage/ledger/moves_test.go
  internal/storage/ledger/transactions.go
  internal/storage/ledger/volumes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add todo
  internal/storage/ledger/accounts.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: simplify locking system
  internal/README.md
  internal/storage/ledger/accounts.go
  internal/storage/ledger/transactions.go
  test/e2e/lifecycle_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: do not use same machine in different executions
  internal/controller/ledger/numscript_runtime.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(Earthfile): update core import and fix openapi overlay copy
  Earthfile
Due: none

test: add some migrations tests
  internal/storage/bucket/bucket.go
  internal/storage/bucket/migrations.go
  internal/storage/bucket/migrations/11-drop-triggers.sql
  internal/storage/bucket/migrations/11-stateless.sql
  internal/storage/bucket/migrations/12-moves-add-transaction-id.sql
  internal/storage/bucket/migrations/13-set-transaction-timestamp-default-utc.sql
  internal/storage/bucket/migrations/14-rename-address-moves-column.sql
  internal/storage/bucket/migrations/15-moves-remove-accounts-seq.sql
  internal/storage/bucket/migrations/16-moves-change-pvc-column-type.sql
  internal/storage/bucket/migrations/17-transactions-fix-reference.sql
  internal/storage/bucket/migrations/18-transactions-add-pvc.sql
  internal/storage/bucket/migrations/19-logs-add-idempotency-hash.sql
  internal/storage/bucket/migrations/20-moves-drop-accounts-address-array.sql
  internal/storage/bucket/migrations/21-add-accounts-volumes-table.sql
  internal/storage/bucket/migrations/22-transactions-metadata-add-transaction-id.sql
  internal/storage/bucket/migrations/23-accounts-metadata-add-address.sql
  internal/storage/bucket/migrations/24-transactions-clean-table.sql
  internal/storage/bucket/migrations/25-accounts-set-array-not-null.sql
  internal/storage/bucket/migrations/26-logs-set-hash-nullable.sql
  internal/storage/bucket/migrations/27-clean-index.sql
  internal/storage/bucket/migrations/28-add-features-functions.sql
  internal/storage/bucket/migrations_test.go
  internal/storage/driver/migrations.go
  internal/storage/ledger/transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: refine metrics and docker-compose
  cmd/serve.go
  deployments/otel-collector-config.yaml
  deployments/prometheus.yaml
  docker-compose.yml
  examples/otlp-exporter/docker-compose.yml
  go.mod
  go.sum
  pkg/testserver/server.go
  test/performance/benchmark_test.go
  test/performance/env_testserver_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: add gitignore
  .gitignore
Due: none

chore: remove todo
  test/e2e/api_balances_aggregated.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: increate golangci-lint timeout
  Earthfile
Due: none

chore: merge some packages
  cmd/serve.go
  internal/controller/ledger/store.go
  internal/ledger.go
  internal/storage/bucket/bucket_test.go
  internal/storage/bucket/main_test.go
  internal/storage/driver/adapters.go
  internal/storage/driver/driver.go
  internal/storage/driver/driver_test.go
  internal/storage/driver/main_test.go
  internal/storage/driver/migrations.go
  internal/storage/driver/migrations_test.go
  internal/storage/ledger/accounts_test.go
  internal/storage/ledger/adapters.go
  internal/storage/ledger/balances_test.go
  internal/storage/ledger/logs_test.go
  internal/storage/ledger/main_test.go
  internal/storage/ledger/moves.go
  internal/storage/ledger/moves_test.go
  internal/storage/ledger/store.go
  internal/storage/ledger/transactions.go
  internal/storage/ledger/transactions_test.go
  internal/storage/ledger/volumes.go
  internal/storage/ledger/volumes_test.go
  internal/storage/module.go
  internal/storage/system/ledgers.go
  internal/storage/system/ledgers_test.go
  internal/storage/system/store.go
  test/performance/env_core_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: move model in core
  internal/account.go
  internal/storage/ledger/balances.go
  internal/storage/ledger/balances_test.go
  internal/storage/ledger/transactions.go
  internal/storage/ledger/volumes.go
  internal/storage/ledger/volumes_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: clean todo
  internal/api/v1/controllers_transactions_create.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/errors.go
  internal/ledger.go
  internal/storage/ledger/transactions.go
  internal/storage/system/migrations_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add tachnymeter
  go.mod
  go.sum
  test/performance/README.md
  test/performance/benchmark_test.go
  test/performance/plot/features_comparison_tps.gp
  test/performance/report_test.go
  test/performance/write_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: simplify migration by removing templating
  internal/storage/bucket/migrations.go
  internal/storage/bucket/migrations/0-init-schema.sql
  internal/storage/bucket/migrations/1-fix-trigger.sql
  internal/storage/bucket/migrations/10-fillfactor-on-moves.sql
  internal/storage/bucket/migrations/11-drop-triggers.sql
  internal/storage/bucket/migrations/12-moves-add-transaction-id.sql
  internal/storage/bucket/migrations/13-set-transaction-timestamp-default-utc.sql
  internal/storage/bucket/migrations/14-rename-address-moves-column.sql
  internal/storage/bucket/migrations/15-moves-remove-accounts-seq.sql
  internal/storage/bucket/migrations/16-moves-change-pvc-column-type.sql
  internal/storage/bucket/migrations/17-transactions-fix-reference.sql
  internal/storage/bucket/migrations/18-transactions-add-pvc.sql
  internal/storage/bucket/migrations/19-logs-add-idempotency-hash.sql
  internal/storage/bucket/migrations/2-fix-volumes-aggregation.sql
  internal/storage/bucket/migrations/20-moves-drop-accounts-address-array.sql
  internal/storage/bucket/migrations/21-add-accounts-volumes-table.sql
  internal/storage/bucket/migrations/22-transactions-metadata-add-transaction-id.sql
  internal/storage/bucket/migrations/23-accounts-metadata-add-address.sql
  internal/storage/bucket/migrations/24-transactions-clean-table.sql
  internal/storage/bucket/migrations/25-accounts-set-array-not-null.sql
  internal/storage/bucket/migrations/26-logs-set-hash-nullable.sql
  internal/storage/bucket/migrations/27-clean-index.sql
  internal/storage/bucket/migrations/28-add-features-functions.sql
  internal/storage/bucket/migrations/29-logs-add-memento.sql
  internal/storage/bucket/migrations/3-fix-trigger-inserting-backdated-transactions.sql
  internal/storage/bucket/migrations/30-logs-hash-in-database.sql
  internal/storage/bucket/migrations/31-logs-assign-date.sql
  internal/storage/bucket/migrations/32-accounts-assign-date.sql
  internal/storage/bucket/migrations/33-moves-assign-date.sql
  internal/storage/bucket/migrations/34-set-ledger-specifics.sql
  internal/storage/bucket/migrations/4-add-account-first-usage-column.sql
  internal/storage/bucket/migrations/5-add-idempotency-key-index.sql
  internal/storage/bucket/migrations/6-add-reference-index.sql
  internal/storage/bucket/migrations/7-add-ik-unique-index.sql
  internal/storage/bucket/migrations/8-ik-ledger-unique-index.sql
  internal/storage/bucket/migrations/9-fix-incorrect-volumes-aggregation.sql
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add database connections graph
  test/performance/charts/index.ts
  test/performance/charts/package-lock.json
  test/performance/charts/package.json
  test/performance/charts/src/graphs.ts
  test/performance/charts/src/report.ts
Due: none

feat: homogeneize volumes names
  internal/storage/bucket/migrations/11-stateless.sql
  internal/storage/ledger/accounts.go
  internal/storage/ledger/balances.go
  internal/storage/ledger/balances_test.go
  internal/storage/ledger/moves.go
  internal/storage/ledger/moves_test.go
  internal/storage/ledger/transactions.go
  internal/storage/ledger/transactions_test.go
  internal/storage/ledger/volumes.go
  internal/volumes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: some comments
  internal/controller/ledger/controller.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/store.go
  internal/log.go
  internal/moves.go
  internal/storage/ledger/accounts.go
  internal/storage/ledger/accounts_test.go
  internal/storage/ledger/balances.go
  internal/storage/ledger/balances_test.go
  internal/storage/ledger/debug.go
  internal/storage/ledger/logs.go
  internal/storage/ledger/logs_test.go
  internal/storage/ledger/moves_test.go
  internal/storage/ledger/store.go
  internal/storage/ledger/transactions.go
  internal/storage/ledger/transactions_test.go
  internal/storage/ledger/volumes.go
  internal/storage/ledger/volumes_test.go
  internal/storage/system/configuration.go
  internal/storage/system/ledgers.go
  test/e2e/stress_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: pre commit
  docs/events/CommittedTransactions.json
  docs/events/RevertedTransaction.json
  go.sum
  internal/ledger.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: handle a todo and add some test
  internal/storage/ledger/volumes.go
  internal/storage/ledger/volumes_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add doc and fix test
  CONTRIBUTING.md
  internal/transaction.go
  internal/transaction_test.go
  test/e2e/api_ledgers_import_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: simplify code
  internal/storage/ledger/moves.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: pre-commit
  docs/database/_default/columns.html
  docs/database/_default/index.html
  docs/database/_default/info-html.txt
  docs/database/_system/columns.html
  docs/database/_system/index.html
  docs/database/_system/info-html.txt
  docs/database/index.html
Due: none

ci: add codecov report upload (#509)
  .github/workflows/main.yml
  Earthfile
Due: none

chore: update libs
  go.mod
  go.sum
  internal/storage/bucket/migrations.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: rename MachineFactory struct into NumscriptParser
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_default_test.go
  internal/controller/ledger/machine_factory.go
  internal/controller/ledger/machine_factory_generated_test.go
  internal/controller/ledger/stats_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: modify stress test parameters
  test/e2e/stress_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: define insertion date at store level
  internal/storage/ledger/transactions.go
  internal/transaction.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(Earthfile): reuse sources stage and optimize build process (#498)
  Earthfile
Due: none

feat: move logs model
  internal/log.go
  internal/storage/ledger/logs.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: add comment
  internal/controller/ledger/log_process.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: git diff
  .github/workflows/main.yml
Due: none

fix: make 'expand' query param more smart by splitting ','
  internal/api/v2/common.go
  internal/api/v2/controllers_accounts_read.go
  internal/api/v2/controllers_transactions_read.go
  openapi.yaml
  test/e2e/integration_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests
