Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

Add missing `isgomock` struct to mock test files
  internal/api/bulking/mocks_ledger_controller_test.go
  internal/api/common/mocks_ledger_controller_test.go
  internal/api/common/mocks_system_controller_test.go
  internal/api/v1/mocks_ledger_controller_test.go
  internal/api/v1/mocks_system_controller_test.go
  internal/api/v2/mocks_ledger_controller_test.go
  internal/api/v2/mocks_system_controller_test.go
  internal/controller/ledger/controller_generated_test.go
  internal/controller/ledger/controller_with_too_many_client_handling_generated_test.go
  internal/controller/ledger/listener_generated_test.go
  internal/controller/ledger/numscript_parser_generated_test.go
  internal/controller/ledger/numscript_runtime_generated_test.go
  internal/controller/ledger/store_generated_test.go
  internal/storage/driver/buckets_generated_test.go
  internal/storage/driver/ledger_generated_test.go
  internal/storage/driver/system_generated_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add aliases
  internal/storage/ledger/resource.go
  internal/storage/ledger/resource_volumes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: performances
  internal/storage/ledger/resource_aggregated_balances.go
  internal/storage/ledger/resource_volumes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: migrate from Earthly to Just for build and workflow automation
  .github/workflows/main.yml
  Earthfile
  Justfile
  deployments/pulumi/Earthfile
  flake.nix
  tools/generator/Earthfile
Due: none

build(workflow): update CI to simplify release commands
  .github/workflows/main.yml
  Earthfile
  Justfile
Due: none

fix: too many loops while running migrations (#618)
  internal/storage/bucket/migrations/18-transactions-fill-inserted-at/up.sql
  internal/storage/bucket/migrations/19-transactions-fill-pcv/up.sql
  internal/storage/bucket/migrations/20-accounts-volumes-fill-history/up.sql
Due: none

refactor: simplify and streamline build and lint processes
  Justfile
  tools/generator/Earthfile
Due: none

fix(justfile): reorder pre-commit tasks for consistent execution flow
  Justfile
Due: none

chore(ci): update release workflow to use nix and just for releases
  .github/workflows/releases.yml
Due: none

fix: too many indexes and missing indexes
  docker-compose.yml
  internal/storage/bucket/default_bucket.go
  internal/storage/bucket/migrations/24-accounts-metadata-index/notes.yaml
  internal/storage/bucket/migrations/24-accounts-metadata-index/up.sql
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: too many indexes and missing indexes (#621)
  docker-compose.yml
  internal/storage/bucket/default_bucket.go
  internal/storage/bucket/migrations/24-accounts-metadata-index/notes.yaml
  internal/storage/bucket/migrations/24-accounts-metadata-index/up.sql
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: simplify interface
  internal/storage/ledger/accounts.go
  internal/storage/ledger/balances.go
  internal/storage/ledger/debug.go
  internal/storage/ledger/logs.go
  internal/storage/ledger/moves.go
  internal/storage/ledger/resource.go
  internal/storage/ledger/resource_accounts.go
  internal/storage/ledger/resource_aggregated_balances.go
  internal/storage/ledger/resource_logs.go
  internal/storage/ledger/resource_transactions.go
  internal/storage/ledger/resource_volumes.go
  internal/storage/ledger/store.go
  internal/storage/ledger/transactions.go
  internal/storage/ledger/volumes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: Update internal/api/v2/controllers_volumes.go
  internal/api/v2/controllers_volumes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Revert "chore: Update internal/api/v2/controllers_volumes.go"
  internal/api/v2/controllers_volumes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: Update internal/storage/ledger/paginator_offset.go
  internal/storage/ledger/paginator_offset.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Revert "chore: Update internal/storage/ledger/paginator_offset.go"
  internal/storage/ledger/paginator_offset.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: useless index
  internal/storage/bucket/default_bucket.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Revert "fix: useless index"
  internal/storage/bucket/default_bucket.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: performances
  internal/storage/ledger/resource.go
  internal/storage/ledger/resource_accounts.go
  internal/storage/ledger/resource_logs.go
  internal/storage/ledger/resource_transactions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: performances
  internal/storage/ledger/resource_accounts.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: incorrect joins
  internal/controller/ledger/store.go
  internal/storage/ledger/resource.go
  internal/storage/ledger/resource_accounts.go
  internal/storage/ledger/resource_aggregated_balances.go
  internal/storage/ledger/resource_logs.go
  internal/storage/ledger/resource_transactions.go
  internal/storage/ledger/resource_volumes.go
  internal/storage/ledger/utils.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: performances
  internal/storage/ledger/resource.go
  internal/storage/ledger/resource_accounts.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: ordering
  internal/controller/ledger/controller_default_test.go
  internal/controller/ledger/store.go
  internal/storage/ledger/accounts_test.go
  internal/storage/ledger/moves_test.go
  internal/storage/ledger/paginator_column.go
  internal/storage/ledger/paginator_offset.go
  internal/storage/ledger/resource.go
  internal/storage/ledger/resource_accounts.go
  internal/storage/ledger/resource_aggregated_balances.go
  internal/storage/ledger/resource_logs.go
  internal/storage/ledger/resource_transactions.go
  internal/storage/ledger/resource_volumes.go
  internal/storage/ledger/store.go
  internal/storage/ledger/volumes_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: invalid benchmark scripts
  test/performance/scripts/any_bounded_to_any.js
  test/performance/scripts/any_unbounded_to_any.js
  test/performance/scripts/world_to_any.js
  test/performance/scripts/world_to_bank.js
Due: none

fix: invalid benchmark scripts (#622)
  test/performance/scripts/any_bounded_to_any.js
  test/performance/scripts/any_unbounded_to_any.js
  test/performance/scripts/world_to_any.js
  test/performance/scripts/world_to_bank.js
Due: none

feat: improve volumes computation
  internal/storage/bucket/migrations/25-accounts-volumes-index/notes.yaml
  internal/storage/bucket/migrations/25-accounts-volumes-index/up.sql
  pkg/generate/generator.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: improve volumes computation (#623)
  internal/storage/bucket/migrations/25-accounts-volumes-index/notes.yaml
  internal/storage/bucket/migrations/25-accounts-volumes-index/up.sql
  pkg/generate/generator.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: post commit effective volumes rendering
  internal/storage/ledger/resource.go
  internal/storage/ledger/resource_transactions.go
  internal/storage/ledger/transactions.go
  internal/storage/ledger/transactions_test.go
  test/e2e/api_transactions_list_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: from review
  internal/storage/ledger/paginator.go
  internal/storage/ledger/paginator_column.go
  internal/storage/ledger/paginator_offset.go
  internal/storage/ledger/resource.go
  internal/storage/ledger/resource_accounts.go
  internal/storage/ledger/resource_transactions.go
  internal/storage/ledger/resource_volumes.go
  internal/storage/ledger/utils.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(openapi): pre-commit + generate-client
  docs/api/README.md
  pkg/client/.speakeasy/gen.lock
  pkg/client/docs/models/components/v2errorsenum.md
  pkg/client/docs/models/components/v2transaction.md
  pkg/client/models/components/v2errorsenum.go
  pkg/client/models/components/v2transaction.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(openapi): insertedAt optional
  openapi.yaml
  openapi/v2.yaml
Due: gosdk

fix: fix tests and upgrade depdendencies
  go.mod
  go.sum
  pkg/testserver/helpers.go
  test/e2e/api_balances_aggregated_test.go
  tools/generator/go.mod
  tools/generator/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(open-api): make insertedAt optional (#616)
  docs/api/README.md
  go.mod
  go.sum
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/docs/models/components/v2errorsenum.md
  pkg/client/docs/models/components/v2transaction.md
  pkg/client/models/components/v2errorsenum.go
  pkg/client/models/components/v2transaction.go
  pkg/testserver/helpers.go
  test/e2e/api_balances_aggregated_test.go
  tools/generator/go.mod
  tools/generator/go.sum
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: refactor read store (#615)
  .direnv/flake-profile
  .direnv/flake-profile-1-link
Due: none

feat: remove openapi spec generation from earthfile
  .direnv/flake-profile
  .direnv/flake-profile-1-link
  .gitignore
  Earthfile
  Justfile
  flake.nix
  internal/controller/ledger/store_generated_test.go
  openapi.yaml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests
