Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

feat(ledgerctl): shell completion for the --ledger flag (#466)
  cmd/ledgerctl/cmdutil/ledger.go
  cmd/ledgerctl/main.go
  cmd/ledgerctl/main_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(http): migrate create-transaction tests to the generated Backend mock (#472)
  internal/adapter/http/handlers_create_transaction_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(metadata): treat an in-bulk deleted key as absent in the write-set (#468)
  internal/domain/processing/processor_metadata_test.go
  internal/infra/attributes/key_store.go
  internal/infra/attributes/key_store_test.go
  internal/infra/state/write_set_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(audit): bump go-libs to v5.4.0 to cap audit body capture
  go.mod
  go.sum
Due: none

fix(http): route PreparedQuery JSON through protojson (oneof + enum) (#479)
  internal/adapter/http/handlers_list_prepared_queries_test.go
  internal/proto/commonpb/common.pb.json.go
  internal/proto/commonpb/prepared_query_json_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(http): emit createdAt (camelCase) on numscript GET/PUT/LIST responses (#473)
  internal/proto/commonpb/common.pb.json.go
  internal/proto/commonpb/numscript_json_test.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1252): reject non-positive cluster watch --interval (#484)
  cmd/ledgerctl/cluster/watch.go
  cmd/ledgerctl/cluster/watch_test.go
  docs/ops/cli.md
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1254): guard against empty logs in promote-ledger handler (#488)
  internal/adapter/http/handlers_create_ledger.go
  internal/adapter/http/handlers_create_ledger_test.go
  internal/adapter/http/handlers_create_transaction.go
  internal/adapter/http/handlers_create_transaction_test.go
  internal/adapter/http/handlers_promote_ledger.go
  internal/adapter/http/handlers_promote_ledger_test.go
  internal/adapter/http/handlers_revert_transaction.go
  internal/adapter/http/handlers_revert_transaction_test.go
  internal/adapter/http/handlers_save_numscript.go
  internal/adapter/http/handlers_save_numscript_test.go
  internal/adapter/http/unreachable.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1253): map gRPC bucket validation errors to InvalidArgument (#486)
  internal/adapter/grpc/errors.go
  internal/adapter/grpc/errors_test.go
  internal/adapter/grpc/server_bucket.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: serve fails on startup with --auth-enabled and --publisher-http-enabled
  go.mod
  go.sum
  test/e2e/app_publisher_http_auth_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: serve crash with --publisher-http-enabled (TS-456)
  go.mod
  go.sum
  test/e2e/app_publisher_http_jwt_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: bump go-libs to v5.5.0 (replaces TS-456 replace directive)
  go.mod
  go.sum
Due: none

chore(deps): update actions/checkout action to v7
  .github/workflows/benchmark-comparison.yml
  .github/workflows/benchmark.yml
  .github/workflows/main.yml
Due: none

fix(storage): handle PIT + metadata filter on aggregated balances when ACCOUNT_METADATA_HISTORY is disabled
  internal/storage/ledger/balances_test.go
  internal/storage/ledger/resource_aggregated_balances.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(storage): alias metadata fallback lateral as accounts_metadata
  internal/storage/ledger/balances_test.go
  internal/storage/ledger/resource_aggregated_balances.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(processing): homogenize Reader pattern across InMemoryStore (#496)
  internal/application/check/checker_test.go
  internal/domain/processing/processor_account_type.go
  internal/domain/processing/processor_apply.go
  internal/domain/processing/processor_events_sink_test.go
  internal/domain/processing/processor_index.go
  internal/domain/processing/processor_ledger.go
  internal/domain/processing/processor_ledger_metadata.go
  internal/domain/processing/processor_ledger_test.go
  internal/domain/processing/processor_metadata.go
  internal/domain/processing/processor_metadata_additional_test.go
  internal/domain/processing/processor_metadata_schema.go
  internal/domain/processing/processor_metadata_schema_test.go
  internal/domain/processing/processor_metadata_test.go
  internal/domain/processing/processor_mirror.go
  internal/domain/processing/processor_mirror_test.go
  internal/domain/processing/processor_prepared_query.go
  internal/domain/processing/processor_revert_transaction.go
  internal/domain/processing/processor_revert_transaction_test.go
  internal/domain/processing/processor_test.go
  internal/domain/processing/processor_transaction.go
  internal/domain/processing/processor_transaction_numscript.go
  internal/domain/processing/processor_transaction_test.go
  internal/domain/processing/store.go
  internal/domain/processing/store_generated_test.go
  internal/infra/state/machine_cache_divergence_test.go
  internal/infra/state/write_set.go
  internal/infra/state/write_set_ephemeral_purge.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: bump go-libs to v3.6.3 (replaces TS-456 replace directive)
  go.mod
  go.sum
Due: none

chore(deps): update actions/checkout action to v7 (#1420)
  .github/workflows/benchmark-comparison.yml
  .github/workflows/benchmark.yml
  .github/workflows/main.yml
Due: none

chore: bump go-libs in tools/ submodules to v3.6.3
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: none

chore: bump go-libs in tools/ submodules to v5.5.0
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: none

fix(storage): adapt regression test to v2.3 API
  internal/storage/ledger/balances_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(storage): handle PIT + metadata filter on aggregated balances when ACCOUNT_METADATA_HISTORY is disabled (#1421)
  internal/storage/ledger/balances_test.go
  internal/storage/ledger/resource_aggregated_balances.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(storage): handle PIT + metadata filter on aggregated balances when ACCOUNT_METADATA_HISTORY is disabled (v2.4) (#1422)
  internal/storage/ledger/balances_test.go
  internal/storage/ledger/resource_aggregated_balances.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(storage): handle PIT + metadata filter on aggregated balances when ACCOUNT_METADATA_HISTORY is disabled (v2.3) (#1423)
  internal/storage/ledger/balances_test.go
  internal/storage/ledger/resource_aggregated_balances.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

style: reorder imports in e2e test to satisfy Dirty check
  test/e2e/app_publisher_http_jwt_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: serve crash with --auth-enabled and --publisher-http-enabled (TS-456) (#1417)
  go.mod
  go.sum
  test/e2e/app_publisher_http_auth_test.go
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: serve crash with --publisher-http-enabled (TS-456) (#1418)
  go.mod
  go.sum
  test/e2e/app_publisher_http_jwt_test.go
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: serve crash with --publisher-http-enabled (TS-456) (#1419)
  go.mod
  go.sum
  test/e2e/app_publisher_http_jwt_test.go
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: reject metadata schema changes while a field is converting (#481)
  docs/ops/cli.md
  docs/technical/contributing/api-comparison.md
  internal/application/indexbuilder/backfill_test.go
  internal/application/indexbuilder/process_logs.go
  internal/application/indexbuilder/process_logs_test.go
  internal/domain/errors.go
  internal/domain/errors_test.go
  internal/domain/processing/processor_apply.go
  internal/domain/processing/processor_helpers_test.go
  internal/domain/processing/processor_ledger_metadata.go
  internal/domain/processing/processor_metadata.go
  internal/domain/processing/processor_metadata_schema.go
  internal/domain/processing/processor_metadata_schema_test.go
  internal/domain/processing/processor_metadata_test.go
  internal/domain/processing/processor_mirror.go
  internal/domain/processing/processor_transaction.go
  internal/domain/processing/processor_transaction_test.go
  internal/storage/readstore/write_batch.go
  tests/e2e/business/metadata_index_conversion_desync_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: transaction DeleteMetadata rejects a missing key with METADATA_NOT_FOUND (#492)
  internal/domain/processing/processor_metadata.go
  internal/domain/processing/processor_metadata_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests
