Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

fix: correct trailing ':' / '...' account-address matching semantics (#1629)
  internal/storage/ledger/accounts_test.go
  internal/storage/ledger/balances_test.go
  internal/storage/ledger/utils.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: correct trailing ':' / '...' account-address matching semantics (#1628)
  internal/storage/ledger/accounts_test.go
  internal/storage/ledger/balances_test.go
  internal/storage/ledger/utils.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1522): gate DeleteLedger cascade and fail loudly on post-handler inconsistencies
  internal/application/admission/admission.go
  internal/domain/processing/processor_helpers_test.go
  internal/domain/processing/processor_index_test.go
  internal/domain/processing/processor_ledger.go
  internal/domain/processing/processor_ledger_key_identity_test.go
  internal/domain/processing/processor_ledger_metadata.go
  internal/domain/processing/processor_ledger_test.go
  internal/infra/state/en1522_test.go
  internal/infra/state/machine_technical_updates.go
  internal/infra/state/write_set.go
  internal/infra/state/write_set_absorb_test.go
  internal/infra/state/write_set_ephemeral_purge.go
  internal/infra/state/write_set_ephemeral_purge_test.go
  internal/infra/state/write_set_error_classification_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(EN-1543): document the canonical v3.0 HTTP QueryFilter surface (#1621)
  docs/README.md
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/architecture/subsystems/read-path/README.md
  docs/technical/architecture/subsystems/read-path/prepared-queries.md
  docs/technical/architecture/subsystems/read-path/query-filter.md
  docs/technical/architecture/subsystems/read-path/query-pipeline.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/http/handlers_list_transactions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(query): read archived transactions from cold storage in GetTransaction (#1623)
  internal/adapter/grpc/server_bucket.go
  internal/application/ctrl/controller_default.go
  internal/infra/state/batch_extended_test.go
  internal/query/transaction.go
  tests/e2e/business/get_transaction_cold_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(http): enforce exact-one typed log response in unitary handlers (EN-1537)
  internal/adapter/http/handlers_create_ledger.go
  internal/adapter/http/handlers_create_ledger_test.go
  internal/adapter/http/handlers_create_transaction.go
  internal/adapter/http/handlers_create_transaction_test.go
  internal/adapter/http/handlers_promote_ledger.go
  internal/adapter/http/handlers_promote_ledger_test.go
  internal/adapter/http/handlers_revert_transaction.go
  internal/adapter/http/handlers_revert_transaction_test.go
  internal/adapter/http/middleware_recoverer_test.go
  internal/adapter/http/test_helpers_test.go
  internal/adapter/http/unitary_log.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1564): avoid backfill for indexes declared on an empty ledger (#1609)
  docs/technical/architecture/subsystems/indexer/indexes.md
  internal/application/indexbuilder/index_config.go
  internal/application/indexbuilder/index_config_test.go
  internal/application/indexbuilder/process_logs.go
  internal/domain/processing/processor.go
  internal/domain/processing/processor_born_empty_test.go
  internal/domain/processing/processor_index.go
  internal/domain/processing/processor_index_test.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_reader.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  misc/proto/common.proto
  tests/e2e/business/indexes_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(query,admission): read archived logs from cold storage across replay / ListLogs / prepared-query paths (#1633)
  internal/application/admission/admission.go
  internal/application/ctrl/controller_default.go
  internal/bootstrap/module.go
  internal/query/executor.go
  internal/query/executor_ledger_not_found_test.go
  internal/query/log.go
  internal/query/log_inconsistency_test.go
  tests/e2e/business/idempotency_replay_cold_test.go
  tests/e2e/business/listlogs_cold_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(check): reset the tx merge accumulator on create (reused txID after delete)
  internal/application/check/checker_archived_tx_test.go
  internal/application/check/replay_store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: update CODEOWNERS team
  CODEOWNERS
Due: none

fix: update CODEOWNERS team (#1640)
  CODEOWNERS
Due: none

fix(EN-1536): enforce typed audit failures and fatal post-Preload scope invariant (#1637)
  internal/infra/state/audit.go
  internal/infra/state/audit_test.go
  internal/infra/state/machine.go
  internal/infra/state/scope_unit_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(EN-1557): apply golangci-lint --fix whitespace
  internal/domain/processing/numscript/discover_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1557): don't mark forced balance reads as mutable-read provenance
  docs/technical/architecture/subsystems/admission/idempotency.md
  internal/domain/processing/numscript/discover.go
  internal/domain/processing/numscript/store.go
  internal/domain/processing/numscript/store_test.go
  internal/domain/processing/processor_transaction_numscript.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1557): don't let the freezable branch rob latest refs of replay
  internal/application/admission/admission.go
  internal/application/admission/numscript_failure_provenance_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(EN-1557): reflect latest-ref freezable replay carve-out in flow
  docs/technical/architecture/subsystems/admission/idempotency.md
Due: none

fix(check): make the tx replay merger associative under partial compaction
  internal/application/check/replay_store.go
  internal/application/check/replay_store_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1557): classify numscript admission failures by state provenance (#1622)
  docs/technical/architecture/subsystems/admission/idempotency.md
  docs/technical/architecture/subsystems/scripting/numscript-library.md
  internal/application/admission/admission.go
  internal/application/admission/admission_test.go
  internal/application/admission/numscript_failure_provenance_test.go
  internal/domain/errors.go
  internal/domain/processing/numscript/discover.go
  internal/domain/processing/numscript/discover_test.go
  internal/domain/processing/numscript/errors.go
  internal/domain/processing/numscript/errors_test.go
  internal/domain/processing/numscript/resolution_error.go
  internal/domain/processing/numscript/resolution_error_test.go
  internal/domain/processing/numscript/store.go
  internal/domain/processing/numscript/store_test.go
  internal/domain/processing/processor_transaction_numscript.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(check): reset the tx merge accumulator on a finalized operand
  internal/application/check/checker_archived_tx_test.go
  internal/application/check/replay_store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(check): seed baseline transactions into the replay lazily on first touch
  internal/application/check/checker.go
  internal/application/check/checker_archived_tx_test.go
  internal/application/check/lazy_seed_writer.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(check): document baseline-seeded compareTransactions and the txOpBatch deferral
  AGENTS.md
  docs/technical/architecture/subsystems/checker/checker.md
Due: none

test(check): cover archived metadata delete and revert through compareTransactions
  internal/application/check/checker_archived_tx_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(check): skip sub-boundary logs in the archived replay pass
  internal/application/check/checker.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(release): build ledgerctl for Windows
  .goreleaser.yml
Due: none

fix(cli): support Windows self-upgrades
  cmd/ledgerctl/upgrade/download.go
  cmd/ledgerctl/upgrade/download_test.go
  cmd/ledgerctl/upgrade/github.go
  cmd/ledgerctl/upgrade/github_test.go
  docs/ops/cli.md
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(cli): replace Windows executable safely
  .goreleaser.yml
  cmd/ledgerctl/upgrade/replace.go
  cmd/ledgerctl/upgrade/replace_test.go
  docs/ops/cli.md
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(cli): skip Unix replacement case on Windows
  cmd/ledgerctl/upgrade/replace_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(cli): isolate Unix replacement coverage
  cmd/ledgerctl/upgrade/replace_test.go
  cmd/ledgerctl/upgrade/replace_unix_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(release): align artifact names with main
  .goreleaser.yml
  cmd/ledgerctl/upgrade/download_test.go
  cmd/ledgerctl/upgrade/github.go
  cmd/ledgerctl/upgrade/github_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(cli): address Windows release review
  .github/workflows/main.yml
  .goreleaser.yml
  cmd/ledgerctl/upgrade/github.go
  cmd/ledgerctl/upgrade/github_test.go
  cmd/ledgerctl/upgrade/replace.go
  cmd/ledgerctl/upgrade/replace_test.go
  cmd/ledgerctl/upgrade/replace_unix_test.go
  docs/ops/cli.md
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(http): address review — migrate save-numscript, harden invariant helpers (EN-1537)
  internal/adapter/http/handlers_create_ledger.go
  internal/adapter/http/handlers_create_ledger_test.go
  internal/adapter/http/handlers_create_transaction.go
  internal/adapter/http/handlers_create_transaction_test.go
  internal/adapter/http/handlers_promote_ledger.go
  internal/adapter/http/handlers_promote_ledger_test.go
  internal/adapter/http/handlers_revert_transaction.go
  internal/adapter/http/handlers_revert_transaction_test.go
  internal/adapter/http/handlers_save_numscript.go
  internal/adapter/http/handlers_save_numscript_test.go
  internal/adapter/http/test_helpers_test.go
  internal/adapter/http/unitary_log.go
  internal/adapter/http/unitary_log_test.go
  internal/adapter/http/unreachable.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(state): purge stranded pre-transient volume rows at zero balance
  docs/technical/architecture/subsystems/usage/counters.md
  internal/infra/state/write_set_ephemeral_purge.go
  internal/infra/state/write_set_ephemeral_purge_test.go
  tests/e2e/business/transient_accounts_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(check): refuse tombstones on the replay transaction prefix
  internal/application/check/replay_store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(check): reject malformed txOpBatch frames instead of dropping ops
  internal/application/check/checker.go
  internal/application/check/replay_store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(EN-1565): rewrite preload.md around plan.Coverage
  docs/technical/architecture/subsystems/fsm/preload.md
Due: none

docs(EN-1565): update invariants #6 and #9 for plan.Coverage
  AGENTS.md
Due: none

docs(EN-1565): replace remaining preload.Needs references
  .claude/skills/root-cause/SKILL.md
  docs/technical/architecture/audit-vs-technical-state.md
  docs/technical/architecture/subsystems/admission/pipeline.md
  docs/technical/architecture/subsystems/consensus/removed-member-registry.md
  docs/technical/architecture/subsystems/fsm/README.md
Due: none

docs(EN-1565): point idempotency preload at Builder.Build
  docs/technical/architecture/subsystems/admission/idempotency.md
Due: none

docs(EN-1565): retire BuildPreloads from architecture diagrams
  docs/technical/architecture-overview.md
  docs/technical/architecture/subsystems/attributes/attributes.md
Due: none
