Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

feat: simplify some code
  internal/api/v1/controllers_logs_list_test.go
  internal/api/v2/controllers_logs_export_test.go
  internal/api/v2/controllers_logs_import_test.go
  internal/api/v2/controllers_logs_list_test.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_default_test.go
  internal/controller/ledger/log_process.go
  internal/log.go
  internal/storage/ledger/logs.go
  internal/storage/ledger/logs_test.go
  internal/storage/ledger/volumes_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add doc and fix test
  CONTRIBUTING.md
  internal/transaction.go
  internal/transaction_test.go
  test/e2e/api_ledgers_import_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: compute hash at core level
  internal/log.go
  internal/storage/bucket/migrations/11-stateless.sql
  internal/storage/driver/migrations.go
  internal/storage/ledger/logs.go
  internal/storage/ledger/logs_test.go
  internal/storage/ledger/migrations/0-add-sequences.sql
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: extract traces from default controller
  internal/bus/listener.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_default_test.go
  internal/controller/ledger/controller_with_traces.go
  internal/controller/ledger/listener.go
  internal/controller/ledger/listener_generated.go
  internal/controller/system/controller.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: extract helper in go libs
  go.mod
  go.sum
  internal/storage/bucket/bucket_test.go
  internal/storage/bucket/main_test.go
  internal/storage/bucket/migrations_test.go
  internal/storage/driver/migrations_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: testing helper
  internal/storage/bucket/migrations/11-stateless.sql
  internal/storage/driver/migrations_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: increase golangci-lint timeout
  Earthfile
Due: none

chore: pre-commit
  internal/controller/ledger/controller_default.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: remove useless code
  internal/api/v1/controllers_transactions_create_test.go
  internal/api/v1/controllers_transactions_revert.go
  internal/api/v1/controllers_transactions_revert_test.go
  internal/api/v2/controllers_bulk.go
  internal/api/v2/controllers_bulk_test.go
  internal/api/v2/controllers_transactions_create_test.go
  internal/api/v2/controllers_transactions_revert.go
  internal/api/v2/controllers_transactions_revert_test.go
  internal/controller/ledger/controller.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_generated.go
  internal/controller/ledger/controller_with_events.go
  internal/controller/ledger/controller_with_traces.go
  internal/log.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: remove gomarkdoc usage for now
  Earthfile
  README.md
  internal/README.md
  internal/controller/ledger/doc.go
  internal/controller/system/README.md
  internal/controller/system/doc.go
  internal/doc.go
  main.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: use _test.go suffix on generate mock files to avoid their documentation be parsed by gomarkdoc
  README.md
  internal/api/common/middleware_resolver_test.go
  internal/api/common/mocks.go
  internal/api/common/mocks_ledger_controller_test.go
  internal/api/common/mocks_system_controller_test.go
  internal/api/v1/api_utils_test.go
  internal/api/v1/mocks.go
  internal/api/v1/mocks_ledger_controller_test.go
  internal/api/v1/mocks_system_controller_test.go
  internal/api/v2/api_utils_test.go
  internal/api/v2/controllers_bulk_test.go
  internal/api/v2/mocks.go
  internal/api/v2/mocks_ledger_controller_test.go
  internal/api/v2/mocks_system_controller_test.go
  internal/controller/ledger/README.md
  internal/controller/ledger/compiler.go
  internal/controller/ledger/compiler_generated_test.go
  internal/controller/ledger/controller.go
  internal/controller/ledger/controller_generated_test.go
  internal/controller/ledger/doc.go
  internal/controller/ledger/listener.go
  internal/controller/ledger/listener_generated_test.go
  internal/controller/ledger/machine.go
  internal/controller/ledger/machine_factory.go
  internal/controller/ledger/machine_factory_generated_test.go
  internal/controller/ledger/machine_generated_test.go
  internal/controller/ledger/store.go
  internal/controller/ledger/store_generated_test.go
  internal/controller/system/controller.go
  internal/controller/system/controller_generated.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add some doc
  CONTRIBUTING.md
Due: none

feat: separate doc
  CONTRIBUTING.md
  README.md
Due: none

feat: let database generate creation date of ledgers
  internal/ledger.go
  internal/storage/driver/driver.go
  internal/storage/driver/driver_test.go
  internal/storage/driver/migrations.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: externalize pprof module
  cmd/serve.go
  go.mod
  go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: let database generate defaults dates for accounts
  internal/account.go
  internal/controller/ledger/controller_default.go
  internal/storage/bucket/migrations/32-accounts-assign-date.sql
  internal/storage/ledger/accounts.go
  internal/storage/ledger/accounts_test.go
  internal/storage/ledger/transactions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add goreleaser for benchmarks
  .gitignore
  .goreleaser.yml
  test/performance/.gitignore
Due: none

feat: add logs memento
  internal/log.go
  internal/storage/bucket/migrations/29-logs-add-memento.sql
  internal/storage/ledger/logs.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: add some hash test and fix inconsistencies with v2
  internal/log.go
  internal/storage/ledger/logs_test.go
  internal/transaction_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: remove todo
  internal/storage/ledger/accounts.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: clean todo
  internal/storage/ledger/balances.go
  internal/storage/ledger/balances_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: handle migration
  internal/storage/bucket/migrations/29-logs-add-memento.sql
  internal/storage/ledger/accounts.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: hanging test
  internal/storage/ledger/transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: refine widdershins parameter
  Earthfile
  docs/api/README.md
  openapi.yaml
  openapi/v1.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/gen.yaml
  pkg/client/formance.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: remove todo
  test/e2e/api_balances_aggregated.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: let database generate dates when updating transactions metadata
  internal/storage/bucket/migrations/28-add-features-functions.sql
  internal/storage/ledger/transactions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: let database generate reversal dates
  internal/storage/ledger/transactions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add otel collector and prom on benchmarks
  pkg/testserver/server.go
  test/performance/env_core_test.go
  test/performance/env_testserver_test.go
  test/performance/main_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: add missing pgccrypto
  internal/storage/driver/migrations.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: ignore idempotency hash from old data
  internal/controller/ledger/log_process.go
  internal/storage/bucket/migrations/19-logs-add-idempotency-hash.sql
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: clean todo
  test/stress/stress_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: use chart.js for graphs
  cmd/README.md
  cmd/doc_events.go
  cmd/doc_flags.go
  test/performance/Earthfile
  test/performance/README.md
  test/performance/charts/index.js
  test/performance/charts/index.ts
  test/performance/charts/package-lock.json
  test/performance/charts/package.json
  test/performance/charts/src/colors.js
  test/performance/charts/src/colors.ts
  test/performance/charts/src/graphs.js
  test/performance/charts/src/graphs.ts
  test/performance/charts/src/report.js
  test/performance/charts/src/report.ts
  test/performance/charts/tsconfig.json
  test/performance/features_test.go
  test/performance/main_test.go
  test/performance/plot/features_comparison_latency.gp
  test/performance/plot/features_comparison_tps.gp
  test/performance/report_test.go
  test/performance/write_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: test creating ledger with invalid feature configuration
  internal/api/v2/controllers_ledgers_create.go
  internal/api/v2/controllers_ledgers_create_test.go
  internal/controller/system/controller.go
  internal/controller/system/errors.go
  test/e2e/api_ledgers_create_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

ci: add benchmarks (#505)
  .github/workflows/benchmark.yml
Due: none

chore: lint tools
  Earthfile
Due: none

chore: renaming
  go.mod
  go.sum
  test/performance/benchmark_test.go
  test/performance/charts/src/report.ts
  test/performance/report_test.go
  test/performance/write_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: pre-commit
  Earthfile
  internal/README.md
Due: none

feat: simplify locking system
  internal/README.md
  internal/storage/ledger/accounts.go
  internal/storage/ledger/transactions.go
  test/e2e/lifecycle_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

doc: add some doc
  CONTRIBUTING.md
Due: none
