Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

fix: potential non atomic ledger creation
  internal/storage/driver/driver.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: invalid date format
  internal/storage/bucket/bucket.go
  internal/storage/bucket/bucket_generated_test.go
  internal/storage/bucket/migrations/0-init-schema/up_tests_after.sql
  internal/storage/bucket/migrations/32-fix-log-data-for-reverted-transactions/up_tests_after.sql
  internal/storage/bucket/migrations/33-fix-invalid-date-format/notes.yaml
  internal/storage/bucket/migrations/33-fix-invalid-date-format/up.sql
  internal/storage/bucket/migrations/33-fix-invalid-date-format/up_tests_after.sql
  internal/storage/bucket/migrations_test.go
  internal/storage/driver/buckets_generated_test.go
  internal/storage/ledger/balances.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: speakeasy config
  pkg/client/.speakeasy/workflow.lock
  pkg/client/.speakeasy/workflow.yaml
Due: none

fix: missing denormalized data in logs
  internal/storage/bucket/migrations/0-init-schema/up_tests_after.sql
  internal/storage/bucket/migrations/18-transactions-fill-inserted-at/up.sql
  internal/storage/bucket/migrations/18-transactions-fill-inserted-at/up_tests_after.sql
  internal/storage/bucket/migrations/32-fix-log-data-for-reverted-transactions/notes.yaml
  internal/storage/bucket/migrations/32-fix-log-data-for-reverted-transactions/up.sql
  internal/storage/bucket/migrations/32-fix-log-data-for-reverted-transactions/up_tests_after.sql
  internal/storage/bucket/migrations/33-accounts-recreate-unique-index/notes.yaml
  internal/storage/bucket/migrations/33-accounts-recreate-unique-index/up.sql
  internal/storage/bucket/migrations/34-clean-database/notes.yaml
  internal/storage/bucket/migrations/34-clean-database/up.sql
  internal/storage/bucket/migrations/35-logs-async-hash-procedure/notes.yaml
  internal/storage/bucket/migrations/35-logs-async-hash-procedure/up.sql
Due: none

fix: missing denormalized data in logs (#882)
  internal/storage/bucket/migrations/0-init-schema/up_tests_after.sql
  internal/storage/bucket/migrations/18-transactions-fill-inserted-at/up.sql
  internal/storage/bucket/migrations/18-transactions-fill-inserted-at/up_tests_after.sql
  internal/storage/bucket/migrations/32-fix-log-data-for-reverted-transactions/notes.yaml
  internal/storage/bucket/migrations/32-fix-log-data-for-reverted-transactions/up.sql
  internal/storage/bucket/migrations/32-fix-log-data-for-reverted-transactions/up_tests_after.sql
  internal/storage/bucket/migrations/33-accounts-recreate-unique-index/notes.yaml
  internal/storage/bucket/migrations/33-accounts-recreate-unique-index/up.sql
  internal/storage/bucket/migrations/34-clean-database/notes.yaml
  internal/storage/bucket/migrations/34-clean-database/up.sql
  internal/storage/bucket/migrations/35-logs-async-hash-procedure/notes.yaml
  internal/storage/bucket/migrations/35-logs-async-hash-procedure/up.sql
Due: none

fix: invalid date format
  internal/storage/bucket/bucket.go
  internal/storage/bucket/bucket_generated_test.go
  internal/storage/bucket/migrations/0-init-schema/up_tests_after.sql
  internal/storage/bucket/migrations/32-fix-log-data-for-reverted-transactions/up_tests_after.sql
  internal/storage/bucket/migrations/33-fix-invalid-date-format/notes.yaml
  internal/storage/bucket/migrations/33-fix-invalid-date-format/up.sql
  internal/storage/bucket/migrations/33-fix-invalid-date-format/up_tests_after.sql
  internal/storage/bucket/migrations/34-accounts-recreate-unique-index/notes.yaml
  internal/storage/bucket/migrations/34-accounts-recreate-unique-index/up.sql
  internal/storage/bucket/migrations/35-clean-database/notes.yaml
  internal/storage/bucket/migrations/35-clean-database/up.sql
  internal/storage/bucket/migrations/36-logs-async-hash-procedure/notes.yaml
  internal/storage/bucket/migrations/36-logs-async-hash-procedure/up.sql
  internal/storage/bucket/migrations_test.go
  internal/storage/driver/buckets_generated_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: invalid date format (#886)
  internal/storage/bucket/bucket.go
  internal/storage/bucket/bucket_generated_test.go
  internal/storage/bucket/migrations/0-init-schema/up_tests_after.sql
  internal/storage/bucket/migrations/32-fix-log-data-for-reverted-transactions/up_tests_after.sql
  internal/storage/bucket/migrations/33-fix-invalid-date-format/notes.yaml
  internal/storage/bucket/migrations/33-fix-invalid-date-format/up.sql
  internal/storage/bucket/migrations/33-fix-invalid-date-format/up_tests_after.sql
  internal/storage/bucket/migrations/34-accounts-recreate-unique-index/notes.yaml
  internal/storage/bucket/migrations/34-accounts-recreate-unique-index/up.sql
  internal/storage/bucket/migrations/35-clean-database/notes.yaml
  internal/storage/bucket/migrations/35-clean-database/up.sql
  internal/storage/bucket/migrations/36-logs-async-hash-procedure/notes.yaml
  internal/storage/bucket/migrations/36-logs-async-hash-procedure/up.sql
  internal/storage/bucket/migrations_test.go
  internal/storage/driver/buckets_generated_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: too big trace on imports
  internal/controller/ledger/controller_default.go
  internal/tracing/tracing.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add option to api
  internal/api/bulking/elements.go
  internal/controller/ledger/controller.go
  internal/controller/ledger/controller_default.go
  openapi.yaml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

test: added e2e test
  test/e2e/api_transactions_create_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: updated openapi
  docs/api/README.md
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/docs/models/components/runtime.md
  pkg/client/docs/models/components/v2posttransaction.md
  pkg/client/models/components/v2posttransaction.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: properly pass injected interpreters
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_default_test.go
  internal/controller/ledger/stats_test.go
  internal/controller/system/controller.go
  internal/controller/system/module.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: test if the new interpreter is working
  test/e2e/api_transactions_create_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: fix runtime option
  internal/api/bulking/elements.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

add comment
  test/e2e/api_transactions_create_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: edit style
  internal/controller/system/module.go
  test/e2e/api_bulk_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: renamed field
  internal/controller/system/controller.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add option to select numscript version (#878)
  docs/api/README.md
  internal/api/bulking/elements.go
  internal/controller/ledger/controller.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_default_test.go
  internal/controller/ledger/stats_test.go
  internal/controller/system/controller.go
  internal/controller/system/module.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/docs/models/components/runtime.md
  pkg/client/docs/models/components/v2posttransaction.md
  pkg/client/models/components/v2posttransaction.go
  test/e2e/api_bulk_test.go
  test/e2e/api_transactions_create_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: missing decorator around the ledger controller
  internal/controller/ledger/controller_with_events.go
  internal/controller/ledger/controller_with_traces.go
  internal/controller/system/state_tracker.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: add import test with error
  internal/controller/ledger/controller_default.go
  test/e2e/api_ledgers_import_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: from coredabbit
  .coderabbit.yaml
  internal/controller/ledger/controller_with_cache.go
  internal/controller/ledger/controller_with_events.go
  internal/controller/ledger/controller_with_too_many_client_handling.go
  internal/controller/system/state_tracker.go
  internal/storage/ledger/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove sql transaction on imports
  internal/api/bulking/mocks_ledger_controller_test.go
  internal/api/common/mocks_ledger_controller_test.go
  internal/api/v1/mocks_ledger_controller_test.go
  internal/api/v2/mocks_ledger_controller_test.go
  internal/controller/ledger/controller.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_generated_test.go
  internal/controller/ledger/controller_with_traces.go
  internal/controller/ledger/store.go
  internal/controller/ledger/store_generated_test.go
  internal/controller/system/state_tracker.go
  internal/storage/ledger/legacy/adapters.go
  internal/storage/ledger/store.go
  test/e2e/api_ledgers_import_test.go
  test/e2e/app_lifecycle_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: useless comment
  internal/controller/ledger/controller_default.go
  internal/controller/system/controller.go
  internal/controller/system/state_tracker.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add some tracing
  internal/api/common/middleware_resolver.go
  internal/api/v2/controllers_logs_import.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: backport json streaming from 2.3
  internal/api/bulking/bulker_test.go
  internal/api/bulking/handler_stream_json.go
  internal/api/bulking/handler_stream_json_test.go
  internal/api/bulking/handler_stream_text.go
  internal/api/bulking/handler_stream_text_test.go
  internal/api/router.go
  internal/api/v2/routes.go
  test/e2e/api_bulk_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: too big trace on imports (#888)
  internal/controller/ledger/controller_default.go
  internal/tracing/tracing.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove sql transaction on imports
  internal/api/bulking/mocks_ledger_controller_test.go
  internal/api/common/mocks_ledger_controller_test.go
  internal/api/v1/mocks_ledger_controller_test.go
  internal/api/v2/mocks_ledger_controller_test.go
  internal/controller/ledger/controller.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_generated_test.go
  internal/controller/ledger/controller_with_traces.go
  internal/controller/ledger/store.go
  internal/controller/ledger/store_generated_test.go
  internal/controller/system/state_tracker.go
  internal/storage/ledger/adapters.go
  internal/storage/ledger/store.go
  test/e2e/api_ledgers_import_test.go
  test/e2e/app_lifecycle_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests
