Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

fix: tests with postgres server (#86)
  cmd/container_test.go
  cmd/main_test.go
  cmd/root_test.go
  cmd/script_check.go
  cmd/script_exec.go
  cmd/script_test.go
  cmd/storage_test.go
  go.mod
  go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: Integration testing (#64)
  cmd/container.go
  cmd/container_test.go
  cmd/internal/analytics.go
  cmd/root.go
  cmd/root_test.go
  cmd/server_start.go
  cmd/storage.go
  cmd/ui.go
  go.mod
  go.sum
  internal/pgtesting/testing.go
  pkg/analytics/segment.go
  pkg/api/apierrors/errors.go
  pkg/api/controllers/script_controller.go
  pkg/api/idempotency/response.go
  pkg/api/internal/testing.go
  pkg/api/middlewares/log_middleware.go
  pkg/bus/monitor.go
  pkg/contextlogger/contextlogger.go
  pkg/redis/lock.go
  pkg/storage/sqlstorage/driver.go
  pkg/storage/sqlstorage/flavor.go
  pkg/storage/sqlstorage/idempotency.go
  pkg/storage/sqlstorage/migrate.go
  pkg/storage/sqlstorage/schema.go
  pkg/storage/sqlstorage/store_ledger.go
  pkg/storage/sqlstorage/store_ledger_test.go
  pkg/storage/sqlstorage/transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: sdk python
  Taskfile.yaml
  pkg/api/controllers/base_controller.go
  pkg/api/controllers/script_controller.go
  pkg/api/controllers/swagger.yaml
  sdk/templates/go/Taskfile.yml.mustache
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: concurrent map read/writes (#90)
  pkg/storage/sqlstorage/driver.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: concurrent map read/writes
  pkg/storage/sqlstorage/driver.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: concurrent map read/writes (#435)
  pkg/storage/sqlstorage/driver.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: sdk generation
  Taskfile.yaml
  sdk/templates/go/README.mustache
  sdk/templates/go/api.mustache
  sdk/templates/go/api_doc.mustache
  sdk/templates/go/client.mustache
  sdk/templates/go/gitignore.mustache
  sdk/templates/go/go.mod.mustache
  sdk/templates/go/model_simple.mustache
  sdk/templates/php/README.mustache
  sdk/templates/python/.github/workflows/release.yml.mustache
  sdk/templates/python/README.mustache
  sdk/templates/python/setup_cfg.mustache
  sdk/templates/typescript/.github/workflows/release.yml.mustache
  sdk/templates/typescript/.gitignore.mustache
  sdk/templates/typescript/README.mustache
Due: none

fix: remove file
  sdk/configs/typescript-node.yaml
Due: none

fix: sdk
  pkg/api/controllers/base_controller.go
  pkg/api/controllers/script_controller.go
  pkg/api/controllers/swagger.yaml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: sdk generation (#434)
  Taskfile.yaml
  pkg/api/controllers/swagger.yaml
  sdk/templates/go/Taskfile.yml.mustache
Due: gosdk

fix: sdk generation (#436)
  Taskfile.yaml
  pkg/api/controllers/swagger.yaml
  sdk/configs/typescript-node.yaml
  sdk/templates/go/README.mustache
  sdk/templates/go/Taskfile.yml.mustache
  sdk/templates/go/api.mustache
  sdk/templates/go/api_doc.mustache
  sdk/templates/go/client.mustache
  sdk/templates/go/gitignore.mustache
  sdk/templates/go/go.mod.mustache
  sdk/templates/go/model_simple.mustache
  sdk/templates/php/README.mustache
  sdk/templates/python/.github/workflows/release.yml.mustache
  sdk/templates/python/README.mustache
  sdk/templates/python/setup_cfg.mustache
  sdk/templates/typescript/.github/workflows/release.yml.mustache
  sdk/templates/typescript/.gitignore.mustache
  sdk/templates/typescript/README.mustache
Due: gosdk

chore: disable sdk generation
  .github/workflows/main.yml
Due: none

chore: add example in the description for metadata filter
  pkg/api/controllers/swagger.yaml
Due: gosdk

Fixes default UI port
  cmd/root.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: default UI port (#440)
  cmd/root.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove deprecated ledger field for event message (#150)
  pkg/bus/message.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: add example in the description for metadata filter (#115)
  pkg/api/controllers/swagger.yaml
Due: gosdk

fix: first
  pkg/core/posting.go
  pkg/core/transaction_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: Revert transactions (#441)
  pkg/core/posting.go
  pkg/core/transaction_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: Reverse transaction (#189)
  pkg/core/posting.go
  pkg/core/posting_test.go
  pkg/core/transaction_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: Numscript: new ASSET variable type (#182)
  pkg/core/json.go
  pkg/machine/script/NumScript.g4
  pkg/machine/script/compiler/compiler.go
  pkg/machine/script/compiler/compiler_test.go
  pkg/machine/script/compiler/error.go
  pkg/machine/script/parser/NumScript.interp
  pkg/machine/script/parser/NumScript.tokens
  pkg/machine/script/parser/NumScriptLexer.interp
  pkg/machine/script/parser/NumScriptLexer.tokens
  pkg/machine/script/parser/numscript_base_listener.go
  pkg/machine/script/parser/numscript_lexer.go
  pkg/machine/script/parser/numscript_listener.go
  pkg/machine/script/parser/numscript_parser.go
  pkg/machine/vm/machine.go
  pkg/machine/vm/machine_test.go
  pkg/machine/vm/program/program.go
  pkg/machine/vm/program/resource.go
  pkg/machine/vm/program/resource_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: Numscript: allow 0 and 100 inclusive in portions (#201)
  pkg/core/allotment.go
  pkg/core/allotment_test.go
  pkg/core/portion.go
  pkg/core/portion_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: update readme
  README.md
Due: none

fix: remove minimum balance for all balances operation (#227)
  pkg/api/controllers/swagger.yaml
Due: gosdk

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
