Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

fix(EN-1043): roll back Unreachable dedup flag on failed emit
  internal/infra/node/transport.go
  internal/infra/node/transport_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(EN-1470): opt-in expandVolumes on GET account
  docs/technical/contributing/api-comparison.md
  internal/adapter/http/handlers_get_account.go
  internal/adapter/http/handlers_get_account_test.go
  internal/proto/commonpb/common.pb.json.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(EN-1467): un-deprecate Account.volumes now that EN-1470 populates it
  openapi.yml
Due: gosdk

fix(EN-1470): drop redundant expandVolumes — just stop dropping the field
  docs/technical/contributing/api-comparison.md
  internal/adapter/http/handlers_get_account.go
  internal/adapter/http/handlers_get_account_test.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(EN-1467): match EN-1470's actual populate-always semantics (no expandVolumes param)
  openapi.yml
Due: gosdk

docs(EN-1467): describe Account.volumes as it is on release/v3.0 today (fix lands in EN-1470)
  openapi.yml
Due: gosdk

docs(EN-1467): drop dangling EN-1470 pointer, describe Account.volumes as unpopulated by design
  openapi.yml
Due: gosdk

fix(EN-1043): emit Unreachable on Raft transport channel-full drops (#1519)
  internal/infra/node/peer_send_race_test.go
  internal/infra/node/transport.go
  internal/infra/node/transport_test.go
  tests/antithesis/workload/bin/cmds/main/singleton_driver_quorum_recovery/main.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(EN-1467): warn about prefix-filter caveat, point Account.volumes guidance at exact-match prepared query
  openapi.yml
Due: gosdk

docs(EN-1468): purge stale /v2 prefix mentions in http-api.md (#1513)
  docs/technical/architecture/subsystems/api/http-api.md
Due: none

docs(adr): record vtproto unmarshal_unsafe rejection
  docs/technical/README.md
  docs/technical/adr/0001-vtproto-unmarshal-unsafe.md
  docs/technical/adr/README.md
Due: none

docs(EN-1467): reconcile openapi.yml with actual v3 wire (#1514)
  openapi.yml
Due: gosdk

feat(ledger): navigable revert relationship + queryable reverted/revertedAt (#1508)
  cmd/ledgerctl/indexes/create.go
  cmd/ledgerctl/indexes/drop.go
  cmd/ledgerctl/indexes/id_helpers.go
  cmd/ledgerctl/indexes/list.go
  cmd/ledgerctl/ledgers/config_model.go
  cmd/ledgerctl/ledgers/configuration.go
  docs/technical/contributing/api-comparison.md
  internal/adapter/http/handlers_get_transaction_test.go
  internal/application/check/replay_store.go
  internal/application/check/replay_store_test.go
  internal/application/ctrl/controller_default.go
  internal/application/indexbuilder/process_logs.go
  internal/application/indexbuilder/reverted_at_index_test.go
  internal/domain/processing/processor_mirror.go
  internal/domain/processing/processor_mirror_test.go
  internal/domain/processing/processor_revert_transaction.go
  internal/domain/processing/processor_revert_transaction_test.go
  internal/domain/replay/replay.go
  internal/domain/replay/writer.go
  internal/infra/backup/rebuild.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_dethash.pb.go
  internal/proto/commonpb/common_reader.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/commonpb/transaction.go
  internal/proto/commonpb/transactions_json_test.go
  internal/query/compile.go
  internal/query/compile_reverted_test.go
  internal/query/reversions.go
  internal/query/reversions_test.go
  internal/storage/readstore/delete_ledger.go
  internal/storage/readstore/iterator_bitset.go
  internal/storage/readstore/iterator_bitset_test.go
  internal/storage/readstore/keys.go
  internal/storage/readstore/write_batch.go
  misc/proto/common.proto
  openapi.yml
  pkg/actions/filters.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(proto): regenerate common_reader for named-type reader wrappers
  internal/proto/commonpb/common_reader.pb.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(proto): regenerate common_reader for named-type reader wrappers (#1526)
  internal/proto/commonpb/common_reader.pb.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1465): drop legacy-wrapped tolerance from PostCommitVolumes decoder
  internal/proto/commonpb/common.pb.json.go
  internal/proto/commonpb/post_commit_volumes_json_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1465): reject legacy-wrapped payloads with an explicit error
  internal/proto/commonpb/common.pb.json.go
  internal/proto/commonpb/post_commit_volumes_json_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1465): drop UnmarshalJSON on PostCommitVolumes
  internal/proto/commonpb/common.pb.json.go
  internal/proto/commonpb/post_commit_volumes_json_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1465): use proto getters in tests (dirty check)
  internal/proto/commonpb/post_commit_volumes_json_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1465): flatten postCommitVolumes JSON, drop protojson wrappers
  internal/proto/commonpb/common.pb.json.go
  internal/proto/commonpb/post_commit_volumes_json_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1466): update perf scripts and sharpen bulk spec description
  openapi.yml
  tests/perf/scripts/shared/http_utils.js
  tests/perf/scripts/single_hot_account.js
Due: gosdk

fix(EN-1466): three-way bulk error classification (aborted / domain / infra)
  internal/adapter/http/handlers_bulk.go
  internal/adapter/http/handlers_coverage_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(EN-1466): narrow continueOnFailure=true 200 guarantee in http-api.md
  docs/technical/architecture/subsystems/api/http-api.md
Due: none

fix(EN-1466): split infra bulk errors into retryable (503+Retry-After) vs fatal (500)
  internal/adapter/http/handlers_bulk.go
  internal/adapter/http/handlers_coverage_test.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(EN-1466): clarify that request-level failures still return their usual 4xx status; the 200 branch only covers per-element failures under continueOnFailure=true (NumaryBot review)
  openapi.yml
Due: gosdk

docs(EN-1466): add 429 response to /bulk spec (KindResourceExhausted per-element)
  openapi.yml
Due: gosdk

fix(EN-1466): propagate exact per-element status, split ResourceExhausted (429)
  internal/adapter/http/handlers_bulk.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1466): drop /_bulk alias and fix continueOnFailure=true status
  docs/ops/performance-tuning.md
  docs/technical/architecture/data-flows.md
  docs/technical/architecture/data-model.md
  docs/technical/architecture/subsystems/admission/idempotency.md
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/http/handler.go
  internal/adapter/http/handlers_bulk.go
  internal/adapter/http/handlers_coverage_test.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1466): don't swallow infra Apply errors as 200 on continueOnFailure
  internal/adapter/http/handlers_bulk.go
  internal/adapter/http/handlers_coverage_test.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

test(EN-1466): pin per-Kind dispatch on writeBulkResponse (blocker follow-up)
  internal/adapter/http/handlers_coverage_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(deps): upgrade go-libs/v5 to v5.7.0
  go.mod
  go.sum
  tests/antithesis/workload/go.mod
  tests/antithesis/workload/go.sum
Due: none

chore(proto): fix reader wrappers for reverted/reverts accessors
  internal/proto/commonpb/common_reader.pb.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1425): restore in-batch tx state via pendingTx overlay in RebuildDelta
  internal/infra/backup/rebuild.go
  internal/infra/backup/rebuild_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(deps): upgrade go-libs/v5 to v5.7.0 (#1525)
  go.mod
  go.sum
  tests/antithesis/workload/go.mod
  tests/antithesis/workload/go.sum
Due: none

chore(deps): upgrade github.com/formancehq/invariants to v0.11.0
  go.mod
  go.sum
  tests/antithesis/workload/go.mod
  tests/antithesis/workload/go.sum
Due: none

test(antithesis): allow restricting the workload image to a driver subset (#1512)
  tests/antithesis/Justfile
  tests/antithesis/workload/Dockerfile
  tests/antithesis/workload/Justfile
Due: none

refactor(node): factor fireResponses helper + tighten Submit guard
  internal/infra/node/applier.go
  internal/infra/node/applier_async_storage_test.go
  internal/infra/node/node.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(node): pass task stop channel to runCommitter response send
  internal/infra/node/applier.go
  internal/infra/node/applier_async_storage_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(node): add stop escape hatch to applyEntriesToFSM fallback fire
  internal/infra/node/applier.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
