Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

feat: integrate speakeasy CLI and improve build workflows
  Earthfile
  Justfile
  flake.nix
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/gen.yaml
  pkg/client/docs/models/operations/runscriptresponse.md
  pkg/client/formance.go
  pkg/client/models/operations/runscript.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: Remove earthly usage (#640)
  Earthfile
  Justfile
  flake.nix
  openapi.yaml
  openapi/openapi-merge.json
  openapi/overlay.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/gen.yaml
  pkg/client/docs/models/operations/runscriptresponse.md
  pkg/client/formance.go
  pkg/client/models/operations/runscript.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add task to handle OpenAPI artifact in Earthfile
  Earthfile
Due: none

feat: add task to handle OpenAPI artifact in Earthfile (#644)
  Earthfile
Due: none

fix: earthfile
  Earthfile
Due: none

fix: earthfile (#645)
  Earthfile
Due: none

fix: locally
  Earthfile
Due: none

fix: locally (#646)
  Earthfile
Due: none

feat: only display panics when in debug mode
  Justfile
  internal/api/router.go
  internal/api/v1/routes.go
  internal/api/v2/routes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: only display panics when in debug mode (#648)
  Justfile
  internal/api/router.go
  internal/api/v1/routes.go
  internal/api/v2/routes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: wrong encoding on a migration
  internal/storage/bucket/migrations/23-logs-fill-memento/up.sql
  internal/storage/bucket/migrations/27-clean-database/up.sql
Due: none

fix: wrong encoding on a migration (#650)
  internal/storage/bucket/migrations/23-logs-fill-memento/up.sql
  internal/storage/bucket/migrations/27-clean-database/up.sql
Due: none

fix: wrong encoding on a migration
  internal/storage/bucket/migrations/11-make-stateless/up.sql
  internal/storage/bucket/migrations/23-logs-fill-memento/up.sql
Due: none

fix: wrong encoding on migration
  internal/storage/bucket/migrations/11-make-stateless/up.sql
Due: none

fix: wrong encoding on migration (#651)
  internal/storage/bucket/migrations/11-make-stateless/up.sql
Due: none

feat: add benchmarking script
  test/performance/scripts/any_to_bank.js
Due: none

feat: add benchmarking script (#652)
  test/performance/scripts/any_to_bank.js
Due: none

feat: remove earthly usage for benchmarks
  .github/workflows/benchmark.yml
  flake.nix
  test/performance/Earthfile
  test/performance/README.md
  test/performance/charts/index.js
  test/performance/charts/index.ts
  test/performance/charts/src/graphs.js
  test/performance/justfile
Due: none

chore: remove commited js files
  test/performance/charts/.gitignore
  test/performance/charts/index.js
  test/performance/charts/src/colors.js
  test/performance/charts/src/graphs.js
  test/performance/charts/src/report.js
  test/performance/justfile
Due: none

feat: use ephemeral postgres for benchmarks (cause regression error)
  .github/workflows/benchmark.yml
  test/performance/justfile
Due: none

feat(benchmarks): use compare recipe instead of run on prs
  .github/workflows/benchmark.yml
Due: none

feat: properly clean postgres servers
  test/performance/env_testserver_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: create output directory
  test/performance/justfile
Due: none

feat: increase benchmarks timeout
  test/performance/justfile
Due: none

feat: benchmarks and add inputs on workflow dispatch
  .github/workflows/benchmark-comparison.yml
Due: none

feat: use nix to setup just
  .github/workflows/benchmark-comparison.yml
  .github/workflows/benchmark.yml
Due: none

fix: nix usage
  .github/workflows/benchmark-comparison.yml
  .github/workflows/benchmark.yml
Due: none

feat: remove earthly usage for benchmarks (#654)
  .github/workflows/benchmark-comparison.yml
  flake.nix
  test/performance/Earthfile
  test/performance/README.md
  test/performance/charts/.gitignore
  test/performance/charts/index.js
  test/performance/charts/index.ts
  test/performance/charts/src/colors.js
  test/performance/charts/src/graphs.js
  test/performance/charts/src/report.js
  test/performance/env_testserver_test.go
  test/performance/justfile
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: transactions commit with special chars in metadata
  internal/controller/ledger/log_process.go
  internal/storage/ledger/logs.go
  internal/storage/ledger/logs_test.go
  internal/storage/ledger/transactions_test.go
  test/e2e/api_transactions_create_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: transactions commit with special chars in metadata (#657)
  internal/controller/ledger/log_process.go
  internal/storage/ledger/logs.go
  internal/storage/ledger/logs_test.go
  internal/storage/ledger/transactions_test.go
  test/e2e/api_transactions_create_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: benchmark comparison
  test/performance/justfile
Due: none

fix: benchmark comparison (#658)
  test/performance/justfile
Due: none

fix: performance compare
  test/performance/justfile
Due: none

fix: performance compare (#659)
  test/performance/justfile
Due: none

feat: use append only on balances
  internal/README.md
  internal/api/v2/controllers_balances.go
  internal/controller/ledger/controller_default.go
  internal/ledger_test.go
  internal/posting.go
  internal/storage/bucket/migrations/28-remove-accounts-volumes-unique-index/notes.yaml
  internal/storage/bucket/migrations/28-remove-accounts-volumes-unique-index/up.sql
  internal/storage/ledger/accounts.go
  internal/storage/ledger/accounts_test.go
  internal/storage/ledger/balances.go
  internal/storage/ledger/balances_test.go
  internal/storage/ledger/debug.go
  internal/storage/ledger/main_test.go
  internal/storage/ledger/moves_test.go
  internal/storage/ledger/resource_accounts.go
  internal/storage/ledger/resource_volumes.go
  internal/storage/ledger/transactions.go
  internal/storage/ledger/transactions_test.go
  internal/storage/ledger/volumes.go
  internal/storage/ledger/volumes_test.go
  pkg/features/features.go
  test/e2e/api_accounts_metadata_test.go
  test/e2e/app_lifecycle_test.go
  test/stress/stress_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove useless condition
  .github/workflows/benchmark-comparison.yml
Due: none

fix: dependencies
  go.mod
  go.sum
  tools/generator/go.mod
  tools/generator/go.sum
Due: none

fix: benchmarks
  test/performance/justfile
Due: none

fix: benchmarks (#660)
  test/performance/justfile
Due: none
