Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

fix(operator): harden volume expansion policy guards
  docs/technical/architecture/subsystems/operator/volume-auto-expansion.md
  misc/operator/README.md
  misc/operator/internal/controller/cluster_controller.go
  misc/operator/internal/controller/volume_expansion.go
  misc/operator/internal/controller/volume_expansion_policy.go
  misc/operator/internal/controller/volume_expansion_policy_test.go
  misc/operator/internal/controller/volume_expansion_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(operator): reject stale volume measurements
  cmd/ledgerctl/cluster/disk_usage.go
  cmd/ledgerctl/cluster/disk_usage_test.go
  docs/ops/cli.md
  docs/ops/disk-space.md
  docs/ops/monitoring.md
  docs/technical/architecture/subsystems/api/grpc-api.md
  docs/technical/architecture/subsystems/operator/volume-auto-expansion.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/grpc/server_cluster.go
  internal/adapter/grpc/server_cluster_disk_usage_test.go
  internal/infra/health/healthcheck.go
  internal/infra/health/healthcheck_test.go
  internal/infra/health/thresholds.go
  internal/infra/health/thresholds_test.go
  internal/infra/monitoring/diskusage/diskusage.go
  internal/infra/monitoring/diskusage/diskusage_test.go
  internal/proto/clusterpb/cluster.pb.go
  internal/proto/clusterpb/cluster_reader.pb.go
  internal/proto/clusterpb/cluster_vtproto.pb.go
  misc/operator/README.md
  misc/operator/internal/controller/suite_test.go
  misc/operator/internal/controller/volume_expansion.go
  misc/operator/internal/controller/volume_expansion_test.go
  misc/proto/cluster.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(chart): allow several variable segments per chart-of-accounts level
  internal/chart.go
  internal/chart_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(chart): regenerate the go api and event docs
  docs/events/InsertedSchema.json
  internal/README.md
Due: none

refactor(tooling): linearize final PR review
  docs/technical/agent-context.md
  docs/technical/contributing/ai-pr-known-findings.md
  docs/technical/contributing/ai-review-loop.md
  docs/technical/contributing/ai-review.md
  docs/technical/contributing/ai-worktree-isolation.md
  docs/technical/contributing/local-validation.md
  scripts/ai-fix-claude
  scripts/ai-pr-loop
  scripts/ai-review-codex
  scripts/aifixclaude/adapter_test.go
  scripts/aiprloop/launcher_test.go
  scripts/aiprloop/push_test.go
  scripts/aiprloop/recovery_test.go
  scripts/aireviewcodex/adapter_test.go
  scripts/codex-review.schema.json
  scripts/reviewloop/main.go
  scripts/reviewloop/main_test.go
  scripts/reviewloop/validation_receipt.go
  scripts/reviewloop/validation_receipt_test.go
  scripts/reviewloop/worktree_binding.go
  scripts/reviewloop/worktree_binding_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(health): cover fresh peer samples
  internal/infra/health/healthcheck_test.go
  internal/infra/monitoring/diskusage/diskusage_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(health): poll committed raft members
  docs/ops/cli.md
  docs/ops/disk-space.md
  internal/infra/health/healthcheck.go
  internal/infra/health/healthcheck_test.go
  internal/infra/health/node_state.go
  internal/infra/health/node_state_generated_test.go
  internal/infra/node/member_ids_test.go
  internal/infra/node/node.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(release): format GoReleaser changelog
  .goreleaser.yml
Due: none

fix(release): filter breaking changelog commits
  .goreleaser.yml
Due: none

fix(release): keep changelog generation local
  .goreleaser.yml
Due: none

docs(release): explain local changelog source
  .goreleaser.yml
Due: none

fix(storage): address volume expansion review feedback
  docs/ops/cli.md
  docs/ops/disk-space.md
  docs/technical/architecture/subsystems/operator/volume-auto-expansion.md
  internal/bootstrap/module.go
  internal/infra/health/healthcheck.go
  internal/infra/health/healthcheck_test.go
  internal/infra/health/thresholds.go
  internal/infra/health/thresholds_test.go
  internal/infra/monitoring/diskusage/diskusage.go
  internal/infra/monitoring/diskusage/diskusage_test.go
  internal/infra/transport/connection_pool.go
  internal/infra/transport/connection_pool_test.go
  misc/operator/README.md
  misc/operator/internal/controller/cluster_controller.go
  misc/operator/internal/controller/reconcile_statefulset.go
  misc/operator/internal/controller/volume_expansion.go
  misc/operator/internal/controller/volume_expansion_integration_test.go
  misc/operator/internal/controller/volume_expansion_policy.go
  misc/operator/internal/controller/volume_expansion_policy_test.go
  misc/operator/internal/controller/volume_expansion_test.go
  tests/e2e/cluster/transfer_leadership_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(health): preserve quorum availability after failover
  docs/ops/cli.md
  docs/ops/disk-space.md
  internal/infra/health/healthcheck.go
  internal/infra/health/healthcheck_test.go
  internal/infra/health/thresholds.go
  internal/infra/health/thresholds_test.go
  tests/e2e/cluster/transfer_leadership_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(tooling): linearize final PR review (#1878)
  docs/technical/agent-context.md
  docs/technical/contributing/ai-pr-known-findings.md
  docs/technical/contributing/ai-review-loop.md
  docs/technical/contributing/ai-review.md
  docs/technical/contributing/ai-worktree-isolation.md
  docs/technical/contributing/local-validation.md
  scripts/ai-fix-claude
  scripts/ai-pr-loop
  scripts/ai-review-codex
  scripts/aifixclaude/adapter_test.go
  scripts/aiprloop/launcher_test.go
  scripts/aiprloop/push_test.go
  scripts/aiprloop/recovery_test.go
  scripts/aireviewcodex/adapter_test.go
  scripts/codex-review.schema.json
  scripts/reviewloop/main.go
  scripts/reviewloop/main_test.go
  scripts/reviewloop/validation_receipt.go
  scripts/reviewloop/validation_receipt_test.go
  scripts/reviewloop/worktree_binding.go
  scripts/reviewloop/worktree_binding_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(tooling): establish cooperative PR safety boundary
  docs/technical/contributing/ai-bugfix-workflow.md
  docs/technical/contributing/ai-review-loop.md
  docs/technical/contributing/ai-worktree-isolation.md
  docs/technical/contributing/local-validation.md
  docs/technical/contributing/testing.md
  scripts/agent-check-pr
  scripts/agent-validation-env
  scripts/agentcheckpr/selector_test.go
  scripts/ai-git-guard
  scripts/ai-pr-loop
  scripts/ai-review-codex
  scripts/aiprloop/launcher_test.go
  scripts/aiprloop/push_test.go
  scripts/aireviewcodex/adapter_test.go
  scripts/internal/rootguard/rootguard.go
  scripts/internal/rootguard/rootguard_test.go
  scripts/internal/testenv/environment.go
  scripts/internal/testenv/environment_test.go
  scripts/reviewloop/main.go
  scripts/reviewloop/main_test.go
  scripts/reviewloop/worktree_binding.go
  scripts/reviewloop/worktree_binding_test.go
  scripts/rootguard/main.go
  scripts/rootguard/main_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(tooling): close rootguard review gaps
  docs/technical/contributing/ai-worktree-isolation.md
  docs/technical/contributing/local-validation.md
  scripts/aiprloop/launcher_test.go
  scripts/aiprloop/push_test.go
  scripts/internal/rootguard/rootguard.go
  scripts/internal/rootguard/rootguard_test.go
  scripts/rootguard/main.go
  scripts/rootguard/main_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(tooling): accept nested repository boundaries
  docs/technical/contributing/ai-worktree-isolation.md
  scripts/internal/rootguard/rootguard.go
  scripts/internal/rootguard/rootguard_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(tooling): reap rootguard descendants
  docs/technical/contributing/ai-worktree-isolation.md
  docs/technical/contributing/local-validation.md
  scripts/rootguard/main.go
  scripts/rootguard/main_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(tooling): arm cancellation before child start
  scripts/rootguard/main.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: synchronize peer reaping fixture
  scripts/reviewloop/worktree_binding_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(ci): migrate to reusable workflows
  .github/workflows/main.yml
  .github/workflows/releases.yml
  Earthfile
Due: none

refactor(tooling): establish cooperative PR safety boundary (#1880)
  docs/technical/contributing/ai-bugfix-workflow.md
  docs/technical/contributing/ai-review-loop.md
  docs/technical/contributing/ai-worktree-isolation.md
  docs/technical/contributing/local-validation.md
  docs/technical/contributing/testing.md
  scripts/agent-check-pr
  scripts/agent-validation-env
  scripts/agentcheckpr/selector_test.go
  scripts/ai-git-guard
  scripts/ai-pr-loop
  scripts/ai-review-codex
  scripts/aiprloop/launcher_test.go
  scripts/aiprloop/push_test.go
  scripts/aireviewcodex/adapter_test.go
  scripts/internal/rootguard/rootguard.go
  scripts/internal/rootguard/rootguard_test.go
  scripts/internal/testenv/environment.go
  scripts/internal/testenv/environment_test.go
  scripts/reviewloop/main.go
  scripts/reviewloop/main_test.go
  scripts/reviewloop/worktree_binding.go
  scripts/reviewloop/worktree_binding_test.go
  scripts/rootguard/main.go
  scripts/rootguard/main_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(reads): preserve routed consistency guarantees (#1876)
  internal/adapter/grpc/client_bucket.go
  internal/adapter/grpc/client_bucket_test.go
  internal/adapter/grpc/consistency.go
  internal/adapter/grpc/controller_generated_test.go
  internal/adapter/grpc/server_bucket.go
  internal/adapter/grpc/server_bucket_audit_consistency_test.go
  internal/adapter/grpc/server_bucket_list_test.go
  internal/adapter/http/backend_generated_test.go
  internal/adapter/http/handlers_get_audit_entry_test.go
  internal/adapter/http/handlers_get_numscript_usage.go
  internal/adapter/http/handlers_list_audit_entries.go
  internal/adapter/http/handlers_list_audit_entries_test.go
  internal/application/ctrl/controller.go
  internal/application/ctrl/controller_default.go
  internal/application/ctrl/controller_generated_test.go
  internal/application/ctrl/ctrlmock/controller_generated.go
  internal/bootstrap/controller_routed.go
  internal/bootstrap/controller_routed_test.go
  internal/query/audit_filter.go
  internal/query/audit_filter_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(logging): dedupe cmp field and quiet noisy raft debug logs
  go.mod
  go.sum
  internal/bootstrap/module.go
  internal/infra/health/healthcheck.go
  internal/infra/node/node.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(consensus): clarify partition safety and read guarantees
  docs/ops/cli.md
  docs/technical/architecture/data-flows.md
  docs/technical/architecture/subsystems/api/grpc-api.md
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/architecture/subsystems/consensus/README.md
  docs/technical/architecture/subsystems/consensus/raft-consensus.md
  docs/technical/architecture/subsystems/read-path/README.md
  docs/technical/architecture/subsystems/read-path/prepared-queries.md
  docs/technical/architecture/subsystems/read-path/query-pipeline.md
  docs/technical/architecture/subsystems/read-path/query-profile.md
  docs/technical/contributing/api-comparison.md
  openapi.yml
Due: gosdk

fix(logging): dedupe cmp field and quiet noisy raft debug logs (#1882)
  go.mod
  go.sum
  internal/bootstrap/module.go
  internal/infra/health/healthcheck.go
  internal/infra/node/node.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(release): migrate docker images to goreleaser dockers_v2
  .goreleaser.yml
  build.Dockerfile
Due: none

docs(consensus): clarify partition safety and read guarantees (#1868)
  docs/ops/cli.md
  docs/technical/architecture/data-flows.md
  docs/technical/architecture/subsystems/api/grpc-api.md
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/architecture/subsystems/consensus/README.md
  docs/technical/architecture/subsystems/consensus/raft-consensus.md
  docs/technical/architecture/subsystems/read-path/README.md
  docs/technical/architecture/subsystems/read-path/prepared-queries.md
  docs/technical/architecture/subsystems/read-path/query-pipeline.md
  docs/technical/architecture/subsystems/read-path/query-profile.md
  docs/technical/contributing/api-comparison.md
  openapi.yml
Due: gosdk

fix(EN-1951): stop idle event GC rescans
  docs/technical/architecture/subsystems/indexer/README.md
  docs/technical/architecture/subsystems/indexer/indexer.md
  docs/technical/architecture/subsystems/read-path/README.md
  docs/technical/architecture/subsystems/read-path/readstore-event-keys.md
  internal/application/indexbuilder/backfill.go
  internal/application/indexbuilder/backfill_postings.go
  internal/application/indexbuilder/backfill_test.go
  internal/application/indexbuilder/builder.go
  internal/application/indexbuilder/gc.go
  internal/application/indexbuilder/gc_test.go
  internal/application/indexbuilder/process_logs.go
  internal/storage/readstore/event_gc.go
  internal/storage/readstore/event_gc_test.go
  internal/storage/readstore/write_batch.go
  internal/storage/readstore/write_batch_event_zones_test.go
  internal/storage/readstore/write_batch_events.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(en1945): drop chapter/cold e2e coverage, keep retained-history scenarios
  tests/e2e/business/audit_purge_test.go
  tests/e2e/business/chapter_schedule_test.go
  tests/e2e/business/chapter_test.go
  tests/e2e/business/check_store_baseline_boundary_test.go
  tests/e2e/business/check_store_test.go
  tests/e2e/business/cold_storage_s3_test.go
  tests/e2e/business/get_transaction_cold_test.go
  tests/e2e/business/idempotency_replay_cold_test.go
  tests/e2e/business/listlogs_cold_test.go
  tests/e2e/cluster/chapter_audit_anchor_test.go
  tests/e2e/cluster/prepared_query_ledger_cache_rotation_test.go
  tests/e2e/cluster/restore_chapter_audit_anchor_test.go
  tests/e2e/cluster/restore_chapter_registry_test.go
  tests/scenarios/gaming_wallet/gaming_wallet_test.go
  tests/scenarios/lending_lifecycle/lending_lifecycle_test.go
  tests/scenarios/marketplace/marketplace_test.go
  tests/scenarios/multi_currency/multi_currency_test.go
  tests/scenarios/multi_ledger_payroll/multi_ledger_payroll_test.go
  tests/scenarios/operations_lifecycle/operations_lifecycle_test.go
  tests/scenarios/scenariotest/scenariotest.go
  tests/scenarios/stress_invariants/stress_invariants_test.go
  tests/scenarios/subscription/subscription_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(en1945): remove cold storage from the operator
  misc/operator/api/v1alpha1/cluster_types.go
  misc/operator/api/v1alpha1/zz_generated.deepcopy.go
  misc/operator/config/crd/bases/ledger.formance.com_clusters.yaml
  misc/operator/e2e/tests/hostpath-volume/chainsaw-test.yaml
  misc/operator/e2e/tests/restore-incremental/chainsaw-test.yaml
  misc/operator/e2e/tests/restore/chainsaw-test.yaml
  misc/operator/helm/crds/templates/ledger.formance.com_clusters.yaml
  misc/operator/internal/controller/cluster_controller.go
  misc/operator/internal/controller/envvars.go
  misc/operator/internal/controller/hostpath_test.go
  misc/operator/internal/controller/reconcile_auth_keys_unit_test.go
  misc/operator/internal/controller/reconcile_basic_test.go
  misc/operator/internal/controller/reconcile_hostpath_test.go
  misc/operator/internal/controller/reconcile_statefulset.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(en1945): remove Antithesis chapter workloads and cold-storage config
  tests/antithesis/config/docker-compose.yaml
  tests/antithesis/k8s/cluster.yaml
  tests/antithesis/k8s/minio.yaml
  tests/antithesis/workload/bin/cmds/main/parallel_driver_bulk_atomicity/main.go
  tests/antithesis/workload/bin/cmds/main/singleton_driver_chapter_close/main.go
  tests/antithesis/workload/bin/cmds/main/singleton_driver_chapter_schedule/main.go
  tests/antithesis/workload/restore-orchestrator.sh
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

checker: close residual archive-era carve-outs
  internal/application/check/checker.go
  internal/application/check/checker_tamper_test.go
  internal/application/check/checker_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

apply pre-commit normalization; drop unused test helper
  internal/application/check/checker.go
  internal/infra/backup/rebuild_test.go
  internal/infra/node/applier.go
  internal/storage/dal/store_operations_test.go
  misc/operator/internal/controller/reconcile_auth_keys_unit_test.go
  misc/operator/internal/controller/reconcile_statefulset.go
  tests/antithesis/workload/go.mod
  tests/antithesis/workload/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

sweep stale chapter/cold references from comments, test names, openapi
  docs/technical/architecture/subsystems/usage/usagebuilder.md
  internal/adapter/auth/request_scope_test.go
  internal/adapter/http/encoder_contract_test.go
  internal/application/admission/wrapper_exhaustiveness_test.go
  internal/application/check/checker_reverse_map_orphans_test.go
  internal/application/check/replay_store_test.go
  internal/application/check/verify_skipped_order_test.go
  internal/application/ctrl/controller_default_receipt_test.go
  internal/domain/processing/processor_revert_transaction_test.go
  internal/infra/node/applier_test.go
  internal/infra/plan/runner_test.go
  internal/infra/state/machine_sync_test.go
  internal/proto/commonpb/transactions_json_test.go
  openapi.yml
  tests/antithesis/workload/bin/cmds/main/eventually_cross_node_identity/main.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

checker: purge replay rows for deleted ledgers
  internal/application/check/checker.go
  internal/application/check/checker_test.go
  internal/application/check/replay_store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(tooling): bind native audit challenge digest
  docs/technical/contributing/ai-audit-challenge.md
  scripts/ai-audit-challenge
  scripts/aiauditchallenge/runner_test.go
  scripts/codex-audit-challenge.schema.json
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
