Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

feat: expand V2Log schema with comprehensive descriptions and additional log data structures
  openapi.yaml
Due: gosdk

feat: enhance V2Log schema with detailed transaction structures and descriptions
  docs/api/README.md
Due: none

feat: enhance V2Log schema with new log data types and improved documentation
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/docs/models/components/targetid.md
  pkg/client/docs/models/components/targettype.md
  pkg/client/docs/models/components/v2log.md
  pkg/client/docs/models/components/v2logdata.md
  pkg/client/docs/models/components/v2logdatadeletemetadata.md
  pkg/client/docs/models/components/v2logdatadeletemetadatatargetid.md
  pkg/client/docs/models/components/v2logdatadeletemetadatatargettype.md
  pkg/client/docs/models/components/v2logdatainsertedschema.md
  pkg/client/docs/models/components/v2logdatanewtransaction.md
  pkg/client/docs/models/components/v2logdatarevertedtransaction.md
  pkg/client/docs/models/components/v2logdatasetmetadata.md
  pkg/client/docs/models/components/v2logtransaction.md
  pkg/client/docs/models/components/v2logtype.md
  pkg/client/models/components/v2log.go
  pkg/client/models/components/v2logdatadeletemetadata.go
  pkg/client/models/components/v2logdatainsertedschema.go
  pkg/client/models/components/v2logdatanewtransaction.go
  pkg/client/models/components/v2logdatarevertedtransaction.go
  pkg/client/models/components/v2logdatasetmetadata.go
  pkg/client/models/components/v2logtransaction.go
  pkg/client/speakeasyusagegen/.speakeasy/logs/naming.log
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: update API logs list tests to use new V2Log data structures
  test/e2e/api_logs_list_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: refactor state machine
  internal/raft/executor.go
  internal/raft/fsm.go
  internal/raft/node.go
  internal/raft/transport.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/replica_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: unspooling by batch
  internal/raft/node.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: use ledger id everywhere
  internal/application/grpc_ledger_server.go
  internal/http/bulking/bulker.go
  internal/http/handlers_bulk.go
  internal/http/handlers_create_transaction.go
  internal/http/handlers_delete_account_metadata.go
  internal/http/handlers_delete_ledger.go
  internal/http/handlers_delete_transaction_metadata.go
  internal/http/handlers_get_ledger.go
  internal/http/handlers_revert_transaction.go
  internal/http/handlers_save_account_metadata.go
  internal/http/handlers_save_transaction_metadata.go
  internal/http/server.go
  internal/ledgerpb/ledger.pb.go
  internal/ledgerpb/ledger.pb.json.go
  internal/ledgerpb/ledger_grpc.pb.go
  internal/ledgerpb/log.go
  internal/raft/command.go
  internal/raft/fsm.go
  internal/raft/node.go
  internal/raft/node_test.go
  internal/service/controller.go
  internal/service/controller_default.go
  internal/service/controller_default_generated_test.go
  internal/service/controller_default_test.go
  internal/service/ledger_grpc_client.go
  internal/service/log_process.go
  internal/service/unitofwork.go
  internal/store/pebble/batch.go
  internal/store/pebble/store.go
  internal/store/pebble/store_test.go
  internal/store/sqlite/batch.go
  internal/store/sqlite/store.go
  internal/store/sqlite/store_test.go
  internal/store/store.go
  internal/store/store_generated.go
  misc/proto/ledger.proto
  pkg/testserver/gateway.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: update SET_METADATA log assertion in e2e tests
  test/e2e/api_logs_list_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: make restart from invalid store handled
  internal/raft/fsm.go
  internal/raft/fsm_generated_test.go
  internal/raft/node.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: avoid race condition
  internal/raft/node.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: rename variable to avoid confusion
  internal/raft/fsm.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add tests
  AGENTS.md
  internal/application/module.go
  internal/raft/fsm.go
  internal/raft/node.go
  internal/raft/node_test.go
  internal/raft/spool.go
  internal/raft/spool_interceptor.go
  internal/raft/transport.go
  internal/raft/transport_channel.go
  internal/raft/wal_interceptor.go
  internal/store/store.go
  internal/store/store_interceptor.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add detailed schemas for V2Log data payloads (#1234)
  docs/api/README.md
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/docs/models/components/targetid.md
  pkg/client/docs/models/components/targettype.md
  pkg/client/docs/models/components/v2log.md
  pkg/client/docs/models/components/v2logdata.md
  pkg/client/docs/models/components/v2logdatadeletemetadata.md
  pkg/client/docs/models/components/v2logdatadeletemetadatatargetid.md
  pkg/client/docs/models/components/v2logdatadeletemetadatatargettype.md
  pkg/client/docs/models/components/v2logdatainsertedschema.md
  pkg/client/docs/models/components/v2logdatanewtransaction.md
  pkg/client/docs/models/components/v2logdatarevertedtransaction.md
  pkg/client/docs/models/components/v2logdatasetmetadata.md
  pkg/client/docs/models/components/v2logtransaction.md
  pkg/client/docs/models/components/v2logtype.md
  pkg/client/models/components/v2log.go
  pkg/client/models/components/v2logdatadeletemetadata.go
  pkg/client/models/components/v2logdatainsertedschema.go
  pkg/client/models/components/v2logdatanewtransaction.go
  pkg/client/models/components/v2logdatarevertedtransaction.go
  pkg/client/models/components/v2logdatasetmetadata.go
  pkg/client/models/components/v2logtransaction.go
  pkg/client/speakeasyusagegen/.speakeasy/logs/naming.log
  test/e2e/api_logs_list_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: update doc
  docs/advanced-concepts.md
  docs/buckets-ledgers.md
  docs/data-flows.md
  docs/raft-consensus.md
  docs/storage.md
  docs/testing.md
  misc/devenv/values/ledger.yaml
Due: none

feat: add run subcommand
  README.md
  docs/deployment.md
  justfile
  misc/chart/templates/statefulset.yaml
Due: none

fix: grpc reconnection issues
  .speakeasy/gen.yaml
  docs/README.md
  docs/architecture.md
  docs/grpc-connections.md
  docs/raft-consensus.md
  go.mod
  go.sum
  internal/application/module.go
  internal/grpc/server.go
  internal/ledgerpb/ledger_grpc.pb.go
  internal/otlplogs/module.go
  internal/raft/fsm.go
  internal/raft/fsm_generated_test.go
  internal/raft/node.go
  internal/raft/node_generated_test.go
  internal/raft/node_test.go
  internal/raft/spool_default.go
  internal/raft/spool_generated_test.go
  internal/raft/transport.go
  internal/raft/transport_generated_test.go
  internal/store/pebble/store.go
  internal/store/sqlite/db.go
  internal/store/store.go
  internal/store/store_generated.go
  internal/transport/connection_pool.go
  misc/chart/values.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/formance.go
  pkg/testserver/gateway.go
  tests/e2e/ledger_delete_test.go
  tests/e2e/ledger_test.go
  tests/e2e/replica_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add staging environment
  misc/devenv/Pulumi.devenv-ledger-exp.yaml
  misc/devenv/Pulumi.gfyrag.yaml
  misc/devenv/Pulumi.staging.yaml
  misc/devenv/README.md
  misc/devenv/main.go
  misc/devenv/values/devenv-ledger-exp/benchmark-operator.yaml
  misc/devenv/values/devenv-ledger-exp/grafana.yaml
  misc/devenv/values/devenv-ledger-exp/k6operator.yaml
  misc/devenv/values/devenv-ledger-exp/ledger.yaml
  misc/devenv/values/devenv-ledger-exp/loki.yaml
  misc/devenv/values/devenv-ledger-exp/otlp.yaml
  misc/devenv/values/devenv-ledger-exp/tempo.yaml
  misc/devenv/values/devenv-ledger-exp/victoriametrics.yaml
  misc/devenv/values/staging/benchmark-operator.yaml
  misc/devenv/values/staging/grafana.yaml
  misc/devenv/values/staging/k6operator.yaml
  misc/devenv/values/staging/ledger.yaml
  misc/devenv/values/staging/loki.yaml
  misc/devenv/values/staging/otlp.yaml
  misc/devenv/values/staging/tempo.yaml
  misc/devenv/values/staging/victoriametrics.yaml
  misc/k6/justfile
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: doc
  README.md
  docs/deployment.md
  misc/devenv/Pulumi.devenv-ledger-exp.yaml
  misc/devenv/README.md
Due: none

skip main filtering when not needed
  internal/storage/ledger/resource.go
  internal/storage/ledger/resource_accounts.go
  internal/storage/ledger/resource_aggregated_balances.go
  internal/storage/ledger/resource_logs.go
  internal/storage/ledger/resource_transactions.go
  internal/storage/ledger/resource_volumes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: update metrics
  docs/metrics.md
  misc/devenv/config/grafana/provisioning/dashboards/ledger-metrics.json
Due: none

feat: add pyroscope
  AGENTS.md
  README.md
  docs/README.md
  docs/deployment.md
  docs/metrics.md
  go.mod
  go.sum
  internal/application/module.go
  internal/otlplogs/cli.go
  internal/pyroscope/config.go
  internal/pyroscope/module.go
  internal/raft/node.go
  internal/raft/node_test.go
  internal/wal/wal.go
  misc/chart/templates/statefulset.yaml
  misc/chart/values.yaml
  misc/devenv/Pulumi.devenv-ledger-exp.yaml
  misc/devenv/Pulumi.staging.yaml
  misc/devenv/README.md
  misc/devenv/config/grafana/provisioning/dashboards/ledger-metrics.json
  misc/devenv/config/grafana/provisioning/datasources/pyroscope.yml
  misc/devenv/main.go
  misc/devenv/values/devenv-ledger-exp/grafana.yaml
  misc/devenv/values/devenv-ledger-exp/ledger.yaml
  misc/devenv/values/devenv-ledger-exp/pyroscope.yaml
  misc/devenv/values/staging/grafana.yaml
  misc/devenv/values/staging/ledger.yaml
  misc/devenv/values/staging/pyroscope.yaml
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: optimize bulking
  .speakeasy/gen.yaml
  cmd/client/cluster.go
  internal/application/module.go
  internal/http/bulking/bulker.go
  internal/raft/node.go
  internal/raft/node_generated_test.go
  internal/raft/transport.go
  internal/raft/transport_channel.go
  internal/raft/transport_generated_test.go
  pkg/client/.speakeasy/gen.lock
  pkg/client/formance.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: avoid playing with big ints int the ready loop
  internal/ledgerpb/bigint.go
  internal/raft/fsm.go
  internal/store/pebble/batch.go
  internal/store/pebble/store.go
  internal/store/pebble/store_test.go
  internal/store/sqlite/batch.go
  internal/store/sqlite/store_test.go
  internal/store/store.go
  internal/store/store_generated.go
  internal/store/store_interceptor.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: optimize
  internal/ledgerpb/bigint.go
  internal/raft/fsm.go
  internal/store/pebble/batch.go
  internal/store/pebble/store_test.go
  internal/store/sqlite/batch.go
  internal/store/sqlite/store_test.go
  internal/store/store.go
  internal/store/store_generated.go
  internal/store/store_interceptor.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: some opti
  internal/store/pebble/batch.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: some opti
  docs/deployment.md
  internal/http/server.go
  misc/chart/templates/statefulset.yaml
  misc/chart/values.yaml
  misc/devenv/values/staging/ledger.yaml
  misc/k6/run-chart/values.yaml
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: shortcut some path
  internal/raft/node.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: deploy ledger nodes on different k8s nodes in staging env + scaffold sanity check endpoint
  .speakeasy/gen.yaml
  cmd/client/ledgers.go
  docs/README.md
  docs/api.md
  docs/sanity-check.md
  internal/http/handler.go
  internal/http/handlers_list_all_ledgers.go
  internal/http/handlers_sanity_check.go
  internal/http/server.go
  misc/devenv/values/staging/ledger.yaml
  openapi.yml
  pkg/client/.speakeasy/gen.lock
  pkg/client/README.md
  pkg/client/docs/sdks/ledgers/README.md
  pkg/client/formance.go
  pkg/client/ledgers.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: refine pebble parameters
  internal/store/pebble/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix dead code, backport /volumes PIT fix
  internal/storage/ledger/resource_aggregated_balances.go
  internal/storage/ledger/resource_volumes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: reduce metrics cardinality
  internal/raft/queue.go
  internal/raft/queue_observer.go
  internal/raft/transport.go
  misc/devenv/config/grafana/provisioning/dashboards/ledger-metrics.json
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: update client
  pkg/client/.speakeasy/gen.lock
  pkg/client/formance.go
  pkg/client/ledgers.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: refine k6 and remove otlp grpc stats
  .speakeasy/gen.yaml
  internal/grpc/server.go
  misc/k6/README.md
  misc/k6/justfile
  misc/k6/run-chart/templates/testrun.yaml
  misc/k6/run-chart/values.yaml
  misc/k6/scripts/any_bounded_to_any.js
  misc/k6/scripts/any_to_bank.js
  misc/k6/scripts/any_unbounded_to_any.js
  misc/k6/scripts/world_to_any.js
  misc/k6/scripts/world_to_bank.js
  misc/k6/values.staging.yaml
  misc/k6/values.yaml
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: batch grpc messages
  docs/grpc-connections.md
  docs/metrics.md
  internal/grpc/server.go
  internal/ledgerpb/ledger.pb.go
  internal/ledgerpb/ledger_grpc.pb.go
  internal/raft/node.go
  internal/raft/queue_priority.go
  internal/raft/raft_transport.pb.go
  internal/raft/raft_transport_grpc.pb.go
  internal/raft/transport.go
  internal/raft/transport_generated_test.go
  internal/transport/connection_pool.go
  misc/devenv/config/grafana/provisioning/dashboards/ledger-metrics.json
  misc/proto/raft_transport.proto
  pkg/testserver/gateway.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add replica identity on tables without primary key
  internal/storage/bucket/migrations/45-add-replica-identity/notes.yaml
  internal/storage/bucket/migrations/45-add-replica-identity/up.sql
Due: none

feat: add replica identity on tables without primary key
  internal/storage/bucket/default_bucket.go
  internal/storage/bucket/migrations/45-add-replica-identity/notes.yaml
  internal/storage/bucket/migrations/45-add-replica-identity/up.sql
  internal/storage/bucket/migrations/46-remove-useless-trigger/notes.yaml
  internal/storage/bucket/migrations/46-remove-useless-trigger/up.sql
  internal/storage/bucket/migrations/47-add-schema/notes.yaml
  internal/storage/bucket/migrations/47-add-schema/up.sql
  internal/storage/bucket/migrations/48-add-transaction-templates/notes.yaml
  internal/storage/bucket/migrations/48-add-transaction-templates/up.sql
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: some opti
  internal/raft/node.go
  internal/raft/transport.go
  misc/devenv/config/grafana/provisioning/dashboards/ledger-metrics.json
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

make coderabbit ignore generated files
  .coderabbit.yaml
Due: none

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
