Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

fix(EN-1791): sort the events-sinks response arrays by name
  internal/adapter/http/dto_sinks.go
  internal/adapter/http/dto_sinks_test.go
  internal/adapter/http/handlers_list_bucket_indexes_test.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

test(EN-1791): seed schemathesis so the new response schemas are validated
  tests/schemathesis/run.sh
  tests/schemathesis/test_api.py
Due: none

docs(EN-1791): describe the single response encoder and the sinks divergence
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/contributing/api-comparison.md
Due: none

feat(EN-1791)!: serve the index routes through response DTOs
  internal/adapter/http/encoder_contract_test.go
  internal/adapter/http/handlers_get_bucket_index.go
  internal/adapter/http/handlers_get_bucket_index_entry_status.go
  internal/adapter/http/handlers_get_index.go
  internal/adapter/http/handlers_get_index_entry_status.go
  internal/adapter/http/handlers_get_index_entry_status_test.go
  internal/adapter/http/handlers_get_index_status.go
  internal/adapter/http/handlers_get_index_status_test.go
  internal/adapter/http/handlers_get_index_test.go
  internal/adapter/http/handlers_list_bucket_indexes.go
  internal/adapter/http/handlers_list_ledger_indexes.go
  internal/adapter/http/handlers_list_ledger_indexes_test.go
  internal/adapter/http/response.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1783): assert the rejected backup prefix is empty via Contents
  tests/e2e/business/backup_s3_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(EN-1783): warn against asserting AWS SDK pointer fields by value
  docs/technical/contributing/testing.md
Due: none

chore: make agent check reproducible and complete
  scripts/agent-check
Due: none

chore: run full agent check in pinned toolchain
  scripts/agent-check-full
Due: none

fix(storage): read absent account metadata as empty when filtering as of a pit
  internal/storage/ledger/resource_accounts.go
  internal/storage/ledger/resource_aggregated_balances.go
  internal/storage/ledger/resource_volumes.go
  internal/storage/ledger/utils.go
  test/e2e/api_pit_metadata_filter_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: make agent definition of done executable (#1704)
  AGENTS.md
  scripts/agent-check
  scripts/agent-check-full
Due: none

docs(agents): document node-local config boundary
  AGENTS.md
  docs/technical/agent-context.md
  docs/technical/architecture/subsystems/admission/pipeline.md
  docs/technical/architecture/subsystems/fsm/deterministic-fsm.md
Due: none

fix(storage): restrict the volumes metadata filter to the point in time
  internal/storage/ledger/resource_volumes.go
  test/e2e/api_pit_metadata_filter_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(agents): document node-local config boundary (#1710)
  AGENTS.md
  docs/technical/agent-context.md
  docs/technical/architecture/subsystems/admission/pipeline.md
  docs/technical/architecture/subsystems/fsm/deterministic-fsm.md
Due: none

chore: add low-noise repository invariant checks
  scripts/check-repo-invariants
Due: none

chore: run repository invariant checks in agent baseline
  scripts/agent-check
Due: none

ci: enforce repository invariants
  .github/workflows/invariants.yml
Due: none

fix invariant gate findings
  .github/workflows/invariants.yml
  docs/technical/architecture/README.md
  docs/technical/architecture/repository-invariant-gates.md
  internal/infra/bloom/bloom_ready_test.go
  internal/infra/coldstorage/reader_test.go
  internal/infra/monitoring/tracesampling/exporter_test.go
  internal/infra/node/applier_async_storage_test.go
  internal/infra/state/wait_for_applied_test.go
  scripts/check-repo-invariants
  scripts/check-repo-invariants.go
  scripts/check-repo-invariants_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix blocked sink regression test
  internal/infra/node/applier_async_storage_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs: define AI review contract
  docs/technical/contributing/ai-review.md
Due: none

docs: route AI review tasks to review contract
  docs/technical/agent-context.md
Due: none

chore: mechanically enforce low-noise repository invariants (#1713)
  .github/workflows/invariants.yml
  docs/technical/architecture/README.md
  docs/technical/architecture/repository-invariant-gates.md
  internal/infra/bloom/bloom_ready_test.go
  internal/infra/coldstorage/reader_test.go
  internal/infra/monitoring/tracesampling/exporter_test.go
  internal/infra/node/applier_async_storage_test.go
  internal/infra/state/wait_for_applied_test.go
  scripts/agent-check
  scripts/check-repo-invariants
  scripts/check-repo-invariants.go
  scripts/check-repo-invariants_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(chapters): archive chapters oldest-first
  docs/ops/cli.md
  docs/technical/architecture/subsystems/chapters/lifecycle.md
  internal/application/check/checker_test.go
  internal/domain/errors.go
  internal/domain/errors_test.go
  internal/domain/processing/processor_chapter.go
  internal/domain/processing/processor_chapter_test.go
  internal/domain/processing/skip_safe_scope.go
  internal/domain/processing/store.go
  internal/domain/processing/store_generated_test.go
  internal/domain/reason.go
  internal/infra/state/chapter_tracker.go
  internal/infra/state/chapter_tracker_test.go
  internal/infra/state/write_set.go
  internal/proto/commonpb/common.pb.go
  misc/proto/common.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(chapters): read the archived prefix before the residency lookup
  internal/application/check/checker_test.go
  internal/domain/processing/processor_chapter.go
  internal/domain/processing/processor_chapter_test.go
  internal/domain/processing/processor_dispatch_test.go
  internal/domain/processing/skip_safe_scope.go
  internal/domain/processing/store.go
  internal/domain/processing/store_generated_test.go
  internal/infra/state/audit_failure_test.go
  internal/infra/state/write_set.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(e2e): pin the chapter registry across restore (currently failing)
  tests/e2e/cluster/restore_chapter_registry_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1750): refuse to confirm a cold archive that does not match the request
  internal/infra/state/archiver.go
  internal/infra/state/archiver_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(EN-1750): chapter identity across restore
  docs/ops/backup-restore.md
  docs/technical/architecture/subsystems/chapters/backup.md
Due: none

fix(EN-1750): rebuild the chapter registry in RebuildDelta
  internal/infra/backup/rebuild.go
  internal/infra/backup/rebuild_chapters_test.go
  tests/e2e/cluster/restore_chapter_registry_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1750): reject malformed chapter lifecycle logs in the rebuild
  internal/infra/backup/rebuild.go
  internal/infra/backup/rebuild_chapters_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(check): bound the stored exclusion scan to the archived audit boundary
  internal/application/check/checker.go
  internal/application/check/checker_exclusion_archived_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(agents): standardize AI code review contract (#1714)
  docs/technical/agent-context.md
  docs/technical/contributing/ai-review.md
Due: none

docs: add concise pull request template
  .github/pull_request_template.md
Due: none

docs: align pull request template guidance
  .github/pull_request_template.md
Due: none

docs: add concise pull request template (#1716)
  .github/pull_request_template.md
Due: none

docs: add concise pull request template (#1715)
  .github/pull_request_template.md
Due: none

fix(e2e): drain the fold backlog before isolated-server teardown
  tests/e2e/business/cross_store_snapshot_alignment_test.go
  tests/e2e/business/cross_store_value_skew_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(e2e): flip-direction regression on an isolated server + retryable freshness in the harness
  tests/e2e/business/cross_store_value_skew_test.go
  tests/e2e/testutil/retry_not_caught_up.go
  tests/e2e/testutil/server.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(readstore): versioned event keys for pinned-sequence metadata reads
  internal/storage/readstore/event_gc.go
  internal/storage/readstore/event_gc_test.go
  internal/storage/readstore/event_keys.go
  internal/storage/readstore/iterator_event_resolve.go
  internal/storage/readstore/iterator_event_resolve_test.go
  internal/storage/readstore/read_lease.go
  internal/storage/readstore/read_lease_test.go
  internal/storage/readstore/write_batch_events.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1748): align read-index snapshots with the main-store handle
  docs/technical/architecture/subsystems/read-path/read-snapshot-consistency.md
  internal/application/ctrl/controller_default.go
  internal/application/ctrl/list_entities.go
  internal/query/aligned_snapshot.go
  internal/query/aligned_snapshot_test.go
  internal/query/executor.go
  internal/storage/readstore/iterator_filter.go
  internal/storage/readstore/iterator_filter_test.go
  internal/storage/readstore/store.go
  tests/e2e/business/cross_store_snapshot_alignment_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
