Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

docs(numscript): describe missing-artifact recompilation in the artifact contract comments
  internal/domain/processing/numscript/vm.go
  internal/domain/processing/processor.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  misc/proto/raft_cmd.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: address comments
  docs/ops/performance-tuning.md
  internal/domain/errors.go
  internal/domain/processing/numscript/cache.go
  internal/domain/processing/numscript/cache_test.go
  internal/domain/processing/numscript/errors.go
  internal/domain/processing/numscript/errors_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Revert "fix: cache scripts by the script's hash, not the bytecode's hash"
  internal/domain/processing/numscript/cache.go
  internal/domain/processing/numscript/engine_bench_test.go
  internal/domain/processing/numscript/vm.go
  internal/domain/processing/numscript/vm_test.go
  internal/domain/processing/processor_transaction_numscript.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(protocol): move the Numscript VM execution change to revision 15
  docs/ops/deployment.md
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
  internal/proto/raftcmdpb/raft_cmd.pb.go
  misc/proto/raft_cmd.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(numscript): qualify the recompile outcome guarantee to an unchanged library
  docs/technical/architecture/subsystems/scripting/numscript-library.md
  internal/domain/processing/numscript/vm.go
  internal/domain/processing/processor_transaction_numscript.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  misc/proto/raft_cmd.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(numscript): single warm VM per artifact via the now-public Vm.Program
  go.mod
  go.sum
  internal/domain/processing/numscript/cache.go
  internal/domain/processing/numscript/vm.go
  internal/domain/processing/numscript/vm_test.go
  tests/antithesis/workload/go.mod
  tests/antithesis/workload/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(numscript): update to c8b929d (stricter typecheck/IR, static mark-balance verification)
  go.mod
  go.sum
  tests/antithesis/workload/go.mod
  tests/antithesis/workload/go.sum
Due: none

feat(numscript): execute on the VM only, reject uncompilable scripts at admission
  docs/ops/deployment.md
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
  docs/technical/architecture/subsystems/scripting/numscript-library.md
  internal/application/admission/admission.go
  internal/domain/errors.go
  internal/domain/errors_test.go
  internal/domain/processing/numscript/cache.go
  internal/domain/processing/numscript/discover.go
  internal/domain/processing/numscript/discover_test.go
  internal/domain/processing/numscript/engine_bench_test.go
  internal/domain/processing/numscript/errors.go
  internal/domain/processing/numscript/errors_test.go
  internal/domain/processing/numscript/store.go
  internal/domain/processing/numscript/vm.go
  internal/domain/processing/numscript/vm_test.go
  internal/domain/processing/processor_helpers_test.go
  internal/domain/processing/processor_transaction_numscript.go
  internal/domain/processing/processor_transaction_numscript_reference_test.go
  internal/domain/processing/processor_transaction_numscript_vm_test.go
  internal/domain/processing/processor_transaction_test.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  misc/proto/raft_cmd.proto
  tests/e2e/business/numscript_language_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

update numscript version
  docs/technical/architecture/subsystems/scripting/numscript-library.md
  go.mod
  go.sum
  internal/domain/processing/numscript/vm.go
  tests/antithesis/workload/go.mod
  tests/antithesis/workload/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(numscript): recompile a missing VM artifact instead of failing the order (#2162)
  docs/ops/deployment.md
  docs/ops/monitoring.md
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
  docs/technical/architecture/subsystems/scripting/numscript-library.md
  internal/domain/processing/processor.go
  internal/domain/processing/processor_missing_artifact_test.go
  internal/domain/processing/processor_transaction_numscript.go
  internal/domain/processing/processor_transaction_numscript_vm_test.go
  internal/domain/processing/processor_transaction_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(protocol): attribute the Numscript VM execution changes to revision 16
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
Due: none

fix(check): compile scripts when the store check re-runs orders
  docs/technical/architecture/subsystems/scripting/numscript-library.md
  internal/application/check/checker_accepted_order_test.go
  internal/domain/processing/numscript/vm.go
  internal/domain/processing/processor.go
  internal/domain/processing/processor_transaction.go
  internal/domain/processing/processor_transaction_numscript.go
  internal/infra/state/audit_replay.go
  internal/infra/state/audit_replay_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(protocol): move the Numscript VM execution change to revision 16
  docs/ops/deployment.md
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
  go.sum
  internal/domain/processing/processor_transaction_test.go
  internal/infra/state/numscript_metadata_order_test.go
  tests/antithesis/workload/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

update doc
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
Due: none

chore(numscript): update to af9bc77 (rebased feat/register-vm-ir: scoped account interpolation, error value copies, IR fixes)
  go.mod
  go.sum
  tests/antithesis/workload/go.mod
  tests/antithesis/workload/go.sum
Due: none

improve version handling
  docs/ops/deployment.md
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
  docs/technical/architecture/subsystems/scripting/numscript-library.md
  internal/domain/processing/numscript/cache.go
  internal/domain/processing/numscript/vm.go
  internal/domain/processing/numscript/vm_test.go
  internal/domain/processing/processor_transaction_numscript_vm_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs: update docs
  docs/technical/architecture/subsystems/scripting/README.md
Due: none

docs(deployment): kept pre-VM history does not re-verify under ledgerctl check
  docs/ops/deployment.md
Due: none

chore(numscript): bump to feat/register-vm-ir @52efa38 and adopt VerifiedVarsInfo
  docs/technical/architecture/subsystems/scripting/numscript-library.md
  go.mod
  go.sum
  internal/application/admission/numscript_compiled_artifact_test.go
  internal/domain/processing/numscript/cache.go
  internal/domain/processing/numscript/engine_bench_test.go
  internal/domain/processing/numscript/vm_test.go
  tests/antithesis/workload/go.mod
  tests/antithesis/workload/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(prepared-queries): page ExecutePreparedQuery LIST results in reverse
  cmd/ledgerctl/queries/execute.go
  docs/ops/cli.md
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
  docs/technical/architecture/subsystems/read-path/prepared-queries.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/http/handlers_execute_prepared_query.go
  internal/adapter/http/handlers_execute_prepared_query_test.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_dethash.pb.go
  internal/proto/servicepb/bucket_reader.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  internal/query/errors.go
  internal/query/executor.go
  internal/query/executor_reverse_test.go
  misc/proto/bucket.proto
  openapi.yml
  pkg/grpcprotocol/protocol.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/prepared_queries_read.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/prepared_queries_read_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(protocol): describe revision 17 in the compatibility contract
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
Due: none

feat(numscript): recompile an artifact of an unreadable bytecode version instead of failing the order
  docs/ops/deployment.md
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
  docs/technical/architecture/subsystems/scripting/numscript-library.md
  go.mod
  go.sum
  internal/domain/processing/numscript/cache.go
  internal/domain/processing/numscript/vm.go
  internal/domain/processing/numscript/vm_test.go
  internal/domain/processing/processor_transaction_numscript.go
  internal/domain/processing/processor_transaction_numscript_vm_test.go
  tests/antithesis/workload/go.mod
  tests/antithesis/workload/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

perf(numscript): hash the script once per FSM apply with one-shot blake3
  internal/domain/processing/numscript/cache.go
  internal/domain/processing/processor_transaction_numscript.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

edit comment
  internal/domain/processing/processor_transaction_numscript.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(query): remove PreparedQueryCursor.previous (#2176)
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common.pb.json.go
  internal/proto/commonpb/common_dethash.pb.go
  internal/proto/commonpb/common_reader.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/query/executor.go
  misc/proto/common.proto
  openapi.yml
  pkg/grpcprotocol/protocol.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/prepared_queries_read.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/prepared_queries_read_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(prepared-queries): page ExecutePreparedQuery LIST results in reverse (#2175)
  cmd/ledgerctl/queries/execute.go
  docs/ops/cli.md
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
  docs/technical/architecture/subsystems/read-path/prepared-queries.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/http/handlers_execute_prepared_query.go
  internal/adapter/http/handlers_execute_prepared_query_test.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_dethash.pb.go
  internal/proto/servicepb/bucket_reader.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  internal/query/errors.go
  internal/query/executor.go
  internal/query/executor_reverse_test.go
  misc/proto/bucket.proto
  openapi.yml
  pkg/grpcprotocol/protocol.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/prepared_queries_read.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/prepared_queries_read_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(query): reject has-asset precision overflow when saving prepared queries (EN-2608) (#2171)
  docs/technical/architecture/subsystems/read-path/prepared-queries.md
  internal/domain/prepared_query_filter_test.go
  internal/domain/validation.go
  internal/query/compile.go
  internal/query/compile_reverse.go
  tests/e2e/business/prepared_queries_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(tracing): skip OTLP error recording for selected errors
  internal/controller/ledger/controller_default.go
  internal/storage/ledger/logs.go
  internal/storage/ledger/transactions.go
  internal/tracing/tracing.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(tracing): cover SkipErrorRecordingIf and WithSpanStartOptions
  go.mod
  internal/tracing/tracing_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: allow GC to free vm-referenced data
  docs/technical/architecture/subsystems/scripting/numscript-library.md
  go.mod
  go.sum
  internal/domain/processing/numscript/engine_bench_test.go
  internal/domain/processing/numscript/vm.go
  internal/domain/processing/numscript/vm_test.go
  tests/antithesis/workload/go.mod
  tests/antithesis/workload/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(metrics): use go-libs v5.10.0 metrics prefix, drop --metrics-naming
  cmd/server/server.go
  cmd/server/server_test.go
  docs/ops/cli.md
  docs/ops/deployment.md
  docs/ops/monitoring.md
  go.mod
  go.sum
  internal/bootstrap/config.go
  internal/bootstrap/config_test.go
  internal/bootstrap/meter_provider_test.go
  internal/bootstrap/module.go
  internal/infra/monitoring/metrics/factory.go
  internal/infra/monitoring/metrics/factory_test.go
  internal/infra/monitoring/metrics/naming.go
  internal/infra/monitoring/metrics/prefix.go
  internal/infra/monitoring/metrics/registry_test.go
  internal/infra/monitoring/metrics/wrapped_meter.go
  internal/infra/state/machine.go
  misc/devenv/monitoring-dashboards/README.md
  misc/devenv/monitoring-dashboards/dashboard_test.go
  misc/devenv/monitoring-dashboards/jsonnet/lib/naming.libsonnet
  misc/operator/api/v1alpha1/cluster_types.go
  misc/operator/config/crd/bases/ledger.formance.com_clusters.yaml
  misc/operator/helm/crds/templates/ledger.formance.com_clusters.yaml
  misc/operator/internal/controller/envvars.go
  misc/operator/internal/controller/envvars_test.go
  tests/antithesis/workload/go.mod
  tests/antithesis/workload/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(ledgerctl,pagecursor): keep page hints on terminal pages and reject trailing token data
  cmd/ledgerctl/accounts/list.go
  cmd/ledgerctl/ledgers/list.go
  cmd/ledgerctl/numscripts/list.go
  cmd/ledgerctl/signing/list.go
  cmd/ledgerctl/transactions/list.go
  pkg/pagecursor/pagecursor.go
  pkg/pagecursor/pagecursor_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(ledgerctl,pagecursor): emit page hints on empty pages and reject null tokens
  cmd/ledgerctl/accounts/list.go
  cmd/ledgerctl/audit/list.go
  cmd/ledgerctl/logs/list.go
  cmd/ledgerctl/transactions/list.go
  pkg/pagecursor/pagecursor.go
  pkg/pagecursor/pagecursor_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(ledgerctl): show page hints before the next-page prompt and use page tokens in help examples
  cmd/ledgerctl/accounts/list.go
  cmd/ledgerctl/transactions/list.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(prepared-queries): state that ListPreparedQueries is unpaged
  docs/technical/architecture/subsystems/read-path/prepared-queries.md
Due: none

feat(tracing): skip OTLP error recording for selected errors (#2177)
  go.mod
  internal/controller/ledger/controller_default.go
  internal/storage/ledger/logs.go
  internal/storage/ledger/transactions.go
  internal/tracing/tracing.go
  internal/tracing/tracing_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(tracing): stop recording expected not-found errors on spans
  go.mod
  internal/controller/ledger/controller_default.go
  internal/storage/ledger/logs.go
  internal/storage/ledger/transactions.go
  internal/tracing/tracing.go
  internal/tracing/tracing_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(readstore): give each parallel inspect subtest its own KeyBuilder
  internal/storage/readstore/inspect_page_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests
