Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

ci: remove useless step
  .github/workflows/main.yml
Due: none

fix: migrations
  internal/README.md
  internal/ledger.go
  internal/storage/system/migrations.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add missing migrations to clean database
  internal/storage/bucket/migrations/19-clean-database/notes.yaml
  internal/storage/bucket/migrations/19-clean-database/up.sql
  internal/storage/ledger/balances.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: recreate account index concurrently
  internal/storage/bucket/migrations/19-accounts-recreate-unique-index/notes.yaml
  internal/storage/bucket/migrations/19-accounts-recreate-unique-index/up.sql
  internal/storage/bucket/migrations/20-clean-database/notes.yaml
  internal/storage/bucket/migrations/20-clean-database/up.sql
  internal/storage/driver/driver.go
  internal/storage/ledger/adapters.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: update dependencies (#592)
  Earthfile
  deployments/helm/Earthfile
  deployments/pulumi/Earthfile
  go.mod
  go.sum
  internal/storage/bucket/migrations_test.go
  test/rolling-upgrades/Earthfile
  test/rolling-upgrades/go.mod
  test/rolling-upgrades/go.sum
  tools/generator/Earthfile
  tools/generator/go.mod
  tools/generator/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: after rebase
  internal/storage/bucket/bucket.go
  internal/storage/bucket/default_bucket.go
  internal/storage/bucket/migrations/24-accounts-recreate-unique-index/notes.yaml
  internal/storage/bucket/migrations/24-accounts-recreate-unique-index/up.sql
  internal/storage/bucket/migrations/25-clean-database/notes.yaml
  internal/storage/bucket/migrations/25-clean-database/up.sql
  internal/storage/driver/adapters.go
  internal/storage/ledger/adapters.go
  internal/storage/ledger/balances_test.go
  internal/storage/ledger/legacy/adapters.go
  internal/storage/ledger/legacy/main_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: use accounts_volumes table directly to get balances
  internal/storage/bucket/migrations/19-accounts-recreate-unique-index/up.sql
  internal/storage/bucket/migrations/20-clean-database/up.sql
  internal/storage/ledger/balances.go
  internal/storage/ledger/balances_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove legacy storage
  internal/storage/bucket/bucket.go
  internal/storage/ledger/adapters.go
  internal/storage/ledger/legacy/accounts.go
  internal/storage/ledger/legacy/accounts_test.go
  internal/storage/ledger/legacy/balances.go
  internal/storage/ledger/legacy/balances_test.go
  internal/storage/ledger/legacy/debug.go
  internal/storage/ledger/legacy/errors.go
  internal/storage/ledger/legacy/logs.go
  internal/storage/ledger/legacy/logs_test.go
  internal/storage/ledger/legacy/store.go
  internal/storage/ledger/legacy/transactions.go
  internal/storage/ledger/legacy/transactions_test.go
  internal/storage/ledger/legacy/utils.go
  internal/storage/ledger/legacy/volumes.go
  internal/storage/ledger/legacy/volumes_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: reorder migrations
  go.mod
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_default_test.go
  internal/controller/ledger/store.go
  internal/controller/ledger/store_generated_test.go
  internal/storage/bucket/migrations/23-accounts-recreate-unique-index/notes.yaml
  internal/storage/bucket/migrations/23-accounts-recreate-unique-index/up.sql
  internal/storage/bucket/migrations/24-clean-database/notes.yaml
  internal/storage/bucket/migrations/24-clean-database/up.sql
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

ci: Rework tests
  .github/workflows/main.yml
Due: none

debug: set otel logger to debug
  cmd/serve.go
  go.mod
  go.sum
  tools/generator/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: volumes
  Earthfile
  cmd/serve.go
  go.mod
  internal/controller/ledger/controller_default.go
  test/volumes/deploy/Pulumi.yaml
  test/volumes/deploy/ec2/ledger/.config/otel-collector/config.yaml
  test/volumes/deploy/ec2/ledger/.config/systemd/user/ledger.service
  test/volumes/deploy/ec2/ledger/.config/systemd/user/otel-collector.service
  test/volumes/deploy/go.mod
  test/volumes/deploy/go.sum
  test/volumes/deploy/main.go
  test/volumes/deploy/setupEC2.sh
  test/volumes/driver/Earthfile
  test/volumes/driver/cmd/root.go
  test/volumes/driver/go.mod
  test/volumes/driver/go.sum
  test/volumes/driver/internal/run.go
  test/volumes/driver/internal/script.js
  test/volumes/driver/main.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

wip
  test/volumes/deploy/ec2/driver/.config/systemd/user/driver.service
  test/volumes/deploy/ec2/ledger/.config/otel-collector/config.yaml
  test/volumes/deploy/ec2/ledger/.config/systemd/user/otel-collector.service
  test/volumes/deploy/ec2/setup.sh
  test/volumes/deploy/go.mod
  test/volumes/deploy/go.sum
  test/volumes/deploy/main.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: some pulumi split
  Earthfile
  deployments/pulumi/Earthfile
  deployments/pulumi/ledger/Earthfile
  deployments/pulumi/ledger/Pulumi.yaml
  deployments/pulumi/ledger/README.md
  deployments/pulumi/ledger/go.mod
  deployments/pulumi/ledger/go.sum
  deployments/pulumi/ledger/main.go
  deployments/pulumi/ledger/pkg/component.go
  deployments/pulumi/main.go
  deployments/pulumi/postgres/Earthfile
  deployments/pulumi/postgres/Pulumi.yaml
  deployments/pulumi/postgres/go.mod
  deployments/pulumi/postgres/go.sum
  deployments/pulumi/postgres/main.go
  deployments/pulumi/postgres/pkg/component.go
  test/rolling-upgrades/Earthfile
  test/rolling-upgrades/generator/Earthfile
  test/rolling-upgrades/generator/Pulumi.yaml
  test/rolling-upgrades/generator/go.mod
  test/rolling-upgrades/generator/go.sum
  test/rolling-upgrades/generator/main.go
  test/rolling-upgrades/generator/pkg/component.go
  test/rolling-upgrades/main_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

wip
  deployments/pulumi/ledger/pkg/component.go
  pkg/generate/set.go
  test/rolling-upgrades/generator/pkg/component.go
  test/rolling-upgrades/main_test.go
  tools/dataset/Pulumi.yaml
  tools/dataset/go.mod
  tools/dataset/go.sum
  tools/dataset/main.go
  tools/dataset/pkg/dataset.go
  tools/dataset/pkg/rds.go
  tools/generator/pulumi/Earthfile
  tools/generator/pulumi/Pulumi.yaml
  tools/generator/pulumi/go.mod
  tools/generator/pulumi/go.sum
  tools/generator/pulumi/main.go
  tools/generator/pulumi/pkg/component.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(bulk): regression on bulk endpoint using content type application/json
  internal/api/v2/controllers_bulk.go
  internal/api/v2/controllers_bulk_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add dataset gen
  .github/workflows/dataset.yml
  tools/dataset/main.go
  tools/dataset/pkg/dataset.go
  tools/generator/pulumi/pkg/component.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

wip
  .github/workflows/dataset.yml
  deployments/helm/.helmignore
  deployments/helm/Chart.yaml
  deployments/helm/Earthfile
  deployments/helm/README.md
  deployments/helm/templates/NOTES.txt
  deployments/helm/templates/_helpers.tpl
  deployments/helm/templates/deployment.yaml
  deployments/helm/templates/hpa.yaml
  deployments/helm/templates/ingress.yaml
  deployments/helm/templates/service.yaml
  deployments/helm/templates/serviceaccount.yaml
  deployments/helm/templates/tests/test-connection.yaml
  deployments/helm/values.yaml
  deployments/pulumi/ledger/pkg/component.go
  tools/dataset/main.go
  tools/dataset/pkg/dataset.go
  tools/dataset/pkg/rds.go
  tools/generator/pulumi/pkg/component.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

wip
  .github/workflows/dataset.yml
  tools/dataset/pkg/dataset.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: test CI
  .github/workflows/dataset.yml
  .github/workflows/test_data.yml
  pkg/generate/set.go
  tools/dataset/pkg/rds.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: clean
  Earthfile
  deployments/pulumi/Earthfile
  deployments/pulumi/Pulumi.yaml
  deployments/pulumi/README.md
  deployments/pulumi/go.mod
  deployments/pulumi/go.sum
  deployments/pulumi/ledger/go.mod
  deployments/pulumi/ledger/go.sum
  deployments/pulumi/ledger/main.go
  deployments/pulumi/ledger/pkg/component.go
  deployments/pulumi/main.go
  deployments/pulumi/main_test.go
  deployments/pulumi/pkg/component.go
  deployments/pulumi/postgres/Earthfile
  deployments/pulumi/postgres/Pulumi.yaml
  deployments/pulumi/postgres/go.mod
  deployments/pulumi/postgres/go.sum
  deployments/pulumi/postgres/main.go
  deployments/pulumi/postgres/pkg/component.go
  test/rolling-upgrades/Earthfile
  test/rolling-upgrades/README.md
  test/rolling-upgrades/go.mod
  test/rolling-upgrades/main_test.go
  tools/dataset/Pulumi.yaml
  tools/dataset/go.mod
  tools/dataset/go.sum
  tools/dataset/main.go
  tools/dataset/pkg/dataset.go
  tools/dataset/pkg/rds.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: account encoding at api level
  internal/account.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: account encoding at api level (#600)
  internal/account.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: update dependencies (#592)
  docs/api/README.md
  openapi.yaml
  openapi/v2.yaml
  test/e2e/api_accounts_list_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: update dependencies (#592) (#599)
  docs/api/README.md
  openapi.yaml
  openapi/v2.yaml
  test/e2e/api_accounts_list_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

wip
  .github/workflows/dataset.yml
  .github/workflows/main.yml
  .github/workflows/test_data.yml
  Earthfile
  deployments/pulumi/go.mod
  deployments/pulumi/go.sum
  deployments/pulumi/main.go
  deployments/pulumi/pkg/component.go
  tools/generator/pulumi/Earthfile
  tools/generator/pulumi/Pulumi.yaml
  tools/generator/pulumi/go.mod
  tools/generator/pulumi/go.sum
  tools/generator/pulumi/main.go
  tools/generator/pulumi/pkg/component.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: missing features migrations for existing ledgers
  internal/README.md
  internal/storage/system/migrations.go
  internal/storage/system/migrations_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: missing features migrations for existing ledgers (#601)
  internal/README.md
  internal/storage/system/migrations.go
  internal/storage/system/migrations_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: remove some infrastructure tests (moved to dedicated repository) (#596)
  .github/workflows/main.yml
  Earthfile
  deployments/helm/.helmignore
  deployments/helm/Chart.yaml
  deployments/helm/Earthfile
  deployments/helm/README.md
  deployments/helm/templates/NOTES.txt
  deployments/helm/templates/_helpers.tpl
  deployments/helm/templates/deployment.yaml
  deployments/helm/templates/hpa.yaml
  deployments/helm/templates/ingress.yaml
  deployments/helm/templates/service.yaml
  deployments/helm/templates/serviceaccount.yaml
  deployments/helm/templates/tests/test-connection.yaml
  deployments/helm/values.yaml
  deployments/pulumi/Earthfile
  deployments/pulumi/go.mod
  deployments/pulumi/go.sum
  deployments/pulumi/main.go
  deployments/pulumi/main_test.go
  deployments/pulumi/pkg/component.go
  pkg/generate/set.go
  test/rolling-upgrades/Earthfile
  test/rolling-upgrades/README.md
  test/rolling-upgrades/go.mod
  test/rolling-upgrades/go.sum
  test/rolling-upgrades/main_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(upgrades): upgrades when creating a new ledger on an already migration bucket
  docs/api/README.md
  internal/README.md
  internal/api/common/errors.go
  internal/api/v2/controllers_ledgers_create.go
  internal/api/v2/controllers_ledgers_create_test.go
  internal/controller/system/errors.go
  internal/storage/bucket/bucket.go
  internal/storage/bucket/default_bucket.go
  internal/storage/driver/buckets_generated_test.go
  internal/storage/driver/driver.go
  internal/storage/driver/driver_test.go
  openapi.yaml
  openapi/v2.yaml
  tools/generator/cmd/root.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(upgrades): upgrades when creating a new ledger on an already migration bucket (#602)
  docs/api/README.md
  internal/README.md
  internal/api/common/errors.go
  internal/api/v2/controllers_ledgers_create.go
  internal/api/v2/controllers_ledgers_create_test.go
  internal/controller/system/errors.go
  internal/storage/bucket/bucket.go
  internal/storage/bucket/default_bucket.go
  internal/storage/driver/buckets_generated_test.go
  internal/storage/driver/driver.go
  internal/storage/driver/driver_test.go
  openapi.yaml
  openapi/v2.yaml
  tools/generator/cmd/root.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: blocking migrations
  docs/database/_default/diagrams/summary/relationships.real.compact.dot
  docs/database/_default/diagrams/summary/relationships.real.compact.png
  docs/database/_default/diagrams/summary/relationships.real.large.dot
  docs/database/_default/diagrams/summary/relationships.real.large.png
  docs/database/_default/diagrams/tables/accounts.1degree.dot
  docs/database/_default/diagrams/tables/accounts.1degree.png
  docs/database/_default/diagrams/tables/accounts.2degrees.dot
  docs/database/_default/diagrams/tables/accounts.2degrees.png
  docs/database/_default/diagrams/tables/moves.1degree.dot
  docs/database/_default/diagrams/tables/moves.1degree.png
  docs/database/_default/diagrams/tables/moves.2degrees.dot
  docs/database/_default/diagrams/tables/transactions.1degree.dot
  docs/database/_default/diagrams/tables/transactions.1degree.png
  docs/database/_default/diagrams/tables/transactions.2degrees.dot
  docs/database/_default/diagrams/tables/transactions.2degrees.png
  internal/storage/bucket/migrations/15-create-ledger-indexes/up.sql
  internal/storage/bucket/migrations/23-delete-orphan-indices/notes.yaml
  internal/storage/bucket/migrations/23-delete-orphan-indices/up.sql
  internal/storage/bucket/migrations/23-delete-orphan-indices/up_tests_before.sql
  internal/storage/bucket/migrations/23-noop-keep-for-compatibility/notes.yaml
  internal/storage/bucket/migrations/23-noop-keep-for-compatibility/up.sql
  internal/storage/ledger/main_test.go
  pkg/client/.speakeasy/gen.lock
  pkg/client/docs/models/components/v2errorsenum.md
  pkg/client/docs/models/operations/v2countaccountsrequest.md
  pkg/client/docs/models/operations/v2counttransactionsrequest.md
  pkg/client/docs/models/operations/v2listaccountsrequest.md
  pkg/client/docs/models/operations/v2listtransactionsrequest.md
  pkg/client/docs/sdks/v2/README.md
  pkg/client/models/components/v2errorsenum.go
  pkg/client/models/operations/v2countaccounts.go
  pkg/client/models/operations/v2counttransactions.go
  pkg/client/models/operations/v2listaccounts.go
  pkg/client/models/operations/v2listtransactions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: blocking migrations (#604)
  docs/database/_default/diagrams/summary/relationships.real.compact.dot
  docs/database/_default/diagrams/summary/relationships.real.compact.png
  docs/database/_default/diagrams/summary/relationships.real.large.dot
  docs/database/_default/diagrams/summary/relationships.real.large.png
  docs/database/_default/diagrams/tables/accounts.1degree.dot
  docs/database/_default/diagrams/tables/accounts.1degree.png
  docs/database/_default/diagrams/tables/accounts.2degrees.dot
  docs/database/_default/diagrams/tables/accounts.2degrees.png
  docs/database/_default/diagrams/tables/moves.1degree.dot
  docs/database/_default/diagrams/tables/moves.1degree.png
  docs/database/_default/diagrams/tables/moves.2degrees.dot
  docs/database/_default/diagrams/tables/transactions.1degree.dot
  docs/database/_default/diagrams/tables/transactions.1degree.png
  docs/database/_default/diagrams/tables/transactions.2degrees.dot
  docs/database/_default/diagrams/tables/transactions.2degrees.png
  internal/storage/bucket/migrations/15-create-ledger-indexes/up.sql
  internal/storage/bucket/migrations/23-delete-orphan-indices/notes.yaml
  internal/storage/bucket/migrations/23-delete-orphan-indices/up.sql
  internal/storage/bucket/migrations/23-delete-orphan-indices/up_tests_before.sql
  internal/storage/bucket/migrations/23-noop-keep-for-compatibility/notes.yaml
  internal/storage/bucket/migrations/23-noop-keep-for-compatibility/up.sql
  internal/storage/ledger/main_test.go
  pkg/client/.speakeasy/gen.lock
  pkg/client/docs/models/components/v2errorsenum.md
  pkg/client/docs/models/operations/v2countaccountsrequest.md
  pkg/client/docs/models/operations/v2counttransactionsrequest.md
  pkg/client/docs/models/operations/v2listaccountsrequest.md
  pkg/client/docs/models/operations/v2listtransactionsrequest.md
  pkg/client/docs/sdks/v2/README.md
  pkg/client/models/components/v2errorsenum.go
  pkg/client/models/operations/v2countaccounts.go
  pkg/client/models/operations/v2counttransactions.go
  pkg/client/models/operations/v2listaccounts.go
  pkg/client/models/operations/v2listtransactions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

wip
  deployments/pulumi/main.go
  deployments/pulumi/main_test.go
  deployments/pulumi/pkg/component.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add configurable timeout on generator image
  tools/generator/cmd/root.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: change startup probe using healthcheck instead of delaying the server startup
  cmd/buckets_upgrade.go
  cmd/root.go
  deployments/pulumi/pkg/component.go
  docs/api/README.md
  internal/api/common/errors.go
  internal/api/v2/controllers_ledgers_create.go
  internal/api/v2/controllers_ledgers_create_test.go
  internal/storage/bucket/bucket.go
  internal/storage/bucket/default_bucket.go
  internal/storage/bucket/default_bucket_test.go
  internal/storage/bucket/migrations.go
  internal/storage/driver/buckets_generated_test.go
  internal/storage/driver/driver.go
  internal/storage/driver/driver_test.go
  internal/storage/driver/system_generated_test.go
  internal/storage/ledger/legacy/main_test.go
  internal/storage/module.go
  internal/storage/system/store.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.yaml
  pkg/client/docs/models/components/v2bulkresponse.md
  pkg/client/formance.go
  pkg/client/models/components/v2bulkresponse.go
  pkg/generate/generator.go
  pkg/testserver/server.go
  test/e2e/app_lifecycle_test.go
  test/migrations/upgrade_test.go
  tools/generator/cmd/root.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: move migration order to create an index concurrently
  internal/storage/bucket/migrations/16-create-transaction-id-index-on-moves/notes.yaml
  internal/storage/bucket/migrations/16-create-transaction-id-index-on-moves/up.sql
  internal/storage/bucket/migrations/17-moves-fill-transaction-id/notes.yaml
  internal/storage/bucket/migrations/17-moves-fill-transaction-id/up.sql
  internal/storage/bucket/migrations/17-moves-fill-transaction-id/up_tests_after.sql
  internal/storage/bucket/migrations/17-moves-fill-transaction-id/up_tests_before.sql
  internal/storage/bucket/migrations/18-transactions-fill-inserted-at/notes.yaml
  internal/storage/bucket/migrations/18-transactions-fill-inserted-at/up.sql
  internal/storage/bucket/migrations/18-transactions-fill-inserted-at/up_tests_after.sql
  internal/storage/bucket/migrations/18-transactions-fill-inserted-at/up_tests_before.sql
  internal/storage/bucket/migrations/19-transactions-fill-pcv/notes.yaml
  internal/storage/bucket/migrations/19-transactions-fill-pcv/up.sql
  internal/storage/bucket/migrations/19-transactions-fill-pcv/up_tests_after.sql
  internal/storage/bucket/migrations/19-transactions-fill-pcv/up_tests_before.sql
  internal/storage/bucket/migrations/20-accounts-volumes-fill-history/notes.yaml
  internal/storage/bucket/migrations/20-accounts-volumes-fill-history/up.sql
  internal/storage/bucket/migrations/20-accounts-volumes-fill-history/up_tests_after.sql
  internal/storage/bucket/migrations/20-accounts-volumes-fill-history/up_tests_before.sql
  internal/storage/bucket/migrations/21-transactions-metadata-fill-transaction-id/notes.yaml
  internal/storage/bucket/migrations/21-transactions-metadata-fill-transaction-id/up.sql
  internal/storage/bucket/migrations/21-transactions-metadata-fill-transaction-id/up_tests_after.sql
  internal/storage/bucket/migrations/21-transactions-metadata-fill-transaction-id/up_tests_before.sql
  internal/storage/bucket/migrations/22-accounts-metadata-fill-address/notes.yaml
  internal/storage/bucket/migrations/22-accounts-metadata-fill-address/up.sql
  internal/storage/bucket/migrations/22-accounts-metadata-fill-address/up_tests_after.sql
  internal/storage/bucket/migrations/22-accounts-metadata-fill-address/up_tests_before.sql
  internal/storage/bucket/migrations/23-logs-fill-memento/notes.yaml
  internal/storage/bucket/migrations/23-logs-fill-memento/up.sql
  internal/storage/bucket/migrations/23-logs-fill-memento/up_tests_after.sql
  internal/storage/bucket/migrations/23-logs-fill-memento/up_tests_before.sql
  internal/storage/bucket/migrations/23-noop-keep-for-compatibility/notes.yaml
  internal/storage/bucket/migrations/23-noop-keep-for-compatibility/up.sql
Due: none

fix: blocking migration
  internal/storage/bucket/migrations/17-moves-fill-transaction-id/up.sql
  internal/storage/bucket/migrations/19-transactions-fill-pcv/up.sql
  internal/storage/bucket/migrations/21-transactions-metadata-fill-transaction-id/up.sql
  internal/storage/bucket/migrations/22-accounts-metadata-fill-address/up.sql
  internal/storage/bucket/migrations/23-logs-fill-memento/up.sql
Due: none
