Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

fix: first
  go.mod
  go.sum
  pkg/api/controllers/transaction_controller_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: first
  pkg/api/controllers/script_controller_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: new test
  pkg/api/controllers/script_controller.go
  pkg/api/controllers/transaction_controller_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: Deprecate query params and switch to camelCase (#400)
  pkg/api/controllers/account_controller.go
  pkg/api/controllers/account_controller_test.go
  pkg/api/controllers/balance_controller.go
  pkg/api/controllers/balance_controller_test.go
  pkg/api/controllers/info.go
  pkg/api/controllers/ledger_controller.go
  pkg/api/controllers/ledger_controller_test.go
  pkg/api/controllers/mapping_controller.go
  pkg/api/controllers/pagination_test.go
  pkg/api/controllers/query.go
  pkg/api/controllers/script_controller.go
  pkg/api/controllers/script_controller_test.go
  pkg/api/controllers/swagger.yaml
  pkg/api/controllers/transaction_controller.go
  pkg/api/controllers/transaction_controller_test.go
  pkg/storage/sqlstorage/accounts.go
  pkg/storage/sqlstorage/accounts_test.go
  pkg/storage/sqlstorage/pagination.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: Swagger deprecated response fields (#403)
  main.go
  pkg/api/controllers/swagger.yaml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: keep in cache already created ledgers
  pkg/storage/sqlstorage/driver.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: update readme
  README.md
Due: none

fix: Post script conflict reference (#416)
  pkg/api/controllers/script_controller.go
  pkg/api/controllers/script_controller_test.go
  pkg/api/controllers/transaction_controller_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: Numscript: Parse monetary variables with negative amount (#415)
  go.mod
  go.sum
  pkg/api/controllers/transaction_controller_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: Add Wallets in OpenAPI
  openapi/base.yaml
  openapi/build/generate.json
  openapi/build/generate.json-e
Due: none

fix: first
  pkg/ledger/ledger.go
  pkg/ledger/ledger_test.go
  pkg/ledger/resolver.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: cache capacity to 100 numscripts
  cmd/container.go
  cmd/container_test.go
  cmd/root.go
  pkg/api/internal/testing.go
  pkg/ledger/resolver.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: flag name
  cmd/root.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: first
  pkg/api/controllers/context_test.go
  pkg/api/controllers/swagger.yaml
  pkg/api/internal/testing.go
  pkg/api/routes/routes.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: cleanup
  pkg/ledger/ledger_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: Ristretto cache for Numscript initialization modification (#417)
  cmd/container.go
  cmd/container_test.go
  cmd/root.go
  pkg/api/internal/testing.go
  pkg/ledger/ledger.go
  pkg/ledger/ledger_test.go
  pkg/ledger/resolver.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: Rename route `GET /log` to `/logs` (#418)
  pkg/api/controllers/context_test.go
  pkg/api/controllers/swagger.yaml
  pkg/api/internal/testing.go
  pkg/api/routes/routes.go
  pkg/ledger/ledger_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(labeler): Add Auto Labeler for PR (#26)
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: none

chore: first
  pkg/core/numscript.go
  pkg/ledger/executor.go
  pkg/ledger/executor_test.go
  pkg/ledger/ledger.go
  pkg/ledger/ledger_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: cleanup
  pkg/ledger/ledger_test.go
  pkg/ledger/resolver.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add some traces
  pkg/api/middlewares/transaction.go
  pkg/ledger/executor.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: improve cache config
  cmd/container.go
  cmd/container_test.go
  cmd/root.go
  go.mod
  go.sum
  pkg/api/internal/testing.go
  pkg/ledger/cache.go
  pkg/ledger/executor.go
  pkg/ledger/executor_test.go
  pkg/ledger/ledger.go
  pkg/ledger/ledger_test.go
  pkg/ledger/resolver.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add some traces (#420)
  pkg/api/middlewares/transaction.go
  pkg/ledger/executor.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: improve cache config
  cmd/container_test.go
  pkg/ledger/resolver.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: backport traces
  pkg/api/middlewares/transaction.go
  pkg/ledger/executor.go
  pkg/opentelemetry/tracer.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add traces
  pkg/ledger/executor.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: first
  Taskfile.yaml
  pkg/api/controllers/script_controller.go
  pkg/api/controllers/transaction_controller.go
  pkg/ledger/execute_scripts.go
  pkg/ledger/execute_scripts_test.go
  pkg/ledger/execute_txsdata.go
  pkg/ledger/execute_txsdata_test.go
  pkg/ledger/ledger.go
  pkg/ledger/ledger_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: bench
  Taskfile.yaml
  pkg/ledger/execute_txsdata_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: remove logging
  pkg/ledger/executor.go
  pkg/storage/sqlstorage/driver.go
  pkg/storage/sqlstorage/logs.go
  pkg/storage/sqlstorage/transactions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: remove logger context id key
  pkg/api/middlewares/ledger_middleware.go
  pkg/ledger/executor.go
  pkg/storage/sqlstorage/transactions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: comment tests
  pkg/api/controllers/context_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: Remove logs for cache
  pkg/ledger/executor.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: disable sql traces
  pkg/storage/sqlstorage/driver.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: commit transactions before write responses
  pkg/api/middlewares/transaction.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests
