Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

docs(audit): define integrity verifier soundness domain (#1995)
  docs/technical/audits/integrity-verifier-soundness.json
  docs/technical/audits/integrity-verifier-soundness.md
Due: none

fix(grpc): report a concurrently deleted query checkpoint as NotFound (EN-1978)
  internal/adapter/grpc/server_bucket.go
  internal/adapter/grpc/server_bucket_checkpoint_gate_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(events): reject bodyless HTTP redirect acknowledgements (EN-2022) (#1990)
  docs/technical/architecture/subsystems/events-mirror/README.md
  docs/technical/architecture/subsystems/events-mirror/events.md
  internal/application/events/sink_http.go
  internal/application/events/sink_http_redirect_policy_test.go
  internal/application/events/sink_http_redirect_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(http): preserve exact metadata integers (EN-2014) (#1981)
  docs/technical/architecture/subsystems/api/README.md
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/http/handlers_revert_transaction.go
  internal/adapter/http/metadata_integers_test.go
  internal/adapter/http/params.go
  internal/adapter/json/numbers.go
  internal/adapter/json/numbers_test.go
  internal/proto/commonpb/common.pb.json.go
  internal/proto/commonpb/metadata.go
  internal/proto/commonpb/metadata_number_test.go
  internal/proto/servicepb/metadata_integers_test.go
  internal/proto/servicepb/service.pb.json.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(auth): enforce deployment JWT audiences (EN-1926)
  cmd/ledgerctl/auth/generate_key.go
  cmd/ledgerctl/auth/generate_token.go
  cmd/ledgerctl/auth/generate_token_test.go
  cmd/ledgerctl/auth/login.go
  cmd/ledgerctl/auth/login_test.go
  cmd/server/server.go
  cmd/server/server_test.go
  docs/ops/authentication.md
  docs/ops/cli.md
  docs/ops/deployment.md
  docs/technical/architecture/subsystems/api/README.md
  docs/technical/architecture/subsystems/api/auth.md
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/auth/audience_test.go
  internal/adapter/auth/grpc_auth.go
  internal/adapter/auth/grpc_auth_test.go
  internal/adapter/auth/http_middleware_test.go
  internal/adapter/grpc/server_mutation_auth_context_test.go
  internal/adapter/http/route_scope_exhaustiveness_test.go
  internal/bootstrap/config.go
  internal/bootstrap/config_test.go
  internal/bootstrap/module.go
  internal/bootstrap/module_test.go
  misc/operator/README.md
  misc/operator/api/v1alpha1/cluster_types.go
  misc/operator/config/crd/bases/ledger.formance.com_clusters.yaml
  misc/operator/helm/crds/templates/ledger.formance.com_clusters.yaml
  misc/operator/internal/controller/cluster_controller.go
  misc/operator/internal/controller/envvars.go
  misc/operator/internal/controller/envvars_test.go
  misc/operator/internal/controller/reconcile_auth_keys_test.go
  misc/operator/internal/controller/reconcile_auth_keys_unit_test.go
  misc/operator/internal/controller/validate_cluster_config_test.go
  openapi.yml
  pkg/testserver/testserver.go
  tests/e2e/cluster/auth_test.go
  tests/e2e/cluster/auth_writes_only_test.go
  tests/e2e/cluster/ed25519_auth_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(auth): scope audience checks to OIDC trust (EN-1926)
  cmd/ledgerctl/auth/generate_key.go
  cmd/ledgerctl/auth/generate_token.go
  cmd/ledgerctl/auth/generate_token_test.go
  cmd/ledgerctl/auth/login.go
  cmd/ledgerctl/auth/login_test.go
  cmd/server/server.go
  docs/ops/authentication.md
  docs/ops/cli.md
  docs/ops/deployment.md
  docs/technical/architecture/subsystems/api/README.md
  docs/technical/architecture/subsystems/api/auth.md
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/auth/audience_test.go
  internal/adapter/auth/grpc_auth.go
  internal/adapter/auth/grpc_auth_test.go
  internal/adapter/auth/http_middleware_test.go
  internal/adapter/grpc/server_mutation_auth_context_test.go
  internal/bootstrap/config.go
  internal/bootstrap/config_test.go
  internal/bootstrap/module.go
  internal/bootstrap/module_test.go
  misc/operator/README.md
  misc/operator/api/v1alpha1/cluster_types.go
  misc/operator/config/crd/bases/ledger.formance.com_clusters.yaml
  misc/operator/helm/crds/templates/ledger.formance.com_clusters.yaml
  misc/operator/internal/controller/cluster_controller.go
  misc/operator/internal/controller/envvars_test.go
  misc/operator/internal/controller/reconcile_auth_keys_test.go
  misc/operator/internal/controller/reconcile_auth_keys_unit_test.go
  misc/operator/internal/controller/validate_cluster_config_test.go
  openapi.yml
  tests/e2e/cluster/ed25519_auth_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

test(antithesis): synchronize and supervise runner fixtures
  tests/antithesis/README.md
  tests/antithesis/model_fixture_lifecycle_test.go
  tests/antithesis/model_fixture_test.go
  tests/antithesis/run_model_test_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(antithesis): serialize subprocess-heavy runner scenarios
  tests/antithesis/README.md
  tests/antithesis/run_model_test_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

style(antithesis): apply canonical fixture formatting
  tests/antithesis/model_fixture_lifecycle_test.go
  tests/antithesis/model_fixture_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(antithesis): allow scheduling slack in fixture watchdog
  tests/antithesis/README.md
  tests/antithesis/run_model_test_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(auth): reserve protocol revision after target synchronization
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
  pkg/grpcprotocol/protocol.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(auth): align discovery example with protocol revision
  docs/ops/cli.md
Due: none

fix(EN-1874): validate complete member changes and snapshot discovery
  cmd/server/join_auth_test.go
  cmd/server/server.go
  docs/ops/cli.md
  docs/technical/architecture/subsystems/consensus/removed-member-registry.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/grpc/server_cluster.go
  internal/adapter/grpc/server_cluster_add_learner_test.go
  internal/application/membership/membership.go
  internal/infra/membership/confchange.go
  internal/infra/membership/confchange_identity_test.go
  internal/infra/membership/membership.go
  internal/infra/membership/membership_test.go
  internal/infra/node/applier_test.go
  internal/infra/node/confchange_identity_test.go
  internal/infra/node/configured_peers_test.go
  internal/infra/node/node.go
  internal/infra/node/promotion_identity_test.go
  internal/infra/node/startup_membership_removal_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1874): preserve force-removal lifecycle after rebase
  internal/infra/node/force_remove_run_test.go
  internal/infra/node/node.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1874): require identities for all raft members
  cmd/ledgerctl/cluster/add_learner.go
  cmd/ledgerctl/cluster/add_learner_test.go
  cmd/server/join_auth_test.go
  cmd/server/server.go
  docs/ops/cli.md
  docs/ops/cluster-operations.md
  docs/technical/architecture/subsystems/consensus/README.md
  docs/technical/architecture/subsystems/consensus/raft-consensus.md
  docs/technical/architecture/subsystems/consensus/removed-member-registry.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/grpc/server_bootstrap.go
  internal/adapter/grpc/server_cluster.go
  internal/application/membership/membership.go
  internal/application/membership/membership_test.go
  internal/bootstrap/instance_id_provider_test.go
  internal/bootstrap/module.go
  internal/infra/membership/confchange.go
  internal/infra/membership/membership.go
  internal/infra/membership/membership_test.go
  internal/infra/membership/peer_store.go
  internal/infra/membership/remove_node_blacklist_test.go
  internal/infra/node/add_learner_classify_test.go
  internal/infra/node/config.go
  internal/infra/node/membership_helpers_test.go
  internal/infra/node/node.go
  internal/infra/node/remove_node_post_commit_test.go
  internal/proto/clusterbootstrappb/cluster_bootstrap.pb.go
  internal/proto/clusterbootstrappb/cluster_bootstrap_reader.pb.go
  internal/proto/clusterbootstrappb/cluster_bootstrap_vtproto.pb.go
  internal/proto/clusterpb/cluster.pb.go
  internal/proto/clusterpb/cluster_reader.pb.go
  internal/proto/clusterpb/cluster_vtproto.pb.go
  internal/storage/wal/instance_id_marker.go
  internal/storage/wal/instance_id_marker_test.go
  misc/proto/cluster.proto
  misc/proto/cluster_bootstrap.proto
  tests/e2e/cluster/learner_test.go
  tests/e2e/cluster/remove_node_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

style(EN-1874): apply canonical Go normalization
  cmd/server/server.go
  internal/infra/membership/membership.go
  internal/infra/node/confchange_identity_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1874): validate every discovered member identity
  cmd/server/join_auth_test.go
  cmd/server/server.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(EN-1874): persist election state in membership regressions
  internal/infra/node/configured_peers_test.go
  internal/infra/node/startup_membership_removal_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1874): preserve peer routing on rejected admission
  docs/ops/cluster-operations.md
  docs/technical/architecture/subsystems/consensus/README.md
  docs/technical/architecture/subsystems/consensus/removed-member-registry.md
  internal/adapter/grpc/server_bootstrap.go
  internal/application/membership/membership.go
  internal/application/membership/membership_test.go
  internal/bootstrap/module.go
  tests/e2e/cluster/learner_rejected_routing_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1874): retain raft peers and strengthen identity regressions
  docs/ops/cli.md
  docs/ops/cluster-operations.md
  docs/technical/architecture/subsystems/consensus/removed-member-registry.md
  internal/infra/membership/membership.go
  internal/infra/membership/membership_test.go
  internal/infra/membership/remove_node_blacklist_test.go
  internal/infra/node/confchange_identity_test.go
  internal/infra/node/membership_invariant_test.go
  internal/infra/node/node.go
  internal/infra/node/promotion_identity_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(EN-1874): allow loaded membership fixtures time to commit
  internal/application/membership/membership_node_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(EN-1874): clarify membership bootstrap and failure ordering
  docs/ops/cluster-operations.md
  docs/technical/architecture/subsystems/consensus/removed-member-registry.md
  internal/infra/membership/membership.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(e2e): stop learner fixtures and bound follower catch-up reads
  tests/e2e/cluster/learner_rejected_routing_test.go
  tests/e2e/cluster/raft_test.go
  tests/e2e/testutil/server.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(EN-1874): align shutdown cleanup with rebased lifecycle
  docs/technical/contributing/api-comparison.md
  internal/infra/node/promotion_identity_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(EN-1874): make removal tombstone guarantee unconditional
  docs/ops/cli.md
Due: none

test(EN-1874): distinguish bootstrap admission at the RPC boundary
  tests/e2e/cluster/learner_rejected_routing_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1874): advance service protocol for required identities
  docs/ops/cli.md
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
  docs/technical/contributing/api-comparison.md
Due: none

test(EN-1874): cover membership admission and identity boundaries
  internal/application/membership/membership_node_test.go
  internal/application/membership/membership_test.go
  internal/bootstrap/instance_id_provider_test.go
  internal/infra/membership/identity_rejection_test.go
  internal/infra/membership/membership_test.go
  internal/infra/node/confchange_identity_test.go
  internal/infra/node/configured_peers_test.go
  internal/infra/node/learner_admission_test.go
  internal/storage/wal/instance_id_marker_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1874): advance identity protocol after target synchronization
  docs/ops/cli.md
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
  docs/technical/contributing/api-comparison.md
Due: none

test: align rebased fixtures with current membership and store contracts
  internal/bootstrap/service_address_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(EN-1874): strengthen identity regression assertions and docs
  docs/ops/deployment.md
  internal/adapter/grpc/server_bootstrap.go
  internal/adapter/grpc/server_cluster.go
  internal/infra/membership/confchange_identity_test.go
  internal/infra/membership/membership_test.go
  internal/infra/node/confchange_identity_test.go
  internal/infra/node/node.go
  internal/infra/node/promotion_identity_test.go
  internal/infra/node/remove_node_post_commit_test.go
  tests/e2e/cluster/learner_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(events): verify Databricks and NATS diagnostic boundaries
  internal/application/events/sink_databricks_error_test.go
  internal/application/events/sink_nats_publish_error_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(proto): add generic sensitive field projection
  AGENTS.md
  docs/technical/architecture/subsystems/api/README.md
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
  docs/technical/architecture/subsystems/api/sensitive-projection.md
  docs/technical/contributing/protobuf.md
  internal/pkg/sensitive/projection.go
  internal/pkg/sensitive/projection_test.go
  internal/proto/commonpb/common.pb.go
  misc/proto/common.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(events): sanitize credentials in driver diagnostics
  docs/technical/architecture/subsystems/api/sensitive-projection.md
  docs/technical/architecture/subsystems/events-mirror/README.md
  docs/technical/architecture/subsystems/events-mirror/events.md
  internal/application/events/emitter_failure_wiring_test.go
  internal/application/events/sink.go
  internal/application/events/sink_clickhouse.go
  internal/application/events/sink_clickhouse_constructor_test.go
  internal/application/events/sink_databricks.go
  internal/application/events/sink_error.go
  internal/application/events/sink_error_test.go
  internal/application/events/sink_http.go
  internal/application/events/sink_http_test.go
  internal/application/events/sink_kafka.go
  internal/application/events/sink_kafka_test.go
  internal/application/events/sink_nats.go
  internal/application/events/sink_nats_error_test.go
  internal/pkg/sensitive/projection_test.go
  internal/proto/commonpb/common.pb.go
  misc/proto/common.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(proto): cover nil collections and sensitive oneofs
  internal/pkg/sensitive/projection_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(events): name diagnostic sanitization explicitly
  internal/application/events/sink_clickhouse.go
  internal/application/events/sink_databricks.go
  internal/application/events/sink_error.go
  internal/application/events/sink_http.go
  internal/application/events/sink_kafka.go
  internal/application/events/sink_nats.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

style(events): normalize diagnostic helper formatting
  internal/application/events/sink_error.go
  internal/application/events/sink_http_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: adapt Apply result fixture and pin mirror diagnostic masking
  internal/adapter/http/metadata_integers_test.go
  internal/pkg/sensitive/projection_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1874): advance protocol after checkpoint provenance integration
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/http/metadata_integers_test.go
  pkg/grpcprotocol/protocol.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests
