Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

feat: add progress bar with percentage to backup command
  cmd/ledgerctl/store/backup.go
  internal/adapter/grpc/server_cluster.go
  internal/adapter/grpc/tar_streaming.go
  internal/proto/clusterpb/cluster.pb.go
  internal/proto/clusterpb/cluster_vtproto.pb.go
  misc/proto/cluster.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: zone-aware smart compaction replacing full-range idle compaction
  docs/dev/architecture/storage-drivers.md
  internal/bootstrap/module.go
  internal/infra/state/buffer.go
  internal/infra/state/buffer_test.go
  internal/infra/state/machine.go
  internal/infra/state/machine_helpers_test.go
  internal/storage/dal/idle_compactor.go
  internal/storage/dal/smart_compactor.go
  internal/storage/dal/smart_compactor_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: edit todo
  TODO
Due: none

feat: allow metadata schema operations on mirror-mode ledgers
  internal/domain/processing/processor_apply.go
  tests/e2e/mirror_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add cluster watch command for live status monitoring
  cmd/ledgerctl/cluster/command.go
  cmd/ledgerctl/cluster/status.go
  cmd/ledgerctl/cluster/watch.go
  docs/ops/cli.md
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: wrap long addresses in CLI table displays
  cmd/ledgerctl/accounts/list.go
  cmd/ledgerctl/cmdutil/format.go
  cmd/ledgerctl/cmdutil/format_test.go
  cmd/ledgerctl/transactions/get.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add account analysis to suggest Chart of Accounts
  cmd/ledgerctl/accounts/analyze.go
  cmd/ledgerctl/accounts/command.go
  docs/dev/api-comparison.md
  docs/ops/cli.md
  internal/adapter/grpc/client_bucket.go
  internal/adapter/grpc/server_bucket.go
  internal/adapter/http/handler.go
  internal/adapter/http/handlers_analyze_accounts.go
  internal/adapter/http/handlers_analyze_accounts_test.go
  internal/adapter/http/mock_backend_test.go
  internal/application/analysis/chart_discovery.go
  internal/application/analysis/chart_discovery_test.go
  internal/application/ctrl/controller.go
  internal/application/ctrl/controller_default.go
  internal/application/ctrl/controller_generated_test.go
  internal/bootstrap/controller_routed.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_grpc.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  misc/proto/bucket.proto
  misc/proto/common.proto
  openapi.yml
  tests/e2e/analyze_accounts_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: factorize FSM log notification pattern into shared signal package
  docs/dev/architecture/events.md
  internal/application/events/manager.go
  internal/application/events/manager_http_sink_test.go
  internal/application/events/manager_test.go
  internal/application/mirror/manager.go
  internal/application/mirror/notifications.go
  internal/bootstrap/module.go
  internal/infra/node/applier_test.go
  internal/infra/node/node_test.go
  internal/infra/state/audit_test.go
  internal/infra/state/machine.go
  internal/infra/state/machine_test.go
  internal/pkg/signal/notifications.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: split Attribute[V] into SimpleAttribute and AccumulatingAttribute
  internal/application/check/checker_test.go
  internal/infra/attributes/accumulating_attribute.go
  internal/infra/attributes/attributes.go
  internal/infra/attributes/attributes_helpers_test.go
  internal/infra/attributes/attributes_test.go
  internal/infra/attributes/compact_test.go
  internal/infra/attributes/module.go
  internal/infra/attributes/simple_attribute.go
  internal/infra/state/buffer.go
  internal/infra/state/machine.go
  internal/infra/state/sealer_test.go
  internal/query/store_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: force-remove Raft nodes, multi-module tooling, and test fixes
  cmd/ledgerctl/cluster/remove_node.go
  docs/ops/cli.md
  docs/ops/cluster-operations.md
  flake.nix
  internal/adapter/grpc/server_cluster.go
  internal/application/events/sink_clickhouse_integration_test.go
  internal/application/events/sink_kafka_integration_test.go
  internal/application/events/sink_nats_integration_test.go
  internal/application/events/testmain_test.go
  internal/infra/node/node.go
  internal/infra/node/node_test.go
  internal/proto/clusterpb/cluster.pb.go
  internal/proto/clusterpb/cluster_vtproto.pb.go
  justfile
  misc/benchmark-operator/internal/operator/grafana.go
  misc/benchmark-operator/internal/operator/operator.go
  misc/devenv/main.go
  misc/operator/internal/controller/raft_scaledown.go
  misc/operator/internal/controller/raft_scaledown_test.go
  misc/operator/internal/controller/reconcile_basic_test.go
  misc/proto/cluster.proto
  tests/e2e/remove_node_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add Ed25519 key-based authentication as alternative to OIDC
  cmd/ledgerctl/auth/command.go
  cmd/ledgerctl/auth/generate_key.go
  cmd/ledgerctl/auth/generate_token.go
  cmd/ledgerctl/auth/generate_token_test.go
  cmd/ledgerctl/cmdutil/client.go
  cmd/ledgerctl/main.go
  cmd/ledgerctl/signing/generate_key.go
  cmd/server/server.go
  docs/ops/authentication.md
  docs/ops/cli.md
  internal/adapter/auth/composite_keyset.go
  internal/adapter/auth/composite_keyset_test.go
  internal/adapter/auth/ed25519_keys.go
  internal/adapter/auth/ed25519_keys_test.go
  internal/adapter/auth/grpc_auth.go
  internal/adapter/auth/grpc_auth_test.go
  internal/adapter/auth/http_middleware.go
  internal/adapter/auth/http_middleware_test.go
  internal/bootstrap/config.go
  internal/bootstrap/module.go
  internal/pkg/crypto/signing/keygen.go
  pkg/testserver/testserver.go
  tests/e2e/ed25519_auth_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: Add PayTheFly crypto payment gateway integration
  examples/paythefly-connector/Dockerfile
  examples/paythefly-connector/README.md
  examples/paythefly-connector/docker-compose.yml
  examples/paythefly-connector/go.mod
  examples/paythefly-connector/main.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

perf: optimize sanity check with range iterators and vtprotobuf
  internal/application/check/checker.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: return ErrNoLeader immediately in ReadIndexAndWait when no leader is known
  internal/infra/node/read_index.go
  internal/infra/node/read_index_test.go
  tests/e2e/ed25519_auth_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

perf: warm Pebble block cache at startup for attributes zone
  internal/bootstrap/module.go
  internal/storage/dal/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: optimize backup compaction to single-pass and add preparation progress
  cmd/ledgerctl/store/backup.go
  internal/adapter/grpc/server_cluster.go
  internal/infra/attributes/attributes.go
  internal/infra/attributes/attributes_helpers_test.go
  internal/infra/attributes/compact.go
  internal/proto/clusterpb/cluster.pb.go
  internal/proto/clusterpb/cluster_vtproto.pb.go
  misc/proto/cluster.proto
  tests/e2e/backup_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: decouple backup from Raft consensus and FSM gating
  docs/ops/backup-restore.md
  internal/adapter/grpc/server_cluster.go
  internal/infra/node/applier.go
  internal/infra/node/node.go
  internal/infra/state/buffer.go
  internal/infra/state/machine.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  misc/proto/raft_cmd.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs: add links to period documentation in PIT analysis
  docs/drafts/prepared-queries.md
Due: none

docs: clarify read store is a pure derived index, not a data store
  docs/drafts/prepared-queries.md
Due: none

docs: fix Pebble compaction analysis — separate instance, no primary store competition
  docs/drafts/prepared-queries.md
Due: none

docs: add transaction target support to prepared queries draft
  docs/drafts/prepared-queries.md
Due: none

docs: add volume aggregation analysis (Section 9)
  docs/drafts/prepared-queries.md
Due: none

docs: add point-in-time analysis — reject arbitrary PIT, propose alternatives
  docs/drafts/prepared-queries.md
Due: none

docs: add Pebble vs bbolt comparison for read store engine
  docs/drafts/prepared-queries.md
Due: none

docs: resolve open questions — volume-based filters and ExistsCondition
  docs/drafts/prepared-queries.md
Due: none

docs: remove advanced-read-queries link, mark it as outdated
  docs/drafts/advanced-read-queries.md
  docs/drafts/prepared-queries.md
Due: none

feat: write stall backpressure for mirror worker
  internal/application/indexbuilder/builder.go
  internal/application/mirror/worker.go
  internal/infra/node/applier_test.go
  internal/infra/node/node_test.go
  internal/infra/state/audit_test.go
  internal/infra/state/machine_test.go
  internal/storage/dal/metrics.go
  internal/storage/dal/metrics_test.go
  internal/storage/dal/store.go
  internal/storage/dal/write_stall.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs: add prepared queries draft and update advanced read queries
  docs/drafts/advanced-read-queries.md
  docs/drafts/prepared-queries.md
Due: none

docs: remove DuckDB, rewrite prepared queries draft for bbolt-only
  docs/drafts/prepared-queries.md
Due: none

refactor(dal): replace RWMutex with atomic.Pointer for Pebble DB access
  internal/storage/dal/store.go
  internal/storage/dal/store_readonly.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs: remove LOC estimates from prepared queries draft
  docs/drafts/prepared-queries.md
Due: none

fix: prevent pebble:closed panic and period test hang
  internal/infra/node/applier.go
  internal/storage/dal/store.go
  internal/storage/dal/store_readonly.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add --filter flag to accounts list with rich boolean expression syntax
  cmd/ledgerctl/accounts/list.go
  docs/dev/api-comparison.md
  docs/ops/cli.md
  internal/adapter/grpc/client_bucket.go
  internal/adapter/grpc/server_bucket.go
  internal/adapter/http/handlers_coverage_test.go
  internal/adapter/http/handlers_list_accounts.go
  internal/adapter/http/handlers_list_accounts_test.go
  internal/adapter/http/mock_backend_test.go
  internal/application/ctrl/controller.go
  internal/application/ctrl/controller_default.go
  internal/application/ctrl/controller_generated_test.go
  internal/bootstrap/controller_routed.go
  internal/pkg/filterexpr/parser.go
  internal/pkg/filterexpr/parser_test.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  misc/proto/bucket.proto
  tests/e2e/accounts_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: prevent ReadIndex hang when follower has no known leader
  internal/bootstrap/controller_routed.go
  internal/infra/node/read_index.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
