Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

ci: Simplify CI for Ledger Only
  .github/workflows/benchmarks.yaml
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  .github/workflows/pr_open_target.yml
  .github/workflows/release.yml
  .github/workflows/template_build-control.yaml
  .github/workflows/template_docker.yaml
  .github/workflows/template_goreleaser-build.yaml
  .github/workflows/template_goreleaser-release.yaml
  .github/workflows/template_sdk-generate.yaml
  .github/workflows/template_sdk-publish.yaml
  .goreleaser.ledger.yml
Due: none

fix: txs count with metadata filter (#442)
  pkg/api/controllers/transaction_controller.go
  pkg/api/controllers/transaction_controller_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: transactions count using metadata
  pkg/api/controllers/transaction_controller.go
  pkg/api/controllers/transaction_controller_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(ledger): Add libs sync
  Taskfile.yaml
  go.mod
  libs/README.md
  libs/Taskfile.yml
  libs/api/response.go
  libs/api/response_test.go
  libs/api/utils.go
  libs/auth/auth.go
  libs/auth/auth_test.go
  libs/auth/authjwt/checks.go
  libs/auth/authjwt/claims.go
  libs/auth/basic.go
  libs/auth/basic_test.go
  libs/auth/bearer.go
  libs/auth/bearer_test.go
  libs/auth/context.go
  libs/auth/middleware.go
  libs/auth/middleware_test.go
  libs/ballast/ballast.go
  libs/ballast/module.go
  libs/collectionutils/map.go
  libs/collectionutils/slice.go
  libs/errorsutil/errorsutil.go
  libs/errorsutil/errorsutil_test.go
  libs/go.mod
  libs/go.sum
  libs/metadata/metadata.go
  libs/metadata/owner.go
  libs/migrations/migration.go
  libs/migrations/migrator.go
  libs/migrations/migrator_test.go
  libs/moon.yml
  libs/otlp/otlptraces/cli.go
  libs/pgtesting/postgres.go
  libs/publish/module.go
  libs/service/app.go
  libs/service/logging.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(sdks): Switch to Speakeasy for SDK generator
  .github/workflows/release.yml
  go.mod
Due: none

ci: Update configuration
  .github/workflows/template_goreleaser-build.yaml
  .github/workflows/template_goreleaser-release.yaml
Due: none

ci: Remove useless file
  .github/workflows/release.yml
Due: none

fix: transaction pagination
  .github/workflows/template_goreleaser-build.yaml
  .github/workflows/template_goreleaser-release.yaml
  go.mod
  pkg/api/controllers/pagination_test.go
  pkg/api/controllers/transaction_controller.go
  pkg/api/controllers/transaction_controller_test.go
  pkg/api/internal/testing.go
  pkg/ledger/storage.go
  pkg/storage/sqlstorage/aggregations.go
  pkg/storage/sqlstorage/pagination_column.go
  pkg/storage/sqlstorage/store_ledger_test.go
  pkg/storage/sqlstorage/transactions.go
  pkg/storage/sqlstorage/transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: crash with resources loaded twice (#338)
  libs/logging/logrus.go
  libs/otlp/cli.go
  libs/otlp/otlpmetrics/module.go
  libs/otlp/otlptraces/traces.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: missing metrics result tag when passing options (#339)
  libs/otlp/otlpmetrics/otlpexporter.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: infer metadata/variable types from numscript
  benchmarks/ledger_test.go
  pkg/api/controllers/transaction_controller.go
  pkg/api/controllers/transaction_controller_test.go
  pkg/core/numscript.go
  pkg/core/script.go
  pkg/machine/examples/basic.go
  pkg/machine/internal/account.go
  pkg/machine/internal/asset.go
  pkg/machine/internal/json.go
  pkg/machine/internal/json_test.go
  pkg/machine/internal/monetary.go
  pkg/machine/machine_test.go
  pkg/machine/vm/machine.go
  pkg/machine/vm/machine_test.go
  pkg/machine/vm/program/program.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

ci: clear useless step
  .github/workflows/release.yml
Due: none

fix: wrongly named file
  .github/dependabot.yml
Due: none

fix: improve query performances
  pkg/api/controllers/pagination_test.go
  pkg/storage/sqlstorage/accounts.go
  pkg/storage/sqlstorage/balances.go
  pkg/storage/sqlstorage/balances_test.go
  pkg/storage/sqlstorage/migrates/18-optimized-accounts/postgres.sql
  pkg/storage/sqlstorage/migrates/19-optimized-volumes/postgres.sql
  pkg/storage/sqlstorage/store_ledger_test.go
  pkg/storage/sqlstorage/volumes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

ci: fix python sdk
  sdk/configs/python.yaml
Due: none

ci: fix workflow
  .github/workflows/main.yml
  Taskfile.yaml
Due: none

fix: improve query performances (v1.9.x) (#446)
  pkg/api/controllers/pagination_test.go
  pkg/storage/sqlstorage/accounts.go
  pkg/storage/sqlstorage/balances.go
  pkg/storage/sqlstorage/balances_test.go
  pkg/storage/sqlstorage/migrates/18-optimized-accounts/postgres.sql
  pkg/storage/sqlstorage/migrates/19-optimized-volumes/postgres.sql
  pkg/storage/sqlstorage/store_ledger_test.go
  pkg/storage/sqlstorage/volumes.go
  sdk/configs/python.yaml
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

ci: fix workflow
  .github/workflows/main.yml
Due: none

fix: improve query performances (v1.10.x) (#447)
  .github/workflows/main.yml
  Taskfile.yaml
  pkg/api/controllers/pagination_test.go
  pkg/storage/sqlstorage/accounts.go
  pkg/storage/sqlstorage/balances.go
  pkg/storage/sqlstorage/balances_test.go
  pkg/storage/sqlstorage/migrates/18-optimized-accounts/postgres.sql
  pkg/storage/sqlstorage/migrates/19-optimized-volumes/postgres.sql
  pkg/storage/sqlstorage/store_ledger_test.go
  pkg/storage/sqlstorage/volumes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: improve accounts/balances/volumes queries (#365)
  pkg/storage/ledgerstore/accounts.go
  pkg/storage/ledgerstore/balances.go
  pkg/storage/ledgerstore/balances_test.go
  pkg/storage/ledgerstore/migrates/1-optimized-accounts-volumes/postgres.sql
  pkg/storage/ledgerstore/store_test.go
  pkg/storage/ledgerstore/volumes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: Upgrade SDK & Workflows for publish SDK
  docker-compose.override.yml
  docker-compose.yml
  openapi.yaml
Due: gosdk
