Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

fix: correct directory path for benchmark comparison in justfile
  test/performance/pkg/write/justfile
Due: none

fix: rename testServer variable to srv for clarity and add cleanup on service stop
  test/e2e/app_lifecycle_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: update artifact path in benchmark workflow to reflect new directory structure
  .github/workflows/benchmark.yml
Due: none

fix: set consistent chart dimensions for TPS, latency, and database stats exports
  test/performance/pkg/write/charts/src/graphs.ts
Due: none

fix: update artifact path for benchmark comparison reports
  .github/workflows/benchmark-comparison.yml
Due: none

Increase default benchmark count from 1 to 5
  .github/workflows/benchmark-comparison.yml
Due: none

Enable the SSH port in the Caddyfile and fix the CORS headers with a defer to have only a single header _if_ an Origin header was sent by a browser
  examples/standalone/Caddyfile
Due: none

feat: add unit to otel histograms
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_with_traces.go
  internal/storage/ledger/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add unit to otel histograms (#1122)
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_with_traces.go
  internal/storage/ledger/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: upgrade to go 1.25
  flake.lock
  flake.nix
  go.mod
Due: none

chore: fix gosec warnings
  cmd/docs_events.go
  pkg/generate/generator.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: backport golangci-lint config from formancehq/go-libs
  .golangci.yml
Due: none

chore: add fmt target
  Justfile
Due: none

chore: update to go 1.25 in dockerfiles and sub go.mod
  docker-compose.yml
  tools/generator/Dockerfile
  tools/generator/go.mod
  tools/provisioner/Dockerfile
  tools/provisioner/go.mod
Due: none

chore: remove config.allowUnfree in flake.nix
  flake.nix
Due: none

chore: update nixpkgs and nixpkgs-unstable URLs to use GitHub for reproducible builds
  flake.lock
  flake.nix
Due: none

fix: update condition to trigger benchmark comparison on workflow dispatch
  .github/workflows/benchmark-comparison.yml
Due: none

Revert "chore: update nixpkgs and nixpkgs-unstable URLs to use GitHub for reproducible builds"
  flake.lock
  flake.nix
Due: none

chore: acbracacadraba bazzzaaaaam
  flake.nix
Due: none

chore: fix gosec errors
  test/performance/pkg/read/read_test.go
  test/performance/pkg/write/write_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: print golangci-lint version
  Justfile
Due: none

chore: do nothing if SPEAKEASY_API_KEY is not set instead of failing
  Justfile
Due: none

chore: fix few linters errors
  deployments/pulumi/go.mod
  deployments/pulumi/main.go
  tools/generator/cmd/root.go
  tools/provisioner/cmd/root.go
  tools/provisioner/pkg/reconciler.go
  tools/provisioner/pkg/reconciler_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: update README.md
  internal/README.md
Due: none

chore: fix typo
  tools/generator/Dockerfile
Due: none

debug: print go info
  Justfile
Due: none

debug: nix
  flake.lock
  flake.nix
Due: none

debug: nix
  flake.nix
Due: none

more tests & fixes
  docs/api/README.md
  docs/events/UpdatedSchema.json
  internal/README.md
  internal/api/v2/controllers_schema_insert.go
  internal/api/v2/controllers_transactions_create.go
  internal/api/v2/views.go
  internal/chart.go
  internal/chart_test.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_default_test.go
  internal/errors.go
  internal/schema.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/docs/models/components/alloweddestinations.md
  pkg/client/docs/models/components/allowedsources.md
  pkg/client/docs/models/components/self.md
  pkg/client/docs/models/components/v2chartrules.md
  pkg/client/docs/models/components/v2chartsegment.md
  pkg/client/docs/models/components/v2schemadata.md
  pkg/client/docs/sdks/v2/README.md
  pkg/client/models/components/v2chartrules.go
  pkg/client/models/components/v2chartsegment.go
  pkg/client/models/components/v2schemadata.go
  pkg/client/speakeasyusagegen/.speakeasy/logs/naming.log
  test/e2e/api_schema_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: remove debug output
  Justfile
Due: none

test: try with no nix cache
  .github/actions/default/action.yml
Due: none

chore: disable nix cache in ci workflows
  .github/actions/default/action.yml
Due: none

feat: add index to optimize update_effective_volumes trigger
  internal/storage/bucket/migrations/45-add-moves-update-effective-volumes-index/notes.yaml
  internal/storage/bucket/migrations/45-add-moves-update-effective-volumes-index/up.sql
  internal/storage/bucket/migrations/46-drop-old-indexes/notes.yaml
  internal/storage/bucket/migrations/46-drop-old-indexes/up.sql
Due: none

chore: fix go cache in ci workflows
  .github/actions/default/action.yml
Due: none

cleanup & improve coverage
  internal/chart.go
  internal/chart_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
