Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

remove rules prototype
  internal/chart.go
  internal/chart_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

force schemaVersion if ledger has one
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_default_test.go
  internal/controller/ledger/errors.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

cleanup & better naming
  docs/api/README.md
  docs/events/UpdatedSchema.json
  internal/README.md
  internal/chart.go
  internal/chart_test.go
  internal/controller/ledger/controller_default_test.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/docs/models/components/alloweddestinations.md
  pkg/client/docs/models/components/allowedsources.md
  pkg/client/docs/models/components/v2chartrules.md
  pkg/client/models/components/v2chartrules.go
  pkg/client/speakeasyusagegen/.speakeasy/logs/naming.log
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

remove useless if, rename regex
  internal/chart.go
  internal/controller/ledger/controller_default.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: fix deploy job on main
  .github/workflows/main.yml
  Justfile
Due: none

chore: fix deploy job on main (#1125)
  .github/workflows/main.yml
  Justfile
Due: none

change segment prop prefix
  docs/api/README.md
  internal/README.md
  internal/chart.go
  internal/chart_test.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/docs/models/components/dotself.md
  pkg/client/docs/models/components/v2chartsegment.md
  pkg/client/docs/models/components/v2schemadata.md
  pkg/client/docs/sdks/v2/README.md
  pkg/client/models/components/v2chartsegment.go
  pkg/client/speakeasyusagegen/.speakeasy/logs/naming.log
  test/e2e/api_schema_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: use treeless git clone
  .github/workflows/benchmark-comparison.yml
  .github/workflows/benchmark.yml
  .github/workflows/main.yml
  .github/workflows/releases.yml
Due: none

chore: run deploy job on github runners
  .github/workflows/main.yml
Due: none

chore: use treeless git clone (#1126)
  .github/workflows/benchmark-comparison.yml
  .github/workflows/benchmark.yml
  .github/workflows/main.yml
  .github/workflows/releases.yml
Due: none

add missing test & cleanup leftover errors
  internal/errors.go
  test/e2e/api_schema_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

missed pre-commit
  internal/README.md
Due: none

chore(deps): update module golang.org/x/crypto to v0.43.0 [security]
  deployments/pulumi/go.mod
  deployments/pulumi/go.sum
  go.mod
  go.sum
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: none

chore(deps): update module golang.org/x/crypto to v0.43.0 [security] (#1128)
  deployments/pulumi/go.mod
  deployments/pulumi/go.sum
  go.mod
  go.sum
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: none

address review suggestions
  internal/chart.go
  internal/chart_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

improve error message for forbidden keys
  internal/README.md
  internal/chart.go
  internal/chart_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix permissive regexes
  internal/chart_test.go
  test/e2e/api_schema_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add bucket restoration
  docs/api/README.md
  internal/api/common/mocks_system_controller_test.go
  internal/api/v1/mocks_system_controller_test.go
  internal/api/v2/controllers_buckets_restore.go
  internal/api/v2/controllers_buckets_restore_test.go
  internal/api/v2/mocks_system_controller_test.go
  internal/api/v2/routes.go
  internal/controller/system/controller.go
  internal/controller/system/store.go
  internal/storage/system/store.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/README.md
  pkg/client/docs/models/operations/v2restorebucketrequest.md
  pkg/client/docs/models/operations/v2restorebucketresponse.md
  pkg/client/docs/sdks/v2/README.md
  pkg/client/models/operations/v2restorebucket.go
  pkg/client/speakeasyusagegen/.speakeasy/logs/naming.log
  pkg/client/v2.go
  test/e2e/api_buckets_delete_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add soft deletion of buckets
  Justfile
  docs/api/README.md
  internal/README.md
  internal/api/common/mocks_system_controller_test.go
  internal/api/v1/mocks_system_controller_test.go
  internal/api/v2/controllers_buckets_delete.go
  internal/api/v2/controllers_buckets_delete_test.go
  internal/api/v2/mocks_system_controller_test.go
  internal/api/v2/routes.go
  internal/controller/system/controller.go
  internal/controller/system/store.go
  internal/ledger.go
  internal/storage/system/migrations.go
  internal/storage/system/resource_ledgers.go
  internal/storage/system/store.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/README.md
  pkg/client/docs/models/operations/v2deletebucketrequest.md
  pkg/client/docs/models/operations/v2deletebucketresponse.md
  pkg/client/docs/sdks/v2/README.md
  pkg/client/models/operations/v2deletebucket.go
  pkg/client/speakeasyusagegen/.speakeasy/logs/naming.log
  pkg/client/v2.go
  test/e2e/api_buckets_delete_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add query param to list deleted ledgers
  docs/api/README.md
  internal/api/v2/controllers_ledgers_list.go
  internal/storage/system/queries.go
  internal/storage/system/resource_ledgers.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/docs/models/operations/v2listledgersrequest.md
  pkg/client/models/operations/v2listledgers.go
  pkg/client/speakeasyusagegen/.speakeasy/logs/naming.log
  test/e2e/api_buckets_delete_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add the worker to remove expired buckets
  cmd/worker.go
  docs/api/README.md
  internal/storage/system/store.go
  internal/storage/worker_bucket_cleanup.go
  internal/storage/worker_bucket_cleanup_test.go
  internal/worker/module.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/docs/models/components/v2ledger.md
  pkg/client/models/components/v2ledger.go
  pkg/testserver/worker.go
  pr_description.md
  test/e2e/api_buckets_delete_test.go
  test/e2e/app_bucket_cleanup_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: tests
  test/e2e/app_bucket_cleanup_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: tests
  cmd/worker.go
  internal/README.md
  internal/api/v2/controllers_buckets_delete.go
  internal/api/v2/controllers_buckets_delete_test.go
  internal/api/v2/controllers_buckets_restore.go
  internal/api/v2/controllers_buckets_restore_test.go
  internal/api/v2/controllers_ledgers_list.go
  internal/api/v2/routes.go
  internal/controller/system/controller.go
  internal/storage/system/migrations.go
  internal/storage/system/queries.go
  internal/storage/system/resource_ledgers.go
  internal/storage/worker_bucket_cleanup.go
  internal/storage/worker_bucket_cleanup_test.go
  internal/worker/module.go
  pkg/testserver/worker.go
  pr_description.md
  test/e2e/api_buckets_delete_test.go
  test/e2e/app_bucket_cleanup_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add operator $in
  go.mod
  go.sum
  internal/storage/common/resource.go
  internal/storage/common/schema.go
  internal/storage/ledger/accounts_test.go
  internal/storage/ledger/balances_test.go
  internal/storage/ledger/resource_accounts.go
  internal/storage/ledger/resource_aggregated_balances.go
  internal/storage/ledger/resource_transactions.go
  internal/storage/ledger/resource_volumes.go
  internal/storage/ledger/transactions.go
  internal/storage/ledger/transactions_test.go
  internal/storage/ledger/utils.go
  internal/storage/ledger/volumes_test.go
  test/e2e/api_accounts_list_test.go
  test/e2e/api_balances_aggregated_test.go
  test/e2e/api_transactions_list_test.go
  test/e2e/api_volumes_test.go
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

table-driven tests & t.Parallel
  internal/chart_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix api pattern examples
  docs/api/README.md
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/docs/models/components/v2chartsegment.md
  pkg/client/docs/models/components/v2schemadata.md
  pkg/client/docs/sdks/v2/README.md
Due: gosdk

feat: add some metrics
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_default_test.go
  internal/controller/ledger/log_process.go
  internal/controller/ledger/log_process_test.go
  internal/controller/ledger/store.go
  internal/controller/ledger/store_generated_test.go
  internal/controller/system/adapters.go
  internal/storage/ledger/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: run deploy job on github runners (#1127)
  .github/workflows/main.yml
Due: none

WIP
  internal/machine/vm/machine.go
  internal/machine/vm/machine_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: enable experimental numscript interpreter (#1120)
  examples/standalone/Caddyfile
  examples/standalone/docker-compose.yml
Due: none

feat: add some otel attributes
  internal/storage/worker_bucket_cleanup.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: update numscript version
  go.mod
  go.sum
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: none

chore: update numscript version (#1130)
  go.mod
  go.sum
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: none

review fixes
  docs/api/README.md
  go.mod
  internal/README.md
  internal/api/common/errors.go
  internal/api/v2/controllers_schema_insert.go
  internal/api/v2/controllers_schema_insert_test.go
  internal/api/v2/controllers_schema_read_test.go
  internal/api/v2/controllers_transactions_create.go
  internal/chart.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_default_test.go
  internal/controller/ledger/errors.go
  internal/controller/ledger/log_process.go
  internal/controller/ledger/log_process_test.go
  internal/errors.go
  internal/log.go
  internal/schema.go
  internal/storage/ledger/schema_test.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/docs/models/components/v2errorsenum.md
  pkg/client/docs/models/components/v2schemadata.md
  pkg/client/models/components/v2errorsenum.go
  pkg/client/models/components/v2schemadata.go
  test/e2e/api_schema_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: add cli flag validation
  cmd/serve.go
  cmd/worker.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add some metrics (#1129)
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_default_test.go
  internal/controller/ledger/log_process.go
  internal/controller/ledger/log_process_test.go
  internal/controller/ledger/store.go
  internal/controller/ledger/store_generated_test.go
  internal/controller/system/adapters.go
  internal/storage/ledger/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: invalid queries
  internal/storage/ledger/accounts_test.go
  internal/storage/ledger/transactions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add filtering of logs using type
  internal/api/v2/controllers_logs_list_test.go
  internal/storage/ledger/resource_logs.go
  test/e2e/api_logs_list_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
