Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

docs(EN-1526): correct failure AuditItem cardinality in audit-chain
  docs/technical/architecture/subsystems/checker/audit-chain.md
  internal/infra/backup/manager.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1526): verify audit chain on zero-log and failure-only stores
  docs/technical/architecture/subsystems/checker/audit-chain.md
  docs/technical/architecture/subsystems/checker/checker.md
  internal/application/check/checker.go
  internal/application/check/checker_audit_only_test.go
  internal/application/check/checker_query_checkpoint_test.go
  internal/application/check/checker_reverse_map_orphans_test.go
  internal/application/check/clusterpolicy_test.go
  internal/application/check/signing_test.go
  misc/proto/bucket.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1526): replay log rows whose stored sequence diverges from their key
  docs/technical/architecture/subsystems/checker/checker.md
  internal/application/check/checker.go
  internal/application/check/checker_audit_only_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(EN-1526): correct the empty-AuditItem case in the audit-chain reference
  docs/technical/architecture/subsystems/checker/audit-chain.md
  internal/infra/backup/manager.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(EN-1526): pin the bound and policy folds on every chain-break exit
  internal/application/check/checker_tamper_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(EN-1526): compare stored log bounds against the audit chain
  docs/technical/architecture/subsystems/checker/audit-chain.md
  docs/technical/architecture/subsystems/checker/checker.md
  internal/application/check/checker.go
  internal/application/check/checker_accepted_order_test.go
  internal/application/check/checker_audit_only_test.go
  internal/application/check/checker_log_bounds_test.go
  internal/application/check/checker_tamper_test.go
  internal/application/check/log_bounds.go
  internal/application/check/signing_fold_window_test.go
  misc/proto/bucket.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1526): report Log rows at reserved sequence 0 as unaudited
  docs/technical/architecture/subsystems/checker/checker.md
  internal/application/check/checker.go
  internal/application/check/checker_log_bounds_test.go
  internal/application/check/log_bounds.go
  misc/proto/bucket.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1526): verify the whole log key space and validate the audit oracle
  docs/technical/architecture/subsystems/checker/audit-chain.md
  docs/technical/architecture/subsystems/checker/checker.md
  internal/application/check/checker.go
  internal/application/check/checker_accepted_order_test.go
  internal/application/check/checker_log_bounds_test.go
  internal/application/check/checker_tamper_test.go
  internal/application/check/log_bounds.go
  internal/application/check/signing_fold_window_test.go
  misc/proto/bucket.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1526): bound sequence-keyed scans by the prefix successor
  docs/technical/architecture/subsystems/checker/checker.md
  docs/technical/architecture/subsystems/storage/README.md
  docs/technical/architecture/subsystems/storage/range-bounds.md
  internal/application/check/checker.go
  internal/application/check/checker_log_bounds_test.go
  internal/infra/backup/manager.go
  internal/infra/state/batch.go
  internal/infra/state/fsmstate.go
  internal/infra/state/fsmstate_sequence_overflow_test.go
  internal/query/applied_proposal.go
  internal/query/audit.go
  internal/query/compile.go
  internal/query/log.go
  internal/query/max_sequence_bound_test.go
  internal/storage/dal/prefix_upper_bound_test.go
  internal/storage/dal/store.go
  internal/storage/readstore/audit_index.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(operator): report EventSink condition on E2E failure
  misc/operator/e2e/tests/event-sinks-nats/chainsaw-test.yaml
Due: none

feat(operator): reconcile dedicated EventSink resources
  misc/operator/api/v1alpha1/cluster_types.go
  misc/operator/api/v1alpha1/eventsink_types.go
  misc/operator/api/v1alpha1/zz_generated.deepcopy.go
  misc/operator/cmd/operator/main.go
  misc/operator/config/crd/bases/ledger.formance.com_clusters.yaml
  misc/operator/config/crd/bases/ledger.formance.com_eventsinks.yaml
  misc/operator/config/rbac/role.yaml
  misc/operator/helm/crds/templates/ledger.formance.com_clusters.yaml
  misc/operator/helm/crds/templates/ledger.formance.com_eventsinks.yaml
  misc/operator/helm/operator/templates/clusterrole.yaml
  misc/operator/internal/controller/cluster_controller.go
  misc/operator/internal/controller/cluster_sinks.go
  misc/operator/internal/controller/cluster_sinks_reconcile.go
  misc/operator/internal/controller/cluster_sinks_test.go
  misc/operator/internal/controller/eventsink_controller.go
  misc/operator/internal/controller/eventsink_controller_test.go
  misc/operator/internal/controller/hash.go
  misc/operator/internal/controller/hash_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(operator): fail fast on missing sink ownership flag
  misc/operator/e2e/tests/event-sinks-nats/chainsaw-test.yaml
Due: none

feat(events): guard sink removal by controller ID
  cmd/ledgerctl/events/add_sink.go
  cmd/ledgerctl/events/remove_sink.go
  docs/ops/cli.md
  docs/technical/architecture/subsystems/events-mirror/events.md
  internal/adapter/grpc/errors_test.go
  internal/application/admission/admission.go
  internal/application/admission/request_to_order_test.go
  internal/application/events/store_test.go
  internal/domain/errors.go
  internal/domain/errors_test.go
  internal/domain/processing/processor_events_sink.go
  internal/domain/processing/processor_events_sink_test.go
  internal/domain/reason.go
  internal/infra/state/audit_failure_test.go
  internal/infra/state/write_set_test.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_reader.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/raftcmdpb/raft_cmd_reader.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_reader.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  misc/proto/bucket.proto
  misc/proto/common.proto
  misc/proto/raft_cmd.proto
  pkg/grpcprotocol/protocol.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(operator): tolerate pending EventSink conditions in E2E
  misc/operator/e2e/tests/event-sinks-nats/chainsaw-test.yaml
Due: none

test(query): cover recreated ledger log rejection
  internal/application/ctrl/list_logs_lifecycle_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(query): reject deleted ledger log projections
  docs/technical/architecture/subsystems/indexer/indexer.md
  docs/technical/architecture/subsystems/read-path/read-snapshot-consistency.md
  docs/technical/audits/read-consistency-projections.md
  internal/application/ctrl/controller_default.go
  internal/application/ctrl/list_logs_lifecycle_test.go
  internal/application/indexbuilder/ledger_history_test.go
  internal/application/indexbuilder/process_logs.go
  internal/query/aligned_snapshot.go
  internal/query/executor.go
  internal/query/executor_alignment_test.go
  internal/storage/readstore/keys.go
  internal/storage/readstore/ledger_lifecycle.go
  internal/storage/readstore/ledger_lifecycle_test.go
  internal/storage/readstore/write_batch.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(query): cover recreated prepared log reads
  docs/technical/audits/read-consistency-projections.json
  internal/query/executor_alignment_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

revert: drop persisted ledger lifecycle gate
  docs/technical/architecture/subsystems/indexer/indexer.md
  docs/technical/architecture/subsystems/read-path/read-snapshot-consistency.md
  docs/technical/audits/read-consistency-projections.json
  docs/technical/audits/read-consistency-projections.md
  internal/application/ctrl/controller_default.go
  internal/application/ctrl/list_logs_lifecycle_test.go
  internal/application/indexbuilder/ledger_history_test.go
  internal/application/indexbuilder/process_logs.go
  internal/query/aligned_snapshot.go
  internal/query/executor.go
  internal/query/executor_alignment_test.go
  internal/storage/readstore/keys.go
  internal/storage/readstore/ledger_lifecycle.go
  internal/storage/readstore/ledger_lifecycle_test.go
  internal/storage/readstore/write_batch.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(query): clarify lifecycle rebuild boundary
  docs/technical/architecture/subsystems/read-path/read-snapshot-consistency.md
Due: none

test(operator): verify updated EventSink JetStream subject
  misc/operator/e2e/tests/event-sinks-nats/chainsaw-test.yaml
  misc/operator/e2e/tests/event-sinks-nats/updated-observer.yaml
Due: none

fix(events): remove misleading upsert alias
  cmd/ledgerctl/events/add_sink.go
  docs/ops/cli.md
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(operator): preserve EventSink cleanup ownership
  misc/operator/api/v1alpha1/cluster_types.go
  misc/operator/api/v1alpha1/eventsink_types.go
  misc/operator/cmd/operator/main.go
  misc/operator/internal/controller/cluster_sinks.go
  misc/operator/internal/controller/eventsink_controller.go
  misc/operator/internal/controller/eventsink_controller_test.go
  misc/operator/internal/controller/hash_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(events): describe EventSink ownership lifecycle
  docs/technical/architecture/subsystems/events-mirror/events.md
Due: none

fix(query): reject aligned reads of a ledger deleted after the pin (EN-1991)
  docs/technical/architecture/subsystems/read-path/read-snapshot-consistency.md
  docs/technical/audits/read-consistency-projections.md
  internal/application/ctrl/controller_default.go
  internal/application/ctrl/list_entities.go
  internal/application/indexbuilder/backfill_postings.go
  internal/application/indexbuilder/builder.go
  internal/query/aligned_snapshot.go
  internal/query/aligned_snapshot_lifecycle_test.go
  internal/query/aligned_snapshot_test.go
  internal/query/executor.go
  internal/storage/dal/reader.go
  internal/storage/dal/reader_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(docs): update metadata-max-command-bytes default to 1 MiB in openapi.yml and api-comparison.md
  docs/technical/contributing/api-comparison.md
  openapi.yml
Due: gosdk

fix(backup): replay removed event sinks on restore
  docs/technical/architecture/subsystems/backup/README.md
  internal/infra/backup/crash_safety_test.go
  internal/infra/backup/rebuild.go
  internal/infra/backup/rebuild_test.go
  tests/e2e/cluster/restore_events_sink_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1526): replay checker state from audit orders
  .golangci.yaml
  docs/technical/architecture/subsystems/checker/checker.md
  internal/application/check/checker.go
  internal/application/check/checker_log_bounds_test.go
  internal/application/check/checker_metadata_audit_test.go
  internal/infra/state/audit_replay.go
  internal/infra/state/fsmstate.go
  internal/infra/state/fsmstate_sequence_overflow_test.go
  internal/proto/servicepb/bucket.pb.go
  internal/query/compile.go
  misc/proto/bucket.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(backup): replay removed event sinks on restore (#2045)
  docs/technical/architecture/subsystems/backup/README.md
  internal/infra/backup/crash_safety_test.go
  internal/infra/backup/rebuild.go
  internal/infra/backup/rebuild_test.go
  tests/e2e/cluster/restore_events_sink_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(operator,domain): expose metadata limits in Cluster CRD; raise per-command ceiling to 1 MiB (EN-2069/EN-2105) (#2081)
  docs/ops/cli.md
  docs/technical/architecture/subsystems/admission/metadata-limits.md
  docs/technical/contributing/api-comparison.md
  internal/domain/metadata_limits.go
  misc/operator/api/v1alpha1/cluster_types.go
  misc/operator/api/v1alpha1/zz_generated.deepcopy.go
  misc/operator/config/crd/bases/ledger.formance.com_clusters.yaml
  misc/operator/helm/crds/templates/ledger.formance.com_clusters.yaml
  misc/operator/internal/controller/envvars.go
  misc/operator/internal/controller/envvars_test.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1526): initialize audit replay state
  internal/infra/state/audit_replay.go
  internal/infra/state/audit_replay_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(query): reject aligned reads of a ledger deleted after the pin (EN-1991) (#2030)
  docs/technical/architecture/subsystems/read-path/read-snapshot-consistency.md
  docs/technical/audits/read-consistency-projections.md
  internal/application/ctrl/controller_default.go
  internal/application/ctrl/list_entities.go
  internal/application/indexbuilder/backfill_postings.go
  internal/application/indexbuilder/builder.go
  internal/application/indexbuilder/pinned_logs_lifecycle_test.go
  internal/application/indexbuilder/process_logs.go
  internal/query/aligned_snapshot.go
  internal/query/aligned_snapshot_lifecycle_test.go
  internal/query/aligned_snapshot_test.go
  internal/query/executor.go
  internal/query/ledger.go
  internal/storage/dal/reader.go
  internal/storage/dal/reader_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(operator): assert EventSink UID in NATS scenario
  misc/operator/e2e/tests/event-sinks-nats/chainsaw-test.yaml
Due: none

docs(ledger): record logs and projections integrity ADR
  docs/technical/adr/0004-logs-and-projections-integrity.md
  docs/technical/adr/README.md
Due: none

test(model): reach every coverage sonde in a local run
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/actions.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/apply_surface.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/coverage.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/coverage_stats.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/indexes.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/main.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/queries.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(model): address review on coverage sonde tuning
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/actions.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/apply_surface.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/coverage.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/coverage_stats.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/indexes.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/processor.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/validate.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(model): report zero-hit sondes in the coverage table
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/actions.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/coverage.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/coverage_stats.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(audit): index idempotency keys
  docs/ops/cli.md
  docs/technical/architecture/subsystems/api/grpc-api.md
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/architecture/subsystems/indexer/indexer.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/http/handlers_list_audit_entries_test.go
  internal/application/auditindexer/index_entry.go
  internal/application/auditindexer/index_entry_test.go
  internal/application/auditindexer/indexer_test.go
  internal/infra/backup/rebuild_test.go
  internal/pkg/filterexpr/audit_test.go
  internal/pkg/filterexpr/format.go
  internal/pkg/filterexpr/parser.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/query/audit_filter.go
  internal/query/audit_filter_test.go
  internal/storage/readstore/audit_index.go
  internal/storage/readstore/audit_index_test.go
  internal/storage/readstore/keys.go
  misc/proto/common.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(proto): regenerate with nix-pinned toolchain after rebase
  internal/proto/commonpb/common.pb.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(audit): document textual DSL quoting constraint for idempotency_key
  docs/ops/cli.md
  openapi.yml
Due: gosdk

docs(audit): remove obsolete EN-1305 disambiguation warning
  internal/storage/readstore/keys.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
