Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

feat(benchmarks): build transaction provider in each benchmark routine to keep a context
  test/performance/benchmark_test.go
  test/performance/write_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(benchmarks): use js script instead of hardcoded scripts
  go.mod
  go.sum
  test/performance/benchmark_test.go
  test/performance/scripts/any_bounded_to_any.js
  test/performance/scripts/any_unbounded_to_any.js
  test/performance/scripts/world_to_any.js
  test/performance/scripts/world_to_bank.js
  test/performance/write_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: make benchmarks compiled binary not embedding the full server
  test/performance/Earthfile
  test/performance/README.md
  test/performance/env_test.go
  test/performance/env_testserver_test.go
  test/performance/main_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: make benchmarks not run (the main) when running go test ./... on root repo
  test/performance/main_test.go
  test/performance/write_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: move some code to better handle errors
  test/performance/write_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: some renaming
  test/performance/benchmark_test.go
  test/performance/env_remote_ledger_test.go
  test/performance/write_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(benchmarks): add -script flag to allow passing user custom scripts
  test/performance/benchmark_test.go
  test/performance/example_scripts/example1.js
  test/performance/write_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add benchmark comparison
  .github/workflows/benchmark.yml
  Earthfile
  test/performance/Earthfile
Due: none

fix: benchmark comparison
  test/performance/Earthfile
Due: none

fix: benchmark report file
  test/performance/Earthfile
Due: none

fix: benchmark report file (#527)
  test/performance/Earthfile
Due: none

feat: reverse benchmark output comparison
  test/performance/Earthfile
Due: none

feat: lock schema under a specific migration number
  internal/storage/bucket/bucket.go
  internal/storage/bucket/migrations/0-init-schema/up_tests_after.sql
  internal/storage/bucket/migrations/12-moves-fill-transaction-id/up_tests_after.sql
  internal/storage/bucket/migrations/12-moves-fill-transaction-id/up_tests_before.sql
  internal/storage/bucket/migrations/13-transactions-fill-inserted-at/up.sql
  internal/storage/bucket/migrations/13-transactions-fill-inserted-at/up_tests_after.sql
  internal/storage/bucket/migrations/13-transactions-fill-inserted-at/up_tests_before.sql
  internal/storage/bucket/migrations/14-transactions-fill-pcv/up_tests_after.sql
  internal/storage/bucket/migrations/14-transactions-fill-pcv/up_tests_before.sql
  internal/storage/bucket/migrations/15-accounts-volumes-fill-history/up_tests_after.sql
  internal/storage/bucket/migrations/15-accounts-volumes-fill-history/up_tests_before.sql
  internal/storage/bucket/migrations/16-transactions-metadata-fill-transaction-id/up_tests_after.sql
  internal/storage/bucket/migrations/16-transactions-metadata-fill-transaction-id/up_tests_before.sql
  internal/storage/bucket/migrations/17-accounts-metadata-fill-address/up_tests_after.sql
  internal/storage/bucket/migrations/17-accounts-metadata-fill-address/up_tests_before.sql
  internal/storage/bucket/migrations/18-logs-fill-memento/up_tests_after.sql
  internal/storage/bucket/migrations/18-logs-fill-memento/up_tests_before.sql
  internal/storage/bucket/migrations_test.go
  internal/storage/driver/driver.go
  pkg/testserver/server.go
  test/e2e/lifecycle_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: refine migrations system
  internal/storage/bucket/migrations.go
  internal/storage/bucket/migrations/0-init-schema/migration.sql
  internal/storage/bucket/migrations/0-init-schema/notes.yaml
  internal/storage/bucket/migrations/1-fix-trigger/migration.sql
  internal/storage/bucket/migrations/1-fix-trigger/notes.yaml
  internal/storage/bucket/migrations/10-fillfactor-on-moves/migration.sql
  internal/storage/bucket/migrations/10-fillfactor-on-moves/notes.yaml
  internal/storage/bucket/migrations/11-make-stateless/migration.sql
  internal/storage/bucket/migrations/11-make-stateless/notes.yaml
  internal/storage/bucket/migrations/2-fix-volumes-aggregation/migration.sql
  internal/storage/bucket/migrations/2-fix-volumes-aggregation/notes.yaml
  internal/storage/bucket/migrations/3-fix-trigger-inserting-backdated-transactions/migration.sql
  internal/storage/bucket/migrations/3-fix-trigger-inserting-backdated-transactions/notes.yaml
  internal/storage/bucket/migrations/4-add-account-first-usage-column/migration.sql
  internal/storage/bucket/migrations/4-add-account-first-usage-column/notes.yaml
  internal/storage/bucket/migrations/5-add-idempotency-key-index/migration.sql
  internal/storage/bucket/migrations/5-add-idempotency-key-index/notes.yaml
  internal/storage/bucket/migrations/6-add-reference-index/migration.sql
  internal/storage/bucket/migrations/6-add-reference-index/notes.yaml
  internal/storage/bucket/migrations/7-add-ik-unique-index/migration.sql
  internal/storage/bucket/migrations/7-add-ik-unique-index/notes.yaml
  internal/storage/bucket/migrations/8-ik-ledger-unique-index/migration.sql
  internal/storage/bucket/migrations/8-ik-ledger-unique-index/notes.yaml
  internal/storage/bucket/migrations/9-fix-incorrect-volumes-aggregation/migration.sql
  internal/storage/bucket/migrations/9-fix-incorrect-volumes-aggregation/notes.yaml
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: fix dependencies
  go.mod
  go.sum
  internal/storage/driver/driver.go
  internal/storage/driver/migrations.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: run migration outside sql transactions
  internal/storage/driver/driver.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: tests
  go.mod
  go.sum
  internal/storage/bucket/migrations.go
  internal/storage/ledger/transactions.go
  internal/storage/module.go
  test/e2e/api_balances_aggregated_test.go
  test/e2e/lifecycle_test.go
  test/e2e/suite_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: make migrations starting asynchronoulsy at application startup
  internal/storage/bucket/bucket_test.go
  internal/storage/bucket/migrations.go
  internal/storage/driver/migrations.go
  internal/storage/module.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: optimize storage tests
  go.sum
  internal/storage/ledger/main_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: incremental migrations
  internal/storage/bucket/migrations/12-moves-fill-transaction-id/up.sql
  internal/storage/bucket/migrations/13-transactions-fill-inserted-at/up.sql
  internal/storage/bucket/migrations/14-transactions-fill-pcv/up.sql
  internal/storage/bucket/migrations/15-accounts-volumes-fill-history/up.sql
  internal/storage/bucket/migrations/16-transactions-metadata-fill-transaction-id/up.sql
  internal/storage/bucket/migrations/17-accounts-metadata-fill-address/up.sql
  internal/storage/bucket/migrations/18-logs-fill-memento/up.sql
  internal/storage/driver/driver.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove legacy storage
  internal/storage/bucket/bucket.go
  internal/storage/driver/adapters.go
  internal/storage/ledger/adapters.go
  internal/storage/ledger/legacy/accounts.go
  internal/storage/ledger/legacy/accounts_test.go
  internal/storage/ledger/legacy/adapters.go
  internal/storage/ledger/legacy/balances.go
  internal/storage/ledger/legacy/balances_test.go
  internal/storage/ledger/legacy/debug.go
  internal/storage/ledger/legacy/errors.go
  internal/storage/ledger/legacy/logs.go
  internal/storage/ledger/legacy/logs_test.go
  internal/storage/ledger/legacy/main_test.go
  internal/storage/ledger/legacy/store.go
  internal/storage/ledger/legacy/transactions.go
  internal/storage/ledger/legacy/transactions_test.go
  internal/storage/ledger/legacy/utils.go
  internal/storage/ledger/legacy/volumes.go
  internal/storage/ledger/legacy/volumes_test.go
  test/e2e/api_accounts_list_test.go
  test/e2e/api_transactions_list_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: migrations
  internal/README.md
  internal/ledger.go
  internal/storage/driver/migrations.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add missing migrations to clean database
  internal/storage/bucket/migrations/19-clean-database/notes.yaml
  internal/storage/bucket/migrations/19-clean-database/up.sql
  internal/storage/ledger/balances.go
  internal/storage/ledger/transactions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: use accounts_volumes table directly to get balances
  internal/storage/ledger/balances.go
  internal/storage/ledger/balances_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: recreate account index concurrently
  internal/storage/bucket/migrations/19-accounts-recreate-unique-index/notes.yaml
  internal/storage/bucket/migrations/19-accounts-recreate-unique-index/up.sql
  internal/storage/bucket/migrations/20-clean-database/notes.yaml
  internal/storage/bucket/migrations/20-clean-database/up.sql
  internal/storage/driver/driver.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: introduce generate package
  pkg/generate/generator.go
  test/performance/benchmark_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add generator tool
  docs/api/README.md
  internal/api/v2/controllers_ledgers_create.go
  internal/api/v2/controllers_ledgers_create_test.go
  internal/api/v2/errors.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/gen.yaml
  pkg/client/docs/models/components/v2errorsenum.md
  pkg/client/docs/models/components/v2posttransactionscript.md
  pkg/client/docs/sdks/v2/README.md
  pkg/client/formance.go
  pkg/client/models/components/v2errorsenum.go
  pkg/client/models/components/v2posttransaction.go
  test/e2e/api_ledgers_create_test.go
  test/e2e/api_transactions_create_test.go
  test/performance/benchmark_test.go
  tools/generator/cmd/root.go
  tools/generator/examples/example1.js
  tools/generator/main.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests
