Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

feat: move api cursor to bunpaginate package (#1343)
  internal/api/backend/backend.go
  internal/api/backend/backend_generated.go
  internal/api/v1/controllers_accounts_test.go
  internal/api/v1/controllers_balances.go
  internal/api/v1/controllers_config.go
  internal/api/v1/controllers_config_test.go
  internal/api/v1/controllers_info_test.go
  internal/api/v1/controllers_transactions.go
  internal/api/v1/controllers_transactions_test.go
  internal/api/v2/controllers_accounts_test.go
  internal/api/v2/controllers_info_test.go
  internal/api/v2/controllers_transactions_test.go
  internal/engine/ledger.go
  internal/storage/driver/driver.go
  internal/storage/ledgerstore/accounts.go
  internal/storage/ledgerstore/logs.go
  internal/storage/ledgerstore/transactions.go
  internal/storage/ledgerstore/transactions_test.go
  internal/storage/ledgerstore/utils.go
  internal/storage/systemstore/ledgers.go
  libs/api/apitesting/utils.go
  libs/api/response.go
  libs/api/response_test.go
  libs/api/response_utils.go
  libs/api/utils.go
  libs/bun/bunpaginate/cursor.go
  libs/bun/bunpaginate/iterate.go
  libs/bun/bunpaginate/pagination_column.go
  libs/bun/bunpaginate/pagination_offset.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(orchestration): add some events (#1345)
  libs/api/apitesting/utils.go
  libs/api/response.go
  libs/api/response_test.go
  libs/api/response_utils.go
  libs/api/utils.go
  libs/bun/bunpaginate/cursor.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add capability to configure timestamp on debits/credits operations (#1346)
  cmd/serve.go
  internal/api/v1/controllers_balances_test.go
  internal/api/v1/controllers_info_test.go
  internal/api/v1/controllers_transactions.go
  internal/api/v1/controllers_transactions_test.go
  internal/api/v1/middlewares_metrics.go
  internal/api/v1/utils.go
  internal/api/v2/controllers_accounts_test.go
  internal/api/v2/controllers_balances_test.go
  internal/api/v2/controllers_bulk_test.go
  internal/api/v2/controllers_get_ledger_test.go
  internal/api/v2/controllers_info_test.go
  internal/api/v2/controllers_transactions_test.go
  internal/api/v2/middlewares_metrics.go
  internal/api/v2/utils.go
  internal/bus/message.go
  internal/engine/command/commander.go
  internal/engine/command/commander_test.go
  internal/log.go
  internal/script.go
  internal/storage/driver/driver.go
  internal/storage/ledgerstore/accounts.go
  internal/storage/ledgerstore/accounts_test.go
  internal/storage/ledgerstore/balances_test.go
  internal/storage/ledgerstore/logs.go
  internal/storage/ledgerstore/logs_test.go
  internal/storage/ledgerstore/migrations_v1.go
  internal/storage/ledgerstore/store_benchmarks_test.go
  internal/storage/ledgerstore/transactions.go
  internal/storage/ledgerstore/transactions_test.go
  internal/storage/ledgerstore/utils.go
  internal/storage/systemstore/configuration.go
  internal/storage/systemstore/ledgers.go
  internal/storage/systemstore/ledgers_test.go
  internal/transaction.go
  libs/migrations/migrator.go
  libs/time/time.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add 'timestamp' on 'send' stage (#1347)
  libs/time/time.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: Remove Analytics
  .github/workflows/main.yml
  .github/workflows/template_docker.yaml
  .github/workflows/template_goreleaser-build.yaml
  .github/workflows/template_goreleaser-release.yaml
  .goreleaser-darwin.yml
  .goreleaser.yml
  Dockerfile
  cmd/container.go
  cmd/internal/analytics.go
  cmd/internal/analytics_test.go
  cmd/root.go
  go.mod
  go.sum
  libs/analytics/cli.go
  libs/analytics/cli_test.go
  libs/analytics/module.go
  libs/analytics/module_test.go
  libs/analytics/segment.go
  libs/analytics/segment_test.go
  pkg/analytics/segment.go
  pkg/analytics/segment_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(ledger): add metadata at ledger level (#1353)
  internal/api/backend/backend.go
  internal/api/backend/backend_generated.go
  internal/api/v2/controllers_create_ledger_test.go
  internal/api/v2/controllers_ledgers.go
  internal/api/v2/controllers_ledgers_test.go
  internal/api/v2/routes.go
  internal/storage/driver/driver.go
  internal/storage/systemstore/ledgers.go
  internal/storage/systemstore/ledgers_test.go
  internal/storage/systemstore/migrations.go
  openapi.yaml
  openapi/v2.yaml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(ledger): add first usage on accounts (#1360)
  internal/account.go
  internal/machine/script/compiler/compiler.go
  internal/storage/ledgerstore/accounts.go
  internal/storage/ledgerstore/accounts_test.go
  internal/storage/ledgerstore/balances.go
  internal/storage/ledgerstore/bucket.go
  internal/storage/ledgerstore/migrations/4-add-account-first-usage-column.sql
  internal/storage/ledgerstore/transactions_test.go
  internal/storage/systemstore/migrations.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(ledger): add `reverted` filter on transactions list (#1361)
  internal/storage/ledgerstore/transactions.go
  internal/storage/ledgerstore/transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(libs): introduce publisher circuit breaker (#1344)
  cmd/buckets.go
  cmd/root.go
  internal/bus/monitor_test.go
  libs/migrations/migrator.go
  libs/publish/circuit_breaker/circuit_breaker.go
  libs/publish/circuit_breaker/circuit_breaker_test.go
  libs/publish/circuit_breaker/module.go
  libs/publish/circuit_breaker/storage/migrations.go
  libs/publish/circuit_breaker/storage/module.go
  libs/publish/circuit_breaker/storage/storage.go
  libs/publish/circuit_breaker/utils_test.go
  libs/publish/cli.go
  libs/publish/messages.go
  libs/publish/module.go
  libs/publish/topic_mapper/topic_mapper.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(ledger): missing catch for no script in transactions (#1372)
  internal/api/v2/controllers_transactions.go
  internal/api/v2/errors.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(all): deploy on staging with argocd (#1371)
  Earthfile
Due: none

feat(ledger): add capability to revert tx at effective date of original tx (#1374)
  internal/api/backend/backend.go
  internal/api/backend/backend_generated.go
  internal/api/v1/controllers_transactions.go
  internal/api/v1/controllers_transactions_test.go
  internal/api/v2/bulk.go
  internal/api/v2/controllers_bulk_test.go
  internal/api/v2/controllers_transactions.go
  internal/api/v2/controllers_transactions_test.go
  internal/engine/command/commander.go
  internal/engine/command/commander_test.go
  internal/engine/ledger.go
  libs/bun/bunpaginate/pagination_query_options.go
  libs/collectionutils/map.go
  libs/query/expression.go
  libs/query/expression_test.go
  openapi.yaml
  openapi/v2.yaml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: fix transactions query
  pkg/storage/sqlstorage/store_ledger_test.go
  pkg/storage/sqlstorage/transactions.go
  pkg/storage/sqlstorage/transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(ledger): add tests on transactions queries (#1379)
  internal/storage/ledgerstore/transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: transaction queries on ledger v1.10 (#485)
  pkg/storage/sqlstorage/store_ledger_test.go
  pkg/storage/sqlstorage/transactions.go
  pkg/storage/sqlstorage/transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: transaction queries (#484)
  pkg/storage/sqlstorage/store_ledger_test.go
  pkg/storage/sqlstorage/transactions.go
  pkg/storage/sqlstorage/transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: tx queries
  pkg/storage/sqlstorage/transactions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Revert "fix: transaction queries on ledger v1.10 (#485)"
  pkg/storage/sqlstorage/store_ledger_test.go
  pkg/storage/sqlstorage/transactions.go
  pkg/storage/sqlstorage/transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Revert "fix: transaction queries (#484)"
  pkg/storage/sqlstorage/store_ledger_test.go
  pkg/storage/sqlstorage/transactions.go
  pkg/storage/sqlstorage/transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: transactions queries on v1.10 (#489)
  pkg/storage/sqlstorage/store_ledger_test.go
  pkg/storage/sqlstorage/transactions.go
  pkg/storage/sqlstorage/transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: transactions queries on v1.11 (#488)
  pkg/storage/sqlstorage/store_ledger_test.go
  pkg/storage/sqlstorage/transactions.go
  pkg/storage/sqlstorage/transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: pgtesting parallelism (#1381)
  libs/pgtesting/postgres.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(ledger): query params format (#1391)
  internal/api/v1/controllers_balances.go
  internal/api/v1/controllers_balances_test.go
  internal/api/v2/controllers_balances.go
  internal/api/v2/controllers_balances_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(openapi): invalid query param (#1395)
  openapi.yaml
  openapi/v1.yaml
  openapi/v2.yaml
Due: gosdk

feat(openapi): treat all responses as speakeasy error (#1382)
  openapi.yaml
  openapi/v1.yaml
  openapi/v2.yaml
Due: gosdk

feat: decrease batch size when writing logs (#1403)
  cmd/container.go
  cmd/serve.go
  internal/engine/command/commander.go
  internal/engine/command/commander_test.go
  internal/engine/ledger.go
  internal/engine/module.go
  internal/engine/resolver.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(ledger): segfault when error initializing storage driver (#1405)
  cmd/buckets.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(ledger): Add /volumes endpoint with OOT and PIT filters (#1407)
  internal/api/backend/backend.go
  internal/api/backend/backend_generated.go
  internal/api/v2/controllers_volumes.go
  internal/api/v2/controllers_volumes_test.go
  internal/api/v2/routes.go
  internal/api/v2/utils.go
  internal/engine/ledger.go
  internal/storage/ledgerstore/utils.go
  internal/storage/ledgerstore/volumes.go
  internal/storage/ledgerstore/volumes_test.go
  internal/volumes.go
  libs/bun/bunpaginate/pagination_offset.go
  openapi.yaml
  openapi/v2.yaml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(ledger): send details about the failing posting in error (#1412)
  internal/api/v2/controllers_transactions_test.go
  internal/engine/command/commander.go
  internal/engine/command/commander_test.go
  internal/machine/funding.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(ledger): Add groupBy (lvl segment) to /volumes endpoint (#1417)
  internal/api/v2/controllers_volumes.go
  internal/api/v2/controllers_volumes_test.go
  internal/api/v2/utils.go
  internal/storage/ledgerstore/utils.go
  internal/storage/ledgerstore/volumes.go
  internal/storage/ledgerstore/volumes_test.go
  openapi.yaml
  openapi/v2.yaml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix copy libs ledger
  libs/bun/bunconnect/connect.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(payments): query payments by reference or metadata (#1425)
  libs/query/expression.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(ledger): data race (#1428)
  internal/engine/ledger.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(*): add licence system (#1424)
  cmd/root.go
  cmd/serve.go
  cmd/viper.go
  go.mod
  go.sum
  libs/errorsutils/errors.go
  libs/go.mod
  libs/go.sum
  libs/licence/cli.go
  libs/licence/jwt.go
  libs/licence/licence.go
  libs/service/app.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(agent): deploy stack list module (#1414)
  libs/collectionutils/slice.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(ledger): libs remove components/ledger/libs relicas (#1445)
  Earthfile
  libs/errorsutils/errors.go
  libs/licence/cli.go
  libs/licence/jwt.go
  libs/licence/licence.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(ledger): compile target still export ./libs (#1447)
  Earthfile
Due: none

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
