Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

docs(audit): clarify gRPC in lookup requires OrFilter over string_cond leaves
  docs/ops/cli.md
  openapi.yml
Due: gosdk

docs(audit): cross-reference NUL guards across readstore and compiler layers
  internal/query/audit_filter.go
  internal/storage/readstore/audit_index.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(audit): reject NUL in prefix operands; add openapi filter doc
  internal/application/auditindexer/index_entry_test.go
  internal/query/audit_filter_test.go
  internal/storage/readstore/audit_index.go
  internal/storage/readstore/audit_index_test.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(filterexpr): use errors.New for static MetadataOp prefix rejection
  internal/pkg/filterexpr/parser.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(audit): guard ^= operator in MetadataOp/uint; surface NUL as InvalidArgument; correct quoting docs
  docs/ops/cli.md
  internal/pkg/filterexpr/audit_test.go
  internal/pkg/filterexpr/parser.go
  internal/query/audit_filter.go
  internal/query/audit_filter_test.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(audit): fix stale comments and gRPC fallback instructions
  docs/ops/cli.md
  internal/proto/auditpb/audit.pb.go
  internal/proto/auditpb/audit_vtproto.pb.go
  internal/proto/clusterbootstrappb/cluster_bootstrap.pb.go
  internal/proto/clusterbootstrappb/cluster_bootstrap_grpc.pb.go
  internal/proto/clusterbootstrappb/cluster_bootstrap_vtproto.pb.go
  internal/proto/clusterpb/cluster.pb.go
  internal/proto/clusterpb/cluster_grpc.pb.go
  internal/proto/clusterpb/cluster_vtproto.pb.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/eventspb/events.pb.go
  internal/proto/eventspb/events_vtproto.pb.go
  internal/proto/proposalpb/proposal.pb.go
  internal/proto/proposalpb/proposal_vtproto.pb.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  internal/proto/rafttransportpb/raft_transport.pb.go
  internal/proto/rafttransportpb/raft_transport_grpc.pb.go
  internal/proto/rafttransportpb/raft_transport_vtproto.pb.go
  internal/proto/restorepb/restore.pb.go
  internal/proto/restorepb/restore_grpc.pb.go
  internal/proto/restorepb/restore_vtproto.pb.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_grpc.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  internal/proto/signaturepb/signature.pb.go
  internal/proto/signaturepb/signature_vtproto.pb.go
  internal/proto/snapshotpb/snapshot.pb.go
  internal/proto/snapshotpb/snapshot_grpc.pb.go
  internal/proto/snapshotpb/snapshot_vtproto.pb.go
  internal/storage/readstore/keys.go
  misc/proto/common.proto
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(proto): regenerate with nix-pinned toolchain (v1.36.12/v7.34.2)
  internal/proto/auditpb/audit.pb.go
  internal/proto/auditpb/audit_vtproto.pb.go
  internal/proto/clusterbootstrappb/cluster_bootstrap.pb.go
  internal/proto/clusterbootstrappb/cluster_bootstrap_grpc.pb.go
  internal/proto/clusterbootstrappb/cluster_bootstrap_vtproto.pb.go
  internal/proto/clusterpb/cluster.pb.go
  internal/proto/clusterpb/cluster_grpc.pb.go
  internal/proto/clusterpb/cluster_vtproto.pb.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/eventspb/events.pb.go
  internal/proto/eventspb/events_vtproto.pb.go
  internal/proto/proposalpb/proposal.pb.go
  internal/proto/proposalpb/proposal_vtproto.pb.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  internal/proto/rafttransportpb/raft_transport.pb.go
  internal/proto/rafttransportpb/raft_transport_grpc.pb.go
  internal/proto/rafttransportpb/raft_transport_vtproto.pb.go
  internal/proto/restorepb/restore.pb.go
  internal/proto/restorepb/restore_grpc.pb.go
  internal/proto/restorepb/restore_vtproto.pb.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_grpc.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  internal/proto/signaturepb/signature.pb.go
  internal/proto/signaturepb/signature_vtproto.pb.go
  internal/proto/snapshotpb/snapshot.pb.go
  internal/proto/snapshotpb/snapshot_grpc.pb.go
  internal/proto/snapshotpb/snapshot_vtproto.pb.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(audit): cover idempotency index branches
  internal/application/auditindexer/index_entry_test.go
  internal/pkg/filterexpr/audit_test.go
  internal/query/audit_filter_test.go
  internal/storage/readstore/audit_index_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(audit): use errors.New for static error in prefix guard
  internal/storage/readstore/audit_index.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(operator): recover index attribution from audit (EN-2002)
  cmd/ledgerctl/cmdutil/signing.go
  cmd/ledgerctl/cmdutil/signing_test.go
  cmd/ledgerctl/indexes/create.go
  cmd/ledgerctl/indexes/creation_audit.go
  cmd/ledgerctl/indexes/creation_audit_test.go
  cmd/ledgerctl/indexes/list.go
  docs/ops/cli.md
  docs/technical/architecture/subsystems/events-mirror/mirror.md
  docs/technical/architecture/subsystems/indexer/README.md
  docs/technical/architecture/subsystems/indexer/operator-ownership.md
  misc/operator/README.md
  misc/operator/api/v1alpha1/ledger_crd_types.go
  misc/operator/config/crd/bases/ledger.formance.com_ledgers.yaml
  misc/operator/helm/crds/templates/ledger.formance.com_ledgers.yaml
  misc/operator/internal/controller/ledger_crd_controller.go
  misc/operator/internal/controller/ledger_index_ownership_real_test.go
  misc/operator/internal/controller/ledger_index_reconcile.go
  misc/operator/internal/controller/ledger_index_reconcile_test.go
  misc/operator/internal/controller/ledger_indexes.go
  tests/e2e/cluster/operator_index_ownership_test.go
  tests/e2e/cluster/restore_index_registry_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: migrate typed volume assertions
  tests/e2e/business/force_test.go
  tests/e2e/business/numscript_experimental_test.go
  tests/e2e/business/numscript_language_test.go
  tests/e2e/cluster/cache_divergence_test.go
  tests/e2e/cluster/query_checkpoint_test.go
  tests/e2e/cluster/restore_mirror_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(test): remove wk8/go-ordered-map direct import from volumes_test
  internal/proto/commonpb/volumes_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1874): validate complete member changes and snapshot discovery
  cmd/server/join_auth_test.go
  cmd/server/server.go
  docs/ops/cli.md
  docs/technical/architecture/subsystems/consensus/removed-member-registry.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/grpc/server_cluster.go
  internal/adapter/grpc/server_cluster_add_learner_test.go
  internal/application/membership/membership.go
  internal/infra/membership/confchange.go
  internal/infra/membership/confchange_identity_test.go
  internal/infra/membership/membership.go
  internal/infra/membership/membership_test.go
  internal/infra/node/applier_test.go
  internal/infra/node/confchange_identity_test.go
  internal/infra/node/configured_peers_test.go
  internal/infra/node/node.go
  internal/infra/node/promotion_identity_test.go
  internal/infra/node/startup_membership_removal_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: reject invalid typed volume values
  internal/application/check/checker.go
  internal/application/check/checker_post_commit_volumes_test.go
  internal/proto/commonpb/bigint.go
  internal/proto/commonpb/bigint_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: validate VolumeEntry.Volumes before JSON conversion
  internal/proto/commonpb/common.pb.json.go
  internal/proto/commonpb/post_commit_volumes_json_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(EN-1874): persist election state in membership regressions
  internal/infra/node/configured_peers_test.go
  internal/infra/node/startup_membership_removal_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: cover typed volume helpers
  internal/proto/commonpb/volumes_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1874): validate every discovered member identity
  cmd/server/join_auth_test.go
  cmd/server/server.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1874): require identities for all raft members
  cmd/ledgerctl/cluster/add_learner.go
  cmd/ledgerctl/cluster/add_learner_test.go
  cmd/server/join_auth_test.go
  cmd/server/server.go
  docs/ops/cli.md
  docs/ops/cluster-operations.md
  docs/technical/architecture/subsystems/consensus/README.md
  docs/technical/architecture/subsystems/consensus/raft-consensus.md
  docs/technical/architecture/subsystems/consensus/removed-member-registry.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/grpc/server_bootstrap.go
  internal/adapter/grpc/server_cluster.go
  internal/application/membership/membership.go
  internal/application/membership/membership_test.go
  internal/bootstrap/instance_id_provider_test.go
  internal/bootstrap/module.go
  internal/infra/membership/confchange.go
  internal/infra/membership/membership.go
  internal/infra/membership/membership_test.go
  internal/infra/membership/peer_store.go
  internal/infra/membership/remove_node_blacklist_test.go
  internal/infra/node/add_learner_classify_test.go
  internal/infra/node/config.go
  internal/infra/node/membership_helpers_test.go
  internal/infra/node/node.go
  internal/infra/node/remove_node_post_commit_test.go
  internal/proto/clusterbootstrappb/cluster_bootstrap.pb.go
  internal/proto/clusterbootstrappb/cluster_bootstrap_reader.pb.go
  internal/proto/clusterbootstrappb/cluster_bootstrap_vtproto.pb.go
  internal/proto/clusterpb/cluster.pb.go
  internal/proto/clusterpb/cluster_reader.pb.go
  internal/proto/clusterpb/cluster_vtproto.pb.go
  internal/storage/wal/instance_id_marker.go
  internal/storage/wal/instance_id_marker_test.go
  misc/proto/cluster.proto
  misc/proto/cluster_bootstrap.proto
  tests/e2e/cluster/learner_test.go
  tests/e2e/cluster/remove_node_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

style(EN-1874): apply canonical Go normalization
  cmd/server/server.go
  internal/infra/membership/membership.go
  internal/infra/node/confchange_identity_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: strengthen presence validation across source, oracles, and tests
  internal/application/check/checker.go
  internal/proto/commonpb/volumes.go
  tests/antithesis/workload/bin/cmds/main/eventually_correct/main.go
  tests/antithesis/workload/bin/cmds/main/eventually_correct/main_test.go
  tests/antithesis/workload/bin/cmds/main/eventually_correct/quiescence_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/validate.go
  tests/e2e/business/force_test.go
  tests/e2e/business/ledger_delete_cleanup_test.go
  tests/e2e/business/numscript_experimental_test.go
  tests/e2e/business/numscript_language_test.go
  tests/e2e/business/numscript_test.go
  tests/e2e/business/reversions_test.go
  tests/e2e/business/transactions_test.go
  tests/e2e/business/transient_accounts_test.go
  tests/scenarios/scenariotest/scenariotest.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(test): reject nil volume fields in Antithesis workload checkers
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/queries.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/reads.go
  tests/antithesis/workload/internal/checks.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: address NumaryBot findings — presence validation, openapi patterns, diagnostic format
  internal/proto/commonpb/bigint.go
  openapi.yml
  pkg/scenario/block.go
  tests/scenarios/scenariotest/scenariotest.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

test: compare typed volumes as decimals
  tests/e2e/business/force_test.go
  tests/e2e/business/idempotency_test.go
  tests/e2e/business/ledger_delete_cleanup_test.go
  tests/e2e/business/numscript_test.go
  tests/e2e/business/reversions_test.go
  tests/e2e/business/transactions_test.go
  tests/e2e/business/transient_accounts_test.go
  tests/e2e/cluster/bootstrap_test.go
  tests/e2e/cluster/raft_test.go
  tests/e2e/cluster/restore_test.go
  tests/e2e/cluster/rolling_config_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(test): migrate checkpoint_reads_test to typed volume wrappers
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/checkpoint_reads_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1874): preserve force-removal lifecycle after rebase
  internal/infra/node/force_remove_run_test.go
  internal/infra/node/node.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

style(EN-1874): fix lint whitespace in configured_peers_test
  internal/infra/node/configured_peers_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(EN-1874): align shutdown cleanup with rebased lifecycle
  docs/technical/contributing/api-comparison.md
  internal/infra/node/promotion_identity_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(EN-1874): make removal tombstone guarantee unconditional
  docs/ops/cli.md
Due: none

docs(EN-1874): clarify PeerInfo.instance_id type and discovery retry semantics
  docs/ops/cluster-operations.md
  docs/technical/contributing/api-comparison.md
Due: none

test(EN-1874): allow loaded membership fixtures time to commit
  internal/application/membership/membership_node_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: align rebased fixtures with current membership and store contracts
  internal/bootstrap/service_address_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1874): retain raft peers and strengthen identity regressions
  docs/ops/cli.md
  docs/ops/cluster-operations.md
  docs/technical/architecture/subsystems/consensus/removed-member-registry.md
  internal/infra/membership/membership.go
  internal/infra/membership/membership_test.go
  internal/infra/membership/remove_node_blacklist_test.go
  internal/infra/node/confchange_identity_test.go
  internal/infra/node/membership_invariant_test.go
  internal/infra/node/node.go
  internal/infra/node/promotion_identity_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(EN-1874): strengthen identity regression assertions and docs
  docs/ops/deployment.md
  internal/adapter/grpc/server_bootstrap.go
  internal/adapter/grpc/server_cluster.go
  internal/infra/membership/confchange_identity_test.go
  internal/infra/membership/membership_test.go
  internal/infra/node/confchange_identity_test.go
  internal/infra/node/node.go
  internal/infra/node/promotion_identity_test.go
  internal/infra/node/remove_node_post_commit_test.go
  tests/e2e/cluster/learner_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: add nil guards for CLI renderer and E2E zero-valued presence checks
  cmd/ledgerctl/accounts/get.go
  tests/e2e/business/color_segregation_test.go
  tests/e2e/business/ephemeral_purge_test.go
  tests/e2e/cluster/cache_divergence_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

build: regenerate protobuf after rebase on revision 14 base
  internal/proto/commonpb/common.pb.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: extract shared canonical decimal validator and add nil field guards
  internal/proto/commonpb/bigint.go
  internal/proto/commonpb/volumes.go
  tests/antithesis/workload/bin/cmds/main/parallel_driver_stale_reads/main.go
  tests/e2e/business/color_numscript_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1874): preserve peer routing on rejected admission
  docs/ops/cluster-operations.md
  docs/technical/architecture/subsystems/consensus/README.md
  docs/technical/architecture/subsystems/consensus/removed-member-registry.md
  internal/adapter/grpc/server_bootstrap.go
  internal/application/membership/membership.go
  internal/application/membership/membership_test.go
  internal/bootstrap/module.go
  tests/e2e/cluster/learner_rejected_routing_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1874): advance identity protocol after target synchronization
  docs/technical/contributing/api-comparison.md
Due: none

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
