Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

fix(EN-1273): honor at_effective_date on direct revert (#499) (#501)
  internal/application/check/replay_store.go
  internal/application/check/replay_store_test.go
  internal/domain/processing/processor_mirror.go
  internal/domain/processing/processor_revert_transaction.go
  internal/domain/processing/processor_revert_transaction_test.go
  internal/domain/processing/processor_transaction.go
  internal/domain/replay/replay.go
  internal/domain/replay/writer.go
  internal/infra/backup/rebuild.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_dethash.pb.go
  internal/proto/commonpb/common_reader.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  misc/proto/common.proto
  tests/e2e/business/reversions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(state): preserve tombstones in MirrorTouch to stop deleted-metadata resurrection (#514)
  internal/infra/state/cache_snapshotter.go
  internal/infra/state/cache_snapshotter_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1277): drive backup compaction dispatch from the attribute registry (#523)
  internal/infra/attributes/attributes.go
  internal/infra/attributes/compact.go
  internal/infra/attributes/compact_test.go
  internal/infra/attributes/module.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(ledgerctl): emit editable config on `ledgers configuration --yaml/--json` (#493) (#502)
  cmd/ledgerctl/ledgers/config_model.go
  cmd/ledgerctl/ledgers/config_model_test.go
  cmd/ledgerctl/ledgers/configuration.go
  docs/ops/cli.md
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(ledgerctl): drop removed Ledger field from PreparedQuery literal (#535)
  .gitignore
  cmd/ledgerctl/ledgers/config_model.go
  cmd/ledgerctl/ledgers/config_model_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: upgrade go-libs to v5.6.1
  deployments/pulumi/go.mod
  deployments/pulumi/go.sum
  go.mod
  go.sum
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: none

chore(deps): update module github.com/opencontainers/runc to v1.3.6 [security]
  go.mod
  go.sum
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: none

chore(deps): update module github.com/opencontainers/runc to v1.3.6 [security] (#1426)
  go.mod
  go.sum
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: none

fix(EN-1278): refresh node.confState from installed snapshot in finishReady (#536)
  internal/infra/node/node.go
  internal/infra/node/node_confstate_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1280): enforce cancellable Wait on Future (#528)
  internal/application/admission/admission.go
  internal/application/events/emitter.go
  internal/application/mirror/worker.go
  internal/bootstrap/metadata_batch_proposer.go
  internal/bootstrap/propose_technical.go
  internal/infra/node/applier_test.go
  internal/infra/node/node.go
  internal/infra/node/read_index.go
  internal/infra/node/read_index_unit_test.go
  internal/pkg/futures/future.go
  internal/pkg/futures/future_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1316): restore validate exits non-zero on integrity errors (#538)
  cmd/ledgerctl/cmdutil/integrity.go
  cmd/ledgerctl/cmdutil/integrity_test.go
  cmd/ledgerctl/restore/validate.go
  cmd/ledgerctl/store/bootstrap.go
  cmd/ledgerctl/store/check.go
  docs/ops/cli.md
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1328): unblock cluster cold-restart deadlock (#550)
  docs/ops/authentication.md
  docs/ops/deployment.md
  internal/adapter/http/backend_generated_test.go
  internal/adapter/http/handler.go
  internal/adapter/http/handlers_health.go
  internal/adapter/http/handlers_health_test.go
  internal/adapter/http/server.go
  internal/bootstrap/module.go
  internal/infra/node/node.go
  internal/storage/wal/cluster_joined_marker.go
  internal/storage/wal/wal.go
  internal/storage/wal/wal_generated.go
  misc/operator/e2e/tests/cluster-cold-restart/chainsaw-test.yaml
  misc/operator/e2e/tests/cluster-cold-restart/ledgerservice.yaml
  misc/operator/internal/controller/build_command_test.go
  misc/operator/internal/controller/reconcile_statefulset.go
  misc/operator/justfile
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(EN-1281): strip CompactAllForBackup to PrepareForBackup (#534)
  .golangci.yaml
  AGENTS.md
  cmd/ledgerctl/store/bootstrap.go
  docs/drafts/advanced-read-queries.md
  docs/ops/backup-restore.md
  docs/ops/cli.md
  docs/technical/architecture/core/deterministic-fsm.md
  internal/adapter/grpc/server_restore.go
  internal/infra/attributes/accumulator.go
  internal/infra/attributes/attributes.go
  internal/infra/attributes/attributes_helpers_test.go
  internal/infra/attributes/compact.go
  internal/infra/attributes/compact_test.go
  internal/infra/attributes/module.go
  internal/infra/attributes/prepare.go
  internal/infra/attributes/prepare_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(backup): FSM-managed backup jobs (#401)
  docs/ops/backup-restore.md
  docs/ops/cli.md
  internal/adapter/grpc/backup_storage_test.go
  internal/adapter/grpc/errors_test.go
  internal/adapter/grpc/server.go
  internal/adapter/grpc/server_cluster.go
  internal/application/backup/cleanup.go
  internal/application/backup/cleanup_generated_test.go
  internal/application/backup/cleanup_test.go
  internal/application/backup/orchestrator.go
  internal/application/backup/orchestrator_generated_test.go
  internal/application/backup/orchestrator_test.go
  internal/bootstrap/backup_proposer.go
  internal/bootstrap/module.go
  internal/infra/attributes/compact.go
  internal/infra/backup/manager.go
  internal/infra/backup/manager_test.go
  internal/infra/state/backup_jobs.go
  internal/infra/state/backup_jobs_test.go
  internal/infra/state/cache_snapshotter.go
  internal/infra/state/machine.go
  internal/infra/state/machine_backup.go
  internal/infra/state/machine_backup_test.go
  internal/infra/state/machine_technical_updates.go
  internal/infra/state/registry.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/raftcmdpb/raft_cmd_dethash.pb.go
  internal/proto/raftcmdpb/raft_cmd_reader.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  internal/storage/dal/store.go
  misc/proto/raft_cmd.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(coldstorage): remove redundant double-close in downloadSST (#531)
  internal/infra/coldstorage/reader.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1317): guard getDB() consumers against Close/RestoreCheckpoint (#541)
  internal/storage/dal/smart_compactor.go
  internal/storage/dal/smart_compactor_internal_test.go
  internal/storage/dal/store.go
  internal/storage/dal/store_lifecycle_race_test.go
  internal/storage/dal/store_metrics.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1295): prefix all ledgerctl env vars with LEDGERCTL_ (#556)
  cmd/ledgerctl/cmdutil/client.go
  cmd/ledgerctl/main.go
  cmd/ledgerctl/main_test.go
  docs/ops/authentication.md
  docs/ops/cli.md
  justfile
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

ci: trigger Default workflow on push to main (#560)
  .github/workflows/main.yml
Due: none

perf(EN-1325): drain WriteSet.Merge by zone in monotone Pebble key order (#551)
  internal/infra/state/cache_incremental.go
  internal/infra/state/write_set.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(EN-1292): expose server/cluster version over HTTP and gRPC (#561)
  .goreleaser.yml
  cmd/ledgerctl/main.go
  cmd/server/server.go
  docs/ops/cli.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/auth/http_middleware.go
  internal/adapter/grpc/server_bucket.go
  internal/adapter/grpc/server_cluster.go
  internal/adapter/grpc/server_info_test.go
  internal/adapter/http/handler.go
  internal/adapter/http/handlers_aggregate_volumes_test.go
  internal/adapter/http/handlers_analyze_accounts_test.go
  internal/adapter/http/handlers_analyze_transactions_test.go
  internal/adapter/http/handlers_coverage_test.go
  internal/adapter/http/handlers_get_ledger_stats_test.go
  internal/adapter/http/handlers_info.go
  internal/adapter/http/handlers_info_test.go
  internal/bootstrap/module.go
  internal/pkg/version/version.go
  internal/pkg/version/version_test.go
  internal/proto/clusterpb/cluster.pb.go
  internal/proto/clusterpb/cluster_dethash.pb.go
  internal/proto/clusterpb/cluster_reader.pb.go
  internal/proto/clusterpb/cluster_vtproto.pb.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_dethash.pb.go
  internal/proto/servicepb/bucket_reader.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  misc/proto/bucket.proto
  misc/proto/cluster.proto
  openapi.yml
  tests/e2e/business/info_test.go
  tests/e2e/cluster/info_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(EN-1321): wire prepared queries into bloom filter iso with other attributes (#547)
  cmd/server/server.go
  docs/ops/cli.md
  internal/infra/bloom/bloom.go
  internal/infra/state/write_set_test.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_reader.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  misc/operator/README.md
  misc/operator/api/v1alpha1/ledger_types.go
  misc/operator/api/v1alpha1/zz_generated.deepcopy.go
  misc/operator/config/crd/bases/ledger.formance.com_ledgerservices.yaml
  misc/operator/helm/crds/templates/ledger.formance.com_ledgerservices.yaml
  misc/operator/internal/controller/envvars.go
  misc/operator/internal/controller/envvars_test.go
  misc/operator/internal/controller/ledger_controller.go
  misc/operator/internal/controller/validate_cluster_config_test.go
  misc/proto/common.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(processing): homogenize Reader pattern across the full Scope (#565)
  internal/application/check/checker_test.go
  internal/domain/processing/processor_apply.go
  internal/domain/processing/processor_chapter.go
  internal/domain/processing/processor_chapter_test.go
  internal/domain/processing/processor_dispatch_test.go
  internal/domain/processing/processor_events_sink_test.go
  internal/domain/processing/processor_index.go
  internal/domain/processing/processor_index_test.go
  internal/domain/processing/processor_ledger.go
  internal/domain/processing/processor_ledger_test.go
  internal/domain/processing/processor_metadata.go
  internal/domain/processing/processor_metadata_additional_test.go
  internal/domain/processing/processor_metadata_schema_test.go
  internal/domain/processing/processor_metadata_test.go
  internal/domain/processing/processor_mirror.go
  internal/domain/processing/processor_mirror_test.go
  internal/domain/processing/processor_numscript_library.go
  internal/domain/processing/processor_query_checkpoint.go
  internal/domain/processing/processor_revert_transaction.go
  internal/domain/processing/processor_revert_transaction_test.go
  internal/domain/processing/processor_test.go
  internal/domain/processing/processor_transaction.go
  internal/domain/processing/processor_transaction_test.go
  internal/domain/processing/scope_helpers.go
  internal/domain/processing/store.go
  internal/domain/processing/store_generated_test.go
  internal/infra/state/chapter_tracker.go
  internal/infra/state/machine_cache_divergence_test.go
  internal/infra/state/scope.go
  internal/infra/state/write_set.go
  internal/infra/state/write_set_ephemeral_purge.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

perf(plan): hoist buildPlanIndex out of applyBits per-op loop (#566)
  .github/workflows/main.yml
  internal/infra/plan/coverage_bits.go
  internal/infra/plan/coverage_bits_test.go
  internal/infra/plan/runner.go
  justfile
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(EN-1332): processor outputs as output/state/signal trichotomy (#562)
  internal/application/check/checker_test.go
  internal/domain/processing/processor.go
  internal/domain/processing/processor_account_type.go
  internal/domain/processing/processor_apply.go
  internal/domain/processing/processor_chapter.go
  internal/domain/processing/processor_chapter_schedule.go
  internal/domain/processing/processor_chapter_schedule_test.go
  internal/domain/processing/processor_chapter_test.go
  internal/domain/processing/processor_config.go
  internal/domain/processing/processor_dispatch_test.go
  internal/domain/processing/processor_events_sink.go
  internal/domain/processing/processor_events_sink_test.go
  internal/domain/processing/processor_helpers_test.go
  internal/domain/processing/processor_index.go
  internal/domain/processing/processor_index_test.go
  internal/domain/processing/processor_ledger.go
  internal/domain/processing/processor_ledger_metadata.go
  internal/domain/processing/processor_ledger_test.go
  internal/domain/processing/processor_metadata.go
  internal/domain/processing/processor_metadata_schema.go
  internal/domain/processing/processor_mirror.go
  internal/domain/processing/processor_numscript_library.go
  internal/domain/processing/processor_prepared_query.go
  internal/domain/processing/processor_query_checkpoint.go
  internal/domain/processing/processor_query_checkpoint_schedule.go
  internal/domain/processing/processor_query_checkpoint_schedule_test.go
  internal/domain/processing/processor_revert_transaction.go
  internal/domain/processing/processor_signing.go
  internal/domain/processing/processor_test.go
  internal/domain/processing/processor_transaction.go
  internal/domain/processing/store.go
  internal/domain/processing/store_generated_test.go
  internal/infra/state/audit.go
  internal/infra/state/audit_test.go
  internal/infra/state/machine.go
  internal/infra/state/write_set.go
  internal/infra/state/write_set_absorb_test.go
  internal/infra/state/write_set_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(test): gate cross-node identity oracle on Pebble-durable cursor, not Raft Applied (#449)
  internal/infra/node/node.go
  internal/infra/state/machine.go
  internal/proto/clusterpb/cluster.pb.go
  internal/proto/clusterpb/cluster_dethash.pb.go
  internal/proto/clusterpb/cluster_reader.pb.go
  internal/proto/clusterpb/cluster_vtproto.pb.go
  misc/proto/cluster.proto
  tests/antithesis/workload/bin/cmds/main/eventually_cross_node_identity/main.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

model section in testing docs (#572)
  docs/technical/contributing/testing.md
Due: none

fix(EN-1319): align antithesis workload with operator resource prefix (#576)
  tests/antithesis/workload/bin/cmds/main/singleton_driver_config_change/main.go
  tests/antithesis/workload/go.mod
  tests/antithesis/workload/internal/k8s.go
  tests/antithesis/workload/internal/k8s_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests
