Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

fix(state): update lastPersistedIndex after snapshot sync
  internal/infra/state/machine.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(antithesis): make period schedule driver a singleton
  tests/antithesis/workload/bin/cmds/singleton_driver_period_schedule/main.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(antithesis): avoid metadata key collisions in typed metadata driver
  tests/antithesis/workload/bin/cmds/parallel_driver_typed_metadata/main.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(antithesis): add 11 new workload drivers for untested business features
  tests/antithesis/config/docker-compose.yaml
  tests/antithesis/workload/bin/cmds/parallel_driver_account_types/main.go
  tests/antithesis/workload/bin/cmds/parallel_driver_bulk/main.go
  tests/antithesis/workload/bin/cmds/parallel_driver_event_sinks/main.go
  tests/antithesis/workload/bin/cmds/parallel_driver_list_transactions/main.go
  tests/antithesis/workload/bin/cmds/parallel_driver_logs/main.go
  tests/antithesis/workload/bin/cmds/parallel_driver_numscript_lifecycle/main.go
  tests/antithesis/workload/bin/cmds/parallel_driver_period_schedule/main.go
  tests/antithesis/workload/bin/cmds/parallel_driver_signing_keys/main.go
  tests/antithesis/workload/bin/cmds/parallel_driver_transfer_leadership/main.go
  tests/antithesis/workload/bin/cmds/parallel_driver_tx_metadata/main.go
  tests/antithesis/workload/bin/cmds/parallel_driver_update_query/main.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: map AWS SDK errors to gRPC FailedPrecondition with ErrorInfo
  internal/adapter/grpc/server.go
  tests/antithesis/workload/bin/cmds/parallel_driver_backup/main.go
  tests/antithesis/workload/internal/client.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(antithesis): clean up config defaults and tune thresholds for chaos
  tests/antithesis/config/docker-compose.yaml
Due: none

feat(antithesis): full period lifecycle with MinIO cold storage
  Dockerfile.antithesis
  tests/antithesis/config/docker-compose.yaml
  tests/antithesis/workload/bin/cmds/singleton_driver_period_close/main.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(backup): remove streaming tar Backup RPC, keep only S3-based Backup
  cmd/ledgerctl/store/backup.go
  cmd/ledgerctl/store/bootstrap.go
  docs/ops/backup-restore.md
  internal/adapter/grpc/server_cluster.go
  internal/adapter/grpc/server_restore.go
  internal/infra/attributes/compact_test.go
  internal/infra/backup/filesystem.go
  internal/infra/backup/manager.go
  internal/infra/backup/storage.go
  internal/proto/clusterpb/cluster.pb.go
  internal/proto/clusterpb/cluster_grpc.pb.go
  internal/proto/clusterpb/cluster_vtproto.pb.go
  misc/proto/cluster.proto
  pkg/actions/backup.go
  tests/antithesis/config/docker-compose.yaml
  tests/antithesis/workload/bin/cmds/parallel_driver_backup/main.go
  tests/e2e/business/backup_s3_test.go
  tests/e2e/business/backup_test.go
  tests/e2e/business/incremental_backup_filesystem_test.go
  tests/e2e/cluster/bootstrap_test.go
  tests/e2e/cluster/restore_test.go
  tests/e2e/testutil/helpers.go
  tests/scenarios/scenariotest/scenariotest.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: enforce read barrier for GetNumscript, ListNumscripts, ListPreparedQueries, ExecutePreparedQuery
  internal/bootstrap/controller_routed.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(antithesis): add typed metadata and invalid conversion driver
  tests/antithesis/workload/bin/cmds/parallel_driver_typed_metadata/main.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: return ErrLedgerDeleted instead of ErrLedgerNotFound for deleted ledgers
  internal/domain/processing/processor_apply.go
  internal/domain/processing/processor_transaction_test.go
  tests/antithesis/workload/bin/cmds/parallel_driver_maintenance/main.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: remove dead KeyPrefixIdempotency (0xF4) index (#44)
  cmd/ledgerctl/store/dump.go
  internal/infra/state/batch.go
  internal/storage/dal/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(storage): run bucket migration before inserting ledger row
  internal/storage/driver/driver.go
  test/e2e/api_ledgers_create_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(openapi): replace invalid $ref to parameter with inline schema in V2QueryParams.sort
  docs/api/README.md
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/docs/models/components/querytemplateaccountparams.md
  pkg/client/docs/models/components/querytemplatelogparams.md
  pkg/client/docs/models/components/querytemplatetransactionparams.md
  pkg/client/docs/models/components/querytemplatevolumeparams.md
  pkg/client/models/components/v2queryparams.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: query checkpoint schedule (#40)
  cmd/ledgerctl/querycheckpoint/command.go
  cmd/ledgerctl/querycheckpoint/delete_schedule.go
  cmd/ledgerctl/querycheckpoint/get_schedule.go
  cmd/ledgerctl/querycheckpoint/set_schedule.go
  docs/dev/architecture/README.md
  docs/dev/architecture/query-checkpoints.md
  docs/ops/cli.md
  internal/adapter/grpc/server_cluster.go
  internal/application/admission/admission.go
  internal/application/check/checker_test.go
  internal/bootstrap/module.go
  internal/domain/processing/processor.go
  internal/domain/processing/processor_query_checkpoint_schedule.go
  internal/domain/processing/processor_query_checkpoint_schedule_test.go
  internal/domain/processing/store.go
  internal/domain/processing/store_mock_test.go
  internal/infra/state/batch.go
  internal/infra/state/buffer.go
  internal/infra/state/machine.go
  internal/infra/state/query_checkpoint_scheduler.go
  internal/infra/state/query_checkpoint_scheduler_test.go
  internal/proto/clusterpb/cluster.pb.go
  internal/proto/clusterpb/cluster_grpc.pb.go
  internal/proto/clusterpb/cluster_vtproto.pb.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  internal/query/query_checkpoint.go
  internal/storage/dal/store.go
  misc/proto/bucket.proto
  misc/proto/cluster.proto
  misc/proto/common.proto
  misc/proto/raft_cmd.proto
  tests/e2e/cluster/query_checkpoint_schedule_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(deps): update module github.com/jackc/pgx/v5 to v5.9.0 [security]
  go.mod
  go.sum
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: none

chore(deps): update module github.com/jackc/pgx/v5 to v5.9.0 [security] (#1325)
  go.mod
  go.sum
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: none

fix: gate admission on leadership transition until FSM catches up (#45)
  internal/application/admission/admission.go
  internal/application/admission/admission_test.go
  internal/bootstrap/module.go
  internal/infra/node/node.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(openapi): replace invalid $ref to parameter with inline schema in V2QueryParams.sort (#1324)
  docs/api/README.md
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/docs/models/components/querytemplateaccountparams.md
  pkg/client/docs/models/components/querytemplatelogparams.md
  pkg/client/docs/models/components/querytemplatetransactionparams.md
  pkg/client/docs/models/components/querytemplatevolumeparams.md
  pkg/client/models/components/v2queryparams.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(storage): run bucket migration before inserting ledger row (#1321)
  internal/storage/driver/driver.go
  test/e2e/api_ledgers_create_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(storage): run bucket migration before inserting ledger row (#1323)
  internal/storage/driver/driver.go
  test/e2e/api_ledgers_create_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(storage): run bucket migration before inserting ledger row (#1322)
  internal/storage/driver/driver.go
  test/e2e/api_ledgers_create_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add replica identity on tables without primary key
  internal/storage/bucket/migrations/45-add-replica-identity/notes.yaml
  internal/storage/bucket/migrations/45-add-replica-identity/up.sql
Due: none

fix: remove duplicate migration prefix 45-add-replica-identity
  internal/storage/bucket/migrations/45-add-replica-identity/notes.yaml
  internal/storage/bucket/migrations/45-add-replica-identity/up.sql
Due: none

fix(antithesis): make signing keys driver a singleton and sign revoke
  tests/antithesis/workload/bin/cmds/singleton_driver_signing_keys/main.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(dal): protect Store.Get against nil DB during RestoreCheckpoint
  internal/storage/dal/reader.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(state): initialize lastPersistedIndex in NewMachine
  internal/infra/state/machine.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

perf(state): pre-compile account type patterns to eliminate regexp.Compile in hot path
  internal/application/check/checker.go
  internal/application/check/checker_extra_test.go
  internal/domain/accounttype/match.go
  internal/domain/accounttype/pattern.go
  internal/domain/accounttype/pattern_test.go
  internal/domain/processing/processor_account_type.go
  internal/domain/processing/processor_metadata.go
  internal/domain/processing/processor_revert_transaction.go
  internal/domain/processing/processor_transaction.go
  internal/infra/state/buffer_ephemeral_purge.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(state): deadlock in SetQueryCheckpointSchedule during ApplyEntries
  internal/infra/state/buffer.go
  internal/infra/state/machine.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: remove obsolete job
  .github/workflows/main.yml
Due: none

chore: fix dependencies
  go.mod
  go.sum
Due: none

fix: store Reversions in Pebble and recover FSM state from pebble checkpoint (#46)
  internal/infra/node/applier.go
  internal/infra/state/audit_test.go
  internal/infra/state/batch.go
  internal/infra/state/buffer.go
  internal/infra/state/machine.go
  internal/infra/state/machine_hlc_test.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  internal/query/reversions.go
  internal/storage/dal/store.go
  misc/proto/raft_cmd.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(deps): update security updates [security]
  deployments/pulumi/go.mod
  deployments/pulumi/go.sum
  go.mod
  go.sum
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: none

chore: remove wal.append.cache.duration metric
  docs/ops/monitoring.md
  internal/storage/wal/wal_default.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(bootstrap): persist cache rotation threshold to prevent cross-node desync
  internal/bootstrap/config_validation.go
  internal/bootstrap/config_validation_test.go
  internal/bootstrap/persisted_config.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(json): render Uint256 as decimal and Timestamp as ISO 8601 in JSON output
  cmd/ledgerctl/cmdutil/output.go
  cmd/ledgerctl/cmdutil/output_test.go
  internal/application/events/event.go
  internal/application/events/sink_http_integration_test.go
  internal/application/events/sink_kafka_integration_test.go
  internal/application/events/sink_nats_integration_test.go
  internal/proto/commonpb/common.pb.json.go
  internal/proto/eventspb/event.go
  internal/proto/servicepb/service.pb.json.go
  tests/e2e/cluster/events_sinks_nats_test.go
  tests/e2e/cluster/ledgerctl_typed_metadata_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
