Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

feat(prepared-queries): allow filterless contracts (EN-2003) (#2150)
  cmd/ledgerctl/apply_response_signatures_test.go
  cmd/ledgerctl/queries/update.go
  cmd/ledgerctl/queries/update_test.go
  cmd/server/server.go
  cmd/server/termination_signals_test.go
  docs/ops/cli.md
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
  docs/technical/architecture/subsystems/read-path/prepared-queries.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/http/handlers_create_prepared_query.go
  internal/adapter/http/handlers_create_prepared_query_test.go
  internal/adapter/http/handlers_list_prepared_queries_test.go
  internal/adapter/http/handlers_update_prepared_query.go
  internal/adapter/http/handlers_update_prepared_query_test.go
  internal/domain/errors.go
  internal/domain/processing/processor_prepared_query.go
  internal/domain/processing/processor_prepared_query_test.go
  internal/proto/commonpb/common.pb.go
  internal/proto/servicepb/bucket.pb.go
  misc/proto/bucket.proto
  misc/proto/common.proto
  openapi.yml
  pkg/grpcprotocol/protocol.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/prepared_queries.go
  tests/e2e/business/prepared_queries_test.go
  tests/e2e/business/prepared_query_rest_shape_test.go
  tests/oracle/model.go
  tests/oracle/model_test.go
  tests/schemathesis/requirements.txt
  tests/schemathesis/run.sh
  tests/schemathesis/test_api.py
  tests/schemathesis/test_prepared_query_schema.py
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(operator): generate persistent cluster IDs (EN-2031) (#2152)
  docs/ops/backup-restore.md
  docs/ops/deployment.md
  internal/infra/backup/namespace_isolation_test.go
  misc/operator/README.md
  misc/operator/api/v1alpha1/cluster_types.go
  misc/operator/config/crd/bases/ledger.formance.com_clusters.yaml
  misc/operator/config/samples/ledger_v1alpha1_cluster.yaml
  misc/operator/helm/crds/templates/ledger.formance.com_clusters.yaml
  misc/operator/internal/controller/cluster_controller.go
  misc/operator/internal/controller/cluster_id_test.go
  misc/operator/internal/controller/reconcile_basic_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

perf(numscript): pool warm VM instances per compiled artifact
  internal/domain/processing/numscript/cache.go
  internal/domain/processing/numscript/engine_bench_test.go
  internal/domain/processing/numscript/vm.go
  internal/domain/processing/numscript/vm_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs,protocol: revision 14 and a stop-all-nodes boundary for the VM execution change
  docs/ops/deployment.md
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
  internal/proto/raftcmdpb/raft_cmd.pb.go
  misc/proto/raft_cmd.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(ci): tidy the workload module for the numscript bump; account meta values store bare
  tests/antithesis/workload/go.mod
  tests/antithesis/workload/go.sum
  tests/e2e/business/numscript_experimental_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs: a mixed-binary window can also flip outcomes, not just metadata bytes
  docs/ops/deployment.md
Due: none

perf(numscript): cache decoded+verified VM artifacts per program hash
  internal/domain/processing/numscript/cache.go
  internal/domain/processing/numscript/engine_bench_test.go
  internal/domain/processing/numscript/vm.go
  internal/domain/processing/numscript/vm_test.go
  internal/domain/processing/processor_transaction_numscript.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: update numscript version
  docs/ops/deployment.md
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
  docs/technical/architecture/subsystems/scripting/numscript-library.md
  go.mod
  go.sum
  internal/domain/processing/numscript/cache.go
  internal/domain/processing/numscript/vm.go
  internal/domain/processing/numscript/vm_test.go
  internal/domain/processing/processor_transaction_numscript.go
  internal/domain/processing/processor_transaction_numscript_vm_test.go
  tests/antithesis/workload/go.mod
  tests/antithesis/workload/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(numscript): bump library and pair-check artifact format versions
  go.mod
  go.sum
  internal/domain/processing/numscript/vm.go
  internal/domain/processing/numscript/vm_test.go
  tests/antithesis/workload/go.mod
  tests/antithesis/workload/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(numscript): single warm VM per artifact via the now-public Vm.Program
  go.mod
  go.sum
  internal/domain/processing/numscript/cache.go
  internal/domain/processing/numscript/vm.go
  internal/domain/processing/numscript/vm_test.go
  tests/antithesis/workload/go.mod
  tests/antithesis/workload/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(numscript): compile scripts on the leader, execute VM bytecode in the FSM
  go.mod
  go.sum
  internal/application/admission/admission.go
  internal/application/admission/numscript_compiled_artifact_test.go
  internal/domain/processing/numscript/discover.go
  internal/domain/processing/numscript/value.go
  internal/domain/processing/numscript/vm.go
  internal/domain/processing/numscript/vm_test.go
  internal/domain/processing/processor.go
  internal/domain/processing/processor_transaction.go
  internal/domain/processing/processor_transaction_numscript.go
  internal/domain/processing/processor_transaction_numscript_vm_test.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/raftcmdpb/raft_cmd_reader.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  misc/proto/raft_cmd.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: cache scripts by the script's hash, not the bytecode's hash
  internal/domain/processing/numscript/cache.go
  internal/domain/processing/numscript/engine_bench_test.go
  internal/domain/processing/numscript/vm.go
  internal/domain/processing/numscript/vm_test.go
  internal/domain/processing/processor_transaction_numscript.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(deployment): stopping all nodes does not cover replayed entries
  docs/ops/deployment.md
Due: none

chore(protocol): move the Numscript VM execution change to revision 15
  docs/ops/deployment.md
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
  internal/proto/raftcmdpb/raft_cmd.pb.go
  misc/proto/raft_cmd.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: fix lint errors
  internal/domain/processing/numscript/vm_test.go
  internal/domain/processing/processor_helpers_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(check): compile scripts when the store check re-runs orders
  docs/technical/architecture/subsystems/scripting/numscript-library.md
  internal/application/check/checker_accepted_order_test.go
  internal/domain/processing/numscript/vm.go
  internal/domain/processing/processor.go
  internal/domain/processing/processor_transaction.go
  internal/domain/processing/processor_transaction_numscript.go
  internal/infra/state/audit_replay.go
  internal/infra/state/audit_replay_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Revert "fix: cache scripts by the script's hash, not the bytecode's hash"
  internal/domain/processing/numscript/cache.go
  internal/domain/processing/numscript/engine_bench_test.go
  internal/domain/processing/numscript/vm.go
  internal/domain/processing/numscript/vm_test.go
  internal/domain/processing/processor_transaction_numscript.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(numscript): update to c8b929d (stricter typecheck/IR, static mark-balance verification)
  go.mod
  go.sum
  tests/antithesis/workload/go.mod
  tests/antithesis/workload/go.sum
Due: none

chore(numscript): update to af9bc77 (rebased feat/register-vm-ir: scoped account interpolation, error value copies, IR fixes)
  go.mod
  go.sum
  tests/antithesis/workload/go.mod
  tests/antithesis/workload/go.sum
Due: none

chore(numscript): update to 1ad02d9 (negative portions rejected, VM posting check)
  docs/ops/deployment.md
  go.mod
  go.sum
  internal/domain/processing/numscript/vm_test.go
  tests/antithesis/workload/go.mod
  tests/antithesis/workload/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(deployment): kept pre-VM history does not re-verify under ledgerctl check
  docs/ops/deployment.md
Due: none

chore(protocol): move the Numscript VM execution change to revision 16
  docs/ops/deployment.md
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
  go.sum
  internal/domain/processing/processor_transaction_test.go
  internal/infra/state/numscript_metadata_order_test.go
  tests/antithesis/workload/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: address comments
  docs/ops/performance-tuning.md
  internal/domain/errors.go
  internal/domain/processing/numscript/cache.go
  internal/domain/processing/numscript/cache_test.go
  internal/domain/processing/numscript/errors.go
  internal/domain/processing/numscript/errors_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs: update docs
  docs/technical/architecture/subsystems/scripting/README.md
Due: none

chore(numscript): bump to feat/register-vm-ir @52efa38 and adopt VerifiedVarsInfo
  docs/technical/architecture/subsystems/scripting/numscript-library.md
  go.mod
  go.sum
  internal/application/admission/numscript_compiled_artifact_test.go
  internal/domain/processing/numscript/cache.go
  internal/domain/processing/numscript/engine_bench_test.go
  internal/domain/processing/numscript/vm_test.go
  tests/antithesis/workload/go.mod
  tests/antithesis/workload/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(numscript): recompile a missing VM artifact instead of failing the order (#2162)
  docs/ops/deployment.md
  docs/ops/monitoring.md
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
  docs/technical/architecture/subsystems/scripting/numscript-library.md
  internal/domain/processing/processor.go
  internal/domain/processing/processor_missing_artifact_test.go
  internal/domain/processing/processor_transaction_numscript.go
  internal/domain/processing/processor_transaction_numscript_vm_test.go
  internal/domain/processing/processor_transaction_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(numscript): qualify the recompile outcome guarantee to an unchanged library
  docs/technical/architecture/subsystems/scripting/numscript-library.md
  internal/domain/processing/numscript/vm.go
  internal/domain/processing/processor_transaction_numscript.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  misc/proto/raft_cmd.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: cache by script's hash
  docs/technical/architecture/subsystems/scripting/numscript-library.md
  internal/domain/processing/numscript/cache.go
  internal/domain/processing/numscript/engine_bench_test.go
  internal/domain/processing/numscript/vm.go
  internal/domain/processing/numscript/vm_test.go
  internal/domain/processing/processor_transaction_numscript.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: stage the compiled artifact in the checker test, cover ErrNumscriptCompile in audit failures
  internal/application/check/checker_accepted_order_test.go
  internal/infra/state/audit_failure_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(numscript): describe missing-artifact recompilation in the artifact contract comments
  internal/domain/processing/numscript/vm.go
  internal/domain/processing/processor.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  misc/proto/raft_cmd.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

improve version handling
  docs/ops/deployment.md
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
  docs/technical/architecture/subsystems/scripting/numscript-library.md
  internal/domain/processing/numscript/cache.go
  internal/domain/processing/numscript/vm.go
  internal/domain/processing/numscript/vm_test.go
  internal/domain/processing/processor_transaction_numscript_vm_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: improve err
  docs/technical/architecture/subsystems/api/grpc-api.md
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
  docs/technical/architecture/subsystems/scripting/numscript-library.md
  docs/technical/contributing/api-comparison.md
  internal/domain/errors.go
  internal/domain/processing/numscript/cache_test.go
  internal/domain/reason.go
  internal/infra/state/audit_failure_test.go
  internal/proto/commonpb/common.pb.go
  misc/proto/common.proto
  tests/e2e/business/numscript_language_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fmt
  internal/domain/processing/numscript/vm_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(numscript): return the serializable error type from the VM path
  internal/domain/processing/numscript/cache.go
  internal/domain/processing/numscript/vm.go
  internal/domain/processing/processor_transaction_numscript.go
  internal/domain/processing/processor_transaction_numscript_vm_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

update doc
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
Due: none

docs(numscript): drop interpreter-fallback and perf wording; strict test artifact helper
  docs/technical/architecture/subsystems/scripting/README.md
  docs/technical/architecture/subsystems/scripting/numscript-library.md
  internal/application/admission/numscript_compiled_artifact_test.go
  internal/domain/processing/metadata_command_test.go
  internal/domain/processing/metadata_limits_test.go
  internal/domain/processing/numscript/cache.go
  internal/domain/processing/numscript/engine_bench_test.go
  internal/domain/processing/numscript/vm.go
  internal/domain/processing/processor.go
  internal/domain/processing/processor_account_type_enforcement_test.go
  internal/domain/processing/processor_helpers_test.go
  internal/domain/processing/processor_ledger_clone_test.go
  internal/domain/processing/processor_ledger_test.go
  internal/domain/processing/processor_metadata_additional_test.go
  internal/domain/processing/processor_metadata_test.go
  internal/domain/processing/processor_transaction_numscript_vm_test.go
  internal/domain/processing/processor_transaction_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(numscript): only reuse cached compiled code when the bytes match
  docs/technical/architecture/subsystems/scripting/numscript-library.md
  internal/domain/processing/numscript/cache.go
  internal/domain/processing/numscript/vm.go
  internal/domain/processing/numscript/vm_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: drop the orphaned doc comment of the removed missing-artifact test
  internal/domain/processing/processor_transaction_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

avoid re-compiling on every tx
  docs/technical/architecture/subsystems/scripting/numscript-library.md
  internal/domain/processing/numscript/cache.go
  internal/domain/processing/numscript/discover.go
  internal/domain/processing/numscript/engine_bench_test.go
  internal/domain/processing/numscript/vm.go
  internal/domain/processing/numscript/vm_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(deployment): list the numscript behaviour changes that were actually reproduced
  docs/ops/deployment.md
Due: none
