Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

feat: add Idempotency-Hit header
  docs/api/README.md
  internal/api/v2/controllers_accounts_add_metadata.go
  internal/api/v2/controllers_accounts_delete_metadata.go
  internal/api/v2/controllers_transactions_add_metadata.go
  internal/api/v2/controllers_transactions_create.go
  internal/api/v2/controllers_transactions_delete_metadata.go
  internal/api/v2/controllers_transactions_revert.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_with_too_many_client_handling.go
  internal/controller/ledger/controller_with_traces.go
  internal/controller/system/state_tracker.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/docs/models/operations/v2addmetadataontransactionresponse.md
  pkg/client/docs/models/operations/v2addmetadatatoaccountresponse.md
  pkg/client/docs/models/operations/v2createtransactionresponse.md
  pkg/client/docs/models/operations/v2deleteaccountmetadataresponse.md
  pkg/client/docs/models/operations/v2deletetransactionmetadataresponse.md
  pkg/client/docs/models/operations/v2reverttransactionrequest.md
  pkg/client/docs/models/operations/v2reverttransactionresponse.md
  pkg/client/models/operations/v2addmetadataontransaction.go
  pkg/client/models/operations/v2addmetadatatoaccount.go
  pkg/client/models/operations/v2createtransaction.go
  pkg/client/models/operations/v2deleteaccountmetadata.go
  pkg/client/models/operations/v2deletetransactionmetadata.go
  pkg/client/models/operations/v2reverttransaction.go
  pkg/client/speakeasyusagegen/.speakeasy/logs/naming.log
  pkg/client/v2.go
  test/e2e/api_idempotency_hit_header_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: Update standalone caddyfile
  README.md
  examples/standalone/Caddyfile
  examples/standalone/docker-compose.yml
Due: none

chore: Update standalone caddyfile (#1154)
  README.md
  examples/standalone/Caddyfile
  examples/standalone/docker-compose.yml
Due: none

remove special handling of 'world' in charts
  internal/README.md
  internal/chart.go
  internal/chart_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

add metadata key validation to chart
  docs/api/README.md
  docs/events/UpdatedSchema.json
  internal/README.md
  internal/chart.go
  internal/chart_test.go
  internal/errors.go
  internal/log.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/docs/models/components/v2chartaccountmetadata.md
  pkg/client/docs/models/components/v2chartaccountrules.md
  pkg/client/docs/models/components/v2chartsegment.md
  pkg/client/models/components/v2chartaccountmetadata.go
  pkg/client/models/components/v2chartaccountrules.go
  pkg/client/models/components/v2chartsegment.go
  pkg/client/speakeasyusagegen/.speakeasy/logs/naming.log
  test/e2e/api_schema_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

experiment: improve migration performance
  internal/storage/bucket/migrations/17-moves-fill-transaction-id/up.sql
  internal/storage/bucket/migrations/18-transactions-fill-inserted-at/up.sql
Due: none

chore: clean db before 2.4
  internal/storage/bucket/migrations/39-clean-useless-features/up.sql
  internal/storage/bucket/migrations/41-remove-useless-trigger/notes.yaml
  internal/storage/bucket/migrations/41-remove-useless-trigger/up.sql
Due: none

fix: incorrectly used trigger
  internal/storage/bucket/migrations/18-transactions-fill-inserted-at/up.sql
Due: none

fix: incorrectly used trigger (#1161)
  internal/storage/bucket/migrations/18-transactions-fill-inserted-at/up.sql
Due: none

fix: incorrectly used trigger (#1162)
  internal/storage/bucket/migrations/18-transactions-fill-inserted-at/up.sql
Due: none

add default metadata to charts
  docs/api/README.md
  docs/events/UpdatedSchema.json
  internal/README.md
  internal/chart.go
  internal/chart_test.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/log_process.go
  internal/controller/ledger/log_process_test.go
  internal/errors.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/docs/models/components/v2chartaccountmetadata.md
  pkg/client/docs/models/components/v2chartaccountrules.md
  pkg/client/docs/models/components/v2chartsegment.md
  pkg/client/models/components/v2chartaccountmetadata.go
  pkg/client/models/components/v2chartaccountrules.go
  pkg/client/models/components/v2chartsegment.go
  pkg/client/speakeasyusagegen/.speakeasy/logs/naming.log
  test/e2e/api_schema_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

cleanup unrelated error
  internal/README.md
  internal/errors.go
  test/e2e/api_schema_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

default metadata on upsert account
  docs/api/README.md
  docs/events/UpdatedSchema.json
  internal/README.md
  internal/chart.go
  internal/chart_test.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_default_test.go
  internal/controller/ledger/log_process.go
  internal/controller/ledger/log_process_test.go
  internal/controller/ledger/store.go
  internal/controller/ledger/store_generated_test.go
  internal/errors.go
  internal/storage/ledger/accounts.go
  internal/storage/ledger/accounts_test.go
  internal/storage/ledger/balances_test.go
  internal/storage/ledger/moves_test.go
  internal/storage/ledger/transactions.go
  internal/storage/ledger/transactions_test.go
  internal/storage/ledger/volumes_test.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/docs/models/components/v2chartaccountmetadata.md
  pkg/client/docs/models/components/v2chartaccountrules.md
  pkg/client/docs/models/components/v2chartsegment.md
  pkg/client/models/components/v2chartaccountmetadata.go
  pkg/client/models/components/v2chartaccountrules.go
  pkg/client/models/components/v2chartsegment.go
  pkg/client/speakeasyusagegen/.speakeasy/logs/naming.log
  test/e2e/api_schema_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: speedup another migration
  internal/storage/bucket/migrations/28-fix-pcv-missing-asset/up.sql
Due: none

chore: comment migration 27 superseeded by migration 28
  internal/storage/bucket/migrations/27-fix-invalid-pcv/up.sql
Due: none

chore: modify some migrations
  internal/storage/bucket/migrations/29-fix-invalid-metadata-on-reverts/up.sql
  internal/storage/bucket/migrations/31-fix-transaction-updated-at/up.sql
  internal/storage/bucket/migrations/32-fix-log-data-for-reverted-transactions/up.sql
  internal/storage/bucket/migrations/33-fix-invalid-date-format/up.sql
Due: none

combine in one request
  internal/README.md
  internal/account.go
  internal/storage/ledger/accounts.go
  test/e2e/api_schema_test.go
  test/e2e/api_transactions_create_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: incorrectly used trigger (#1160)
  internal/storage/bucket/migrations/18-transactions-fill-inserted-at/up.sql
Due: none

fix: openapi spec error
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/docs/models/operations/v2createtransactionrequest.md
  pkg/client/docs/sdks/v2/README.md
  pkg/client/models/operations/v2createtransaction.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: openapi spec error (#1165)
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/docs/models/operations/v2createtransactionrequest.md
  pkg/client/docs/sdks/v2/README.md
  pkg/client/models/operations/v2createtransaction.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

cleanup
  internal/README.md
  internal/chart.go
  internal/chart_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

report affected rows & ensure correct order
  internal/storage/ledger/accounts.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

cleanup
  test/e2e/api_transactions_create_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: clean db before 2.4 (#1159)
  internal/storage/bucket/migrations/39-clean-useless-features/up.sql
  internal/storage/bucket/migrations/41-remove-useless-trigger/notes.yaml
  internal/storage/bucket/migrations/41-remove-useless-trigger/up.sql
Due: none

fix: missing inserted at in logs
  internal/replication/drivers/clickhouse/driver.go
  internal/replication/manager.go
  internal/replication/pipeline.go
  internal/storage/bucket/migrations/42-add-missing-index/notes.yaml
  internal/storage/bucket/migrations/42-add-missing-index/up.sql
  internal/storage/bucket/migrations/43-fix-missing-inserted-at-in-log-data/notes.yaml
  internal/storage/bucket/migrations/43-fix-missing-inserted-at-in-log-data/up.sql
  tools/provisioner/Dockerfile
  tools/provisioner/justfile
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Set Idempotency-Hit header in v1 add account metadata endpoint (merges into #1155)
  internal/api/v1/controllers_accounts_add_metadata.go
  internal/api/v1/controllers_accounts_add_metadata_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: add to v1 endpoints
  internal/api/v1/controllers_accounts_add_metadata.go
  internal/api/v1/controllers_accounts_delete_metadata.go
  internal/api/v1/controllers_transactions_add_metadata.go
  internal/api/v1/controllers_transactions_create.go
  internal/api/v1/controllers_transactions_delete_metadata.go
  internal/api/v1/controllers_transactions_revert.go
  openapi.yaml
  openapi/v1.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/docs/models/operations/addmetadataontransactionresponse.md
  pkg/client/docs/models/operations/addmetadatatoaccountresponse.md
  pkg/client/docs/models/operations/createtransactionresponse.md
  pkg/client/docs/models/operations/reverttransactionresponse.md
  pkg/client/models/operations/addmetadataontransaction.go
  pkg/client/models/operations/addmetadatatoaccount.go
  pkg/client/models/operations/createtransaction.go
  pkg/client/models/operations/reverttransaction.go
  pkg/client/speakeasyusagegen/.speakeasy/logs/naming.log
  pkg/client/v1.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: Add configuration for image registries
  deployments/pulumi/pkg/api/deployment.go
  deployments/pulumi/pkg/common/common.go
  deployments/pulumi/pkg/config/config.go
  deployments/pulumi/pkg/generator/component.go
  deployments/pulumi/pkg/provision/component.go
  deployments/pulumi/pkg/storage/migrate.go
  deployments/pulumi/pkg/utils/convert.go
  deployments/pulumi/pkg/worker/deployment.go
  internal/replication/manager.go
  internal/replication/pipeline.go
  tools/provisioner/Dockerfile
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: Add configuration for image registries
  deployments/pulumi/pkg/api/deployment.go
  deployments/pulumi/pkg/common/common.go
  deployments/pulumi/pkg/config/config.go
  deployments/pulumi/pkg/generator/component.go
  deployments/pulumi/pkg/provision/component.go
  deployments/pulumi/pkg/storage/migrate.go
  deployments/pulumi/pkg/utils/convert.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: Add configuration for image registries (#1171)
  deployments/pulumi/pkg/api/deployment.go
  deployments/pulumi/pkg/common/common.go
  deployments/pulumi/pkg/config/config.go
  deployments/pulumi/pkg/generator/component.go
  deployments/pulumi/pkg/provision/component.go
  deployments/pulumi/pkg/storage/migrate.go
  deployments/pulumi/pkg/utils/convert.go
  deployments/pulumi/pkg/worker/deployment.go
  internal/replication/manager.go
  internal/replication/pipeline.go
  tools/provisioner/Dockerfile
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
