Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

fix: integration tests fix (#203)
  openapi.yaml
Due: gosdk

chore: Webhooks integration tests (#188)
  openapi.yaml
Due: gosdk

feat: remove deprecated flags and add --bind flag on ledger (replace --server.http.bind_address)" (#97)
  cmd/root.go
  cmd/script_exec.go
  cmd/script_test.go
  cmd/server_start.go
  docker-compose.yml
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: rework storage errors (#183)
  pkg/analytics/segment.go
  pkg/ledger/ledger.go
  pkg/ledger/query/worker.go
  pkg/ledger/query/worker_test.go
  pkg/ledger/runner/runner.go
  pkg/storage/driver.go
  pkg/storage/errors.go
  pkg/storage/sqlstorage/driver_test.go
  pkg/storage/sqlstorage/errors/errors.go
  pkg/storage/sqlstorage/ledger/accounts.go
  pkg/storage/sqlstorage/ledger/balances.go
  pkg/storage/sqlstorage/ledger/logs.go
  pkg/storage/sqlstorage/ledger/migration.go
  pkg/storage/sqlstorage/ledger/store.go
  pkg/storage/sqlstorage/ledger/store_test.go
  pkg/storage/sqlstorage/ledger/transactions.go
  pkg/storage/sqlstorage/ledger/volumes.go
  pkg/storage/sqlstorage/system/configuration.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add migrations from v1.9.x to v2.x (#266)
  cmd/root.go
  go.mod
  pkg/core/log.go
  pkg/storage/sqlstorage/ledger/main_test.go
  pkg/storage/sqlstorage/ledger/migrates/0-init-schema/any.go
  pkg/storage/sqlstorage/ledger/migrates/0-init-schema/postgres.sql
  pkg/storage/sqlstorage/migrations/migrations.go
  pkg/storage/sqlstorage/migrations/migrations_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: avoid useless sql query to insert already existing accounts
  pkg/ledger/query/worker.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: wait for logs ingestion before starting (#212)
  pkg/ledger/module.go
  pkg/ledger/query/module.go
  pkg/ledger/query/worker.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: move bulk insert to copy with bun (#145)
  pkg/ledger/ledger.go
  pkg/storage/sqlstorage/errors/errors.go
  pkg/storage/sqlstorage/ledger/logs.go
  pkg/storage/sqlstorage/module.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: memory leak
  Taskfile.yaml
  benchmarks/ledger_test.go
  pkg/ledger/command/commander.go
  pkg/ledger/ledger.go
  pkg/ledger/query/worker.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: optimize log postgresql table (#166)
  pkg/api/controllers/transaction_controller.go
  pkg/core/log.go
  pkg/ledger/ledger.go
  pkg/storage/driver.go
  pkg/storage/sqlstorage/ledger/logs.go
  pkg/storage/sqlstorage/ledger/migrates/13-clean-logs/any_test.go
  pkg/storage/sqlstorage/ledger/migrates/18-v2/postgres.sql
  pkg/storage/sqlstorage/ledger/migrates/9-add-pre-post-volumes/any.go
  pkg/storage/sqlstorage/ledger/migrates/9-add-pre-post-volumes/any_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: remove testing dead code
  pkg/machine/vm/machine_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add limit for select in query init ledgers (#223)
  cmd/container.go
  cmd/serve.go
  pkg/ledger/module.go
  pkg/ledger/query/init.go
  pkg/ledger/query/module.go
  pkg/ledger/query/module_test.go
  pkg/ledger/query/store.go
  pkg/ledger/query/worker_test.go
  pkg/storage/driver.go
  pkg/storage/sqlstorage/ledger/logs.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: cache (concurrent read cause multiple db accesses) (#178)
  pkg/ledger/cache/cache.go
  pkg/ledger/cache/cache_test.go
  pkg/ledger/memprofile.out
  pkg/ledger/profile.out
  pkg/storage/sqlstorage/ledger/accounts_test.go
  pkg/storage/sqlstorage/ledger/store_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add some benchmarks
  pkg/ledger/ledger.go
  pkg/ledger/ledger_test.go
  pkg/ledger/main_test.go
  pkg/ledger/query/worker.go
  pkg/ledger/query/worker_test.go
  pkg/ledger/revert/reverter.go
  pkg/ledger/revert/reverter_test.go
  pkg/ledger/state/state.go
  pkg/storage/sqlstorage/driver_test.go
  pkg/storage/sqlstorage/ledger/store.go
  pkg/storage/sqlstorage/ledger/volumes_test.go
  pkg/storage/sqlstorage/sqlstoragetesting/storage.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: remove deprecated ledger openapi (#152)
  openapi.yaml
  pkg/api/apierrors/errors.go
  pkg/ledger/runner/error.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: update dependencies and configurations for ledger service (#200)
  Dockerfile
Due: none

feat: allow core to handle transactions aynchronously
  pkg/api/controllers/account_controller.go
  pkg/api/controllers/account_controller_test.go
  pkg/api/controllers/api.go
  pkg/api/controllers/api_test.go
  pkg/api/controllers/transaction_controller.go
  pkg/api/controllers/transaction_controller_test.go
  pkg/ledger/ledger.go
  pkg/ledger/ledger_test.go
  pkg/ledger/query/worker.go
  pkg/ledger/query/worker_test.go
  pkg/ledger/revert/reverter.go
  pkg/ledger/revert/reverter_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: replace map[string]any by map[string]string on all metadata
  openapi.yaml
  pkg/api/controllers/account_controller.go
  pkg/api/controllers/account_controller_test.go
  pkg/api/controllers/api.go
  pkg/api/controllers/api_test.go
  pkg/api/controllers/ledger_controller_test.go
  pkg/api/controllers/transaction_controller.go
  pkg/api/controllers/transaction_controller_test.go
  pkg/bus/message.go
  pkg/bus/monitor.go
  pkg/core/account.go
  pkg/core/log.go
  pkg/core/metadata.go
  pkg/core/numscript.go
  pkg/core/script.go
  pkg/core/transaction.go
  pkg/ledger/cache/cache.go
  pkg/ledger/cache/cache_test.go
  pkg/ledger/ledger.go
  pkg/ledger/monitor/monitor.go
  pkg/ledger/query/worker.go
  pkg/ledger/query/worker_test.go
  pkg/ledger/runner/runner.go
  pkg/ledger/runner/runner_test.go
  pkg/machine/examples/basic.go
  pkg/machine/internal/json.go
  pkg/machine/internal/json_test.go
  pkg/machine/machine.go
  pkg/machine/machine_test.go
  pkg/machine/vm/machine.go
  pkg/machine/vm/machine_test.go
  pkg/machine/vm/store.go
  pkg/storage/driver.go
  pkg/storage/sqlstorage/ledger/accounts.go
  pkg/storage/sqlstorage/ledger/accounts_test.go
  pkg/storage/sqlstorage/ledger/store_test.go
  pkg/storage/sqlstorage/ledger/transactions.go
  pkg/storage/sqlstorage/ledger/transactions_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: set GOMAXPROCS=2 for benchmarks
  Taskfile.yaml
Due: none

wip
  pkg/ledger/cache/cache.go
  pkg/ledger/cache/memprofile.out
  pkg/ledger/cache/profile.out
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: fix memory leak with store logs worker not closed (#257)
  pkg/storage/sqlstorage/driver.go
  pkg/storage/sqlstorage/ledger/logs.go
  pkg/storage/sqlstorage/ledger/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: Improvement for GoReleaser
  .goreleaser-darwin.yml
  .goreleaser.yml
Due: none

feat: improve ledger errors (#198)
  pkg/analytics/segment.go
  pkg/api/apierrors/errors.go
  pkg/ledger/errors.go
  pkg/ledger/ledger.go
  pkg/ledger/migrations.go
  pkg/ledger/query/worker.go
  pkg/ledger/query/worker_test.go
  pkg/ledger/resolver.go
  pkg/ledger/runner/error.go
  pkg/ledger/runner/runner.go
  pkg/ledger/state/error.go
  pkg/ledger/state/state.go
  pkg/ledger/state/state_test.go
  pkg/ledger/stats.go
  pkg/storage/errors.go
  pkg/storage/sqlstorage/driver_test.go
  pkg/storage/sqlstorage/errors/errors.go
  pkg/storage/sqlstorage/ledger/accounts.go
  pkg/storage/sqlstorage/ledger/balances.go
  pkg/storage/sqlstorage/ledger/logs.go
  pkg/storage/sqlstorage/ledger/store_test.go
  pkg/storage/sqlstorage/ledger/transactions.go
  pkg/storage/sqlstorage/ledger/volumes.go
  pkg/storage/sqlstorage/schema/schema.go
  pkg/storage/sqlstorage/system/configuration.go
  pkg/storage/sqlstorage/system/ledgers.go
  pkg/storage/sqlstorage/system/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: move openapi files to root (#95)
  go.mod
  openapi.yaml
  pkg/api/controllers/config_controller.go
  pkg/api/routes/routes.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: extract state management from runner (#186)
  pkg/api/apierrors/errors.go
  pkg/api/controllers/account_controller.go
  pkg/api/controllers/balance_controller.go
  pkg/api/controllers/ledger_controller.go
  pkg/api/controllers/query.go
  pkg/api/controllers/transaction_controller.go
  pkg/api/controllers/transaction_controller_test.go
  pkg/ledger/errors.go
  pkg/ledger/ledger.go
  pkg/ledger/ledger_test.go
  pkg/ledger/runner/error.go
  pkg/ledger/runner/inflight.go
  pkg/ledger/runner/runner.go
  pkg/ledger/runner/runner_test.go
  pkg/ledger/state/error.go
  pkg/ledger/state/inflight.go
  pkg/ledger/state/reserve.go
  pkg/ledger/state/state.go
  pkg/ledger/state/state_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: rebase
  go.sum
  pkg/machine/script/compiler/source.go
  pkg/machine/vm/machine.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: store worker is now configurable (#206)
  Procfile
  cmd/container.go
  cmd/root.go
  cmd/storage_test.go
  pkg/storage/sqlstorage/cli.go
  pkg/storage/sqlstorage/driver.go
  pkg/storage/sqlstorage/ledger/main_test.go
  pkg/storage/sqlstorage/ledger/store.go
  pkg/storage/sqlstorage/sqlstoragetesting/storage.go
  pkg/storage/sqlstorage/worker/worker.go
  pkg/storage/sqlstorage/worker/worker_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: keep last log in memory
  pkg/storage/sqlstorage/ledger/logs.go
  pkg/storage/sqlstorage/ledger/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: Remove NUMARY_ prefix on ledger and update operator (#94)
  Taskfile.yaml
  app.json
  cmd/internal/env.go
  cmd/internal/utils.go
  cmd/root_test.go
  docker-compose.override.yml
  docker-compose.yml
  examples/basic-auth/docker-compose.yml
  examples/jaeger-exporter/docker-compose.yml
  examples/multi-node/docker-compose.yml
  examples/otlp-exporter/docker-compose.yml
  examples/publisher-http/docker-compose.yml
  examples/publisher-kafka/docker-compose.yml
  internal/pgtesting/testing.go
  pkg/api/controllers/transaction_controller_test.go
  pkg/ledgertesting/storage.go
  pkg/storage/sqlstorage/store_ledger_test.go
  sdk/templates/go/Taskfile.yml.mustache
  sdk/templates/php/Taskfile.yml.mustache
  sdk/templates/python/Taskfile.yml.mustache
  sdk/templates/typescript/Taskfile.yml.mustache
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add openapi spec validation on integration tests (#133)
  openapi.yaml
Due: gosdk

feat(v2): Add moon (#252)
  .gitignore
  .golangci.yml
  .goreleaser.yml
  moon.yml
Due: none

feat: remove deprecated json fields and query params (#100)
  pkg/api/apierrors/errors.go
  pkg/api/controllers/account_controller.go
  pkg/api/controllers/account_controller_test.go
  pkg/api/controllers/balance_controller.go
  pkg/api/controllers/ledger_controller.go
  pkg/api/controllers/ledger_controller_test.go
  pkg/api/controllers/query.go
  pkg/api/controllers/script_controller.go
  pkg/api/controllers/script_controller_test.go
  pkg/api/controllers/transaction_controller.go
  pkg/api/controllers/transaction_controller_test.go
  pkg/storage/sqlstorage/accounts.go
  pkg/storage/sqlstorage/balances.go
  pkg/storage/sqlstorage/logs.go
  pkg/storage/sqlstorage/transactions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: implement multi account based lock
  pkg/ledger/cache/cache.go
  pkg/ledger/ledger.go
  pkg/ledger/lock/lock.go
  pkg/ledger/lock/module.go
  pkg/ledger/module.go
  pkg/ledger/resolver.go
  pkg/ledger/runner/runner.go
  pkg/ledger/runner/runner_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add orchestration (#123)
  pkg/core/script.go
  pkg/ledger/runner/runner.go
  pkg/ledger/state/state.go
  pkg/ledger/state/state_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: remove 'ui' and 'stickers' commands on ledger (#105)
  cmd/root.go
  cmd/stickers.go
  cmd/ui.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
