Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

feat: add authentication
  docs/api/README.md
  openapi.yaml
  openapi/v1.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/gen.yaml
  pkg/client/formance.go
  pkg/client/models/components/security.go
  tools/generator/cmd/root.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: docker compose kafka example
  .gitignore
  docker-compose.yml
  examples/publisher-kafka/docker-compose.yml
Due: none

chore: remove storage sync upgrade
  internal/storage/driver/module.go
  internal/storage/module.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add generator tool
  docs/api/README.md
  internal/api/v2/controllers_ledgers_create.go
  internal/api/v2/controllers_ledgers_create_test.go
  internal/api/v2/errors.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/gen.yaml
  pkg/client/docs/models/components/v2errorsenum.md
  pkg/client/docs/models/components/v2posttransactionscript.md
  pkg/client/docs/sdks/v2/README.md
  pkg/client/formance.go
  pkg/client/models/components/v2errorsenum.go
  pkg/client/models/components/v2posttransaction.go
  test/e2e/api_ledgers_create_test.go
  test/e2e/api_transactions_create_test.go
  test/performance/benchmark_test.go
  tools/generator/cmd/root.go
  tools/generator/examples/example1.js
  tools/generator/main.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: introduce generate package
  pkg/generate/generator.go
  test/performance/benchmark_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: docker compose improvement
  docker-compose.yml
  internal/storage/driver/driver.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: update dependencies
  go.mod
  go.sum
Due: none

fix: ignore pg error
  internal/storage/driver/driver.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: add test on multiple instances
  test/e2e/app_lifecycle_test.go
  test/e2e/app_multiple_instance_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: upgrade go libs
  go.mod
  go.sum
  internal/storage/bucket/migrations.go
  internal/storage/driver/migrations.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: potentially not ordered pcv regarding insertion date
  internal/storage/bucket/migrations/11-make-stateless/up.sql
  internal/storage/ledger/transactions.go
  internal/storage/ledger/transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: move long migrations after the minimal migration
  internal/storage/bucket/migrations/11-make-stateless/up.sql
  internal/storage/bucket/migrations/12-transaction-reference-index/notes.yaml
  internal/storage/bucket/migrations/12-transaction-reference-index/up.sql
  internal/storage/bucket/migrations/13-create-ledger-indexes/notes.yaml
  internal/storage/bucket/migrations/13-create-ledger-indexes/up.sql
Due: none

feat: enforce uniqueness of reference when not fully migrated
  go.mod
  internal/controller/ledger/store_generated_test.go
  internal/storage/bucket/bucket.go
  internal/storage/bucket/migrations/11-make-stateless/up.sql
  internal/storage/bucket/migrations/13-create-ledger-indexes/up.sql
  internal/storage/driver/driver.go
  internal/storage/ledger/legacy/adapters.go
  internal/storage/ledger/main_test.go
  internal/storage/ledger/store.go
  internal/storage/ledger/transactions.go
  internal/storage/ledger/transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: move long migrations in dedicated dir
  docker-compose.yml
  go.mod
  go.sum
  internal/controller/ledger/store_generated_test.go
  internal/storage/bucket/migrations/11-make-stateless/up.sql
  internal/storage/bucket/migrations/12-transaction-sequence-index/notes.yaml
  internal/storage/bucket/migrations/12-transaction-sequence-index/up.sql
  internal/storage/bucket/migrations/13-accounts-sequence-index/notes.yaml
  internal/storage/bucket/migrations/13-accounts-sequence-index/up.sql
  internal/storage/bucket/migrations/14-transaction-reference-index/notes.yaml
  internal/storage/bucket/migrations/14-transaction-reference-index/up.sql
  internal/storage/bucket/migrations/15-create-ledger-indexes/notes.yaml
  internal/storage/bucket/migrations/15-create-ledger-indexes/up.sql
  internal/storage/ledger/transactions.go
  internal/storage/ledger/transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: broken installation link in README.md for #494
  README.md
Due: none

fix: storage corruption on null metadata
  internal/README.md
  internal/account.go
  test/e2e/api_accounts_metadata_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: missing content type on /info
  cmd/serve.go
  internal/api/module.go
  internal/api/router.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

ci: run deployments tests only on PRs
  .github/workflows/main.yml
Due: none

fix: no cleanup on failure
  .github/workflows/main.yml
  test/rolling-upgrades/main_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

ci: run deployments tests only on PRs (#553)
  .github/workflows/main.yml
  test/rolling-upgrades/main_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: rolling upgrade (bigger pg config) and add isolation
  cmd/serve.go
  test/rolling-upgrades/Earthfile
  test/rolling-upgrades/main_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
