Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

fix(*): fix duplicate flags definition (#1454)
  cmd/root.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(ledger): ENG-986 ability to filter on a metadata existence (#1455)
  internal/api/v2/controllers_accounts_test.go
  internal/api/v2/controllers_balances_test.go
  internal/api/v2/controllers_transactions_test.go
  internal/api/v2/controllers_volumes_test.go
  internal/storage/ledgerstore/accounts.go
  internal/storage/ledgerstore/accounts_test.go
  internal/storage/ledgerstore/balances.go
  internal/storage/ledgerstore/balances_test.go
  internal/storage/ledgerstore/transactions.go
  internal/storage/ledgerstore/transactions_test.go
  internal/storage/ledgerstore/volumes.go
  internal/storage/ledgerstore/volumes_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(ledger): eng 220 balance filter for volume (#1456)
  internal/api/v2/controllers_volumes_test.go
  internal/storage/ledgerstore/volumes.go
  internal/storage/ledgerstore/volumes_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(ledger): bad status code on revert transactions (#1440)
  openapi.yaml
  openapi/v1.yaml
Due: gosdk

feat: handle query param for searching (#1471)
  internal/api/v2/utils.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: update readme
  README.md
Due: none

chore: update README.md
  README.md
Due: none

chore: extends release process (#1484)
  Earthfile
Due: none

chore: bump eartfile to 0.8 version (#1496)
  Earthfile
Due: none

chore: remove old sdk doc (#1514)
  CONDUCT.md
  CONTRIBUTING.md
  SDK.md
Due: none

fix: Update version format in .goreleaser.yml files to include 'v' pr… (#1511)
  .goreleaser.ledger.yml
  .goreleaser.yml
Due: none

chore: Add posibility to use --auto-skip with earthly (#1505)
  Earthfile
Due: none

feat(*): add request/response of http requests in all services when debug is enabled (#1526)
  cmd/buckets.go
  go.mod
  go.sum
  internal/api/v1/routes.go
  internal/api/v2/routes.go
  internal/engine/command/commander_test.go
  internal/storage/ledgerstore/main_test.go
  internal/storage/migrate_ledger_v1_test.go
  internal/storage/storagetesting/storage.go
  internal/storage/systemstore/ledgers_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: unexpected panic when allotment sum is not 1 (#1472)
  internal/machine/script/compiler/compiler.go
  internal/machine/script/compiler/compiler_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(ledger): add 'address' key on filters for /volumes endpoint (#1533)
  internal/storage/ledgerstore/volumes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(operator): configure json logging on services (#1541)
  cmd/root.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Update v1.yaml
  openapi/v1.yaml
Due: none

fix(ledger): logs endpoint (#1555)
  internal/storage/ledgerstore/logs.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(ledger): return 404 on not existing ledger account (v2 endpoint only) (#1534)
  internal/api/v1/controllers_accounts.go
  internal/api/v2/controllers_accounts.go
  internal/storage/ledgerstore/accounts.go
  internal/storage/ledgerstore/accounts_test.go
  openapi.yaml
  openapi/v1.yaml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(ledger): add index on idempotency_key (#1559)
  internal/storage/ledgerstore/bucket.go
  internal/storage/ledgerstore/migrations/5-add-idempotency-key-index.sql
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(ledger): fix missing index on references (#1560)
  internal/storage/ledgerstore/bucket.go
  internal/storage/ledgerstore/migrations/6-add-reference-index.sql
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(ledger): dry run mode (#1563)
  internal/engine/command/commander.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add some traces (#1565)
  internal/api/v2/bulk.go
  internal/api/v2/routes.go
  internal/engine/command/commander.go
  internal/engine/command/context.go
  internal/log.go
  internal/storage/ledgerstore/logs.go
  internal/storage/ledgerstore/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(ledger): missing trace (#1566)
  internal/engine/command/commander.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(wallets): add ik support (#1591)
  internal/api/v2/query.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(ledger): import/export (#1586)
  internal/api/backend/backend.go
  internal/api/backend/backend_generated.go
  internal/api/v2/controller_export_logs.go
  internal/api/v2/controller_import_logs.go
  internal/api/v2/controllers_get_ledger.go
  internal/api/v2/controllers_get_logs.go
  internal/api/v2/controllers_info.go
  internal/api/v2/routes.go
  internal/engine/chain/chain.go
  internal/engine/chain/store.go
  internal/engine/command/commander.go
  internal/engine/command/commander_test.go
  internal/engine/command/context.go
  internal/engine/export.go
  internal/engine/import.go
  internal/engine/ledger.go
  internal/engine/module.go
  internal/engine/resolver.go
  internal/log.go
  internal/storage/driver/driver.go
  internal/storage/ledgerstore/logs.go
  internal/storage/systemstore/ledgers.go
  internal/storage/systemstore/migrations.go
  openapi.yaml
  openapi/v2.yaml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(ledger): datarace on dry run mode (#1593)
  internal/engine/chain/chain.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(ledger): add unique index on ik (#1614)
  internal/engine/command/commander.go
  internal/storage/ledgerstore/bucket.go
  internal/storage/ledgerstore/logs.go
  internal/storage/ledgerstore/migrations/7-add-ik-unique-index.sql
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(ledger): add capability to sort transactions by timestamp (#1606)
  internal/api/v2/controllers_transactions.go
  internal/api/v2/controllers_transactions_test.go
  internal/storage/ledgerstore/transactions.go
  openapi.yaml
  openapi/v2.yaml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(ledger): add disabled test (#1617)
  internal/machine/vm/machine_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add new error code for txid conflicts
  pkg/api/apierrors/errors.go
  pkg/api/controllers/script_controller.go
  pkg/ledger/error.go
  pkg/ledger/execute_txsdata.go
  pkg/storage/errors.go
  pkg/storage/sqlstorage/flavor.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: test on txid conflict
  pkg/storage/sqlstorage/store_ledger_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

ci: Update
  .github/workflows/main.yml
  .github/workflows/template_goreleaser-build.yaml
  .github/workflows/template_goreleaser-release.yaml
Due: none

ci: Update
  .github/workflows/template_goreleaser-build.yaml
  .github/workflows/template_goreleaser-release.yaml
Due: none

fix(ledger): fix crash with same idempotency key in same batch (#1633)
  internal/storage/ledgerstore/logs.go
  internal/storage/ledgerstore/logs_test.go
  internal/storage/ledgerstore/main_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(ledger): detach context when creating transaction (#1635)
  internal/api/v2/controllers_transactions.go
  internal/storage/ledgerstore/logs.go
  internal/storage/ledgerstore/logs_test.go
  internal/storage/ledgerstore/main_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(ledger): use a unique index on idempotency key and ledger (#1638)
  internal/storage/ledgerstore/bucket.go
  internal/storage/ledgerstore/migrations/8-ik-ledger-unique-index.sql
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(ledger): incorrect volumes (#1644)
  internal/storage/ledgerstore/bucket.go
  internal/storage/ledgerstore/migrations/9-fix-incorrect-volumes-aggregation.sql
  internal/storage/ledgerstore/transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests
