Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

chore(nix): bump nixpkgs to 26.05 and refresh unstable
  flake.lock
  flake.nix
Due: none

chore: add .mailmap to canonicalize author identities (#1460)
  .mailmap
Due: none

fix(ledgerctl): honor --profile in shell completion (#1459)
  cmd/ledgerctl/cmdutil/ledger.go
  cmd/ledgerctl/cmdutil/resolve.go
  cmd/ledgerctl/cmdutil/resolve_test.go
  cmd/ledgerctl/e2e_complete_test.go
  cmd/ledgerctl/main.go
  cmd/ledgerctl/queries/completion.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: regenerate code and apply linter modernizers for nixpkgs 26.05
  cmd/ledgerctl/cmdutil/output.go
  internal/infra/attributes/attributes.go
  internal/infra/backup/manifest.go
  internal/infra/state/write_set.go
  internal/proto/auditpb/audit.pb.go
  internal/proto/clusterbootstrappb/cluster_bootstrap.pb.go
  internal/proto/clusterbootstrappb/cluster_bootstrap_grpc.pb.go
  internal/proto/clusterpb/cluster.pb.go
  internal/proto/clusterpb/cluster_grpc.pb.go
  internal/proto/commonpb/common.pb.go
  internal/proto/eventspb/events.pb.go
  internal/proto/proposalpb/proposal.pb.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/rafttransportpb/raft_transport.pb.go
  internal/proto/rafttransportpb/raft_transport_grpc.pb.go
  internal/proto/restorepb/restore.pb.go
  internal/proto/restorepb/restore_grpc.pb.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_grpc.pb.go
  internal/proto/signaturepb/signature.pb.go
  internal/proto/snapshotpb/snapshot.pb.go
  internal/proto/snapshotpb/snapshot_grpc.pb.go
  internal/storage/readstore/audit_index.go
  internal/storage/readstore/iterator_or_aliasing_test.go
  internal/storage/readstore/iterator_reverse.go
  internal/storage/wal/snapshotter.go
  internal/storage/wal/wal_default.go
  misc/operator/cmd/kubectl-ledger/cmdutil/flagbind/flagbind.go
  misc/operator/cmd/kubectl-ledger/explain/reflect.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

experiment(node): enable etcd/raft AsyncStorageWrites
  internal/bootstrap/module.go
  internal/infra/node/applier.go
  internal/infra/node/applier_async_storage_test.go
  internal/infra/node/applier_pipelined_checkpoint_test.go
  internal/infra/node/applier_test.go
  internal/infra/node/maintenance_test.go
  internal/infra/node/node.go
  internal/infra/node/split_ready_messages_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(node): enforce non-nil responseSink + refresh async-storage docs
  internal/infra/node/applier.go
  internal/infra/node/applier_test.go
  internal/infra/node/node.go
  internal/infra/state/machine.go
  internal/proto/clusterpb/cluster.pb.go
  misc/proto/cluster.proto
  tests/antithesis/workload/bin/cmds/main/eventually_cross_node_identity/main.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(ledgerctl): make auth login --profile work end-to-end (#1483)
  cmd/ledgerctl/auth/generate_token.go
  cmd/ledgerctl/auth/login.go
  cmd/ledgerctl/auth/login_test.go
  cmd/ledgerctl/cmdutil/config.go
  cmd/ledgerctl/cmdutil/keyring.go
  cmd/ledgerctl/cmdutil/resolve.go
  cmd/ledgerctl/main.go
  cmd/ledgerctl/main_test.go
  docs/ops/cli.md
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(nix): bump nixpkgs to 26.05 and refresh unstable (#1497)
  cmd/ledgerctl/cmdutil/output.go
  flake.lock
  flake.nix
  internal/infra/attributes/attributes.go
  internal/infra/backup/manifest.go
  internal/infra/state/write_set.go
  internal/proto/auditpb/audit.pb.go
  internal/proto/clusterbootstrappb/cluster_bootstrap.pb.go
  internal/proto/clusterbootstrappb/cluster_bootstrap_grpc.pb.go
  internal/proto/clusterpb/cluster.pb.go
  internal/proto/clusterpb/cluster_grpc.pb.go
  internal/proto/commonpb/common.pb.go
  internal/proto/eventspb/events.pb.go
  internal/proto/proposalpb/proposal.pb.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/rafttransportpb/raft_transport.pb.go
  internal/proto/rafttransportpb/raft_transport_grpc.pb.go
  internal/proto/restorepb/restore.pb.go
  internal/proto/restorepb/restore_grpc.pb.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_grpc.pb.go
  internal/proto/signaturepb/signature.pb.go
  internal/proto/snapshotpb/snapshot.pb.go
  internal/proto/snapshotpb/snapshot_grpc.pb.go
  internal/storage/readstore/audit_index.go
  internal/storage/readstore/iterator_or_aliasing_test.go
  internal/storage/readstore/iterator_reverse.go
  internal/storage/wal/snapshotter.go
  internal/storage/wal/wal_default.go
  misc/operator/cmd/kubectl-ledger/cmdutil/flagbind/flagbind.go
  misc/operator/cmd/kubectl-ledger/explain/reflect.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(node): pass task stop channel to runCommitter response send
  internal/infra/node/applier.go
  internal/infra/node/applier_async_storage_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(node): use errors.New for static error string in NewApplier
  internal/infra/node/applier.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(node): add stop escape hatch to applyEntriesToFSM fallback fire
  internal/infra/node/applier.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(node): factor fireResponses helper + tighten Submit guard
  internal/infra/node/applier.go
  internal/infra/node/applier_async_storage_test.go
  internal/infra/node/node.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(auth): align ledger granular scope names
  cmd/ledgerctl/cmdutil/errors_test.go
  docs/ops/authentication.md
  docs/ops/cli.md
  docs/technical/architecture/subsystems/api/auth.md
  docs/technical/architecture/subsystems/chapters/receipts.md
  internal/adapter/auth/caller_snapshot_test.go
  internal/adapter/auth/grpc_auth_test.go
  internal/adapter/auth/request_scope.go
  internal/adapter/auth/request_scope_test.go
  internal/adapter/auth/scope_mapping_file.go
  internal/adapter/auth/scope_mapping_file_test.go
  internal/adapter/auth/scopes.go
  internal/adapter/auth/scopes_test.go
  internal/adapter/grpc/client_bucket_test.go
  internal/adapter/grpc/server_bucket.go
  internal/adapter/grpc/server_bucket_auth_test.go
  internal/adapter/grpc/server_bucket_test.go
  internal/adapter/http/handlers_bulk_test.go
  internal/application/membership/membership.go
  internal/bootstrap/module_test.go
  misc/operator/internal/controller/envvars_test.go
  openapi.yml
  tests/e2e/cluster/auth_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(auth): align ledger granular scope names (#1499)
  cmd/ledgerctl/cmdutil/errors_test.go
  docs/ops/authentication.md
  docs/ops/cli.md
  docs/technical/architecture/subsystems/api/auth.md
  docs/technical/architecture/subsystems/chapters/receipts.md
  internal/adapter/auth/caller_snapshot_test.go
  internal/adapter/auth/grpc_auth_test.go
  internal/adapter/auth/request_scope.go
  internal/adapter/auth/request_scope_test.go
  internal/adapter/auth/scope_mapping_file.go
  internal/adapter/auth/scope_mapping_file_test.go
  internal/adapter/auth/scopes.go
  internal/adapter/auth/scopes_test.go
  internal/adapter/grpc/client_bucket_test.go
  internal/adapter/grpc/server_bucket.go
  internal/adapter/grpc/server_bucket_auth_test.go
  internal/adapter/grpc/server_bucket_test.go
  internal/adapter/http/handlers_bulk_test.go
  internal/application/membership/membership.go
  internal/bootstrap/module_test.go
  misc/operator/internal/controller/envvars_test.go
  openapi.yml
  tests/e2e/cluster/auth_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

ci(release): wrap release archives in a named root directory
  .goreleaser.yml
Due: none

ci(release): wrap release archives in a named root directory (#1501)
  .goreleaser.yml
Due: none

perf(node): bump raft transport priority-0 buffers 10→128
  cmd/server/server.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(state): add per-phase duration metrics to applyProposal
  internal/infra/state/machine.go
  misc/devenv/monitoring-dashboards/jsonnet/lib/metrics.libsonnet
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

perf(state): reuse a per-scope scratch buffer for coverage-gate canonical bytes
  internal/application/check/checker_test.go
  internal/domain/processing/store.go
  internal/domain/processing/store_generated_test.go
  internal/infra/state/accessor.go
  internal/infra/state/scope.go
  internal/infra/state/write_set.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(deps): replace gopkg.in/yaml.v3 with go.yaml.in/yaml/v3
  cmd/ledgerctl/cmdutil/output.go
  cmd/ledgerctl/ledgers/config_model.go
  cmd/server/server.go
  go.mod
  internal/bootstrap/config_redaction_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(deps): move gopkg.in/yaml.v3 to indirect require block
  go.mod
Due: none

feat(ledger): expose revert relationship as first-class transaction fields
  docs/technical/contributing/api-comparison.md
  internal/adapter/http/handlers_get_transaction_test.go
  internal/application/check/replay_store.go
  internal/application/check/replay_store_test.go
  internal/application/ctrl/controller_default.go
  internal/domain/processing/processor_mirror.go
  internal/domain/processing/processor_mirror_test.go
  internal/domain/processing/processor_revert_transaction.go
  internal/domain/processing/processor_revert_transaction_test.go
  internal/domain/replay/replay.go
  internal/domain/replay/writer.go
  internal/infra/backup/rebuild.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_dethash.pb.go
  internal/proto/commonpb/common_reader.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/commonpb/transaction.go
  internal/proto/commonpb/transactions_json_test.go
  misc/proto/common.proto
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(deps): fix import ordering after yaml module swap
  cmd/ledgerctl/cmdutil/output.go
  cmd/server/server.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(operator): sweep internal agent* → credentials* + MatchedService → MatchedCluster
  misc/operator/README.md
  misc/operator/api/v1alpha1/credentials_types.go
  misc/operator/api/v1alpha1/zz_generated.deepcopy.go
  misc/operator/cmd/kubectl-ledger/cmdutil/resource.go
  misc/operator/cmd/kubectl-ledger/cmdutil/wizard.go
  misc/operator/cmd/kubectl-ledger/credentials/create.go
  misc/operator/cmd/kubectl-ledger/credentials/delete.go
  misc/operator/cmd/kubectl-ledger/credentials/get.go
  misc/operator/cmd/kubectl-ledger/credentials/get_key.go
  misc/operator/cmd/kubectl-ledger/credentials/list.go
  misc/operator/config/crd/bases/ledger.formance.com_credentials.yaml
  misc/operator/e2e/tests/credentials/chainsaw-test.yaml
  misc/operator/e2e/tests/credentials/cluster.yaml
  misc/operator/e2e/tests/credentials/credentials.yaml
  misc/operator/helm/crds/templates/ledger.formance.com_credentials.yaml
  misc/operator/internal/controller/build_command_test.go
  misc/operator/internal/controller/cluster_controller.go
  misc/operator/internal/controller/credentials_controller.go
  misc/operator/internal/controller/credentials_test.go
  misc/operator/internal/controller/envvars.go
  misc/operator/internal/controller/hash.go
  misc/operator/internal/controller/names.go
  misc/operator/internal/controller/operator_namespace.go
  misc/operator/internal/controller/reconcile_agent_test.go
  misc/operator/internal/controller/reconcile_auth_keys.go
  misc/operator/internal/controller/reconcile_auth_keys_test.go
  misc/operator/internal/controller/reconcile_statefulset.go
  misc/operator/internal/controller/suite_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(deps): replace gopkg.in/yaml.v3 with go.yaml.in/yaml/v3 (#1507)
  cmd/ledgerctl/cmdutil/output.go
  cmd/ledgerctl/ledgers/config_model.go
  cmd/server/server.go
  go.mod
  internal/bootstrap/config_redaction_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(query): make reverted and revertedAt transaction fields queryable
  cmd/ledgerctl/indexes/create.go
  cmd/ledgerctl/indexes/drop.go
  cmd/ledgerctl/indexes/id_helpers.go
  cmd/ledgerctl/indexes/list.go
  cmd/ledgerctl/ledgers/config_model.go
  cmd/ledgerctl/ledgers/configuration.go
  docs/technical/contributing/api-comparison.md
  internal/application/indexbuilder/process_logs.go
  internal/application/indexbuilder/reverted_at_index_test.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_dethash.pb.go
  internal/proto/commonpb/common_reader.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/query/compile.go
  internal/query/compile_reverted_test.go
  internal/query/reversions.go
  internal/query/reversions_test.go
  internal/storage/readstore/delete_ledger.go
  internal/storage/readstore/iterator_bitset.go
  internal/storage/readstore/iterator_bitset_test.go
  internal/storage/readstore/keys.go
  internal/storage/readstore/write_batch.go
  misc/proto/common.proto
  pkg/actions/filters.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

perf(processing): mutate volumes up-front in applyPosting to skip reader wrappers
  internal/domain/processing/processor_posting.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

perf(proto): zero-alloc reader wrappers via named-type conversion
  internal/proto/auditpb/audit_reader.pb.go
  internal/proto/clusterbootstrappb/cluster_bootstrap_reader.pb.go
  internal/proto/clusterpb/cluster_reader.pb.go
  internal/proto/commonpb/common_reader.pb.go
  internal/proto/commonpb/reader_alloc_test.go
  internal/proto/eventspb/events_reader.pb.go
  internal/proto/proposalpb/proposal_reader.pb.go
  internal/proto/raftcmdpb/raft_cmd_reader.pb.go
  internal/proto/rafttransportpb/raft_transport_reader.pb.go
  internal/proto/restorepb/restore_reader.pb.go
  internal/proto/servicepb/bucket_reader.pb.go
  internal/proto/signaturepb/signature_reader.pb.go
  internal/proto/snapshotpb/snapshot_reader.pb.go
  tools/protoc-gen-reader/main.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

perf(proto): zero-alloc reader wrappers via named-type conversion (#1511)
  internal/proto/auditpb/audit_reader.pb.go
  internal/proto/clusterbootstrappb/cluster_bootstrap_reader.pb.go
  internal/proto/clusterpb/cluster_reader.pb.go
  internal/proto/commonpb/common_reader.pb.go
  internal/proto/commonpb/reader_alloc_test.go
  internal/proto/eventspb/events_reader.pb.go
  internal/proto/proposalpb/proposal_reader.pb.go
  internal/proto/raftcmdpb/raft_cmd_reader.pb.go
  internal/proto/rafttransportpb/raft_transport_reader.pb.go
  internal/proto/restorepb/restore_reader.pb.go
  internal/proto/servicepb/bucket_reader.pb.go
  internal/proto/signaturepb/signature_reader.pb.go
  internal/proto/snapshotpb/snapshot_reader.pb.go
  tools/protoc-gen-reader/main.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(deps): bump invariants to v0.10.1 (single-pass account validation)
  go.mod
  go.sum
Due: none

refactor(check): derive idempotency window "now" from the verified chain
  internal/application/check/checker.go
  internal/application/check/checker_idempotency_cold_test.go
  internal/application/check/checker_tamper_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(check): source idempotency TTL from trusted runtime config
  cmd/ledgerctl/store/bootstrap.go
  internal/adapter/grpc/server_bucket.go
  internal/adapter/grpc/server_restore.go
  internal/application/check/checker.go
  internal/application/check/checker_idempotency_cold_test.go
  internal/application/check/checker_tamper_test.go
  internal/application/check/checker_test.go
  internal/bootstrap/module.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(antithesis): allow restricting the workload image to a driver subset
  tests/antithesis/Justfile
  tests/antithesis/workload/Dockerfile
  tests/antithesis/workload/Justfile
Due: none

docs(EN-1468): purge stale /v2 prefix mentions in http-api.md
  docs/technical/architecture/subsystems/api/http-api.md
Due: none

docs(EN-1467): reconcile openapi.yml with actual v3 wire
  openapi.yml
Due: gosdk

docs(EN-1468): keep /_bulk alternative-endpoint mention
  docs/technical/architecture/subsystems/api/http-api.md
Due: none

docs(EN-1467): address NumaryBot review findings
  openapi.yml
Due: gosdk

fix(EN-1469): quote Uint256 JSON encoding for precision-safe wire
  internal/proto/commonpb/uint256.go
  internal/proto/commonpb/uint256_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1043): emit Unreachable on Raft transport channel-full drops
  internal/infra/node/peer_send_race_test.go
  internal/infra/node/transport.go
  internal/infra/node/transport_test.go
  tests/antithesis/workload/bin/cmds/main/singleton_driver_quorum_recovery/main.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests
