Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

audit: add concurrency lifecycle shutdown campaign
  docs/technical/audits/concurrency-lifecycle-shutdown.json
Due: none

docs: correct pagination snapshot consistency contract
  docs/technical/architecture/subsystems/read-path/query-pipeline.md
Due: none

docs: describe coordinated pagination snapshots
  docs/technical/architecture/subsystems/read-path/query-pipeline.md
Due: none

docs: scope snapshot pipeline to indexed lists
  docs/technical/architecture/subsystems/read-path/query-pipeline.md
Due: none

docs: scope read path overview
  docs/technical/architecture/subsystems/read-path/README.md
Due: none

docs: clarify read barrier scope
  docs/technical/architecture/subsystems/read-path/README.md
Due: none

docs: clarify ListLogs snapshot lifetime
  docs/technical/architecture/subsystems/read-path/query-pipeline.md
Due: none

feat(antithesis): probe the apply-side index lookup and stamp loader entries
  internal/domain/processing/processor.go
  internal/domain/processing/processor_metadata_schema.go
  internal/infra/attributes/key_store.go
  internal/infra/plan/resolve.go
  internal/infra/preload/loader.go
  internal/infra/state/index_probe.go
  internal/infra/state/machine.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs: correct pagination snapshot consistency contract (#1765)
  docs/technical/architecture/subsystems/read-path/README.md
  docs/technical/architecture/subsystems/read-path/query-pipeline.md
Due: none

test(e2e): pin the index registry loss across a backup/restore cycle
  tests/e2e/cluster/restore_index_registry_test.go
  tests/oracle/cmd/serverreplay/main.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

audit: bound accounting invariant scope
  docs/technical/audits/accounting-invariants.json
Due: none

audit: bound concurrency lifecycle campaign
  docs/technical/audits/concurrency-lifecycle-shutdown.json
Due: none

fix: address AI review findings
  docs/technical/audits/read-consistency-projections.json
Due: none

fix: address AI review findings
  docs/technical/audits/idempotency-retries-partial-failures.json
Due: none

fix: address AI review findings
  docs/technical/audits/concurrency-lifecycle-shutdown.json
Due: none

audit: include monitoring lifecycle helpers
  docs/technical/audits/concurrency-lifecycle-shutdown.json
Due: none

fix(wal): sync every recreated snapshot directory level
  internal/storage/wal/snapshotter.go
  internal/storage/wal/snapshotter_missing_dir_test.go
  internal/storage/wal/snapshotter_test.go
  internal/storage/wal/wal_default.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

audit: add concurrency lifecycle shutdown campaign (#1757)
  docs/technical/audits/concurrency-lifecycle-shutdown.json
Due: none

refactor(indexes): drop the dead BuildStatus from the registry row (EN-1858)
  cmd/ledgerctl/indexes/list.go
  internal/adapter/http/handlers_list_bucket_indexes_test.go
  internal/application/check/checker.go
  internal/application/ctrl/controller_default.go
  internal/application/indexbuilder/backfill.go
  internal/application/indexbuilder/backfill_test.go
  internal/application/indexbuilder/gc_test.go
  internal/application/indexbuilder/index_config.go
  internal/application/indexbuilder/index_config_test.go
  internal/domain/indexes/lookup.go
  internal/domain/indexes/lookup_test.go
  internal/domain/processing/processor_index.go
  internal/domain/processing/processor_index_test.go
  internal/domain/processing/processor_ledger_key_identity_test.go
  internal/domain/processing/processor_metadata_schema.go
  internal/domain/processing/processor_metadata_schema_test.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_reader.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/servicepb/bucket.pb.go
  internal/query/compile.go
  internal/query/compile_test.go
  misc/operator/internal/controller/ledger_indexes_test.go
  misc/proto/bucket.proto
  misc/proto/common.proto
  pkg/actions/indexes.go
  tests/e2e/business/indexes_test.go
  tests/e2e/business/log_date_index_test.go
  tests/e2e/business/metadata_index_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs: describe index readiness via currentVersion in the API and CLI docs
  docs/ops/cli.md
  openapi.yml
Due: gosdk

fix(backup): rebuild the index registry from CreateIndex/DropIndex logs
  internal/application/check/checker.go
  internal/application/check/replay_store.go
  internal/domain/replay/replay.go
  internal/domain/replay/writer.go
  internal/infra/backup/rebuild.go
  internal/infra/backup/rebuild_test.go
  tests/e2e/cluster/restore_index_registry_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

audit: cover accounting read projection builder
  docs/technical/audits/accounting-invariants.json
Due: none

audit: include accounting read-path documentation
  docs/technical/audits/accounting-invariants.json
Due: none

audit: cover accounting usage projections
  docs/technical/audits/accounting-invariants.json
Due: none

audit: cover authoritative accounting reads
  docs/technical/audits/accounting-invariants.json
Due: none

audit: add read consistency projections campaign (#1756)
  docs/technical/audits/read-consistency-projections.json
Due: none

fix(audit): cover shared accounting replay path
  docs/technical/audits/accounting-invariants.json
Due: none

fix(audit): cover shared domain accounting contracts
  docs/technical/audits/accounting-invariants.json
Due: none

test(antithesis): retry a bulk to a definitive outcome at the application level (#1729)
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/main.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(audit): cover account types and model oracle
  docs/technical/audits/accounting-invariants.json
Due: none

fix(merge): reconcile the fix-branch merges with the query branch
  internal/domain/processing/processor_chapter_test.go
  internal/infra/backup/rebuild.go
  internal/infra/backup/rebuild_test.go
  internal/infra/state/audit_failure_test.go
  tests/e2e/business/index_registry_cache_rotation_test.go
  tests/e2e/business/index_registry_survives_churn_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(audit): cover shared index registry
  docs/technical/audits/accounting-invariants.json
Due: none

fix(audit): cover bloom-backed preload decisions
  docs/technical/audits/accounting-invariants.json
Due: none

fix(audit): cover receipt-based reversals
  docs/technical/audits/accounting-invariants.json
Due: none

fix(audit): cover audit index projection
  docs/technical/audits/accounting-invariants.json
Due: none

fix: address AI review findings
  docs/technical/audits/accounting-invariants.json
Due: none

fix(audit): cover proposal identity generation
  docs/technical/audits/accounting-invariants.json
Due: none

audit: add accounting invariants campaign (#1754)
  docs/technical/audits/accounting-invariants.json
Due: none

fix: complete idempotency audit scope
  docs/technical/audits/idempotency-retries-partial-failures.json
Due: none
