Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

feat: move openapi files to root (#95)
  go.mod
  openapi.yaml
  pkg/api/controllers/config_controller.go
  pkg/api/routes/routes.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: Numscript: return postings with zero amount (#185)
  pkg/machine/internal/funding.go
  pkg/machine/machine_test.go
  pkg/machine/vm/machine.go
  pkg/machine/vm/machine_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: remove deprecated ledger openapi (#152)
  openapi.yaml
  pkg/api/apierrors/errors.go
  pkg/ledger/runner/error.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove pre/post commit volumes from transaction creation response
  openapi.yaml
  pkg/api/controllers/api.go
  pkg/api/controllers/api_test.go
  pkg/api/controllers/transaction_controller_test.go
  pkg/core/log.go
  pkg/ledger/-memprofile.out
  pkg/ledger/-profile.out
  pkg/ledger/.stats
  pkg/ledger/cache/cache.go
  pkg/ledger/ledger.go
  pkg/ledger/ledger_test.go
  pkg/ledger/normalize-postings-memprofile.out
  pkg/ledger/normalize-postings-profile.out
  pkg/ledger/normalize-postings.stats
  pkg/ledger/query/worker.go
  pkg/ledger/remove-pre-post-memprofile.out
  pkg/ledger/remove-pre-post-profile.out
  pkg/ledger/remove-pre-post.stats
  pkg/ledger/revert/reverter.go
  pkg/ledger/revert/reverter_test.go
  pkg/ledger/runner/runner.go
  pkg/ledger/runner/runner_test.go
  pkg/machine/script/parser/NumScript.interp
  pkg/machine/script/parser/NumScriptLexer.interp
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: disallow empty accounts
  pkg/machine/internal/account.go
  pkg/machine/machine_test.go
  pkg/machine/vm/machine_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove redundant postings denormalization
  cmd/container.go
  cmd/serve.go
  cmd/storage.go
  go.mod
  go.sum
  pkg/storage/pagination.go
  pkg/storage/sqlstorage/cli.go
  pkg/storage/sqlstorage/ledger/logs.go
  pkg/storage/sqlstorage/ledger/main_test.go
  pkg/storage/sqlstorage/ledger/migrates/0-init-schema/postgres.sql
  pkg/storage/sqlstorage/ledger/transactions.go
  pkg/storage/sqlstorage/ledger/transactions_test.go
  pkg/storage/sqlstorage/migrations/migrations_test.go
  pkg/storage/sqlstorage/pagination/pagination_column.go
  pkg/storage/sqlstorage/pagination/pagination_column_test.go
  pkg/storage/sqlstorage/pagination/pagination_offset_test.go
  pkg/storage/sqlstorage/sqlstoragetesting/storage.go
  pkg/storage/sqlstorage/utils/utils.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: machine involved accounts resolution
  pkg/machine/vm/machine.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: extract sources from machine (#167)
  pkg/core/address.go
  pkg/machine/machine_test.go
  pkg/machine/script/compiler/compiler.go
  pkg/machine/script/compiler/source.go
  pkg/machine/vm/program/program.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: Improvement for GoReleaser
  .goreleaser-darwin.yml
  .goreleaser.yml
Due: none

test: add CQRS integration tests (#163)
  openapi.yaml
  pkg/api/apierrors/errors.go
  pkg/ledger/ledger.go
  pkg/ledger/query/worker.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add cache eviction and make retention and eviction period configurable
  cmd/container.go
  cmd/internal/main_test.go
  cmd/main_test.go
  cmd/serve.go
  pkg/ledger/cache/cache.go
  pkg/ledger/cache/cache_test.go
  pkg/ledger/cache/memprofile.out
  pkg/ledger/cache/profile.out
  pkg/ledger/ledger.go
  pkg/ledger/lock/lock.go
  pkg/ledger/module.go
  pkg/ledger/resolver.go
  pkg/ledger/runner/runner.go
  pkg/storage/sqlstorage/cli.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: centralize ledger lifecycle inside resolver. (#184)
  pkg/api/internal/testing.go
  pkg/ledger/cache/manager.go
  pkg/ledger/cache/module.go
  pkg/ledger/ledger_test.go
  pkg/ledger/main_test.go
  pkg/ledger/module.go
  pkg/ledger/resolver.go
  pkg/ledger/runner/manager.go
  pkg/ledger/runner/module.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: make numscript cache configurable
  cmd/container.go
  cmd/serve.go
  pkg/ledger/command/commander.go
  pkg/ledger/command/commander_test.go
  pkg/ledger/command/compiler.go
  pkg/ledger/command/compiler_test.go
  pkg/ledger/command/state.go
  pkg/ledger/command/state_test.go
  pkg/ledger/ledger.go
  pkg/ledger/module.go
  pkg/ledger/resolver.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add index on postings (#258)
  pkg/storage/sqlstorage/ledger/migrates/0-init-schema/postgres.sql
  pkg/storage/sqlstorage/ledger/transactions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: refactor query Worker struct and methods (#190)
  pkg/ledger/query/worker.go
  pkg/ledger/query/worker_test.go
  pkg/ledger/resolver.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: clean openapi (#240)
  openapi.yaml
Due: gosdk

fix: fix memory leak with store logs worker not closed (#257)
  pkg/storage/sqlstorage/driver.go
  pkg/storage/sqlstorage/ledger/logs.go
  pkg/storage/sqlstorage/ledger/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: replace map[string]any by map[string]string on all metadata
  openapi.yaml
  pkg/api/controllers/account_controller.go
  pkg/api/controllers/account_controller_test.go
  pkg/api/controllers/api.go
  pkg/api/controllers/api_test.go
  pkg/api/controllers/ledger_controller_test.go
  pkg/api/controllers/transaction_controller.go
  pkg/api/controllers/transaction_controller_test.go
  pkg/bus/message.go
  pkg/bus/monitor.go
  pkg/core/account.go
  pkg/core/log.go
  pkg/core/metadata.go
  pkg/core/numscript.go
  pkg/core/script.go
  pkg/core/transaction.go
  pkg/ledger/cache/cache.go
  pkg/ledger/cache/cache_test.go
  pkg/ledger/ledger.go
  pkg/ledger/monitor/monitor.go
  pkg/ledger/query/worker.go
  pkg/ledger/query/worker_test.go
  pkg/ledger/runner/runner.go
  pkg/ledger/runner/runner_test.go
  pkg/machine/examples/basic.go
  pkg/machine/internal/json.go
  pkg/machine/internal/json_test.go
  pkg/machine/machine.go
  pkg/machine/machine_test.go
  pkg/machine/vm/machine.go
  pkg/machine/vm/machine_test.go
  pkg/machine/vm/store.go
  pkg/storage/driver.go
  pkg/storage/sqlstorage/ledger/accounts.go
  pkg/storage/sqlstorage/ledger/accounts_test.go
  pkg/storage/sqlstorage/ledger/store_test.go
  pkg/storage/sqlstorage/ledger/transactions.go
  pkg/storage/sqlstorage/ledger/transactions_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: enable uuid rand pool for uuid generation
  pkg/core/transaction.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add ballast package (#243)
  cmd/container.go
  cmd/serve.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: commit write buffer (#174)
  pkg/storage/sqlstorage/ledger/store.go
  pkg/storage/sqlstorage/worker/worker.go
  pkg/storage/sqlstorage/worker/worker_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add connection pooling configuration
  cmd/container.go
  pkg/storage/sqlstorage/cli.go
  pkg/storage/sqlstorage/ledger/main_test.go
  pkg/storage/sqlstorage/migrations/migrations_test.go
  pkg/storage/sqlstorage/pagination/pagination_column_test.go
  pkg/storage/sqlstorage/pagination/pagination_offset_test.go
  pkg/storage/sqlstorage/sqlstoragetesting/storage.go
  pkg/storage/sqlstorage/utils/utils.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: keep last log in memory
  pkg/storage/sqlstorage/ledger/logs.go
  pkg/storage/sqlstorage/ledger/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: wait for logs ingestion before starting (#212)
  pkg/ledger/module.go
  pkg/ledger/query/module.go
  pkg/ledger/query/worker.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: improve ledger errors (#198)
  pkg/analytics/segment.go
  pkg/api/apierrors/errors.go
  pkg/ledger/errors.go
  pkg/ledger/ledger.go
  pkg/ledger/migrations.go
  pkg/ledger/query/worker.go
  pkg/ledger/query/worker_test.go
  pkg/ledger/resolver.go
  pkg/ledger/runner/error.go
  pkg/ledger/runner/runner.go
  pkg/ledger/state/error.go
  pkg/ledger/state/state.go
  pkg/ledger/state/state_test.go
  pkg/ledger/stats.go
  pkg/storage/errors.go
  pkg/storage/sqlstorage/driver_test.go
  pkg/storage/sqlstorage/errors/errors.go
  pkg/storage/sqlstorage/ledger/accounts.go
  pkg/storage/sqlstorage/ledger/balances.go
  pkg/storage/sqlstorage/ledger/logs.go
  pkg/storage/sqlstorage/ledger/store_test.go
  pkg/storage/sqlstorage/ledger/transactions.go
  pkg/storage/sqlstorage/ledger/volumes.go
  pkg/storage/sqlstorage/schema/schema.go
  pkg/storage/sqlstorage/system/configuration.go
  pkg/storage/sqlstorage/system/ledgers.go
  pkg/storage/sqlstorage/system/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: introduce logs insertion by batch (#128)
  cmd/container_test.go
  go.mod
  go.sum
  pkg/api/controllers/account_controller.go
  pkg/api/controllers/account_controller_test.go
  pkg/api/controllers/ledger_controller_test.go
  pkg/api/controllers/transaction_controller.go
  pkg/core/log.go
  pkg/core/log_test.go
  pkg/core/numscript.go
  pkg/ledger/benchmarks_test.go
  pkg/ledger/execute_script.go
  pkg/ledger/execute_script_test.go
  pkg/ledger/ledger.go
  pkg/ledger/ledger_test.go
  pkg/ledger/storage.go
  pkg/storage/sqlstorage/driver.go
  pkg/storage/sqlstorage/ledger/accounts.go
  pkg/storage/sqlstorage/ledger/commit.go
  pkg/storage/sqlstorage/ledger/logs.go
  pkg/storage/sqlstorage/ledger/store.go
  pkg/storage/sqlstorage/ledger/store_test.go
  pkg/storage/sqlstorage/ledger/transactions.go
  pkg/storage/sqlstorage/worker/worker.go
  pkg/storage/sqlstorage/worker/worker_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove sqlite from ledger (#109)
  Taskfile.yaml
  cmd/container.go
  cmd/container_test.go
  cmd/internal/analytics_test.go
  cmd/root.go
  cmd/root_test.go
  cmd/storage.go
  cmd/storage_test.go
  go.mod
  go.sum
  pkg/analytics/segment_test.go
  pkg/api/api.go
  pkg/api/controllers/transaction_controller_test.go
  pkg/api/internal/testing.go
  pkg/ledgertesting/storage.go
  pkg/storage/sqlstorage/accounts.go
  pkg/storage/sqlstorage/accounts_test.go
  pkg/storage/sqlstorage/aggregations.go
  pkg/storage/sqlstorage/balances.go
  pkg/storage/sqlstorage/driver.go
  pkg/storage/sqlstorage/driver_test.go
  pkg/storage/sqlstorage/flavor.go
  pkg/storage/sqlstorage/logs.go
  pkg/storage/sqlstorage/migrate.go
  pkg/storage/sqlstorage/migrate_test.go
  pkg/storage/sqlstorage/migrates/17-optimized-segments/any_test.go
  pkg/storage/sqlstorage/module.go
  pkg/storage/sqlstorage/schema.go
  pkg/storage/sqlstorage/sqlite.go
  pkg/storage/sqlstorage/store_ledger.go
  pkg/storage/sqlstorage/store_ledger_test.go
  pkg/storage/sqlstorage/transactions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: allow core to handle transactions aynchronously
  pkg/api/controllers/account_controller.go
  pkg/api/controllers/account_controller_test.go
  pkg/api/controllers/api.go
  pkg/api/controllers/api_test.go
  pkg/api/controllers/transaction_controller.go
  pkg/api/controllers/transaction_controller_test.go
  pkg/ledger/ledger.go
  pkg/ledger/ledger_test.go
  pkg/ledger/query/worker.go
  pkg/ledger/query/worker_test.go
  pkg/ledger/revert/reverter.go
  pkg/ledger/revert/reverter_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: combine logs before insertion (#142)
  cmd/container_test.go
  pkg/api/controllers/account_controller.go
  pkg/api/controllers/transaction_controller.go
  pkg/ledger/benchmarks_test.go
  pkg/ledger/execute_script.go
  pkg/ledger/execute_script_test.go
  pkg/ledger/ledger.go
  pkg/ledger/ledger_test.go
  pkg/ledger/logs.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add limit for select in query init ledgers (#223)
  cmd/container.go
  cmd/serve.go
  pkg/ledger/module.go
  pkg/ledger/query/init.go
  pkg/ledger/query/module.go
  pkg/ledger/query/module_test.go
  pkg/ledger/query/store.go
  pkg/ledger/query/worker_test.go
  pkg/storage/driver.go
  pkg/storage/sqlstorage/ledger/logs.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: store worker is now configurable (#206)
  Procfile
  cmd/container.go
  cmd/root.go
  cmd/storage_test.go
  pkg/storage/sqlstorage/cli.go
  pkg/storage/sqlstorage/driver.go
  pkg/storage/sqlstorage/ledger/main_test.go
  pkg/storage/sqlstorage/ledger/store.go
  pkg/storage/sqlstorage/sqlstoragetesting/storage.go
  pkg/storage/sqlstorage/worker/worker.go
  pkg/storage/sqlstorage/worker/worker_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: make cache works in parallel (#170)
  pkg/core/account.go
  pkg/ledger/cache/cache.go
  pkg/ledger/cache/cache_test.go
  pkg/ledger/cache/main_test.go
  pkg/ledger/ledger.go
  pkg/ledger/runner/runner.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: Skip init if DB is not initialized (#171)
  pkg/api/controllers/transaction_controller_test.go
  pkg/ledger/query/worker.go
  pkg/storage/driver.go
  pkg/storage/sqlstorage/driver.go
  pkg/storage/sqlstorage/ledger/accounts.go
  pkg/storage/sqlstorage/ledger/balances.go
  pkg/storage/sqlstorage/ledger/logs.go
  pkg/storage/sqlstorage/ledger/migrates/9-add-pre-post-volumes/any_test.go
  pkg/storage/sqlstorage/ledger/store.go
  pkg/storage/sqlstorage/ledger/transactions.go
  pkg/storage/sqlstorage/ledger/volumes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: integration tests fix (#203)
  openapi.yaml
Due: gosdk

fix: concurrent reverts
  pkg/api/apierrors/errors.go
  pkg/core/metadata.go
  pkg/core/transaction.go
  pkg/ledger/ledger.go
  pkg/ledger/revert/reverter.go
  pkg/ledger/revert/reverter_test.go
  pkg/ledger/runner/runner.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: readd numscript cache (#177)
  pkg/ledger/main_test.go
  pkg/ledger/numscript/compiler.go
  pkg/ledger/numscript/compiler_test.go
  pkg/ledger/runner/manager.go
  pkg/ledger/runner/runner.go
  pkg/ledger/runner/runner_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
