Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

test(EN-1772): restore the no-unwrap negative control as a standalone test
  internal/infra/state/audit_failure_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(EN-1772): apply pre-commit formatting
  internal/infra/state/audit_failure_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(EN-1775): assert probes hit their declared route and harden the table contract
  internal/adapter/http/route_scope_exhaustiveness_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(EN-1775): record the route-to-scope contract in the HTTP API docs
  docs/technical/architecture/subsystems/api/http-api.md
  internal/adapter/http/route_scope_exhaustiveness_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(storage): keep the indexed-metadata rewrite equivalent and usable
  internal/storage/ledger/export_test.go
  internal/storage/ledger/resource_transactions.go
  internal/storage/ledger/store.go
  internal/storage/ledger/transactions_metadata_index_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(storage): scope the hedge, keep hard errors, honour store defaults
  cmd/serve.go
  internal/storage/driver/module.go
  internal/storage/ledger/store.go
  internal/storage/ledger/transactions_planner_hints_test.go
  internal/storage/module.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(EN-1775): keep the token fixture package-local, drop the authtest package
  internal/adapter/auth/authtest/token.go
  internal/adapter/auth/authtest/token_test.go
  internal/adapter/auth/composite_keyset_test.go
  internal/adapter/auth/grpc_auth_test.go
  internal/adapter/auth/http_middleware_test.go
  internal/adapter/http/route_scope_exhaustiveness_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1288): require an explicit selector on executable numscript references
  docs/technical/architecture/subsystems/scripting/numscript-library.md
  docs/technical/contributing/api-comparison.md
  internal/application/admission/admission.go
  internal/application/admission/admission_action_metrics_test.go
  internal/application/admission/admission_phase_metrics_test.go
  internal/application/admission/admission_test.go
  internal/application/admission/numscript_executable_version_test.go
  internal/application/usagebuilder/process_audit_integration_test.go
  internal/domain/processing/processor_transaction.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/servicepb/bucket.pb.go
  misc/proto/bucket.proto
  misc/proto/raft_cmd.proto
  openapi.yml
  pkg/actions/actions.go
  tests/antithesis/workload/bin/cmds/main/parallel_driver_numscripts/main.go
  tests/e2e/business/numscript_library_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(agents): route AI context by subsystem
  AGENTS.md
  docs/README.md
  docs/technical/README.md
  docs/technical/agent-context.md
  docs/technical/agent-reference-legacy.md
Due: none

docs(agents): fix context routes from review
  docs/technical/agent-context.md
Due: none

docs(agents): preserve compatibility anchors
  AGENTS.md
Due: none

refactor(EN-1551): remove dead proto fields, drop all reserved, realign tags (#1672)
  AGENTS.md
  docs/technical/architecture/subsystems/admission/pipeline.md
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/architecture/subsystems/fsm/preload.md
  docs/technical/architecture/subsystems/indexer/indexes.md
  docs/technical/architecture/subsystems/storage/storage.md
  docs/technical/contributing/protobuf.md
  internal/application/events/sink_databricks_test.go
  internal/infra/plan/predicted_index.go
  internal/infra/plan/predicted_index_test.go
  internal/proto/auditpb/audit.pb.go
  internal/proto/auditpb/audit_dethash.pb.go
  internal/proto/auditpb/audit_vtproto.pb.go
  internal/proto/clusterpb/cluster.pb.go
  internal/proto/clusterpb/cluster_vtproto.pb.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_dethash.pb.go
  internal/proto/commonpb/common_reader.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/raftcmdpb/raft_cmd_dethash.pb.go
  internal/proto/raftcmdpb/raft_cmd_reader.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  internal/proto/restorepb/restore.pb.go
  internal/proto/restorepb/restore_vtproto.pb.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_dethash.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  misc/proto/audit.proto
  misc/proto/bucket.proto
  misc/proto/cluster.proto
  misc/proto/common.proto
  misc/proto/raft_cmd.proto
  misc/proto/restore.proto
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

test(EN-1775): probe per-element routes tokenless so any route gate fails
  internal/adapter/http/route_scope_exhaustiveness_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(EN-1775): reject route rows carrying an unknown kind
  internal/adapter/http/route_scope_exhaustiveness_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1622): stop Transaction JSON emitting null postings/metadata
  internal/proto/commonpb/transaction.go
  internal/proto/commonpb/transactions_json_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1622): serialize the transactions list through Transaction.MarshalJSON
  internal/adapter/http/handlers_list_transactions.go
  internal/adapter/http/handlers_list_transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1622): serialize chapters through Chapter.MarshalJSON
  internal/adapter/http/handlers_list_chapters.go
  internal/adapter/http/handlers_list_chapters_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1622): serialize the single log through Log.MarshalJSON
  internal/adapter/http/handlers_get_log.go
  internal/adapter/http/handlers_get_log_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(storage): restrict the ->> rewrite to $match on string values
  internal/storage/ledger/resource_transactions.go
  internal/storage/ledger/transactions_metadata_index_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(EN-1622): rename shadowing local in Transaction.MarshalJSON
  internal/proto/commonpb/transaction.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(EN-1622): forbid a json.Marshaler type on the protojson writers
  internal/adapter/http/encoder_contract_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(storage): give each hedged attempt its own Expand slice
  internal/storage/ledger/store.go
  internal/storage/ledger/transactions_planner_hints_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(EN-1622): assert the protojson route table is complete
  internal/adapter/http/encoder_contract_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(EN-1622): type the transactions-list items as TransactionResponse
  openapi.yml
Due: gosdk

feat(EN-1622): add the Chapter response schema
  openapi.yml
Due: gosdk

docs(EN-1622): stop claiming protojson for sonic-served routes
  openapi.yml
Due: gosdk

fix(EN-1622): avoid deprecated parser.ParseDir in the completeness test
  internal/adapter/http/encoder_contract_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(EN-1622): write down which encoder owns the HTTP wire
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/architecture/subsystems/events-mirror/events.md
Due: none

docs(EN-1622): fix the writer doc comments that caused this bug
  internal/adapter/http/response.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(storage): drop the indexed-metadata routing from this PR
  docs/database/indexed-metadata-keys.md
  internal/README.md
  internal/ledger.go
  internal/storage/driver/driver.go
  internal/storage/ledger/export_test.go
  internal/storage/ledger/resource_transactions.go
  internal/storage/ledger/store.go
  internal/storage/ledger/transactions_metadata_index_test.go
  internal/storage/ledger/transactions_sparse_wallet_sim_test.go
  pkg/features/features.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(EN-1622): assert list/detail item shapes are deeply equal
  tests/e2e/business/transactions_list_shape_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(EN-1622): close a fail-open hole in the encoder guard
  internal/adapter/http/encoder_contract_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(EN-1622): rename a misleading test in handlers_get_log_test.go
  internal/adapter/http/handlers_get_log_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(storage): share the test hook container instead of copying it
  internal/storage/ledger/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(EN-1622): record the encoder guard's per-file allowlist limit
  internal/adapter/http/encoder_contract_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(EN-1622): make schemathesis conformance actually load-bearing
  tests/schemathesis/run.sh
  tests/schemathesis/test_api.py
Due: none

fix(EN-1622): stop analyze responses emitting null collections
  internal/adapter/http/handlers_analyze_accounts.go
  internal/adapter/http/handlers_analyze_accounts_test.go
  internal/adapter/http/handlers_analyze_transactions.go
  internal/adapter/http/handlers_analyze_transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(storage): make the transactions-list hedge opt-in per deployment
  cmd/serve.go
  docs/database/transactions-list-hedged-request.md
  internal/storage/ledger/store.go
  internal/storage/ledger/transactions_planner_hints_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(storage): cover the hedge helpers directly
  internal/storage/ledger/store_internal_test.go
  internal/storage/ledger/transactions_planner_hints_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: pin the opt-in default at the CLI boundary
  cmd/serve_test.go
  internal/storage/ledger/transactions_planner_hints_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
