Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

fix(EN-1356): close 3 NumaryBot findings on the audit-replay verifier
  internal/application/check/checker.go
  internal/application/check/verify_skipped_order_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(EN-1356): regen raft_cmd.pb.go after rebase to reconcile descriptor indices
  internal/proto/raftcmdpb/raft_cmd.pb.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1356): fold baseline chain state for non-CONFLICT skip reasons
  internal/application/check/checker.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1356): close 5 NumaryBot findings on the audit-replay verifier
  internal/application/check/checker.go
  internal/application/check/verify_skipped_order_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(EN-1356): move Order.skippable_reasons to LedgerApplyOrder
  internal/application/admission/admission.go
  internal/application/check/checker.go
  internal/application/check/verify_skipped_order_test.go
  internal/domain/processing/processor.go
  internal/domain/processing/processor_skippable.go
  internal/domain/processing/processor_skippable_test.go
  internal/domain/processing/processor_test.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/raftcmdpb/raft_cmd_dethash.pb.go
  internal/proto/raftcmdpb/raft_cmd_reader.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  misc/proto/raft_cmd.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1356): mirror-ingest state + per-reason baseline flag
  internal/application/check/checker.go
  internal/application/check/verify_skipped_order_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1356): track transaction-scoped metadata via chain-bound nextTxID
  internal/application/check/checker.go
  internal/application/check/verify_skipped_order_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(EN-1356): regen commonpb after rebase
  internal/proto/commonpb/common.pb.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

style(EN-1356): gofmt list formatting in chainBoundState doc comment
  internal/application/check/checker.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1356): close 4 NumaryBot findings on 1924bfe9f
  internal/application/check/checker.go
  internal/application/check/checker_tamper_test.go
  internal/application/check/verify_skipped_order_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1356): verify OrderSkipped existingTransactionId against audit-derived owner
  internal/application/check/checker.go
  internal/application/check/fold_baseline_references_test.go
  internal/application/check/verify_skipped_order_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(EN-1356): document existingTransactionId absent-field as accepted limitation
  internal/application/check/checker.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1356): address NumaryBot review findings on skip verifier
  internal/application/check/checker.go
  internal/application/check/verify_skipped_order_test.go
  internal/domain/processing/overlay_scope_test.go
  internal/domain/processing/processor_helpers_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(EN-1356): reconcile checker test call sites after rebase onto #1456
  internal/application/check/checker_idempotency_cold_test.go
  internal/application/check/fold_baseline_references_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(color-of-money): address flemzord + NumaryBot review findings
  docs/technical/architecture/README.md
  docs/technical/architecture/data-model/color-of-money.md
  internal/domain/errors.go
  internal/domain/errors_test.go
  internal/domain/processing/numscript/errors.go
  internal/domain/processing/numscript/errors_test.go
  internal/infra/state/write_set.go
  internal/infra/state/write_set_test.go
  internal/query/aggregate.go
  internal/query/errors.go
  internal/query/errors_test.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(color-of-money): mark color required on always-emitting response schemas
  openapi.yml
Due: gosdk

fix(backup): reconstruct the full LedgerInfo on RebuildDelta
  internal/infra/backup/rebuild.go
  internal/infra/backup/rebuild_test.go
  internal/proto/commonpb/ledger_log.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(backup): write rebuilt LedgerInfo to the attribute projection, not only Global
  internal/application/check/replay_store.go
  internal/domain/replay/replay.go
  internal/domain/replay/writer.go
  internal/infra/backup/rebuild.go
  internal/infra/backup/rebuild_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(admission): surface coverage U128 collision as a clean error instead of silent drop
  internal/infra/plan/builder.go
  internal/infra/plan/coverage.go
  internal/infra/plan/coverage_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(backup): count rolled-up export segments as files_deleted, not orphans
  internal/infra/backup/manager.go
  internal/infra/backup/manager_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(operator/EN-1487): source carry-forward Scopes/God from live spec, not stale ConfigMap
  misc/operator/internal/controller/reconcile_auth_keys.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1504): reject non-executable prepared-query targets and validate filter per-target
  internal/adapter/http/handlers_create_prepared_query.go
  internal/adapter/http/prepared_query_filter.go
  internal/adapter/http/prepared_query_filter_test.go
  internal/application/admission/validate_order.go
  internal/application/admission/validate_order_test.go
  internal/application/admission/wrapper_dispatch_test.go
  internal/domain/errors.go
  internal/domain/prepared_query_filter_test.go
  internal/domain/processing/processor_dispatch_test.go
  internal/domain/processing/processor_prepared_query.go
  internal/domain/processing/processor_prepared_query_test.go
  internal/domain/validation.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(EN-1503): allow LOGS as a prepared-query target over REST
  docs/technical/architecture/subsystems/read-path/prepared-queries.md
  internal/adapter/http/handlers_create_prepared_query.go
  internal/adapter/http/handlers_create_prepared_query_test.go
  internal/adapter/http/handlers_update_prepared_query.go
  internal/adapter/http/prepared_query_filter.go
  internal/adapter/http/prepared_query_filter_test.go
  internal/domain/prepared_query_filter_test.go
  internal/domain/validation.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common.pb.json.go
  internal/proto/commonpb/common_dethash.pb.go
  internal/proto/commonpb/common_reader.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/query/executor.go
  misc/proto/common.proto
  openapi.yml
  pkg/actions/filters.go
  tests/e2e/business/prepared_queries_test.go
  tests/e2e/business/prepared_query_rest_shape_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

test(EN-1503): fix LOGS prepared-query e2e specs (logId space + response envelope)
  tests/e2e/business/prepared_queries_test.go
  tests/e2e/business/prepared_query_rest_shape_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1503): reject unsupported query target in Compile, not just executeList
  internal/query/compile.go
  internal/query/compile_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1472): move bucket-wide system routes under reserved /v3/_/ segment
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/http/handler.go
  internal/adapter/http/handlers_coverage_test.go
  internal/application/admission/errors.go
  internal/application/admission/validate_order.go
  internal/application/admission/validate_order_test.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1472): reject metadata index on unsupported target (LEDGER) at admission
  internal/application/admission/errors.go
  internal/application/admission/validate_order.go
  internal/application/admission/validate_order_test.go
  internal/domain/indexes/id.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1472): expose per-sink status over HTTP at parity with gRPC
  docs/technical/contributing/api-comparison.md
  internal/adapter/grpc/client_bucket.go
  internal/adapter/grpc/controller_generated_test.go
  internal/adapter/grpc/server_bucket.go
  internal/adapter/http/backend_generated_test.go
  internal/adapter/http/handlers_get_events_sinks.go
  internal/adapter/http/handlers_get_events_sinks_test.go
  internal/application/ctrl/controller.go
  internal/application/ctrl/controller_default.go
  internal/application/ctrl/controller_generated_test.go
  internal/application/ctrl/ctrlmock/controller_generated.go
  internal/bootstrap/controller_routed.go
  internal/query/sink.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(EN-1481): move audit routes under /v3/_/ and drop reserved-word guard
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/http/handler.go
  internal/adapter/http/handlers_get_audit_entry.go
  internal/adapter/http/handlers_get_audit_entry_test.go
  internal/adapter/http/handlers_list_audit_entries.go
  internal/adapter/http/handlers_list_audit_entries_test.go
  internal/application/admission/errors.go
  internal/application/admission/validate_order.go
  internal/application/admission/validate_order_test.go
  internal/proto/auditpb/audit.pb.json.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(EN-1356): emit SKIPPED_ORDER event so skipped orders reach sinks
  docs/technical/architecture/subsystems/events-mirror/events.md
  internal/application/events/event.go
  internal/application/events/event_test.go
  internal/application/events/sink_data_common.go
  internal/proto/commonpb/common.pb.go
  misc/proto/common.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(EN-1356): fix skippable_reasons whitelist + bulk-response doc drift
  internal/proto/servicepb/bucket.pb.go
  misc/proto/bucket.proto
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(EN-1356): add fsm/skippable-orders architecture page
  docs/technical/architecture/subsystems/fsm/README.md
  docs/technical/architecture/subsystems/fsm/skippable-orders.md
Due: none

test(EN-1356): add SKIPPED_ORDER to ledgerctl event-type completion goldens
  cmd/ledgerctl/events/completion_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1491): refresh auth metadata on the all-unresolved path (review)
  misc/operator/internal/controller/cluster_controller.go
  misc/operator/internal/controller/reconcile_auth_keys.go
  misc/operator/internal/controller/reconcile_auth_keys_unit_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1525): fail closed when a WAL exists without its creation marker
  internal/storage/wal/wal_default.go
  internal/storage/wal/wal_default_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1521): make FSM map-dependent outcomes deterministic
  internal/domain/accounttype/validate.go
  internal/domain/accounttype/validate_test.go
  internal/domain/crypto/keystore/keystore.go
  internal/domain/crypto/keystore/keystore_test.go
  internal/domain/processing/processor_account_type.go
  internal/domain/processing/processor_account_type_test.go
  internal/domain/processing/processor_ledger.go
  internal/domain/processing/processor_ledger_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1527): strict cache/Bloom recovery decoding, fail closed on corruption
  internal/infra/bloom/bloom.go
  internal/infra/state/cache_snapshotter.go
  internal/infra/state/cache_snapshotter_bloom_boot_ordering_test.go
  internal/infra/state/cache_snapshotter_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(EN-1465): scope QueryFilter DSL to JSON-body REST surfaces
  docs/technical/architecture/subsystems/read-path/prepared-queries.md
Due: none

fix(operator/EN-1487): scope auth-keys pending fail-safe to Ed25519-dependent clusters (P1)
  misc/operator/internal/controller/reconcile_auth_keys.go
  misc/operator/internal/controller/reconcile_auth_keys_unit_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(color-of-money): disambiguate unresolved Numscript insufficient-funds color + reconcile compareVolumeKeys doc
  docs/technical/architecture/data-model/color-of-money.md
  internal/domain/errors.go
  internal/domain/errors_test.go
  internal/domain/processing/numscript/errors.go
  internal/domain/processing/numscript/errors_test.go
  internal/domain/processing/processor_posting.go
  internal/infra/state/write_set.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests
