Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

chore: add mailmap to clean git shortlog
  .mailmap
Due: none

fix: pagination issue with legacy store
  internal/storage/ledger/legacy/logs.go
  internal/storage/ledger/legacy/transactions.go
  internal/storage/ledger/legacy/transactions_test.go
  internal/storage/ledger/legacy/utils.go
  internal/storage/ledger/paginator_column.go
  internal/storage/ledger/paginator_offset.go
  internal/storage/ledger/resource.go
  internal/storage/ledger/store.go
  internal/storage/ledger/transactions_test.go
  internal/storage/system/store_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: cursor unmarshalling in input
  internal/storage/ledger/legacy/adapters.go
  internal/storage/ledger/transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: offset pagination
  internal/controller/ledger/controller_default.go
  internal/storage/ledger/legacy/accounts.go
  internal/storage/ledger/legacy/adapters.go
  internal/storage/ledger/legacy/utils.go
  internal/storage/ledger/legacy/volumes.go
  internal/storage/ledger/transactions_test.go
  test/e2e/api_ledgers_import_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: npe
  internal/storage/ledger/legacy/adapters.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: pagination issue with legacy store (#1189)
  internal/controller/ledger/controller_default.go
  internal/storage/ledger/legacy/accounts.go
  internal/storage/ledger/legacy/adapters.go
  internal/storage/ledger/legacy/logs.go
  internal/storage/ledger/legacy/transactions.go
  internal/storage/ledger/legacy/transactions_test.go
  internal/storage/ledger/legacy/utils.go
  internal/storage/ledger/legacy/volumes.go
  internal/storage/ledger/paginator_column.go
  internal/storage/ledger/paginator_offset.go
  internal/storage/ledger/resource.go
  internal/storage/ledger/store.go
  internal/storage/ledger/transactions_test.go
  internal/storage/system/store_test.go
  test/e2e/api_ledgers_import_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

move upsertaccount calls out of the store
  internal/README.md
  internal/account.go
  internal/chart.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_default_test.go
  internal/controller/ledger/store.go
  internal/controller/ledger/store_generated_test.go
  internal/storage/ledger/accounts.go
  internal/storage/ledger/accounts_test.go
  internal/storage/ledger/balances_test.go
  internal/storage/ledger/common_test.go
  internal/storage/ledger/moves_test.go
  internal/storage/ledger/transactions.go
  internal/storage/ledger/transactions_test.go
  internal/storage/ledger/volumes_test.go
  internal/transaction.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

first cut
  .github/workflows/production.yml
  .github/workflows/staging.yml
  .gitignore
  README.md
  aws/task-definition-prod.json
  aws/task-definition-staging.json
Due: none

remove duplicate UpsertAccounts in test
  internal/storage/ledger/accounts_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: move UpsertAccounts call & metadata logic out of the store (#1191)
  internal/README.md
  internal/account.go
  internal/chart.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_default_test.go
  internal/controller/ledger/store.go
  internal/controller/ledger/store_generated_test.go
  internal/storage/ledger/accounts.go
  internal/storage/ledger/accounts_test.go
  internal/storage/ledger/balances_test.go
  internal/storage/ledger/common_test.go
  internal/storage/ledger/moves_test.go
  internal/storage/ledger/transactions.go
  internal/storage/ledger/transactions_test.go
  internal/storage/ledger/volumes_test.go
  internal/transaction.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: fill accounts volumes history when migrating in v2.2
  internal/storage/bucket/migrations/11-make-stateless/up.sql
  internal/storage/ledger/balances.go
  internal/storage/ledger/balances_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: fill accounts volumes history when migrating in v2.2
  internal/storage/bucket/migrations/11-make-stateless/up.sql
Due: none

fix: regression on v1 endpoints
  internal/api/v1/controllers_accounts_count_test.go
  internal/api/v1/controllers_balances_aggregates.go
  internal/api/v1/utils.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: initialize transactions_metadata if needed
  internal/storage/bucket/migrations/11-make-stateless/up.sql
Due: none

wip
  docs/api/README.md
  docs/events/InsertedSchema.json
  internal/README.md
  internal/api/bulking/elements.go
  internal/api/v2/controllers_transactions_create.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_default_test.go
  internal/errors.go
  internal/machine/vm/machine.go
  internal/machine/vm/run.go
  internal/schema.go
  internal/storage/bucket/migrations/44-add-schema/up.sql
  internal/transaction_templates.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/docs/models/components/v2posttransactionscript.md
  pkg/client/docs/models/components/v2schemadata.md
  pkg/client/docs/models/components/v2transactiontemplate.md
  pkg/client/docs/sdks/v2/README.md
  pkg/client/models/components/v2posttransaction.go
  pkg/client/models/components/v2schemadata.go
  pkg/client/models/components/v2transactiontemplate.go
  pkg/client/speakeasyusagegen/.speakeasy/logs/naming.log
  test/e2e/api_schema_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

logs
  docs/api/README.md
  docs/events/CommittedTransactions.json
  docs/events/InsertedSchema.json
  docs/events/RevertedTransaction.json
  internal/README.md
  internal/api/v2/controllers_bulk_test.go
  internal/api/v2/views_test.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_default_test.go
  internal/machine/vm/machine.go
  internal/storage/bucket/migrations/43-add-transaction-templates/notes.yaml
  internal/storage/bucket/migrations/43-add-transaction-templates/up.sql
  internal/transaction.go
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/docs/models/components/v2schema.md
  pkg/client/models/components/v2schema.go
  pkg/client/speakeasyusagegen/.speakeasy/logs/naming.log
  test/e2e/api_schema_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

force presence of `transactions`, omitempty on vm.Script
  docs/api/README.md
  internal/machine/vm/run.go
  internal/schema.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/docs/models/components/v2schema.md
  pkg/client/docs/models/components/v2schemadata.md
  pkg/client/docs/sdks/v2/README.md
  pkg/client/models/components/v2schema.go
  pkg/client/models/components/v2schemadata.go
  test/e2e/api_idempotency_hit_header_test.go
  test/e2e/api_schema_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

respect schema enforcement mode
  internal/controller/ledger/controller_default.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

keep in migration 44
  internal/storage/bucket/migrations/44-add-schema/up.sql
  internal/storage/bucket/migrations/45-add-transaction-templates/notes.yaml
  internal/storage/bucket/migrations/45-add-transaction-templates/up.sql
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/speakeasyusagegen/.speakeasy/logs/naming.log
Due: none

remove custom unmarshal, omit empty template
  docs/events/CommittedTransactions.json
  docs/events/InsertedSchema.json
  docs/events/RevertedTransaction.json
  internal/README.md
  internal/api/v2/controllers_bulk_test.go
  internal/api/v2/views_test.go
  internal/controller/ledger/controller_default.go
  internal/schema.go
  internal/transaction.go
  internal/transaction_templates.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

remove required for plain
  docs/api/README.md
  internal/controller/ledger/controller_default.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/docs/models/components/v2posttransactionscript.md
  pkg/client/docs/models/components/v2transaction.md
  pkg/client/docs/sdks/v2/README.md
  pkg/client/models/components/v2posttransaction.go
  pkg/client/models/components/v2transaction.go
  pkg/generate/generator.go
  test/e2e/api_ledgers_import_test.go
  test/e2e/api_schema_test.go
  test/e2e/api_transactions_create_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

use map, fix tx template readback, runtime overwriting
  docs/api/README.md
  internal/README.md
  internal/api/bulking/elements.go
  internal/controller/ledger/controller.go
  internal/controller/ledger/controller_default.go
  internal/storage/ledger/resource_transactions.go
  internal/transaction_templates.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/docs/models/components/v2schema.md
  pkg/client/docs/models/components/v2schemadata.md
  pkg/client/docs/models/components/v2transaction.md
  pkg/client/docs/models/components/v2transactiontemplate.md
  pkg/client/models/components/runtime.go
  pkg/client/models/components/v2posttransaction.go
  pkg/client/models/components/v2schema.go
  pkg/client/models/components/v2schemadata.go
  pkg/client/models/components/v2transaction.go
  pkg/client/models/components/v2transactiontemplate.go
  pkg/client/speakeasyusagegen/.speakeasy/logs/naming.log
  test/e2e/api_schema_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix test
  internal/storage/ledger/schema_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix migration numbers
  internal/storage/bucket/migrations/45-add-transaction-templates/notes.yaml
  internal/storage/bucket/migrations/45-add-transaction-templates/up.sql
Due: none

fix missing struct tags
  docs/events/InsertedSchema.json
  internal/README.md
  internal/transaction_templates.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

pre-commit
  internal/README.md
Due: none

migration 45
  internal/storage/bucket/default_bucket.go
  internal/storage/bucket/migrations/44-add-schema/up.sql
  internal/storage/bucket/migrations/45-add-transaction-templates/notes.yaml
  internal/storage/bucket/migrations/45-add-transaction-templates/up.sql
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add balances check post migration
  internal/storage/bucket/migrations/11-make-stateless/up.sql
Due: none

feat: fill accounts volumes history when migrating in v2.2 (#1194)
  internal/storage/bucket/migrations/11-make-stateless/up.sql
Due: none

feat: fill accounts volumes history when migrating in v2.2 (#1193)
  internal/storage/bucket/migrations/11-make-stateless/up.sql
  internal/storage/ledger/balances.go
  internal/storage/ledger/balances_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: fill accounts volumes history when migrating in v2.2 (#1195)
  internal/storage/bucket/migrations/11-make-stateless/up.sql
Due: none

fix: same on accounts
  internal/storage/bucket/migrations/11-make-stateless/up.sql
Due: none
