Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

docs(ops): scope the cluster-id check to the RPCs that enforce it; drop stale 60 s join guidance
  docs/ops/cli.md
  docs/ops/cluster-operations.md
  docs/ops/deployment.md
Due: none

fix(numscript): fail a malformed artifact header before the version fallback
  docs/ops/deployment.md
  docs/technical/architecture/subsystems/scripting/numscript-library.md
  docs/technical/audits/fsm-determinism-cache-coverage.json
  docs/technical/audits/fsm-determinism-cache-coverage.md
  internal/domain/processing/numscript/vm.go
  internal/domain/processing/numscript/vm_test.go
  internal/domain/processing/processor_transaction_numscript_vm_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(protocol): attribute the Numscript changes to revisions 23 and 24 consistently
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
Due: none

fix(numscript): inspect artifact headers before the stale-inputs re-resolution
  docs/technical/architecture/subsystems/scripting/numscript-library.md
  docs/technical/audits/fsm-determinism-cache-coverage.json
  docs/technical/audits/fsm-determinism-cache-coverage.md
  internal/domain/processing/numscript/vm.go
  internal/domain/processing/processor_transaction_numscript.go
  internal/domain/processing/processor_transaction_numscript_stale_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(numscript): pin to release v0.1.1
  go.mod
  go.sum
  tests/antithesis/workload/go.mod
  tests/antithesis/workload/go.sum
Due: none

chore(release): adopt shared GoReleaser Docker v2 preset
  .goreleaser.yml
  build.Dockerfile
  flake.lock
  flake.nix
  scratch.Dockerfile
Due: none

fix(numscript): review follow-ups for #2126 — header check before version fallback, protocol doc revisions (#2191)
  docs/ops/deployment.md
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
  docs/technical/architecture/subsystems/scripting/numscript-library.md
  docs/technical/audits/fsm-determinism-cache-coverage.json
  docs/technical/audits/fsm-determinism-cache-coverage.md
  go.mod
  go.sum
  internal/domain/processing/numscript/vm.go
  internal/domain/processing/numscript/vm_test.go
  internal/domain/processing/processor_transaction_numscript.go
  internal/domain/processing/processor_transaction_numscript_stale_test.go
  internal/domain/processing/processor_transaction_numscript_vm_test.go
  tests/antithesis/workload/go.mod
  tests/antithesis/workload/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(openapi): preserve SystemLog payload variants (EN-2781)
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/audits/api-boundary-contracts.json
  docs/technical/audits/api-boundary-contracts.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/http/openapi_spec_test.go
  openapi.yml
  tests/sdk/README.md
  tests/sdk/system-log-payloads.json
  tests/sdk/system-log.mjs
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

test(openapi): remove JavaScript SDK regression tests
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/audits/api-boundary-contracts.json
  docs/technical/audits/api-boundary-contracts.md
  internal/adapter/http/openapi_spec_test.go
  internal/adapter/http/testdata/system_log_payloads.json
  tests/sdk/README.md
  tests/sdk/system-log.mjs
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(openapi): validate supplemental system log fixtures
  internal/adapter/http/openapi_spec_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(api): preserve bulk SDK identities and error outcomes
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/audits/api-boundary-contracts.json
  docs/technical/audits/api-boundary-contracts.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/http/handlers_bulk_contract_test.go
  internal/adapter/http/openapi_spec_test.go
  openapi.yml
  tests/sdk/README.md
  tests/sdk/bulk-contract.mjs
  tests/sdk/bulk-generation-overlay.yml
  tests/sdk/bulk-idempotency.ts
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(api): clarify public proto boundary
  docs/technical/architecture/subsystems/api/public-client.md
Due: none

fix(server): fail fast on a cluster-id mismatch while joining (EN-2738) (#2192)
  cmd/server/join_auth_test.go
  cmd/server/server.go
  docs/ops/cli.md
  docs/ops/cluster-operations.md
  docs/ops/deployment.md
  docs/technical/architecture/subsystems/api/grpc-connections.md
  internal/bootstrap/module.go
  internal/bootstrap/module_join_cluster_id_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(openapi): preserve SystemLog payload variants (EN-2781) (#2193)
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/audits/api-boundary-contracts.json
  docs/technical/audits/api-boundary-contracts.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/http/openapi_spec_test.go
  internal/adapter/http/testdata/system_log_payloads.json
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(api): remove bulk SDK issue references
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/audits/api-boundary-contracts.json
  docs/technical/audits/api-boundary-contracts.md
  docs/technical/contributing/api-comparison.md
  tests/sdk/README.md
Due: none

fix(api): keep control plane commands private
  docs/technical/architecture/subsystems/api/public-client.md
  go.mod
  internal/adapter/auth/request_scope.go
  internal/adapter/auth/request_scope_exhaustiveness_test.go
  internal/application/admission/admission.go
  internal/application/admission/admission_test.go
  internal/application/admission/cluster_policy_gate_test.go
  internal/application/admission/wrapper_dispatch_test.go
  internal/application/ctrl/controller_default.go
  internal/application/ctrl/controller_default_generated_test.go
  internal/bootstrap/cluster_policy_reconciler_test.go
  internal/bootstrap/module.go
  misc/proto/bucket.proto
  misc/release/public-client.json
  pkg/client/v3/contract.json
  pkg/client/v3/grpc/bucket.pb.go
  pkg/client/v3/grpc/bucket_dethash.pb.go
  pkg/client/v3/grpc/bucket_reader.pb.go
  pkg/client/v3/grpc/bucket_vtproto.pb.go
  pkg/client/v3/proto/bucket.proto
  pkg/client/v3/proto/ledger-public.protoset
  pkg/testserver/testserver.go
  scripts/check-public-client.sh
  tests/antithesis/workload/go.mod
  tests/e2e/cluster/restore_cluster_policy_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(api): preserve bulk SDK identities and error outcomes (#2195)
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/audits/api-boundary-contracts.json
  docs/technical/audits/api-boundary-contracts.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/http/handlers_bulk_contract_test.go
  internal/adapter/http/openapi_spec_test.go
  openapi.yml
  tests/sdk/README.md
  tests/sdk/bulk-contract.mjs
  tests/sdk/bulk-generation-overlay.yml
  tests/sdk/bulk-idempotency.ts
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(admission): share resolved batch pipeline
  internal/application/admission/admission.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(release): adopt shared GoReleaser Docker v2 preset (#2194)
  .goreleaser.yml
  build.Dockerfile
  flake.lock
  flake.nix
  scratch.Dockerfile
Due: none

fix(backup): drop hardcoded "backups/" segment from S3 keys
  cmd/ledgerctl/store/bootstrap.go
  internal/infra/backup/manifest.go
  internal/infra/backup/manifest_test.go
  internal/infra/backup/segment.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(backup): update gRPC restore download to new manifest key
  internal/adapter/grpc/server_restore_download.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(e2e): update backup/restore e2e tests to flat manifest key layout
  tests/e2e/business/backup_azure_test.go
  tests/e2e/business/backup_s3_test.go
  tests/e2e/cluster/restore_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(numscript): compile committed scripts from text
  docs/ops/deployment.md
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
  docs/technical/architecture/subsystems/scripting/README.md
  docs/technical/architecture/subsystems/scripting/numscript-library.md
  docs/technical/audits/authentication-authorization-boundaries.json
  docs/technical/audits/authentication-authorization-boundaries.md
  docs/technical/audits/fsm-determinism-cache-coverage.json
  docs/technical/audits/fsm-determinism-cache-coverage.md
  docs/technical/contributing/numscript.md
  internal/application/admission/admission.go
  internal/application/admission/numscript_compiled_artifact_test.go
  internal/application/admission/numscript_proposal_size_test.go
  internal/application/check/checker_accepted_order_test.go
  internal/domain/processing/numscript/cache.go
  internal/domain/processing/numscript/cache_test.go
  internal/domain/processing/numscript/text_execution_bench_test.go
  internal/domain/processing/numscript/vm.go
  internal/domain/processing/numscript/vm_test.go
  internal/domain/processing/processor.go
  internal/domain/processing/processor_helpers_test.go
  internal/domain/processing/processor_numscript_text_test.go
  internal/domain/processing/processor_transaction.go
  internal/domain/processing/processor_transaction_numscript.go
  internal/domain/processing/processor_transaction_numscript_reference_test.go
  internal/domain/processing/processor_transaction_numscript_stale_test.go
  internal/domain/processing/processor_transaction_numscript_vm_test.go
  internal/domain/processing/processor_transaction_test.go
  internal/infra/backup/numscript_restore_parity_test.go
  internal/infra/state/audit_replay.go
  internal/infra/state/numscript_metadata_order_test.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/raftcmdpb/raft_cmd_reader.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  misc/proto/raft_cmd.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(operator): generate standalone JSON Schema for CRDs
  misc/operator/README.md
  misc/operator/config/crd/schemas/v1alpha1_backup.json
  misc/operator/config/crd/schemas/v1alpha1_backup.spec.json
  misc/operator/config/crd/schemas/v1alpha1_backuprun.json
  misc/operator/config/crd/schemas/v1alpha1_backuprun.spec.json
  misc/operator/config/crd/schemas/v1alpha1_cluster.json
  misc/operator/config/crd/schemas/v1alpha1_cluster.spec.json
  misc/operator/config/crd/schemas/v1alpha1_credentials.json
  misc/operator/config/crd/schemas/v1alpha1_credentials.spec.json
  misc/operator/config/crd/schemas/v1alpha1_ledger.json
  misc/operator/config/crd/schemas/v1alpha1_ledger.spec.json
  misc/operator/justfile
  misc/operator/scripts/generate-json-schemas/main.go
  misc/operator/scripts/generate-json-schemas/main_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(operator): merge release/v3.0, regenerate CRD JSON schemas
  misc/operator/config/crd/schemas/v1alpha1_cluster.json
  misc/operator/config/crd/schemas/v1alpha1_cluster.spec.json
Due: none

fix(operator): address codex review of JSON Schema generator
  misc/operator/README.md
  misc/operator/scripts/generate-json-schemas/main.go
  misc/operator/scripts/generate-json-schemas/main_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(release): attach operator CRD JSON schemas to GitHub releases
  .goreleaser.yml
  justfile
  misc/operator/README.md
Due: none

chore(operator): regenerate CRD JSON schemas after rebase
  misc/operator/config/crd/schemas/v1alpha1_backup.json
  misc/operator/config/crd/schemas/v1alpha1_backup.spec.json
  misc/operator/config/crd/schemas/v1alpha1_cluster.json
  misc/operator/config/crd/schemas/v1alpha1_cluster.spec.json
Due: none

fix(api): align auth and exhaustion contracts (EN-2783)
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/audits/api-boundary-contracts.json
  docs/technical/audits/api-boundary-contracts.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/http/handler.go
  internal/adapter/http/openapi_auth_errors_test.go
  internal/adapter/http/openapi_resource_exhaustion_test.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(operator): regenerate CRD JSON schemas after rebase
  misc/operator/config/crd/schemas/v1alpha1_cluster.json
  misc/operator/config/crd/schemas/v1alpha1_cluster.spec.json
  misc/operator/config/crd/schemas/v1alpha1_credentials.json
  misc/operator/config/crd/schemas/v1alpha1_credentials.spec.json
  misc/operator/config/crd/schemas/v1alpha1_eventsink.json
  misc/operator/config/crd/schemas/v1alpha1_eventsink.spec.json
  misc/operator/config/crd/schemas/v1alpha1_ledger.json
Due: none

test(operator): assert exact generated schema set, add EventSink
  misc/operator/scripts/generate-json-schemas/main_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(client): use standard JSON implementation
  pkg/client/v3/go.mod
  pkg/client/v3/go.sum
  pkg/client/v3/internal/json/json.go
  pkg/client/v3/internal/json/numbers.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(api): accept X-Consistency on HTTP reads
  docs/technical/architecture/overview.md
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/audits/read-consistency-projections.json
  docs/technical/audits/read-consistency-projections.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/grpc/consistency.go
  internal/adapter/grpc/consistency_test.go
  internal/adapter/http/handler.go
  internal/adapter/http/handlers_list_audit_entries.go
  internal/adapter/http/handlers_list_signing_keys.go
  internal/adapter/http/handlers_list_transactions.go
  internal/adapter/http/middleware_consistency.go
  internal/adapter/http/middleware_consistency_test.go
  internal/bootstrap/controller_routed.go
  internal/bootstrap/controller_routed_test.go
  internal/query/consistency.go
  internal/query/consistency_test.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(api): accept X-Consistency on HTTP reads (#2172)
  docs/technical/architecture/overview.md
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/audits/read-consistency-projections.json
  docs/technical/audits/read-consistency-projections.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/grpc/consistency.go
  internal/adapter/grpc/consistency_test.go
  internal/adapter/http/handler.go
  internal/adapter/http/handlers_list_audit_entries.go
  internal/adapter/http/handlers_list_signing_keys.go
  internal/adapter/http/handlers_list_transactions.go
  internal/adapter/http/middleware_consistency.go
  internal/adapter/http/middleware_consistency_test.go
  internal/bootstrap/controller_routed.go
  internal/bootstrap/controller_routed_test.go
  internal/query/consistency.go
  internal/query/consistency_test.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(api): align auth and exhaustion contracts (EN-2783) (#2199)
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/audits/api-boundary-contracts.json
  docs/technical/audits/api-boundary-contracts.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/http/handler.go
  internal/adapter/http/openapi_auth_errors_test.go
  internal/adapter/http/openapi_resource_exhaustion_test.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests
