Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

feat(api): add configurable page sizes
  cmd/serve.go
  internal/api/common/pagination.go
  internal/api/module.go
  internal/api/router.go
  internal/api/v2/common.go
  internal/api/v2/controllers_accounts_list.go
  internal/api/v2/controllers_accounts_list_test.go
  internal/api/v2/controllers_ledgers_list.go
  internal/api/v2/controllers_ledgers_list_test.go
  internal/api/v2/controllers_logs_list.go
  internal/api/v2/controllers_logs_list_test.go
  internal/api/v2/controllers_transactions_list.go
  internal/api/v2/controllers_transactions_list_test.go
  internal/api/v2/controllers_volumes.go
  internal/api/v2/controllers_volumes_test.go
  internal/api/v2/query.go
  internal/api/v2/routes.go
  pkg/testserver/server.go
  test/e2e/api_ledgers_list_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(api): add configurable page sizes (#628)
  cmd/serve.go
  internal/api/common/pagination.go
  internal/api/module.go
  internal/api/router.go
  internal/api/v2/common.go
  internal/api/v2/controllers_accounts_list.go
  internal/api/v2/controllers_accounts_list_test.go
  internal/api/v2/controllers_ledgers_list.go
  internal/api/v2/controllers_ledgers_list_test.go
  internal/api/v2/controllers_logs_list.go
  internal/api/v2/controllers_logs_list_test.go
  internal/api/v2/controllers_transactions_list.go
  internal/api/v2/controllers_transactions_list_test.go
  internal/api/v2/controllers_volumes.go
  internal/api/v2/controllers_volumes_test.go
  internal/api/v2/query.go
  internal/api/v2/routes.go
  pkg/testserver/server.go
  test/e2e/api_ledgers_list_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: clean compat layer from v2.1
  go.mod
  internal/README.md
  internal/ledger.go
  internal/storage/bucket/default_bucket.go
  internal/storage/bucket/migrations/26-accounts-recreate-unique-index/notes.yaml
  internal/storage/bucket/migrations/26-accounts-recreate-unique-index/up.sql
  internal/storage/bucket/migrations/27-clean-database/notes.yaml
  internal/storage/bucket/migrations/27-clean-database/up.sql
  internal/storage/driver/adapters.go
  internal/storage/driver/driver.go
  internal/storage/ledger/adapters.go
  internal/storage/ledger/balances.go
  internal/storage/ledger/balances_test.go
  internal/storage/ledger/legacy/accounts.go
  internal/storage/ledger/legacy/accounts_test.go
  internal/storage/ledger/legacy/adapters.go
  internal/storage/ledger/legacy/balances.go
  internal/storage/ledger/legacy/balances_test.go
  internal/storage/ledger/legacy/debug.go
  internal/storage/ledger/legacy/errors.go
  internal/storage/ledger/legacy/logs.go
  internal/storage/ledger/legacy/logs_test.go
  internal/storage/ledger/legacy/main_test.go
  internal/storage/ledger/legacy/queries.go
  internal/storage/ledger/legacy/store.go
  internal/storage/ledger/legacy/transactions.go
  internal/storage/ledger/legacy/transactions_test.go
  internal/storage/ledger/legacy/utils.go
  internal/storage/ledger/legacy/volumes.go
  internal/storage/ledger/legacy/volumes_test.go
  internal/storage/ledger/resource_aggregated_balances.go
  internal/storage/system/migrations.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: handle missing compatibility layer with v2.1
  internal/storage/ledger/legacy/adapters.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

ci: Rework config
  .github/workflows/main.yml
Due: none

ci: Rework config
  .github/workflows/main.yml
  Earthfile
Due: none

feat(ledger): optimize release script in Earthfile (issue #123)
  Earthfile
Due: none

Add .envrc and update .gitignore to track it
  .envrc
  .gitignore
Due: none

feat: Add Flake
  flake.lock
  flake.nix
Due: none

ci: Rework config
  Earthfile
Due: none

ci: Rework tests
  Earthfile
  flake.nix
Due: none

ci: Rework config
  .gitignore
  Earthfile
  flake.lock
  flake.nix
Due: none

Add missing `isgomock` struct to mock test files
  internal/api/bulking/mocks_ledger_controller_test.go
  internal/api/common/mocks_ledger_controller_test.go
  internal/api/common/mocks_system_controller_test.go
  internal/api/v1/mocks_ledger_controller_test.go
  internal/api/v1/mocks_system_controller_test.go
  internal/api/v2/mocks_ledger_controller_test.go
  internal/api/v2/mocks_system_controller_test.go
  internal/controller/ledger/controller_generated_test.go
  internal/controller/ledger/controller_with_too_many_client_handling_generated_test.go
  internal/controller/ledger/listener_generated_test.go
  internal/controller/ledger/numscript_parser_generated_test.go
  internal/controller/ledger/numscript_runtime_generated_test.go
  internal/storage/driver/buckets_generated_test.go
  internal/storage/driver/ledger_generated_test.go
  internal/storage/driver/system_generated_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(ci): update release workflow to use nix and just for releases
  .github/workflows/releases.yml
Due: none

build(workflow): update CI to simplify release commands
  .github/workflows/main.yml
  Earthfile
  Justfile
Due: none

chore: migrate from Earthly to Just for build and workflow automation
  .github/workflows/main.yml
  Earthfile
  Justfile
  deployments/pulumi/Earthfile
  flake.nix
  tools/generator/Earthfile
Due: none

refactor: simplify and streamline build and lint processes
  Justfile
  tools/generator/Earthfile
Due: none

fix(justfile): reorder pre-commit tasks for consistent execution flow
  Justfile
Due: none

test(mock): add `isgomock` struct to mock types
  internal/controller/ledger/store_generated_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: release workflow
  .github/workflows/main.yml
Due: none

feat: Use Nix & Justfile (#619)
  .envrc
  .github/workflows/main.yml
  .github/workflows/releases.yml
  .gitignore
  Earthfile
  Justfile
  deployments/pulumi/Earthfile
  flake.lock
  flake.nix
  internal/api/bulking/mocks_ledger_controller_test.go
  internal/api/common/mocks_ledger_controller_test.go
  internal/api/common/mocks_system_controller_test.go
  internal/api/v1/mocks_ledger_controller_test.go
  internal/api/v1/mocks_system_controller_test.go
  internal/api/v2/mocks_ledger_controller_test.go
  internal/api/v2/mocks_system_controller_test.go
  internal/controller/ledger/controller_generated_test.go
  internal/controller/ledger/controller_with_too_many_client_handling_generated_test.go
  internal/controller/ledger/listener_generated_test.go
  internal/controller/ledger/numscript_parser_generated_test.go
  internal/controller/ledger/numscript_runtime_generated_test.go
  internal/controller/ledger/store_generated_test.go
  internal/storage/driver/buckets_generated_test.go
  internal/storage/driver/ledger_generated_test.go
  internal/storage/driver/system_generated_test.go
  tools/generator/Earthfile
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: release workflow (#635)
  .github/workflows/main.yml
Due: none

chore: clean compat layer from v2.1 (#518)
  go.mod
  internal/README.md
  internal/ledger.go
  internal/storage/bucket/default_bucket.go
  internal/storage/bucket/migrations/26-accounts-recreate-unique-index/notes.yaml
  internal/storage/bucket/migrations/26-accounts-recreate-unique-index/up.sql
  internal/storage/bucket/migrations/27-clean-database/notes.yaml
  internal/storage/bucket/migrations/27-clean-database/up.sql
  internal/storage/driver/adapters.go
  internal/storage/driver/driver.go
  internal/storage/ledger/adapters.go
  internal/storage/ledger/balances.go
  internal/storage/ledger/balances_test.go
  internal/storage/ledger/legacy/accounts.go
  internal/storage/ledger/legacy/accounts_test.go
  internal/storage/ledger/legacy/adapters.go
  internal/storage/ledger/legacy/balances.go
  internal/storage/ledger/legacy/balances_test.go
  internal/storage/ledger/legacy/debug.go
  internal/storage/ledger/legacy/errors.go
  internal/storage/ledger/legacy/logs.go
  internal/storage/ledger/legacy/logs_test.go
  internal/storage/ledger/legacy/main_test.go
  internal/storage/ledger/legacy/queries.go
  internal/storage/ledger/legacy/store.go
  internal/storage/ledger/legacy/transactions.go
  internal/storage/ledger/legacy/transactions_test.go
  internal/storage/ledger/legacy/utils.go
  internal/storage/ledger/legacy/volumes.go
  internal/storage/ledger/legacy/volumes_test.go
  internal/storage/ledger/resource_aggregated_balances.go
  internal/storage/system/migrations.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: upgrade dependencies
  go.mod
  go.sum
  internal/README.md
  tools/generator/go.mod
  tools/generator/go.sum
Due: none

fix: pre commit
  internal/doc.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: upgrade dependencies (#636)
  go.mod
  go.sum
  internal/README.md
  internal/doc.go
  tools/generator/go.mod
  tools/generator/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: invalid minimal schema version
  internal/storage/bucket/default_bucket.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: invalid minimal schema version (#637)
  internal/storage/bucket/default_bucket.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: coverage
  Justfile
Due: none

fix(ci): add EARTHLY_SECRETS for improved build compatibility
  .github/workflows/main.yml
Due: none

fix(ci): remove redundant EARTHLY_SECRETS and use explicit secrets
  .github/workflows/main.yml
  Justfile
Due: none

fix: coverage (#639)
  Justfile
Due: none

chore: integrate OpenAPI generation into `Justfile` and simplify `Earthfile`
  Earthfile
  Justfile
  flake.nix
  openapi.yaml
  openapi/openapi-merge.json
  openapi/overlay.yaml
Due: gosdk
