Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

fix: Slow metadata update due to missing index
  internal/storage/bucket/migrations/45-add-transactions-metadata-missing-index/notes.yaml
  internal/storage/bucket/migrations/45-add-transactions-metadata-missing-index/up.sql
Due: none

fix: missing cast in trigger (causing seq scan in plpgsql)
  internal/storage/bucket/migrations/43-add-transactions-metadata-missing-index/notes.yaml
  internal/storage/bucket/migrations/43-add-transactions-metadata-missing-index/up.sql
  internal/storage/bucket/migrations/44-fix-seq-scan-in-plpgsql/notes.yaml
  internal/storage/bucket/migrations/44-fix-seq-scan-in-plpgsql/up.sql
Due: none

fix: update cli arg name
  cmd/serve.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: update cli arg name (#1228)
  cmd/serve.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: metrics/k8s utils
  deployments/chart/dev-values.yaml
  deployments/chart/templates/statefulset.yaml
  deployments/chart/values.yaml
  deployments/docker-compose/grafana/provisioning/dashboards/ledger-metrics.json
  deployments/k8s/grafana/values.yaml
  deployments/k8s/loki/values.yaml
  deployments/k8s/otlp/values.yaml
  deployments/k8s/promtail/values.yaml
  go.mod
  go.sum
  internal/otlplogs/cli.go
  internal/otlplogs/exporter_noop.go
  internal/otlplogs/logrus_hook.go
  internal/otlplogs/module.go
  internal/otlplogs/otlpexporter.go
  internal/raft/node.go
  justfile
  k6/run-world-to-bank.yaml
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

doc: add some doc
  .speakeasy/gen.yaml
  AGENTS.md
  cmd/client/ledgers.go
  deployments/docker-compose/grafana/provisioning/dashboards/ledger-metrics.json
  docs/api.md
  docs/deployment.md
  docs/development.md
  docs/raft-consensus.md
  go.mod
  go.sum
  k6/run-any-unbounded-to-any.yaml
  k6/scripts/any_unbounded_to_any.js
  pkg/client/.speakeasy/gen.lock
  pkg/client/formance.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add doc
  README.md
  deployments/docker-compose/grafana/provisioning/dashboards/ledger-metrics.json
  docs/README.md
  docs/advanced-concepts.md
  docs/api.md
  docs/architecture.md
  docs/buckets-ledgers.md
  docs/data-flows.md
  docs/deployment.md
  docs/development.md
  docs/raft-consensus.md
  docs/storage.md
  k6/run-any-unbounded-to-any.yaml
  result
Due: none

fix: deadlock
  deployments/docker-compose/grafana/provisioning/dashboards/ledger-metrics.json
  deployments/k8s/loki/values.yaml
  docs/architecture.md
  docs/buckets-ledgers.md
  docs/data-flows.md
  docs/raft-consensus.md
  internal/otlplogs/module.go
  internal/raft/node.go
  internal/raft/storage_wal.go
  internal/raft/system/multiplexed_transport.go
  internal/raft/transport.go
  internal/service/ledger_default.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: incorrect wal state
  .speakeasy/gen.yaml
  go.mod
  internal/raft/storage_wal.go
  internal/service/store_log_test_helpers.go
  internal/service/store_runtime_sqlite_mattn_integration_test.go
  internal/service/store_runtime_sqlite_modern_integration_test.go
  pkg/client/.speakeasy/gen.lock
  pkg/client/formance.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: migrations numbers (#1227)
  internal/storage/bucket/migrations/41-add-missing-index/notes.yaml
  internal/storage/bucket/migrations/41-add-missing-index/up.sql
  internal/storage/bucket/migrations/42-fix-missing-inserted-at-in-log-data/notes.yaml
  internal/storage/bucket/migrations/42-fix-missing-inserted-at-in-log-data/up.sql
  internal/storage/bucket/migrations/43-remove-useless-trigger/notes.yaml
  internal/storage/bucket/migrations/43-remove-useless-trigger/up.sql
Due: none

fix: migration number drift (#1226)
  internal/storage/bucket/migrations/41-add-missing-index/notes.yaml
  internal/storage/bucket/migrations/41-add-missing-index/up.sql
  internal/storage/bucket/migrations/42-fix-missing-inserted-at-in-log-data/notes.yaml
  internal/storage/bucket/migrations/42-fix-missing-inserted-at-in-log-data/up.sql
Due: none

cleanup useless else & conditions
  internal/api/bulking/elements.go
  internal/controller/ledger/controller_default.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

improve missing template error in audit mode
  internal/controller/ledger/controller_default.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: refine metrics and add capacity to export grafana dashboard
  deployments/docker-compose/grafana/provisioning/dashboards/ledger-metrics.json
  deployments/k8s/grafana/values.yaml
Due: none

feat: refine benchmarks
  deployments/docker-compose/grafana/provisioning/dashboards/ledger-metrics.json
  internal/service/store_runtime.go
  k6/run-any-unbounded-to-any.yaml
  k6/scripts/any_unbounded_to_any.js
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add pebble storage
  .speakeasy/gen.yaml
  cmd/client/ledgers_create.go
  go.mod
  go.sum
  internal/ledgerpb/ledger.pb.go
  internal/raft/ledger/fsm.go
  internal/raft/ledger/node.go
  internal/service/ledger_default_integration_test.go
  internal/service/store.go
  internal/service/store_log_common.go
  internal/service/store_log_pebble.go
  internal/service/store_log_test_helpers.go
  internal/service/store_runtime_pebble.go
  internal/service/store_runtime_sqlite.go
  internal/service/store_runtime_sqlite_mattn.go
  internal/service/store_runtime_sqlite_mattn_integration_test.go
  internal/service/store_runtime_sqlite_modern.go
  internal/service/store_runtime_sqlite_modern_integration_test.go
  internal/service/store_runtime_test_helpers.go
  openapi.yml
  pkg/client/.speakeasy/gen.lock
  pkg/client/docs/models/components/createledgerrequest.md
  pkg/client/docs/models/components/createtransactionrequest.md
  pkg/client/docs/models/components/ledgerinfo.md
  pkg/client/docs/sdks/ledgers/README.md
  pkg/client/formance.go
  pkg/client/ledgers.go
  pkg/client/models/components/createledgerrequest.go
  pkg/client/models/components/createtransactionrequest.go
  pkg/client/models/components/ledgerinfo.go
  proto/ledger.proto
  tests/e2e/account_metadata_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/ledger_delete_test.go
  tests/e2e/replica_test.go
  tests/e2e/transactions_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add pebble metrics
  internal/raft/ledger/node.go
  internal/raft/system/fsm.go
  internal/service/store_log_pebble.go
  internal/service/store_pebble_common.go
  internal/service/store_runtime_pebble.go
  k6/run-any-unbounded-to-any.yaml
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

wip
  internal/raft/ledger/node.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: slow transaction metadata update (#1229)
  internal/storage/bucket/migrations/43-add-transactions-metadata-missing-index/notes.yaml
  internal/storage/bucket/migrations/43-add-transactions-metadata-missing-index/up.sql
  internal/storage/bucket/migrations/44-fix-seq-scan-in-plpgsql/notes.yaml
  internal/storage/bucket/migrations/44-fix-seq-scan-in-plpgsql/up.sql
Due: none

fix: missing cast in trigger (causing seq scan in plpgsql)
  internal/storage/bucket/default_bucket.go
  internal/storage/bucket/migrations/43-add-transactions-metadata-missing-index/notes.yaml
  internal/storage/bucket/migrations/43-add-transactions-metadata-missing-index/up.sql
  internal/storage/bucket/migrations/44-fix-seq-scan-in-plpgsql/notes.yaml
  internal/storage/bucket/migrations/44-fix-seq-scan-in-plpgsql/up.sql
  internal/storage/bucket/migrations/45-remove-useless-trigger/notes.yaml
  internal/storage/bucket/migrations/45-remove-useless-trigger/up.sql
  internal/storage/bucket/migrations/46-add-schema/notes.yaml
  internal/storage/bucket/migrations/46-add-schema/up.sql
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix tx template migration number
  internal/storage/bucket/default_bucket.go
  internal/storage/bucket/migrations/47-add-transaction-templates/notes.yaml
  internal/storage/bucket/migrations/47-add-transaction-templates/up.sql
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: Slow metadata update due to missing index (#1225)
  internal/storage/bucket/default_bucket.go
  internal/storage/bucket/migrations/43-add-transactions-metadata-missing-index/notes.yaml
  internal/storage/bucket/migrations/43-add-transactions-metadata-missing-index/up.sql
  internal/storage/bucket/migrations/44-fix-seq-scan-in-plpgsql/notes.yaml
  internal/storage/bucket/migrations/44-fix-seq-scan-in-plpgsql/up.sql
  internal/storage/bucket/migrations/45-remove-useless-trigger/notes.yaml
  internal/storage/bucket/migrations/45-remove-useless-trigger/up.sql
  internal/storage/bucket/migrations/46-add-schema/notes.yaml
  internal/storage/bucket/migrations/46-add-schema/up.sql
  internal/storage/bucket/migrations/47-add-transaction-templates/notes.yaml
  internal/storage/bucket/migrations/47-add-transaction-templates/up.sql
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: missing cast in trigger (causing seq scan in plpgsql)
  internal/storage/bucket/default_bucket.go
  internal/storage/bucket/migrations/43-add-transactions-metadata-missing-index/notes.yaml
  internal/storage/bucket/migrations/43-add-transactions-metadata-missing-index/up.sql
  internal/storage/bucket/migrations/44-fix-seq-scan-in-plpgsql/notes.yaml
  internal/storage/bucket/migrations/44-fix-seq-scan-in-plpgsql/up.sql
  internal/storage/bucket/migrations/45-remove-useless-trigger/notes.yaml
  internal/storage/bucket/migrations/45-remove-useless-trigger/up.sql
  internal/storage/bucket/migrations/46-add-schema/notes.yaml
  internal/storage/bucket/migrations/46-add-schema/up.sql
  internal/storage/bucket/migrations/47-add-transaction-templates/notes.yaml
  internal/storage/bucket/migrations/47-add-transaction-templates/up.sql
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add gateway on e2e tests
  pkg/testserver/gateway.go
  tests/e2e/replica_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add some test
  internal/raft/system/multiplexed_transport.go
  pkg/testserver/gateway.go
  tests/e2e/matchers.go
  tests/e2e/replica_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: instrumentalize go routines to log panics
  internal/application/module.go
  internal/otlplogs/module.go
  internal/raft/node.go
  internal/raft/queue_observer.go
  internal/raft/queue_priority.go
  internal/raft/queue_simple.go
  internal/raft/syncer.go
  internal/raft/system/multiplexed_transport.go
  internal/raft/transport.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: refactor priority queues
  internal/application/module.go
  internal/raft/queue_priority.go
  internal/raft/system/multiplexed_transport.go
  internal/raft/transport.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add store metrics, and fix log export in case of panic
  deployments/docker-compose/grafana/provisioning/dashboards/ledger-metrics.json
  deployments/k8s/buildkit/values.yaml
  deployments/k8s/grafana/values.yaml
  internal/application/module.go
  internal/ledgerpb/cluster_state.go
  internal/ledgerpb/ledger.pb.go
  internal/otlplogs/module.go
  internal/raft/ledger/fsm.go
  internal/raft/ledger/node.go
  internal/service/store.go
  internal/service/store_log_pebble.go
  internal/service/store_log_sqlite.go
  internal/service/store_runtime_pebble.go
  internal/service/store_runtime_sqlite.go
  internal/service/store_sqlite_common.go
  justfile
  k6/run-any-unbounded-to-any.yaml
  openapi.yml
  proto/ledger.proto
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: optimize build
  Dockerfile
  deployments/k8s/buildkit/values.yaml
  justfile
Due: none

fix: telemetry
  deployments/k8s/grafana/values.yaml
  internal/http/handler.go
  justfile
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: cache parsed numscript and comment grpc compressipn
  .speakeasy/gen.yaml
  deployments/docker-compose/grafana/provisioning/dashboards/ledger-metrics.json
  deployments/k8s/grafana/values.yaml
  internal/account.go
  internal/cluster_state.go
  internal/http/handlers_get_ledger_raft_state.go
  internal/ledgerpb/ledger.pb.json.go
  internal/log.go
  internal/posting.go
  internal/raft/ledger/fsm.go
  internal/service/cluster.go
  internal/service/ledger_default.go
  internal/service/store_log_test_helpers.go
  internal/transport/connection_pool.go
  openapi.yml
  pkg/client/.speakeasy/gen.lock
  pkg/client/formance.go
  result
  tests/e2e/replica_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: optimize pebble storage
  internal/service/store_runtime_pebble.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: rework some metrics
  deployments/docker-compose/grafana/provisioning/dashboards/ledger-metrics.json
  internal/raft/node.go
  internal/raft/queue.go
  internal/raft/queue_observer.go
  internal/raft/queue_priority.go
  internal/raft/queue_simple.go
  internal/raft/system/multiplexed_transport.go
  internal/raft/transport.go
  k6/run-any-unbounded-to-any.yaml
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add propose queue configuration
  deployments/chart/templates/statefulset.yaml
  deployments/chart/values.yaml
  internal/raft/config.go
  internal/raft/node.go
  internal/raft/queue.go
  pkg/testserver/testserver.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: refine metrics
  deployments/chart/README.md
  deployments/chart/templates/statefulset.yaml
  deployments/chart/values.yaml
  deployments/docker-compose/grafana/provisioning/dashboards/ledger-metrics.json
  internal/application/config.go
  internal/application/module.go
  internal/http/handler.go
  internal/raft/node.go
  internal/raft/queue.go
  internal/raft/queue_observer.go
  internal/raft/queue_priority.go
  internal/raft/system/config.go
  internal/raft/system/fsm.go
  internal/raft/system/multiplexed_transport.go
  internal/raft/system/node.go
  internal/raft/transport.go
  k6/run-any-unbounded-to-any.yaml
  k6/scripts/any_bounded_to_any.js
  pkg/testserver/testserver.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: some optimization
  .speakeasy/gen.yaml
  deployments/chart/values.yaml
  deployments/docker-compose/grafana/provisioning/dashboards/ledger-metrics.json
  internal/http/bulking/bulker.go
  internal/ledgerpb/ledger.pb.go
  internal/ledgerpb/ledger_grpc.pb.go
  internal/raft/command.go
  internal/raft/commands.pb.go
  internal/raft/fsm.go
  internal/raft/fsm_generated_test.go
  internal/raft/ledger/command.go
  internal/raft/ledger/fsm.go
  internal/raft/ledger/ledger_commands.pb.go
  internal/raft/ledger/node.go
  internal/raft/node.go
  internal/raft/raft_transport.pb.go
  internal/raft/raft_transport_grpc.pb.go
  internal/raft/spool.go
  internal/raft/spool_generated_test.go
  internal/raft/syncer.go
  internal/raft/syncer_generated_test.go
  internal/raft/syncer_test.go
  internal/raft/system/command.go
  internal/raft/system/fsm.go
  internal/raft/system/node.go
  internal/raft/system/system_commands.pb.go
  internal/raft/transport.go
  internal/service/store_runtime_pebble.go
  internal/service/system.pb.go
  internal/service/system_grpc.pb.go
  k6/run-any-unbounded-to-any.yaml
  k6/scripts/any_unbounded_to_any.js
  pkg/client/.speakeasy/gen.lock
  pkg/client/formance.go
  proto/commands/commands.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
