Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

fix(http): decode metadata key path segments once (EN-2015) (#1980)
  docs/technical/architecture/subsystems/api/README.md
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/http/handlers_delete_account_metadata.go
  internal/adapter/http/handlers_delete_ledger_metadata.go
  internal/adapter/http/handlers_delete_transaction_metadata.go
  internal/adapter/http/handlers_remove_metadata_type.go
  internal/adapter/http/handlers_set_metadata_type.go
  internal/adapter/http/metadata_key_routing_test.go
  internal/adapter/http/params.go
  openapi.yml
  tests/e2e/business/encoded_metadata_keys_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(bootstrap): preserve IPv6 service addresses (EN-2013) (#1975)
  docs/ops/cli.md
  docs/ops/deployment.md
  internal/bootstrap/config.go
  internal/bootstrap/config_test.go
  internal/bootstrap/module.go
  internal/bootstrap/service_address_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(query): initialize embedded store in aggregate tests
  internal/query/executor_aggregate_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(query): unify the query compiler across directions (EN-1966) (#1955)
  internal/query/leaves.go
  internal/storage/readstore/combinator_and.go
  internal/storage/readstore/combinator_filter.go
  internal/storage/readstore/combinator_not.go
  internal/storage/readstore/combinator_or.go
  internal/storage/readstore/combinator_slice.go
  internal/storage/readstore/iterator_address.go
  internal/storage/readstore/iterator_address_test.go
  internal/storage/readstore/iterator_admission.go
  internal/storage/readstore/iterator_event_key.go
  internal/storage/readstore/iterator_event_resolve.go
  internal/storage/readstore/iterator_event_resolve_reverse.go
  internal/storage/readstore/iterator_event_resolve_reverse_test.go
  internal/storage/readstore/iterator_floor_test.go
  internal/storage/readstore/iterator_leaf.go
  internal/storage/readstore/iterator_pebble.go
  internal/storage/readstore/iterator_reverse.go
  internal/storage/readstore/iterator_reverse_bitset.go
  internal/storage/readstore/iterator_reverse_bitset_test.go
  internal/storage/readstore/iterator_reverse_stamp_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(mirror): cancel PostgreSQL initialization on leadership loss and shutdown (EN-1997) (#1987)
  docs/technical/architecture/subsystems/events-mirror/README.md
  docs/technical/architecture/subsystems/events-mirror/mirror.md
  internal/application/mirror/manager.go
  internal/application/mirror/manager_integration_test.go
  internal/application/mirror/manager_test.go
  internal/query/executor_aggregate_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

perf(EN-1966): avoid draining all matches for descending pages
  docs/technical/architecture/subsystems/read-path/README.md
  docs/technical/architecture/subsystems/read-path/iterator-seek-contract.md
  docs/technical/architecture/subsystems/read-path/query-pipeline.md
  internal/application/ctrl/list_entities.go
  internal/query/compile.go
  internal/query/compile_reverse.go
  internal/query/compile_reverse_bench_test.go
  internal/query/compile_reverse_parity_test.go
  internal/query/tracked_iterator.go
  internal/storage/readstore/iterator_conformance_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(readstore): share one event-key parser across directions (EN-1966)
  internal/storage/readstore/event_keys.go
  internal/storage/readstore/event_keys_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(EN-1966): cover every reverse leaf class and compile-error parity
  docs/technical/architecture/subsystems/read-path/query-pipeline.md
  internal/query/compile_error_parity_test.go
  internal/query/compile_reverse_parity_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(EN-1966): assert the controller stops at the page lookahead
  internal/application/ctrl/list_entities_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(EN-1966): prove descending parity on every target, not only accounts
  docs/technical/architecture/subsystems/read-path/iterator-seek-contract.md
  docs/technical/architecture/subsystems/read-path/query-pipeline.md
  internal/query/compile_reverse_parity_test.go
  internal/storage/readstore/iterator_conformance_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(read-path): log-ID ranges are entity-ordered, not value-ordered
  docs/technical/architecture/subsystems/read-path/iterator-seek-contract.md
  docs/technical/architecture/subsystems/read-path/query-pipeline.md
Due: none

refactor(readstore): reuse upstream event key parser
  internal/storage/readstore/event_keys.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(mirror): fetch HTTP history in ascending boundary order (EN-2024)
  docs/technical/architecture/subsystems/events-mirror/README.md
  docs/technical/architecture/subsystems/events-mirror/mirror.md
  internal/adapter/v2/source_http.go
  internal/adapter/v2/source_http_pagination_test.go
  internal/adapter/v2/source_http_test.go
  tests/e2e/cluster/mirror_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(audit): define filesystem confinement contracts
  docs/technical/audits/filesystem-confinement-contracts.json
  docs/technical/audits/filesystem-confinement-contracts.md
Due: none

perf(EN-1966): avoid draining all matches for descending pages (#1930)
  docs/technical/architecture/subsystems/read-path/README.md
  docs/technical/architecture/subsystems/read-path/iterator-seek-contract.md
  docs/technical/architecture/subsystems/read-path/query-pipeline.md
  internal/application/ctrl/list_entities.go
  internal/application/ctrl/list_entities_test.go
  internal/query/compile.go
  internal/query/compile_error_parity_test.go
  internal/query/compile_reverse.go
  internal/query/compile_reverse_bench_test.go
  internal/query/compile_reverse_parity_test.go
  internal/query/tracked_iterator.go
  internal/storage/readstore/event_keys_test.go
  internal/storage/readstore/iterator_conformance_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(http): adapt merged fixtures to apply results
  internal/adapter/http/handlers_revert_transaction_body_test.go
  internal/adapter/http/metadata_key_routing_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(mirror): handle HTTP fixture encoding errors
  internal/adapter/v2/source_http_pagination_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(audit): define filesystem confinement contracts (#1989)
  docs/technical/audits/filesystem-confinement-contracts.json
  docs/technical/audits/filesystem-confinement-contracts.md
Due: none

fix(http): preserve exact metadata integers (EN-2014)
  docs/technical/architecture/subsystems/api/README.md
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/http/handlers_revert_transaction.go
  internal/adapter/http/metadata_integers_test.go
  internal/adapter/http/params.go
  internal/adapter/json/numbers.go
  internal/adapter/json/numbers_test.go
  internal/proto/commonpb/common.pb.json.go
  internal/proto/commonpb/metadata.go
  internal/proto/commonpb/metadata_number_test.go
  internal/proto/servicepb/metadata_integers_test.go
  internal/proto/servicepb/service.pb.json.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(openapi): describe the full metadata integer range
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/contributing/api-comparison.md
  openapi.yml
Due: gosdk

test(http): cover exact metadata in unknown-length reversals
  docs/technical/architecture/subsystems/api/http-api.md
  internal/adapter/http/handlers_revert_transaction.go
  internal/adapter/http/metadata_integers_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(mirror): preserve ascending HTTP history (EN-2024) (#1992)
  docs/technical/architecture/subsystems/events-mirror/README.md
  docs/technical/architecture/subsystems/events-mirror/mirror.md
  internal/adapter/v2/source_http.go
  internal/adapter/v2/source_http_pagination_test.go
  internal/adapter/v2/source_http_test.go
  tests/e2e/cluster/mirror_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(mirror): decode upstream revert identity (EN-2025)
  docs/technical/architecture/subsystems/events-mirror/README.md
  docs/technical/architecture/subsystems/events-mirror/mirror.md
  internal/adapter/v2/testdata/README.md
  internal/adapter/v2/testdata/generate-v2.4.7.go.txt
  internal/adapter/v2/testdata/v2.4.7-new-transaction-0.json
  internal/adapter/v2/testdata/v2.4.7-new-transaction-1.json
  internal/adapter/v2/testdata/v2.4.7-reverted-transaction-1.json
  internal/adapter/v2/translator.go
  internal/adapter/v2/translator_rewrite_test.go
  internal/adapter/v2/translator_source_payload_test.go
  internal/adapter/v2/translator_test.go
  internal/adapter/v2/types.go
  internal/domain/processing/processor_mirror_upstream_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(audit): define integrity verifier soundness domain
  docs/technical/audits/integrity-verifier-soundness.json
  docs/technical/audits/integrity-verifier-soundness.md
Due: none

docs(audit): define runtime health admission contracts
  docs/technical/audits/runtime-health-admission-contracts.json
  docs/technical/audits/runtime-health-admission-contracts.md
Due: none

docs(audit): define query semantic equivalence contract
  docs/technical/audits/query-semantic-equivalence.json
  docs/technical/audits/query-semantic-equivalence.md
Due: none

fix(EN-1956): fail loudly on an unaddressable retained version; release the batch on a failed retirement commit
  internal/application/indexbuilder/builder.go
  internal/application/indexbuilder/serving_transition_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(fsm): make reused-key eviction test red on the old SingleDelete
  docs/technical/architecture/audit-vs-technical-state.md
  internal/infra/state/idempotency_eviction_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(audit): target health probe routes precisely
  docs/technical/audits/runtime-health-admission-contracts.json
Due: none

test(grpc): pin the query-checkpoint read gate (EN-1978)
  internal/adapter/grpc/server_bucket_checkpoint_gate_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs: correct the no-op rationale and document the damaged-directory outcome (EN-1978)
  docs/technical/architecture/subsystems/read-path/query-checkpoints.md
  internal/storage/dal/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(dal): pin the no-op guard and the stale temp-dir clearing (EN-1978)
  internal/storage/dal/query_checkpoint_wal_window_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(deps): enforce shutdown timeout through go-libs (EN-1994)
  docs/ops/backup-restore.md
  docs/ops/cli.md
  go.mod
  go.sum
  internal/infra/node/logger_adapter.go
  main_shutdown_test.go
  tests/antithesis/workload/go.mod
  tests/antithesis/workload/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(antithesis): reject duplicate volume rows
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/queries.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/queries_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(dal): close the query-checkpoint coverage gaps (EN-1978)
  docs/technical/architecture/subsystems/read-path/query-checkpoints.md
  internal/storage/dal/checkpoint_marker_test.go
  internal/storage/dal/query_checkpoint_wal_window_test.go
  internal/storage/dal/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(mirror): decode upstream revert identity (EN-2025) (#1993)
  docs/technical/architecture/subsystems/events-mirror/README.md
  docs/technical/architecture/subsystems/events-mirror/mirror.md
  internal/adapter/v2/testdata/README.md
  internal/adapter/v2/testdata/generate-v2.4.7.go.txt
  internal/adapter/v2/testdata/v2.4.7-new-transaction-0.json
  internal/adapter/v2/testdata/v2.4.7-new-transaction-1.json
  internal/adapter/v2/testdata/v2.4.7-reverted-transaction-1.json
  internal/adapter/v2/translator.go
  internal/adapter/v2/translator_rewrite_test.go
  internal/adapter/v2/translator_source_payload_test.go
  internal/adapter/v2/translator_test.go
  internal/adapter/v2/types.go
  internal/domain/processing/processor_mirror_upstream_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(events): reject bodyless HTTP redirect acknowledgements (EN-2022)
  docs/technical/architecture/subsystems/events-mirror/README.md
  docs/technical/architecture/subsystems/events-mirror/events.md
  internal/application/events/sink_http.go
  internal/application/events/sink_http_redirect_policy_test.go
  internal/application/events/sink_http_redirect_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(events): group redirect fixture variables
  internal/application/events/sink_http_redirect_policy_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(audit): define query semantic equivalence contract (#1996)
  docs/technical/audits/query-semantic-equivalence.json
  docs/technical/audits/query-semantic-equivalence.md
Due: none
