Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

chore: remove useless code
  internal/api/v1/controllers_transactions_create_test.go
  internal/api/v1/controllers_transactions_revert.go
  internal/api/v1/controllers_transactions_revert_test.go
  internal/api/v2/controllers_bulk.go
  internal/api/v2/controllers_bulk_test.go
  internal/api/v2/controllers_transactions_create_test.go
  internal/api/v2/controllers_transactions_revert.go
  internal/api/v2/controllers_transactions_revert_test.go
  internal/controller/ledger/controller.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_generated.go
  internal/controller/ledger/controller_with_events.go
  internal/controller/ledger/controller_with_traces.go
  internal/log.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: simplify some code
  internal/api/v1/controllers_logs_list_test.go
  internal/api/v2/controllers_logs_export_test.go
  internal/api/v2/controllers_logs_import_test.go
  internal/api/v2/controllers_logs_list_test.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/log_process.go
  internal/log.go
  internal/storage/ledger/logs_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: simplify some code
  internal/api/v1/controllers_logs_list_test.go
  internal/api/v2/controllers_logs_export_test.go
  internal/api/v2/controllers_logs_import_test.go
  internal/api/v2/controllers_logs_list_test.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_default_test.go
  internal/controller/ledger/log_process.go
  internal/log.go
  internal/storage/ledger/logs.go
  internal/storage/ledger/logs_test.go
  internal/storage/ledger/volumes_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: pre-commit
  internal/controller/ledger/controller_default.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: restore failing test
  internal/storage/ledger/accounts_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: testing helper
  internal/storage/bucket/migrations/11-stateless.sql
  internal/storage/driver/migrations_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: extract helper in go libs
  go.mod
  go.sum
  internal/storage/bucket/bucket_test.go
  internal/storage/bucket/main_test.go
  internal/storage/bucket/migrations_test.go
  internal/storage/driver/migrations_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: add some migrations tests
  internal/storage/bucket/bucket.go
  internal/storage/bucket/migrations.go
  internal/storage/bucket/migrations/11-drop-triggers.sql
  internal/storage/bucket/migrations/11-stateless.sql
  internal/storage/bucket/migrations/12-moves-add-transaction-id.sql
  internal/storage/bucket/migrations/13-set-transaction-timestamp-default-utc.sql
  internal/storage/bucket/migrations/14-rename-address-moves-column.sql
  internal/storage/bucket/migrations/15-moves-remove-accounts-seq.sql
  internal/storage/bucket/migrations/16-moves-change-pvc-column-type.sql
  internal/storage/bucket/migrations/17-transactions-fix-reference.sql
  internal/storage/bucket/migrations/18-transactions-add-pvc.sql
  internal/storage/bucket/migrations/19-logs-add-idempotency-hash.sql
  internal/storage/bucket/migrations/20-moves-drop-accounts-address-array.sql
  internal/storage/bucket/migrations/21-add-accounts-volumes-table.sql
  internal/storage/bucket/migrations/22-transactions-metadata-add-transaction-id.sql
  internal/storage/bucket/migrations/23-accounts-metadata-add-address.sql
  internal/storage/bucket/migrations/24-transactions-clean-table.sql
  internal/storage/bucket/migrations/25-accounts-set-array-not-null.sql
  internal/storage/bucket/migrations/26-logs-set-hash-nullable.sql
  internal/storage/bucket/migrations/27-clean-index.sql
  internal/storage/bucket/migrations/28-add-features-functions.sql
  internal/storage/bucket/migrations_test.go
  internal/storage/driver/migrations.go
  internal/storage/ledger/transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

draft numscript rewrite integration
  go.mod
  go.sum
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_default_test.go
  internal/controller/ledger/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add migration test using concrete database
  internal/storage/driver/driver.go
  test/migrations/README.md
  test/migrations/upgrade_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

doc: add some documentation
  DEV.md
  README.md
  docker-compose.yml
  test/README.md
Due: none

feat: add gomarkdoc
  Earthfile
  README.md
  cmd/README.md
  go.mod
  go.sum
  main.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: use _test.go suffix on generate mock files to avoid their documentation be parsed by gomarkdoc
  README.md
  internal/api/common/middleware_resolver_test.go
  internal/api/common/mocks.go
  internal/api/common/mocks_ledger_controller_test.go
  internal/api/common/mocks_system_controller_test.go
  internal/api/v1/api_utils_test.go
  internal/api/v1/mocks.go
  internal/api/v1/mocks_ledger_controller_test.go
  internal/api/v1/mocks_system_controller_test.go
  internal/api/v2/api_utils_test.go
  internal/api/v2/controllers_bulk_test.go
  internal/api/v2/mocks.go
  internal/api/v2/mocks_ledger_controller_test.go
  internal/api/v2/mocks_system_controller_test.go
  internal/controller/ledger/README.md
  internal/controller/ledger/compiler.go
  internal/controller/ledger/compiler_generated_test.go
  internal/controller/ledger/controller.go
  internal/controller/ledger/controller_generated_test.go
  internal/controller/ledger/doc.go
  internal/controller/ledger/listener.go
  internal/controller/ledger/listener_generated_test.go
  internal/controller/ledger/machine.go
  internal/controller/ledger/machine_factory.go
  internal/controller/ledger/machine_factory_generated_test.go
  internal/controller/ledger/machine_generated_test.go
  internal/controller/ledger/store.go
  internal/controller/ledger/store_generated_test.go
  internal/controller/system/controller.go
  internal/controller/system/controller_generated.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add some readme
  internal/README.md
  internal/controller/ledger/README.md
  internal/controller/system/README.md
  internal/controller/system/doc.go
  internal/doc.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: pre-commit
  README.md
Due: none

feat: make MachineFactory take TX instead of vm.Store
  README.md
  internal/controller/ledger/README.md
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_default_test.go
  internal/controller/ledger/machine.go
  internal/controller/ledger/machine_generated_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: remove gomarkdoc usage for now
  Earthfile
  README.md
  internal/README.md
  internal/controller/ledger/doc.go
  internal/controller/system/README.md
  internal/controller/system/doc.go
  internal/doc.go
  main.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

integrating numscript rewrite
  go.mod
  go.sum
  internal/controller/ledger/machine.go
  internal/controller/ledger/machine_factory.go
  internal/controller/ledger/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: separate doc
  CONTRIBUTING.md
  README.md
Due: none

chore: pre-commit
  docs/database/_default/columns.html
  docs/database/_default/index.html
  docs/database/_default/info-html.txt
  docs/database/_system/columns.html
  docs/database/_system/index.html
  docs/database/_system/info-html.txt
  docs/database/index.html
Due: none

feat: add doc and fix test
  CONTRIBUTING.md
  internal/transaction.go
  internal/transaction_test.go
  test/e2e/api_ledgers_import_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: increase golangci-lint timeout
  Earthfile
Due: none

feat: add todo
  internal/storage/ledger/accounts.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: change type of 'id' column of ledgers table
  internal/storage/driver/migrations.go
  internal/storage/driver/migrations_test.go
  internal/storage/ledger/logs.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add doc and remove database exporter from pre-commit
  CONTRIBUTING.md
  Earthfile
Due: none

feat: add some doc
  CONTRIBUTING.md
Due: none

fix: Earthfile
  Earthfile
Due: none

chore: go generate
  internal/README.md
Due: none

feat: remove needs to pass Dirty workflow to execute Tests workflow on github action
  .github/workflows/main.yml
Due: none

feat: simplify locking system
  internal/README.md
  internal/storage/ledger/accounts.go
  internal/storage/ledger/transactions.go
  test/e2e/lifecycle_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: simplify Move model
  internal/moves.go
  internal/storage/ledger/moves.go
  internal/storage/ledger/moves_test.go
  internal/storage/ledger/transactions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

doc: add some doc
  CONTRIBUTING.md
Due: none

feat: Add openapi markdown documentation
  CONTRIBUTING.md
  Earthfile
  docs/api/API.md
  docs/api/README.md
Due: none

fix: filename
  Earthfile
  docs/api/API.md
  docs/api/README.md
Due: none

fix: openapi markdown
  Earthfile
  docs/api/README.md
Due: none

feat: refine widdershins parameter
  Earthfile
  docs/api/README.md
Due: none

feat: refine widdershins parameter
  Earthfile
  docs/api/README.md
  openapi.yaml
  openapi/v1.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/gen.yaml
  pkg/client/formance.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: doc
  CONTRIBUTING.md
Due: none

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
