Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

git subrepo push components/ledger
  .gitrepo
Due: none

remove unused logs
  cmd/storage.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add orchestration (#123)
  pkg/core/script.go
  pkg/ledger/runner/runner.go
  pkg/ledger/state/state.go
  pkg/ledger/state/state_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: refine benchs scenario
  .gitignore
  Taskfile.yaml
  pkg/ledger/ledger_test.go
  pkg/ledger/query/worker.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: integration tests fix (#203)
  openapi.yaml
Due: gosdk

feat: add waiting on cqrs to have a synchrone api (#176)
  pkg/ledger/ledger.go
  pkg/ledger/query/worker.go
  pkg/ledger/query/worker_test.go
  pkg/storage/sqlstorage/ledger/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: use sync.Map
  go.mod
  go.sum
  pkg/ledger/cache/cache.go
  pkg/ledger/cache/cache_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: Add build.Dockerfile for Ledger
  .goreleaser.yml
  build.Dockerfile
Due: none

feat/num 1546 ledger replace server start by serve (#101)
  Dockerfile
  cmd/root.go
  cmd/root_test.go
  cmd/serve.go
  cmd/server.go
  docker-compose.override.yml
  main.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: optimize queries package (#187)
  pkg/api/internal/testing.go
  pkg/api/middlewares/ledger_middleware.go
  pkg/bus/module.go
  pkg/bus/monitor.go
  pkg/core/transaction.go
  pkg/ledger/ledger.go
  pkg/ledger/main_test.go
  pkg/ledger/module.go
  pkg/ledger/monitor/monitor.go
  pkg/ledger/query/module.go
  pkg/ledger/query/worker.go
  pkg/ledger/query/worker_test.go
  pkg/ledger/resolver.go
  pkg/ledgertesting/storage.go
  pkg/storage/driver.go
  pkg/storage/sqlstorage/ledger/accounts.go
  pkg/storage/sqlstorage/ledger/accounts_test.go
  pkg/storage/sqlstorage/ledger/logs.go
  pkg/storage/sqlstorage/ledger/store.go
  pkg/storage/sqlstorage/ledger/transactions.go
  pkg/storage/sqlstorage/ledger/transactions_test.go
  pkg/storage/sqlstorage/ledger/volumes.go
  pkg/storage/sqlstorage/ledger/volumes_test.go
  pkg/storage/sqlstorage/schema/schema.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: implement multi account based lock
  pkg/ledger/cache/cache.go
  pkg/ledger/ledger.go
  pkg/ledger/lock/lock.go
  pkg/ledger/lock/module.go
  pkg/ledger/module.go
  pkg/ledger/resolver.go
  pkg/ledger/runner/runner.go
  pkg/ledger/runner/runner_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: Numscript: return postings with zero amount (#185)
  pkg/machine/internal/funding.go
  pkg/machine/machine_test.go
  pkg/machine/vm/machine.go
  pkg/machine/vm/machine_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: extract sources from machine (#167)
  pkg/core/address.go
  pkg/machine/machine_test.go
  pkg/machine/script/compiler/compiler.go
  pkg/machine/script/compiler/source.go
  pkg/machine/vm/program/program.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: use pgtesting from go libs (#112)
  cmd/internal/analytics_test.go
  cmd/internal/main_test.go
  cmd/root_test.go
  cmd/storage_test.go
  go.mod
  internal/pgtesting/testing.go
  pkg/analytics/main_test.go
  pkg/analytics/segment_test.go
  pkg/api/controllers/main_test.go
  pkg/api/controllers/transaction_controller_test.go
  pkg/api/internal/testing.go
  pkg/api/middlewares/main_test.go
  pkg/ledger/ledger_test.go
  pkg/ledger/main_test.go
  pkg/ledgertesting/storage.go
  pkg/storage/sqlstorage/accounts_test.go
  pkg/storage/sqlstorage/driver_test.go
  pkg/storage/sqlstorage/main_test.go
  pkg/storage/sqlstorage/migrate_test.go
  pkg/storage/sqlstorage/migrates/13-clean-logs/any_test.go
  pkg/storage/sqlstorage/migrates/17-optimized-segments/any_test.go
  pkg/storage/sqlstorage/migrates/9-add-pre-post-volumes/any_test.go
  pkg/storage/sqlstorage/store_ledger_test.go
  pkg/storage/sqlstorage/transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: move ledger lock inside core ledger (#129)
  cmd/container.go
  cmd/container_test.go
  cmd/root.go
  go.mod
  go.sum
  pkg/api/idempotency/hash.go
  pkg/api/idempotency/middleware.go
  pkg/api/idempotency/middleware_test.go
  pkg/api/idempotency/response.go
  pkg/api/idempotency/response_writer.go
  pkg/api/idempotency/store.go
  pkg/api/middlewares/module.go
  pkg/api/routes/routes.go
  pkg/ledger/execute_script.go
  pkg/ledger/ledger.go
  pkg/ledger/resolver.go
  pkg/ledgertesting/storage.go
  pkg/redis/lock.go
  pkg/redis/lock_test.go
  pkg/redis/module.go
  pkg/storage/sqlstorage/driver.go
  pkg/storage/sqlstorage/ledger/idempotency.go
  pkg/storage/sqlstorage/ledger/store_test.go
  pkg/storage/sqlstorage/module.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: use pointers for logs instead of value to avoid copy and too many gc call
  pkg/core/log.go
  pkg/ledger/command/commander.go
  pkg/ledger/command/commander_test.go
  pkg/ledger/query/module_test.go
  pkg/ledger/query/worker_test.go
  pkg/storage/sqlstorage/ledger/logs_test.go
  pkg/storage/sqlstorage/worker/worker_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: change transactions ids to uuid
  openapi.yaml
  pkg/api/controllers/api.go
  pkg/api/controllers/api_test.go
  pkg/api/controllers/transaction_controller.go
  pkg/api/controllers/transaction_controller_test.go
  pkg/core/log.go
  pkg/core/metadata.go
  pkg/core/transaction.go
  pkg/ledger/ledger.go
  pkg/ledger/query/store.go
  pkg/ledger/query/worker.go
  pkg/ledger/query/worker_test.go
  pkg/ledger/runner/runner.go
  pkg/ledger/runner/runner_test.go
  pkg/storage/driver.go
  pkg/storage/sqlstorage/ledger/accounts_test.go
  pkg/storage/sqlstorage/ledger/migrates/17-optimized-segments/any_test.go
  pkg/storage/sqlstorage/ledger/migrates/18-v2/postgres.sql
  pkg/storage/sqlstorage/ledger/migrates/9-add-pre-post-volumes/any.go
  pkg/storage/sqlstorage/ledger/migrates/9-add-pre-post-volumes/any_test.go
  pkg/storage/sqlstorage/ledger/store_test.go
  pkg/storage/sqlstorage/ledger/transactions.go
  pkg/storage/sqlstorage/ledger/transactions_test.go
  pkg/storage/sqlstorage/ledger/volumes_test.go
  pkg/storage/sqlstorage/migrations/migrations_test.go
  pkg/storage/sqlstorage/schema/schema.go
  pkg/storage/transactions.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add more integrations tests for ledger (#238)
  openapi.yaml
  pkg/api/controllers/ledger_controller.go
  pkg/api/controllers/ledger_controller_test.go
  pkg/core/log.go
  pkg/storage/logs.go
  pkg/storage/sqlstorage/ledger/accounts.go
  pkg/storage/sqlstorage/ledger/logs.go
  pkg/storage/sqlstorage/ledger/store_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: readd numscript cache (#177)
  pkg/ledger/main_test.go
  pkg/ledger/numscript/compiler.go
  pkg/ledger/numscript/compiler_test.go
  pkg/ledger/runner/manager.go
  pkg/ledger/runner/runner.go
  pkg/ledger/runner/runner_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add benchmark and optimize logs hashing
  pkg/api/controllers/utils_test.go
  pkg/core/log.go
  pkg/core/metadata.go
  pkg/core/posting.go
  pkg/core/transaction.go
  pkg/core/transaction_test.go
  pkg/ledger/query/worker.go
  pkg/storage/sqlstorage/ledger/logs.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove wrapper on GET /_info (#108)
  openapi.yaml
  pkg/api/controllers/config_controller.go
  pkg/api/controllers/config_controller_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: change status code from 200 to 201 on revert transactions
  openapi.yaml
  pkg/api/controllers/transaction_controller.go
  pkg/api/controllers/transaction_controller_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: missing import
  pkg/ledger/main_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: use logger with json formatter (#247)
  cmd/root.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: Webhooks integration tests (#188)
  openapi.yaml
Due: gosdk

feat: refine benchs
  Taskfile.yaml
  benchmarks/ledger_test.go
  benchmarks/main_test.go
  cmd/serve.go
  go.mod
  pkg/api/api.go
  pkg/api/routes/routes.go
  pkg/ledger/ledger_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add otel metrics everywhere in ledger (#205)
  cmd/container.go
  cmd/root.go
  go.mod
  go.sum
  pkg/api/api.go
  pkg/api/controllers/account_controller_test.go
  pkg/api/controllers/balance_controller_test.go
  pkg/api/controllers/config_controller_test.go
  pkg/api/controllers/ledger_controller_test.go
  pkg/api/controllers/transaction_controller_test.go
  pkg/api/middlewares/ledger_middleware.go
  pkg/api/middlewares/metrics_middleware.go
  pkg/api/routes/routes.go
  pkg/ledger/cache/cache.go
  pkg/ledger/cache/cache_test.go
  pkg/ledger/ledger.go
  pkg/ledger/module.go
  pkg/ledger/query/worker.go
  pkg/ledger/query/worker_test.go
  pkg/ledger/resolver.go
  pkg/machine/vm/machine.go
  pkg/opentelemetry/metrics/metrics.go
  pkg/opentelemetry/tracer/tracer.go
  pkg/storage/sqlstorage/driver.go
  pkg/storage/sqlstorage/ledger/accounts.go
  pkg/storage/sqlstorage/ledger/balances.go
  pkg/storage/sqlstorage/ledger/logs.go
  pkg/storage/sqlstorage/ledger/store.go
  pkg/storage/sqlstorage/ledger/transactions.go
  pkg/storage/sqlstorage/ledger/volumes.go
  pkg/storage/sqlstorage/migrations/migrations.go
  pkg/storage/sqlstorage/opentelemetry/metrics/metrics.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: local testing (#116)
  docker-compose.yml
Due: none

feat: add internal channel for views computing (#161)
  pkg/api/controllers/ledger_controller_test.go
  pkg/api/controllers/pagination_test.go
  pkg/api/controllers/transaction_controller_test.go
  pkg/api/internal/testing.go
  pkg/ledger/cache/cache_test.go
  pkg/ledger/ledger.go
  pkg/ledger/ledger_test.go
  pkg/ledger/main_test.go
  pkg/ledger/query/module.go
  pkg/ledger/query/worker.go
  pkg/ledger/query/worker_test.go
  pkg/ledger/resolver.go
  pkg/ledger/runner/runner.go
  pkg/ledger/runner/runner_test.go
  pkg/storage/driver.go
  pkg/storage/sqlstorage/ledger/logs.go
  pkg/storage/sqlstorage/ledger/migrates/18-v2/postgres.sql
  pkg/storage/sqlstorage/ledger/store_test.go
  pkg/storage/sqlstorage/ledger/transactions.go
  pkg/storage/sqlstorage/worker/worker.go
  pkg/storage/sqlstorage/worker/worker_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: centralize ledger lifecycle inside resolver. (#184)
  pkg/api/internal/testing.go
  pkg/ledger/cache/manager.go
  pkg/ledger/cache/module.go
  pkg/ledger/ledger_test.go
  pkg/ledger/main_test.go
  pkg/ledger/module.go
  pkg/ledger/resolver.go
  pkg/ledger/runner/manager.go
  pkg/ledger/runner/module.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add index on postings (#258)
  pkg/storage/sqlstorage/ledger/migrates/0-init-schema/postgres.sql
  pkg/storage/sqlstorage/ledger/transactions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add openapi spec validation on integration tests (#133)
  openapi.yaml
Due: gosdk

feat: rework storage errors (#183)
  pkg/analytics/segment.go
  pkg/ledger/ledger.go
  pkg/ledger/query/worker.go
  pkg/ledger/query/worker_test.go
  pkg/ledger/runner/runner.go
  pkg/storage/driver.go
  pkg/storage/errors.go
  pkg/storage/sqlstorage/driver_test.go
  pkg/storage/sqlstorage/errors/errors.go
  pkg/storage/sqlstorage/ledger/accounts.go
  pkg/storage/sqlstorage/ledger/balances.go
  pkg/storage/sqlstorage/ledger/logs.go
  pkg/storage/sqlstorage/ledger/migration.go
  pkg/storage/sqlstorage/ledger/store.go
  pkg/storage/sqlstorage/ledger/store_test.go
  pkg/storage/sqlstorage/ledger/transactions.go
  pkg/storage/sqlstorage/ledger/volumes.go
  pkg/storage/sqlstorage/system/configuration.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: change status code to 204 on HEAD /transactions and /accounts
  openapi.yaml
  pkg/api/controllers/account_controller.go
  pkg/api/controllers/account_controller_test.go
  pkg/api/controllers/transaction_controller.go
  pkg/api/controllers/transaction_controller_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
