Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

chore: reorder migrations and clean next-minor todos
  internal/storage/bucket/migrations/11-make-stateless/up.sql
  internal/storage/bucket/migrations/16-moves-fill-transaction-id/notes.yaml
  internal/storage/bucket/migrations/16-moves-fill-transaction-id/up.sql
  internal/storage/bucket/migrations/16-moves-fill-transaction-id/up_tests_after.sql
  internal/storage/bucket/migrations/16-moves-fill-transaction-id/up_tests_before.sql
  internal/storage/bucket/migrations/17-transactions-fill-inserted-at/notes.yaml
  internal/storage/bucket/migrations/17-transactions-fill-inserted-at/up.sql
  internal/storage/bucket/migrations/17-transactions-fill-inserted-at/up_tests_after.sql
  internal/storage/bucket/migrations/17-transactions-fill-inserted-at/up_tests_before.sql
  internal/storage/bucket/migrations/18-transactions-fill-pcv/notes.yaml
  internal/storage/bucket/migrations/18-transactions-fill-pcv/up.sql
  internal/storage/bucket/migrations/18-transactions-fill-pcv/up_tests_after.sql
  internal/storage/bucket/migrations/18-transactions-fill-pcv/up_tests_before.sql
  internal/storage/bucket/migrations/19-accounts-volumes-fill-history/notes.yaml
  internal/storage/bucket/migrations/19-accounts-volumes-fill-history/up.sql
  internal/storage/bucket/migrations/19-accounts-volumes-fill-history/up_tests_after.sql
  internal/storage/bucket/migrations/19-accounts-volumes-fill-history/up_tests_before.sql
  internal/storage/bucket/migrations/20-transactions-metadata-fill-transaction-id/notes.yaml
  internal/storage/bucket/migrations/20-transactions-metadata-fill-transaction-id/up.sql
  internal/storage/bucket/migrations/20-transactions-metadata-fill-transaction-id/up_tests_after.sql
  internal/storage/bucket/migrations/20-transactions-metadata-fill-transaction-id/up_tests_before.sql
  internal/storage/bucket/migrations/21-accounts-metadata-fill-address/notes.yaml
  internal/storage/bucket/migrations/21-accounts-metadata-fill-address/up.sql
  internal/storage/bucket/migrations/21-accounts-metadata-fill-address/up_tests_after.sql
  internal/storage/bucket/migrations/21-accounts-metadata-fill-address/up_tests_before.sql
  internal/storage/bucket/migrations/22-logs-fill-memento/notes.yaml
  internal/storage/bucket/migrations/22-logs-fill-memento/up.sql
  internal/storage/bucket/migrations/22-logs-fill-memento/up_tests_after.sql
  internal/storage/bucket/migrations/22-logs-fill-memento/up_tests_before.sql
  internal/storage/ledger/transactions.go
  internal/storage/ledger/transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: some fix
  internal/storage/bucket/migrations/13-transactions-fill-inserted-at/up.sql
Due: none

feat: migrate old data
  go.mod
  internal/storage/bucket/migrations.go
  internal/storage/bucket/migrations/1-fix-trigger/up.sql
  internal/storage/bucket/migrations/12-moves-fill-transaction-id/notes.yaml
  internal/storage/bucket/migrations/12-moves-fill-transaction-id/up.sql
  internal/storage/bucket/migrations/12-moves-fill-transaction-id/up_tests_after.sql
  internal/storage/bucket/migrations/12-moves-fill-transaction-id/up_tests_before.sql
  internal/storage/bucket/migrations/13-transactions-fill-inserted-at/notes.yaml
  internal/storage/bucket/migrations/13-transactions-fill-inserted-at/up.sql
  internal/storage/bucket/migrations/13-transactions-fill-inserted-at/up_tests_after.sql
  internal/storage/bucket/migrations/13-transactions-fill-inserted-at/up_tests_before.sql
  internal/storage/bucket/migrations/14-transactions-fill-pcv/notes.yaml
  internal/storage/bucket/migrations/14-transactions-fill-pcv/up.sql
  internal/storage/bucket/migrations/14-transactions-fill-pcv/up_tests_after.sql
  internal/storage/bucket/migrations/14-transactions-fill-pcv/up_tests_before.sql
  internal/storage/bucket/migrations/15-accounts-volumes-fill-history/notes.yaml
  internal/storage/bucket/migrations/15-accounts-volumes-fill-history/up.sql
  internal/storage/bucket/migrations/15-accounts-volumes-fill-history/up_tests_after.sql
  internal/storage/bucket/migrations/15-accounts-volumes-fill-history/up_tests_before.sql
  internal/storage/bucket/migrations/16-transactions-metadata-fill-transaction-id/notes.yaml
  internal/storage/bucket/migrations/16-transactions-metadata-fill-transaction-id/up.sql
  internal/storage/bucket/migrations/16-transactions-metadata-fill-transaction-id/up_tests_after.sql
  internal/storage/bucket/migrations/16-transactions-metadata-fill-transaction-id/up_tests_before.sql
  internal/storage/bucket/migrations/17-accounts-metadata-fill-address/notes.yaml
  internal/storage/bucket/migrations/17-accounts-metadata-fill-address/up.sql
  internal/storage/bucket/migrations/17-accounts-metadata-fill-address/up_tests_after.sql
  internal/storage/bucket/migrations/17-accounts-metadata-fill-address/up_tests_before.sql
  internal/storage/bucket/migrations/18-logs-fill-memento/notes.yaml
  internal/storage/bucket/migrations/18-logs-fill-memento/up.sql
  internal/storage/bucket/migrations/18-logs-fill-memento/up_tests_after.sql
  internal/storage/bucket/migrations/18-logs-fill-memento/up_tests_before.sql
  internal/storage/bucket/migrations/2-fix-volumes-aggregation/up.sql
  internal/storage/ledger/balances.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: dependencies
  go.mod
Due: none

fix: slow migrations
  internal/storage/bucket/migrations/12-moves-fill-transaction-id/up.sql
  internal/storage/bucket/migrations/13-transactions-fill-inserted-at/up.sql
  internal/storage/bucket/migrations/14-transactions-fill-pcv/up.sql
  internal/storage/bucket/migrations/15-accounts-volumes-fill-history/up.sql
  internal/storage/bucket/migrations/16-transactions-metadata-fill-transaction-id/up.sql
  internal/storage/bucket/migrations/17-accounts-metadata-fill-address/up.sql
  internal/storage/bucket/migrations/18-logs-fill-memento/up.sql
Due: none

feat(performance): batch accounts insertions
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/store.go
  internal/controller/ledger/store_generated_test.go
  internal/storage/ledger/accounts.go
  internal/storage/ledger/accounts_test.go
  internal/storage/ledger/balances_test.go
  internal/storage/ledger/legacy/adapters.go
  internal/storage/ledger/moves_test.go
  internal/storage/ledger/store.go
  internal/storage/ledger/transactions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add some benchmarking option
  internal/storage/ledger/transactions.go
  pkg/generate/generator.go
  test/performance/benchmark_test.go
  test/performance/write_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add bulk options
  internal/api/v2/controllers_bulk.go
  internal/controller/ledger/bulker.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add parallel bulk
  cmd/serve.go
  internal/api/module.go
  internal/api/router.go
  internal/api/v2/controllers_bulk.go
  internal/api/v2/controllers_bulk_test.go
  internal/api/v2/routes.go
  internal/controller/ledger/bulker.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: update generator to accept a complete bulk
  pkg/generate/generator.go
  pkg/generate/generator_test.go
  pkg/generate/set.go
  test/performance/example_scripts/example1.js
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(bulk): add parallel processing
  docs/api/README.md
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/gen.yaml
  pkg/client/docs/models/operations/v2createbulkrequest.md
  pkg/client/docs/sdks/v2/README.md
  pkg/client/formance.go
  pkg/client/models/operations/v2createbulk.go
  test/e2e/api_bulk_test.go
  tools/generator/go.mod
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: data race
  internal/storage/ledger/legacy/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: data race
  internal/storage/ledger/legacy/adapters.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: tests
  pkg/generate/generator.go
  tools/generator/examples/example1.js
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(openapi): update fields
  openapi.yaml
  openapi/v1.yaml
Due: gosdk

fix(openapi): update sdk client
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/gen.yaml
  pkg/client/docs/models/components/migrationinfo.md
  pkg/client/formance.go
  pkg/client/models/components/migrationinfo.go
  pkg/client/models/operations/getbalances.go
  pkg/client/models/operations/listaccounts.go
  pkg/client/models/operations/listlogs.go
  pkg/client/models/operations/listtransactions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(openapi): update fields (#580)
  openapi.yaml
  openapi/v1.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/gen.yaml
  pkg/client/docs/models/components/migrationinfo.md
  pkg/client/formance.go
  pkg/client/models/components/migrationinfo.go
  pkg/client/models/operations/getbalances.go
  pkg/client/models/operations/listaccounts.go
  pkg/client/models/operations/listlogs.go
  pkg/client/models/operations/listtransactions.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: simplify
  internal/api/v2/controllers_bulk.go
  internal/bulking/bulker.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add stream at core level
  internal/api/v2/controllers_bulk.go
  internal/api/v2/controllers_bulk_test.go
  internal/controller/ledger/bulker.go
  pkg/generate/generator.go
  test/e2e/api_bulk_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: dedicated bulking package
  internal/api/module.go
  internal/api/router.go
  internal/api/v2/controllers_bulk.go
  internal/api/v2/controllers_bulk_json.go
  internal/api/v2/controllers_bulk_test.go
  internal/api/v2/controllers_bulk_text.go
  internal/api/v2/controllers_transactions_create.go
  internal/api/v2/controllers_transactions_create_test.go
  internal/api/v2/routes.go
  internal/bulking/bulker.go
  internal/bulking/elements.go
  pkg/generate/generator.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refacto: bulk streams
  internal/api/v2/controllers_bulk.go
  internal/api/v2/controllers_bulk_json.go
  internal/api/v2/controllers_bulk_text.go
  internal/controller/ledger/bulker.go
  pkg/generate/generator.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: refactor api part to support switch on content types
  internal/api/router.go
  internal/api/v2/controllers_bulk.go
  internal/api/v2/controllers_bulk_json.go
  internal/api/v2/routes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: add some tests
  internal/api/bulking/bulker.go
  internal/api/bulking/bulker_test.go
  internal/api/bulking/text_stream.go
  internal/api/bulking/text_stream_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: remove useless CI step
  .github/workflows/main.yml
Due: none

feat: add some traces
  docker-compose.yml
  internal/account.go
  internal/api/bulking/bulker.go
  internal/api/bulking/handler_json.go
  internal/api/bulking/handler_text.go
  internal/api/bulking/handler_text_test.go
  internal/api/bulking/text_stream.go
  internal/api/module.go
  internal/api/router.go
  internal/storage/ledger/accounts.go
  test/e2e/api_bulk_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: clean unused indexes
  internal/README.md
  internal/api/bulking/handler_json_test.go
  internal/storage/bucket/migrations/23-delete-orphan-indices/notes.yaml
  internal/storage/bucket/migrations/23-delete-orphan-indices/up.sql
  internal/storage/bucket/migrations/23-delete-orphan-indices/up_tests_after.sql
  internal/storage/bucket/migrations/23-delete-orphan-indices/up_tests_before.sql
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: rolling upgrade tests
  test/rolling-upgrades/Earthfile
  test/rolling-upgrades/main_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: update dependencies
  Earthfile
  deployments/helm/Earthfile
  deployments/pulumi/Earthfile
  go.mod
  go.sum
  internal/storage/bucket/migrations_test.go
  test/rolling-upgrades/Earthfile
  test/rolling-upgrades/go.mod
  test/rolling-upgrades/go.sum
  tools/generator/Earthfile
  tools/generator/go.mod
  tools/generator/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: update dependencies (#592)
  Earthfile
  deployments/helm/Earthfile
  deployments/pulumi/Earthfile
  go.mod
  go.sum
  internal/storage/bucket/migrations_test.go
  test/rolling-upgrades/Earthfile
  test/rolling-upgrades/go.mod
  test/rolling-upgrades/go.sum
  tools/generator/Earthfile
  tools/generator/go.mod
  tools/generator/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove legacy storage
  internal/storage/bucket/bucket.go
  internal/storage/ledger/adapters.go
  internal/storage/ledger/legacy/accounts.go
  internal/storage/ledger/legacy/accounts_test.go
  internal/storage/ledger/legacy/balances.go
  internal/storage/ledger/legacy/balances_test.go
  internal/storage/ledger/legacy/debug.go
  internal/storage/ledger/legacy/errors.go
  internal/storage/ledger/legacy/logs.go
  internal/storage/ledger/legacy/logs_test.go
  internal/storage/ledger/legacy/store.go
  internal/storage/ledger/legacy/transactions.go
  internal/storage/ledger/legacy/transactions_test.go
  internal/storage/ledger/legacy/utils.go
  internal/storage/ledger/legacy/volumes.go
  internal/storage/ledger/legacy/volumes_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add missing migrations to clean database
  internal/storage/bucket/migrations/19-clean-database/notes.yaml
  internal/storage/bucket/migrations/19-clean-database/up.sql
  internal/storage/ledger/balances.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: recreate account index concurrently
  internal/storage/bucket/migrations/19-accounts-recreate-unique-index/notes.yaml
  internal/storage/bucket/migrations/19-accounts-recreate-unique-index/up.sql
  internal/storage/bucket/migrations/20-clean-database/notes.yaml
  internal/storage/bucket/migrations/20-clean-database/up.sql
  internal/storage/driver/driver.go
  internal/storage/ledger/adapters.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: migrations
  internal/README.md
  internal/ledger.go
  internal/storage/system/migrations.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: use accounts_volumes table directly to get balances
  internal/storage/bucket/migrations/19-accounts-recreate-unique-index/up.sql
  internal/storage/bucket/migrations/20-clean-database/up.sql
  internal/storage/ledger/balances.go
  internal/storage/ledger/balances_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: reorder migrations
  go.mod
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_default_test.go
  internal/controller/ledger/store.go
  internal/controller/ledger/store_generated_test.go
  internal/storage/bucket/migrations/23-accounts-recreate-unique-index/notes.yaml
  internal/storage/bucket/migrations/23-accounts-recreate-unique-index/up.sql
  internal/storage/bucket/migrations/24-clean-database/notes.yaml
  internal/storage/bucket/migrations/24-clean-database/up.sql
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: after rebase
  internal/storage/bucket/bucket.go
  internal/storage/bucket/default_bucket.go
  internal/storage/bucket/migrations/24-accounts-recreate-unique-index/notes.yaml
  internal/storage/bucket/migrations/24-accounts-recreate-unique-index/up.sql
  internal/storage/bucket/migrations/25-clean-database/notes.yaml
  internal/storage/bucket/migrations/25-clean-database/up.sql
  internal/storage/driver/adapters.go
  internal/storage/ledger/adapters.go
  internal/storage/ledger/balances_test.go
  internal/storage/ledger/legacy/adapters.go
  internal/storage/ledger/legacy/main_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

ci: Add Lint steps
  .github/workflows/main.yml
  Earthfile
Due: none

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
