Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

chore: Upgrade SDK & Workflows for publish SDK
  docker-compose.override.yml
  docker-compose.yml
  openapi.yaml
Due: gosdk

fix: Use regex and cross segment
  pkg/storage/sqlstorage/accounts.go
  pkg/storage/sqlstorage/balances.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: Use regex and cross segment (#448)
  pkg/storage/sqlstorage/accounts.go
  pkg/storage/sqlstorage/balances.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

ci: Improvement docker build
  build.Dockerfile
Due: none

fix: code
  libs/metadata/owner.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add migration
  libs/api/response.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: benchmarks test
  benchmarks/ledger_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: Improve Indexes & Transactions query
  .goreleaser-darwin.yml
  .goreleaser.yml
  pkg/storage/sqlstorage/migrates/20-optimized-indexes/postgres.sql
  pkg/storage/sqlstorage/transactions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: add new indexes & rework distinct (#449)
  .goreleaser-darwin.yml
  .goreleaser.yml
  pkg/storage/sqlstorage/migrates/20-optimized-indexes/postgres.sql
  pkg/storage/sqlstorage/transactions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: fctl `output=<json>` (#363)
  openapi.yaml
Due: gosdk

docs: update metadata filter descriptions in swagger.yaml file (#282)
  openapi.yaml
Due: gosdk

chore: update inc legal name (#431)
  LICENSE
Due: none

feat: upgrade sdk to use bigints
  openapi.yaml
Due: gosdk

fix: metadata update conflict
  pkg/ledger/query/metadata_updater.go
  pkg/ledger/query/move_updater.go
  pkg/ledger/query/move_updater_test.go
  pkg/ledger/query/projector.go
  pkg/storage/inmemory.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: missing moves in transactions migration
  pkg/storage/ledgerstore/migrates/0-init-schema/any.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: refine database indices
  pkg/storage/ledgerstore/migrates/0-init-schema/postgres.sql
Due: none

fix: lock
  libs/collectionutils/linked_list.go
  pkg/ledger/command/lock.go
  pkg/ledger/command/lock_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: migrations
  cmd/root.go
  cmd/storage.go
  libs/collectionutils/linked_list.go
  libs/service/logging.go
  pkg/ledger/query/projector.go
  pkg/ledger/utils/job/jobs.go
  pkg/storage/database.go
  pkg/storage/driver/cli.go
  pkg/storage/driver/driver.go
  pkg/storage/flags.go
  pkg/storage/ledgerstore/logs.go
  pkg/storage/ledgerstore/main_test.go
  pkg/storage/ledgerstore/migrates/0-init-schema/any.go
  pkg/storage/ledgerstore/migrates/0-init-schema/postgres.sql
  pkg/storage/ledgerstore/transactions.go
  pkg/storage/migrations/migrations.go
  pkg/storage/storagetesting/storage.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: reuse batching worker for logs ingestion
  pkg/bus/monitor.go
  pkg/core/log.go
  pkg/ledger/command/commander.go
  pkg/ledger/command/commander_test.go
  pkg/ledger/command/context.go
  pkg/ledger/command/store.go
  pkg/ledger/ledger.go
  pkg/ledger/query/projector.go
  pkg/ledger/query/projector_test.go
  pkg/ledger/resolver.go
  pkg/ledger/utils/batching/batcher.go
  pkg/storage/driver/cli.go
  pkg/storage/driver/driver.go
  pkg/storage/ledgerstore/logs.go
  pkg/storage/ledgerstore/logs_test.go
  pkg/storage/ledgerstore/logs_worker.go
  pkg/storage/ledgerstore/main_test.go
  pkg/storage/ledgerstore/migrates/0-init-schema/any.go
  pkg/storage/ledgerstore/store.go
  pkg/storage/ledgerstore/transactions.go
  pkg/storage/storagetesting/storage.go
  pkg/storage/tx.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add example of metrics export to prometheus
  docker-compose.yml
  examples/basic-auth/docker-compose.yml
  examples/jaeger-exporter/docker-compose.yml
  examples/multi-node/docker-compose.yml
  examples/otlp-exporter/docker-compose.yml
  examples/otlp-exporter/otel-collector-config.yaml
  examples/otlp-exporter/prometheus.yaml
  examples/publisher-http/docker-compose.yml
  examples/publisher-kafka/docker-compose.yml
Due: none

fix(wallets): missing enum for error code (#454)
  openapi.yaml
Due: gosdk
