Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

feat: add configurable bulk size on a test
  misc/k6/README.md
  misc/k6/scripts/any_unbounded_to_any.js
  misc/k6/values.staging.yaml
Due: none

feat: add some doc
  TODO
  docs/README.md
  docs/api-comparison.md
  docs/architecture.md
  docs/data-flows.md
  docs/global-log.md
  docs/metrics.md
  docs/v2-problems-solved.md
  internal/raft/fsm.go
  internal/raft/node.go
  misc/devenv/config/grafana/provisioning/dashboards/ledger-metrics.json
  misc/k6/README.md
  misc/k6/run-chart/templates/testrun.yaml
  misc/k6/scripts/any_bounded_to_any.js
  misc/k6/scripts/any_to_bank.js
  misc/k6/scripts/shared/options.js
  misc/k6/scripts/world_to_any.js
  misc/k6/scripts/world_to_bank.js
  misc/k6/values.staging.yaml
  misc/k6/values.yaml
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: fix status code for insufficient fund in new interpreter (#1241)
  go.mod
  go.sum
  internal/api/v2/controllers_transactions_create.go
  internal/controller/ledger/errors.go
  internal/controller/ledger/errors_test.go
  internal/controller/ledger/numscript_runtime.go
  test/e2e/api_transactions_create_test.go
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: some stuff
  .speakeasy/gen.yaml
  cmd/client/main.go
  docs/api-comparison.md
  internal/http/handler.go
  internal/http/handlers_get_account.go
  internal/raft/spool_default.go
  internal/service/controller.go
  internal/service/controller_default.go
  internal/service/controller_routed.go
  internal/service/ledger_grpc_client.go
  internal/store/pebble/store.go
  misc/k6/README.md
  misc/k6/justfile
  misc/k6/scripts/shared/config.js
  misc/k6/scripts/shared/utils.js
  misc/k6/values.staging.yaml
  openapi.yml
  pkg/client/.speakeasy/gen.lock
  pkg/client/README.md
  pkg/client/formance.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: expose pebble configuration variables
  cmd/server/server.go
  internal/application/config.go
  internal/application/module.go
  internal/raft/node_test.go
  internal/store/pebble/config.go
  internal/store/pebble/store.go
  internal/store/pebble/store_test.go
  misc/chart/templates/statefulset.yaml
  misc/chart/values.yaml
  misc/devenv/values/devenv-ledger-exp/ledger.yaml
  misc/devenv/values/staging/ledger.yaml
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

improve tests & add var substitution parsing
  internal/api/v2/controllers_queries_run.go
  internal/controller/ledger/controller_default_test.go
  internal/query_template.go
  internal/query_template_test.go
  internal/resources/substitution.go
  internal/resources/substitution_test.go
  pkg/client/.speakeasy/gen.lock
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add some clients commands
  .speakeasy/gen.yaml
  AGENTS.md
  cmd/client/common.go
  cmd/client/ledgers.go
  cmd/client/main.go
  docs/api-comparison.md
  internal/application/grpc_ledger_server.go
  internal/proto/commonpb/common.pb.go
  internal/proto/raftcmdpb/raftcmd.pb.go
  internal/proto/servicepb/service.pb.go
  internal/proto/servicepb/service_grpc.pb.go
  internal/raft/raft_transport.pb.go
  internal/raft/raft_transport_grpc.pb.go
  internal/service/controller_default.go
  internal/service/ledger_grpc_client.go
  internal/store/pebble/store.go
  internal/store/sqlite/store.go
  internal/store/store.go
  internal/store/store_generated.go
  internal/store/store_interceptor.go
  misc/proto/common.proto
  misc/proto/service.proto
  openapi.yml
  pkg/client/.speakeasy/gen.lock
  pkg/client/formance.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: make idempotency at system level
  docs/advanced-concepts.md
  docs/buckets-ledgers.md
  docs/global-log.md
  docs/storage.md
  internal/http/handlers_bulk.go
  internal/http/handlers_create_ledger.go
  internal/http/handlers_create_transaction.go
  internal/http/handlers_delete_account_metadata.go
  internal/http/handlers_delete_transaction_metadata.go
  internal/http/handlers_revert_transaction.go
  internal/http/handlers_save_account_metadata.go
  internal/http/handlers_save_transaction_metadata.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/log.go
  internal/proto/commonpb/log_payload.go
  internal/proto/commonpb/log_type.go
  internal/proto/raftcmdpb/raftcmd.pb.go
  internal/proto/servicepb/service.pb.go
  internal/proto/servicepb/service.pb.json.go
  internal/raft/command.go
  internal/raft/fsm.go
  internal/raft/node.go
  internal/raft/node_test.go
  internal/service/controller_default.go
  internal/service/controller_default_test.go
  internal/service/keysetlocker.go
  internal/service/log_process.go
  internal/service/unitofwork.go
  internal/store/pebble/store.go
  internal/store/pebble/store_test.go
  internal/store/sqlite/store.go
  internal/store/sqlite/store_test.go
  misc/proto/common.proto
  misc/proto/raftcmd.proto
  misc/proto/service.proto
  pkg/testserver/gateway.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: use oidc for tailscale
  .github/workflows/main.yml
Due: none

feat: remove useless code
  internal/service/keysetlocker.go
  internal/service/unitofwork.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: remove some deadcode
  AGENTS.md
  cmd/client/ledgers_get.go
  docs/api-comparison.md
  internal/application/grpc_ledger_server.go
  internal/proto/commonpb/common.pb.go
  internal/proto/raftcmdpb/raftcmd.pb.go
  internal/proto/servicepb/service.pb.go
  internal/proto/servicepb/service_grpc.pb.go
  internal/raft/raft_transport.pb.go
  internal/raft/raft_transport_grpc.pb.go
  internal/service/controller.go
  internal/service/controller_default.go
  internal/service/controller_routed.go
  internal/service/ledger_grpc_client.go
  internal/store/pebble/store.go
  internal/store/pebble/store_test.go
  internal/store/sqlite/store.go
  internal/store/sqlite/store_test.go
  internal/store/store.go
  internal/store/store_generated.go
  internal/store/store_interceptor.go
  misc/proto/service.proto
  pkg/testserver/gateway.go
  tests/e2e/ledger_delete_test.go
  tests/e2e/ledger_test.go
  tests/e2e/raft_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: add cursor for ledger list
  cmd/client/common.go
  cmd/client/ledgers_list.go
  internal/application/grpc_ledger_server.go
  internal/http/handlers_list_all_ledgers.go
  internal/proto/servicepb/service.pb.go
  internal/proto/servicepb/service_grpc.pb.go
  internal/raft/node_test.go
  internal/service/controller.go
  internal/service/controller_default.go
  internal/service/controller_routed.go
  internal/service/ledger_grpc_client.go
  internal/store/cursor.go
  internal/store/pebble/store.go
  internal/store/pebble/store_test.go
  internal/store/sqlite/store.go
  internal/store/sqlite/store_test.go
  internal/store/store.go
  internal/store/store_generated.go
  internal/store/store_interceptor.go
  misc/proto/service.proto
  pkg/testserver/gateway.go
  tests/e2e/helpers.go
  tests/e2e/ledger_delete_test.go
  tests/e2e/raft_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: use oidc for tailscale (#1243)
  .github/workflows/main.yml
Due: none

improve tests
  internal/query_template.go
  internal/query_template_test.go
  internal/resources/substitution.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: fix status code for insufficient fund in new interpreter (#1241)
  flake.lock
  go.mod
  go.sum
  internal/api/v2/controllers_transactions_create.go
  internal/controller/ledger/errors.go
  internal/controller/ledger/errors_test.go
  internal/controller/ledger/numscript_runtime.go
  test/e2e/api_transactions_create_test.go
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: fix status code for insufficient fund in new interpreter (#1241) (#1244)
  flake.lock
  go.mod
  go.sum
  internal/api/v2/controllers_transactions_create.go
  internal/controller/ledger/errors.go
  internal/controller/ledger/errors_test.go
  internal/controller/ledger/numscript_runtime.go
  test/e2e/api_transactions_create_test.go
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

template validation
  docs/events/InsertedSchema.json
  internal/README.md
  internal/controller/ledger/controller_default_test.go
  internal/query_template.go
  internal/query_template_test.go
  internal/resources/resources.go
  internal/resources/schema.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: update nix deps
  flake.lock
  flake.nix
Due: none

feat: remove sqlite
  Dockerfile
  README.md
  cmd/server/server.go
  docs/README.md
  docs/advanced-concepts.md
  docs/api-comparison.md
  docs/api.md
  docs/buckets-ledgers.md
  docs/deployment.md
  docs/metrics.md
  docs/sanity-check.md
  docs/storage-drivers.md
  docs/storage.md
  docs/testing.md
  docs/v2-problems-solved.md
  go.mod
  go.sum
  internal/application/config.go
  internal/application/module.go
  internal/raft/fsm.go
  internal/store/pebble/batch.go
  internal/store/pebble/store_test.go
  internal/store/sqlite/batch.go
  internal/store/sqlite/db.go
  internal/store/sqlite/store.go
  internal/store/sqlite/store_test.go
  internal/store/store.go
  internal/store/store_generated.go
  internal/store/store_interceptor.go
  misc/chart/README.md
  misc/chart/values.yaml
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: simplify store
  internal/application/grpc_ledger_server.go
  internal/application/module.go
  internal/grpc/server.go
  internal/http/handlers_list_all_ledgers.go
  internal/raft/fsm.go
  internal/raft/node_test.go
  internal/service/controller_default.go
  internal/service/controller_default_test.go
  internal/service/ledger_grpc_client.go
  internal/service/log_process.go
  internal/service/log_streamer.go
  internal/service/unitofwork.go
  internal/store/cursor.go
  internal/store/pebble/batch.go
  internal/store/pebble/store.go
  internal/store/pebble/store_test.go
  internal/store/store.go
  internal/store/store_generated.go
  internal/store/store_interceptor.go
  tests/e2e/helpers.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: refine the store
  internal/proto/clusterpb/state.go
  internal/raft/node_test.go
  internal/store/pebble/batch.go
  internal/store/pebble/store.go
  internal/store/pebble/store_test.go
  internal/store/store.go
  internal/store/store_generated.go
  internal/store/store_interceptor.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

support properly, change string interpolation syntax
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_default_test.go
  internal/query_template.go
  internal/query_template_test.go
  internal/resources/field.go
  internal/resources/filter_resolution.go
  internal/resources/filter_validation.go
  internal/resources/schema.go
  internal/resources/substitution.go
  internal/resources/substitution_test.go
  internal/resources/variables.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

rename `resources` package to `queries`
  internal/api/bulking/mocks_ledger_controller_test.go
  internal/api/common/mocks_ledger_controller_test.go
  internal/api/v1/mocks_ledger_controller_test.go
  internal/api/v2/controllers_queries_run.go
  internal/api/v2/mocks_ledger_controller_test.go
  internal/controller/ledger/controller.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_default_test.go
  internal/controller/ledger/controller_generated_test.go
  internal/controller/ledger/controller_with_too_many_client_handling.go
  internal/controller/ledger/controller_with_traces.go
  internal/controller/ledger/mocks_test.go
  internal/queries/field.go
  internal/queries/filter_template.go
  internal/queries/resources.go
  internal/queries/schema.go
  internal/queries/substitution.go
  internal/queries/substitution_test.go
  internal/queries/variables.go
  internal/query_template.go
  internal/query_template_test.go
  internal/resources/filter_validation.go
  internal/storage/common/paginator_column.go
  internal/storage/common/resource.go
  internal/storage/ledger/resource_accounts.go
  internal/storage/ledger/resource_aggregated_balances.go
  internal/storage/ledger/resource_logs.go
  internal/storage/ledger/resource_schemas.go
  internal/storage/ledger/resource_transactions.go
  internal/storage/ledger/resource_volumes.go
  internal/storage/system/resource_ledgers.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: remove store interface
  internal/application/grpc_ledger_server.go
  internal/application/module.go
  internal/raft/fsm.go
  internal/raft/node.go
  internal/raft/node_test.go
  internal/raft/work/work.go
  internal/service/controller_default.go
  internal/service/controller_default_test.go
  internal/service/unitofwork.go
  internal/store/pebble/store.go
  internal/store/pebble/store_interceptor.go
  internal/store/pebble/store_test.go
  internal/store/store.go
  internal/store/store_generated.go
  internal/store/store_interceptor.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

params validation
  internal/README.md
  internal/api/bulking/mocks_ledger_controller_test.go
  internal/api/common/mocks_ledger_controller_test.go
  internal/api/v1/mocks_ledger_controller_test.go
  internal/api/v2/mocks_ledger_controller_test.go
  internal/controller/ledger/controller_generated_test.go
  internal/controller/ledger/mocks_test.go
  internal/queries/field.go
  internal/query_template.go
  internal/query_template_test.go
  tools/generator/go.mod
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: refactor metadata storage
  cmd/server/server.go
  docs/deterministic-fsm.md
  docs/global-log.md
  docs/storage-drivers.md
  internal/application/config.go
  internal/application/grpc_ledger_server.go
  internal/application/module.go
  internal/raft/fsm.go
  internal/raft/node.go
  internal/raft/node_test.go
  internal/raft/work/work.go
  internal/service/controller_default.go
  internal/service/controller_default_test.go
  internal/service/unitofwork.go
  internal/store/batch.go
  internal/store/config.go
  internal/store/metrics.go
  internal/store/pebble/store.go
  internal/store/pebble/store_interceptor.go
  internal/store/store.go
  internal/store/store_generated.go
  internal/store/store_interceptor.go
  internal/store/store_metrics.go
  internal/store/store_test.go
  internal/store/types.go
  tests/e2e/matchers.go
  tests/e2e/raft_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add soft delete
  docs/deterministic-fsm.md
  docs/storage-drivers.md
  internal/proto/clusterpb/state.go
  internal/proto/commonpb/common.pb.go
  internal/proto/raftcmdpb/raftcmd.pb.go
  internal/proto/servicepb/service.pb.go
  internal/proto/servicepb/service_grpc.pb.go
  internal/raft/fsm.go
  internal/raft/raft_transport.pb.go
  internal/raft/raft_transport_grpc.pb.go
  internal/service/controller_default.go
  internal/store/batch.go
  internal/store/cursor.go
  internal/store/store.go
  internal/store/store_test.go
  misc/proto/common.proto
  tests/e2e/ledger_delete_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add SetMetadataBase
  docs/deterministic-fsm.md
  internal/store/batch.go
  internal/store/store.go
  internal/store/types.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add TransactionUpdate
  internal/proto/commonpb/common.pb.go
  internal/proto/raftcmdpb/raftcmd.pb.go
  internal/proto/servicepb/service.pb.go
  internal/proto/servicepb/service_grpc.pb.go
  internal/raft/fsm.go
  internal/raft/raft_transport.pb.go
  internal/raft/raft_transport_grpc.pb.go
  internal/store/batch.go
  internal/store/store.go
  internal/store/store_test.go
  misc/proto/common.proto
  misc/proto/raftcmd.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

review fixes
  internal/controller/ledger/controller_default.go
  internal/queries/filter_template.go
  internal/queries/filter_template_test.go
  internal/queries/schema.go
  internal/queries/substitution.go
  internal/queries/substitution_test.go
  internal/queries/variables.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix
  internal/queries/filter_template.go
  internal/queries/filter_template_test.go
  internal/query_template_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: update nix deps (#1245)
  flake.lock
  flake.nix
Due: none

feat: add replica identity on tables without primary key
  internal/storage/bucket/default_bucket.go
  internal/storage/bucket/migrations/45-fix-missing-primary-keys/notes.yaml
  internal/storage/bucket/migrations/45-fix-missing-primary-keys/up.sql
  internal/storage/bucket/migrations/46-remove-useless-trigger/notes.yaml
  internal/storage/bucket/migrations/46-remove-useless-trigger/up.sql
  internal/storage/bucket/migrations/47-add-schema/notes.yaml
  internal/storage/bucket/migrations/47-add-schema/up.sql
  internal/storage/bucket/migrations/48-add-transaction-templates/notes.yaml
  internal/storage/bucket/migrations/48-add-transaction-templates/up.sql
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add replica identity on tables without primary key
  internal/storage/bucket/migrations/45-fix-missing-primary-keys/notes.yaml
  internal/storage/bucket/migrations/45-fix-missing-primary-keys/up.sql
Due: none

feat: add numscript rfc
  docs/numscript-static-inputs-rfc.md
Due: none

chore: add some TODO
  TODO
Due: none

feat: add replica identity on tables without primary key (#1236)
  internal/storage/bucket/migrations/45-fix-missing-primary-keys/notes.yaml
  internal/storage/bucket/migrations/45-fix-missing-primary-keys/up.sql
Due: none
