Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

fix(storage): publish RocksDB checkpoints safely
  internal/adapter/grpc/server_restore.go
  internal/storage/dal/checkpoint_marker.go
  internal/storage/dal/checkpoint_publish_test.go
  internal/storage/dal/store.go
  internal/storage/dal/store_operations_test.go
  internal/storage/kv/db.go
  internal/storage/kv/db_test.go
  internal/storage/usagestore/comparer.go
  internal/storage/usagestore/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

style(storage): satisfy pre-commit formatting
  internal/storage/dal/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(storage): publish offline bootstrap checkpoint
  cmd/ledgerctl/store/bootstrap.go
  tests/e2e/cluster/bootstrap_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(storage): isolate mutable RocksDB checkpoint files
  internal/storage/dal/hardlink_test.go
  internal/storage/dal/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(storage): cover independent RocksDB checkpoint clones
  internal/storage/dal/hardlink_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(api): clarify parser diagnostic ranges
  docs/api/README.md
  internal/api/common/parser_diagnostics_test.go
  openapi.yaml
  openapi/v2.yaml
  openapi/v3.yaml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

style(storage): match CI formatting
  internal/storage/dal/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

ci(ledger): retain model failure diagnostics
  .github/workflows/main.yml
Due: none

test(cluster): bound follower read retry calls
  tests/e2e/cluster/raft_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(storage): compare Pebble and RocksDB performance
  .github/workflows/storage-performance.yml
  docs/technical/architecture/subsystems/storage/performance-comparison.md
  scripts/compare-storage-performance.py
  scripts/compare-storage-performance.sh
Due: none

fix(storage): parse custom benchmark metrics
  scripts/compare-storage-performance.py
  scripts/compare-storage-performance.sh
Due: none

test(storage): compare HTTP performance across engines
  .github/workflows/storage-performance.yml
  docs/technical/architecture/subsystems/storage/performance-comparison.md
  scripts/compare-storage-api.py
  scripts/storage-performance-api.js
Due: none

fix(storage): use current cluster health endpoint
  .github/workflows/storage-performance.yml
  scripts/compare-storage-api.py
Due: none

test(storage): compare higher HTTP load
  .github/workflows/storage-performance.yml
  docs/technical/architecture/subsystems/storage/performance-comparison.md
  scripts/compare-storage-api.py
  scripts/storage-performance-api.js
Due: none

test(storage): use comparable intermediate load
  .github/workflows/storage-performance.yml
  docs/technical/architecture/subsystems/storage/performance-comparison.md
Due: none

docs(storage): record Pebble and RocksDB benchmark results
  docs/technical/architecture/subsystems/storage/performance-comparison.md
Due: none

fix(ledgerctl): show RocksDB storage labels and supported metrics
  cmd/ledgerctl/querycheckpoint/create.go
  cmd/ledgerctl/store/backup.go
  cmd/ledgerctl/store/cache_stats.go
  cmd/ledgerctl/store/checkpoint.go
  cmd/ledgerctl/store/dump.go
  cmd/ledgerctl/store/primary.go
  cmd/ledgerctl/store/primary_compact.go
  cmd/ledgerctl/store/primary_metrics.go
  cmd/ledgerctl/store/rebuild_audit_index.go
  cmd/ledgerctl/store/secondary.go
  cmd/ledgerctl/store/secondary_compact.go
  cmd/ledgerctl/store/secondary_metrics.go
  docs/ops/cli.md
  internal/adapter/grpc/server_bucket.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(model): diagnose prepared log page mismatches
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/prepared_queries_read.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(storage): record latest RocksDB latency variation
  docs/technical/architecture/subsystems/storage/performance-comparison.md
Due: none

refactor(storage): remove stale Pebble identifiers and diagnostics
  docs/technical/architecture/subsystems/storage/storage-drivers.md
  internal/application/mirror/worker.go
  internal/bootstrap/module.go
  internal/infra/attributes/attributes.go
  internal/infra/attributes/attributes_helpers_test.go
  internal/infra/bloom/bloom.go
  internal/infra/membership/membership.go
  internal/infra/node/node.go
  internal/infra/state/antithesis_outcomes_test.go
  internal/infra/state/audit_failure_test.go
  internal/infra/state/cache_snapshotter.go
  internal/infra/state/delete_ledger_sentinel_test.go
  internal/infra/state/idempotency_apply_test.go
  internal/infra/state/idempotency_eviction_scheduler.go
  internal/infra/state/idempotency_store.go
  internal/infra/state/machine.go
  internal/infra/state/machine_technical_updates.go
  internal/infra/state/sentinel.go
  internal/infra/state/sentinel_accounting_test.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/raftcmdpb/raft_cmd_reader.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  internal/proto/raftcmdpb/reader_immutability_test.go
  internal/storage/dal/store.go
  misc/proto/raft_cmd.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(storage): align assertions with RocksDB diagnostics
  internal/infra/node/recovery_test.go
  internal/infra/plan/resolve.go
  internal/infra/state/delete_ledger_sentinel_test.go
  internal/infra/state/idempotency_eviction_scheduler.go
  internal/infra/state/idempotency_store.go
  internal/infra/state/sentinel_accounting_test.go
  internal/storage/dal/capabilities.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(storage): update stale Pebble read-path comments
  internal/application/ctrl/controller_default.go
  internal/application/ctrl/list_entities.go
  internal/query/aligned_snapshot.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(events): isolate webhook HTTP transport per sink
  internal/application/events/sink_http.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(storage): record repeat RocksDB performance measurements
  docs/technical/architecture/subsystems/storage/performance-comparison.md
Due: none

refactor(storage): remove remaining Pebble key identifiers
  internal/application/events/sink_http.go
  internal/infra/attributes/accumulator.go
  internal/infra/state/idempotency_store.go
  internal/query/compile.go
  internal/query/compile_reverse.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(antithesis): expose prepared log volume differences
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/prepared_queries_read.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(ledger): retain independent Raft removal barriers
  docs/technical/architecture/subsystems/consensus/removed-member-registry.md
  internal/infra/node/node.go
  internal/infra/node/remove_node_post_commit_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

style(ledger): format removal barrier helpers
  internal/infra/node/node.go
  internal/infra/node/remove_node_post_commit_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(test): model purged persisted zero volumes
  tests/oracle/model.go
  tests/oracle/model_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(ledger): record current RocksDB performance comparison
  docs/technical/architecture/subsystems/storage/performance-comparison.md
Due: none

fix(ledger): retry transient learner join cancellation
  internal/bootstrap/module.go
  internal/bootstrap/module_join_auth_test.go
  tests/antithesis/workload/bin/cmds/main/eventually_stats_consistency/main.go
  tests/antithesis/workload/bin/cmds/main/parallel_driver_maintenance/main.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

style(ledger): format learner retry test
  internal/bootstrap/module_join_auth_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

style(ledger): finish learner retry test formatting
  internal/bootstrap/module_join_auth_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(test): clear maintenance before stats source barrier
  tests/antithesis/workload/bin/cmds/main/eventually_stats_consistency/main.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(ledger): record latest RocksDB performance results
  docs/technical/architecture/subsystems/storage/performance-comparison.md
Due: none

docs(deployment): list the numscript behaviour changes that were actually reproduced
  docs/ops/deployment.md
Due: none

docs(ledger): document repeat storage benchmark variability
  docs/technical/architecture/subsystems/storage/performance-comparison.md
Due: none

perf(ledger): batch RocksDB iteration across the cgo boundary
  docs/drafts/rocksdb-poc.md
  internal/storage/engine/engine.go
  internal/storage/engine/enginetest/bench_setup.go
  internal/storage/engine/enginetest/conformance.go
  internal/storage/engine/pebbleengine/bench_test.go
  internal/storage/engine/rocksengine/bench_test.go
  internal/storage/engine/rocksengine/iter_fill.go
  internal/storage/engine/rocksengine/rocksengine.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests
