Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

feat: add update of exporters config.
  docs/api/README.md
  internal/api/common/mocks_system_controller_test.go
  internal/api/v1/mocks_system_controller_test.go
  internal/api/v2/controllers_exporters_update.go
  internal/api/v2/controllers_exporters_update_test.go
  internal/api/v2/mocks_system_controller_test.go
  internal/api/v2/routes.go
  internal/controller/system/controller.go
  internal/replication/controller_grpc_client.go
  internal/replication/controller_grpc_server.go
  internal/replication/driver_facade.go
  internal/replication/drivers/registry.go
  internal/replication/exporters.go
  internal/replication/exporters_generated.go
  internal/replication/grpc/replication_service.pb.go
  internal/replication/grpc/replication_service.proto
  internal/replication/grpc/replication_service_grpc.pb.go
  internal/replication/manager.go
  internal/replication/manager_test.go
  internal/replication/store.go
  internal/replication/store_generated_test.go
  internal/storage/common/errors.go
  internal/storage/system/store.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/README.md
  pkg/client/docs/models/operations/v2updateexporterrequest.md
  pkg/client/docs/models/operations/v2updateexporterresponse.md
  pkg/client/docs/sdks/v2/README.md
  pkg/client/models/operations/v2updateexporter.go
  pkg/client/speakeasyusagegen/.speakeasy/logs/naming.log
  pkg/client/v2.go
  pkg/testserver/server.go
  test/e2e/api_exporters_update_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: remove unused Community Edition stubs in ee package
  ee/stub.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: data race in tests
  internal/replication/manager.go
  internal/replication/manager_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: handle errors when loading audit settings in AuditModule
  ee/audit.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: handle error when reading audit enabled flag in AuditModule
  ee/audit.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix test
  internal/chart.go
  internal/chart_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: from review
  internal/replication/controller_grpc_client.go
  internal/storage/system/store.go
  test/e2e/suite_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: from review
  internal/storage/system/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: from review
  internal/storage/system/store.go
  test/e2e/suite_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: internal pagination
  internal/storage/common/cursor.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: internal pagination (#1112)
  internal/storage/common/cursor.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: Update docker compose and readme
  README.md
  examples/standalone/docker-compose.yml
Due: none

chore: Update docker compose and readme (#1114)
  README.md
  examples/standalone/docker-compose.yml
Due: none

fix: add missing increment
  internal/api/bulking/bulker.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: add missing increment (#1115)
  internal/api/bulking/bulker.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: internal pagination (#1113)
  internal/storage/common/cursor.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: datarace
  internal/api/bulking/bulker.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: datarace (#1118)
  internal/api/bulking/bulker.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: add missing increment (#1117)
  internal/api/bulking/bulker.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add update of exporters config. (#1111)
  docs/api/README.md
  internal/api/common/mocks_system_controller_test.go
  internal/api/v1/mocks_system_controller_test.go
  internal/api/v2/controllers_exporters_update.go
  internal/api/v2/controllers_exporters_update_test.go
  internal/api/v2/mocks_system_controller_test.go
  internal/api/v2/routes.go
  internal/controller/system/controller.go
  internal/replication/controller_grpc_client.go
  internal/replication/controller_grpc_server.go
  internal/replication/driver_facade.go
  internal/replication/drivers/registry.go
  internal/replication/exporters.go
  internal/replication/exporters_generated.go
  internal/replication/grpc/replication_service.pb.go
  internal/replication/grpc/replication_service.proto
  internal/replication/grpc/replication_service_grpc.pb.go
  internal/replication/manager.go
  internal/replication/manager_test.go
  internal/replication/store.go
  internal/replication/store_generated_test.go
  internal/storage/common/errors.go
  internal/storage/system/store.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/README.md
  pkg/client/docs/models/operations/v2updateexporterrequest.md
  pkg/client/docs/models/operations/v2updateexporterresponse.md
  pkg/client/docs/sdks/v2/README.md
  pkg/client/models/operations/v2updateexporter.go
  pkg/client/speakeasyusagegen/.speakeasy/logs/naming.log
  pkg/client/v2.go
  pkg/testserver/server.go
  test/e2e/api_exporters_update_test.go
  test/e2e/suite_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: missing increment (#1116)
  internal/api/bulking/bulker.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add update of exporters config (#1110)
  docs/api/README.md
  internal/api/common/mocks_system_controller_test.go
  internal/api/v1/mocks_system_controller_test.go
  internal/api/v2/controllers_exporters_update.go
  internal/api/v2/controllers_exporters_update_test.go
  internal/api/v2/mocks_system_controller_test.go
  internal/api/v2/routes.go
  internal/controller/system/controller.go
  internal/replication/controller_grpc_client.go
  internal/replication/controller_grpc_server.go
  internal/replication/driver_facade.go
  internal/replication/drivers/registry.go
  internal/replication/exporters.go
  internal/replication/exporters_generated.go
  internal/replication/grpc/replication_service.pb.go
  internal/replication/grpc/replication_service.proto
  internal/replication/grpc/replication_service_grpc.pb.go
  internal/replication/manager.go
  internal/replication/manager_test.go
  internal/replication/store.go
  internal/replication/store_generated_test.go
  internal/storage/common/errors.go
  internal/storage/system/store.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/README.md
  pkg/client/docs/models/operations/v2updateexporterrequest.md
  pkg/client/docs/models/operations/v2updateexporterresponse.md
  pkg/client/docs/sdks/v2/README.md
  pkg/client/models/operations/v2updateexporter.go
  pkg/client/speakeasyusagegen/.speakeasy/logs/naming.log
  pkg/client/v2.go
  pkg/testserver/server.go
  test/e2e/api_exporters_update_test.go
  test/e2e/suite_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: remove vendor/ from .dockerignore
  .dockerignore
Due: none

feat: optimize database indexes for query performance
  internal/storage/bucket/migrations/41-optimize-query-indexes/notes.yaml
  internal/storage/bucket/migrations/41-optimize-query-indexes/up.sql
Due: none

fix: create new indexes before dropping old ones to avoid performance degradation
  internal/storage/bucket/migrations/41-optimize-query-indexes/up.sql
Due: none

refactor: remove ledger and date columns from indexes
  internal/storage/bucket/migrations/41-optimize-query-indexes/up.sql
Due: none

feat: use semconv metrics names by default
  .goreleaser.yml
  cmd/serve.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

debug: try metrics
  internal/controller/system/controller.go
  internal/storage/ledger/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: split index migrations into isolated concurrent operations
  internal/storage/bucket/migrations/41-optimize-query-indexes/up.sql
  internal/storage/bucket/migrations/42-optimize-query-indexes-pit-effective/up.sql
  internal/storage/bucket/migrations/43-optimize-accounts-metadata-index/up.sql
  internal/storage/bucket/migrations/44-optimize-transactions-metadata-index/up.sql
  internal/storage/bucket/migrations/45-drop-old-indexes/up.sql
Due: none

Tune metrics
  internal/controller/ledger/controller_with_traces.go
  internal/controller/system/controller.go
  internal/tracing/tracing.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs: add notes.yaml files for split index migrations
  internal/storage/bucket/migrations/41-optimize-query-indexes/notes.yaml
  internal/storage/bucket/migrations/42-optimize-query-indexes-pit-effective/notes.yaml
  internal/storage/bucket/migrations/43-optimize-accounts-metadata-index/notes.yaml
  internal/storage/bucket/migrations/44-optimize-transactions-metadata-index/notes.yaml
  internal/storage/bucket/migrations/45-drop-old-indexes/notes.yaml
Due: none

fix: remove CONCURRENTLY from index creation migrations
  internal/storage/bucket/migrations/41-optimize-query-indexes/notes.yaml
  internal/storage/bucket/migrations/41-optimize-query-indexes/up.sql
  internal/storage/bucket/migrations/42-optimize-query-indexes-pit-effective/notes.yaml
  internal/storage/bucket/migrations/42-optimize-query-indexes-pit-effective/up.sql
  internal/storage/bucket/migrations/43-optimize-accounts-metadata-index/notes.yaml
  internal/storage/bucket/migrations/43-optimize-accounts-metadata-index/up.sql
  internal/storage/bucket/migrations/44-optimize-transactions-metadata-index/notes.yaml
  internal/storage/bucket/migrations/44-optimize-transactions-metadata-index/up.sql
Due: none

fix: correct column name from account_address to accounts_address in index creation
  internal/storage/bucket/migrations/41-optimize-query-indexes/up.sql
  internal/storage/bucket/migrations/42-optimize-query-indexes-pit-effective/up.sql
Due: none

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
