Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

fix(EN-1515): clear the stale parent edge when a signing key is re-registered as root
  docs/ops/signing.md
  internal/application/check/signing_test.go
  internal/domain/crypto/keystore/keystore.go
  internal/domain/crypto/keystore/keystore_test.go
  internal/infra/state/write_set_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(EN-1515): verify signing key/config projections against audited orders (#1669)
  AGENTS.md
  docs/technical/architecture/audit-vs-technical-state.md
  docs/technical/architecture/subsystems/checker/README.md
  docs/technical/architecture/subsystems/checker/checker.md
  internal/application/check/checker.go
  internal/application/check/checker_accepted_order_test.go
  internal/application/check/checker_idempotency_cold_test.go
  internal/application/check/checker_tamper_test.go
  internal/application/check/signing.go
  internal/application/check/signing_fold_window_test.go
  internal/application/check/signing_test.go
  internal/proto/servicepb/bucket.pb.go
  misc/proto/bucket.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(EN-1515): drop change-narration from the signing comments
  internal/application/admission/admission.go
  internal/application/admission/authorize_unsigned_batch_test.go
  internal/application/admission/errors.go
  internal/application/check/checker.go
  internal/application/check/signing.go
  internal/query/signing_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

perf(EN-1515): decode each audit item's order once per Check() entry
  internal/application/check/checker.go
  internal/application/check/verify_skipped_order_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1515): terminate the FSM signing cascade on a parent cycle
  docs/ops/signing.md
  internal/domain/processing/processor_signing.go
  internal/domain/processing/processor_signing_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1515): report incomplete signing coverage when the audit chain breaks
  AGENTS.md
  docs/technical/architecture/subsystems/checker/checker.md
  internal/application/check/checker.go
  internal/application/check/checker_tamper_test.go
  internal/application/check/signing.go
  internal/application/check/signing_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1515): cascade from superseded in-proposal parent edges in the signing replay
  AGENTS.md
  internal/application/check/signing.go
  internal/application/check/signing_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1515): exclude proposal-removed keys from the signing cascade replay
  AGENTS.md
  internal/application/check/signing.go
  internal/application/check/signing_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(EN-1515): align the checker signing-cascade section with the three-edge replay
  docs/technical/architecture/subsystems/checker/checker.md
Due: none

fix(EN-1515): repair signing-projection restore, boot decode, and admission validation (#1667)
  AGENTS.md
  docs/ops/signing.md
  docs/technical/architecture/audit-vs-technical-state.md
  docs/technical/architecture/subsystems/checker/README.md
  docs/technical/architecture/subsystems/checker/checker.md
  internal/application/admission/admission.go
  internal/application/admission/authorize_unsigned_batch_test.go
  internal/application/admission/errors.go
  internal/application/admission/request_to_order_test.go
  internal/application/admission/validate_order.go
  internal/application/admission/validate_order_test.go
  internal/application/check/checker.go
  internal/application/check/checker_accepted_order_test.go
  internal/application/check/checker_idempotency_cold_test.go
  internal/application/check/checker_tamper_test.go
  internal/application/check/signing.go
  internal/application/check/signing_fold_window_test.go
  internal/application/check/signing_test.go
  internal/application/check/verify_skipped_order_test.go
  internal/domain/crypto/keystore/keystore.go
  internal/domain/crypto/keystore/keystore_test.go
  internal/domain/processing/processor_signing.go
  internal/domain/processing/processor_signing_test.go
  internal/infra/backup/rebuild.go
  internal/infra/backup/rebuild_test.go
  internal/infra/state/recovery.go
  internal/infra/state/recovery_signing_test.go
  internal/infra/state/write_set_test.go
  internal/proto/servicepb/bucket.pb.go
  internal/query/signing.go
  internal/query/signing_test.go
  misc/proto/bucket.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(EN-1551): remove dead proto fields, drop all reserved, realign tags
  AGENTS.md
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/architecture/subsystems/indexer/indexes.md
  internal/application/events/sink_databricks_test.go
  internal/infra/plan/predicted_index.go
  internal/proto/auditpb/audit.pb.go
  internal/proto/auditpb/audit_dethash.pb.go
  internal/proto/auditpb/audit_vtproto.pb.go
  internal/proto/clusterpb/cluster.pb.go
  internal/proto/clusterpb/cluster_vtproto.pb.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_dethash.pb.go
  internal/proto/commonpb/common_reader.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/raftcmdpb/raft_cmd_dethash.pb.go
  internal/proto/raftcmdpb/raft_cmd_reader.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  internal/proto/restorepb/restore.pb.go
  internal/proto/restorepb/restore_vtproto.pb.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_dethash.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  misc/proto/audit.proto
  misc/proto/bucket.proto
  misc/proto/cluster.proto
  misc/proto/common.proto
  misc/proto/raft_cmd.proto
  misc/proto/restore.proto
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(backup): backfill archival-purged ranges from cold storage in incremental backups (#1673)
  docs/ops/backup-restore.md
  docs/technical/architecture/subsystems/chapters/backup.md
  internal/application/backup/orchestrator.go
  internal/application/backup/orchestrator_test.go
  internal/bootstrap/module.go
  internal/infra/backup/cold_backfill.go
  internal/infra/backup/cold_backfill_generated_test.go
  internal/infra/backup/cold_backfill_test.go
  internal/infra/backup/crash_safety_test.go
  internal/infra/backup/manager.go
  internal/infra/backup/manager_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(EN-1551): pin the predicted-index append against canonical marshalling
  internal/infra/plan/predicted_index_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(EN-1551): require auditing read-side protowire sites before renumbering
  AGENTS.md
  docs/technical/contributing/protobuf.md
Due: none

docs(EN-1551): correct the cache snapshot format and drop stale field numbers
  docs/technical/architecture/subsystems/admission/pipeline.md
  docs/technical/architecture/subsystems/fsm/preload.md
  docs/technical/architecture/subsystems/storage/storage.md
Due: none

fix(antithesis): catalogue every assertion properly (literal messages + runtime-registered block properties) (#1665)
  internal/domain/processing/skip_safe_scope.go
  tests/antithesis/workload/internal/block/block.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(e2e): pin the chapter registry across restore (currently failing)
  tests/e2e/cluster/restore_chapter_registry_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(EN-1551): drop the stale per-generation snapshot sentence
  docs/technical/architecture/subsystems/storage/storage.md
Due: none

test(EN-1551): cover the predicted-index descriptor guard
  internal/infra/plan/predicted_index.go
  internal/infra/plan/predicted_index_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1748): align read-index snapshots with the main-store handle
  docs/technical/architecture/subsystems/read-path/read-snapshot-consistency.md
  internal/application/ctrl/controller_default.go
  internal/application/ctrl/list_entities.go
  internal/query/aligned_snapshot.go
  internal/query/aligned_snapshot_test.go
  internal/query/executor.go
  internal/storage/readstore/iterator_filter.go
  internal/storage/readstore/iterator_filter_test.go
  internal/storage/readstore/store.go
  tests/e2e/business/cross_store_snapshot_alignment_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

sketch(readstore): versioned event keys for pinned-sequence reads
  internal/storage/readstore/event_gc.go
  internal/storage/readstore/event_gc_test.go
  internal/storage/readstore/event_keys.go
  internal/storage/readstore/iterator_event_resolve.go
  internal/storage/readstore/iterator_event_resolve_test.go
  internal/storage/readstore/read_lease.go
  internal/storage/readstore/read_lease_test.go
  internal/storage/readstore/write_batch_events.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(e2e): red-to-green load regression for cross-store snapshot alignment
  tests/e2e/business/cross_store_snapshot_alignment_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1750): rebuild the chapter registry in RebuildDelta
  internal/infra/backup/rebuild.go
  internal/infra/backup/rebuild_chapters_test.go
  tests/e2e/cluster/restore_chapter_registry_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(EN-1750): chapter identity across restore
  docs/ops/backup-restore.md
  docs/technical/architecture/subsystems/chapters/backup.md
Due: none

fix(EN-1750): refuse to confirm a cold archive that does not match the request
  internal/infra/state/archiver.go
  internal/infra/state/archiver_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1750): reject malformed chapter lifecycle logs in the rebuild
  internal/infra/backup/rebuild.go
  internal/infra/backup/rebuild_chapters_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

ci: add manual Antithesis workflow
  .github/workflows/antithesis.yml
Due: none

ci: add manual Antithesis workflow (#1680)
  .github/workflows/antithesis.yml
Due: none

test(antithesis): chapter-archival cycle in the model test
  tests/antithesis/run_model_test.sh
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/archive.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/config.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/main.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(antithesis): archival cycle in the k8s model workload + CI launch recipes
  tests/antithesis/Justfile
  tests/antithesis/k8s/workload.yaml
Due: none

fix(check): bound the stored exclusion scan to the archived audit boundary
  internal/application/check/checker.go
  internal/application/check/checker_exclusion_archived_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(antithesis): adopt the canonical CI launch recipes
  tests/antithesis/Justfile
Due: none

test(antithesis): unset SOURCE_DATE_EPOCH in the sub-Justfile image builds
  tests/antithesis/config/Justfile
  tests/antithesis/k8s/Justfile
  tests/antithesis/workload/Justfile
Due: none

fix(ledger): upsert transaction accounts inside the operation's transaction
  internal/controller/ledger/controller_default.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(e2e): dry run must not persist the accounts it touches
  test/e2e/api_transactions_dry_run_accounts_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(storage): partial-index usability for INDEXED_METADATA_KEYS rewrite
  internal/storage/ledger/resource_transactions.go
  internal/storage/ledger/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(storage): make ResolveIndexedMetadataKeys handle errors internally
  internal/storage/driver/driver.go
  internal/storage/ledger/store.go
  internal/storage/ledger/transactions_metadata_index_test.go
  internal/storage/ledger/transactions_sparse_wallet_sim_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(storage): cover IndexedMetadataKeys fallback and ResolveIndexedMetadataKeys error path
  internal/storage/ledger/export_test.go
  internal/storage/ledger/transactions_metadata_index_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(storage): close three remaining review issues in INDEXED_METADATA_KEYS
  internal/storage/ledger/main_test.go
  internal/storage/ledger/store.go
  internal/storage/ledger/transactions_metadata_index_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: fix import ordering and regenerate internal/README.md
  internal/README.md
  internal/storage/ledger/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests
