Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

fix(storage): guard temporary table in migration 42 (#2131)
  docs/database/migration-temporary-tables.md
  internal/storage/bucket/migrations/42-fix-missing-inserted-at-in-log-data/up.sql
  internal/storage/bucket/migrations_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(storage): guard temporary table in migration 42 (#2132)
  docs/database/migration-temporary-tables.md
  internal/storage/bucket/migrations/42-fix-missing-inserted-at-in-log-data/up.sql
  internal/storage/bucket/migrations_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: cache scripts by the script's hash, not the bytecode's hash
  internal/domain/processing/numscript/cache.go
  internal/domain/processing/numscript/engine_bench_test.go
  internal/domain/processing/numscript/vm.go
  internal/domain/processing/numscript/vm_test.go
  internal/domain/processing/processor_transaction_numscript.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Revert "fix: cache scripts by the script's hash, not the bytecode's hash"
  internal/domain/processing/numscript/cache.go
  internal/domain/processing/numscript/engine_bench_test.go
  internal/domain/processing/numscript/vm.go
  internal/domain/processing/numscript/vm_test.go
  internal/domain/processing/processor_transaction_numscript.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

avoid re-compiling on every tx
  docs/technical/architecture/subsystems/scripting/numscript-library.md
  internal/domain/processing/numscript/cache.go
  internal/domain/processing/numscript/discover.go
  internal/domain/processing/numscript/engine_bench_test.go
  internal/domain/processing/numscript/vm.go
  internal/domain/processing/numscript/vm_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(api): expose structured Numscript parser diagnostics
  docs/api/README.md
  internal/api/bulking/handler_json.go
  internal/api/bulking/handler_json_diagnostics_test.go
  internal/api/bulking/result.go
  internal/api/common/parser_diagnostics.go
  internal/api/common/parser_diagnostics_test.go
  internal/api/v2/controllers_transactions_create.go
  internal/api/v2/controllers_transactions_diagnostics_test.go
  openapi.yaml
  openapi/v2.yaml
  openapi/v3.yaml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1526): verify audit-only histories and bound stored logs by the audit chain (#1912)
  .golangci.yaml
  docs/technical/architecture/subsystems/checker/audit-chain.md
  docs/technical/architecture/subsystems/checker/checker.md
  docs/technical/architecture/subsystems/storage/README.md
  docs/technical/architecture/subsystems/storage/range-bounds.md
  internal/application/check/checker.go
  internal/application/check/checker_accepted_order_test.go
  internal/application/check/checker_audit_comparable_test.go
  internal/application/check/checker_audit_only_test.go
  internal/application/check/checker_log_bounds_test.go
  internal/application/check/checker_metadata_audit_test.go
  internal/application/check/checker_query_checkpoint_test.go
  internal/application/check/checker_reverse_map_orphans_test.go
  internal/application/check/checker_tamper_test.go
  internal/application/check/clusterpolicy_test.go
  internal/application/check/log_bounds.go
  internal/application/check/signing_fold_window_test.go
  internal/application/check/signing_test.go
  internal/infra/backup/manager.go
  internal/infra/state/audit_replay.go
  internal/infra/state/audit_replay_test.go
  internal/infra/state/batch.go
  internal/proto/servicepb/bucket.pb.go
  internal/query/applied_proposal.go
  internal/query/audit.go
  internal/query/compile.go
  internal/query/log.go
  internal/query/max_sequence_bound_test.go
  internal/storage/dal/prefix_upper_bound_test.go
  internal/storage/dal/store.go
  internal/storage/readstore/audit_index.go
  internal/storage/wal/wal_default_test.go
  misc/proto/bucket.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(antithesis): verify permanent ledger tombstones (EN-2215) (#2104)
  tests/antithesis/README.md
  tests/antithesis/workload/bin/cmds/main/parallel_driver_ledger_recreate/main.go
  tests/antithesis/workload/bin/cmds/main/parallel_driver_ledger_recreate/main_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(actions): preserve checkpoint outcomes across retries (EN-2211) (#2098)
  docs/technical/architecture/subsystems/read-path/query-checkpoints.md
  pkg/actions/read.go
  tests/antithesis/workload/bin/cmds/main/parallel_driver_query_checkpoints/helper_retry_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-2206): qualify asynchronous stats convergence (#2096)
  tests/antithesis/README.md
  tests/antithesis/workload/bin/cmds/main/eventually_stats_consistency/main.go
  tests/antithesis/workload/bin/cmds/main/eventually_stats_consistency/membership.go
  tests/antithesis/workload/bin/cmds/main/eventually_stats_consistency/observe.go
  tests/antithesis/workload/bin/cmds/main/eventually_stats_consistency/observe_test.go
  tests/antithesis/workload/bin/cmds/main/eventually_stats_consistency/oracle.go
  tests/antithesis/workload/bin/cmds/main/eventually_stats_consistency/oracle_test.go
  tests/antithesis/workload/bin/cmds/main/eventually_stats_consistency/source.go
  tests/antithesis/workload/bin/cmds/main/eventually_stats_consistency/source_test.go
  tests/antithesis/workload/bin/cmds/main/parallel_driver_stats_consistency/main.go
  tests/antithesis/workload/bin/cmds/main/parallel_driver_stats_consistency/main_test.go
  tests/antithesis/workload/internal/ledger.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(api): record the account date fields as intentionally removed (#2025) (#2061)
  docs/technical/contributing/api-comparison.md
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/queries.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(release): upgrade goreleaser to 2.18.2 (#2115)
  flake.lock
Due: none

fix(operator): recover index attribution from audit (EN-2002) (#1971)
  cmd/ledgerctl/cmdutil/signing.go
  cmd/ledgerctl/cmdutil/signing_test.go
  cmd/ledgerctl/indexes/create.go
  cmd/ledgerctl/indexes/creation_audit.go
  cmd/ledgerctl/indexes/creation_audit_test.go
  cmd/ledgerctl/indexes/list.go
  docs/ops/cli.md
  docs/technical/architecture/subsystems/events-mirror/mirror.md
  docs/technical/architecture/subsystems/indexer/README.md
  docs/technical/architecture/subsystems/indexer/operator-ownership.md
  misc/operator/README.md
  misc/operator/api/v1alpha1/ledger_crd_types.go
  misc/operator/config/crd/bases/ledger.formance.com_ledgers.yaml
  misc/operator/helm/crds/templates/ledger.formance.com_ledgers.yaml
  misc/operator/internal/controller/ledger_crd_controller.go
  misc/operator/internal/controller/ledger_index_ownership_real_test.go
  misc/operator/internal/controller/ledger_index_reconcile.go
  misc/operator/internal/controller/ledger_index_reconcile_test.go
  misc/operator/internal/controller/ledger_indexes.go
  tests/e2e/cluster/operator_index_ownership_test.go
  tests/e2e/cluster/restore_index_registry_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(deps): enforce shutdown timeout through go-libs (EN-1994)
  docs/ops/backup-restore.md
  docs/ops/cli.md
  go.mod
  go.sum
  internal/infra/node/logger_adapter.go
  main_shutdown_test.go
  tests/antithesis/workload/go.mod
  tests/antithesis/workload/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(deps): update go-libs to v5.9.0
  go.mod
  go.sum
  tests/antithesis/workload/go.mod
  tests/antithesis/workload/go.sum
Due: none

fix(domain): classify sink controller mismatch
  internal/domain/errors.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(storage): release ledger lock when the caller context is cancelled
  internal/storage/ledger/store.go
  internal/storage/ledger/store_lock_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(deps): enforce shutdown timeout through go-libs (EN-1994) (#1998)
  docs/ops/backup-restore.md
  docs/ops/cli.md
  go.mod
  go.sum
  internal/domain/errors.go
  internal/infra/node/logger_adapter.go
  main_shutdown_test.go
  tests/antithesis/workload/go.mod
  tests/antithesis/workload/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(openapi): document bigint response header
  docs/api/README.md
  openapi.yaml
  openapi/v2.yaml
  openapi/v3.yaml
Due: gosdk

test(api): cover bigint response header
  internal/api/v2/views_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(client): regenerate SDK for bigint header
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/docs/models/operations/v2createtransactionrequest.md
  pkg/client/docs/models/operations/v2getaccountrequest.md
  pkg/client/docs/models/operations/v2getbalancesaggregatedrequest.md
  pkg/client/docs/models/operations/v2gettransactionrequest.md
  pkg/client/docs/models/operations/v2getvolumeswithbalancesrequest.md
  pkg/client/docs/models/operations/v2listaccountsrequest.md
  pkg/client/docs/models/operations/v2listlogsrequest.md
  pkg/client/docs/models/operations/v2listtransactionsrequest.md
  pkg/client/docs/models/operations/v2reverttransactionrequest.md
  pkg/client/docs/models/operations/v2runqueryrequest.md
  pkg/client/models/operations/v2createtransaction.go
  pkg/client/models/operations/v2getaccount.go
  pkg/client/models/operations/v2getbalancesaggregated.go
  pkg/client/models/operations/v2gettransaction.go
  pkg/client/models/operations/v2getvolumeswithbalances.go
  pkg/client/models/operations/v2listaccounts.go
  pkg/client/models/operations/v2listlogs.go
  pkg/client/models/operations/v2listtransactions.go
  pkg/client/models/operations/v2reverttransaction.go
  pkg/client/models/operations/v2runquery.go
  pkg/client/v2.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(ops): keep Kubernetes minimum unchanged
  docs/ops/deployment.md
Due: none

fix(EN-1874): advance identity protocol after target synchronization
  docs/technical/contributing/api-comparison.md
Due: none

docs(EN-1874): clarify membership bootstrap and failure ordering
  docs/ops/cluster-operations.md
  docs/technical/architecture/subsystems/consensus/removed-member-registry.md
  internal/infra/membership/membership.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1874): advance service protocol for required identities
  docs/technical/contributing/api-comparison.md
Due: none

docs(EN-1874): make removal tombstone guarantee unconditional
  docs/ops/cli.md
Due: none

style(EN-1874): apply canonical Go normalization
  cmd/server/server.go
  internal/infra/membership/membership.go
  internal/infra/node/confchange_identity_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(EN-1874): persist election state in membership regressions
  internal/infra/node/configured_peers_test.go
  internal/infra/node/startup_membership_removal_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1874): validate complete member changes and snapshot discovery
  cmd/server/join_auth_test.go
  cmd/server/server.go
  docs/ops/cli.md
  docs/technical/architecture/subsystems/consensus/removed-member-registry.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/grpc/server_cluster.go
  internal/adapter/grpc/server_cluster_add_learner_test.go
  internal/application/membership/membership.go
  internal/infra/membership/confchange.go
  internal/infra/membership/confchange_identity_test.go
  internal/infra/membership/membership.go
  internal/infra/membership/membership_test.go
  internal/infra/node/applier_test.go
  internal/infra/node/confchange_identity_test.go
  internal/infra/node/configured_peers_test.go
  internal/infra/node/node.go
  internal/infra/node/promotion_identity_test.go
  internal/infra/node/startup_membership_removal_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1874): preserve peer routing on rejected admission
  docs/ops/cluster-operations.md
  docs/technical/architecture/subsystems/consensus/README.md
  docs/technical/architecture/subsystems/consensus/removed-member-registry.md
  internal/adapter/grpc/server_bootstrap.go
  internal/application/membership/membership.go
  internal/application/membership/membership_test.go
  internal/bootstrap/module.go
  tests/e2e/cluster/learner_rejected_routing_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(EN-1874): strengthen identity regression assertions and docs
  docs/ops/deployment.md
  internal/adapter/grpc/server_bootstrap.go
  internal/adapter/grpc/server_cluster.go
  internal/infra/membership/confchange_identity_test.go
  internal/infra/membership/membership_test.go
  internal/infra/node/confchange_identity_test.go
  internal/infra/node/node.go
  internal/infra/node/promotion_identity_test.go
  internal/infra/node/remove_node_post_commit_test.go
  tests/e2e/cluster/learner_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(EN-1874): cover membership admission and identity boundaries
  internal/application/membership/membership_node_test.go
  internal/application/membership/membership_test.go
  internal/bootstrap/instance_id_provider_test.go
  internal/infra/membership/identity_rejection_test.go
  internal/infra/membership/membership_test.go
  internal/infra/node/confchange_identity_test.go
  internal/infra/node/configured_peers_test.go
  internal/infra/node/learner_admission_test.go
  internal/storage/wal/instance_id_marker_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(e2e): stop learner fixtures and bound follower catch-up reads
  tests/e2e/cluster/learner_rejected_routing_test.go
  tests/e2e/cluster/raft_test.go
  tests/e2e/testutil/server.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(EN-1874): allow loaded membership fixtures time to commit
  internal/application/membership/membership_node_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1874): require identities for all raft members
  cmd/ledgerctl/cluster/add_learner.go
  cmd/ledgerctl/cluster/add_learner_test.go
  cmd/server/join_auth_test.go
  cmd/server/server.go
  docs/ops/cli.md
  docs/ops/cluster-operations.md
  docs/technical/architecture/subsystems/consensus/README.md
  docs/technical/architecture/subsystems/consensus/raft-consensus.md
  docs/technical/architecture/subsystems/consensus/removed-member-registry.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/grpc/server_bootstrap.go
  internal/adapter/grpc/server_cluster.go
  internal/application/membership/membership.go
  internal/application/membership/membership_test.go
  internal/bootstrap/instance_id_provider_test.go
  internal/bootstrap/module.go
  internal/infra/membership/confchange.go
  internal/infra/membership/membership.go
  internal/infra/membership/membership_test.go
  internal/infra/membership/peer_store.go
  internal/infra/membership/remove_node_blacklist_test.go
  internal/infra/node/add_learner_classify_test.go
  internal/infra/node/config.go
  internal/infra/node/membership_helpers_test.go
  internal/infra/node/node.go
  internal/infra/node/remove_node_post_commit_test.go
  internal/proto/clusterbootstrappb/cluster_bootstrap.pb.go
  internal/proto/clusterbootstrappb/cluster_bootstrap_reader.pb.go
  internal/proto/clusterbootstrappb/cluster_bootstrap_vtproto.pb.go
  internal/proto/clusterpb/cluster.pb.go
  internal/proto/clusterpb/cluster_reader.pb.go
  internal/proto/clusterpb/cluster_vtproto.pb.go
  internal/storage/wal/instance_id_marker.go
  internal/storage/wal/instance_id_marker_test.go
  misc/proto/cluster.proto
  misc/proto/cluster_bootstrap.proto
  tests/e2e/cluster/learner_test.go
  tests/e2e/cluster/remove_node_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(EN-1874): align shutdown cleanup with rebased lifecycle
  docs/technical/contributing/api-comparison.md
  internal/infra/node/promotion_identity_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1874): preserve force-removal lifecycle after rebase
  internal/infra/node/force_remove_run_test.go
  internal/infra/node/node.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: align rebased fixtures with current membership and store contracts
  internal/bootstrap/service_address_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1874): validate every discovered member identity
  cmd/server/join_auth_test.go
  cmd/server/server.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests
