Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

test(EN-1874): distinguish bootstrap admission at the RPC boundary
  tests/e2e/cluster/learner_rejected_routing_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1874): retain raft peers and strengthen identity regressions
  docs/ops/cli.md
  docs/ops/cluster-operations.md
  docs/technical/architecture/subsystems/consensus/removed-member-registry.md
  internal/infra/membership/membership.go
  internal/infra/membership/membership_test.go
  internal/infra/membership/remove_node_blacklist_test.go
  internal/infra/node/confchange_identity_test.go
  internal/infra/node/membership_invariant_test.go
  internal/infra/node/node.go
  internal/infra/node/promotion_identity_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(EN-1874): derive INSTANCE_ID path from wal-dir in add-learner example
  docs/ops/cli.md
Due: none

fix(EN-1874): advance protocol after checkpoint provenance integration
  docs/technical/contributing/api-comparison.md
Due: none

fix(EN-1874): reconcile membership fixtures and protocol after rebase
  docs/technical/contributing/api-comparison.md
  internal/application/membership/membership_node_test.go
  internal/application/membership/membership_test.go
  internal/infra/membership/committed_peer_refresh_test.go
  internal/infra/node/learner_admission_test.go
  internal/infra/node/promotion_identity_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

style(EN-1874): fix lint whitespace in configured_peers_test
  internal/infra/node/configured_peers_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(EN-1874): clarify PeerInfo.instance_id type and discovery retry semantics
  docs/ops/cluster-operations.md
  docs/technical/contributing/api-comparison.md
Due: none

docs(ops): document operator Kubernetes feature requirements
  docs/ops/deployment-profiles.md
  docs/ops/deployment.md
  misc/operator/README.md
Due: none

chore(ledger): upgrade Pebble to v2.1.7
  go.mod
  go.sum
Due: none

chore(ledger): tidy Pebble module checksums
  go.sum
  tests/antithesis/workload/go.mod
  tests/antithesis/workload/go.sum
Due: none

fix(api): address paul-nicolas review
  docs/technical/architecture/subsystems/api/secret-redaction.md
  internal/adapter/auth/grpc_auth.go
  internal/adapter/grpc/server_bucket.go
  internal/adapter/grpc/server_bucket_credential_projection_test.go
  internal/adapter/readprojection/config.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(events): name diagnostic sanitization explicitly
  internal/application/events/sink_clickhouse.go
  internal/application/events/sink_databricks.go
  internal/application/events/sink_error.go
  internal/application/events/sink_http.go
  internal/application/events/sink_kafka.go
  internal/application/events/sink_nats.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(events): sanitize credentials in driver diagnostics
  docs/technical/architecture/subsystems/api/sensitive-projection.md
  docs/technical/architecture/subsystems/events-mirror/events.md
  internal/application/events/emitter_failure_wiring_test.go
  internal/application/events/sink.go
  internal/application/events/sink_clickhouse.go
  internal/application/events/sink_clickhouse_constructor_test.go
  internal/application/events/sink_databricks.go
  internal/application/events/sink_error.go
  internal/application/events/sink_error_test.go
  internal/application/events/sink_http.go
  internal/application/events/sink_http_test.go
  internal/application/events/sink_kafka.go
  internal/application/events/sink_kafka_test.go
  internal/application/events/sink_nats.go
  internal/application/events/sink_nats_error_test.go
  internal/pkg/sensitive/projection_test.go
  misc/proto/common.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(grpc): add authCfg field, Authenticate stub, protoFieldJSON nil guard, fix test MarkCheckpointReady import
  internal/adapter/auth/grpc_auth.go
  internal/adapter/grpc/server_bucket.go
  internal/adapter/grpc/server_bucket_credential_projection_test.go
  internal/proto/commonpb/common.pb.json.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(api)!: redact sink and mirror credentials from reads
  docs/ops/cli.md
  docs/technical/architecture/subsystems/admission/signing.md
  docs/technical/architecture/subsystems/api/README.md
  docs/technical/architecture/subsystems/api/secret-redaction.md
  docs/technical/architecture/subsystems/events-mirror/events.md
  docs/technical/architecture/subsystems/events-mirror/mirror.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/grpc/read_projection.go
  internal/adapter/grpc/server_bucket.go
  internal/adapter/grpc/server_bucket_credential_projection_test.go
  internal/adapter/http/credential_projection_test.go
  internal/adapter/http/handlers_get_audit_entry.go
  internal/adapter/http/handlers_get_events_sinks.go
  internal/adapter/http/handlers_get_ledger.go
  internal/adapter/http/handlers_get_log.go
  internal/adapter/http/handlers_list_all_ledgers.go
  internal/adapter/http/handlers_list_audit_entries.go
  internal/adapter/http/handlers_list_ledger_logs.go
  internal/adapter/readprojection/audit.go
  internal/adapter/readprojection/audit_hash_test.go
  internal/adapter/readprojection/audit_test.go
  internal/adapter/readprojection/config.go
  internal/adapter/readprojection/config_test.go
  internal/adapter/readprojection/wire.go
  internal/adapter/readprojection/wire_test.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

test(events): verify Databricks and NATS diagnostic boundaries
  internal/application/events/sink_databricks_error_test.go
  internal/application/events/sink_nats_publish_error_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(events): sanitize implicit NATS tokens and nested proxy errors
  docs/technical/architecture/subsystems/events-mirror/events.md
  internal/application/events/sink_clickhouse.go
  internal/application/events/sink_clickhouse_constructor_test.go
  internal/application/events/sink_nats.go
  internal/application/events/sink_nats_error_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

style(events): normalize constructor regression code
  internal/application/events/sink_nats.go
  internal/application/events/sink_nats_error_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

style(events): separate test peer error returns
  internal/application/events/sink_nats_error_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: adapt Apply result fixture and pin mirror diagnostic masking
  internal/pkg/sensitive/projection_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(proto): cover nil collections and sensitive oneofs
  internal/pkg/sensitive/projection_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(proto): add generic sensitive field projection
  docs/technical/architecture/subsystems/api/README.md
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
  docs/technical/architecture/subsystems/api/sensitive-projection.md
  docs/technical/contributing/protobuf.md
  internal/pkg/sensitive/projection.go
  internal/pkg/sensitive/projection_test.go
  misc/proto/common.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

style(events): normalize diagnostic helper formatting
  internal/application/events/sink_error.go
  internal/application/events/sink_http_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(cluster): bound follower catch-up reads and capture node state
  tests/e2e/cluster/raft_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(events): correct credential extraction for NATS and malformed proxy URLs
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
  docs/technical/contributing/protobuf.md
  internal/application/events/sink_error.go
  misc/proto/common.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(events): register raw http_proxy query values to catch malformed-escape credential leaks
  internal/application/events/sink_clickhouse.go
  internal/application/events/sink_error.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

style(events): apply golangci-lint simplifications
  internal/application/events/sink_clickhouse.go
  internal/application/events/sink_error.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(events): gate NATS token rule, merge URL split, drop unused result names, guard nil list elements
  internal/application/events/sink_clickhouse.go
  internal/application/events/sink_databricks.go
  internal/application/events/sink_error.go
  internal/application/events/sink_http.go
  internal/application/events/sink_kafka.go
  internal/application/events/sink_nats.go
  internal/pkg/sensitive/projection.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

style(events): use else if for NATS scheme check
  internal/application/events/sink_error.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

style(events): apply golangci-lint suggestions in rawUserinfoCredentials
  internal/application/events/sink_error.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(proto): regenerate common.pb.go after rebase onto release/v3.0
  internal/proto/commonpb/common.pb.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(ledger): upgrade Pebble to v2.1.7 (#2135)
  go.mod
  go.sum
  tests/antithesis/workload/go.mod
  tests/antithesis/workload/go.sum
Due: none

docs(openapi): document bigint response header (#1663)
  docs/api/README.md
  internal/api/v2/views_test.go
  openapi.yaml
  openapi/v2.yaml
  openapi/v3.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/docs/models/operations/v2createtransactionrequest.md
  pkg/client/docs/models/operations/v2getaccountrequest.md
  pkg/client/docs/models/operations/v2getbalancesaggregatedrequest.md
  pkg/client/docs/models/operations/v2gettransactionrequest.md
  pkg/client/docs/models/operations/v2getvolumeswithbalancesrequest.md
  pkg/client/docs/models/operations/v2listaccountsrequest.md
  pkg/client/docs/models/operations/v2listlogsrequest.md
  pkg/client/docs/models/operations/v2listtransactionsrequest.md
  pkg/client/docs/models/operations/v2reverttransactionrequest.md
  pkg/client/docs/models/operations/v2runqueryrequest.md
  pkg/client/models/operations/v2createtransaction.go
  pkg/client/models/operations/v2getaccount.go
  pkg/client/models/operations/v2getbalancesaggregated.go
  pkg/client/models/operations/v2gettransaction.go
  pkg/client/models/operations/v2getvolumeswithbalances.go
  pkg/client/models/operations/v2listaccounts.go
  pkg/client/models/operations/v2listlogs.go
  pkg/client/models/operations/v2listtransactions.go
  pkg/client/models/operations/v2reverttransaction.go
  pkg/client/models/operations/v2runquery.go
  pkg/client/v2.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(ops): fix ledger operator helm install instructions (#2129)
  docs/ops/deployment-profiles.md
  docs/ops/deployment.md
  misc/operator/README.md
Due: none

docs(openapi): remove obsolete v3 specification
  openapi/v3.yaml
Due: none

docs(openapi): remove obsolete v3 specification (#2137)
  openapi/v3.yaml
Due: none

fix(state): assert deleted-ledger volume residue
  docs/ops/sentinel-mode.md
  docs/technical/architecture/subsystems/fsm/deterministic-fsm.md
  docs/technical/contributing/antithesis-assertions.md
  internal/infra/state/sentinel.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: cache by script's hash
  docs/technical/architecture/subsystems/scripting/numscript-library.md
  internal/domain/processing/numscript/cache.go
  internal/domain/processing/numscript/engine_bench_test.go
  internal/domain/processing/numscript/vm.go
  internal/domain/processing/numscript/vm_test.go
  internal/domain/processing/processor_transaction_numscript.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(state): account for deleted ledgers in sentinel (EN-2204) (#2091)
  docs/ops/sentinel-mode.md
  docs/technical/architecture/subsystems/fsm/README.md
  docs/technical/architecture/subsystems/fsm/deterministic-fsm.md
  docs/technical/audits/fsm-determinism-cache-coverage.json
  docs/technical/audits/fsm-determinism-cache-coverage.md
  docs/technical/contributing/antithesis-assertions.md
  internal/infra/node/delete_ledger_sentinel_recovery_test.go
  internal/infra/state/delete_ledger_sentinel_test.go
  internal/infra/state/machine.go
  internal/infra/state/sentinel.go
  internal/infra/state/write_set.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(numscript): bump to feat/register-vm-ir @52efa38 and adopt VerifiedVarsInfo
  docs/technical/architecture/subsystems/scripting/numscript-library.md
  go.mod
  go.sum
  internal/application/admission/numscript_compiled_artifact_test.go
  internal/domain/processing/numscript/cache.go
  internal/domain/processing/numscript/engine_bench_test.go
  internal/domain/processing/numscript/vm_test.go
  tests/antithesis/workload/go.mod
  tests/antithesis/workload/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
