Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

git subrepo push components/ledger
  .gitrepo
Due: none

chore: remove 'ui' and 'stickers' commands on ledger (#105)
  cmd/root.go
  cmd/stickers.go
  cmd/ui.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add a metric on bench
  benchmarks/ledger_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: fix release
  .gitignore
  .goreleaser.yml
  moon.yml
Due: none

chore(moon): Tasks management improvement
  Dockerfile
  Taskfile.yaml
  build.Dockerfile
  pkg/machine/script/parser/NumScript.interp
  pkg/machine/script/parser/NumScriptLexer.interp
Due: none

feat: add a metric on bench
  benchmarks/ledger_test.go
  go.mod
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: Improvement for GoReleaser
  .goreleaser-darwin.yml
  .goreleaser.yml
Due: none

feat: use sync.Map
  go.mod
  go.sum
  pkg/ledger/cache/cache.go
  pkg/ledger/cache/cache_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: memory leak
  Taskfile.yaml
  benchmarks/ledger_test.go
  pkg/ledger/command/commander.go
  pkg/ledger/ledger.go
  pkg/ledger/query/worker.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: if we have an error, still release all models (#141)
  pkg/storage/sqlstorage/worker/worker.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: make numscript cache configurable
  cmd/container.go
  cmd/serve.go
  pkg/ledger/command/commander.go
  pkg/ledger/command/commander_test.go
  pkg/ledger/command/compiler.go
  pkg/ledger/command/compiler_test.go
  pkg/ledger/command/state.go
  pkg/ledger/command/state_test.go
  pkg/ledger/ledger.go
  pkg/ledger/module.go
  pkg/ledger/resolver.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: extract state management from runner (#186)
  pkg/api/apierrors/errors.go
  pkg/api/controllers/account_controller.go
  pkg/api/controllers/balance_controller.go
  pkg/api/controllers/ledger_controller.go
  pkg/api/controllers/query.go
  pkg/api/controllers/transaction_controller.go
  pkg/api/controllers/transaction_controller_test.go
  pkg/ledger/errors.go
  pkg/ledger/ledger.go
  pkg/ledger/ledger_test.go
  pkg/ledger/runner/error.go
  pkg/ledger/runner/inflight.go
  pkg/ledger/runner/runner.go
  pkg/ledger/runner/runner_test.go
  pkg/ledger/state/error.go
  pkg/ledger/state/inflight.go
  pkg/ledger/state/reserve.go
  pkg/ledger/state/state.go
  pkg/ledger/state/state_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: simplify model (#169)
  pkg/api/controllers/account_controller_test.go
  pkg/core/account.go
  pkg/core/volumes.go
  pkg/ledger/cache/cache.go
  pkg/ledger/cache/cache_test.go
  pkg/ledger/ledger_test.go
  pkg/ledger/query/worker_test.go
  pkg/ledger/runner/runner_test.go
  pkg/machine/machine.go
  pkg/storage/sqlstorage/ledger/accounts.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: update dependencies and configurations for ledger service (#200)
  Dockerfile
Due: none

feat: ensure all ledgers are closed when closing the app (#208)
  Dockerfile
  pkg/api/api.go
  pkg/api/controllers/api.go
  pkg/api/controllers/api_test.go
  pkg/ledger/resolver.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

query: launch init ledger in goroutines (#219)
  pkg/ledger/query/module.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add some benchmarks
  pkg/ledger/ledger.go
  pkg/ledger/ledger_test.go
  pkg/ledger/main_test.go
  pkg/ledger/query/worker.go
  pkg/ledger/query/worker_test.go
  pkg/ledger/revert/reverter.go
  pkg/ledger/revert/reverter_test.go
  pkg/ledger/state/state.go
  pkg/storage/sqlstorage/driver_test.go
  pkg/storage/sqlstorage/ledger/store.go
  pkg/storage/sqlstorage/ledger/volumes_test.go
  pkg/storage/sqlstorage/sqlstoragetesting/storage.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: remove http basic authentication and deprecated telemetry flags (#106)
  cmd/container.go
  cmd/internal/analytics.go
  cmd/internal/analytics_test.go
  cmd/internal/http_basic.go
  cmd/internal/http_basic_test.go
  cmd/root.go
  pkg/api/routes/routes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: rebase
  go.sum
  pkg/machine/script/compiler/source.go
  pkg/machine/vm/machine.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: Numscript: return postings with zero amount (#185)
  pkg/machine/internal/funding.go
  pkg/machine/machine_test.go
  pkg/machine/vm/machine.go
  pkg/machine/vm/machine_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: merge all migrations to one (#225)
  cmd/root.go
  pkg/storage/sqlstorage/ledger/migrates/0-init-schema/postgres.sql
  pkg/storage/sqlstorage/ledger/migrates/0-init-schema/sqlite.sql
  pkg/storage/sqlstorage/ledger/migrates/1-add-triggers/postgres.sql
  pkg/storage/sqlstorage/ledger/migrates/1-add-triggers/sqlite.sql
  pkg/storage/sqlstorage/ledger/migrates/10-filter-transactions-using-regex/postgres.sql
  pkg/storage/sqlstorage/ledger/migrates/11-remove-triggers/postgres.sql
  pkg/storage/sqlstorage/ledger/migrates/11-remove-triggers/sqlite.sql
  pkg/storage/sqlstorage/ledger/migrates/12-amounts-numeric/postgres.sql
  pkg/storage/sqlstorage/ledger/migrates/13-clean-logs/any_test.go
  pkg/storage/sqlstorage/ledger/migrates/13-clean-logs/postgres.sql
  pkg/storage/sqlstorage/ledger/migrates/14-update-timestamp-column-type/postgres.sql
  pkg/storage/sqlstorage/ledger/migrates/14-update-timestamp-column-type/sqlite.sql
  pkg/storage/sqlstorage/ledger/migrates/15-add-idempotency-table/postgres.sql
  pkg/storage/sqlstorage/ledger/migrates/15-add-idempotency-table/sqlite.sql
  pkg/storage/sqlstorage/ledger/migrates/16-denormalize-addresses/postgres.sql
  pkg/storage/sqlstorage/ledger/migrates/16-denormalize-addresses/sqlite.sql
  pkg/storage/sqlstorage/ledger/migrates/17-optimized-segments/any_test.go
  pkg/storage/sqlstorage/ledger/migrates/17-optimized-segments/postgres.sql
  pkg/storage/sqlstorage/ledger/migrates/18-v2/postgres.sql
  pkg/storage/sqlstorage/ledger/migrates/2-add-meta-compare/postgres.sql
  pkg/storage/sqlstorage/ledger/migrates/2-add-meta-compare/sqlite.sql
  pkg/storage/sqlstorage/ledger/migrates/3-function-use_account/postgres.sql
  pkg/storage/sqlstorage/ledger/migrates/4-rewrite-function-use_account/postgres.sql
  pkg/storage/sqlstorage/ledger/migrates/5-drop-unused-index/postgres.sql
  pkg/storage/sqlstorage/ledger/migrates/6-add-functions-to-filter-on-tx-addresses/postgres.sql
  pkg/storage/sqlstorage/ledger/migrates/7-fix-meta_compare/postgres.sql
  pkg/storage/sqlstorage/ledger/migrates/8-add-columns-on-transactions/postgres.sql
  pkg/storage/sqlstorage/ledger/migrates/9-add-pre-post-volumes/any.go
  pkg/storage/sqlstorage/ledger/migrates/9-add-pre-post-volumes/any_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: Numscript: save from account (#199)
  pkg/machine/script/NumScript.g4
  pkg/machine/script/compiler/compiler.go
  pkg/machine/script/compiler/compiler_test.go
  pkg/machine/script/parser/NumScript.interp
  pkg/machine/script/parser/NumScript.tokens
  pkg/machine/script/parser/NumScriptLexer.interp
  pkg/machine/script/parser/NumScriptLexer.tokens
  pkg/machine/script/parser/numscript_base_listener.go
  pkg/machine/script/parser/numscript_lexer.go
  pkg/machine/script/parser/numscript_listener.go
  pkg/machine/script/parser/numscript_parser.go
  pkg/machine/vm/machine.go
  pkg/machine/vm/machine_test.go
  pkg/machine/vm/program/instructions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: local testing (#116)
  docker-compose.yml
Due: none

feat: remove sqlite from ledger (#109)
  Taskfile.yaml
  cmd/container.go
  cmd/container_test.go
  cmd/internal/analytics_test.go
  cmd/root.go
  cmd/root_test.go
  cmd/storage.go
  cmd/storage_test.go
  go.mod
  go.sum
  pkg/analytics/segment_test.go
  pkg/api/api.go
  pkg/api/controllers/transaction_controller_test.go
  pkg/api/internal/testing.go
  pkg/ledgertesting/storage.go
  pkg/storage/sqlstorage/accounts.go
  pkg/storage/sqlstorage/accounts_test.go
  pkg/storage/sqlstorage/aggregations.go
  pkg/storage/sqlstorage/balances.go
  pkg/storage/sqlstorage/driver.go
  pkg/storage/sqlstorage/driver_test.go
  pkg/storage/sqlstorage/flavor.go
  pkg/storage/sqlstorage/logs.go
  pkg/storage/sqlstorage/migrate.go
  pkg/storage/sqlstorage/migrate_test.go
  pkg/storage/sqlstorage/migrates/17-optimized-segments/any_test.go
  pkg/storage/sqlstorage/module.go
  pkg/storage/sqlstorage/schema.go
  pkg/storage/sqlstorage/sqlite.go
  pkg/storage/sqlstorage/store_ledger.go
  pkg/storage/sqlstorage/store_ledger_test.go
  pkg/storage/sqlstorage/transactions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Revert "feat: change transactions ids to uuid"
  openapi.yaml
  pkg/api/controllers/api.go
  pkg/api/controllers/api_test.go
  pkg/api/controllers/transaction_controller.go
  pkg/api/controllers/transaction_controller_test.go
  pkg/core/log.go
  pkg/core/metadata.go
  pkg/core/transaction.go
  pkg/ledger/ledger.go
  pkg/ledger/query/store.go
  pkg/ledger/query/worker.go
  pkg/ledger/query/worker_test.go
  pkg/ledger/revert/reverter.go
  pkg/ledger/revert/reverter_test.go
  pkg/ledger/runner/runner.go
  pkg/ledger/runner/runner_test.go
  pkg/storage/driver.go
  pkg/storage/sqlstorage/ledger/accounts_test.go
  pkg/storage/sqlstorage/ledger/migrates/0-init-schema/postgres.sql
  pkg/storage/sqlstorage/ledger/store_test.go
  pkg/storage/sqlstorage/ledger/transactions.go
  pkg/storage/sqlstorage/ledger/transactions_test.go
  pkg/storage/sqlstorage/migrations/migrations_test.go
  pkg/storage/sqlstorage/schema/schema.go
  pkg/storage/transactions.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: change status code from 200 to 201 on revert transactions
  openapi.yaml
  pkg/api/controllers/transaction_controller.go
  pkg/api/controllers/transaction_controller_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove unnecessary storage abstractions (#147)
  cmd/container_test.go
  cmd/internal/analytics_test.go
  cmd/storage.go
  pkg/analytics/segment.go
  pkg/analytics/segment_test.go
  pkg/api/controllers/account_controller.go
  pkg/api/controllers/account_controller_test.go
  pkg/api/controllers/balance_controller.go
  pkg/api/controllers/config_controller.go
  pkg/api/controllers/config_controller_test.go
  pkg/api/controllers/ledger_controller.go
  pkg/api/controllers/ledger_controller_test.go
  pkg/api/controllers/query.go
  pkg/api/controllers/transaction_controller.go
  pkg/api/controllers/transaction_controller_test.go
  pkg/api/internal/testing.go
  pkg/ledger/execute_script.go
  pkg/ledger/ledger.go
  pkg/ledger/ledger_test.go
  pkg/ledger/resolver.go
  pkg/ledger/stats.go
  pkg/ledgertesting/storage.go
  pkg/storage/driver.go
  pkg/storage/sqlstorage/driver.go
  pkg/storage/sqlstorage/driver_test.go
  pkg/storage/sqlstorage/ledger/accounts.go
  pkg/storage/sqlstorage/ledger/accounts_test.go
  pkg/storage/sqlstorage/ledger/balances.go
  pkg/storage/sqlstorage/ledger/balances_test.go
  pkg/storage/sqlstorage/ledger/logs.go
  pkg/storage/sqlstorage/ledger/migrates/13-clean-logs/any_test.go
  pkg/storage/sqlstorage/ledger/migrates/17-optimized-segments/any_test.go
  pkg/storage/sqlstorage/ledger/migrates/9-add-pre-post-volumes/any_test.go
  pkg/storage/sqlstorage/ledger/store.go
  pkg/storage/sqlstorage/ledger/store_test.go
  pkg/storage/sqlstorage/ledger/transactions.go
  pkg/storage/sqlstorage/ledger/transactions_test.go
  pkg/storage/sqlstorage/module.go
  pkg/storage/storage.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: Add build.Dockerfile for Ledger
  .goreleaser.yml
  build.Dockerfile
Due: none

feat: rename preview to dry run
  openapi.yaml
  pkg/api/controllers/account_controller_test.go
  pkg/api/controllers/transaction_controller.go
  pkg/api/controllers/transaction_controller_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: Webhooks integration tests (#188)
  openapi.yaml
Due: gosdk

feat: refine benchs
  Taskfile.yaml
  benchmarks/ledger_test.go
  benchmarks/main_test.go
  cmd/serve.go
  go.mod
  pkg/api/api.go
  pkg/api/routes/routes.go
  pkg/ledger/ledger_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: optimize log postgresql table (#166)
  pkg/api/controllers/transaction_controller.go
  pkg/core/log.go
  pkg/ledger/ledger.go
  pkg/storage/driver.go
  pkg/storage/sqlstorage/ledger/logs.go
  pkg/storage/sqlstorage/ledger/migrates/13-clean-logs/any_test.go
  pkg/storage/sqlstorage/ledger/migrates/18-v2/postgres.sql
  pkg/storage/sqlstorage/ledger/migrates/9-add-pre-post-volumes/any.go
  pkg/storage/sqlstorage/ledger/migrates/9-add-pre-post-volumes/any_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
