Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

fix test
  internal/README.md
  internal/storage/ledger/schema_test.go
  test/e2e/api_schema_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: Chart of accounts & tx validation (#1109)
  docs/api/README.md
  docs/events/UpdatedSchema.json
  go.mod
  internal/README.md
  internal/api/common/errors.go
  internal/api/v2/controllers_schema_insert.go
  internal/api/v2/controllers_schema_insert_test.go
  internal/api/v2/controllers_schema_read_test.go
  internal/api/v2/controllers_transactions_create.go
  internal/api/v2/views.go
  internal/chart.go
  internal/chart_test.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_default_test.go
  internal/controller/ledger/errors.go
  internal/controller/ledger/log_process.go
  internal/controller/ledger/log_process_test.go
  internal/errors.go
  internal/log.go
  internal/schema.go
  internal/storage/bucket/migrations/41-add-schema/up.sql
  internal/storage/ledger/schema_test.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/docs/models/components/dotself.md
  pkg/client/docs/models/components/v2chartrules.md
  pkg/client/docs/models/components/v2chartsegment.md
  pkg/client/docs/models/components/v2errorsenum.md
  pkg/client/docs/models/components/v2schemadata.md
  pkg/client/docs/sdks/v2/README.md
  pkg/client/models/components/v2chartrules.go
  pkg/client/models/components/v2chartsegment.go
  pkg/client/models/components/v2errorsenum.go
  pkg/client/models/components/v2schemadata.go
  pkg/client/speakeasyusagegen/.speakeasy/logs/naming.log
  test/e2e/api_schema_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: missing cors header
  internal/api/router.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: allow to use a local postgres for benchmarks
  test/performance/pkg/write/justfile
  test/performance/pkg/write/local_env_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: allow to use a local postgres for benchmarks (#1136)
  test/performance/pkg/write/justfile
  test/performance/pkg/write/local_env_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add filtering of logs using type (#1131)
  internal/api/v2/controllers_logs_list_test.go
  internal/storage/ledger/resource_logs.go
  test/e2e/api_logs_list_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: missing cors header (#1132)
  internal/api/router.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: missing cors header (#1134)
  internal/api/router.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: missing cors header (#1135)
  internal/api/router.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add operator $in (#1104)
  go.mod
  go.sum
  internal/storage/common/resource.go
  internal/storage/common/schema.go
  internal/storage/ledger/accounts_test.go
  internal/storage/ledger/balances_test.go
  internal/storage/ledger/resource_accounts.go
  internal/storage/ledger/resource_aggregated_balances.go
  internal/storage/ledger/resource_transactions.go
  internal/storage/ledger/resource_volumes.go
  internal/storage/ledger/transactions.go
  internal/storage/ledger/transactions_test.go
  internal/storage/ledger/utils.go
  internal/storage/ledger/volumes_test.go
  test/e2e/api_accounts_list_test.go
  test/e2e/api_balances_aggregated_test.go
  test/e2e/api_transactions_list_test.go
  test/e2e/api_volumes_test.go
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: optimize database indexes for query performance
  internal/storage/bucket/migrations/41-optimize-query-indexes/notes.yaml
  internal/storage/bucket/migrations/41-optimize-query-indexes/up.sql
Due: none

fix: create new indexes before dropping old ones to avoid performance degradation
  internal/storage/bucket/migrations/41-optimize-query-indexes/up.sql
Due: none

refactor: remove ledger and date columns from indexes
  internal/storage/bucket/migrations/41-optimize-query-indexes/up.sql
Due: none

refactor: split index migrations into isolated concurrent operations
  internal/storage/bucket/migrations/41-optimize-query-indexes/up.sql
  internal/storage/bucket/migrations/42-optimize-query-indexes-pit-effective/up.sql
  internal/storage/bucket/migrations/43-optimize-accounts-metadata-index/up.sql
  internal/storage/bucket/migrations/44-optimize-transactions-metadata-index/up.sql
  internal/storage/bucket/migrations/45-drop-old-indexes/up.sql
Due: none

docs: add notes.yaml files for split index migrations
  internal/storage/bucket/migrations/41-optimize-query-indexes/notes.yaml
  internal/storage/bucket/migrations/42-optimize-query-indexes-pit-effective/notes.yaml
  internal/storage/bucket/migrations/43-optimize-accounts-metadata-index/notes.yaml
  internal/storage/bucket/migrations/44-optimize-transactions-metadata-index/notes.yaml
  internal/storage/bucket/migrations/45-drop-old-indexes/notes.yaml
Due: none

fix: remove CONCURRENTLY from index creation migrations
  internal/storage/bucket/migrations/41-optimize-query-indexes/notes.yaml
  internal/storage/bucket/migrations/41-optimize-query-indexes/up.sql
  internal/storage/bucket/migrations/42-optimize-query-indexes-pit-effective/notes.yaml
  internal/storage/bucket/migrations/42-optimize-query-indexes-pit-effective/up.sql
  internal/storage/bucket/migrations/43-optimize-accounts-metadata-index/notes.yaml
  internal/storage/bucket/migrations/43-optimize-accounts-metadata-index/up.sql
  internal/storage/bucket/migrations/44-optimize-transactions-metadata-index/notes.yaml
  internal/storage/bucket/migrations/44-optimize-transactions-metadata-index/up.sql
Due: none

fix: correct column name from account_address to accounts_address in index creation
  internal/storage/bucket/migrations/41-optimize-query-indexes/up.sql
  internal/storage/bucket/migrations/42-optimize-query-indexes-pit-effective/up.sql
Due: none

fix: rename testServer variable to srv for clarity and add cleanup on service stop
  test/e2e/app_lifecycle_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: update artifact path in benchmark workflow to reflect new directory structure
  .github/workflows/benchmark.yml
Due: none

fix: set consistent chart dimensions for TPS, latency, and database stats exports
  test/performance/pkg/write/charts/src/graphs.ts
Due: none

Increase default benchmark count from 1 to 5
  .github/workflows/benchmark-comparison.yml
Due: none

fix: update condition to trigger benchmark comparison on workflow dispatch
  .github/workflows/benchmark-comparison.yml
Due: none

fix: Add concurrently
  internal/storage/bucket/migrations/41-optimize-query-indexes/up.sql
  internal/storage/bucket/migrations/42-optimize-query-indexes-pit-effective/up.sql
  internal/storage/bucket/migrations/43-optimize-accounts-metadata-index/up.sql
  internal/storage/bucket/migrations/44-optimize-transactions-metadata-index/up.sql
  internal/storage/bucket/migrations/45-add-moves-update-effective-volumes-index/up.sql
Due: none

fix: update artifact path for benchmark comparison reports
  .github/workflows/benchmark-comparison.yml
Due: none

feat: add index to optimize update_effective_volumes trigger
  internal/storage/bucket/migrations/45-add-moves-update-effective-volumes-index/notes.yaml
  internal/storage/bucket/migrations/45-add-moves-update-effective-volumes-index/up.sql
  internal/storage/bucket/migrations/46-drop-old-indexes/notes.yaml
  internal/storage/bucket/migrations/46-drop-old-indexes/up.sql
Due: none

fix: migrations
  internal/storage/bucket/migrations/41-optimize-query-indexes/up.sql
  internal/storage/bucket/migrations/42-optimize-query-indexes-pit-effective/up.sql
  internal/storage/bucket/migrations/43-optimize-accounts-metadata-index/up.sql
  internal/storage/bucket/migrations/44-optimize-transactions-metadata-index/up.sql
  internal/storage/bucket/migrations/45-add-moves-update-effective-volumes-index/up.sql
  internal/storage/bucket/migrations/46-drop-old-indexes/up.sql
Due: none

ci: upgrade benchmark config
  .github/workflows/benchmark-comparison.yml
  .github/workflows/benchmark.yml
  test/performance/pkg/write/charts/src/graphs.ts
Due: none

ci: upgrade benchmark config (#1138)
  .github/workflows/benchmark-comparison.yml
  .github/workflows/benchmark.yml
  test/performance/pkg/write/charts/src/graphs.ts
Due: none

fix: pulumi postgres chart version
  deployments/pulumi/pkg/config/config.go
  deployments/pulumi/pkg/storage/component_postgres.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: pulumi postgres chart version (#1140)
  deployments/pulumi/pkg/config/config.go
  deployments/pulumi/pkg/storage/component_postgres.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: pulumi postgres chart version (#1141)
  deployments/pulumi/pkg/config/config.go
  deployments/pulumi/pkg/storage/component_postgres.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: missing init
  deployments/pulumi/pkg/storage/component_postgres.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
