Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

feat: performance improvement
  .github/workflows/benchmark-comparison.yml
  go.mod
  go.sum
  internal/README.md
  internal/api/v2/controllers_balances.go
  internal/controller/ledger/controller_default.go
  internal/ledger_test.go
  internal/posting.go
  internal/storage/bucket/migrations/28-create-accounts-volumes-index/notes.yaml
  internal/storage/bucket/migrations/28-create-accounts-volumes-index/up.sql
  internal/storage/bucket/migrations/29-drop-accounts-volumes-pk/notes.yaml
  internal/storage/bucket/migrations/29-drop-accounts-volumes-pk/up.sql
  internal/storage/ledger/accounts.go
  internal/storage/ledger/accounts_test.go
  internal/storage/ledger/balances.go
  internal/storage/ledger/balances_test.go
  internal/storage/ledger/debug.go
  internal/storage/ledger/main_test.go
  internal/storage/ledger/moves_test.go
  internal/storage/ledger/resource.go
  internal/storage/ledger/resource_accounts.go
  internal/storage/ledger/resource_volumes.go
  internal/storage/ledger/transactions.go
  internal/storage/ledger/transactions_test.go
  internal/storage/ledger/volumes.go
  internal/storage/ledger/volumes_test.go
  pkg/features/features.go
  test/e2e/api_accounts_metadata_test.go
  test/e2e/app_lifecycle_test.go
  test/stress/stress_test.go
  tools/generator/go.mod
  tools/generator/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add leadership package
  cmd/serve.go
  internal/doc.go
  internal/leadership/leadership.go
  internal/leadership/leadership_test.go
  internal/leadership/locker.go
  internal/leadership/locker_generated_test.go
  internal/leadership/module.go
  internal/leadership/signal.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: GET /_info breaking change
  internal/api/router.go
  internal/api/v1/controllers_config.go
  internal/api/v1/routes.go
  internal/api/v2/controllers_accounts_add_metadata_test.go
  internal/api/v2/controllers_accounts_count_test.go
  internal/api/v2/controllers_accounts_delete_metadata_test.go
  internal/api/v2/controllers_accounts_list_test.go
  internal/api/v2/controllers_accounts_read_test.go
  internal/api/v2/controllers_balances_test.go
  internal/api/v2/controllers_bulk_test.go
  internal/api/v2/controllers_ledgers_create_test.go
  internal/api/v2/controllers_ledgers_delete_metadata_test.go
  internal/api/v2/controllers_ledgers_info_test.go
  internal/api/v2/controllers_ledgers_list_test.go
  internal/api/v2/controllers_ledgers_read_test.go
  internal/api/v2/controllers_ledgers_update_metadata_test.go
  internal/api/v2/controllers_logs_export_test.go
  internal/api/v2/controllers_logs_import_test.go
  internal/api/v2/controllers_logs_list_test.go
  internal/api/v2/controllers_stats_test.go
  internal/api/v2/controllers_transactions_add_metadata_test.go
  internal/api/v2/controllers_transactions_count_test.go
  internal/api/v2/controllers_transactions_create_test.go
  internal/api/v2/controllers_transactions_delete_metadata_test.go
  internal/api/v2/controllers_transactions_list_test.go
  internal/api/v2/controllers_transactions_read_test.go
  internal/api/v2/controllers_transactions_revert_test.go
  internal/api/v2/controllers_volumes_test.go
  internal/api/v2/routes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: GET /_info breaking change (#666)
  internal/api/router.go
  internal/api/v1/controllers_config.go
  internal/api/v1/routes.go
  internal/api/v2/controllers_accounts_add_metadata_test.go
  internal/api/v2/controllers_accounts_count_test.go
  internal/api/v2/controllers_accounts_delete_metadata_test.go
  internal/api/v2/controllers_accounts_list_test.go
  internal/api/v2/controllers_accounts_read_test.go
  internal/api/v2/controllers_balances_test.go
  internal/api/v2/controllers_bulk_test.go
  internal/api/v2/controllers_ledgers_create_test.go
  internal/api/v2/controllers_ledgers_delete_metadata_test.go
  internal/api/v2/controllers_ledgers_info_test.go
  internal/api/v2/controllers_ledgers_list_test.go
  internal/api/v2/controllers_ledgers_read_test.go
  internal/api/v2/controllers_ledgers_update_metadata_test.go
  internal/api/v2/controllers_logs_export_test.go
  internal/api/v2/controllers_logs_import_test.go
  internal/api/v2/controllers_logs_list_test.go
  internal/api/v2/controllers_stats_test.go
  internal/api/v2/controllers_transactions_add_metadata_test.go
  internal/api/v2/controllers_transactions_count_test.go
  internal/api/v2/controllers_transactions_create_test.go
  internal/api/v2/controllers_transactions_delete_metadata_test.go
  internal/api/v2/controllers_transactions_list_test.go
  internal/api/v2/controllers_transactions_read_test.go
  internal/api/v2/controllers_transactions_revert_test.go
  internal/api/v2/controllers_volumes_test.go
  internal/api/v2/routes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: refine
  internal/api/bulking/mocks_ledger_controller_test.go
  internal/api/common/mocks_ledger_controller_test.go
  internal/api/common/mocks_system_controller_test.go
  internal/api/v1/mocks_ledger_controller_test.go
  internal/api/v1/mocks_system_controller_test.go
  internal/api/v2/mocks_ledger_controller_test.go
  internal/api/v2/mocks_system_controller_test.go
  internal/controller/ledger/controller_generated_test.go
  internal/controller/ledger/controller_with_too_many_client_handling_generated_test.go
  internal/controller/ledger/listener_generated_test.go
  internal/controller/ledger/numscript_parser_generated_test.go
  internal/controller/ledger/numscript_runtime_generated_test.go
  internal/controller/ledger/store_generated_test.go
  internal/leadership/broadcaster.go
  internal/leadership/context.go
  internal/leadership/leadership.go
  internal/leadership/leadership_test.go
  internal/leadership/locker.go
  internal/leadership/locker_generated_test.go
  internal/leadership/main_test.go
  internal/leadership/manager.go
  internal/leadership/manager_test.go
  internal/leadership/module.go
  internal/storage/driver/buckets_generated_test.go
  internal/storage/driver/ledger_generated_test.go
  internal/storage/driver/system_generated_test.go
  pkg/testserver/server.go
  test/e2e/app_multiple_instance_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: race
  internal/api/bulking/mocks_ledger_controller_test.go
  internal/api/common/mocks_ledger_controller_test.go
  internal/api/common/mocks_system_controller_test.go
  internal/api/v1/mocks_ledger_controller_test.go
  internal/api/v1/mocks_system_controller_test.go
  internal/api/v2/mocks_ledger_controller_test.go
  internal/api/v2/mocks_system_controller_test.go
  internal/controller/ledger/controller_generated_test.go
  internal/controller/ledger/controller_with_too_many_client_handling_generated_test.go
  internal/controller/ledger/listener_generated_test.go
  internal/controller/ledger/numscript_parser_generated_test.go
  internal/controller/ledger/numscript_runtime_generated_test.go
  internal/controller/ledger/store_generated_test.go
  internal/leadership/context.go
  internal/storage/driver/buckets_generated_test.go
  internal/storage/driver/ledger_generated_test.go
  internal/storage/driver/system_generated_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: replace get_account_balance sql function call by inline query
  internal/storage/ledgerstore/balances.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: replace get_account_balance sql function call by inline query (#669)
  internal/storage/ledgerstore/balances.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: coderabbit
  internal/leadership/broadcaster.go
  internal/leadership/context.go
  internal/leadership/locker.go
  internal/leadership/manager_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: from review
  internal/leadership/broadcaster.go
  internal/leadership/mutex.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: monitor connection
  internal/leadership/leadership.go
  internal/leadership/manager.go
  internal/leadership/manager_test.go
  internal/leadership/mutex.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: add tests
  internal/leadership/broadcaster.go
  internal/leadership/broadcaster_test.go
  internal/leadership/database_handle.go
  internal/leadership/leadership.go
  internal/leadership/manager.go
  internal/leadership/manager_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add async logs blocks
  cmd/serve.go
  go.mod
  go.sum
  internal/controller/ledger/store.go
  internal/leadership/module.go
  internal/leadership/service.go
  internal/storage/async_block.go
  internal/storage/bucket/migrations/28-logs-async-hash-procedure/notes.yaml
  internal/storage/bucket/migrations/28-logs-async-hash-procedure/up.sql
  internal/storage/driver/driver.go
  internal/storage/ledger/logs_test.go
  internal/storage/ledger/main_test.go
  internal/storage/module.go
  internal/storage/system/store.go
  pkg/features/features.go
  pkg/testserver/server.go
  test/e2e/app_logs_blocks_async_test.go
  test/e2e/app_multiple_instance_test.go
  test/performance/features_test.go
  tools/generator/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: add openapi tag to satisfy global sdk
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/gen.yaml
  pkg/client/README.md
  pkg/client/USAGE.md
  pkg/client/docs/sdks/ledger/README.md
  pkg/client/docs/sdks/v2/README.md
  pkg/client/formance.go
  pkg/client/ledger.go
  pkg/client/v2.go
  pkg/testserver/api.go
  test/e2e/app_lifecycle_test.go
  test/e2e/app_multiple_instance_test.go
  test/performance/benchmark_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(ledgerstore): return zero balance for non-existing accounts
  internal/storage/ledgerstore/balances.go
  internal/storage/ledgerstore/balances_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(ledgerstore): return zero balance for non-existing accounts (#674)
  internal/storage/ledgerstore/balances.go
  internal/storage/ledgerstore/balances_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: Update OpenAPI
  docs/api/README.md
  openapi.yaml
Due: gosdk

chore: add openapi tag to satisfy global sdk (#670)
  docs/api/README.md
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/gen.yaml
  pkg/client/README.md
  pkg/client/USAGE.md
  pkg/client/docs/sdks/ledger/README.md
  pkg/client/docs/sdks/v2/README.md
  pkg/client/formance.go
  pkg/client/ledger.go
  pkg/client/v2.go
  pkg/testserver/api.go
  test/e2e/app_lifecycle_test.go
  test/e2e/app_multiple_instance_test.go
  test/performance/benchmark_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: invalid balance filter when using pit
  internal/storage/ledgerstore/accounts.go
  internal/storage/ledgerstore/accounts_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: migration using azure postgres with no superuser provileges
  internal/storage/bucket/migrations/18-transactions-fill-inserted-at/up.sql
Due: none

fix: next migration
  internal/storage/bucket/migrations/19-transactions-fill-pcv/up.sql
Due: none

fix: migration postgres azure (#681)
  internal/storage/bucket/migrations/18-transactions-fill-inserted-at/up.sql
  internal/storage/bucket/migrations/19-transactions-fill-pcv/up.sql
Due: none

feat: added numscript feature flag
  cmd/serve.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/numscript_parser.go
  internal/controller/ledger/numscript_runtime.go
  internal/controller/system/module.go
  pkg/testserver/server.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: allow passing the flag
  cmd/serve.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: use builtin function for slice string
  cmd/serve.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: changed flags list representation
  cmd/serve.go
  internal/controller/ledger/numscript_parser.go
  internal/controller/system/module.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: added numscript feature flag (#682)
  cmd/serve.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/numscript_parser.go
  internal/controller/ledger/numscript_runtime.go
  internal/controller/system/module.go
  pkg/testserver/server.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add k8s-stack pulumi app
  tools/k8s-stack/.gitignore
  tools/k8s-stack/Pulumi.yaml
  tools/k8s-stack/go.mod
  tools/k8s-stack/go.sum
  tools/k8s-stack/main.go
  tools/k8s-stack/pkg/postgres.go
  tools/k8s-stack/pkg/stack.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add k8s-stack pulumi app (#683)
  tools/k8s-stack/.gitignore
  tools/k8s-stack/Pulumi.yaml
  tools/k8s-stack/go.mod
  tools/k8s-stack/go.sum
  tools/k8s-stack/main.go
  tools/k8s-stack/pkg/postgres.go
  tools/k8s-stack/pkg/stack.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: vars type can be more than string, should be object
  openapi/v2.yaml
Due: none
