Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

feat(operator): add LedgerBackup.spec.timeout, forward as ledgerctl --timeout (#248)
  misc/operator/api/v1alpha1/ledgerbackup_types.go
  misc/operator/api/v1alpha1/zz_generated.deepcopy.go
  misc/operator/config/crd/bases/ledger.formance.com_ledgerbackups.yaml
  misc/operator/helm/crds/templates/ledger.formance.com_ledgerbackups.yaml
  misc/operator/internal/controller/backup_job.go
  misc/operator/internal/controller/backup_job_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: publish HTTP audit events asynchronously (#1364)
  cmd/serve.go
  go.mod
  go.sum
  internal/api/module.go
  internal/api/router.go
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: publish HTTP audit events asynchronously (#1365)
  cmd/serve.go
  go.mod
  go.sum
  internal/api/module.go
  internal/api/router.go
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(architecture): admission batching semantics in animation-v2 + drop old animation/ (#254)
  docs/technical/architecture/animation-v2/src/App.svelte
  docs/technical/architecture/animation-v2/src/components/Box.svelte
  docs/technical/architecture/animation-v2/src/components/CachePanel.svelte
  docs/technical/architecture/animation-v2/src/components/Diagram.svelte
  docs/technical/architecture/animation-v2/src/components/HistoryPanel.svelte
  docs/technical/architecture/animation-v2/src/components/InflightPanel.svelte
  docs/technical/architecture/animation-v2/src/components/PayloadPanel.svelte
  docs/technical/architecture/animation-v2/src/components/PebblePanel.svelte
  docs/technical/architecture/animation-v2/src/components/TxControls.svelte
  docs/technical/architecture/animation-v2/src/lib/anim.js
  docs/technical/architecture/animation-v2/src/lib/cache.js
  docs/technical/architecture/animation-v2/src/lib/compactor.js
  docs/technical/architecture/animation-v2/src/lib/controls.js
  docs/technical/architecture/animation-v2/src/lib/dots.js
  docs/technical/architecture/animation-v2/src/lib/gates.js
  docs/technical/architecture/animation-v2/src/lib/geometry.js
  docs/technical/architecture/animation-v2/src/lib/layout.js
  docs/technical/architecture/animation-v2/src/lib/locks.js
  docs/technical/architecture/animation-v2/src/lib/payloadBuilders.js
  docs/technical/architecture/animation-v2/src/lib/pebble.js
  docs/technical/architecture/animation-v2/src/lib/runCycle.js
  docs/technical/architecture/animation-v2/src/lib/snapshot.js
  docs/technical/architecture/animation-v2/src/lib/state.svelte.js
  docs/technical/architecture/animation-v2/src/lib/steps.js
  docs/technical/architecture/animation-v2/src/lib/tx.js
  docs/technical/architecture/animation-v2/src/styles/app.css
  docs/technical/architecture/animation/.gitignore
  docs/technical/architecture/animation/README.md
  docs/technical/architecture/animation/capture.mjs
  docs/technical/architecture/animation/capture.sh
  docs/technical/architecture/animation/index.html
Due: none

docs(architecture): split admission ↔ leader arcs and move block dot to arc end (#255)
  docs/technical/architecture/animation-v2/src/components/Diagram.svelte
  docs/technical/architecture/animation-v2/src/lib/geometry.js
Due: none

chore(deps): update codecov/codecov-action action to v6.0.2
  .github/workflows/main.yml
Due: none

chore(deps): update codecov/codecov-action action to v7
  .github/workflows/main.yml
Due: none

chore(deps): update codecov/codecov-action action to v7 (#1380)
  .github/workflows/main.yml
Due: none

fix(dal): cap MaxOpenFiles on OpenReadOnly to bound backup memory (#256)
  internal/storage/dal/store_operations_test.go
  internal/storage/dal/store_readonly.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(backup): surface manifest and sequence-read errors instead of masking (#236)
  internal/infra/backup/manager.go
  internal/infra/backup/manager_test.go
  internal/infra/backup/manifest.go
  internal/infra/backup/manifest_test.go
  internal/infra/backup/s3.go
  internal/infra/backup/storage.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(restore): adopt checkpoint ID 0 on boot (#237)
  cmd/ledgerctl/store/bootstrap.go
  internal/bootstrap/module_restore.go
  internal/storage/dal/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(restore): apply incremental export segments in gRPC restore path (#240)
  cmd/ledgerctl/store/bootstrap.go
  docs/ops/backup-restore.md
  internal/adapter/grpc/server_restore.go
  internal/infra/attributes/compact.go
  internal/infra/backup/manager.go
  internal/infra/backup/rebuild.go
  internal/infra/backup/restore.go
  internal/infra/backup/segment.go
  tests/e2e/cluster/restore_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(grpc): honor checkpoint_id on all read handlers, not just transactions (#246)
  docs/technical/architecture/data-model/query-checkpoints.md
  internal/adapter/grpc/server_bucket.go
  internal/application/ctrl/controller_default.go
  tests/e2e/cluster/query_checkpoint_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(backup): isolate ledgerctl JSON output via stderr + terminationMessage (#258)
  cmd/ledgerctl/cmdutil/output.go
  cmd/ledgerctl/cmdutil/output_test.go
  cmd/ledgerctl/cmdutil/pterm.go
  cmd/ledgerctl/main.go
  misc/operator/internal/controller/backup_job.go
  misc/operator/internal/controller/backup_job_test.go
  misc/operator/internal/controller/ledgerbackuprun_controller.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(backup): prune orphan files left by previously failed runs (#261)
  cmd/ledgerctl/store/backup.go
  cmd/ledgerctl/store/incremental_backup.go
  internal/adapter/grpc/server_cluster.go
  internal/infra/backup/manager.go
  internal/infra/backup/manager_test.go
  internal/infra/backup/manifest_test.go
  internal/infra/backup/s3.go
  internal/infra/backup/segment.go
  internal/infra/backup/storage.go
  internal/infra/backup/storage_generated_test.go
  internal/proto/clusterpb/cluster.pb.go
  internal/proto/clusterpb/cluster_reader.pb.go
  internal/proto/clusterpb/cluster_vtproto.pb.go
  misc/operator/api/v1alpha1/ledgerbackup_types.go
  misc/operator/config/crd/bases/ledger.formance.com_ledgerbackupruns.yaml
  misc/operator/config/crd/bases/ledger.formance.com_ledgerbackups.yaml
  misc/operator/helm/crds/templates/ledger.formance.com_ledgerbackupruns.yaml
  misc/operator/helm/crds/templates/ledger.formance.com_ledgerbackups.yaml
  misc/operator/internal/controller/backup_job.go
  misc/operator/internal/controller/ledgerbackuprun_controller.go
  misc/proto/cluster.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: only extract ledger filter from top-level AND conjunctions (#227)
  cmd/ledgerctl/indexes/create.go
  cmd/ledgerctl/indexes/drop.go
  cmd/ledgerctl/indexes/list.go
  cmd/ledgerctl/ledgers/config_model.go
  cmd/ledgerctl/logs/list.go
  docs/ops/cli.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/grpc/client_bucket.go
  internal/adapter/grpc/client_bucket_test.go
  internal/adapter/grpc/server_bucket.go
  internal/adapter/http/handlers_list_ledger_logs.go
  internal/adapter/http/handlers_list_ledger_logs_test.go
  internal/adapter/http/mock_backend_test.go
  internal/application/ctrl/controller.go
  internal/application/ctrl/controller_default.go
  internal/application/ctrl/controller_generated_test.go
  internal/application/indexbuilder/backfill.go
  internal/application/indexbuilder/backfill_test.go
  internal/application/indexbuilder/index_config.go
  internal/application/indexbuilder/index_config_test.go
  internal/application/indexbuilder/process_logs.go
  internal/bootstrap/controller_routed.go
  internal/domain/processing/processor_index.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_reader.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_reader.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  misc/proto/bucket.proto
  misc/proto/common.proto
  pkg/actions/indexes.go
  pkg/actions/read.go
  tests/antithesis/workload/bin/cmds/parallel_driver_logs/main.go
  tests/e2e/business/log_date_index_test.go
  tests/scenarios/marketplace/marketplace_test.go
  tests/scenarios/scenariotest/scenariotest.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(ledgerctl): render --analyze profile on empty result pages (#262)
  cmd/ledgerctl/accounts/list.go
  cmd/ledgerctl/transactions/list.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(logging): add --log-level=trace for max verbosity (#207)
  cmd/ledgerctl/store/bootstrap.go
  cmd/ledgerctl/store/rebuild_indexes.go
  cmd/server/otlplogs.go
  cmd/server/otlplogs_test.go
  go.mod
  go.sum
  internal/adapter/grpc/server.go
  internal/adapter/grpc/server_bucket.go
  internal/adapter/grpc/server_snapshot.go
  internal/adapter/grpc/server_snapshot_test.go
  internal/adapter/http/handler.go
  internal/application/events/emitter.go
  internal/application/indexbuilder/index_config_test.go
  internal/infra/monitoring/otlplogs/module.go
  internal/infra/monitoring/otlplogs/module_test.go
  internal/infra/monitoring/otlplogs/zap_logger.go
  internal/infra/monitoring/pyroscope/module.go
  internal/infra/node/applier.go
  internal/infra/node/logger_adapter.go
  internal/infra/node/node.go
  internal/infra/preload/preloader.go
  internal/infra/preload/resolve.go
  internal/infra/state/machine.go
  internal/infra/state/sentinel.go
  internal/infra/state/sentinel_tracer.go
  internal/query/profile.go
  internal/storage/dal/pebble_logger.go
  internal/storage/wal/wal_default.go
  misc/operator/api/v1alpha1/ledger_types.go
  misc/operator/cmd/kubectl-ledger/explain/explain_test.go
  misc/operator/cmd/kubectl-ledger/get/get.go
  misc/operator/config/crd/bases/ledger.formance.com_ledgerservices.yaml
  misc/operator/helm/crds/templates/ledger.formance.com_ledgerservices.yaml
  misc/operator/internal/controller/envvars.go
  misc/operator/internal/controller/envvars_test.go
  tests/antithesis/workload/go.mod
  tests/antithesis/workload/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(query): per-branch stats in --analyze iterator tree (#263)
  cmd/ledgerctl/cmdutil/profile.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_reader.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  internal/query/compile.go
  internal/query/profile.go
  internal/query/profile_test.go
  internal/query/tracked_iterator.go
  internal/query/tracked_iterator_test.go
  internal/storage/readstore/iterator_and.go
  internal/storage/readstore/iterator_and_test.go
  misc/proto/bucket.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(operator): use TCP probes in restore mode (#276)
  misc/operator/internal/controller/reconcile_statefulset.go
  misc/operator/internal/controller/reconcile_statefulset_probes_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(api): require resource discriminator in V2QueryParams and align server
  docs/api/README.md
  internal/query_template.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/docs/models/components/querytemplateaccountparams.md
  pkg/client/docs/models/components/querytemplatelogparams.md
  pkg/client/docs/models/components/querytemplatetransactionparams.md
  pkg/client/docs/models/components/querytemplatevolumeparams.md
  pkg/client/docs/sdks/v2/README.md
  pkg/client/models/components/v2queryparams.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(api): require resource discriminator in V2QueryParams and align server (#1362)
  docs/api/README.md
  internal/query_template.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/docs/models/components/querytemplateaccountparams.md
  pkg/client/docs/models/components/querytemplatelogparams.md
  pkg/client/docs/models/components/querytemplatetransactionparams.md
  pkg/client/docs/models/components/querytemplatevolumeparams.md
  pkg/client/docs/sdks/v2/README.md
  pkg/client/models/components/v2queryparams.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(api): require resource in V2QueryParams oneOf branches (backport #1362)
  docs/api/README.md
  internal/query_template.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/docs/models/components/querytemplateaccountparams.md
  pkg/client/docs/models/components/querytemplatelogparams.md
  pkg/client/docs/models/components/querytemplatetransactionparams.md
  pkg/client/docs/models/components/querytemplatevolumeparams.md
  pkg/client/docs/sdks/v2/README.md
  pkg/client/models/components/v2queryparams.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(antithesis): operational drivers + operator cluster-config reconciliation (#290)
  misc/operator/CLAUDE.md
  misc/operator/README.md
  misc/operator/api/v1alpha1/ledger_types.go
  misc/operator/api/v1alpha1/zz_generated.deepcopy.go
  misc/operator/config/crd/bases/ledger.formance.com_ledgerservices.yaml
  misc/operator/e2e/tests/cluster-config-rotation/chainsaw-test.yaml
  misc/operator/e2e/tests/cluster-config-rotation/ledgerservice-updated.yaml
  misc/operator/e2e/tests/cluster-config-rotation/ledgerservice.yaml
  misc/operator/helm/crds/templates/ledger.formance.com_ledgerservices.yaml
  misc/operator/internal/controller/envvars.go
  misc/operator/internal/controller/envvars_test.go
  misc/operator/internal/controller/hash_test.go
  misc/operator/internal/controller/ledger_controller.go
  misc/operator/internal/controller/reconcile_basic_test.go
  misc/operator/internal/controller/reconcile_statefulset.go
  misc/operator/internal/controller/reconcile_statefulset_test.go
  misc/operator/internal/controller/validate_cluster_config_test.go
  tests/antithesis/k8s/workload.yaml
  tests/antithesis/workload/Dockerfile
  tests/antithesis/workload/bin/cmds/parallel_driver_logs/main.go
  tests/antithesis/workload/bin/cmds/parallel_driver_metadata/main.go
  tests/antithesis/workload/bin/cmds/singleton_driver_config_change/main.go
  tests/antithesis/workload/bin/cmds/singleton_driver_quorum_recovery/main.go
  tests/antithesis/workload/bin/cmds/singleton_driver_rolling_restart/main.go
  tests/antithesis/workload/bin/cmds/singleton_driver_scaling_structured/main.go
  tests/antithesis/workload/go.mod
  tests/antithesis/workload/go.sum
  tests/antithesis/workload/internal/k8s.go
  tests/antithesis/workload/internal/ledger.go
  tests/antithesis/workload/internal/sentinel.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(api): require resource in V2QueryParams oneOf branches (backport #1362) (#1393)
  docs/api/README.md
  internal/query_template.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/docs/models/components/querytemplateaccountparams.md
  pkg/client/docs/models/components/querytemplatelogparams.md
  pkg/client/docs/models/components/querytemplatetransactionparams.md
  pkg/client/docs/models/components/querytemplatevolumeparams.md
  pkg/client/docs/sdks/v2/README.md
  pkg/client/models/components/v2queryparams.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(restore): keep the staging Pebble handle alive across restore RPCs (#294)
  cmd/ledgerctl/store/bootstrap.go
  internal/adapter/grpc/server_restore.go
  internal/infra/backup/restore.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(http): reject invalid prepared-query inputs instead of silent defaults (#264)
  internal/adapter/http/handlers_execute_prepared_query.go
  internal/adapter/http/handlers_execute_prepared_query_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(query): handle overflow when compiling exclusive filter bounds (#265)
  internal/query/compile.go
  internal/query/compile_test.go
  tests/e2e/business/transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(config): validate numeric runtime flags before fx startup (#266)
  internal/bootstrap/config.go
  internal/bootstrap/config_test.go
  internal/infra/node/config.go
  internal/infra/node/config_test.go
  internal/infra/node/transport.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(processing): capture previous account metadata before Numscript writes (#278)
  internal/domain/processing/processor_transaction_numscript.go
  internal/domain/processing/processor_transaction_test.go
  tests/e2e/business/metadata_index_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(grpc): require ScopeQueriesRead for GetNumscript and ListNumscripts (#268)
  internal/adapter/grpc/server_bucket.go
  tests/e2e/cluster/auth_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add candidate pagination for transactions
  cmd/serve.go
  internal/storage/common/resource.go
  internal/storage/driver/module.go
  internal/storage/ledger/resource_transactions.go
  internal/storage/ledger/store.go
  internal/storage/ledger/transactions_test.go
  internal/storage/ledger/utils.go
  internal/storage/ledger/utils_test.go
  internal/storage/module.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(storage): restore transactions address array indexes
  internal/storage/bucket/migrations/51-add-transactions-sources-array-index/notes.yaml
  internal/storage/bucket/migrations/51-add-transactions-sources-array-index/up.sql
  internal/storage/bucket/migrations/52-add-transactions-destinations-array-index/notes.yaml
  internal/storage/bucket/migrations/52-add-transactions-destinations-array-index/up.sql
Due: none

fix(storage): restore transactions address array indexes (#1396)
  internal/storage/bucket/migrations/51-add-transactions-sources-array-index/notes.yaml
  internal/storage/bucket/migrations/51-add-transactions-sources-array-index/up.sql
  internal/storage/bucket/migrations/52-add-transactions-destinations-array-index/notes.yaml
  internal/storage/bucket/migrations/52-add-transactions-destinations-array-index/up.sql
Due: none

fix(storage): restore transactions address array indexes (#1395)
  internal/storage/bucket/migrations/51-add-transactions-sources-array-index/notes.yaml
  internal/storage/bucket/migrations/51-add-transactions-sources-array-index/up.sql
  internal/storage/bucket/migrations/52-add-transactions-destinations-array-index/notes.yaml
  internal/storage/bucket/migrations/52-add-transactions-destinations-array-index/up.sql
Due: none

fix: fail FSM apply futures on observed Raft term advance (#219)
  internal/infra/node/applier.go
  internal/infra/node/applier_test.go
  internal/infra/node/node.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(query): add `between` keyword and coalesce AND-of-ranges on the same field (#267)
  cmd/ledgerctl/transactions/list.go
  docs/ops/cli.md
  internal/pkg/filterexpr/format.go
  internal/pkg/filterexpr/format_test.go
  internal/pkg/filterexpr/parser.go
  internal/pkg/filterexpr/parser_test.go
  internal/query/compile.go
  internal/query/compile_and_merge.go
  internal/query/compile_and_merge_test.go
  tests/e2e/business/accounts_test.go
  tests/e2e/business/prepared_queries_test.go
  tests/e2e/business/transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(events): add backoff and dedup for failed sink status updates (#291)
  AGENTS.md
  internal/application/events/emitter.go
  internal/application/events/emitter_failure_wiring_test.go
  internal/application/events/emitter_generated_test.go
  internal/application/events/sink.go
  internal/application/events/sink_failure_state.go
  internal/application/events/sink_failure_state_test.go
  internal/application/events/sink_generated_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
