Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

docs(EN-1565): fix phantom Plan.CheckCoverage reference
  docs/technical/architecture/subsystems/admission/admission-cache-horizon.md
Due: none

docs(EN-1565): re-anchor coverage-gate.md on plan.Coverage
  docs/technical/architecture/subsystems/fsm/coverage-gate.md
Due: none

docs(EN-1565): resolve two self-contradictions in cache-layers.md
  docs/technical/architecture/subsystems/fsm/cache-layers.md
Due: none

docs(EN-1565): fix broken CLAUDE.md link depth in removed-member-registry
  docs/technical/architecture/subsystems/consensus/removed-member-registry.md
Due: none

refactor(state): use Uint256.IsZero in isVolumePreloadZero
  internal/infra/state/write_set_new_volumes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(state): purge stranded pre-transient volume rows at zero balance (#1645)
  docs/technical/architecture/subsystems/usage/counters.md
  internal/infra/state/write_set_ephemeral_purge.go
  internal/infra/state/write_set_ephemeral_purge_test.go
  internal/infra/state/write_set_new_volumes.go
  tests/e2e/business/transient_accounts_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(EN-1565): correct lastPersistedIndex, loader and idempotency semantics
  docs/technical/architecture/subsystems/fsm/preload.md
Due: none

docs(EN-1565): fix FSM phase order and the Build/AcquireProposalGuard split
  docs/technical/architecture/subsystems/admission/pipeline.md
  docs/technical/architecture/subsystems/fsm/preload.md
Due: none

docs(EN-1565): correct the proposal-producer inventory
  AGENTS.md
  docs/technical/architecture/subsystems/fsm/preload.md
Due: none

docs(EN-1565): finish the Needs to Coverage migration across the docs
  .claude/skills/root-cause/SKILL.md
  docs/technical/architecture/subsystems/admission/idempotency.md
  docs/technical/architecture/subsystems/admission/pipeline.md
  docs/technical/architecture/subsystems/events-mirror/mirror.md
  docs/technical/architecture/subsystems/fsm/README.md
  docs/technical/architecture/subsystems/fsm/cache-layers.md
  docs/technical/architecture/subsystems/fsm/coverage-gate.md
  docs/technical/architecture/subsystems/scripting/numscript-library.md
Due: none

docs(EN-1565): fix marshal/guard order and the plan error inventory
  docs/technical/architecture/subsystems/fsm/preload.md
Due: none

docs(EN-1565): correct WriteOperation nil guidance, field-collapse count and admission diagram order
  docs/technical/architecture/subsystems/admission/pipeline.md
  docs/technical/architecture/subsystems/fsm/preload.md
Due: none

docs(EN-1565): stop the overview claiming a propose-time cache write
  docs/technical/architecture/subsystems/admission/idempotency.md
  docs/technical/architecture/subsystems/fsm/preload.md
Due: none

docs(EN-1565): align invariant #6 with the real preload phase split
  AGENTS.md
Due: none

docs(EN-1565): keep the seed vs coverage-only distinction in the overview
  docs/technical/architecture/subsystems/fsm/preload.md
Due: none

docs(EN-1565): stop calling AcquireProposalGuard a cache-rotation guard
  docs/technical/architecture/subsystems/admission/pipeline.md
  docs/technical/architecture/subsystems/fsm/preload.md
Due: none

docs(EN-1565): the fast path gates on aggregate coverage, not per-operation
  docs/technical/architecture/subsystems/fsm/preload.md
Due: none

fix(EN-1597): make AddressTxIterator a conforming absolute repositioner
  internal/storage/readstore/iterator_address.go
  internal/storage/readstore/iterator_address_test.go
  internal/storage/readstore/iterator_floor.go
  internal/storage/readstore/iterator_floor_test.go
  internal/storage/readstore/iterator_leaf.go
  internal/storage/readstore/iterator_pebble.go
  internal/storage/readstore/iterator_reverse.go
  tests/e2e/business/filter_nested_not_reposition_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(check): do not seed a nil baseline state for post-archive transactions
  internal/application/check/checker_archived_tx_test.go
  internal/application/check/lazy_seed_writer.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(antithesis): model-driver idempotency replay + conflict coverage
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/actions.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/checker.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/config.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/main.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/replay.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/validate.go
  tests/oracle/bulk.go
  tests/oracle/model.go
  tests/oracle/model_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(oracle): carry the idempotency key through dump replay
  tests/oracle/cmd/replay/main.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(security): redact event sink read credentials
  cmd/ledgerctl/cmdutil/format.go
  cmd/ledgerctl/events/redact.go
  docs/ops/cli.md
  docs/technical/architecture/subsystems/events-mirror/events.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/eventsink/redact.go
  internal/adapter/eventsink/redact_test.go
  internal/adapter/grpc/server_bucket.go
  internal/adapter/grpc/server_bucket_events_sinks_test.go
  internal/adapter/http/handlers_get_events_sinks.go
  internal/adapter/http/handlers_get_events_sinks_test.go
  internal/pkg/redact/redact.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(snapshot): prevent FetchFile path traversal
  docs/technical/architecture/subsystems/consensus/README.md
  docs/technical/architecture/subsystems/consensus/snapshot-file-transfer.md
  internal/adapter/grpc/file_streaming.go
  internal/adapter/grpc/file_streaming_test.go
  internal/adapter/grpc/server_snapshot.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(security): redact mirror credentials from ledger reads
  docs/technical/architecture/subsystems/events-mirror/mirror.md
  internal/adapter/grpc/server_bucket.go
  internal/adapter/grpc/server_bucket_list_test.go
  internal/adapter/http/handlers_get_ledger.go
  internal/adapter/http/handlers_get_ledger_test.go
  internal/adapter/http/handlers_list_all_ledgers.go
  internal/adapter/http/handlers_list_all_ledgers_test.go
  internal/adapter/ledgerinfo/redact.go
  internal/adapter/ledgerinfo/redact_test.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(security): redact historical credentials
  docs/technical/architecture/subsystems/api/README.md
  docs/technical/architecture/subsystems/api/secret-redaction.md
  docs/technical/contributing/api-comparison.md
  internal/application/ctrl/controller_default.go
  internal/application/ctrl/secret_read_projection.go
  internal/application/ctrl/secret_read_projection_test.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(security): redact NATS sink credentials
  internal/adapter/eventsink/redact.go
  internal/adapter/eventsink/redact_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(snapshot): cover path confinement branches
  internal/adapter/grpc/file_streaming_test.go
  internal/adapter/grpc/server_snapshot_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(security): address ledger read review feedback
  docs/technical/contributing/api-comparison.md
  internal/adapter/grpc/server_bucket_list_test.go
  internal/adapter/ledgerinfo/redact.go
  internal/adapter/ledgerinfo/redact_test.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(snapshot): confine received snapshot files
  docs/technical/architecture/subsystems/consensus/snapshot-file-transfer.md
  internal/adapter/grpc/file_streaming_test.go
  internal/adapter/grpc/server_snapshot_test.go
  internal/application/ctrl/file_fetcher.go
  internal/application/ctrl/file_receiver.go
  internal/application/ctrl/file_receiver_test.go
  internal/application/ctrl/snapshot_fetcher.go
  internal/application/ctrl/snapshot_fetcher_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(security): preserve unredacted audit evidence
  docs/technical/architecture/subsystems/api/secret-redaction.md
  internal/application/ctrl/secret_read_projection.go
  internal/application/ctrl/secret_read_projection_test.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(security): harden sink credential redaction
  cmd/ledgerctl/cmdutil/format_test.go
  cmd/ledgerctl/events/list.go
  cmd/ledgerctl/events/redact_test.go
  docs/ops/cli.md
  docs/technical/architecture/subsystems/events-mirror/events.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/eventsink/redact.go
  internal/adapter/eventsink/redact_test.go
  internal/pkg/redact/redact.go
  internal/pkg/redact/redact_test.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

test(snapshot): cover receiver confinement failures
  internal/application/ctrl/file_fetcher_test.go
  internal/application/ctrl/file_receiver_test.go
  internal/application/ctrl/snapshot_fetcher_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(http): fail loudly on a typed log with a nil payload body (EN-1537)
  internal/adapter/http/handlers_create_transaction.go
  internal/adapter/http/handlers_create_transaction_test.go
  internal/adapter/http/handlers_revert_transaction.go
  internal/adapter/http/handlers_revert_transaction_test.go
  internal/adapter/http/handlers_save_numscript.go
  internal/adapter/http/handlers_save_numscript_test.go
  internal/adapter/http/unitary_log.go
  internal/adapter/http/unitary_log_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(indexbuilder): clear LedgerLog volume-annotation lists on cursor reuse
  internal/application/indexbuilder/proto_reset.go
  internal/application/indexbuilder/proto_reset_test.go
  tests/e2e/business/index_cursor_reuse_leak_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1508): align gRPC ListLogs scope with HTTP on ledger:LedgerRead (#1630)
  docs/technical/contributing/api-comparison.md
  internal/adapter/auth/http_middleware_test.go
  internal/adapter/grpc/server_bucket.go
  internal/adapter/grpc/server_bucket_auth_test.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

test(auth): pin the EN-1506 scope decisions and fail-closed contract
  internal/adapter/auth/request_scope_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(auth): classify every top-level Apply request variant explicitly
  internal/adapter/auth/request_scope.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(auth): carry an explicit-decision flag on the request scope classifiers
  internal/adapter/auth/request_scope.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(auth): add descriptor-driven scope completeness guard
  internal/adapter/auth/request_scope_exhaustiveness_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(auth): require ledger:MetadataWrite for LedgerAction account-type edits
  internal/adapter/auth/request_scope.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests
