Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

feat(EN-1503): allow LOGS as a prepared-query target over REST (#1563)
  docs/technical/architecture/subsystems/read-path/prepared-queries.md
  internal/adapter/http/handlers_create_prepared_query.go
  internal/adapter/http/handlers_create_prepared_query_test.go
  internal/adapter/http/handlers_update_prepared_query.go
  internal/adapter/http/prepared_query_filter.go
  internal/adapter/http/prepared_query_filter_test.go
  internal/domain/errors.go
  internal/domain/prepared_query_filter_test.go
  internal/domain/processing/processor_prepared_query.go
  internal/domain/processing/processor_prepared_query_test.go
  internal/domain/validation.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common.pb.json.go
  internal/proto/commonpb/common_dethash.pb.go
  internal/proto/commonpb/common_queryfilter_validity.pb.go
  internal/proto/commonpb/common_queryfilter_validity_test.go
  internal/proto/commonpb/common_reader.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/query/compile.go
  internal/query/compile_test.go
  internal/query/executor.go
  misc/proto/common.proto
  openapi.yml
  pkg/actions/filters.go
  tests/e2e/business/prepared_queries_test.go
  tests/e2e/business/prepared_query_rest_shape_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(EN-1334): drop impossible primary-store-rollback detection from auditindexer (#1569)
  cmd/server/server.go
  docs/ops/cli.md
  internal/application/auditindexer/indexer.go
  internal/application/auditindexer/indexer_test.go
  internal/bootstrap/config.go
  internal/bootstrap/module.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(operator): address review — bound exec timeout above OTEL flush, translate OTLP mode, hermetic test
  misc/operator/internal/controller/ledger_crd_controller.go
  misc/operator/internal/controller/ledgerctl_command_test.go
  misc/operator/internal/controller/raft_scaledown.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(schemathesis): preserve non-shrink default phases, wire SCHEMATHESIS_SHRINK
  tests/schemathesis/run.sh
  tests/schemathesis/test_api.py
Due: none

Document audit-bound technical state (#1549)
  docs/technical/architecture/README.md
  docs/technical/architecture/audit-vs-technical-state.md
  docs/technical/architecture/subsystems/checker/README.md
  docs/technical/architecture/subsystems/checker/audit-chain.md
Due: none

fix(operator/EN-1487): fail-safe auth-keys reconciliation on transient Credentials non-distribution (#1551)
  misc/operator/internal/controller/cluster_controller.go
  misc/operator/internal/controller/reconcile_auth_keys.go
  misc/operator/internal/controller/reconcile_auth_keys_unit_test.go
  misc/operator/internal/controller/reconcile_cluster_secret.go
  misc/operator/internal/controller/reconcile_statefulset.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

perf(admission): cut coverage-pipeline allocations by 59% (#1558)
  internal/application/admission/admission.go
  internal/application/events/emitter.go
  internal/application/mirror/worker.go
  internal/bootstrap/backup_proposer.go
  internal/bootstrap/module.go
  internal/bootstrap/propose_technical.go
  internal/infra/plan/attribute_resolvers.go
  internal/infra/plan/builder.go
  internal/infra/plan/builder_test.go
  internal/infra/plan/coverage.go
  internal/infra/plan/coverage_bench_test.go
  internal/infra/plan/coverage_bits.go
  internal/infra/plan/coverage_bits_test.go
  internal/infra/plan/coverage_test.go
  internal/infra/plan/resolve.go
  internal/infra/plan/runner.go
  internal/infra/plan/runner_test.go
  internal/infra/plan/write_operation.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1525): fail closed when a WAL exists without its creation marker (#1564)
  internal/storage/wal/wal_default.go
  internal/storage/wal/wal_default_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(EN-1481): expose audit reads over HTTP (#1562)
  docs/technical/architecture/subsystems/api/http-api.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/http/error_handler.go
  internal/adapter/http/handler.go
  internal/adapter/http/handlers_get_audit_entry.go
  internal/adapter/http/handlers_get_audit_entry_test.go
  internal/adapter/http/handlers_list_audit_entries.go
  internal/adapter/http/handlers_list_audit_entries_test.go
  internal/adapter/http/params.go
  internal/adapter/http/response.go
  internal/application/admission/errors.go
  internal/application/admission/validate_order_test.go
  internal/proto/auditpb/audit.pb.json.go
  internal/proto/auditpb/audit_json_test.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1527): strict cache/Bloom recovery decoding, fail closed on corruption (#1566)
  internal/infra/bloom/bloom.go
  internal/infra/bloom/bloom_namespace_test.go
  internal/infra/state/cache_snapshotter.go
  internal/infra/state/cache_snapshotter_bloom_boot_ordering_test.go
  internal/infra/state/cache_snapshotter_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(check): dedup legacy dup-key fold + namespace tx-scoped metadata seeding
  internal/application/check/checker.go
  internal/application/check/verify_skipped_order_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(EN-1465): assert EN-1503 LOGS execute over the camelCase cursor envelope
  tests/e2e/business/prepared_query_rest_shape_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(EN-1334): remove offline usage-rebuild; defer correct rebuild to 3.1
  cmd/ledgerctl/store/command.go
  cmd/ledgerctl/store/rebuild_usage.go
  cmd/ledgerctl/store/rebuild_usage_test.go
  docs/ops/cli.md
  docs/technical/architecture/subsystems/usage/counters.md
  docs/technical/architecture/subsystems/usage/usagebuilder.md
  docs/technical/contributing/api-comparison.md
  internal/application/usagebuilder/builder.go
  internal/application/usagebuilder/process_audit.go
  internal/bootstrap/module.go
  internal/storage/usagestore/store.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1509): preserve typed metadata in HTTP revert-transaction requests
  docs/technical/contributing/api-comparison.md
  internal/adapter/http/handlers_revert_transaction.go
  internal/adapter/http/handlers_revert_transaction_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1510): return transaction receipt from HTTP GetTransaction
  docs/technical/contributing/api-comparison.md
  internal/adapter/http/handlers_get_transaction.go
  internal/adapter/http/handlers_get_transaction_test.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1533): stop mutating initial account types before CreateLedger audit capture
  internal/domain/processing/processor_ledger.go
  internal/domain/processing/processor_ledger_test.go
  internal/infra/state/create_ledger_account_type_aliasing_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(EN-1334): wrap transient-purge log assertion in Eventually
  tests/e2e/business/transient_accounts_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1524): preflight technical-update envelopes before mutation
  internal/infra/state/machine_technical_updates.go
  internal/infra/state/machine_technical_updates_test.go
  internal/infra/state/scope.go
  internal/infra/state/scope_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(EN-1507): expose full account-type model through HTTP create/add APIs
  cmd/ledgerctl/accounttypes/list.go
  docs/technical/contributing/api-comparison.md
  internal/adapter/http/handlers_add_account_type.go
  internal/adapter/http/handlers_add_account_type_test.go
  internal/adapter/http/handlers_create_ledger.go
  internal/adapter/http/handlers_create_ledger_test.go
  internal/adapter/http/handlers_list_account_types.go
  internal/proto/commonpb/account_type_json.go
  internal/proto/commonpb/account_type_json_test.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

test(EN-1406): exhaustive Numscript language e2e coverage
  tests/e2e/business/numscript_language_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(EN-1511): accept textual and structured filters on all filtered endpoints
  cmd/ledgerctl/cmdutil/flags.go
  docs/ops/cli.md
  docs/technical/architecture/subsystems/read-path/query-pipeline.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/http/handlers_create_prepared_query.go
  internal/adapter/http/handlers_list_accounts.go
  internal/adapter/http/handlers_list_audit_entries.go
  internal/adapter/http/handlers_list_ledger_logs.go
  internal/adapter/http/handlers_list_transactions.go
  internal/adapter/http/handlers_list_transactions_test.go
  internal/adapter/http/handlers_update_prepared_query.go
  internal/adapter/http/list_filter.go
  internal/adapter/http/prepared_query_filter.go
  internal/adapter/http/prepared_query_filter_test.go
  internal/pkg/filterexpr/decode.go
  internal/pkg/filterexpr/decode_test.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

test(e2e): assert apply-path correctness after restore (volumes + account types)
  tests/e2e/cluster/restore_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(EN-1511): harden prepared-query filter tests + doc combineFilters mutation
  internal/adapter/http/handlers_create_prepared_query_test.go
  internal/adapter/http/list_filter.go
  internal/pkg/filterexpr/decode.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

ci: upgrade third-party GitHub Actions to latest and pin to SHA
  .github/actions/default/action.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
Due: none

fix(EN-1509): preserve typed metadata in HTTP revert-transaction requests (#1570)
  docs/technical/contributing/api-comparison.md
  internal/adapter/http/handlers_revert_transaction.go
  internal/adapter/http/handlers_revert_transaction_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1533): stop mutating initial account types before CreateLedger audit capture (#1572)
  internal/domain/processing/processor_ledger.go
  internal/domain/processing/processor_ledger_test.go
  internal/infra/state/create_ledger_account_type_aliasing_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(EN-1507): expose full account-type model through HTTP create/add APIs (#1574)
  cmd/ledgerctl/accounttypes/list.go
  docs/technical/contributing/api-comparison.md
  internal/adapter/http/handlers_add_account_type.go
  internal/adapter/http/handlers_add_account_type_test.go
  internal/adapter/http/handlers_create_ledger.go
  internal/adapter/http/handlers_create_ledger_test.go
  internal/adapter/http/handlers_list_account_types.go
  internal/proto/commonpb/account_type_json.go
  internal/proto/commonpb/account_type_json_test.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(EN-1511): dual-format filter input on all filtered endpoints (#1575)
  cmd/ledgerctl/cmdutil/flags.go
  docs/ops/cli.md
  docs/technical/architecture/subsystems/read-path/query-pipeline.md
  docs/technical/contributing/api-comparison.md
  internal/adapter/http/handlers_create_prepared_query.go
  internal/adapter/http/handlers_create_prepared_query_test.go
  internal/adapter/http/handlers_list_accounts.go
  internal/adapter/http/handlers_list_audit_entries.go
  internal/adapter/http/handlers_list_ledger_logs.go
  internal/adapter/http/handlers_list_transactions.go
  internal/adapter/http/handlers_list_transactions_test.go
  internal/adapter/http/handlers_update_prepared_query.go
  internal/adapter/http/list_filter.go
  internal/adapter/http/prepared_query_filter.go
  internal/adapter/http/prepared_query_filter_test.go
  internal/pkg/filterexpr/decode.go
  internal/pkg/filterexpr/decode_test.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

test: pass color arg to NewVolumeKey in overlay_scope_test
  internal/domain/processing/overlay_scope_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

ci: upgrade third-party GitHub Actions to latest and pin to SHA (#1576)
  .github/actions/default/action.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
Due: none

test(e2e): use Account.FindVolume in reference_test after color merge
  tests/e2e/business/reference_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1542): reject pre-epoch RFC3339 bounds in HTTP log queries
  internal/adapter/http/handlers_list_ledger_logs.go
  internal/adapter/http/handlers_list_ledger_logs_test.go
  internal/adapter/http/handlers_list_transactions.go
  internal/adapter/http/list_filter.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1540): remove redundant account prefix and transaction reference HTTP filter aliases
  docs/technical/contributing/api-comparison.md
  internal/adapter/http/handlers_coverage_test.go
  internal/adapter/http/handlers_list_accounts.go
  internal/adapter/http/handlers_list_accounts_test.go
  internal/adapter/http/handlers_list_transactions.go
  internal/adapter/http/handlers_list_transactions_test.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

test(e2e): reproduce stale FSM cache reads after incremental restore
  tests/e2e/cluster/restore_stale_cache_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(backup): clear the cache zone in PrepareForBackup
  docs/ops/backup-restore.md
  docs/technical/architecture/subsystems/fsm/deterministic-fsm.md
  internal/infra/attributes/prepare.go
  internal/infra/attributes/prepare_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(backup): reconstruct boundaries, counters and the reference index on RebuildDelta
  AGENTS.md
  internal/application/check/replay_store.go
  internal/domain/replay/replay.go
  internal/domain/replay/writer.go
  internal/infra/backup/rebuild.go
  internal/infra/backup/rebuild_test.go
  tests/e2e/cluster/restore_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(backup): correct the NumscriptExecutionCount rebuildability claim
  AGENTS.md
  internal/infra/backup/rebuild.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1406): recover numscript ResolveDependencies panics off the apply loop
  internal/domain/processing/numscript/discover.go
  internal/domain/processing/numscript/errors.go
  internal/domain/processing/numscript/errors_test.go
  internal/domain/processing/processor_transaction_numscript.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests
