Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

fix: slow migration
  deployments/pulumi/pkg/component.go
  internal/storage/bucket/migrations/19-transactions-fill-pcv/up.sql
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: cache storage migration healthcheck result
  internal/storage/module.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: pg_attribute bloated
  internal/storage/bucket/migrations/11-make-stateless/up.sql
Due: none

chore: change batch sizes for migrations
  internal/storage/bucket/migrations/17-moves-fill-transaction-id/up.sql
  internal/storage/bucket/migrations/18-transactions-fill-inserted-at/up.sql
  internal/storage/bucket/migrations/20-accounts-volumes-fill-history/up.sql
  internal/storage/bucket/migrations/21-transactions-metadata-fill-transaction-id/up.sql
  internal/storage/bucket/migrations/22-accounts-metadata-fill-address/up.sql
  internal/storage/bucket/migrations/23-logs-fill-memento/up.sql
  internal/storage/driver/driver.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(bulk): regression on bulk endpoint using content type application/json (#597)
  internal/api/v2/controllers_bulk.go
  internal/api/v2/controllers_bulk_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: otel configuration
  deployments/pulumi/pkg/component.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: otel configuration (#607)
  deployments/pulumi/pkg/component.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: optimize volumes endpoint when not using pit
  internal/storage/ledger/volumes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: optimize volumes endpoint when not using pit (#608)
  internal/storage/ledger/volumes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: error handling at storage level
  internal/storage/ledger/accounts.go
  internal/storage/ledger/balances.go
  internal/storage/ledger/moves.go
  internal/storage/ledger/transactions.go
  internal/storage/ledger/volumes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: error handling at storage level (#609)
  internal/storage/ledger/accounts.go
  internal/storage/ledger/balances.go
  internal/storage/ledger/moves.go
  internal/storage/ledger/transactions.go
  internal/storage/ledger/volumes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: balance aggregation combining partial address filtering and metadata
  internal/storage/ledger/balances.go
  internal/storage/ledger/balances_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: balance aggregated with address and metadata filters (#610)
  internal/storage/ledger/balances.go
  internal/storage/ledger/balances_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: improve accounts list
  internal/storage/ledger/accounts.go
  internal/storage/ledger/accounts_test.go
  internal/storage/ledger/transactions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: refine metrics
  internal/controller/ledger/controller_with_traces.go
  internal/controller/system/controller.go
  internal/controller/system/module.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: refine metrics (#613)
  internal/controller/ledger/controller_with_traces.go
  internal/controller/system/controller.go
  internal/controller/system/module.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: Update internal/storage/ledger/paginator_offset.go
  internal/storage/ledger/paginator_offset.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: Update internal/api/v2/controllers_volumes.go
  internal/api/v2/controllers_volumes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Revert "chore: Update internal/api/v2/controllers_volumes.go"
  internal/api/v2/controllers_volumes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Revert "chore: Update internal/storage/ledger/paginator_offset.go"
  internal/storage/ledger/paginator_offset.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(openapi): insertedAt optional
  openapi.yaml
  openapi/v2.yaml
Due: gosdk

chore(openapi): pre-commit + generate-client
  docs/api/README.md
  pkg/client/.speakeasy/gen.lock
  pkg/client/docs/models/components/v2errorsenum.md
  pkg/client/docs/models/components/v2transaction.md
  pkg/client/models/components/v2errorsenum.go
  pkg/client/models/components/v2transaction.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: simplify interface
  internal/storage/ledger/accounts.go
  internal/storage/ledger/balances.go
  internal/storage/ledger/debug.go
  internal/storage/ledger/logs.go
  internal/storage/ledger/moves.go
  internal/storage/ledger/resource.go
  internal/storage/ledger/resource_accounts.go
  internal/storage/ledger/resource_aggregated_balances.go
  internal/storage/ledger/resource_logs.go
  internal/storage/ledger/resource_transactions.go
  internal/storage/ledger/resource_volumes.go
  internal/storage/ledger/store.go
  internal/storage/ledger/transactions.go
  internal/storage/ledger/volumes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: incorrect joins
  internal/controller/ledger/store.go
  internal/storage/ledger/resource.go
  internal/storage/ledger/resource_accounts.go
  internal/storage/ledger/resource_aggregated_balances.go
  internal/storage/ledger/resource_logs.go
  internal/storage/ledger/resource_transactions.go
  internal/storage/ledger/resource_volumes.go
  internal/storage/ledger/utils.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: too many loops while running migrations
  internal/storage/bucket/migrations/18-transactions-fill-inserted-at/up.sql
  internal/storage/bucket/migrations/19-transactions-fill-pcv/up.sql
  internal/storage/bucket/migrations/20-accounts-volumes-fill-history/up.sql
Due: none

feat: Add Flake
  flake.lock
  flake.nix
Due: none

ci: Rework tests
  Earthfile
  flake.nix
Due: none

ci: Rework config
  .gitignore
  Earthfile
  flake.lock
  flake.nix
Due: none

ci: Rework config
  .github/workflows/main.yml
Due: none

ci: Rework config
  .github/workflows/main.yml
  Earthfile
Due: none

ci: Rework config
  Earthfile
Due: none

feat(ledger): optimize release script in Earthfile (issue #123)
  Earthfile
Due: none

Add .envrc and update .gitignore to track it
  .envrc
  .gitignore
Due: none
