Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

chore: edit todo
  TODO
Due: none

chore: update stale comment in store_readonly.go
  internal/storage/dal/store_readonly.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: single-pass ListAccounts with volumes and metadata
  internal/health/healthcheck_generated.go
  internal/service/attributes/attributes.go
  internal/service/attributes/attributes_test.go
  internal/service/attributes/compact.go
  internal/service/ctrl/controller_default.go
  internal/service/ctrl/controller_default_generated_test.go
  internal/service/ctrl/controller_generated_test.go
  internal/service/ctrl/cursor_account.go
  internal/service/ctrl/cursor_transaction.go
  internal/service/ctrl/store.go
  internal/service/node/transport_generated_test.go
  internal/service/processing/processor_mock_test.go
  internal/storage/spool/spool_generated_test.go
  internal/storage/wal/wal_generated.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: resolve 5 pre-existing e2e test failures
  cmd/server/server.go
  internal/service/ctrl/controller_generated_test.go
  internal/service/events/emitter.go
  internal/service/events/manager.go
  internal/service/processing/processor.go
  internal/service/processing/processor_mock_test.go
  internal/storage/dal/store.go
  pkg/testserver/testcerts.go
  tests/e2e/events_sinks_clickhouse_test.go
  tests/e2e/tls_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add Pebble snapshots for point-in-time reads and single-pass ListTransactions
  cmd/ledgerctl/audit/list.go
  cmd/ledgerctl/cmdutil/ledger.go
  docs/dev/api-comparison.md
  docs/dev/architecture/api.md
  docs/dev/architecture/buckets-ledgers.md
  docs/dev/architecture/grpc-api.md
  docs/drafts/advanced-read-queries.md
  internal/application/controller_routed.go
  internal/application/grpc_ledger_client.go
  internal/application/grpc_ledger_server.go
  internal/application/grpc_stream_helper.go
  internal/compat/http/handlers_list_all_ledgers.go
  internal/proto/servicepb/service.pb.go
  internal/proto/servicepb/service_grpc.pb.go
  internal/proto/servicepb/service_vtproto.pb.go
  internal/service/attributes/attributes.go
  internal/service/ctrl/controller.go
  internal/service/ctrl/controller_default.go
  internal/service/ctrl/controller_generated_test.go
  internal/service/ctrl/store.go
  internal/storage/data/batch.go
  internal/storage/data/reader.go
  internal/storage/data/store.go
  misc/proto/service.proto
  tests/e2e/helpers_test.go
  tests/e2e/learner_test.go
  tests/e2e/ledger_delete_test.go
  tests/e2e/raft_test.go
  tests/e2e/restore_test.go
  tests/e2e/tls_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: resolve 3 e2e test failures (NATS, ClickHouse, TLS Multi-Node)
  internal/service/events/emitter.go
  internal/service/node/node.go
  tests/e2e/tls_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: stop remaining goroutines on node crash to prevent transport starvation
  internal/application/grpc_client_bucket.go
  internal/application/grpc_server_bucket.go
  internal/application/grpc_server_cluster.go
  internal/application/grpc_server_restore.go
  internal/application/grpc_server_snapshot.go
  internal/service/node/node.go
  internal/service/node/node_test.go
  tests/e2e/audit_test.go
  tests/e2e/bootstrap_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add Ed25519 response signing for Apply responses
  TODO
  cmd/ledgerctl/cmdutil/signing.go
  cmd/ledgerctl/ledgers/create.go
  cmd/ledgerctl/ledgers/delete.go
  cmd/ledgerctl/main.go
  cmd/ledgerctl/transactions/create.go
  cmd/ledgerctl/transactions/revert.go
  cmd/server/server.go
  docs/dev/api-comparison.md
  docs/ops/cli.md
  docs/ops/signing.md
  internal/application/config.go
  internal/application/grpc_server_bucket.go
  internal/application/module.go
  internal/application/persisted_config.go
  internal/crypto/signing/response_signer.go
  internal/crypto/signing/response_signer_test.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/servicepb/service.pb.go
  internal/proto/servicepb/service_grpc.pb.go
  internal/proto/servicepb/service_vtproto.pb.go
  internal/proto/signaturepb/signature.pb.go
  internal/proto/signaturepb/signature_vtproto.pb.go
  internal/service/attributes/compact.go
  misc/chart/templates/statefulset.yaml
  misc/chart/values.yaml
  misc/proto/common.proto
  misc/proto/service.proto
  misc/proto/signature.proto
  pkg/testserver/testserver.go
  tests/e2e/response_signing_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: convert 3 external test packages to internal packages
  TODO
  internal/crypto/signing/response_signer_test.go
  internal/service/attributes/hash_bench_test.go
  internal/service/state/store_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: return struct from applyProposal instead of separate booleans
  TODO
  internal/service/state/machine.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: merge connection pools and extract shared gRPC constants
  TODO
  internal/application/controller_routed.go
  internal/application/grpc_server.go
  internal/application/grpc_server_cluster.go
  internal/application/module.go
  internal/health/healthcheck.go
  internal/service/transport/connection_pool.go
  internal/service/transport/module.go
  internal/service/transport/service_pool.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: enhance audit display with order details, signing keys, and add GetAuditEntry RPC
  TODO
  cmd/ledgerctl/audit/command.go
  cmd/ledgerctl/audit/get.go
  cmd/ledgerctl/audit/list.go
  docs/dev/api-comparison.md
  docs/ops/cli.md
  internal/application/controller_routed.go
  internal/application/grpc_client_bucket.go
  internal/application/grpc_server_bucket.go
  internal/proto/servicepb/service.pb.go
  internal/proto/servicepb/service_grpc.pb.go
  internal/proto/servicepb/service_vtproto.pb.go
  internal/service/ctrl/controller.go
  internal/service/ctrl/controller_default.go
  internal/service/ctrl/controller_generated_test.go
  internal/service/state/store.go
  misc/proto/service.proto
  tests/e2e/audit_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add ListSigningKeys RPC, CLI command, and E2E tests
  TODO
  cmd/ledgerctl/signing/command.go
  cmd/ledgerctl/signing/list.go
  cmd/ledgerctl/signing/revoke_key.go
  docs/dev/api-comparison.md
  docs/ops/cli.md
  docs/ops/signing.md
  internal/application/controller_routed.go
  internal/application/grpc_client_bucket.go
  internal/application/grpc_server_bucket.go
  internal/crypto/keystore/keystore.go
  internal/crypto/keystore/keystore_test.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/raftcmdpb/raftcmd.pb.go
  internal/proto/raftcmdpb/raftcmd_vtproto.pb.go
  internal/proto/servicepb/service.pb.go
  internal/proto/servicepb/service_grpc.pb.go
  internal/proto/servicepb/service_vtproto.pb.go
  internal/service/admission/admission.go
  internal/service/admission/admission_test.go
  internal/service/check/checker_test.go
  internal/service/ctrl/controller.go
  internal/service/ctrl/controller_default.go
  internal/service/ctrl/controller_generated_test.go
  internal/service/processing/processor.go
  internal/service/processing/processor_mock_test.go
  internal/service/state/batch.go
  internal/service/state/buffer.go
  internal/service/state/machine.go
  internal/service/state/store.go
  internal/service/state/store_test.go
  misc/proto/common.proto
  misc/proto/raftcmd.proto
  misc/proto/service.proto
  tests/e2e/signing_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs: add typed metadata RFC draft
  docs/drafts/typed-metadata-rfc.md
Due: none

chore(deps): update module filippo.io/edwards25519 to v1.1.1 [security]
  go.mod
  go.sum
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: none

chore(deps): update module github.com/go-git/go-git/v5 to v5.16.5 [security]
  deployments/pulumi/go.mod
  deployments/pulumi/go.sum
Due: none

chore(deps): update module go.opentelemetry.io/otel/sdk to v1.40.0 [security]
  go.mod
  go.sum
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: none

chore(deps): update dependency npm to v11 [security]
  test/performance/pkg/write/charts/package-lock.json
  test/performance/pkg/write/charts/package.json
Due: none

feat: streaming metadata conversion with progress tracking
  cmd/ledgerctl/ledgers/get_schema.go
  docs/dev/architecture/typed-metadata.md
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  internal/service/attributes/attributes.go
  internal/service/ctrl/controller_default.go
  internal/service/processing/processor_convert_metadata.go
  internal/service/state/metadata_converter.go
  misc/proto/bucket.proto
  misc/proto/common.proto
  misc/proto/raft_cmd.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: typed read path and conversion lifecycle for transaction metadata
  docs/dev/architecture/typed-metadata.md
  internal/service/ctrl/controller_default.go
  internal/service/ctrl/cursor_transaction.go
  internal/service/processing/processor_metadata_schema.go
  internal/service/state/metadata_converter.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: HTTP schema endpoints, numscript opportunistic conversion, rename Store to InMemoryStore
  cmd/ledgerctl/cmdutil/metadata_types.go
  docs/dev/api-comparison.md
  docs/dev/architecture/typed-metadata.md
  internal/compat/http/handler.go
  internal/compat/http/handlers_get_metadata_schema.go
  internal/compat/http/handlers_remove_metadata_type.go
  internal/compat/http/handlers_set_metadata_type.go
  internal/proto/commonpb/metadata_type_parse.go
  internal/service/check/checker_test.go
  internal/service/processing/processor.go
  internal/service/processing/processor_apply.go
  internal/service/processing/processor_convert_metadata.go
  internal/service/processing/processor_events_sink.go
  internal/service/processing/processor_ledger.go
  internal/service/processing/processor_ledger_test.go
  internal/service/processing/processor_maintenance.go
  internal/service/processing/processor_metadata.go
  internal/service/processing/processor_metadata_schema.go
  internal/service/processing/processor_metadata_test.go
  internal/service/processing/processor_period.go
  internal/service/processing/processor_period_schedule.go
  internal/service/processing/processor_period_test.go
  internal/service/processing/processor_posting.go
  internal/service/processing/processor_revert_transaction.go
  internal/service/processing/processor_signing.go
  internal/service/processing/processor_test.go
  internal/service/processing/processor_transaction.go
  internal/service/processing/processor_transaction_numscript.go
  internal/service/processing/processor_transaction_test.go
  internal/service/processing/store.go
  internal/service/processing/store_mock_test.go
  internal/service/state/buffer.go
  openapi.yml
  tests/e2e/helpers_test.go
  tests/e2e/ledgerctl_typed_metadata_test.go
  tests/e2e/typed_metadata_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: Future.Broadcast, CLI terminal guard, e2e typed metadata tests
  TODO
  cmd/ledgerctl/accounts/set_metadata.go
  cmd/ledgerctl/cluster/maintenance.go
  cmd/ledgerctl/cluster/status.go
  cmd/ledgerctl/events/add_sink.go
  cmd/ledgerctl/events/list.go
  cmd/ledgerctl/events/remove_sink.go
  cmd/ledgerctl/ledgers/create.go
  cmd/ledgerctl/periods/close.go
  cmd/ledgerctl/periods/delete_schedule.go
  cmd/ledgerctl/periods/get_schedule.go
  cmd/ledgerctl/periods/list.go
  cmd/ledgerctl/periods/set_schedule.go
  cmd/ledgerctl/signing/list.go
  cmd/ledgerctl/signing/register_key.go
  cmd/ledgerctl/signing/require.go
  cmd/ledgerctl/signing/revoke_key.go
  cmd/ledgerctl/transactions/set_metadata.go
  internal/service/admission/loader_test.go
  internal/service/events/sink_clickhouse_integration_test.go
  internal/service/events/sink_kafka_integration_test.go
  internal/service/events/testmain_test.go
  internal/service/futures/future.go
  internal/service/state/archiver_test.go
  internal/service/state/period_scheduler_test.go
  internal/service/state/sealer_test.go
  internal/storage/wal/wal_default_test.go
  justfile
  tests/e2e/typed_metadata_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(deps): update module go.opentelemetry.io/otel/sdk to v1.40.0 [security] (#1265)
  go.mod
  go.sum
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: none

chore(deps): update dependency npm to v11 [security] (#1249)
  test/performance/pkg/write/charts/package-lock.json
  test/performance/pkg/write/charts/package.json
Due: none

chore(deps): update module github.com/go-git/go-git/v5 to v5.16.5 [security] (#1259)
  deployments/pulumi/go.mod
  deployments/pulumi/go.sum
Due: none

chore(deps): update module filippo.io/edwards25519 to v1.1.1 [security] (#1264)
  go.mod
  go.sum
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: none

feat: fix idempotency key propagation and add key length validation
  TODO
  docs/dev/api-comparison.md
  docs/dev/architecture/idempotency.md
  internal/application/grpc_errors.go
  internal/compat/http/error_handler.go
  internal/compat/http/handlers_coverage_test.go
  internal/compat/http/handlers_create_ledger.go
  internal/compat/http/handlers_delete_ledger.go
  internal/service/admission/admission.go
  internal/service/admission/admission_test.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: extract reusable components in OpenAPI spec to reduce redundancy
  openapi.yml
Due: gosdk

refactor: consolidate 7 extractNeeded* iterations into 2 phases + fix audit bugs
  internal/application/grpc_server_bucket.go
  internal/service/admission/admission.go
  internal/service/admission/admission_test.go
  internal/service/state/machine.go
  tests/e2e/audit_config_test.go
  tests/e2e/audit_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
