Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

fix: ledger read only mode (#565)
  internal/api/router.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

git subrepo pull --remote=ledger --branch=main --force components/ledger
  .github/FUNDING.yml
  .gitrepo
Due: none

git subrepo pull --remote=ledger --branch=main --force components/ledger
  .gitrepo
Due: none

deps: Update deps
  go.mod
  go.sum
Due: none

git subrepo pull (merge) --remote=ledger --branch=main components/ledger
  .github/workflows/main.yml
  .github/workflows/release.yml
  .gitrepo
Due: none

fix(ledger): fix curl error when publishing (#609)
  .goreleaser.ledger.yml
  .goreleaser.yml
Due: none

feat(payments): add filters for transfer-initiation (#584)
  internal/api/v1/controllers_accounts.go
  internal/api/v1/controllers_accounts_test.go
  internal/api/v1/controllers_balances.go
  internal/api/v1/controllers_balances_test.go
  internal/api/v1/controllers_info.go
  internal/api/v1/controllers_info_test.go
  internal/api/v1/controllers_transactions.go
  internal/api/v1/controllers_transactions_test.go
  internal/api/v1/utils.go
  internal/api/v2/controllers_accounts_test.go
  internal/api/v2/controllers_balances_test.go
  internal/api/v2/controllers_info_test.go
  internal/api/v2/controllers_transactions_test.go
  internal/api/v2/utils.go
  internal/storage/ledgerstore/accounts.go
  internal/storage/ledgerstore/accounts_test.go
  internal/storage/ledgerstore/balances.go
  internal/storage/ledgerstore/balances_test.go
  internal/storage/ledgerstore/logs.go
  internal/storage/ledgerstore/logs_test.go
  internal/storage/ledgerstore/transactions.go
  internal/storage/ledgerstore/transactions_test.go
  internal/storage/ledgerstore/utils.go
  libs/query/expression.go
  libs/query/expression_test.go
  libs/query/mapping.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add secrets handling for configuration (#575)
  go.mod
Due: none

chore: Add posibility for desactivate open browser
  cmd/root.go
  cmd/ui.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: Add sub-params for desactivate auto open browser (#468)
  cmd/root.go
  cmd/ui.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add a sql connection pool by ledger (#637)
  cmd/container.go
  cmd/storage.go
  go.mod
  go.sum
  internal/analytics/analytics_test.go
  internal/analytics/backend.go
  internal/analytics/backend_test.go
  internal/api/backend/backend.go
  internal/api/backend/backend_generated.go
  internal/api/v1/controllers_accounts_test.go
  internal/api/v1/controllers_balances_test.go
  internal/api/v1/controllers_config_test.go
  internal/api/v1/controllers_info_test.go
  internal/api/v1/controllers_transactions_test.go
  internal/api/v2/controllers_accounts_test.go
  internal/api/v2/controllers_balances_test.go
  internal/api/v2/controllers_config_test.go
  internal/api/v2/controllers_info_test.go
  internal/api/v2/controllers_transactions_test.go
  internal/engine/ledger.go
  internal/engine/stats.go
  internal/machine/script/parser/NumScript.interp
  internal/machine/script/parser/NumScriptLexer.interp
  internal/storage/driver/cli.go
  internal/storage/driver/driver.go
  internal/storage/ledgerstore/accounts.go
  internal/storage/ledgerstore/logs.go
  internal/storage/ledgerstore/main_test.go
  internal/storage/ledgerstore/transactions.go
  internal/storage/ledgerstore/transactions_test.go
  internal/storage/ledgerstore/utils.go
  internal/storage/storagetesting/storage.go
  libs/go.mod
  libs/go.sum
  libs/query/expression.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: share code inside libs (#642)
  internal/bus/message.go
  internal/bus/monitor.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(balances): missing delimiters for regexp
  pkg/storage/sqlstorage/balances.go
  pkg/storage/sqlstorage/balances_test.go
  pkg/storage/sqlstorage/store_ledger_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

add more tests
  pkg/ledgertesting/storage.go
  pkg/storage/sqlstorage/accounts_test.go
  pkg/storage/sqlstorage/balances_test.go
  pkg/storage/sqlstorage/store_ledger_test.go
  pkg/storage/sqlstorage/transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

uncomment
  pkg/storage/sqlstorage/store_ledger_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(balances): missing delimiters for regexp (#469)
  pkg/ledgertesting/storage.go
  pkg/storage/sqlstorage/accounts_test.go
  pkg/storage/sqlstorage/balances.go
  pkg/storage/sqlstorage/balances_test.go
  pkg/storage/sqlstorage/store_ledger_test.go
  pkg/storage/sqlstorage/transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(ledger): fix panic when checking last log id
  pkg/storage/sqlstorage/transactions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(ledger): fix panic when checking last log (#470)
  pkg/storage/sqlstorage/transactions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: Replace devbox & moon by Earthly (#647) Also add dev environment.
  Earthfile
  libs/api/utils.go
  libs/httpserver/serverport.go
  libs/moon.yml
  libs/publish/messages.go
  libs/publish/module.go
  libs/service/app.go
  libs/service/context.go
  moon.yml
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add stable cursor (#655)
  internal/api/v2/controllers_accounts_test.go
  internal/api/v2/controllers_balances_test.go
  internal/api/v2/controllers_transactions_test.go
  internal/api/v2/utils.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: slow pg tests (#786)
  internal/storage/driver/driver_test.go
  internal/storage/ledgerstore/accounts_test.go
  internal/storage/ledgerstore/balances_test.go
  internal/storage/ledgerstore/transactions_test.go
  internal/storage/paginate/pagination_column_test.go
  internal/storage/paginate/pagination_offset_test.go
  libs/migrations/migrator_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add bulk on ledger (#781)
  benchmarks/ledger_test.go
  internal/api/bulk/bulk.go
  internal/api/shared/errors.go
  internal/api/v2/controllers_bulk.go
  internal/api/v2/controllers_bulk_test.go
  internal/api/v2/controllers_transactions.go
  internal/api/v2/controllers_transactions_test.go
  internal/api/v2/routes.go
  internal/script.go
  internal/transaction.go
  libs/api/query.go
  libs/pgtesting/postgres.go
  openapi.yaml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(ledger): add tests on big int support (#827)
  internal/storage/ledgerstore/accounts_test.go
  internal/storage/ledgerstore/balances_test.go
  libs/pgtesting/postgres.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add balances aggregation by metadata (#826)
  Earthfile
  internal/api/bulk/bulk.go
  internal/api/v2/controllers_bulk.go
  internal/api/v2/controllers_bulk_test.go
  internal/api/v2/controllers_transactions_test.go
  internal/api/v2/utils.go
  internal/script.go
  internal/storage/ledgerstore/balances.go
  internal/storage/ledgerstore/balances_test.go
  internal/storage/ledgerstore/transactions.go
  internal/transaction.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: support of 'expand' on accounts list (#828)
  internal/account.go
  openapi.yaml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add 'force' query param to force reverts even if the source accounts does not have enough funds (#829)
  internal/api/backend/backend.go
  internal/api/backend/backend_generated.go
  internal/api/bulk/bulk.go
  internal/api/v1/controllers_transactions.go
  internal/api/v1/controllers_transactions_test.go
  internal/api/v2/controllers_bulk_test.go
  internal/api/v2/controllers_transactions.go
  internal/api/v2/controllers_transactions_test.go
  internal/engine/command/commander.go
  internal/engine/command/commander_test.go
  internal/engine/ledger.go
  internal/errors.go
  internal/machine/internal/funding.go
  internal/machine/machine.go
  internal/machine/machine_test.go
  internal/machine/vm/errors.go
  internal/machine/vm/machine.go
  internal/machine/vm/machine_overdraft_test.go
  internal/machine/vm/machine_test.go
  internal/numscript.go
  internal/storage/inmemory.go
  internal/storage/ledgerstore/balances_test.go
  internal/transaction.go
  openapi.yaml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: Add benchmarks (#450)
  internal/engine/command/lock.go
  libs/otlp/otlpmetrics/module.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: missing big ints un openapispec / sdk (#830)
  internal/machine/vm/machine_overdraft_test.go
  openapi.yaml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: import from https://github.com/formancehq/ledger/pull/454/files (#831)
  internal/machine/vm/machine.go
  internal/machine/vm/machine_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: update openapi for ignore old params
  pkg/api/controllers/swagger.yaml
Due: gosdk

chore: Update OpenAPI config
  pkg/api/controllers/swagger.yaml
Due: gosdk

feat: allow digits in first segment of account addresses (#839)
  Earthfile
  internal/account.go
  internal/account_test.go
  internal/machine/script/NumScript.g4
  internal/machine/script/parser/NumScriptLexer.interp
  internal/machine/script/parser/numscript_lexer.go
  internal/machine/vm/machine_test.go
  internal/machine/vm/run_test.go
  internal/posting.go
  libs/Earthfile
  libs/go.mod
  libs/logging/zapadapter.go
  libs/publish/kafka.go
  libs/publish/logging.go
  libs/publish/nats.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add configurable service at configuration level and add fallback for control (#844)
  libs/go.mod
  libs/go.sum
Due: none

fix: with earthly +pre-commit from racine (#851)
  libs/Earthfile
  libs/go.mod
  libs/go.sum
Due: none

feat: allow options (listener or bindingAddress) with opts pattern (#866)
  cmd/serve.go
  libs/httpserver/serverport.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: libs (#869)
  libs/httpserver/serverport.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests
