Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

feat: decompose scenarios into atomic blocks for Antithesis testing
  pkg/scenario/block.go
  pkg/scenario/gaming_wallet.go
  pkg/scenario/lending_lifecycle.go
  pkg/scenario/marketplace.go
  pkg/scenario/multi_currency.go
  pkg/scenario/multi_ledger_payroll.go
  pkg/scenario/subscription.go
  tests/antithesis/config/charts/ledger-operator-0.1.0.tgz
  tests/antithesis/config/templates/ledger.tmpl
  tests/antithesis/workload/Dockerfile
  tests/antithesis/workload/bin/cmds/singleton_driver_scenario_blocks/main.go
  tests/antithesis/workload/go.mod
  tests/antithesis/workload/go.sum
  tests/antithesis/workload/internal/block/block.go
  tests/antithesis/workload/internal/block/gaming/gaming.go
  tests/antithesis/workload/internal/block/lending/lending.go
  tests/antithesis/workload/internal/block/marketplace/marketplace.go
  tests/antithesis/workload/internal/block/multicurrency/multicurrency.go
  tests/antithesis/workload/internal/block/payroll/payroll.go
  tests/antithesis/workload/internal/block/subscription/subscription.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: remove multi-node Antithesis assertions and delete high_contention_marketplace k6 test
  internal/infra/node/transport.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: pre-commit
  internal/infra/node/transport.go
  pkg/scenario/block.go
  pkg/scenario/lending_lifecycle.go
  pkg/scenario/marketplace.go
  pkg/scenario/multi_currency.go
  pkg/scenario/subscription.go
  tests/antithesis/workload/go.mod
  tests/antithesis/workload/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: handle revert transaction postings lookup and improve error messages
  internal/application/admission/admission.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: discard clock skew measurement when RTT is too high
  internal/infra/health/healthcheck.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: resolve data race in applier, spool replay bug, and antithesis cluster readiness
  internal/infra/node/applier.go
  internal/infra/node/node.go
  tests/antithesis/config/charts/ledger-operator-0.1.0.tgz
  tests/antithesis/config/templates/ledger.tmpl
  tests/antithesis/config/templates/workload.tmpl
  tests/antithesis/workload/bin/init/main.go
  tests/antithesis/workload/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(deps): update security updates
  deployments/pulumi/go.mod
  deployments/pulumi/go.sum
  go.mod
  tools/generator/go.mod
  tools/provisioner/go.mod
Due: none

chore(deps): update security updates
  deployments/pulumi/go.mod
  go.mod
  go.sum
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: none

chore(deps): update codecov/codecov-action action to v5.5.3
  .github/workflows/main.yml
Due: none

chore(deps): update github actions updates
  .github/actions/default/action.yml
  .github/actions/env/action.yml
  .github/workflows/benchmark-comparison.yml
  .github/workflows/benchmark.yml
  .github/workflows/main.yml
  .github/workflows/releases.yml
Due: none

chore(deps): update security updates (#1302)
  deployments/pulumi/go.mod
  go.mod
  go.sum
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: none

chore(deps): update github actions updates (#1304)
  .github/actions/default/action.yml
  .github/actions/env/action.yml
  .github/workflows/benchmark-comparison.yml
  .github/workflows/benchmark.yml
  .github/workflows/main.yml
  .github/workflows/releases.yml
Due: none

chore(deps): update codecov/codecov-action action to v5.5.3 (#1303)
  .github/workflows/main.yml
Due: none

fix(deps): add replace directives for charmbracelet modules migrated to charm.land
  deployments/pulumi/go.mod
Due: none

fix(deps): add replace directives for charmbracelet modules migrated to charm.land (#1305)
  deployments/pulumi/go.mod
Due: none

Revert "chore(deps): update security updates (#1302)"
  deployments/pulumi/go.mod
  go.mod
  go.sum
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: none

Revert "chore(deps): update security updates (#1302)" (#1306)
  deployments/pulumi/go.mod
  go.mod
  go.sum
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: none

chore: clean
  tests/antithesis/config/charts/.gitignore
  tests/antithesis/config/charts/ledger-operator-0.1.0.tgz
  tests/perf/values.acme.yaml
Due: none

chore: upgrade Go to 1.26 from pkgs-unstable
  flake.lock
  flake.nix
Due: none

chore: refactor some justfile and add capacity to specify arbitrary yaml configuration for antithesis tests
  tests/antithesis/Justfile
  tests/antithesis/config/Justfile
  tests/antithesis/config/multi_node.yaml
  tests/antithesis/config/templates/ledger.tmpl
  tests/antithesis/config/templates/stack.yaml
  tests/antithesis/config/templates/workload.tmpl
  tests/antithesis/config/values.yaml
  tests/antithesis/workload/Justfile
Due: none

feat: queryable cold storage with Pebble SST and optional driver
  cmd/server/otlplogs.go
  cmd/server/server.go
  go.mod
  internal/adapter/auth/grpc_auth.go
  internal/adapter/grpc/errors_test.go
  internal/adapter/grpc/server.go
  internal/application/admission/admission.go
  internal/application/ctrl/controller_default.go
  internal/application/events/sink_nats_integration_test.go
  internal/bootstrap/module.go
  internal/bootstrap/module_restore.go
  internal/domain/errors.go
  internal/infra/coldstorage/coldstorage.go
  internal/infra/coldstorage/filesystem.go
  internal/infra/coldstorage/filesystem_test.go
  internal/infra/coldstorage/reader.go
  internal/infra/coldstorage/reader_test.go
  internal/infra/coldstorage/s3.go
  internal/infra/coldstorage/s3_test.go
  internal/infra/monitoring/otlplogs/module.go
  internal/infra/node/applier.go
  internal/infra/state/archiver.go
  internal/infra/state/archiver_test.go
  internal/query/log.go
  internal/query/log_test.go
  misc/operator/api/v1alpha1/ledger_types.go
  misc/operator/api/v1alpha1/zz_generated.deepcopy.go
  misc/operator/chart/crds/ledger.formance.com_ledgerdefaults.yaml
  misc/operator/chart/crds/ledger.formance.com_ledgerservices.yaml
  misc/operator/config/crd/bases/ledger.formance.com_ledgerdefaults.yaml
  misc/operator/config/crd/bases/ledger.formance.com_ledgerservices.yaml
  misc/operator/internal/controller/envvars.go
  misc/operator/internal/controller/merge.go
  misc/operator/internal/controller/reconcile_statefulset.go
  pkg/testserver/testserver.go
  tests/e2e/coldstorage/s3_archive_test.go
  tests/e2e/coldstorage/suite_test.go
  tests/scenarios/operations_lifecycle/operations_lifecycle_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: clean TODO
  TODO
Due: none

chore: update go.mod to Go 1.26.0
  go.mod
Due: none

fix(ledger): use AST analysis for lateral filter safety instead of string matching (#1297)
  internal/storage/ledger/resource_aggregated_balances.go
  internal/storage/ledger/resource_volumes.go
  internal/storage/ledger/utils.go
  internal/storage/ledger/utils_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(openapi): fix invalid $ref in v2.yaml source for sort field
  openapi/v2.yaml
Due: none

chore: tidy tools/provisioner go.mod
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: none

chore: regenerate API docs and tidy tools/generator
  docs/api/README.md
  tools/generator/go.mod
  tools/generator/go.sum
Due: none

feat: defer ledger data cleanup to purge time
  internal/application/check/checker.go
  internal/application/check/checker_test.go
  internal/application/indexbuilder/process_logs.go
  internal/domain/processing/processor_ledger.go
  internal/domain/processing/processor_ledger_test.go
  internal/domain/processing/store.go
  internal/domain/processing/store_mock_test.go
  internal/infra/state/batch.go
  internal/infra/state/buffer.go
  internal/infra/state/machine.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  internal/query/pending_ledger_cleanup.go
  internal/storage/dal/store.go
  internal/storage/readstore/delete_ledger.go
  internal/storage/readstore/write_batch.go
  misc/proto/raft_cmd.proto
  tests/e2e/business/ledger_delete_cleanup_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: ephemeral account type with automatic volume purge
  cmd/ledgerctl/accounttypes/add.go
  cmd/ledgerctl/accounttypes/get.go
  cmd/ledgerctl/accounttypes/list.go
  docs/ops/cli.md
  internal/application/check/checker.go
  internal/application/check/replay_store.go
  internal/domain/accounttype/match.go
  internal/domain/processing/processor_account_type.go
  internal/infra/state/buffer.go
  internal/infra/state/buffer_ephemeral_purge.go
  internal/infra/state/buffer_ephemeral_purge_test.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  misc/proto/common.proto
  pkg/scenario/actions/actions.go
  pkg/scenario/multi_currency.go
  tests/e2e/business/ephemeral_purge_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: bump go-libs/v4 to 56bca73d45aa (Go 1.26 fixes)
  go.mod
  go.sum
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: none

fix(test): buffer export body before import to fix Go 1.26 timeout
  test/e2e/api_ledgers_import_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: bump go-libs/v4 to v4.1.3
  go.mod
  go.sum
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: none

fix: fix import endpoint data race and SDK DrainBody issue
  internal/api/v2/controllers_logs_import.go
  pkg/client/v2.go
  test/e2e/api_ledgers_import_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(import): block on errChan after stream close instead of select
  internal/api/v2/controllers_logs_import.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: emit Antithesis lifecycle events for rare cluster operations
  internal/infra/node/applier.go
  internal/infra/node/node.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: emit Antithesis lifecycle events for gRPC connection creation/removal
  internal/infra/transport/connection_pool.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(openapi): specify ExportLogs response body as application/octet-stream
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/docs/models/operations/v2exportlogsresponse.md
  pkg/client/docs/sdks/v2/README.md
  pkg/client/models/operations/options.go
  pkg/client/models/operations/v2exportlogs.go
  pkg/client/v2.go
  test/e2e/api_ledgers_import_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: regenerate API docs after ExportLogs spec fix
  docs/api/README.md
Due: none
