Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

test: add test on transaction entity
  internal/ledger.go
  internal/transaction.go
  internal/transaction_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: tests
  go.mod
  go.sum
  internal/storage/ledger/balances.go
  pkg/testserver/api.go
  test/e2e/api_volumes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: potential double dispense on some rare case
  internal/storage/ledger/balances.go
  internal/storage/ledger/balances_test.go
  internal/storage/ledger/transactions_test.go
  internal/storage/ledger/volumes_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: ci
  .github/workflows/benchmark.yml
Due: none

feat: add logs memento
  internal/log.go
  internal/storage/bucket/migrations/29-logs-add-memento.sql
  internal/storage/ledger/logs.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add todo
  internal/storage/ledger/accounts_test.go
  test/e2e/api_balances_aggregated.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: benchmarks ci
  .github/workflows/benchmark.yml
Due: none

feat: check event schemas and values
  docs/events/CommittedTransactions.json
  docs/events/RevertedTransaction.json
  go.mod
  go.sum
  internal/api/v2/controllers_bulk_test.go
  internal/storage/bucket/migrations.go
  internal/transaction.go
  internal/volumes.go
  pkg/testserver/matchers.go
  test/e2e/integration_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: clean
  internal/storage/bucket/migrations/11-stateless.sql
Due: none

feat: let database generate all timestamps
  internal/controller/ledger/controller_default.go
  internal/ledger.go
  internal/log.go
  internal/storage/bucket/migrations/13-set-transaction-timestamp-default-utc.sql
  internal/storage/ledger/accounts.go
  internal/transaction.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: remove useless code
  internal/api/v1/controllers_transactions_create_test.go
  internal/api/v1/controllers_transactions_revert.go
  internal/api/v1/controllers_transactions_revert_test.go
  internal/api/v2/controllers_bulk.go
  internal/api/v2/controllers_bulk_test.go
  internal/api/v2/controllers_transactions_create_test.go
  internal/api/v2/controllers_transactions_revert.go
  internal/api/v2/controllers_transactions_revert_test.go
  internal/controller/ledger/controller.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_generated.go
  internal/controller/ledger/controller_with_events.go
  internal/controller/ledger/controller_with_traces.go
  internal/log.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: renaming
  go.mod
  go.sum
  test/performance/benchmark_test.go
  test/performance/charts/src/report.ts
  test/performance/report_test.go
  test/performance/write_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: add missing pgccrypto
  internal/storage/driver/migrations.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove usage of unified sdk
  go.mod
  go.sum
  internal/storage/ledger/accounts.go
  internal/storage/ledger/logs.go
  internal/storage/ledger/moves.go
  test/performance/env_remote_stack_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add some doc
  CONTRIBUTING.md
Due: none

feat: add pprof at common location
  cmd/serve.go
  go.mod
  go.sum
  internal/controller/ledger/controller_with_too_many_client_handling.go
  internal/controller/ledger/log_process.go
  pkg/testserver/server.go
  test/stress/stress_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

doc: move some things
  CONTRIBUTING.md
Due: none

fix: regexp
  internal/storage/ledger/accounts.go
  internal/storage/ledger/transactions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: some clean
  internal/storage/ledger/accounts_test.go
  internal/storage/ledger/legacy/accounts.go
  internal/storage/ledger/legacy/balances.go
  internal/storage/ledger/legacy/transactions.go
  internal/storage/ledger/legacy/volumes.go
  test/e2e/api_balances_aggregated.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: some lint
  Earthfile
  cmd/buckets_upgrade.go
  cmd/root.go
  cmd/serve.go
  internal/api/v1/api_utils_test.go
  internal/api/v1/controllers_accounts.go
  internal/api/v1/controllers_balances_aggregates.go
  internal/api/v1/controllers_logs_list.go
  internal/api/v1/controllers_transactions.go
  internal/api/v1/controllers_transactions_add_metadata_test.go
  internal/api/v1/controllers_transactions_count.go
  internal/api/v1/controllers_transactions_list.go
  internal/api/v1/controllers_transactions_revert.go
  internal/api/v1/controllers_transactions_revert_test.go
  internal/api/v1/query.go
  internal/api/v1/routes.go
  internal/bus/message.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_default_test.go
  internal/controller/system/module.go
  internal/log.go
  internal/storage/bucket/migrations.go
  internal/storage/ledger/accounts.go
  internal/storage/ledger/adapters.go
  internal/storage/ledger/balances.go
  internal/storage/ledger/debug.go
  internal/storage/ledger/migrations.go
  internal/storage/ledger/store.go
  internal/storage/ledger/transactions.go
  internal/tracing/tracer.go
  internal/transaction_test.go
  pkg/testserver/api.go
  pkg/testserver/matchers.go
  test/migrations/upgrade_test.go
  tools/docs/events/main.go
  tools/docs/flags/main.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: go libs hash and missing package in coverage
  Earthfile
  go.mod
  go.sum
Due: none

feat: remove needs to pass Dirty workflow to execute Tests workflow on github action
  .github/workflows/main.yml
Due: none

test: add some hash test and fix inconsistencies with v2
  internal/log.go
  internal/storage/ledger/logs_test.go
  internal/transaction_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: store complete revert transaction result into database
  internal/controller/ledger/controller_default.go
  internal/log.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: clean todo
  test/stress/stress_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: pre-commit
  Earthfile
  internal/README.md
Due: none

test: add some lifecycles tests
  cmd/serve.go
  pkg/testserver/api.go
  pkg/testserver/matchers.go
  pkg/testserver/server.go
  test/e2e/api_test.go
  test/e2e/environment_test.go
  test/e2e/lifecycle_test.go
  test/e2e/suite_test.go
  test/performance/benchmark_test.go
  test/performance/env_core_test.go
  test/performance/env_remote_ledger_test.go
  test/performance/env_remote_stack_test.go
  test/performance/env_test.go
  test/performance/env_testserver_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: simplify storage
  internal/storage/ledger/accounts.go
  internal/storage/ledger/accounts_test.go
  internal/storage/ledger/balances.go
  internal/storage/ledger/store.go
  internal/storage/ledger/transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove sequence of accounts
  internal/storage/bucket/migrations/11-stateless.sql
  internal/storage/ledger/accounts.go
  internal/storage/ledger/accounts_test.go
  internal/storage/ledger/balances.go
  internal/storage/ledger/balances_test.go
  internal/storage/ledger/migrations/0-add-sequences.sql
  internal/storage/ledger/moves.go
  internal/storage/ledger/moves_test.go
  internal/storage/ledger/transactions.go
  internal/storage/ledger/transactions_test.go
  internal/storage/ledger/volumes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(benchmarks): debug (#508)
  .github/workflows/benchmark.yml
Due: none

feat: factorize some code
  internal/api/router.go
  internal/controller/ledger/log_process.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: refine widdershins parameter
  Earthfile
  docs/api/README.md
Due: none

fix: cached parser
  internal/controller/system/controller.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: add some test
  internal/api/v2/common.go
  internal/api/v2/controllers_bulk.go
  internal/api/v2/controllers_transactions_create.go
  internal/api/v2/controllers_transactions_create_test.go
  internal/controller/ledger/log_process.go
  internal/ledger_test.go
  internal/storage/bucket/bucket.go
  internal/storage/ledger/store.go
  internal/transaction.go
  internal/volumes.go
  test/e2e/api_ledgers_create_test.go
  test/e2e/api_transactions_create.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: make transactions pcv computed on the fly
  internal/api/v1/controllers_transactions_create.go
  internal/api/v1/controllers_transactions_create_test.go
  internal/api/v2/controllers_transactions_create_test.go
  internal/storage/bucket/migrations/0-init-schema.sql
  internal/storage/bucket/migrations/11-stateless.sql
  internal/storage/ledger/accounts_test.go
  internal/storage/ledger/balances_test.go
  internal/storage/ledger/moves.go
  internal/storage/ledger/transactions.go
  internal/storage/ledger/transactions_test.go
  internal/storage/ledger/volumes.go
  internal/storage/system/migrations.go
  internal/transaction.go
  internal/transaction_test.go
  internal/volumes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: pre-commit
  docs/api/README.md
  openapi.yaml
Due: gosdk

feat: refine some metrics
  docker-compose.yml
  examples/jaeger-exporter/docker-compose.yml
  examples/otlp-exporter/docker-compose.yml
  internal/api/v1/middleware_auto_create_ledger.go
  internal/api/v1/routes.go
  internal/controller/ledger/controller_with_cache.go
  internal/controller/ledger/controller_with_too_many_client_handling.go
  internal/storage/ledger/accounts.go
  internal/storage/ledger/logs.go
  test/performance/benchmark_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: openapi markdown
  Earthfile
  docs/api/README.md
Due: none

feat: use _test.go suffix on generate mock files to avoid their documentation be parsed by gomarkdoc
  README.md
  internal/api/common/middleware_resolver_test.go
  internal/api/common/mocks.go
  internal/api/common/mocks_ledger_controller_test.go
  internal/api/common/mocks_system_controller_test.go
  internal/api/v1/api_utils_test.go
  internal/api/v1/mocks.go
  internal/api/v1/mocks_ledger_controller_test.go
  internal/api/v1/mocks_system_controller_test.go
  internal/api/v2/api_utils_test.go
  internal/api/v2/controllers_bulk_test.go
  internal/api/v2/mocks.go
  internal/api/v2/mocks_ledger_controller_test.go
  internal/api/v2/mocks_system_controller_test.go
  internal/controller/ledger/README.md
  internal/controller/ledger/compiler.go
  internal/controller/ledger/compiler_generated_test.go
  internal/controller/ledger/controller.go
  internal/controller/ledger/controller_generated_test.go
  internal/controller/ledger/doc.go
  internal/controller/ledger/listener.go
  internal/controller/ledger/listener_generated_test.go
  internal/controller/ledger/machine.go
  internal/controller/ledger/machine_factory.go
  internal/controller/ledger/machine_factory_generated_test.go
  internal/controller/ledger/machine_generated_test.go
  internal/controller/ledger/store.go
  internal/controller/ledger/store_generated_test.go
  internal/controller/system/controller.go
  internal/controller/system/controller_generated.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: test save metadata event for transactions
  pkg/testserver/matchers.go
  test/e2e/integration_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests
