Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

fix: machine involved accounts resolution
  pkg/machine/vm/machine.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add index on postings (#258)
  pkg/storage/sqlstorage/ledger/migrates/0-init-schema/postgres.sql
  pkg/storage/sqlstorage/ledger/transactions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: extract sources from machine (#167)
  pkg/core/address.go
  pkg/machine/machine_test.go
  pkg/machine/script/compiler/compiler.go
  pkg/machine/script/compiler/source.go
  pkg/machine/vm/program/program.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add idempotency at log level
  openapi.yaml
  pkg/api/controllers/account_controller.go
  pkg/api/controllers/account_controller_test.go
  pkg/api/controllers/api.go
  pkg/api/controllers/api_test.go
  pkg/api/controllers/query.go
  pkg/api/controllers/transaction_controller.go
  pkg/api/controllers/transaction_controller_test.go
  pkg/core/log.go
  pkg/core/numscript.go
  pkg/core/script.go
  pkg/core/transaction.go
  pkg/core/transaction_test.go
  pkg/ledger/command/commander.go
  pkg/ledger/command/commander_test.go
  pkg/ledger/command/lock.go
  pkg/ledger/command/store.go
  pkg/storage/driver.go
  pkg/storage/sqlstorage/ledger/logs.go
  pkg/storage/sqlstorage/ledger/logs_test.go
  pkg/storage/sqlstorage/ledger/migrates/0-init-schema/postgres.sql
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: refine benchs scenario
  .gitignore
  Taskfile.yaml
  pkg/ledger/ledger_test.go
  pkg/ledger/query/worker.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: fix release
  .gitignore
  .goreleaser.yml
  moon.yml
Due: none

feat: remove ledger config file (#96)
  cmd/root.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Revert "feat: change transactions ids to uuid"
  openapi.yaml
  pkg/api/controllers/api.go
  pkg/api/controllers/api_test.go
  pkg/api/controllers/transaction_controller.go
  pkg/api/controllers/transaction_controller_test.go
  pkg/core/log.go
  pkg/core/metadata.go
  pkg/core/transaction.go
  pkg/ledger/ledger.go
  pkg/ledger/query/store.go
  pkg/ledger/query/worker.go
  pkg/ledger/query/worker_test.go
  pkg/ledger/revert/reverter.go
  pkg/ledger/revert/reverter_test.go
  pkg/ledger/runner/runner.go
  pkg/ledger/runner/runner_test.go
  pkg/storage/driver.go
  pkg/storage/sqlstorage/ledger/accounts_test.go
  pkg/storage/sqlstorage/ledger/migrates/0-init-schema/postgres.sql
  pkg/storage/sqlstorage/ledger/store_test.go
  pkg/storage/sqlstorage/ledger/transactions.go
  pkg/storage/sqlstorage/ledger/transactions_test.go
  pkg/storage/sqlstorage/migrations/migrations_test.go
  pkg/storage/sqlstorage/schema/schema.go
  pkg/storage/transactions.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: readd numscript cache (#177)
  pkg/ledger/main_test.go
  pkg/ledger/numscript/compiler.go
  pkg/ledger/numscript/compiler_test.go
  pkg/ledger/runner/manager.go
  pkg/ledger/runner/runner.go
  pkg/ledger/runner/runner_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: Skip init if DB is not initialized (#171)
  pkg/api/controllers/transaction_controller_test.go
  pkg/ledger/query/worker.go
  pkg/storage/driver.go
  pkg/storage/sqlstorage/driver.go
  pkg/storage/sqlstorage/ledger/accounts.go
  pkg/storage/sqlstorage/ledger/balances.go
  pkg/storage/sqlstorage/ledger/logs.go
  pkg/storage/sqlstorage/ledger/migrates/9-add-pre-post-volumes/any_test.go
  pkg/storage/sqlstorage/ledger/store.go
  pkg/storage/sqlstorage/ledger/transactions.go
  pkg/storage/sqlstorage/ledger/volumes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: cache (concurrent read cause multiple db accesses) (#178)
  pkg/ledger/cache/cache.go
  pkg/ledger/cache/cache_test.go
  pkg/ledger/memprofile.out
  pkg/ledger/profile.out
  pkg/storage/sqlstorage/ledger/accounts_test.go
  pkg/storage/sqlstorage/ledger/store_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: optimize queries package (#187)
  pkg/api/internal/testing.go
  pkg/api/middlewares/ledger_middleware.go
  pkg/bus/module.go
  pkg/bus/monitor.go
  pkg/core/transaction.go
  pkg/ledger/ledger.go
  pkg/ledger/main_test.go
  pkg/ledger/module.go
  pkg/ledger/monitor/monitor.go
  pkg/ledger/query/module.go
  pkg/ledger/query/worker.go
  pkg/ledger/query/worker_test.go
  pkg/ledger/resolver.go
  pkg/ledgertesting/storage.go
  pkg/storage/driver.go
  pkg/storage/sqlstorage/ledger/accounts.go
  pkg/storage/sqlstorage/ledger/accounts_test.go
  pkg/storage/sqlstorage/ledger/logs.go
  pkg/storage/sqlstorage/ledger/store.go
  pkg/storage/sqlstorage/ledger/transactions.go
  pkg/storage/sqlstorage/ledger/transactions_test.go
  pkg/storage/sqlstorage/ledger/volumes.go
  pkg/storage/sqlstorage/ledger/volumes_test.go
  pkg/storage/sqlstorage/schema/schema.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: update benchmark scenario with a more real use case
  benchmarks/ledger_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: change implementation of accounts lock
  Taskfile.yaml
  pkg/ledger/command/lock.go
  pkg/ledger/ledger.go
  pkg/ledger/resolver.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: update benchmark scenario to use numscript cache
  benchmarks/ledger_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

ci: Desactive release.yml workflow
  .github/workflows/release.yml
Due: none

ci: Fix openapi generator version
  Taskfile.yaml
Due: none

feat: add stargate server and client (#297)
  go.mod
  libs/api/utils.go
  libs/publish/cli.go
  libs/publish/module_test.go
  libs/publish/nats.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: use zero value of big.Int objects
  pkg/core/volumes.go
  pkg/machine/internal/monetary.go
  pkg/storage/ledgerstore/accounts.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: transactions count using metadata filter
  pkg/api/controllers/transaction_controller.go
  pkg/api/controllers/transaction_controller_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: remove .gitrepo (useless)
  .gitrepo
  libs/.gitrepo
Due: none

chore: remove .gitrepo (useless)
  libs/.gitrepo
Due: none

ci: Simplify CI for Ledger Only
  .github/workflows/benchmarks.yaml
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  .github/workflows/pr_open_target.yml
  .github/workflows/release.yml
  .github/workflows/template_build-control.yaml
  .github/workflows/template_docker.yaml
  .github/workflows/template_goreleaser-build.yaml
  .github/workflows/template_goreleaser-release.yaml
  .github/workflows/template_sdk-generate.yaml
  .github/workflows/template_sdk-publish.yaml
  .goreleaser.ledger.yml
Due: none

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
