Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

feat: add per-sink event type filtering
  cmd/ledgerctl/events/add_sink.go
  cmd/ledgerctl/events/list.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/eventspb/events.pb.go
  internal/proto/eventspb/events_vtproto.pb.go
  internal/service/events/clickhouse_data_test.go
  internal/service/events/emitter.go
  internal/service/events/emitter_integration_test.go
  internal/service/events/event.go
  internal/service/events/event_additional_test.go
  internal/service/events/event_test.go
  internal/service/events/manager.go
  internal/service/events/sink_http_integration_test.go
  internal/service/events/sink_http_test.go
  internal/service/events/sink_kafka_integration_test.go
  internal/service/events/sink_nats_integration_test.go
  internal/service/events/sink_noop_test.go
  misc/proto/common.proto
  misc/proto/events.proto
  tests/e2e/events_sinks_nats_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: edit todo
  TODO
Due: none

docs: add Numscript typed metadata RFC and reorganize drafts
  docs/dev/numscript.md
  docs/drafts/README.md
  docs/drafts/numscript/numscript-static-inputs-rfc.md
  docs/drafts/numscript/numscript-typed-metadata-rfc.md
  docs/drafts/numscript/numscript-wasm-compilation-rfc.md
  internal/service/processing/numscript/emulate.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

allow missing transactions templates
  docs/api/README.md
  internal/controller/ledger/controller_default.go
  internal/schema.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/docs/models/components/v2schema.md
  pkg/client/docs/models/components/v2schemadata.md
  pkg/client/docs/sdks/v2/README.md
  pkg/client/models/components/v2schema.go
  pkg/client/models/components/v2schemadata.go
  test/e2e/api_schema_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

allow missing transactions templates (#1266)
  docs/api/README.md
  internal/controller/ledger/controller_default.go
  internal/schema.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/docs/models/components/v2schema.md
  pkg/client/docs/models/components/v2schemadata.md
  pkg/client/docs/sdks/v2/README.md
  pkg/client/models/components/v2schema.go
  pkg/client/models/components/v2schemadata.go
  test/e2e/api_schema_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(deps): update module github.com/nats-io/nats-server/v2 to v2.11.12 [security]
  go.mod
  go.sum
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: none

docs: graduate cold storage draft into architecture docs
  docs/dev/architecture/periods.md
  docs/drafts/README.md
  docs/drafts/data-retention-cold-storage.md
  docs/ops/deployment.md
Due: none

docs: fix obsolete package paths across documentation
  AGENTS.md
  docs/dev/architecture/api.md
  docs/dev/architecture/hybrid-logical-clock.md
  docs/dev/architecture/overview.md
  docs/dev/architecture/storage-drivers.md
  docs/dev/conventions.md
  docs/dev/development.md
  docs/dev/getting-started.md
  docs/dev/protobuf.md
  docs/dev/testing.md
  docs/drafts/advanced-concepts.md
  docs/drafts/advanced-read-queries.md
  docs/ops/backup-restore.md
  docs/ops/maintenance-mode.md
  docs/ops/signing.md
Due: none

refactor: extract internal/query/ package for read-side queries (CQRS)
  cmd/ledgerctl/store/bootstrap.go
  internal/application/grpc_server_bucket.go
  internal/application/grpc_server_restore.go
  internal/query/store.go
  internal/query/store_test.go
  internal/service/admission/admission.go
  internal/service/check/checker.go
  internal/service/ctrl/controller_default.go
  internal/service/events/emitter.go
  internal/service/node/node.go
  internal/service/node/node_period_test.go
  internal/service/node/node_test.go
  internal/service/state/audit_test.go
  internal/service/state/batch_extended_test.go
  internal/service/state/helpers_test.go
  internal/service/state/machine.go
  internal/service/state/machine_helpers_test.go
  internal/service/state/machine_hlc_test.go
  internal/service/state/metadata_converter.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: decompose state/Machine god object via composition
  internal/service/state/buffer.go
  internal/service/state/buffer_test.go
  internal/service/state/machine.go
  internal/service/state/machine_helpers_test.go
  internal/service/state/machine_test.go
  internal/service/state/period_tracker.go
  internal/service/state/period_tracker_test.go
  internal/service/state/registry.go
  internal/service/state/registry_derived.go
  internal/service/state/registry_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(deps): update module github.com/cloudflare/circl to v1.6.3 [security]
  deployments/pulumi/go.mod
  deployments/pulumi/go.sum
Due: none

feat: add JWT/OIDC authentication with scope-based authorization
  TODO
  cmd/server/server.go
  docs/dev/architecture/api.md
  docs/ops/authentication.md
  docs/ops/cli.md
  go.mod
  go.sum
  internal/adapter/auth/context.go
  internal/adapter/auth/context_test.go
  internal/adapter/auth/grpc_auth.go
  internal/adapter/auth/grpc_auth_test.go
  internal/adapter/auth/http_middleware.go
  internal/adapter/auth/http_middleware_test.go
  internal/adapter/auth/scopes.go
  internal/adapter/auth/scopes_test.go
  internal/adapter/grpc/server.go
  internal/adapter/grpc/server_bucket.go
  internal/adapter/grpc/server_cluster.go
  internal/adapter/http/handler.go
  internal/adapter/http/handlers_coverage_test.go
  internal/bootstrap/config.go
  internal/bootstrap/module.go
  openapi.yml
  pkg/testserver/testserver.go
  tests/e2e/auth_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: extract common worker lifecycle into internal/pkg/worker
  internal/application/events/manager.go
  internal/bootstrap/module.go
  internal/infra/health/healthcheck.go
  internal/infra/monitoring/diskusage/diskusage.go
  internal/infra/monitoring/diskusage/diskusage_test.go
  internal/infra/node/node_period_test.go
  internal/infra/state/archiver.go
  internal/infra/state/metadata_converter.go
  internal/infra/state/period_scheduler.go
  internal/infra/state/sealer.go
  internal/infra/state/sealer_test.go
  internal/pkg/worker/channel.go
  internal/pkg/worker/lifecycle.go
  internal/pkg/worker/retry.go
  internal/pkg/worker/ticker.go
  internal/pkg/worker/worker.go
  internal/pkg/worker/worker_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: print error message when kubectl-ledger commands fail
  misc/operator/cmd/kubectl-ledger/main.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add ingress validation and smart path defaults in operator
  misc/operator/cmd/kubectl-ledger/cmdutil/wizard.go
  misc/operator/cmd/kubectl-ledger/config/edit.go
  misc/operator/cmd/kubectl-ledger/explain/explain.go
  misc/operator/internal/controller/ledger_controller.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add operator envtest integration tests and fix reconciler bugs
  docs/dev/testing.md
  misc/operator/internal/controller/ledger_controller.go
  misc/operator/internal/controller/reconcile_basic_test.go
  misc/operator/internal/controller/reconcile_defaults_test.go
  misc/operator/internal/controller/reconcile_ingress_test.go
  misc/operator/internal/controller/reconcile_pdb_test.go
  misc/operator/internal/controller/reconcile_status_test.go
  misc/operator/internal/controller/reconcile_update_test.go
  misc/operator/internal/controller/reconcile_validation_test.go
  misc/operator/internal/controller/suite_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add kubectl-ledger plugin for managing Ledger CRDs
  justfile
  misc/operator/cmd/kubectl-ledger/cmdutil/client.go
  misc/operator/cmd/kubectl-ledger/cmdutil/output.go
  misc/operator/cmd/kubectl-ledger/cmdutil/resource.go
  misc/operator/cmd/kubectl-ledger/config/command.go
  misc/operator/cmd/kubectl-ledger/config/edit.go
  misc/operator/cmd/kubectl-ledger/config/view.go
  misc/operator/cmd/kubectl-ledger/create/create.go
  misc/operator/cmd/kubectl-ledger/delete/delete.go
  misc/operator/cmd/kubectl-ledger/get/get.go
  misc/operator/cmd/kubectl-ledger/list/list.go
  misc/operator/cmd/kubectl-ledger/logs/logs.go
  misc/operator/cmd/kubectl-ledger/main.go
  misc/operator/cmd/kubectl-ledger/portforward/portforward.go
  misc/operator/cmd/kubectl-ledger/restart/restart.go
  misc/operator/cmd/kubectl-ledger/root.go
  misc/operator/cmd/kubectl-ledger/scale/scale.go
  misc/operator/cmd/kubectl-ledger/status/status.go
  misc/operator/cmd/kubectl-ledger/version.go
  misc/operator/go.mod
  misc/operator/go.sum
  misc/operator/justfile
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add interactive wizards, command aliases, explain command, and image outputs
  .gitignore
  misc/devenv/main.go
  misc/operator/cmd/kubectl-ledger/cmdutil/output.go
  misc/operator/cmd/kubectl-ledger/cmdutil/resource.go
  misc/operator/cmd/kubectl-ledger/cmdutil/wizard.go
  misc/operator/cmd/kubectl-ledger/config/command.go
  misc/operator/cmd/kubectl-ledger/config/edit.go
  misc/operator/cmd/kubectl-ledger/config/view.go
  misc/operator/cmd/kubectl-ledger/create/create.go
  misc/operator/cmd/kubectl-ledger/delete/delete.go
  misc/operator/cmd/kubectl-ledger/explain/explain.go
  misc/operator/cmd/kubectl-ledger/get/get.go
  misc/operator/cmd/kubectl-ledger/list/list.go
  misc/operator/cmd/kubectl-ledger/logs/logs.go
  misc/operator/cmd/kubectl-ledger/portforward/portforward.go
  misc/operator/cmd/kubectl-ledger/restart/restart.go
  misc/operator/cmd/kubectl-ledger/root.go
  misc/operator/cmd/kubectl-ledger/scale/scale.go
  misc/operator/cmd/kubectl-ledger/status/status.go
  misc/operator/justfile
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: upgrade Go to 1.26.0 and update nix flake for Go toolchain
  Dockerfile
  flake.lock
  flake.nix
  go.mod
  internal/proto/auditpb/audit.pb.go
  internal/proto/clusterpb/cluster.pb.go
  internal/proto/clusterpb/cluster_grpc.pb.go
  internal/proto/commonpb/common.pb.go
  internal/proto/eventspb/events.pb.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/rafttransportpb/raft_transport.pb.go
  internal/proto/rafttransportpb/raft_transport_grpc.pb.go
  internal/proto/restorepb/restore.pb.go
  internal/proto/restorepb/restore_grpc.pb.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_grpc.pb.go
  internal/proto/signaturepb/signature.pb.go
  internal/proto/snapshotpb/snapshot.pb.go
  internal/proto/snapshotpb/snapshot_grpc.pb.go
  misc/benchmark-operator/Dockerfile
  misc/benchmark-operator/go.mod
  misc/devenv/go.mod
  misc/operator/Dockerfile
  misc/operator/go.mod
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(operator): merge ColdStorage config at field level to inherit S3 from defaults
  misc/operator/internal/controller/merge.go
  misc/operator/internal/controller/merge_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: tune Pebble memory and inject GOMEMLIMIT to prevent OOM on 2GB pods
  misc/devenv/values/devenv-ledger-exp/ledger.yaml
  misc/devenv/values/staging/ledger.yaml
  misc/operator/config/samples/ledger_v1alpha1_ledgerdefaults.yaml
  misc/operator/internal/controller/envvars.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(devenv): use pulumi.Map for image spec to fix LedgerDefaults update detection
  misc/devenv/main.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(kubectl-plugin): clear screen between menu navigations in edit command
  misc/operator/cmd/kubectl-ledger/cmdutil/editor.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: replace reversion KeyStore with in-memory bitset
  docs/dev/architecture/attributes.md
  docs/dev/architecture/deterministic-fsm.md
  docs/dev/architecture/storage.md
  docs/ops/correctness.md
  internal/application/admission/admission.go
  internal/application/admission/admission_test.go
  internal/application/admission/loader.go
  internal/application/admission/loader_test.go
  internal/application/check/checker.go
  internal/application/check/checker_test.go
  internal/domain/bitset.go
  internal/domain/processing/processor_revert_transaction.go
  internal/infra/attributes/attributes_helpers_test.go
  internal/infra/attributes/compact.go
  internal/infra/attributes/module.go
  internal/infra/cache/cache.go
  internal/infra/state/buffer.go
  internal/infra/state/buffer_test.go
  internal/infra/state/machine.go
  internal/infra/state/registry.go
  internal/infra/state/registry_derived.go
  internal/infra/state/registry_test.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  internal/storage/dal/store.go
  misc/proto/common.proto
  misc/proto/raft_cmd.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add opt-in postCommitVolumes via expandVolumes flag
  TODO
  cmd/ledgerctl/transactions/create.go
  cmd/ledgerctl/transactions/display_volumes.go
  cmd/ledgerctl/transactions/revert.go
  docs/dev/api-comparison.md
  docs/ops/cli.md
  internal/adapter/http/handlers_revert_transaction.go
  internal/application/admission/admission.go
  internal/application/admission/admission_test.go
  internal/domain/processing/numscript/emulate.go
  internal/domain/processing/numscript/emulate_test.go
  internal/domain/processing/processor_revert_transaction.go
  internal/domain/processing/processor_transaction.go
  internal/domain/processing/processor_volumes.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  misc/proto/bucket.proto
  misc/proto/common.proto
  misc/proto/raft_cmd.proto
  openapi.yml
  tests/e2e/helpers_test.go
  tests/e2e/reversions_test.go
  tests/e2e/transactions_test.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

test: add focused unit tests for the Applier
  internal/infra/node/applier_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: extract Applier from Node to decouple WAL writes from FSM application
  TODO
  docs/dev/architecture/data-flows.md
  docs/dev/architecture/overview.md
  docs/dev/architecture/raft-consensus.md
  docs/dev/architecture/spool.md
  internal/infra/node/applier.go
  internal/infra/node/node.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: make --cluster-id required to prevent cold storage key collisions
  internal/bootstrap/config.go
  internal/bootstrap/module.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests
