Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

wip: improve
  test/antithesis/workload/bin/cmds/anytime_version_upgrade/main.go
  test/antithesis/workload/bin/cmds/first_default_ledger/main.go
  test/antithesis/workload/bin/cmds/parallel_driver_ledger_create/main.go
  test/antithesis/workload/bin/cmds/parallel_driver_transactions/main.go
  test/antithesis/workload/datagen/example.json
  test/antithesis/workload/datagen/main.go
  test/antithesis/workload/internal/utils.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs: add documentation, tests and update OpenAPI for bucket deletion
  docs/bucket-deletion.md
  internal/api/v2/buckets_test.go
  openapi/v2.yaml
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: correct time type conversion for bucket deletion
  internal/storage/system/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: update store interface and API response method
  internal/api/v2/buckets.go
  internal/storage/system/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: implement bucket deletion functionality
  cmd/buckets.go
  internal/api/v2/buckets.go
  internal/api/v2/routes.go
  internal/controller/system/controller.go
  internal/controller/system/errors.go
  internal/controller/system/store.go
  internal/ledger.go
  internal/storage/driver/driver.go
  internal/storage/system/migrations.go
  internal/storage/system/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: update mock controllers with bucket deletion methods
  internal/api/common/mocks_system_controller_test.go
  internal/api/v1/mocks_system_controller_test.go
  internal/api/v2/mocks_system_controller_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: correct mock controller references and API method
  internal/api/common/mocks_system_controller_test.go
  internal/api/v1/mocks_system_controller_test.go
  internal/api/v2/buckets.go
  internal/api/v2/buckets_test.go
  internal/api/v2/mocks_system_controller_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: change api.Ok to api.RenderJSON in buckets.go
  internal/api/v2/buckets.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: correct import syntax in mock controller test file
  internal/api/v2/mocks_system_controller_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: use correct time type for bucket deletion
  internal/storage/system/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: correct API method and OpenAPI schema
  internal/api/v2/buckets.go
  openapi.yaml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: update generated files and documentation
  docs/api/README.md
  internal/README.md
  internal/storage/driver/system_generated_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: correct OpenAPI schema validation errors for v2ExportLogs endpoint
  docs/api/README.md
  openapi.yaml
  openapi/v2.yaml
Due: gosdk

fix: correct OpenAPI schema validation errors
  docs/api/README.md
  openapi.yaml
  openapi/v2.yaml
Due: gosdk

fix: correct OpenAPI schema validation errors
  openapi.yaml
Due: gosdk

chore: run pre-commit
  docs/concurrency-model.md
  docs/hash-system.md
  docs/performance-model.md
  pkg/client/README.md
  pkg/client/docs/models/components/v2bucketwithstatus.md
  pkg/client/docs/models/components/v2errorresponse.md
  pkg/client/docs/models/operations/v2deletebucketrequest.md
  pkg/client/docs/models/operations/v2deletebucketresponse.md
  pkg/client/docs/models/operations/v2getinforesponse.md
  pkg/client/docs/models/operations/v2listbucketsresponse.md
  pkg/client/docs/models/operations/v2listledgersrequest.md
  pkg/client/docs/models/operations/v2restorebucketrequest.md
  pkg/client/docs/models/operations/v2restorebucketresponse.md
  pkg/client/docs/sdks/v2/README.md
  pkg/client/ledger.go
  pkg/client/models/components/v2bucketwithstatus.go
  pkg/client/models/components/v2errorresponse.go
  pkg/client/models/operations/v2deletebucket.go
  pkg/client/models/operations/v2listbuckets.go
  pkg/client/models/operations/v2listledgers.go
  pkg/client/models/operations/v2restorebucket.go
  pkg/client/models/operations/v2updateledgermetadata.go
  pkg/client/v2.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: Add SDK
  pkg/client/docs/sdks/v2/README.md
  pkg/client/models/operations/options.go
  pkg/client/v2.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Revert "fix: correct OpenAPI schema validation errors for v2ExportLogs endpoint"
  docs/api/README.md
  openapi.yaml
  openapi/v2.yaml
Due: gosdk

Revert "fix: correct OpenAPI schema validation errors"
  docs/api/README.md
  openapi.yaml
  openapi/v2.yaml
Due: gosdk

feat: revert config for OpenAPI
  docs/api/README.md
  openapi.yaml
  openapi/v2.yaml
  pkg/client/docs/models/components/v2errorresponse.md
  pkg/client/docs/models/operations/v2getinforesponse.md
  pkg/client/docs/models/operations/v2listledgersrequest.md
  pkg/client/docs/models/operations/v2updateledgermetadataresponse.md
  pkg/client/docs/sdks/v2/README.md
  pkg/client/ledger.go
  pkg/client/models/components/v2errorresponse.go
  pkg/client/models/operations/options.go
  pkg/client/models/operations/v2getinfo.go
  pkg/client/models/operations/v2listledgers.go
  pkg/client/models/operations/v2updateledgermetadata.go
  pkg/client/v2.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

test: add parallel testing to controller tests
  internal/controller/system/controller_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: improve code coverage for GetLedger method
  internal/controller/system/controller_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: update mock implementations for ListBucketsWithStatus with pagination support
  internal/api/common/mocks_system_controller_test.go
  internal/api/v1/mocks_system_controller_test.go
  internal/api/v2/mocks_system_controller_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: use postgres.ResolveError for proper error handling in bucket deletion methods
  internal/storage/driver/driver.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: increase code coverage for bucket deletion functionality
  internal/controller/system/controller_test.go
  internal/controller/system/mocks_store_test.go
  internal/storage/driver/driver_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: update driver.go to handle deleted buckets correctly
  internal/storage/driver/driver.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: handle negative days correctly in GetBucketsMarkedForDeletion
  internal/api/v2/buckets_test.go
  internal/controller/system/controller.go
  internal/storage/driver/driver.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: update bucket tests to use actual implementation and use formance time package
  cmd/buckets_delete.go
  cmd/buckets_list.go
  cmd/buckets_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: add explicit type parameter to RenderCursor in buckets_list.go
  internal/api/v2/buckets_list.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: reorganize bucket commands into separate files and use duration instead of days
  cmd/buckets.go
  cmd/buckets_delete.go
  cmd/buckets_list.go
  cmd/buckets_restore.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: refactor controller tests to use table-driven tests
  internal/controller/system/controller_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore fix
  internal/README.md
Due: none

fix: correct build errors in error handling and tests
  internal/api/common/errors.go
  internal/storage/system/store_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: use pointer type for DeletedAt to properly handle null values
  internal/ledger.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: update ListBucketsWithStatus to support pagination
  internal/api/v2/buckets_list.go
  internal/api/v2/buckets_test.go
  internal/controller/system/controller.go
  internal/controller/system/controller_test.go
  internal/controller/system/store.go
  internal/storage/system/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: add tests for bucket CLI commands
  cmd/buckets_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: return 404 instead of 500 for deleted buckets
  internal/api/common/errors.go
  internal/storage/system/store_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: use go-libs time package in MarkBucketAsDeleted
  internal/storage/system/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: correct time package import in buckets_list.go
  cmd/buckets_list.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: address feedback on bucket deletion implementation
  cmd/buckets.go
  internal/api/v2/buckets_test.go
  internal/controller/system/store.go
  internal/storage/system/resource_ledgers.go
  internal/storage/system/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests
