Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

fix(node): set raft Applied index to prevent IndexTracker double-counting
  internal/infra/node/node.go
  internal/infra/state/machine.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: benchmark config
  misc/devenv/benchmark.yaml
Due: none

feat(k6): migrate load test scripts from HTTP to gRPC
  misc/k6/run-chart/templates/ledger-cleanup-deployment.yaml
  misc/k6/run-chart/templates/ledger-create-job.yaml
  misc/k6/run-chart/values.yaml
  misc/k6/scripts/any_bounded_to_any.js
  misc/k6/scripts/any_force_to_any.js
  misc/k6/scripts/any_to_bank.js
  misc/k6/scripts/any_unbounded_to_any.js
  misc/k6/scripts/high_contention_marketplace.js
  misc/k6/scripts/shared/config.js
  misc/k6/scripts/shared/options.js
  misc/k6/scripts/shared/utils.js
  misc/k6/scripts/single_hot_account.js
  misc/k6/scripts/world_to_any.js
  misc/k6/scripts/world_to_bank.js
  misc/k6/values.acme.yaml
Due: none

perf(preload): 256 loader shards, parallel type resolution, bloom filters
  internal/infra/preload/loader.go
  internal/infra/preload/preloader.go
  internal/pkg/kv/sharded_map.go
  internal/storage/dal/store.go
  internal/storage/readstore/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

perf(preload): move marshal outside proposeMu critical section
  internal/application/admission/admission.go
  internal/application/mirror/worker.go
  internal/infra/preload/preloader.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: pre-commit
  internal/application/check/checker.go
  internal/infra/attributes/attributes.go
  internal/infra/state/machine.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: upgrade speakeasy to v1.752.0
  flake.nix
  pkg/client/.speakeasy/workflow.yaml
Due: none

chore: add speakeasy upgrade rule to .claude/rules
  .claude/rules/upgrade-speakeasy.md
  .gitignore
Due: none

feat(k6): add bulk support to world_to_bank load test
  misc/k6/scripts/world_to_bank.js
Due: none

fix: update flake command so that it's compatible with nix-direnv, allowing shell caching
  .envrc
Due: none

fix: update flake command so that it's compatible with nix-direnv, allowing shell caching (#1291)
  .envrc
Due: none

perf(numscript): add parse cache to admission with lock-free reads
  internal/application/admission/admission.go
  internal/application/admission/admission_test.go
  internal/bootstrap/module.go
  internal/domain/processing/numscript/cache.go
  internal/domain/processing/numscript/cache_test.go
  internal/domain/processing/numscript/emulate.go
  internal/domain/processing/numscript/emulate_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

perf(numscript): add dual-gen cache for script text elision in Raft log
  internal/application/admission/admission.go
  internal/bootstrap/module.go
  internal/domain/keys.go
  internal/domain/processing/numscript/cache.go
  internal/domain/processing/numscript/cache_test.go
  internal/infra/attributes/attributes.go
  internal/infra/cache/cache.go
  internal/infra/preload/loader.go
  internal/infra/preload/needs.go
  internal/infra/preload/preloader.go
  internal/infra/preload/resolve.go
  internal/infra/state/machine.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  misc/proto/common.proto
  misc/proto/raft_cmd.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(benchmark-operator): migrate to controller-runtime with Benchmark CRD
  misc/benchmark-operator/Dockerfile
  misc/benchmark-operator/api/v1alpha1/benchmark_types.go
  misc/benchmark-operator/api/v1alpha1/groupversion_info.go
  misc/benchmark-operator/api/v1alpha1/zz_generated.deepcopy.go
  misc/benchmark-operator/chart/crds/benchmark.formance.com_benchmarks.yaml
  misc/benchmark-operator/cmd/benchmark-operator/main.go
  misc/benchmark-operator/config/crd/bases/benchmark.formance.com_benchmarks.yaml
  misc/benchmark-operator/config/rbac/role.yaml
  misc/benchmark-operator/config/testdata/k6_testrun_crd.yaml
  misc/benchmark-operator/config/testdata/ledgerservice_crd.yaml
  misc/benchmark-operator/go.mod
  misc/benchmark-operator/go.sum
  misc/benchmark-operator/internal/controller/benchmark_controller.go
  misc/benchmark-operator/internal/controller/benchmark_test.go
  misc/benchmark-operator/internal/controller/config.go
  misc/benchmark-operator/internal/controller/grafana.go
  misc/benchmark-operator/internal/controller/helpers.go
  misc/benchmark-operator/internal/controller/ledger_client.go
  misc/benchmark-operator/internal/controller/suite_test.go
  misc/benchmark-operator/internal/controller/testrun_controller.go
  misc/benchmark-operator/internal/controller/testrun_test.go
  misc/benchmark-operator/internal/operator/operator.go
  misc/benchmark-operator/justfile
  misc/benchmark-operator/scripts/sync-chart-rbac.sh
  misc/k6/run-chart/Chart.yaml
  misc/k6/run-chart/templates/benchmark.yaml
  misc/k6/run-chart/templates/ledger-cleanup-deployment.yaml
  misc/k6/run-chart/templates/ledger-create-job.yaml
  misc/k6/run-chart/templates/testrun.yaml
  misc/k6/run-chart/values.yaml
  misc/k6/values.acme.yaml
  misc/k6/values.staging.yaml
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: enable benchmark operator
  misc/devenv/testing/Pulumi.acme.yaml
Due: none

chore: move k6 tests
  tests/perf/README.md
  tests/perf/archives/any_force_to_any.tar
  tests/perf/archives/world_to_bank.tar
  tests/perf/justfile
  tests/perf/run-chart/.helmignore
  tests/perf/run-chart/Chart.yaml
  tests/perf/run-chart/templates/_helpers.tpl
  tests/perf/run-chart/templates/benchmark.yaml
  tests/perf/run-chart/templates/configmap.yaml
  tests/perf/run-chart/values.yaml
  tests/perf/scripts/any_bounded_to_any.js
  tests/perf/scripts/any_force_to_any.js
  tests/perf/scripts/any_to_bank.js
  tests/perf/scripts/any_unbounded_to_any.js
  tests/perf/scripts/high_contention_marketplace.js
  tests/perf/scripts/shared/config.js
  tests/perf/scripts/shared/options.js
  tests/perf/scripts/shared/utils.js
  tests/perf/scripts/single_hot_account.js
  tests/perf/scripts/world_to_any.js
  tests/perf/scripts/world_to_bank.js
  tests/perf/values.acme.yaml
  tests/perf/values.yaml
Due: none

chore: remove archives from git
  tests/perf/.gitignore
  tests/perf/archives/any_force_to_any.tar
  tests/perf/archives/world_to_bank.tar
Due: none

refactor: remove dependency on github.com/formancehq/ledger
  go.mod
  go.sum
  internal/domain/accounts.go
  internal/domain/assets.go
  internal/proto/commonpb/posting.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(openapi): replace invalid $ref to parameter with inline schema in V2QueryParams.sort
  openapi.yaml
  openapi/v2.yaml
Due: gosdk

fix(openapi): update generated client to match V2QueryParams.sort schema change
  pkg/client/docs/models/components/querytemplateaccountparams.md
  pkg/client/docs/models/components/querytemplatelogparams.md
  pkg/client/docs/models/components/querytemplatetransactionparams.md
  pkg/client/docs/models/components/querytemplatevolumeparams.md
  pkg/client/models/components/v2queryparams.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(openapi): update generated docs and speakeasy lock for sort schema change
  docs/api/README.md
  pkg/client/.speakeasy/gen.lock
Due: none

fix(openapi): update docs/api/README.md sort type from object to string
  docs/api/README.md
Due: none

chore: update dev tooling, perf dashboard and benchmark config
  TODO
  flake.nix
  misc/devenv/monitoring/config/grafana/provisioning/dashboards/k6.json
  tests/perf/values.acme.yaml
Due: none

fix(snapshot): serialize IdempotencyKeys in cache snapshots
  internal/infra/state/machine.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  misc/proto/raft_cmd.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(backup): include baseline checkpoint in backup for post-restore integrity checks
  internal/adapter/grpc/server_cluster.go
  internal/adapter/grpc/server_restore.go
  internal/infra/node/node.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(startup): replay WAL entries before spool to bridge checkpoint gap
  internal/infra/node/applier.go
  internal/infra/node/node.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(startup): cap WAL replay at HardState.Commit to avoid raft panic
  internal/infra/node/applier.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(preload): add LedgerInfo preload for Apply orders
  internal/application/admission/admission.go
  tests/scenarios/marketplace_test.go
  tests/scenarios/subscription_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(check): unified checker with StreamingIter, baseline snapshot, and merge-operator replay
  internal/application/check/checker.go
  internal/application/check/replay_store.go
  internal/infra/attributes/attributes.go
  internal/infra/attributes/attributes_helpers_test.go
  internal/infra/attributes/baseline.go
  internal/infra/attributes/streaming_iter.go
  internal/infra/node/applier.go
  internal/infra/node/node_period_test.go
  internal/infra/state/machine.go
  internal/infra/state/metadata_converter.go
  internal/infra/state/sealer.go
  internal/infra/state/sealer_test.go
  internal/query/aggregate.go
  internal/query/period.go
  internal/query/period_test.go
  internal/storage/dal/cursor.go
  internal/storage/dal/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: test failures and e2e stability improvements
  internal/application/admission/admission.go
  internal/application/check/checker.go
  internal/application/ctrl/controller_default.go
  internal/application/ctrl/list_entities.go
  internal/application/indexbuilder/backfill.go
  internal/bootstrap/module.go
  internal/domain/processing/processor.go
  internal/domain/processing/processor_period.go
  internal/infra/cache/cache.go
  internal/infra/state/machine_helpers_test.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/commonpb/posting.go
  internal/proto/raftcmdpb/raft_cmd.pb.go
  internal/proto/raftcmdpb/raft_cmd_vtproto.pb.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  internal/query/compile.go
  internal/query/profile.go
  internal/storage/readstore/iterator_reverse.go
  justfile
  misc/benchmark-operator/api/v1alpha1/benchmark_types.go
  misc/benchmark-operator/cmd/benchmark-operator/main.go
  misc/benchmark-operator/internal/controller/benchmark_controller.go
  misc/benchmark-operator/internal/controller/grafana.go
  misc/benchmark-operator/internal/controller/helpers.go
  misc/benchmark-operator/internal/controller/testrun_controller.go
  misc/proto/bucket.proto
  misc/proto/common.proto
  misc/proto/raft_cmd.proto
  pkg/testserver/testserver.go
  tests/e2e/business/audit_config_test.go
  tests/scenarios/operations_lifecycle_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

perf(cache): add KeyStore.Touch to promote gen1→gen0 on FSM apply
  internal/infra/attributes/key_store.go
  internal/infra/state/machine.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(check): add unit tests for replay store merge operators
  internal/application/check/replay_store_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(scenarios): add scenario tests with bug-exposing cases
  tests/e2e/testutil/helpers.go
  tests/scenarios/helpers_test.go
  tests/scenarios/marketplace_test.go
  tests/scenarios/multi_currency_test.go
  tests/scenarios/operations_lifecycle_test.go
  tests/scenarios/stress_invariants_test.go
  tests/scenarios/subscription_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(scenarios): add lending, payroll, gaming scenarios and parameterized queries
  tests/e2e/testutil/helpers.go
  tests/scenarios/gaming_wallet_test.go
  tests/scenarios/lending_lifecycle_test.go
  tests/scenarios/marketplace_test.go
  tests/scenarios/multi_ledger_payroll_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: typed prepared query parameters, scenario restructuring, and flaky test fixes
  internal/adapter/http/handlers_execute_prepared_query.go
  internal/application/check/checker.go
  internal/application/check/replay_store.go
  internal/infra/node/applier.go
  internal/infra/node/applier_test.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/proto/servicepb/bucket.pb.go
  internal/proto/servicepb/bucket_vtproto.pb.go
  internal/query/compile.go
  internal/query/compile_test.go
  internal/query/period.go
  misc/proto/bucket.proto
  misc/proto/common.proto
  tests/e2e/business/prepared_queries_test.go
  tests/e2e/testutil/helpers.go
  tests/scenarios/gaming_wallet/README.md
  tests/scenarios/gaming_wallet/gaming_wallet_test.go
  tests/scenarios/lending_lifecycle/README.md
  tests/scenarios/lending_lifecycle/lending_lifecycle_test.go
  tests/scenarios/marketplace/README.md
  tests/scenarios/marketplace/marketplace_test.go
  tests/scenarios/multi_currency/README.md
  tests/scenarios/multi_currency/multi_currency_test.go
  tests/scenarios/multi_ledger_payroll/README.md
  tests/scenarios/multi_ledger_payroll/multi_ledger_payroll_test.go
  tests/scenarios/operations_lifecycle/README.md
  tests/scenarios/operations_lifecycle/operations_lifecycle_test.go
  tests/scenarios/scenariotest/scenariotest.go
  tests/scenarios/stress_invariants/README.md
  tests/scenarios/stress_invariants/stress_invariants_test.go
  tests/scenarios/subscription/README.md
  tests/scenarios/subscription/subscription_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: verbosity
  TODO
  justfile
Due: none

fix(ledger): push address filter into LATERAL join for GIN index usage
  internal/storage/ledger/resource_aggregated_balances.go
  internal/storage/ledger/resource_volumes.go
  internal/storage/ledger/utils.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(ledger): handle $not queries in lateral join address filter
  internal/storage/ledger/resource_aggregated_balances.go
  internal/storage/ledger/resource_volumes.go
  internal/storage/ledger/utils.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add inserted_at (creation date) index for transactions
  cmd/ledgerctl/ledgers/create_index.go
  cmd/ledgerctl/ledgers/drop_index.go
  docs/dev/api-comparison.md
  docs/ops/cli.md
  internal/application/indexbuilder/index_config.go
  internal/application/indexbuilder/process_logs.go
  internal/domain/processing/processor_index.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
  internal/query/compile.go
  internal/storage/readstore/keys.go
  internal/storage/readstore/write_batch.go
  misc/proto/common.proto
  tests/e2e/business/indexes_test.go
  tests/e2e/business/prepared_queries_test.go
  tests/scenarios/multi_currency/multi_currency_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
