Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

fix: missing init
  deployments/pulumi/pkg/storage/component_postgres.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: missing init (#1143)
  deployments/pulumi/pkg/storage/component_postgres.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: missing init (#1142)
  deployments/pulumi/pkg/storage/component_postgres.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: failing migrations
  internal/storage/system/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: failing migrations (#1144)
  internal/storage/system/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(deps): update module golang.org/x/crypto to v0.45.0 [security]
  deployments/pulumi/go.mod
  deployments/pulumi/go.sum
  go.mod
  go.sum
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: none

chore(deps): update module golang.org/x/crypto to v0.45.0 [security] (#1145)
  deployments/pulumi/go.mod
  deployments/pulumi/go.sum
  go.mod
  go.sum
  tools/generator/go.mod
  tools/generator/go.sum
  tools/provisioner/go.mod
  tools/provisioner/go.sum
Due: none

fix: migrations with pg13
  internal/storage/bucket/migrations/39-clean-useless-features/up.sql
Due: none

fix: migrations with pg13 (#1147)
  internal/storage/bucket/migrations/39-clean-useless-features/up.sql
Due: none

improve error messages
  internal/README.md
  internal/api/common/errors.go
  internal/api/v2/controllers_schema_insert_test.go
  internal/chart.go
  internal/chart_test.go
  internal/controller/ledger/controller_default_test.go
  internal/controller/ledger/errors.go
  internal/controller/ledger/log_process.go
  internal/controller/ledger/log_process_test.go
  internal/controller/ledger/store.go
  internal/controller/ledger/store_generated_test.go
  internal/errors.go
  internal/storage/ledger/schema.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: pulumi postgres chart version (#1139)
  deployments/pulumi/pkg/config/config.go
  deployments/pulumi/pkg/storage/component_postgres.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

wip
  docs/api/README.md
  internal/README.md
  internal/api/bulking/elements.go
  internal/api/v2/controllers_transactions_create.go
  internal/controller/ledger/controller.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/log_process.go
  internal/controller/ledger/log_process_test.go
  internal/machine/vm/run.go
  internal/schema.go
  internal/storage/bucket/migrations/41-add-schema/up.sql
  internal/transaction_templates.go
  openapi.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/logs/naming.log
  pkg/client/docs/models/components/v2posttransactionscript.md
  pkg/client/docs/sdks/v2/README.md
  pkg/client/models/components/v2posttransaction.go
  pkg/client/speakeasyusagegen/.speakeasy/logs/naming.log
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: auto enabled features on first ledger created on a bucket
  internal/storage/bucket/migrations/11-make-stateless/up.sql
Due: none

improve error messages (#1148)
  internal/README.md
  internal/api/common/errors.go
  internal/api/v2/controllers_schema_insert_test.go
  internal/chart.go
  internal/chart_test.go
  internal/controller/ledger/controller_default_test.go
  internal/controller/ledger/errors.go
  internal/controller/ledger/log_process.go
  internal/controller/ledger/log_process_test.go
  internal/controller/ledger/store.go
  internal/controller/ledger/store_generated_test.go
  internal/errors.go
  internal/storage/ledger/schema.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: remove spurious ci step that makes it slower
  .github/actions/default/action.yml
Due: none

chore: try to remove indexes to speed up writes
  internal/storage/bucket/migrations/41-clean-indexes/notes.yaml
  internal/storage/bucket/migrations/41-clean-indexes/up.sql
Due: none

refactor: split index migrations into isolated concurrent operations
  internal/storage/bucket/migrations/41-optimize-query-indexes/up.sql
  internal/storage/bucket/migrations/42-optimize-query-indexes-pit-effective/up.sql
  internal/storage/bucket/migrations/43-optimize-accounts-metadata-index/up.sql
  internal/storage/bucket/migrations/44-optimize-transactions-metadata-index/up.sql
  internal/storage/bucket/migrations/45-drop-old-indexes/up.sql
Due: none

docs: add notes.yaml files for split index migrations
  internal/storage/bucket/migrations/41-optimize-query-indexes/notes.yaml
  internal/storage/bucket/migrations/42-optimize-query-indexes-pit-effective/notes.yaml
  internal/storage/bucket/migrations/43-optimize-accounts-metadata-index/notes.yaml
  internal/storage/bucket/migrations/44-optimize-transactions-metadata-index/notes.yaml
  internal/storage/bucket/migrations/45-drop-old-indexes/notes.yaml
Due: none

fix: remove CONCURRENTLY from index creation migrations
  internal/storage/bucket/migrations/41-optimize-query-indexes/notes.yaml
  internal/storage/bucket/migrations/41-optimize-query-indexes/up.sql
  internal/storage/bucket/migrations/42-optimize-query-indexes-pit-effective/notes.yaml
  internal/storage/bucket/migrations/42-optimize-query-indexes-pit-effective/up.sql
  internal/storage/bucket/migrations/43-optimize-accounts-metadata-index/notes.yaml
  internal/storage/bucket/migrations/43-optimize-accounts-metadata-index/up.sql
  internal/storage/bucket/migrations/44-optimize-transactions-metadata-index/notes.yaml
  internal/storage/bucket/migrations/44-optimize-transactions-metadata-index/up.sql
Due: none

fix: correct column name from account_address to accounts_address in index creation
  internal/storage/bucket/migrations/41-optimize-query-indexes/up.sql
  internal/storage/bucket/migrations/42-optimize-query-indexes-pit-effective/up.sql
Due: none

fix: rename testServer variable to srv for clarity and add cleanup on service stop
  test/e2e/app_lifecycle_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: remove ledger and date columns from indexes
  internal/storage/bucket/migrations/41-optimize-query-indexes/up.sql
Due: none

feat: optimize database indexes for query performance
  internal/storage/bucket/migrations/41-optimize-query-indexes/notes.yaml
  internal/storage/bucket/migrations/41-optimize-query-indexes/up.sql
Due: none

fix: create new indexes before dropping old ones to avoid performance degradation
  internal/storage/bucket/migrations/41-optimize-query-indexes/up.sql
Due: none

fix: Add concurrently
  internal/storage/bucket/migrations/41-optimize-query-indexes/up.sql
  internal/storage/bucket/migrations/42-optimize-query-indexes-pit-effective/up.sql
  internal/storage/bucket/migrations/43-optimize-accounts-metadata-index/up.sql
  internal/storage/bucket/migrations/44-optimize-transactions-metadata-index/up.sql
  internal/storage/bucket/migrations/45-add-moves-update-effective-volumes-index/up.sql
Due: none

fix: migrations
  internal/storage/bucket/migrations/41-optimize-query-indexes/up.sql
  internal/storage/bucket/migrations/42-optimize-query-indexes-pit-effective/up.sql
  internal/storage/bucket/migrations/43-optimize-accounts-metadata-index/up.sql
  internal/storage/bucket/migrations/44-optimize-transactions-metadata-index/up.sql
  internal/storage/bucket/migrations/45-add-moves-update-effective-volumes-index/up.sql
  internal/storage/bucket/migrations/46-drop-old-indexes/up.sql
Due: none

feat: add index to optimize update_effective_volumes trigger
  internal/storage/bucket/migrations/45-add-moves-update-effective-volumes-index/notes.yaml
  internal/storage/bucket/migrations/45-add-moves-update-effective-volumes-index/up.sql
  internal/storage/bucket/migrations/46-drop-old-indexes/notes.yaml
  internal/storage/bucket/migrations/46-drop-old-indexes/up.sql
Due: none

Increase default benchmark count from 1 to 5
  .github/workflows/benchmark-comparison.yml
Due: none

fix: migrations with pg13 (#1146)
  internal/storage/bucket/migrations/39-clean-useless-features/up.sql
Due: none

chore: remove spurious ci step that makes it slower (#1152)
  .github/actions/default/action.yml
Due: none

fix: auto enabled features on first ledger created on a bucket (#1151)
  internal/storage/bucket/migrations/11-make-stateless/up.sql
Due: none

fix: auto enabled features on first ledger created on a bucket (#1150)
  internal/storage/bucket/migrations/11-make-stateless/up.sql
Due: none

fix: auto enabled features on first ledger created on a bucket (#1149)
  internal/storage/bucket/migrations/11-make-stateless/up.sql
Due: none
