Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

feat: remove ExpandedTransaction and fetch pc(e)v when inserting moves
  go.mod
  go.sum
  internal/api/v1/controllers_transactions.go
  internal/api/v1/controllers_transactions_list_test.go
  internal/api/v1/controllers_transactions_read_test.go
  internal/api/v2/controllers_transactions_list_test.go
  internal/api/v2/controllers_transactions_read_test.go
  internal/controller/ledger/controller.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_default_test.go
  internal/controller/ledger/controller_generated.go
  internal/controller/ledger/store.go
  internal/controller/ledger/store_generated.go
  internal/log.go
  internal/storage/ledger/logs.go
  internal/storage/ledger/logs_test.go
  internal/storage/ledger/moves.go
  internal/storage/ledger/moves_test.go
  internal/storage/ledger/transactions.go
  internal/storage/ledger/transactions_test.go
  internal/transaction.go
  test/performance/env_remote_ledger_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: handle migration
  internal/storage/bucket/migrations/29-logs-add-memento.sql
  internal/storage/ledger/accounts.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add migration test using concrete database
  internal/storage/driver/driver.go
  test/migrations/README.md
  test/migrations/upgrade_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: refine widdershins parameter
  Earthfile
  docs/api/README.md
  openapi.yaml
  openapi/v1.yaml
  openapi/v2.yaml
  pkg/client/.speakeasy/gen.lock
  pkg/client/.speakeasy/gen.yaml
  pkg/client/formance.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: introduce feature MOVES_HISTORY
  internal/controller/system/controller.go
  internal/ledger.go
  internal/storage/ledger/accounts.go
  internal/storage/ledger/balances.go
  internal/storage/ledger/migrations/0-add-sequences.sql
  internal/storage/ledger/transactions.go
  internal/storage/ledger/transactions_test.go
  internal/storage/ledger/volumes.go
  internal/tracing/tracer.go
  test/e2e/stress_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Revert "feat: compute hash at core level"
  internal/log.go
  internal/storage/bucket/migrations/30-logs-hash-in-database.sql
  internal/storage/ledger/debug.go
  internal/storage/ledger/logs.go
  internal/storage/ledger/logs_test.go
  internal/storage/ledger/migrations/0-add-sequences.sql
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

wip: make first level of compat with previous version
  11-make-stateless.sql
  internal/storage/bucket/migrations/11-make-stateless.sql
  internal/storage/bucket/migrations/14-rename-address-moves-column.sql
  internal/storage/bucket/old/11-drop-triggers.sql
  internal/storage/bucket/old/12-moves-add-transaction-id.sql
  internal/storage/bucket/old/13-set-transaction-timestamp-default-utc.sql
  internal/storage/bucket/old/14-rename-address-moves-column.sql
  internal/storage/bucket/old/15-moves-remove-accounts-seq.sql
  internal/storage/bucket/old/16-transactions-fix-reference.sql
  internal/storage/bucket/old/17-transactions-add-pvc.sql
  internal/storage/bucket/old/18-logs-add-idempotency-hash.sql
  internal/storage/bucket/old/19-moves-drop-accounts-address-array.sql
  internal/storage/bucket/old/20-add-accounts-volumes-table.sql
  internal/storage/bucket/old/21-transactions-metadata-add-transaction-id.sql
  internal/storage/bucket/old/22-accounts-metadata-add-address.sql
  internal/storage/bucket/old/23-transactions-clean-table.sql
  internal/storage/bucket/old/24-accounts-set-array-not-null.sql
  internal/storage/bucket/old/25-logs-set-hash-nullable.sql
  internal/storage/bucket/old/26-clean-index.sql
  internal/storage/bucket/old/27-add-features-functions.sql
  internal/storage/bucket/old/28-logs-add-memento.sql
  internal/storage/bucket/old/29-logs-hash-in-database.sql
  internal/storage/bucket/old/30-logs-assign-date.sql
  internal/storage/bucket/old/31-accounts-assign-date.sql
  internal/storage/bucket/old/32-moves-assign-date.sql
  internal/storage/bucket/old/33-set-ledger-specifics.sql
  internal/storage/bucket/old/34-moves-not-null-columns.sql
  internal/storage/ledger/balances.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add some readme
  internal/README.md
  internal/controller/ledger/README.md
  internal/controller/system/README.md
  internal/controller/system/doc.go
  internal/doc.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: make MachineFactory take TX instead of vm.Store
  README.md
  internal/controller/ledger/README.md
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_default_test.go
  internal/controller/ledger/machine.go
  internal/controller/ledger/machine_generated_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: move ledgers model
  internal/ledger.go
  internal/storage/system/ledgers.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: compute hash at core level
  internal/log.go
  internal/storage/bucket/migrations/11-stateless.sql
  internal/storage/driver/migrations.go
  internal/storage/ledger/logs.go
  internal/storage/ledger/logs_test.go
  internal/storage/ledger/migrations/0-add-sequences.sql
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: simplify storage
  internal/account.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/store.go
  internal/controller/ledger/store_generated.go
  internal/storage/ledger/accounts.go
  internal/storage/ledger/accounts_test.go
  internal/storage/ledger/balances_test.go
  internal/storage/ledger/moves_test.go
  internal/storage/ledger/transactions.go
  internal/storage/ledger/transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: hanging test
  internal/storage/ledger/transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: extract traces from default controller
  internal/bus/listener.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_default_test.go
  internal/controller/ledger/controller_with_traces.go
  internal/controller/ledger/listener.go
  internal/controller/ledger/listener_generated.go
  internal/controller/system/controller.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: pre-commit
  README.md
Due: none

chore: clean todo
  internal/account.go
  internal/storage/ledger/accounts.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: introduce acounts_volumes table
  internal/storage/bucket/migrations/11-stateless.sql
  internal/storage/ledger/balances.go
  internal/storage/ledger/balances_test.go
  internal/storage/ledger/moves.go
  internal/storage/ledger/transactions.go
  internal/storage/ledger/transactions_test.go
  internal/storage/ledger/volumes.go
  internal/volumes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: let database generate creation date of ledgers
  internal/ledger.go
  internal/storage/driver/driver.go
  internal/storage/driver/driver_test.go
  internal/storage/driver/migrations.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: ignore idempotency hash from old data
  internal/controller/ledger/log_process.go
  internal/storage/bucket/migrations/19-logs-add-idempotency-hash.sql
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: lint
  openapi.yaml
  test/e2e/api_bulk.go
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: extract helper in go libs
  go.mod
  go.sum
  internal/storage/bucket/bucket_test.go
  internal/storage/bucket/main_test.go
  internal/storage/bucket/migrations_test.go
  internal/storage/driver/migrations_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: testing helper
  internal/storage/bucket/migrations/11-stateless.sql
  internal/storage/driver/migrations_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: Earthfile
  Earthfile
Due: none

clean: some todo
  go.mod
  go.sum
  internal/api/v1/controllers_stats.go
  internal/api/v1/controllers_stats_test.go
  internal/api/v2/controllers_stats.go
  internal/api/v2/controllers_stats_test.go
  internal/controller/ledger/controller.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/controller_generated.go
  internal/controller/ledger/stats.go
  internal/controller/ledger/stats_test.go
  internal/machine/vm/machine.go
  internal/machine/vm/machine_test.go
  internal/storage/ledger/store.go
  openapi.yaml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove --enable-pprof flag, use --debug
  cmd/serve.go
  docker-compose.yml
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: use chart.js for graphs
  cmd/README.md
  cmd/doc_events.go
  cmd/doc_flags.go
  test/performance/Earthfile
  test/performance/README.md
  test/performance/charts/index.js
  test/performance/charts/index.ts
  test/performance/charts/package-lock.json
  test/performance/charts/package.json
  test/performance/charts/src/colors.js
  test/performance/charts/src/colors.ts
  test/performance/charts/src/graphs.js
  test/performance/charts/src/graphs.ts
  test/performance/charts/src/report.js
  test/performance/charts/src/report.ts
  test/performance/charts/tsconfig.json
  test/performance/features_test.go
  test/performance/main_test.go
  test/performance/plot/features_comparison_latency.gp
  test/performance/plot/features_comparison_tps.gp
  test/performance/report_test.go
  test/performance/write_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add doc and remove database exporter from pre-commit
  CONTRIBUTING.md
  Earthfile
Due: none

chore: simplify storage
  internal/storage/ledger/balances.go
  internal/storage/ledger/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: merge stores migrations
  go.mod
  go.sum
  internal/storage/bucket/bucket.go
  internal/storage/bucket/migrations/34-set-ledger-specifics.sql
  internal/storage/driver/driver.go
  internal/storage/driver/driver_test.go
  internal/storage/ledger/main_test.go
  internal/storage/ledger/migrations.go
  internal/storage/ledger/migrations/0-add-sequences.sql
  internal/storage/ledger/store.go
  test/migrations/upgrade_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(Earthfile): persist golangci-lint cache for faster builds
  Earthfile
Due: none

fix: missing build tag
  Earthfile
  internal/storage/bucket/bucket_test.go
  internal/storage/bucket/main_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add some metrics and export them add api level
  .gitignore
  Earthfile
  cmd/serve.go
  docker-compose.yml
  go.mod
  go.sum
  internal/api/module.go
  internal/controller/ledger/controller_default.go
  internal/controller/ledger/log_process.go
  internal/controller/system/controller.go
  internal/controller/system/module.go
  internal/storage/driver/driver.go
  internal/storage/driver/module.go
  internal/storage/ledger/accounts.go
  internal/storage/ledger/balances.go
  internal/storage/ledger/logs.go
  internal/storage/ledger/moves.go
  internal/storage/ledger/store.go
  internal/storage/ledger/transactions.go
  internal/storage/ledger/volumes.go
  internal/tracing/tracer.go
  pkg/testserver/server.go
  test/performance/benchmark_test.go
  test/performance/env_remote_ledger_test.go
  test/performance/env_test.go
  test/performance/env_testserver_test.go
  test/performance/main_test.go
  test/performance/report_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: renamed machine file into numscript_runtime
  internal/controller/ledger/numscript_runtime.go
  internal/controller/ledger/numscript_runtime_generated_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: restore removed pg type (keep backward compat with column type)
  11-make-stateless.sql
  internal/storage/bucket/migrations/16-moves-change-pvc-column-type.sql
  internal/storage/bucket/migrations/16-transactions-fix-reference.sql
  internal/storage/bucket/migrations/17-transactions-add-pvc.sql
  internal/storage/bucket/migrations/18-logs-add-idempotency-hash.sql
  internal/storage/bucket/migrations/19-moves-drop-accounts-address-array.sql
  internal/storage/bucket/migrations/20-add-accounts-volumes-table.sql
  internal/storage/bucket/migrations/21-transactions-metadata-add-transaction-id.sql
  internal/storage/bucket/migrations/22-accounts-metadata-add-address.sql
  internal/storage/bucket/migrations/23-transactions-clean-table.sql
  internal/storage/bucket/migrations/24-accounts-set-array-not-null.sql
  internal/storage/bucket/migrations/25-logs-set-hash-nullable.sql
  internal/storage/bucket/migrations/26-clean-index.sql
  internal/storage/bucket/migrations/27-add-features-functions.sql
  internal/storage/bucket/migrations/28-logs-add-memento.sql
  internal/storage/bucket/migrations/29-logs-hash-in-database.sql
  internal/storage/bucket/migrations/30-logs-assign-date.sql
  internal/storage/bucket/migrations/31-accounts-assign-date.sql
  internal/storage/bucket/migrations/32-moves-assign-date.sql
  internal/storage/bucket/migrations/33-set-ledger-specifics.sql
  internal/storage/bucket/migrations/34-moves-not-null-columns.sql
  internal/storage/bucket/migrations_test.go
  internal/storage/ledger/accounts.go
  internal/storage/ledger/balances.go
  internal/storage/ledger/transactions.go
  internal/volumes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: update file name template for benchmarks package in goreleaser config
  .goreleaser.yml
Due: none

feat: move code
  internal/storage/ledger/transactions.go
  internal/transaction.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: test timeout
  test/e2e/api_timeout_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: removed compiler.go
  internal/controller/ledger/compiler.go
  internal/controller/ledger/compiler_generated_test.go
  internal/controller/ledger/numscript_parser.go
  internal/controller/system/controller.go
  internal/controller/system/module.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: test deleted metadata event for transactions
  test/e2e/integration_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: add some test
  internal/controller/ledger/log_process.go
  internal/controller/ledger/log_process_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
