Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

test(health): wait for write admission in workloads
  pkg/testserver/write_admission.go
  tests/antithesis/workload/bin/cmds/main/eventually_correct/quiescence_test.go
  tests/antithesis/workload/bin/cmds/main/parallel_driver_ledger_recreate/main_test.go
  tests/antithesis/workload/bin/cmds/main/parallel_driver_query_checkpoints/helper_retry_test.go
  tests/antithesis/workload/bin/cmds/main/parallel_driver_query_checkpoints/main_test.go
  tests/antithesis/workload/bin/cmds/main/parallel_driver_reference_conflict_skip/main_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/skippable_integration_test.go
  tests/antithesis/workload/internal/drivertest/driver.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(operator): avoid overflow in expansion threshold
  misc/operator/internal/controller/volume_expansion_policy.go
  misc/operator/internal/controller/volume_expansion_policy_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(grpc): align examples with protocol revision 16
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
Due: none

style(test): format workload admission fixtures
  tests/antithesis/workload/bin/cmds/main/eventually_correct/quiescence_test.go
  tests/antithesis/workload/bin/cmds/main/parallel_driver_ledger_recreate/main_test.go
  tests/antithesis/workload/bin/cmds/main/parallel_driver_reference_conflict_skip/main_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/skippable_integration_test.go
  tests/antithesis/workload/internal/drivertest/driver.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(api): answer InspectIndex on the requested mode's arm (#2161)
  internal/application/ctrl/controller_default.go
  internal/application/ctrl/controller_default_inspect_empty_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(numscript): recompile a missing VM artifact instead of failing the order
  docs/ops/deployment.md
  docs/ops/monitoring.md
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
  docs/technical/architecture/subsystems/scripting/numscript-library.md
  internal/domain/processing/processor.go
  internal/domain/processing/processor_missing_artifact_test.go
  internal/domain/processing/processor_transaction.go
  internal/domain/processing/processor_transaction_numscript.go
  internal/domain/processing/processor_transaction_numscript_vm_test.go
  internal/domain/processing/processor_transaction_test.go
  internal/infra/state/audit_replay.go
  misc/devenv/monitoring-dashboards/jsonnet/lib/metrics.libsonnet
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(antithesis): cover aggregates, audit, ledger listing, log-date serving
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/aggregates.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/aggregates_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/audit.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/audit_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/checker.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/ledgers_list.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/main.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/queries.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/queries_logs.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/validate.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(antithesis): bound each readiness poll RPC (EN-1625)
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/indexes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(antithesis): space metadata-schema ops so retype windows can close (EN-1625)
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/actions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(antithesis): index cluster ports with a C-style loop
  tests/antithesis/run_model_test.sh
Due: none

test(antithesis): roll empty And/Or combinators (EN-2055)
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/generators_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/queries.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(antithesis): generate every audit filter and the has-asset edge cells (EN-1625)
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/audit.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/audit_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/checker.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/indexes.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/queries.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(antithesis): cover GetLog by global sequence (EN-1625)
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/getlog.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/getlog_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/main.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/queries_logs.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(antithesis): dispatch the new read surfaces from one slot of the read mix (EN-1625)
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/main.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(antithesis): validate resume cursors and pin audit entries against the trail (EN-1625)
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/aggregates.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/aggregates_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/audit.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/audit_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/checker.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/checkpoint_reads.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/cursors.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/cursors_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/indexes.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/ledgers_list.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/ledgers_list_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/main.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/prepared_queries.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/prepared_queries_read.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/prepared_queries_read_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/queries.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/queries_logs.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/queries_logs_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/queries_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/skippable_integration_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/stats_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/validate.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(antithesis): cover the index registry read RPCs (EN-1625)
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/index_introspect.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/index_introspect_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/main.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(antithesis): cover the aggregate options, audit entries and index inspection (EN-1625)
  tests/antithesis/run_model_test.sh
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/aggregates.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/aggregates_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/audit.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/checkpoint_reads.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/index_inspect.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/index_inspect_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/main.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/queries_logs.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/restore.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(antithesis): cover GetLedgerStats (EN-1625)
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/main.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/stats.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/stats_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(antithesis): generate every numeric range shape the wire allows (EN-1625)
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/generators_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/metadata_filters.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/queries.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/queries_logs.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(antithesis): guard per-node index polling deadline (EN-1625) (#2106)
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/indexes_deadline_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(schemathesis): preserve execution errors after success
  docs/technical/audits/test-reachability-enforcement.json
  docs/technical/audits/test-reachability-enforcement.md
  tests/schemathesis/test_api.py
  tests/schemathesis/test_reporting.py
Due: none

test(antithesis): close the remaining query-surface gaps (EN-1625)
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/actions.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/aggregates.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/audit.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/audit_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/checker.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/checkpoint_reads.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/checkpoint_reads_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/debug.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/index_inspect.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/index_introspect.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/indexes.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/indexes_deadline_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/ledger_info.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/ledger_info_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/ledgers_list.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/main.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/prepared_queries_read.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/queries.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/queries_logs.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/reads.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/skippable_integration_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/stats.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/validate.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/validate_test.go
  tests/oracle/model.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(api): correct openapi.yml contract gaps (#2159)
  internal/adapter/http/openapi_spec_test.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(api): publish Ledger v2 to v3 endpoint map (#2154)
  AGENTS.md
  docs/technical/contributing/api-comparison.md
  docs/technical/contributing/v2-to-v3-endpoint-map.json
Due: none

fix(ledger): bind every failure projection version in audit hash
  docs/ops/cli.md
  docs/ops/cluster-operations.md
  docs/ops/deployment.md
  docs/technical/architecture/subsystems/checker/audit-chain.md
  docs/technical/architecture/subsystems/fsm/deterministic-fsm.md
  docs/technical/audits/fsm-determinism-cache-coverage.json
  docs/technical/audits/integrity-verifier-soundness.json
  docs/technical/audits/integrity-verifier-soundness.md
  internal/infra/state/audit_envelope.go
  internal/infra/state/audit_envelope_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(ledger): align projection fixtures with replicated audit key
  internal/application/check/checker_tamper_test.go
  internal/infra/backup/signing_restore_parity_test.go
  internal/infra/state/machine_technical_updates_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(ledger): attribute projection flip technical proposal
  internal/infra/backup/signing_restore_parity_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(raft): schedule probes ahead of sustained traffic
  docs/technical/architecture/subsystems/api/grpc-connections.md
  docs/technical/architecture/subsystems/consensus/raft-consensus.md
  internal/infra/node/transport.go
  internal/infra/node/transport_blackhole_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(raft): recover from silently stalled peer streams
  docs/technical/architecture/subsystems/api/grpc-connections.md
  docs/technical/architecture/subsystems/consensus/README.md
  docs/technical/architecture/subsystems/consensus/raft-consensus.md
  internal/adapter/grpc/server.go
  internal/infra/node/transport.go
  internal/infra/node/transport_blackhole_test.go
  internal/infra/transport/connection_pool.go
  pkg/testserver/gateway.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(raft): renew probe scheduling deadline after pong
  docs/technical/architecture/subsystems/api/grpc-connections.md
  docs/technical/architecture/subsystems/consensus/raft-consensus.md
  internal/infra/node/transport.go
  internal/infra/node/transport_blackhole_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(audit): cover Raft stream blackhole recovery
  docs/technical/audits/raft-membership-leadership.json
  docs/technical/audits/raft-membership-leadership.md
Due: none

test(antithesis): hold the index summary's counters to the model (EN-1625)
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/index_inspect.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/index_inspect_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(numscript): flag a missing artifact with assert.Unreachable only
  docs/ops/monitoring.md
  docs/technical/architecture/subsystems/scripting/numscript-library.md
  internal/domain/processing/processor.go
  internal/domain/processing/processor_missing_artifact_test.go
  internal/domain/processing/processor_transaction.go
  internal/domain/processing/processor_transaction_numscript.go
  internal/infra/state/audit_replay.go
  misc/devenv/monitoring-dashboards/jsonnet/lib/metrics.libsonnet
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(schemathesis): fail on final runner errors
  tests/schemathesis/test_api.py
  tests/schemathesis/test_reporting.py
Due: none

fix(raft): recover from silently stalled peer streams (#2158)
  docs/technical/architecture/subsystems/api/grpc-connections.md
  docs/technical/architecture/subsystems/consensus/README.md
  docs/technical/architecture/subsystems/consensus/raft-consensus.md
  docs/technical/audits/raft-membership-leadership.json
  docs/technical/audits/raft-membership-leadership.md
  internal/adapter/grpc/server.go
  internal/infra/node/transport.go
  internal/infra/node/transport_blackhole_test.go
  internal/infra/transport/connection_pool.go
  pkg/testserver/gateway.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(antithesis): retry writes through maintenance instead of dropping them
  tests/antithesis/README.md
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/checker.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/coverage.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/coverage_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/ledger_info.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/ledger_info_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/lifecycle_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/main.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/processor.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/search.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/search_test.go
  tests/antithesis/workload/internal/client.go
  tests/antithesis/workload/internal/client_test.go
  tests/antithesis/workload/internal/client_transport_controls_test.go
  tests/antithesis/workload/internal/client_transport_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(antithesis): record that maintenance rejections are retried
  docs/technical/architecture/subsystems/api/grpc-api.md
  docs/technical/audits/api-boundary-contracts.md
  docs/technical/audits/idempotency-retries-partial-failures.json
  docs/technical/audits/idempotency-retries-partial-failures.md
  tests/antithesis/README.md
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/lifecycle_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/main.go
  tests/antithesis/workload/internal/client.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(api): use one wording for the v1 and v2 stats notes
  docs/technical/contributing/v2-to-v3-endpoint-map.json
Due: none

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
