Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: gosdk
    name: gosdk
    entry: ./scripts/update-sdk.sh
    description: "Update Go SDK"
    language: script
    files: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml # TODO: Refine when all specs will be on the same location
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

fix(EN-1356): fold legacy idempotency-replay reference items once (upgrade compat)
  internal/application/check/checker.go
  internal/application/check/verify_skipped_order_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(EN-1334): make usagestore counter checker-scope an explicit design choice
  docs/technical/architecture/subsystems/usage/counters.md
Due: none

fix(fsm-digest): reset rolling FSM digest in PrepareForBackup (finding 5, part A)
  internal/infra/attributes/prepare.go
  internal/infra/attributes/prepare_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

review(EN-1481): reserve ledger name "_" on this PR's own tree
  internal/application/admission/errors.go
  internal/application/admission/validate_order.go
  internal/application/admission/validate_order_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1503): evaluate LOGS ledger condition + bound write-time filter recursion
  internal/domain/prepared_query_filter_test.go
  internal/domain/validation.go
  internal/query/compile.go
  internal/query/compile_test.go
  tests/e2e/business/prepared_query_rest_shape_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(EN-1504): bound write-time filter validation, gate update executability, refresh audit doc
  internal/domain/prepared_query_filter_test.go
  internal/domain/processing/processor_prepared_query.go
  internal/domain/processing/processor_prepared_query_test.go
  internal/domain/validation.go
  internal/proto/commonpb/common.pb.go
  internal/query/compile.go
  misc/proto/common.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1527): validate whole cache/bloom recovery namespaces, not just known prefixes
  internal/infra/bloom/bloom.go
  internal/infra/bloom/bloom_namespace_test.go
  internal/infra/state/cache_snapshotter.go
  internal/infra/state/cache_snapshotter_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1472): serialize new HTTP handlers via protojson (camelCase parity)
  docs/technical/architecture/subsystems/indexer/indexes.md
  internal/adapter/http/handlers_get_bucket_index.go
  internal/adapter/http/handlers_get_bucket_index_entry_status.go
  internal/adapter/http/handlers_get_index.go
  internal/adapter/http/handlers_get_index_entry_status.go
  internal/adapter/http/handlers_get_index_status.go
  internal/adapter/http/handlers_get_index_status_test.go
  internal/adapter/http/handlers_get_log.go
  internal/adapter/http/handlers_list_bucket_indexes.go
  internal/adapter/http/handlers_list_bucket_indexes_test.go
  internal/adapter/http/handlers_list_chapters.go
  internal/adapter/http/handlers_list_ledger_indexes.go
  internal/adapter/http/handlers_list_signing_keys.go
  internal/adapter/http/response.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1525): fail closed on snapshot-only and torn-tail WALs missing marker
  internal/storage/wal/wal_default.go
  internal/storage/wal/wal_default_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1406): fold every preceding mutating order into the intra-batch overlay
  docs/technical/contributing/numscript.md
  internal/application/admission/admission.go
  internal/application/admission/numscript_intrabatch_test.go
  internal/application/admission/numscript_source.go
  internal/domain/processing/numscript/discover_test.go
  internal/domain/processing/numscript/store.go
  internal/domain/processing/numscript/store_test.go
  internal/domain/processing/numscript/valuesource_generated_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1472): reject pre-epoch date filters in ListTransactions
  internal/adapter/http/handlers_list_transactions.go
  internal/adapter/http/handlers_list_transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1503): reject metadata filters on LOGS queries (no log-metadata index)
  internal/domain/prepared_query_filter_test.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_queryfilter_validity.pb.go
  internal/proto/commonpb/common_queryfilter_validity_test.go
  misc/proto/common.proto
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

review(EN-1481): fix audit JSON zero-drop + late-200 on marshal failure
  internal/adapter/http/handlers_get_audit_entry.go
  internal/adapter/http/handlers_list_audit_entries.go
  internal/adapter/http/handlers_list_audit_entries_test.go
  internal/adapter/http/response.go
  internal/proto/auditpb/audit.pb.json.go
  internal/proto/auditpb/audit_json_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1503): align write-time filter depth guard with query.Compile node-for-node
  internal/domain/prepared_query_filter_test.go
  internal/domain/validation.go
  internal/query/compile_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(EN-1503): clarify LogIdGreaterThanFilter operates on ledger-local log ID
  pkg/actions/filters.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1472): serialize ListTransactions via protojson (camelCase parity)
  internal/adapter/http/handlers_list_transactions.go
  internal/adapter/http/handlers_list_transactions_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(EN-1406): update FSM/RFC docs for ResolveDependencies discovery
  docs/drafts/numscript/numscript-static-inputs-rfc.md
  docs/drafts/numscript/numscript-typed-metadata-rfc.md
  docs/technical/architecture/subsystems/fsm/deterministic-fsm.md
Due: none

docs(audit): treat prepared queries + restart-path bloom blocks as current gaps
  docs/technical/architecture/audit-vs-technical-state.md
  docs/technical/architecture/subsystems/checker/README.md
  docs/technical/architecture/subsystems/checker/audit-chain.md
Due: none

docs(EN-1472): wrap inspectIndex OpenAPI 200 in data envelope
  openapi.yml
Due: gosdk

fix(EN-1356): only suppress account_metadata for conflict-skippable creates
  internal/application/check/checker.go
  internal/application/check/verify_skipped_order_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

review(EN-1481): document HTTP audit reads lack gRPC read-consistency options
  internal/adapter/http/handlers_list_audit_entries.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1527): distinguish bloom config drift from corruption on recovery
  internal/infra/bloom/bloom.go
  internal/infra/bloom/bloom_namespace_test.go
  internal/infra/state/cache_snapshotter.go
  internal/infra/state/cache_snapshotter_bloom_boot_ordering_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(EN-1472): document deferred HTTP read-consistency options gap
  internal/adapter/http/handlers_list_chapters.go
  internal/adapter/http/handlers_list_signing_keys.go
  internal/adapter/http/handlers_list_transactions.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1334): add auditindexer-parity gap heuristic to usage cursor guard
  cmd/ledgerctl/store/rebuild_usage.go
  internal/application/usagebuilder/builder.go
  internal/application/usagebuilder/builder_test.go
  internal/bootstrap/module.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1356): namespace metadata timeline key by target kind (acct vs tx)
  internal/application/check/checker.go
  internal/application/check/verify_skipped_order_archive_test.go
  internal/application/check/verify_skipped_order_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1472): reject unsupported builtin index kinds + align chapter-schedule field to proto
  internal/adapter/http/handlers_get_chapter_schedule.go
  internal/adapter/http/handlers_get_chapter_schedule_test.go
  internal/application/admission/errors.go
  internal/application/admission/request_to_order_test.go
  internal/application/admission/validate_order.go
  internal/application/admission/validate_order_test.go
  internal/domain/indexes/id.go
  internal/domain/indexes/id_test.go
  openapi.yml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(color-of-money): drop LOGS from prepared-query cursor row types
  openapi.yml
Due: gosdk

refactor(EN-1504): single source of truth for per-target QueryFilter validation (#1561)
  docs/technical/contributing/protobuf.md
  internal/adapter/http/handlers_create_prepared_query.go
  internal/adapter/http/prepared_query_filter.go
  internal/adapter/http/prepared_query_filter_test.go
  internal/application/admission/validate_order.go
  internal/application/admission/validate_order_test.go
  internal/application/admission/wrapper_dispatch_test.go
  internal/domain/errors.go
  internal/domain/prepared_query_filter_test.go
  internal/domain/processing/processor_dispatch_test.go
  internal/domain/processing/processor_prepared_query.go
  internal/domain/processing/processor_prepared_query_test.go
  internal/domain/validation.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_queryfilter_validity.pb.go
  internal/proto/commonpb/common_queryfilter_validity_test.go
  internal/query/audit_filter.go
  internal/query/compile.go
  internal/query/compile_builtin_uint_test.go
  internal/query/compile_reverted_test.go
  justfile
  misc/proto/common.proto
  tools/protoc-gen-queryfilter-validity/go.mod
  tools/protoc-gen-queryfilter-validity/go.sum
  tools/protoc-gen-queryfilter-validity/main.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(checker): add persisted governance projections to integrity gap list
  docs/technical/architecture/audit-vs-technical-state.md
  docs/technical/architecture/subsystems/checker/README.md
Due: none

docs: cluster-config hash_algorithm gap + bloom cluster-config rebuild path
  docs/technical/architecture/audit-vs-technical-state.md
  docs/technical/architecture/subsystems/checker/README.md
Due: none

fix(EN-1334): detect primary-store rollback via restore generation (blocker)
  internal/application/auditindexer/indexer.go
  internal/application/auditindexer/indexer_test.go
  internal/application/usagebuilder/builder.go
  internal/application/usagebuilder/builder_test.go
  internal/storage/dal/store.go
  internal/storage/dal/store_restore_rollback_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(EN-1503): fix non-executable-stored-target case to use a decodable filter
  internal/domain/processing/processor_prepared_query_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(EN-1503): drop duplicated ValidateFilterForTarget call on create path
  internal/adapter/http/handlers_create_prepared_query.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(indexbuilder): detect primary-store rollback via restore generation
  cmd/ledgerctl/store/rebuild_indexes.go
  internal/application/indexbuilder/builder.go
  internal/application/indexbuilder/builder_restore_test.go
  internal/bootstrap/module.go
  internal/storage/readstore/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(architecture): document the restore-generation watermark
  docs/technical/architecture/subsystems/indexer/README.md
  docs/technical/architecture/subsystems/storage/README.md
  docs/technical/architecture/subsystems/storage/restore-generation-watermark.md
  docs/technical/architecture/subsystems/usage/README.md
Due: none

Revert "fix(EN-1334): detect primary-store rollback via restore generation (blocker)"
  internal/application/auditindexer/indexer.go
  internal/application/auditindexer/indexer_test.go
  internal/application/usagebuilder/builder.go
  internal/application/usagebuilder/builder_test.go
  internal/storage/dal/store.go
  internal/storage/dal/store_restore_rollback_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(EN-1334): drop impossible primary-store-rollback detection from usagebuilder
  cmd/ledgerctl/store/rebuild_usage.go
  internal/application/usagebuilder/builder.go
  internal/application/usagebuilder/builder_test.go
  internal/bootstrap/module.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor(EN-1334): drop impossible primary-store-rollback detection from auditindexer
  cmd/server/server.go
  docs/ops/cli.md
  internal/application/auditindexer/indexer.go
  internal/application/auditindexer/indexer_test.go
  internal/bootstrap/config.go
  internal/bootstrap/module.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(EN-1503): regenerate common.pb.go to match common.proto
  internal/proto/commonpb/common.pb.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

style(EN-1503): drop redundant type in prepared_query_filter_test
  internal/domain/prepared_query_filter_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests
