Repository formancehq/ledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

gosdk:
  name: gosdk
  entry: ./scripts/update-sdk.sh
  description: Update Go SDK
  language: script

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

test(e2e): cover frozen idempotency failures across restore
  tests/e2e/cluster/restore_idempotency_failure_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(cli): document shared adapters and integration validation
  cmd/ledgerctl/cli/shared_commands.go
  cmd/ledgerctl/cmdutil/pagination_prompt_test.go
  cmd/ledgerctl/cmdutil/pagination_prompt_unix_test.go
  docs/technical/architecture/subsystems/api/fctl-plugin.md
  misc/fctl-plugin/README.md
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(cli): record focused E2E results and cluster limitation
  docs/technical/architecture/subsystems/api/fctl-plugin.md
Due: none

docs(cli): record isolated Raft comparison
  docs/technical/architecture/subsystems/api/fctl-plugin.md
Due: none

fix(numscript): classify script execution failures as client errors (#2206)
  docs/ops/cli.md
  docs/technical/architecture/subsystems/admission/idempotency.md
  docs/technical/architecture/subsystems/api/grpc-api.md
  docs/technical/architecture/subsystems/api/protocol-compatibility.md
  docs/technical/architecture/subsystems/scripting/numscript-library.md
  docs/technical/contributing/api-comparison.md
  go.mod
  go.sum
  internal/application/admission/admission.go
  internal/application/admission/admission_test.go
  internal/application/admission/numscript_failure_provenance_test.go
  internal/domain/errors.go
  internal/domain/errors_test.go
  internal/domain/processing/numscript/errors.go
  internal/domain/processing/numscript/errors_test.go
  internal/domain/processing/numscript/vm.go
  internal/domain/processing/numscript/vm_test.go
  internal/domain/processing/processor_transaction_numscript.go
  internal/domain/processing/processor_transaction_numscript_vm_test.go
  internal/domain/reason.go
  internal/infra/backup/rebuild_test.go
  internal/infra/state/audit_failure_test.go
  internal/proto/commonpb/common.pb.go
  misc/proto/common.proto
  pkg/grpcprotocol/protocol.go
  tests/antithesis/workload/go.mod
  tests/antithesis/workload/go.sum
  tests/e2e/business/numscript_language_test.go
  tests/e2e/business/numscript_test.go
  tests/e2e/cluster/restore_idempotency_failure_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(dashboards): name the namespace in per-node legends
  misc/devenv/monitoring-dashboards/config/dashboards/ledger-metrics-otel-noprefix.json
  misc/devenv/monitoring-dashboards/config/dashboards/ledger-metrics-otel.json
  misc/devenv/monitoring-dashboards/config/dashboards/ledger-metrics-prom-noprefix-normalized-native.json
  misc/devenv/monitoring-dashboards/config/dashboards/ledger-metrics-prom-noprefix-normalized.json
  misc/devenv/monitoring-dashboards/config/dashboards/ledger-metrics-prom-noprefix.json
  misc/devenv/monitoring-dashboards/config/dashboards/ledger-metrics-prom-normalized-native.json
  misc/devenv/monitoring-dashboards/config/dashboards/ledger-metrics-prom-normalized.json
  misc/devenv/monitoring-dashboards/config/dashboards/ledger-metrics-prom.json
  misc/devenv/monitoring-dashboards/dashboard_test.go
  misc/devenv/monitoring-dashboards/jsonnet/sections/admission.libsonnet
  misc/devenv/monitoring-dashboards/jsonnet/sections/applier.libsonnet
  misc/devenv/monitoring-dashboards/jsonnet/sections/bloom.libsonnet
  misc/devenv/monitoring-dashboards/jsonnet/sections/caching.libsonnet
  misc/devenv/monitoring-dashboards/jsonnet/sections/controller.libsonnet
  misc/devenv/monitoring-dashboards/jsonnet/sections/index_builder.libsonnet
  misc/devenv/monitoring-dashboards/jsonnet/sections/pebble.libsonnet
  misc/devenv/monitoring-dashboards/jsonnet/sections/read_index.libsonnet
  misc/devenv/monitoring-dashboards/jsonnet/sections/ready_loop.libsonnet
  misc/devenv/monitoring-dashboards/jsonnet/sections/storage_disk.libsonnet
  misc/devenv/monitoring-dashboards/jsonnet/sections/system.libsonnet
  misc/devenv/monitoring-dashboards/jsonnet/sections/transport.libsonnet
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(ledger): align tagged failure fixtures
  internal/infra/state/antithesis_outcomes_test.go
  tests/antithesis/workload/go.mod
  tests/antithesis/workload/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(ledger): update structured failure fixtures
  internal/adapter/grpc/server_restore_test.go
  internal/adapter/http/handlers_bulk_test.go
  internal/application/check/checker.go
  internal/application/check/checker_audit_only_test.go
  internal/application/check/checker_tamper_test.go
  internal/application/events/clickhouse_data_test.go
  internal/application/events/event_test.go
  internal/domain/errors.go
  internal/domain/failure_facts.go
  internal/domain/processing/numscript/errors.go
  internal/domain/processing/numscript/vm.go
  internal/domain/validation.go
  internal/infra/state/audit_envelope_test.go
  internal/proto/auditpb/audit_json_test.go
  tests/antithesis/workload/bin/cmds/main/parallel_driver_reference_conflict_skip/main.go
  tests/antithesis/workload/bin/cmds/main/parallel_driver_reference_conflict_skip/main_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/replay_apply_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/skippable_integration_test.go
  tests/antithesis/workload/bin/cmds/model/singleton_driver_model/validate.go
  tests/e2e/business/audit_test.go
  tests/e2e/business/reference_test.go
  tests/oracle/skippable_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(ledger): assert structured skip facts in workload
  tests/antithesis/workload/bin/cmds/main/parallel_driver_reference_conflict_skip/main_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(ledger): assert structured replay outcomes
  internal/domain/failure_facts.go
  tests/e2e/business/idempotency_failure_test.go
  tests/e2e/business/numscript_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(fctl): co-release product-owned Ledger plugin
  .github/workflows/main.yml
  .github/workflows/release.yml
  .goreleaser.yml
  docs/ops/cli.md
  docs/technical/architecture/subsystems/api/README.md
  docs/technical/architecture/subsystems/api/fctl-plugin.md
  docs/technical/contributing/getting-started.md
  fctl-plugin/.goreleaser.yml
  fctl-plugin/README.md
  fctl-plugin/cmd/fctl-plugin-catalogue/main.go
  fctl-plugin/cmd/fctl-plugin-ledger/executable_test.go
  fctl-plugin/cmd/fctl-plugin-ledger/main.go
  fctl-plugin/cmd/fctl-plugin-ledger/main_test.go
  fctl-plugin/cmd/fctl-plugin-publish/main.go
  fctl-plugin/contract_test.go
  fctl-plugin/go.mod
  fctl-plugin/go.sum
  fctl-plugin/interaction.go
  fctl-plugin/interaction_test.go
  fctl-plugin/internal/catalogue/publish.go
  fctl-plugin/internal/catalogue/publish_it_test.go
  fctl-plugin/internal/catalogue/publish_test.go
  fctl-plugin/internal/catalogue/release.go
  fctl-plugin/internal/catalogue/release_test.go
  fctl-plugin/manifest.go
  fctl-plugin/pagination_test.go
  fctl-plugin/plugin.go
  fctl-plugin/plugin_test.go
  fctl-plugin/request.go
  fctl-plugin/test_request_test.go
  fctl-plugin/version_test.go
  flake.nix
  justfile
  scripts/agent-check
  scripts/agent-check-pr
  scripts/agentcheckpr/selector_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore(ledger): regenerate protocol with pinned toolchain
  internal/proto/auditpb/audit.pb.go
  internal/proto/auditpb/audit_vtproto.pb.go
  internal/proto/commonpb/common.pb.go
  internal/proto/commonpb/common_vtproto.pb.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(fctl-plugin): shorten temporary paths for macOS IPC tests
  justfile
  misc/fctl-plugin/README.md
Due: none

docs(ledger): scope revision 29 upgrade path
  docs/ops/deployment.md
  docs/technical/architecture/subsystems/fsm/coverage-gate.md
Due: none

test(ledger): compare structured restored failures
  tests/e2e/cluster/restore_idempotency_failure_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs(openapi): replace stale play.numscript url example on error details field (fixes #1746)
  docs/api/README.md
  openapi.yaml
  openapi/v1.yaml
  openapi/v2.yaml
  pkg/client/docs/models/components/errorresponse.md
  pkg/client/docs/models/components/scriptresponse.md
  pkg/client/docs/models/components/v2errorresponse.md
  pkg/client/docs/models/sdkerrors/errorresponse.md
  pkg/client/docs/models/sdkerrors/v2errorresponse.md
Due: gosdk

fix(serve): default max-page-size to 1000 to match OpenAPI spec (#1745)
  cmd/serve.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(api): align internal MaxPageSize defaults to 1000, add serve test, and document clamp
  cmd/serve_test.go
  docs/api/README.md
  internal/api/router.go
  internal/api/v2/controllers_accounts_list_test.go
  internal/api/v2/controllers_queries_run_test.go
  internal/api/v2/controllers_transactions_list_test.go
  internal/api/v2/routes.go
  openapi.yaml
  openapi/v2.yaml
Due: gosdk, gofmt, goimports, gomodtidy, golangci-lint, gotests

Path conditions:
  gosdk: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
